

<nav class="actionGroup-options" >
<input type="checkbox" checked="false" id="actionGroup-languages-checkbox" class="actionGroup-checkbox" >

<label class="actionGroup-action" for="actionGroup-languages-checkbox">Seleccione idiomas {{>svgIcon type='caretDown' class='actionGroup-icon'}}</label>
<fieldset class="actionGroup-panel actionGroup-panel--full" >
    <header class="actionGroup-header">
        <h2 class="actionGroup-title">Escoja uno o más idiomas para poder descargar sus archivos:</h2>
    </header>
    <section class="actionGroup-body" >
        {{> csvLanglist }}
    </section>
</fieldset>



</nav>
<nav class="actionGroup-options">
<input type="checkbox" checked="false" id="actionGroup-families-checkbox" class="actionGroup-checkbox" >

<label class="actionGroup-action" for="actionGroup-families-checkbox">Seleccione familias {{>svgIcon type='caretDown' class='actionGroup-icon'}}</label>
<fieldset class="actionGroup-panel">
    <header class="actionGroup-header">
        <h2 class="actionGroup-title">Escoja una o más familias para poder descargar sus archivos:</h2>

    </header>
    <section class="actionGroup-body" >

        <ul class="langlist langlist--col3">
            <li class="langlist-item">
                <input id="hogar" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Hogar y jardín" for="hogar" class="langlist-label">Hogar y jardín</label>
            </li>
             <li class="langlist-item">
                <input id="cocina" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Cocina y gourmet" for="cocina" class="langlist-label">Cocina y gourmet</label>
            </li>
             <li class="langlist-item">
                <input id="ocio" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Ocio y tiempo libre" for="ocio" class="langlist-label">Ocio y tiempo libre</label>
            </li>
             <li class="langlist-item">
                <input id="deportes" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Deportes y fitness" for="deportes" class="langlist-label">Deportes y fitness</label>
            </li>
             <li class="langlist-item">
                <input id="salud" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Salud y belleza<" for="salud" class="langlist-label">Salud y belleza</label>
            </li>
             <li class="langlist-item">
                <input id="perfumeria" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Perfumería y cosmética" for="perfumeria" class="langlist-label">Perfumería y cosmética</label>
            </li>
             <li class="langlist-item">
                <input id="moda" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Moda y complementos" for="moda" class="langlist-label">Moda y complementos</label>
            </li>
             <li class="langlist-item">
                <input id="juguetes" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Juguetes y bebés</" for="juguetes" class="langlist-label">Juguetes y bebés</label>

            </li>
            <li class="langlist-item">
                <input id="informatica" class="form-checkbox form-checkbox--inline" type="checkbox" />
                <label title="Informática y electrónica" for="informatica" class="langlist-label">Informática y electrónica</label>


            </li>
        </ul>

    </section>

</fieldset>
</nav>
<button class="button button--primary  button--narrow actionGroup-button" >Descargar archivos</button>