<form action="" class="form">
    <div class="modularGrid">
        <div class="modularGrid-module u-md-50">
            <fieldset class="form-fieldset form-fieldset--borderless panel-item">
                <div class="form-fieldset-title">Dirección de envío</div>
                <div class="modularGrid">
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Nombre</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="Roberto Lucha Sedeño" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Empresa</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="BigBuy" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Dirección</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <textarea type="text" value="" rows="2" class="form-textarea" readonly>
                            c/ Solar Navarro, 13 
                            Alaquàs, Valencia, 49501 
                        </textarea>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40 ">
                        <label for="" class="form-label form-label--inline">País</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="España" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Teléfono</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="682 88 54 75" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Nº identificación fiscal</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="29205548W" class="form-input" readonly>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--borderless panel-item">
                <div class="form-fieldset-title">Dirección de facturación</div>
                <div class="modularGrid">
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Nombre</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="Roberto Lucha Sedeño" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Empresa</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="BigBuy" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Dirección</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <textarea type="text" value="" rows="2" class="form-textarea" readonly>
                            c/ Solar Navarro, 13 
                            Alaquàs, Valencia, 49501 
                        </textarea>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">País</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="España" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Teléfono</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="682 88 54 75" class="form-input" readonly>
                    </div>                                    
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Nº identificación fiscal</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="29205548W" class="form-input" readonly>
                    </div>
                </div>
            </fieldset>                            
        </div>
        <div class="modularGrid-module u-md-50 u-pdl">
            <fieldset class="form-fieldset form-fieldset--borderless panel-item">
                <div class="form-fieldset-title">Método de envío</div>
                <div class="modularGrid">
                    <div class="modularGrid-module">
                        <input type="text" value="Recogida en almacén" class="form-input" readonly>
                    </div>                                    
                </div>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--borderless panel-item">
                <div class="form-fieldset-title">Método de pago</div>
                <div class="modularGrid">
                    <div class="modularGrid-module">
                        <label class="form-label">Transferencia bancaria</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-textarea" readonly>
                            Concepto: Pedido Num. XXXXX
                            La Caixa | NºCuenta: 2100 5955 78 0200045154
                            IBAN: ES1521005955780200045154 | BIC/SWIFT: CAIXESBBXXX
                        </textarea>
                    </div>                                    
                </div>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--borderless panel-item">
                <div class="form-fieldset-title">Información adicional</div>
                <div class="modularGrid">
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Dropshipping</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="No" class="form-input" readonly>
                    </div>                               
                    <div class="modularGrid-module u-sm-40">
                        <label for="" class="form-label form-label--inline">Reembolso</label>
                    </div>
                    <div class="modularGrid-module u-sm-60">
                        <input type="text" value="No" class="form-input" readonly>
                    </div>                               
                </div>
            </fieldset>  
        </div>
    </div>
</form>