
  <section class="panel-section panel-section--borderless">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-45  u-pd ">
        <h3 class="form-fieldset-title u-pdb--half">Descargar extracto</h3>
        <p>Descargue un extracto de los movimientos de su monedero.</p>
        <button class="button button--primary u-mgt"> Descargar extracto</button>
      </div>
    </div>
  </section>



