<table class="table">
    <tr class="panel-section-filters">
        <th class="table-th table-item table-item--handler">
            <i class="icon icon-placeholder fa-fw"></i>
        </th>
        <th class="table-th table-item table-item--number u-xs-5">
            <input class="form-input form-input--collapse" type="text" placeholder="Nº pedido">
        </th>
        <th class="table-th table-item u-xs-20">
            <input class="form-input form-input--collapse" placeholder="Fecha">
        </th>
        <th class="table-th table-item table-item--number u-xs-10">
            <input class="form-input form-input--collapse" type="text" placeholder="Ref. interna">
        </th>
        <th class="table-th table-item u-xs-40">
            <input class="form-input form-input--collapse" type="text" placeholder="Destinatario">
        </th>
        <th class="table-th table-item table-item--number u-xs-5">
            <input class="form-input form-input--collapse" type="text" placeholder="Importe">
        </th>
        <th class="table-th table-item table-item--boolean u-xs-5">
            <select name="" id="" class="form-select form-select--collapse">
                <option value="">RDO</option>
            </select>
        </th>
        <th class="table-th table-item u-xs-10">
            <select name="" id="" class="form-select form-select--collapse">
                <option value="">Estado</option>
            </select>
        </th>
        <th class="table-th table-item u-xs-10">
            <select name="" id="" class="form-select form-select--collapse">
                <option value="">Forma de pago</option>
            </select>
        </th>
        <th class="table-th table-item u-xs-10">
            <select name="" id="" class="form-select form-select--collapse">
                <option value="">Transportista</option>
            </select>
        </th>
    </tr>
</table>