<div class="panel panel--secondary panel--inactive" data-js-panel-name="panel02" data-js-panel-state="inactive">
    <div class="panel-title">
        <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-wallet"></use></svg>
        <div class="panel-titleName">
            <a href="" class="panel-breadcrumbLink">Monedero</a> / Transferir o Retirar fondos
        </div>
    </div>
    <aside class="panel-content panel-content--contrast">
        <div class="modularGrid">
            <div class="modularGrid-module u-lg-30">
                <section class="panel-section">
                    <h2 class="panel-section-title">Retirar fondos de su monedero</h2>
                    <form  class="form">
                        <fieldset class="form-fieldset form-fieldset--borderless u-pd">
                            <div class="modularGrid">
                                <div class="modularGrid-module  u-md-50">
                                    <label class="form-label">Importe:<em class="form-label--optional">Ejemplo: 7000 €</em></label>
                                    <input type="text" class="form-input form-input--postfix form-input--number">
                                    <span class="form-postfix">€</span>
                                </div>
                                <div class="modularGrid-module  u-md-85">
                                    <label class="form-label">Modalidad:<em class="form-label--optional">¿Cómo desea recibir el dinero?</em></label>
                                    <select name="" id="" class="form-select">
                                        <option value="">Transferencia Bancaria</option>
                                        <option value="">Cheque</option>
                                    </select>
                                </div>
                                <div class="modularGrid-module ">
                                    <label class="form-label">Cuenta Bancaria:<em class="form-label--optional">Indique IBAN / Cuenta Bancaria para el reembolso</em></label>
                                    <input type="text" class="form-input ">
                                </div>
                                <div class="modularGrid-module ">
                                    <button class="button button--big button--primary u-mgt--half">Enviar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
            <div class="modularGrid-module u-lg-40">
                <section class="panel-section">
                    <h2 class="panel-section-title">Transferir dinero al monedero</h2>
                    <div class="modularGrid  u-pd">
                        <div class="modularGrid-module u-md-30">
                           Importe mínimo:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>300€</strong>
                        </div>
                        <div class="modularGrid-module u-md-30">
                           Banco y nº de cuenta:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>La Caixa 12345 1234 1234 300300</strong>
                        </div>
                        <div class="modularGrid-module u-md-30">
                           IBAN:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>12345 1234 1234 300300 | 12345 1234 1234 300300</strong>
                        </div>
                        <div class="modularGrid-module u-md-30">
                           Concepto:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>Monedero / Su Email</strong>
                        </div>
                        <div class="modularGrid-module">
                            <p class="u-mgt">
                                Aváncenos justificante a <a href="mailto:admin@bigbuy.eu">admin@bigbuy.eu</a>, e ingresaremos el dinero en su monedero. Recuerde que las compras por monedero están exentas de gastos de forma de pago
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </aside>
    {{>backButton datapanel='toggletab'}}

</div>

