
{{>tableLongWalletHeader}}
<table class="table tablelWalletContent">
      <colgroup>
        <col style="width:10%;">
        <col style="width:21%;">
        <col style="width:10%;">
        <col style="width:15%;">
        <col style="width:10%;">
        <col style="width:12%;">
        <col style="width:12%;">
    </colgroup>
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
    </tbody>
</table>