<!-- expressCart Row -->
<tr class="table-tr">
    <td class="table-item">10000005</td>
    <td class="table-item"> 04/04/2014 </td>
    <td class="table-item">05:55:24</td>
    <td class="table-item">Retirada</td>
    <td class="table-item table-item--number">2.270,21 €</td>
    <td class="table-item table-item--number">41.408,60 €</td>
    <td class="table-item table-item--number">41.356,79 €</td>
</tr>
