<!-- expressCart Row -->
<tr class="table-tr">
    <td class="table-item">10000000</td>
    <td class="table-item">04/04/2014</td>
    <td class="table-item">12:36:56</td>
    <td class="table-item">Ingreso</td>
    <td class="table-item table-item--numberNegative">- 82,25 €</td>
    <td class="table-item table-item--number">44.838,20 €</td>
    <td class="table-item table-item--number">44.703,44 €</td>
</tr>
