<div class="modularGrid">
   <div class="modularGrid-module u-xl-30 u-pdr">
    <h2 class="subtitle2">¿A quién le interesa?</h2>
    <p class="u-op-60  u-pdv--half u-pdr">Para clientes que quieren desarrollar su propia tienda online, pero quieren una solución integral para sincronizar BigBuy a cualquier software ecommerce en apenas unos clics.<br> Se trata de una plataforma que centraliza, gestiona y sincroniza todas las necesidades de su tienda dropshipping 360º y shopping engines.<br> Estos clientes necesitan comprar unidades sueltas a precio mayorista PVD y el <a href="#" class="link">servicio dropshipping</a>.</p>
  </div>
  <div class="modularGrid-module u-xl-70 u-xl-pdl">       
    <div class="modularGrid  modularGrid--equalHeights u-flwrap u-pdt--half">
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.b2b1 advice=packsMayoristasData.b2badvice2 disabled='disabled'}}
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.dropship1 advice=packsMayoristasData.b2badvice2 disabled='disabled'}}        
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.enterprise1 message=packsMayoristasData.enterprisemsg2}}
      </div>
    
    </div>
  </div>
</div>









