<div class="modularGrid">
   <div class="modularGrid-module u-xl-30 u-pdr">
    <h2 class="subtitle2">¿A quién le interesa?</h2>
 <p class="u-op-60 u-pdv--half u-pdr">Para clientes que necesitan comprar al por mayor de forma esporádica cierta cantidad de uno o varios artículos. Regalos para eventos, regalos para fiestas, regalos boda, regalos comunión, regalos bautizo, etc.</p>
  </div>
  <div class="modularGrid-module u-xl-70 u-xl-pdl">       
    <div class="modularGrid  modularGrid--equalHeights u-flwrap u-pdt--half">
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
       {{>packBB packsMayoristasData.nopack user='true' message=packsMayoristasData.nopackmsg}}     
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd">
        {{>packBB packsMayoristasData.b2b1 message=packsMayoristasData.b2bmsg1}}   
      </div>
     
    
    </div>
  </div>
</div>




