<div class="modularGrid">
   <div class="modularGrid-module u-xl-30 u-pdr">
    <h2 class="subtitle2">¿A quién le interesa?</h2>
  <p class="u-op-60 u-pdv--half u-pdr">Para aquellos clientes que compran al por mayor para almacenar y luego revender, como comercios tradicionales, distribuidores o almacenistas, empresas de regalo promocional, venta directa... Necesitan comprar tanto grandes cantidades como también unidades sueltas a precio mayorista PVD.</p>
  </div>
  <div class="modularGrid-module u-xl-70 u-xl-pdl">       
    <div class="modularGrid  modularGrid--equalHeights u-flwrap u-pdt--half">
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
       {{>packBB packsMayoristasData.b2b1 message=packsMayoristasData.b2bmsg1}}     
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd">
        {{>packBB packsMayoristasData.dropship1 message=packsMayoristasData.dropshipmsg1}}        
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.enterprise1 message=packsMayoristasData.enterprisemsg1}}
      </div>
    
    </div>
  </div>
</div>




