<header class="mobileTabs-itemHeader mobileTabs-itemHeader--custom{{#if selected}} mobileTabs-itemHeader--selected{{/if}}" data-js-accordion="link">{{>svgIcon type=icon size='lg' class='u-pd--half u-op-40'}}   
<h4 class="title u-mgb--0 u-pdh--half u-op-60 u-tal">{{title}}</h4>
<p class="subtitle6 u-op-60 u-pd--half">{{{text}}}</p>   
</header>

