<div class="modularGrid">
   <div class="modularGrid-module u-xl-30 u-pdr">
    <h2 class="subtitle2">¿A quién le interesa?</h2>
   <p class="u-op-60 u-pdv--half u-pdr">Para negocios que venden en el canal online, pero compran de forma tradicional al por mayor, haciendo un envío único a su almacén, logística o FBA.
Podrán comprar tanto grandes cantidades como unidades sueltas a precio mayorista PVD.</p>
  </div>
  <div class="modularGrid-module u-xl-70 u-xl-pdl">       
    <div class="modularGrid  modularGrid--equalHeights u-flwrap u-pdt--half">
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
       {{>packBB packsMayoristasData.b2b2 message=packsMayoristasData.b2bmsg1}}     
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd">
        {{>packBB packsMayoristasData.dropship1 message=packsMayoristasData.dropshipmsg1}}        
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.enterprise1 message=packsMayoristasData.enterprisemsg1}}
      </div>
    
    </div>
  </div>
</div>




