<div class="modularGrid">
   <div class="modularGrid-module u-xl-30 u-pdr">
    <h2 class="subtitle2">¿A quién le interesa?</h2>
   <p class="u-op-60 u-pdv--half u-pdr">Para tiendas online de compra colectiva, que necesitan nuestro exclusivo servicio de <a href="#" class="link">Bloqueo de stock</a> por 7 días. Son clientes que en ocasiones necesitan comprar unidades sueltas a precio mayorista PVD. Le interesa tanto a los que agrupan pedidos en un solo envío, como a los que necesitan nuestro <a href="#" class="link">servicio dropshipping</a>.</p>
  </div>
  <div class="modularGrid-module u-xl-70 u-xl-pdl">       
    <div class="modularGrid  modularGrid--equalHeights u-flwrap u-pdt--half">
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
       {{>packBB packsMayoristasData.b2b1 message=packsMayoristasData.b2bmsg1}}     
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd">
        {{>packBB packsMayoristasData.dropship1 message=packsMayoristasData.dropshipmsg1}}        
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.enterprise1 advice=packsMayoristasData.enterpriseadvice1}}
      </div>
    
    </div>
  </div>
</div>




