
<aside class="mobileTabs u-bg--white" data-js-accordion_selected_class="mobileTabs-itemHeader--selected"  data-js-accordion="accordion">
    <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[0] index='0'}}
        <section class="mobileTabs-itemContent">
            {{>contentTab0}}
        </section> 
    </article> 
   <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[1] index='1'}}
        <section class="mobileTabs-itemContent">
            {{>contentTab1}}
        </section> 
    </article> 
    <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[2] index='2'}}
        <section class="mobileTabs-itemContent">
            {{>contentTab2}}
        </section> 
    </article>
   <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[3] index='3'}}
        <section class="mobileTabs-itemContent">
           {{>contentTab3}}
        </section> 
    </article> 
    <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[4] index='4'}}
        <section class="mobileTabs-itemContent">
           {{>contentTab4}}
        </section> 
    </article> 
    <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[5] index='5'}}
        <section class="mobileTabs-itemContent">
          {{>contentTab5}}
        </section> 
    </article>  
    <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[6] index='6'}}
        <section class="mobileTabs-itemContent">
           {{>contentTab6}}
        </section> 
    </article> 
    <article class="mobileTabs-item u-brb" >
        {{> contentSectionTabHeader list.[7] index='7'}}
        <section class="mobileTabs-itemContent">
          {{>contentTab7}} 
        </section> 
    </article>  
</aside> 


