
<section class="pricePanel pricePanel--midsize">
<div class="pricePanel-header">
    {{>svgIcon type='pack' size='sm' class='icon--b2b'}}
    <span class="pack pack--b2b pack--big"><span class="u-op-50">Pack</span> b2b</span>
</div>
{{#if advice}}
<div class="sectiongrey">{{{advice}}}</div>
{{/if}}
<h4 class="subtitle4 u-mgv--half">Incluye:</h4>
<ul class="list list--line u-op-70 u-pdb u-pdh--half">
    
   <li class="list-item">Unidades sueltas a precio mayorista PVD</li>
   
   <li class="list-item">Descuento automático hasta el 10% del PVD</li>
   
   <li class="list-item">Hasta 3 envíos dropshipping al mes</li>
   
   <li class="list-item">Bloqueo de stock por 7 días</li>
   
   <li class="list-item">Descarga de trackings</li>
   
   <li class="list-item">Pedido mínimo 1,50 €</li>
   
</ul>
</section>
          



