<section class="pricePanel pricePanel--midsize">
    <div class="pricePanel-header pricePanel-header--basic">
        <img src="../../img/mobileIcons/packBusiness.svg" class="icon  icon--sm">
        <span class="pack pack--business pack--big ">Pack Business</span>
    </div>
    <h4 class="mobileText-paragraphTitle">Incluye Pack Pro y además:</h4>
    <ul class="pricePanel-itemList">
        <li class="pricePanel-item">Catálogo en 23 idiomas europeos</li>
       
    </ul>
</section>


