<section class="pricePanel pricePanel--midsize">
    <div class="pricePanel-header pricePanel-header--basic">
        <img src="../../img/mobileIcons/packPremium.svg" class="icon  icon--sm">
        <span class="pack pack--premium pack--big ">Pack Premium</span>
    </div>
    <h4 class="mobileText-paragraphTitle">Incluye Pack Business y además:</h4>
    <ul class="pricePanel-itemList">
        <li class="pricePanel-item">Sincronización automática pedidos</li>
        <li class="pricePanel-item">Rappel anual 1%</li>
    </ul>
</section>


