<section class="pricePanel pricePanel--midsize">
    <div class="pricePanel-header pricePanel-header--basic">
        <img src="../../img/mobileIcons/packPro.svg" class="icon  icon--sm">
        <span class="pack pack--pro pack--big ">Pack Pro</span>
    </div>
    <h4 class="mobileText-paragraphTitle">Incluye Pack Basic y además:</h4>
    <ul class="pricePanel-itemList">
        <li class="pricePanel-item">Envíos Dropshipping ilimitados (a toda Europa)</li>
        <li class="pricePanel-item">Catálogo productos Bigbuy en archivos CSV/XML</li>
        <li class="pricePanel-item">Catálogo en 1 de los 23 idiomas europeos</li>
        <li class="pricePanel-item">Descarga de material para marketing online</li>
        
    </ul>
</section>


