<section class="pricePanel pricePanel--big">
    <div class="pricePanel-header">
        <img class="pricePanel-icon" src="../../img/mobileIcons/packBasic.svg">
        <span class="pack pack--basic pack--medium">Pack Basic</span>
    </div>
    <p>Cuota de alta 45€</p>
    <label class="form-label u-pdt--half u-pdb--half">Sin cuota mensual</label>
    <button class="button button--primary button--condensed">Activar</button>
</section>
