<section class="pricePanel pricePanel--big">
    <div class="pricePanel-header">
        <img class="pricePanel-icon" src="../../img/mobileIcons/packPremium.svg">
        <span class="pack pack--premium pack--medium">Pack Premium</span>
    </div>
     <label class="form-label" for="propack_sel">Cuota de alta 45€</label>
     <div class="modularGrid">
         <div class="modularGrid-module u-sm-60">
         <select  id="propack_sel" class="form-select   form-select--condensed">
                <option value="2">Mensual 15€</option>
                <option value="3">Semestral 75€ (Ahorro 1 mes)</option>
                <option value="4">Anual 135€ (Ahorro 3 meses)</option>
            </select>
         </div>
     </div>
    <button class="button button--primary button--condensed">Activar</button>
</section>