<section class="mobileCMS-section--adjust">
        <div class="modularGrid-module u-pdv">
            {{>contentSectionTabs  wholesalerPacksTabs packsMayoristasData=packsMayoristasData}}            
        </div>
</section>







