<nav class="nav nav--bigger content--light u-mgb1">
<label for="brandlist_09" class="nav-item" title="Marcas por 0-9" data-js-uitab="button" data-state="selected">0-9</label>
<label for="brandlist_A" class="nav-item" title="Marcas por A" data-js-uitab="button">A</label>
<label for="brandlist_B" class="nav-item" title="Marcas por B" data-js-uitab="button">B</label>
<label for="brandlist_C" class="nav-item" title="Marcas por C" data-js-uitab="button">C</label>
<label for="brandlist_D" class="nav-item" title="Marcas por D" data-js-uitab="button">D</label>
<label for="brandlist_E" class="nav-item" title="Marcas por E" data-js-uitab="button">E</label>
<label for="brandlist_F" class="nav-item" title="Marcas por F" data-js-uitab="button">F</label>
<label for="brandlist_G" class="nav-item" title="Marcas por G" data-js-uitab="button">G</label>
<label for="brandlist_H" class="nav-item" title="Marcas por H" data-js-uitab="button">H</label>
<label for="brandlist_I" class="nav-item" title="Marcas por I" data-js-uitab="button">I</label>
<label for="brandlist_J" class="nav-item" title="Marcas por J" data-js-uitab="button">J</label>
<label for="brandlist_K" class="nav-item" title="Marcas por K" data-js-uitab="button">K</label>
<label for="brandlist_L" class="nav-item" title="Marcas por L" data-js-uitab="button">L</label>
<label for="brandlist_M" class="nav-item" title="Marcas por M" data-js-uitab="button">M</label>
<label for="brandlist_N" class="nav-item" title="Marcas por N" data-js-uitab="button">N</label>
<label for="brandlist_O" class="nav-item" title="Marcas por O" data-js-uitab="button">O</label>
<label for="brandlist_P" class="nav-item" title="Marcas por P" data-js-uitab="button">P</label>
<label for="brandlist_Q" class="nav-item" title="Marcas por Q" data-js-uitab="button">Q</label>
<label for="brandlist_R" class="nav-item" title="Marcas por R" data-js-uitab="button">R</label>
<label for="brandlist_S" class="nav-item" title="Marcas por S" data-js-uitab="button">S</label>
<label for="brandlist_T" class="nav-item" title="Marcas por T" data-js-uitab="button">T</label>
<label for="brandlist_U" class="nav-item" title="Marcas por U" data-js-uitab="button">U</label>
<label for="brandlist_V" class="nav-item" title="Marcas por V" data-js-uitab="button">V</label>
<label for="brandlist_W" class="nav-item" title="Marcas por W" data-js-uitab="button">W</label>
<label for="brandlist_X" class="nav-item" title="Marcas por X" data-js-uitab="button" disabled >X</label>
<label for="brandlist_Y" class="nav-item" title="Marcas por Y" data-js-uitab="button">Y</label>
<label for="brandlist_Z" class="nav-item" title="Marcas por Z" data-js-uitab="button">Z</label>
</nav>






