{{> homeFeaturedBrands brandsMenu.menu}}
<input type="radio" name="homebrands" id="homebrands_01" data-js-uitab="radio" class="inputToggle" checked>
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_02" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands2}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_03" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands3}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_04" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_05" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands2}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_06" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands3}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_07" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_08" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands2}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>
<input type="radio" name="homebrands" id="homebrands_09" data-js-uitab="radio" class="inputToggle">
<div class="tabs-contentPanel u-tac" data-js-uitab="panel">
    {{> brandList brandList.brands3}}
    {{#if home}}{{> homeBrandsButton}}{{/if}}
</div>

