---
title: E Awards 2016

---

<div class="modularGrid modularGrid--boxed u-pdb">
    <div class="box">



        <div class="modularGrid-module mobileCMS-header">
            <h1 class="mobileCMS-title">¡SOMOS FINALISTAS!</h1>
            <h2 class="mobileCMS-subtitle">Necesitamos tu voto para ganar</h2>
            <img class="img img--responsive mobileCMS-bigPicture" alt="" src="../../img/mobile_eawards_es1.jpg">
        </div>


        <div class="modularGrid-module">
            <section class="mobileCMS-section">
                <div class="modularGrid u-tac">
                    <div class="modularGrid-module  u-lg-60 u-xs-90 u-tal">
                        <h4 class="mobileCMS-sectionTitle">Para votarnos sigue estos pasos</h4>
                        <div class="mobileText-blockText ">

                            <ul class="mobileText-numberList  mobileText-numberList--tiny u-pdt--half">
                                <li>Entra en la página <a class="mobileAwards-link" href="www.the-awards.com" target="_blank">www.the-awards.com</a> haciendo clic en el enlace</li>
                                <li>Rellena un breve formulario para registrarte</li>
                                <li>Recibirás un email de confirmación, deberás hacer clic en el enlace para activar tu cuenta</li>
                            </ul>
                            <p><strong>¡Y ya nos puedes votar!</strong></p>
                            <h5 class="mobileText-paragraphTitle u-pdt">Danos tu valoración en los premios:</h5>
                            <ul class="mobileText-listBullet  mobileText-listBullet--tiny">
                                <li><a class="mobileAwards-link" href="http://www.the-eawards.com/barcelona16/categorias/mejor-ecommerce-internacional/item/177-bigbuy-eu#review-box" target="_blank">Mejor eCommerce Internacional</a></li>
                                <li><a class="mobileAwards-link" href="http://www.the-eawards.com/barcelona16/categorias/mejor-ecommerce-de-innovacion/item/93-bigbuy#review-box" target="_blank">Mejor eCommerce de Innovación</a></li>
                            </ul>
                        </div>
                        <em>IMPORTANTE: La página web de los eAwards no está optimizada para votar desde el móvil</em>



                    </div>

                </div>
                <div class="modularGrid u-pd">

                <img class="img mobileAwards-gif" alt="" src="../../img/bigbuy-premios-eawards-2016-03.gif">
                </div>


            </section>
        </div>
    </div>
</div>
