---
title: E Awards 2016

---

<div class="modularGrid modularGrid--boxed u-pdb">
    <div class="box">



        <div class="modularGrid-module mobileCMS-header">
            <h1 class="mobileCMS-title">¡WE ARE FINALISTS!</h1>
            <h2 class="mobileCMS-subtitle">We need your vote to win</h2>
            <img class="img img--responsive mobileCMS-bigPicture" alt="" src="../../img/mobile_eawards_en1.jpg">
        </div>


        <div class="modularGrid-module">
            <section class="mobileCMS-section">
                <div class="modularGrid u-tac">
                    <div class="modularGrid-module  u-lg-60 u-xs-90 u-tal">
                        <h4 class="mobileCMS-sectionTitle">To vote for us, please folow these steps:</h4>
                        <div class="mobileText-blockText ">

                            <ul class="mobileText-numberList  mobileText-numberList--tiny u-pdt--half">
                                <li>Go to <a class="mobileAwards-link" href="www.the-awards.com" target="_blank">www.the-awards.com</a> by clicking on the link.</li>
                                <li>Fill in the short registration form.</li>
                                <li>You will receive a confirmation email and need to click on the link to activate your account.</li>
                            </ul>
                            <p><strong>Now can vote for us!</strong></p>
                            <h5 class="mobileText-paragraphTitle u-pdt">Give us your score for the awards:</h5>
                            <ul class="mobileText-listBullet  mobileText-listBullet--tiny">
                                <li><a class="mobileAwards-link" href="http://www.the-eawards.com/barcelona16/categorias/mejor-ecommerce-internacional/item/177-bigbuy-eu#review-box" target="_blank">Best International eCommerce <em>(Mejor eCommerce Internacional)</em></a></li>
                                <li><a class="mobileAwards-link" href="http://www.the-eawards.com/barcelona16/categorias/mejor-ecommerce-de-innovacion/item/93-bigbuy#review-box" target="_blank">Best Innovative eCommerce <em>(Mejor eCommerce de Innovación)</em></a></li>
                            </ul>
                        </div>
                         <em>IMPORTANT: The eAwards website is not optimised to vote from a mobile</em>



                    </div>

                </div>
                <div class="modularGrid u-pd">

                <img class="img mobileAwards-gif" alt="" src="../../img/bigbuy-premios-eawards-2016-03.gif">
                </div>


            </section>
        </div>
    </div>
</div>
