---
title: B2B - Venta al por mayor
layout: mobile/layouts/clean.hbs
breadcrumbs: B2B - Venta al por mayor
---
<div class="modularGrid modularGrid--boxed u-pdb">
  <div class="box">
    {{>headerB2B}}
    {{>featuresB2B}}
    {{>explainsB2B}}
    {{>packsList}}
    {{> mobileFeaturesList mobileFeaturesList.footerFeatures}}
    {{>helpCenter helpAccordion.b2b}}
  </div>
</div>
