---
title: Bloqueo de stocks
breadcrumbs: Bloqueo de stocks
layout: mobile/layouts/clean.hbs
---
<div class="modularGrid modularGrid--boxed u-pdb">
  <div class="box">
    {{>headerBloqueos}}
    {{>featuresBloqueos}}
    {{> mobileFeaturesList mobileFeaturesList.footerFeatures}}
    {{>helpCenter helpAccordion.bloqueoStocks}}
  </div>
</div>

