<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="mobileNavBar mobileNavBar--news" >
            <div class="modularGrid modularGrid--boxed">
                <div class="modularGrid-module">
                    <h2 class="mobileNavBar-title">Configuración</h2>
                </div>
            </div>
        </div>
        <div class="modularGrid modularGrid--boxed">
            <div class="modularGrid-module mobileContent">
                Content here
            </div>
        </div>
    </div>
</div>