---
layout: mobile/layouts/clean.hbs
title: Su cuenta ha sido creada
breadcrumbs: Cuenta creada
---
<div class="modularGrid modularGrid--boxed ">
    <section class="modularGrid-module box u-pd2 u-mgb2">
        {{>cuentaok_header}}
        {{>cuentaok_packs}}
        <div class="modularGrid-module u-content-center u-flwrap u-pdt">   
            <a class="u-block link u-pdr2 u-pdv" href="#">Ahora no, seguir navegando</a>  
            <button class="button button--big button--ghost">           
                +info Packs Mayoristas
            </button>
        </div>
    </section>
</div>

