---
title: Tienda dropshipping
breadcrumbs: Tienda dropshipping 
layout: mobile/layouts/clean.hbs
---
<div class="modularGrid modularGrid--boxed u-pdb">
  <div class="box">
    {{>headerDropshippingStore}}
    <div class="modularGrid-module">
      <aside class="mobileCMS-section mobileCMS-section--inverse ">
        <h4 class="mobileCMS-slogan">¡Su negocio llave en mano!
          <img class="icon icon--inline mobileCMS-sloganIcon" src="../../img/mobileIcons/keys.svg">
        </h4>
      </aside>
    </div>
    <div class="modularGrid-module">
      <h4 class="mobileCMS-slogan mobileCMS-slogan--big">Le ofrecemos una Tienda Online de Regalos Originales</h4>
      <div class="modularGrid u-pd--third">
       {{> dropshippingStoreSliders }}
     </div>

   </div>
   <!--<div class="modularGrid-module u-pdr u-pdl  u-mgt u-mgb u-elem-center u-xl-80">
    <img class="img--responsive u-md-80 u-elem-center" alt="" src="../../img/promo-dropshipping.png">
  </div>-->
  {{>promoDiscountWallet}}
  <div class="modularGrid-module">
    {{>featuresDropshippingStore}}
  </div>
  <div class="modularGrid-module  u-brdt  u-brb">
    <aside class="mobileCMS-section  mobileCMS-section--colorized ">
    {{!--  <a href="../../img/mobileIcons/fullWidth.svg" class="button button--condensed button--tinyIcon button--borderless u-flr">
          <img class="icon icon--md" alt="" src="../../img/mobileIcons/fullWidth.svg">
        </a>  --}}
      <h4 class="mobileCMS-sectionTitle">
        ¿Cómo funciona la tienda Dropshipping?

      </h4>
      <div class="modularGrid-module">
              <a href="../../img/dropshipping_big.png">
              <img class="img--responsive u-elem-center u-md-80 u-mgt" alt="" src="../../img/dropshipping_big.png">
            </a>
            <a href="../../img/dropshipping_big.png" class="button button-fullWidth u-flr">
            </a>
      </div>
    </aside>
  </div>
  {{> mobileFeaturesList mobileFeaturesList.footerFeatures}}
  
{{>helpCenterDropshippingStore}}
</div>
</div>



