---
title: Filtrar resultados
layout: mobile/layouts/empty.hbs
---
{{>pageHeaderTitle title='Filtrar productos' close='true' top='true'}}
<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="modularGrid modularGrid--boxed">
            <div class="modularGrid-module box">
             {{> formFilters}}
            </div>
        </div>
    </div>
</div>

 