---
title: Creación de cuenta
breadcrumbs: Creación de cuenta
layout: mobile/layouts/clean.hbs
---
{{!-- <div class="modularGrid">
    <div class="modularGrid-module"> --}}
   {{!--      <div class="mobileNavBar mobileNavBar--news" data-js-selecteditem="loginBtn">
            <div class="modularGrid modularGrid--boxed">
                <h2 class="mobileNavBar-title">Creación de cuenta</h2>
            </div>
        </div> --}}
        <div class="modularGrid modularGrid--boxed u-pdb">
            <div class="modularGrid-module box">
               {{> formDatosUsuario}}
            </div>
        </div>
   {{!--  </div>
</div> --}}

