---
title: Garantía
breadcrumbs: Garantía
layout: mobile/layouts/clean.hbs
---
<div class="modularGrid modularGrid--boxed u-pdb ">
    <div class="box ">
        {{>headerGarantia}}
        <div class="modularGrid-module u-sm-90 u-elem-center">
            <div class="modularGrid u-pdb ">
                <div class="modularGrid-module ">
                <section class="mobileCMS-section">
                    <p class="mobileText-blockText">
                        General: Utilizar esta página web y/o registrarse como usuario presupone la aceptación de estas condiciones.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">Protocolo Servicio Post-Venta para distribuidores y servicio Dropshipping</p>
                    <p class="mobileText-blockText u-pdt--half">
                        En primer lugar, es importante resaltar que desde BigBuy cedemos casi el 98% de nuestros artículos en un rango de precio entre 0,50€ y 20€, artículos que en su mayoría son de origen asiático y que nos permiten (y por tanto les permiten a ustedes) estar en una relación precio-calidad extremadamente óptima para generar ventas.
                    </p>
                    <p class="mobileText-blockText">
                        Nosotros somos mayoristas y vendemos a nuestros distribuidores con márgenes muy ajustados, por ello ustedes que tratan con el cliente final y venden con márgenes más altos deberán destinar una pequeña parte de sus beneficios a cubrir ciertas incidencias de poca relevancia.
                    </p>
                    <p class="mobileText-blockText ">
                        Esto es vital para consolidar una buena relación comercial y que así la balanza esté equilibrada, para que el negocio sea interesante para ambas partes. Por ello les pedimos que apliquen lógica y sensatez a la hora de tramitar sus posibles reclamaciones. No obstante, en BigBuy siempre acataremos la Ley de Garantías y trataremos de ofrecer el mejor servicio posible.
                    </p>
                    <p class="mobileText-blockText ">
                        Muchos de los casos tienen soluciones simples y sencillas, para ello ponemos a su disposición, nuestro equipo humano que les ayudarán a resolver cualquier duda que se les presente:
                    </p>
                    <p class="mobileText-blockText ">
                        Dpto.PostVenta y Atención al Cliente: <a href="mailto:info@bigbuy.eu">info@bigbuy.eu </a> Tel.: 902 09 13 60
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Qué ocurre si después de realizar un pedido detecta que hay que modificar algo?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        En el caso de que hubiera que cambiar algún dato concreto de las direcciones de envío o facturación, se podría modificar si el pedido aún no ha salido. Para el resto de los casos, la solución será cancelar el pedido y usted deberá pasar uno nuevo, pasados unos días BigBuy le hará el abono del pedido cancelado. No obstante lo ideal será llamar o escribir un email al Dpto.PostVenta y explicar lo sucedido, nuestro personal tratará de responderle en la mayor brevedad posible.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cómo proceder en caso de Incidencias?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        Posibles Situaciones:
                    </p>
                    <p class="mobileText-blockText">
                        <strong>Incidencia dentro de las 24/48h. de la recepción del pedido y con síntomas de “Bulto Golpeado”:</strong><br>
                        Todos nuestros artículos salen del almacén con el embalaje en perfectas condiciones. Si su cliente observa exteriormente daños al recibir el paquete; es IMPRESCINDIBLE que lo haya hecho constar en el albarán de entrega de la mensajería indicando por ejemplo: “BULTO VISUALMENTE DETERIORADO”. Deberían aprovechar las confirmaciones de pedido que mandan a sus clientes, para educarles de esta buena práctica, tal y como hace BigBuy con ustedes.
                    </p>
                    <p class="mobileText-blockText">
                        Si su cliente tras la recepción del pedido y dentro de las 24 h. siguientes, les comunican a ustedes esta incidencia escaneando y adjuntando dicho albarán; con esta documentación podremos reclamar al seguro de la mensajería y por tanto, una vez resuelta la incidencia, podremos enviarle un nuevo producto y retirarle el golpeado.
                    </p>

                    <p class="mobileText-blockText">
                        <strong>Incidencias pasadas las 48h. de la recepción del pedido e inferior a 15 días de la recepción del mismo:</strong><br>
                        Cuando un cliente final les llame para quejarse del fallo en un producto, caja o cualquier anomalía que encuentren, ustedes serán los encargados de prestarle la atención necesaria, dado que es su cliente y no el nuestro. Esto incluye comprobación por fotos de la incidencia y retirada del producto, para revisión in-situ en sus instalaciones. En este punto tenemos que utilizar el sentido común y si llega un producto en malas condiciones y su valor es muy bajo, compensará retornar el dinero a su cliente y no proceder a la recogida y envió de una nueva unidad.
                    </p>
                    <p class="mobileText-blockText">
                        Todos los productos que vayan recopilando deberán comprobar que efectivamente estén defectuosos, de todos es conocido que muchos clientes a veces se quejan y luego los productos no presentan problemas y en este caso deberán ser ustedes quienes filtren este tipo de incidencias ficticias.
                    </p>

                    <p class="mobileText-blockText">
                        <strong>Envío Dropshipping de un producto erróneo a su cliente final</strong><br>
                        Se admitirá el cambio de los productos enviados de forma errónea, siendo BigBuy quien se hará cargo de los gastos de reenvío siempre que el distribuidor nos comunique esta circunstancia en el plazo de 48h contados desde la fecha de recepción del envío. Salvo que en ciertos casos BigBuy decida rembolsar el valor del producto.
                    </p>

                    <p class="mobileText-blockText">
                        <strong>Garantía - Servicio Técnico, pasados los 15 días de la recepción del pedido.</strong><br>
                        Todos los artículos tienen una garantía de dos años ofrecida por el fabricante a partir de la fecha de entrega excepto en los productos perecederos o relacionados con la salud e higiene. No se incluyen las deficiencias ocasionadas por negligencias, golpes, uso o manipulaciones indebidas, tensión no idónea, instalación incorrecta, ni materiales sometidos a desgaste por su uso normal. En el caso de artículos informáticos, la garantía no cubrirá la eliminación de virus, restauración de programas por este motivo o la reinstalación del disco provocada por el borrado del mismo. En aquellas incidencias que justifiquen el uso de la garantía, se optará por la reparación, sustitución del artículo, rebaja o devolución, en los términos legalmente establecidos.
                    </p>
                    <p class="mobileText-blockText">
                        La garantía perderá su valor:
                    </p>
                    <p >
                        <ul class="mobileText-listBullet">
                            <li>Si se modifican, alteran o sustituyen algunos de los datos de la misma o del justificante de compra.</li>
                            <li>Si se manipula o repara tanto el número identificativo como el propio aparato garantizado sin conocimiento del Servicio Técnico.</li>
                        </ul>
                    </p>
                    <p class="mobileText-blockText u-pdt--half">
                        Para hacer uso de la garantía, ustedes deberán escribirnos a <a href="mailto:info@bigbuy.eu">info@bigbuy.eu </a> indicando:
                    </p>
                    <p class="mobileText-blockText">
                        <ul class="mobileText-listBullet">
                            <li>Nº de Pedido de BigBuy</li>
                            <li>Descripción del producto</li>
                            <li>Descripción del problema que tiene el producto</li>
                            <li>Aportar fotografías en caso de daños visibles</li>
                        </ul>
                    </p>
                    <p class="mobileText-blockText u-pdt--half">
                        Cada caso será tratado de forma particular y les será facilitada la dirección en su país del S.A.T. (Servicio Asistencia Técnica) de cada fabricante, o en el sitio donde deberá enviar el producto y sus accesorios (a gastos pagados) su cliente. Será obligatorio incluir en el embalaje una copia de la factura de venta, carta de Asistencia Técnica ofrecida así como una descripción del problema detectado.
                    </p>
                    <p class="mobileText-blockText">
                        Deben de ser conscientes que trabajamos con productos en su mayoría de origen asiático donde la fábrica o SAT esta ubicados en dicho continente por lo que ofrecer un servicio SAT no será posible directamente. En estos casos usted deberá seguir los puntos más adelante indicados
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cómo reponer un artículo defectuoso a su cliente? y ¿Cómo devolver la mercancía defectuosa a BigBuy?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        En los casos de ser posible una atención SAT oficial el periodo de reparación será el marcado por el SAT oficial.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">Devolución de producto en perfecto estado</p>
                    <p class="mobileText-blockText u-pdt--half">
                        BigBuy no recompra a sus distribuidores mercancía que no se haya podido vender en sus tiendas o almacenes o de posibles devoluciones de sus clientes. Si un cliente desea devolverles un producto en perfecto estado y finalmente ustedes se lo admiten, deberán ser ustedes quienes den salida a dicha mercancía a través de sus canales de ventas, en ningún caso BigBuy admitirá la devolución.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cómo reponer un artículo defectuoso a su cliente?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        Cada distribuidor decide que Política de Postventa aplica en su web o negocio, en algunos casos es preferible retornarle el dinero del artículo al cliente y así evitar más costes logísticos. En el caso de que hubiera que reponerlo es muy sencillo; el distribuidor deberá entrar en www.bigbuy.eu y realizar otro pedido completamente nuevo y pagarlo. Como si se tratara de un pedido normal su cliente lo recibirá en 24/48h.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cómo anular un pedido?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        Si por algún contratiempo desea anular un pedido y frenar que no sea expedido, deberá comunicarlo inmediatamente preferiblemente enviando mail a <a href="mailto:info@bigbuy.eu">info@bigbuy.eu </a> o por vía telefónica al Tel.: 902 09 13 60
                    </p>
                    <p class="mobileText-blockText">
                        No obstante le informamos que una vez efectuado un pedido, BigBuy no puede garantizar su cancelación/anulación debido a que en nuestro afán de servir los pedidos en los menores tiempos posibles es muy probable que su pedido esté preparado y enjaulado para ser entregado a la mensajería o haya sido ya recogido por la misma. En estos casos no podrá ser posible su anulación. Les rogamos revisen sus pedidos, direcciones de entregas, importes, productos, cantidades y atributos exhaustivamente  antes de finalizarlos.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cómo devolver la mercancía defectuosa a BigBuy?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        BigBuy da un servicio excepcional de recogida gratuita al distribuidor para aquellos productos con defecto de fábrica que ha ido recopilando de sus clientes. Con el fin de amortizar gastos logísticos, BigBuy pasará recogida gratuita por sus almacenes cada dos meses siempre y cuando se hayan alcanzado 90€ de coste. En caso de no haber llegado a esta cantidad, BigBuy aplazará la recogida hasta un máximo de 6 meses. Llegada esta fecha, BigBuy recogerá gratuitamente su mercancía aunque no haya alcanzado dicha cantidad.
                    </p>
                    <p class="mobileText-blockText">
                        En caso de que el distribuidor quiera devolver la mercancía defectuosa fuera de estos términos, será él mismo quien deba asumir los costes que se deriven previa notificación a BigBuy para estar al tanto de la recepción de dicha devolución.
                    </p>
                    <p class="mobileText-blockText">
                        <strong>Paso 1:</strong>
                    </p>
                    <p class="mobileText-blockText">
                        Deberán rellenar <strong>todos los campos</strong> de la plantilla Excel “Devolución de Productos”
                    </p>
                    <p class="mobileText-blockText">
                        Dicha plantilla está en formato Excel y deberán enviarla debidamente cumplimentada al Dto. Att. Cliente y Postventa: <a href="mailto:info@bigbuy.eu">info@bigbuy.eu </a> (solicite la plantilla en este mismo email sino la tiene)
                    </p>
                    <p class="mobileText-blockText">
                        Guarde esta plantilla en su ordenador y vaya adjuntando a la misma posibles incidencias que puedan ir surgiendo. Una vez cumplidas alguna de las premisas arriba indicada puede enviarla para su gestion.
                    </p>
                    <p class="mobileText-blockText">
                        <strong>Paso 2:</strong>
                    </p>
                    <p class="mobileText-blockText">
                        Recibirá por email la Aceptación de la Devolución con un Nº RMA  e instrucciones acerca de su recogida.
                    </p>
                    <p class="mobileText-blockText">
                        <strong>Paso 3:</strong>
                    </p>
                    <p class="mobileText-blockText">
                        Deberán preparar el paquete en óptimas condiciones y para ello deberán introducir todos los productos defectuosos en el interior de una caja/s de cartón grande. Tenga en cuenta que las cajas originales de los propios productos deberán llegarnos intactas, sin pegatinas ni deterioros, por ello es imprescindible el refuerzo de cajas de cartón y una buena precintada.
                    </p>
                    <p class="mobileText-blockText">
                        En el interior del paquete/s deberá introducir el Excel impreso y en el exterior del mismo, deberá indicar claramente una etiqueta con el Nº RMA y los datos del Remitente (Rechazaremos todos los paquetes que no lleguen debidamente identificados)
                    </p>
                    <p class="mobileText-blockText">
                        La garantía cubre defectos de fábrica y en ningún caso desgastes o mal uso. Sólo devolveremos el dinero de los productos con defectos de fábrica, por lo que deberá prestar mucha atención a aquellos que ya presentan síntomas de estar desgastados o con golpes. En el caso de <strong>embalajes deteriorados o con pegatinas de transporte</strong>, no se retornará el 100 % del valor del producto. Por ello, es importante que avise a sus clientes de que refuercen con otra caja de cartón la mercancía que les devuelvan y no dañen la del propio producto
                    </p>
                    <p class="mobileText-blockText">
                        <strong>Paso 4:</strong>
                    </p>
                    <p class="mobileText-blockText">
                        Una vez recibidos los productos, el SAT de BigBuy analizará cada uno de ellos y una vez estén verificados, se procederá al abono. Los abonos se realizarán con la misma Forma de Pago con la que se realizaron los pedidos. Los abonos se harán efectivos en aproximadamente 4 semanas tras la recepción de la mercancía en nuestros almacenes. Este proceso es costoso, dado que debe ser revisada cada unidad por nuestro equipo de Asistencia técnica y posteriormente pasar al dpto. de Administracion donde se efectuaran los abonos por orden de llegada, les rogamos sean pacientes.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿En qué casos no retornará BigBuy el 100 % del valor del producto?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        <ul class="mobileText-listBullet">
                            <li>Cuando los productos presenten claros síntomas de mal uso, desgaste injustificado, o lleguen en un estado insalubre. </li>
                            <li>Para productos sin caja o devueltos con la caja deteriorada, o con pegatinas del transporte que hacen inservibles las cajas; se descontará un 50% del valor del producto. </li>
                            <li>Para productos con falta de piezas o accesorios, se valorará cada caso individualmente.</li>
                        </ul>
                    </p>
                    <p class="mobileText-blockText u-pdt--half">
                        <strong>Muy importante:</strong> todos los productos devueltos a BigBuy que no presenten ninguna anomalía no solo no serán abonados, sino que serán devueltos al distribuidor con los gastos de envío a contra reembolso. Si el distribuidor rechazase esta mercancía y nos llegase de vuelta, pasará a ser propiedad de BigBuy.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cuándo se reintegra el dinero de la devolución?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        Una vez recibida la mercancía en nuestros almacenes, y previa comprobación del estado de la misma, se procederá al reintegro de su importe conforme a la modalidad de pago realizada por el cliente, salvo en efectivo, que se reintegrará mediante transferencia bancaria. Tenga en cuenta que el proceso de reembolso podría demorarse varias semanas hasta evaluar la mercancía recepcionada.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Qué ocurre si usted o su cliente no recogen un pedido?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        Cuando un pedido no es recogido por el destinatario, se devuelve a nuestro almacén. Una vez se recibe en el almacén, se gestiona por el equipo SAT y pasa al departamento de administración para que tramiten el pago.
                    </p>
                    <p class="mobileText-blockText ">
                        El envío del pedido, así como el retorno al almacén, ocasionan unos gastos de transporte, que tendrá que cubrir la empresa o persona que haya realizado el pedido. Por lo tanto, recibirá un pago correspondiente a la devolución del pedido, descontando los portes de ida y vuelta.
                    </p>
                    <p class="mobileText-blockText ">
                        El trámite de esta gestión, puede tardar hasta 4 semanas.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Cuánto es el tiempo de garantía?</p>
                    <img class="u-flr u-mgl u-mgr" src="http://www.bigbuy.eu/public/img/garantia-ES.png" alt="">
                    <p class="mobileText-blockText u-pdt--half">
                        Ofrecer la máxima calidad y la mejor garantía es nuestro compromiso con nuestros clientes. Todos los artículos tienen una garantía de un periodo de dos años a partir de la fecha de entrega, tal y como obliga la Ley vigente.
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">¿Qué no incluye la garantía?</p>
                    <p class="mobileText-blockText u-pdt--half">
                        <ul class="mobileText-listBullet">
                            <li>No se incluyen las deficiencias ocasionadas por negligencias, golpes, uso o manipulaciones indebidas, tensión no idónea, instalación incorrecta, ni materiales sometidos a desgaste por su uso normal. </li>
                            <li>En el caso de artículos informáticos, la garantía no cubrirá la eliminación de virus, restauración de programas por este motivo o la reinstalación del disco provocada por el borrado del mismo.</li>
                        </ul>
                    </p>
                     {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">La garantía perderá su valor…</p>
                    <p class="mobileText-blockText u-pdt--half">
                        <ul class="mobileText-listBullet">
                            <li>Si se modifican, alteran o sustituyen algunos de los datos de la misma o del justificante de compra.</li>
                            <li>Si se manipula o repara tanto el número identificativo como el propio aparato garantizado sin conocimiento del Servicio Técnico.</li>
                        </ul>
                    </p>
                    {{!--  --}}
                    <p class="mobileCMS-sectionTitle u-pdt ">Uso de la Garantía</p>
                    <p class="mobileText-blockText u-pdt--half">
                        En aquellas incidencias que justifiquen el uso de la garantía, se optará por la reparación, sustitución del artículo, rebaja o devolución, en los términos legalmente establecidos. Para hacer uso de la garantía, es imprescindible la presentación del justificante de compra y contactar atención al cliente en el email: <a href="mailto:info@bigbuy.eu">info@bigbuy.eu </a>.
                    </p>
                    <p class="mobileText-blockText u-pdb ">
                        El consumidor dispone de 7 días hábiles para el ejercicio del derecho de desistimiento, sin necesidad de justificar su decisión y sin penalizaciones por su ejercicio. Los portes de vuelta correrán a cargo del comprador. En ningún caso aceptaremos un paquete enviado a nuestro almacén a portes debidos.
                    </p>
                    </section>







                </div>
            </div>
        </div>
    </div>
</div>