---
title: Formas de pago
breadcrumbs: Formas de pago 
layout: mobile/layouts/clean.hbs
---

<section class="content content--full u-brb">
{{>paymentHero}}
</section>
<section class="content content--full">
  <div class="modularGrid modularGrid--boxed u-pdt2 u-tac u-pdb u-xxs-hide u-lg-show">
    <h2 class="supertitle1">Escoja la opción de pago que mejor se adapte a sus necesidades</h2>
    <h3 class="superSubtitle1 u-pd">BigBuy ofrece diferentes métodos de pago, totalmente seguros. <br>Le explicamos en qué consiste cada uno.</h3>    
</div>
{{>paymentFeatures paymentList}}
</section>