---
title: Condiciones Generales
breadcrumbs: Condiciones generales y de privacidad
layout: mobile/layouts/clean.hbs
---
<div class="modularGrid modularGrid--boxed u-pdb ">
    <div class="box ">
        <div class="modularGrid-module u-sm-90 u-elem-center u-pdb2  u-pdt legalText">
                {{>legal gen title=this.title}}          
                <div class="modularGrid u-pdv">
                     <div class="modularGrid-module u-xs-100 u-sm-3rd u-tac">
                          <img src="../../img/lopd.png" class="iprivacidad">
                     </div>
                     <div class="modularGrid-module u-xs-100 u-sm-3rd u-tac">
                         <img src="../../img/lssi-solo.png" class="iprivacidad">
                     </div>                   
                     <div class="modularGrid-module u-xs-100 u-sm-3rd u-tac">
                    <img src="../../img/lssi.png" class="iprivacidad">
                    </div>
                </div>
        </div>
    </div>
</div>