---
title: Novedades
breadcrumbs: Novedades
layout: mobile/layouts/clean.hbs
---
{{!-- <div class="mobileNavBar mobileNavBar--news">
    <div class="modularGrid modularGrid--boxed">
        <div class="modularGrid-module">
            <a href="../mobile/home.html" class="mobileNavBar-breadcrumb"></a>
            <h1 class="mobileNavBar-title">Novedades</h1>
            {{>filterbutton}}
        </div>
    </div>
</div> --}}
<div class="modularGrid modularGrid--boxed">
    <div class="modularGrid-module mobileContent u-pd--half ">
        <h2 class="mobileNavBar-title">Venta de artículos de Novedades al por mayor</h2>
        <p class="mobileText-subtitle u-pdb--half">300 productos encontrados</p>
        {{> productList productList.relatedMobile}}
    </div>
</div>
