---
title: Envío único
breadcrumbs: Envío único
layout: mobile/layouts/clean.hbs
---
{{!-- <div class="mobileNavBar mobileNavBar--news">
    <div class="modularGrid modularGrid--boxed">
        <div class="modularGrid-module u-xs-60">
            <a class="mobileNavBar-breadcrumb" href="../mobile/stepsCart.html"></a>
            <h2 class="mobileNavBar-title">Envío único</h2>
        </div>
    </div>
</div> --}}
<div class="modularGrid modularGrid--boxed u-pdb">
    <div class="modularGrid-module box u-pd">
        <div class="modularGrid">
            <div class="modularGrid-module u-md-50">
                <dl class="nmList-dl">
                    <dt class="nmList-dt">Plazo de preparación</dt>
                    <dd class="nmList-dd">3/5 días</dd>

                    <dt class="nmList-dt">Productos</dt>
                    <dd class="nmList-dd">10</dd>


                    <dt class="nmList-dt">Importe</dt>
                    <dd class="nmList-dd">2.4,035 €</dd>

                    <dt class="nmList-dt">Porte</dt>
                    <dd class="nmList-dd">15 €</dd>

                </dl>
            </div>
            <div class="modularGrid-module u-pdt">
                {{>tableShipping}}
            </div>
        </div>
    </div>
</div>