---
title: Envío múltiple
breadcrumbs: Envío múltiple
layout: mobile/layouts/clean.hbs
---
{{!-- <div class="mobileNavBar mobileNavBar--news">
    <div class="modularGrid modularGrid--boxed">
        <div class="modularGrid-module u-xs-60">
        <a class="mobileNavBar-breadcrumb" href="../mobile/stepsCart.html"></a>
            <h2 class="mobileNavBar-title">Envío múltiple</h2>
        </div>
           </div>
</div> --}}

<div class="modularGrid modularGrid--boxed u-pdb--half">
    <div class="modularGrid-module box u-pd">
        <div class="modularGrid">
            <div class="modularGrid-module ">
            <h4 class="mobileText-subtitle">Plazo de preparación</h4>
            </div>
            <div class="modularGrid-module u-pdt--half">
                {{>tabsPreparation}}
            </div>
        </div>
    </div>
</div>





