---
title: Pasos de la compra
---
<div class="modularGrid modularGrid--boxed  u-pdh--half">
    <div class="modularGrid-module u-lg-70 u-pdv">
        <h2 class="title u-mgb--half u-tal">Pasos de la compra</h2>    
        {{> shoppingCartStepActions1}}
        {{> shoppingCartStepActions2}}
        {{> shoppingCartStepActions3}}
    </div>
    <div class="modularGrid-module u-lg-30 u-pdv u-lg-pdl">
        <h2 class="title u-mgb--half u-tal">Resumen</h2>
        {{>shoppingCartStepActionsFinal}}
    </div>
</div>

{{!-- <form action="#" method="GET" class="form u-bg--white " style="left: 1rem; position: fixed; top: 13rem;">
<h3 class=" msgBox--error u-pdv--half">Only for test</h3>

    <fieldset class="form-fieldset u-pdb">
        <legend class="form-legend u-mgt">Vengo desde:</legend>
        <div>
            <input type="checkbox" class="form-radio form-radio--inline" name="shoppingCartOptions" id="from_shop" value="shop">
            <label for="from_shop" class="form-label form-label--inline">Tienda dropshipping</label>  
        </div>
        <div>
            <input type="checkbox" class="form-radio form-radio--inline" name="shoppingCartOptions" id="from_packs" value="wholesaler">
            <label for="from_packs" class="form-label form-label--inline">Packs mayoristas</label> 
        </div> 
        <h3 class="u-mgv">Con Pack:</h3>
        <div>
            <input type="checkbox" class="form-radio form-radio--inline" name="shoppingCartOptions" id="pack_b2b" value="pack_b2b">
            <label for="pack_b2b" class="form-label form-label--inline">B2B</label> 
        </div>
        <div>
            <input type="checkbox" class="form-radio form-radio--inline" name="shoppingCartOptions" id="pack_dropship" value="pack_dropship">
            <label for="pack_dropship" class="form-label form-label--inline">Dropship</label> 
        </div>
         <div>
            <input type="checkbox" class="form-radio form-radio--inline" name="shoppingCartOptions" id="pack_enterprise" value="pack_enterprise">
            <label for="pack_enterprise" class="form-label form-label--inline">Enterprise</label> 
        </div>
        



        <input type="submit" class="button u-block u-mgt2">
    </fieldset>
</form> --}}