---
title: Envío simple
---

<div class="modularGrid modularGrid--boxed u-pdv">
	<div class="box u-pdv">        
		<div class="modularGrid u-elem-center u-sm-100 u-md-90 u-lg-80 ">
			<div class="modularGrid-module u-md-60 u-lg-70 u-pdh">
				{{>shippingTexts}}             
			</div>
			<div class="modularGrid-module u-md-40 u-lg-30 u-tac">
				<img src="../../img/happy-user.svg" alt="success" class="icon u-xxs-50 u-sm-30 u-md-60 u-lg-70 u-xl-60">
			</div> 
		</div>
	</div>
</div>


