---
title: Pasos de la compra
breadcrumbs: Pasos de la compra
layout: mobile/layouts/clean.hbs
---

<div class="modularGrid modularGrid--boxed">
    <div class="shoppingCart u-pdb">
        <div class="modularGrid-module u-xs mobileContent" data-js-shoppingcart="">
            {{>tabsSteps}}
        </div>
    </div>
</div>
