---
title: Pasos de la compra
breadcrumbs: Pasos de la compra
layout: mobile/layouts/clean.hbs
---
{{!-- <div class="mobileNavBar mobileNavBar--news">
    <div class="modularGrid modularGrid--boxed">
        <div class="modularGrid-module u-xs-60">
        <a class="mobileNavBar-breadcrumb" href="../mobile/cart.html"></a>
            <h2 class="mobileNavBar-title">Pasos de la compra</h2>
        </div>
        <div class="modularGrid-module u-xs-40 u-tar">
            <form action="searchResults.html">
                <button type="submit" class="button button--primary button--condensed">Filtrar
                    <img src="../../img/mobileIcons/filterAction.svg" class="icon icon--xs ">
                </button>
            </form>
        </div>
    </div>
</div> --}}
<div class="modularGrid modularGrid--boxed">
    <div class="shoppingCart u-pdb">
        <div class="modularGrid-module u-xs mobileContent" data-js-shoppingcart="">
            {{>step1}}
            {{>step2}}
            {{>step3}}
            {{>step4}}
        </div>
    </div>
</div>