    <aside class="searchResults-resultsTagsArea">

        <section class="searchResults-resultsTagsCont">
            <h6 class="searchResults-resultsTitle" data-js="results name">“Teléfono fijo” en CATEGORÍAS</h6>  
            <a href="#" class="link--alt u-block">Teléfonos fijos en <small>Telefonía y accesorios (812)</small></a>
            <a href="#" class="link--alt u-block">Accesorios de telefonía en<small>Telefonía y accesorios (62)</small></a>
            <a href="#" class="link--alt u-block">Regalos para Mayores en <small>Regalos Originales (52)</small></a>
            <a href="#" class="link--alt u-block">Mucho más en teletienda en <small>Teletienda (52)</small></a>
            <a href="#" class="link--alt u-block">Gadgets originales en <small>Regalos Originales (2)</small></a>
        </section>
        <section class="searchResults-resultsTagsCont">
            <h6 class="searchResults-resultsSubTitle" data-js="results name">“Teléfono fijo” en MARCAS</h6>
            <label class="searchResults-more" for="resultsCont2" >Ver más</label>  

            <div class="brandList brandList--searchResults">


               <input class="inputToggle brandList-input" id="1112_mini" type="checkbox" data-js-reset="uncheck">
               <label class="brandList-label" for="1112_mini">
                <img src="../../img/brands/1112_mini.png" class="brandList-img">
                <span class="brandList-number">(821)</span>
            </label>

            <input class="inputToggle brandList-input" id="2_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="2_mini">
                <img src="../../img/brands/2_mini.png" class="brandList-img">
                <span class="brandList-number">(828)</span>
            </label>

            <input class="inputToggle brandList-input" id="3_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="3_mini">
                <img src="../../img/brands/3_mini.png" class="brandList-img">
                <span class="brandList-number">(986)</span>
            </label>

            <input class="inputToggle brandList-input" id="4_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="4_mini">
                <img src="../../img/brands/4_mini.png" class="brandList-img">
                <span class="brandList-number">(11)</span>
            </label>

            <input class="inputToggle brandList-input" id="5_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="5_mini">
                <img src="../../img/brands/5_mini.png" class="brandList-img">
                <span class="brandList-number">(612)</span>
            </label>

            <input class="inputToggle brandList-input" id="131_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="131_mini">
                <img src="../../img/brands/131_mini.png" class="brandList-img">
                <span class="brandList-number">(95)</span>
            </label>

            <input class="inputToggle brandList-input" id="993_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="993_mini">
                <img src="../../img/brands/993_mini.png" class="brandList-img">
                <span class="brandList-number">(925)</span>
            </label>

            <input class="inputToggle brandList-input" id="998_mini" type="checkbox" data-js-reset="uncheck">
            <label class="brandList-label" for="998_mini">
                <img src="../../img/brands/998_mini.png" class="brandList-img">
                <span class="brandList-number">(399)</span>
            </label>
        </div>
    </section>
    <section class="searchResults-resultsTagsCont">
        <h6 class="searchResults-resultsSubTitle" data-js="results name">“Teléfono fijo” en ETIQUETAS</h6> 
        <label class="searchResults-more" for="resultsCont3" >Ver más</label>  
        <div class="tags-list--searchResults">


         <input class="tags-checkbox inputToggle" id="tagsRange1" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange1">a la moda<small class="u-mgl--6th">(568)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange2" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange2">adelgazar<small class="u-mgl--6th">(456)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange3" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange3">ahorro<small class="u-mgl--6th">(748)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange4" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange4">aire libre / camping<small class="u-mgl--6th">(156)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange5" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange5">amor / romántico<small class="u-mgl--6th">(1546)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange6" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange6">animales<small class="u-mgl--6th">(45)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange7" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange7">bebidas<small class="u-mgl--6th">(4536)</small></label>

         <input class="tags-checkbox inputToggle" id="tagsRange8" type="checkbox" data-js-reset="uncheck">
         <label class="tags-label" for="tagsRange8">belleza<small class="u-mgl--6th">(945)</small></label>

     </div>
 </section>

</aside>



