<input type="radio" class="inputToggle" name="searchResults-resultsTab" id="resultsCont2">
<aside class="searchResults-resultsCont">
<label class="searchResults-resultsBack" for="resultsCont1">Volver a productos</label>
<div class="brandList brandList--searchResultsFull">
<input class="inputToggle brandList-input" id="999_mini" type="checkbox">
<label class="brandList-label" for="999_mini">
<img src="../../img/brands/999_mini.png" class="brandList-img">
<span class="brandList-number">(484)</span>
</label>

<input class="inputToggle brandList-input" id="1001_mini" type="checkbox">
<label class="brandList-label" for="1001_mini">
<img src="../../img/brands/1001_mini.png" class="brandList-img">
<span class="brandList-number">(377)</span>
</label>

<input class="inputToggle brandList-input" id="1002_mini" type="checkbox">
<label class="brandList-label" for="1002_mini">
<img src="../../img/brands/1002_mini.png" class="brandList-img">
<span class="brandList-number">(891)</span>
</label>

<input class="inputToggle brandList-input" id="1003_mini" type="checkbox">
<label class="brandList-label" for="1003_mini">
<img src="../../img/brands/1003_mini.png" class="brandList-img">
<span class="brandList-number">(679)</span>
</label>

<input class="inputToggle brandList-input" id="1008_mini" type="checkbox">
<label class="brandList-label" for="1008_mini">
<img src="../../img/brands/1008_mini.png" class="brandList-img">
<span class="brandList-number">(156)</span>
</label>

<input class="inputToggle brandList-input" id="1009_mini" type="checkbox">
<label class="brandList-label" for="1009_mini">
<img src="../../img/brands/1009_mini.png" class="brandList-img">
<span class="brandList-number">(522)</span>
</label>

<input class="inputToggle brandList-input" id="1019_mini" type="checkbox">
<label class="brandList-label" for="1019_mini">
<img src="../../img/brands/1019_mini.png" class="brandList-img">
<span class="brandList-number">(466)</span>
</label>

<input class="inputToggle brandList-input" id="1020_mini" type="checkbox">
<label class="brandList-label" for="1020_mini">
<img src="../../img/brands/1020_mini.png" class="brandList-img">
<span class="brandList-number">(939)</span>
</label>

<input class="inputToggle brandList-input" id="1024_mini" type="checkbox">
<label class="brandList-label" for="1024_mini">
<img src="../../img/brands/1024_mini.png" class="brandList-img">
<span class="brandList-number">(720)</span>
</label>

<input class="inputToggle brandList-input" id="1027_mini" type="checkbox">
<label class="brandList-label" for="1027_mini">
<img src="../../img/brands/1027_mini.png" class="brandList-img">
<span class="brandList-number">(45)</span>
</label>

<input class="inputToggle brandList-input" id="1028_mini" type="checkbox">
<label class="brandList-label" for="1028_mini">
<img src="../../img/brands/1028_mini.png" class="brandList-img">
<span class="brandList-number">(174)</span>
</label>

<input class="inputToggle brandList-input" id="1033_mini" type="checkbox">
<label class="brandList-label" for="1033_mini">
<img src="../../img/brands/1033_mini.png" class="brandList-img">
<span class="brandList-number">(228)</span>
</label>

<input class="inputToggle brandList-input" id="1036_mini" type="checkbox">
<label class="brandList-label" for="1036_mini">
<img src="../../img/brands/1036_mini.png" class="brandList-img">
<span class="brandList-number">(755)</span>
</label>

<input class="inputToggle brandList-input" id="1049_mini" type="checkbox">
<label class="brandList-label" for="1049_mini">
<img src="../../img/brands/1049_mini.png" class="brandList-img">
<span class="brandList-number">(870)</span>
</label>

<input class="inputToggle brandList-input" id="1053_mini" type="checkbox">
<label class="brandList-label" for="1053_mini">
<img src="../../img/brands/1053_mini.png" class="brandList-img">
<span class="brandList-number">(357)</span>
</label>

<input class="inputToggle brandList-input" id="1060_mini" type="checkbox">
<label class="brandList-label" for="1060_mini">
<img src="../../img/brands/1060_mini.png" class="brandList-img">
<span class="brandList-number">(52)</span>
</label>

<input class="inputToggle brandList-input" id="1061_mini" type="checkbox">
<label class="brandList-label" for="1061_mini">
<img src="../../img/brands/1061_mini.png" class="brandList-img">
<span class="brandList-number">(574)</span>
</label>

<input class="inputToggle brandList-input" id="1074_mini" type="checkbox">
<label class="brandList-label" for="1074_mini">
<img src="../../img/brands/1074_mini.png" class="brandList-img">
<span class="brandList-number">(68)</span>
</label>

<input class="inputToggle brandList-input" id="1077_mini" type="checkbox">
<label class="brandList-label" for="1077_mini">
<img src="../../img/brands/1077_mini.png" class="brandList-img">
<span class="brandList-number">(569)</span>
</label>

<input class="inputToggle brandList-input" id="1078_mini" type="checkbox">
<label class="brandList-label" for="1078_mini">
<img src="../../img/brands/1078_mini.png" class="brandList-img">
<span class="brandList-number">(74)</span>
</label>

<input class="inputToggle brandList-input" id="1079_mini" type="checkbox">
<label class="brandList-label" for="1079_mini">
<img src="../../img/brands/1079_mini.png" class="brandList-img">
<span class="brandList-number">(442)</span>
</label>

<input class="inputToggle brandList-input" id="1080_mini" type="checkbox">
<label class="brandList-label" for="1080_mini">
<img src="../../img/brands/1080_mini.png" class="brandList-img">
<span class="brandList-number">(68)</span>
</label>

<input class="inputToggle brandList-input" id="1082_mini" type="checkbox">
<label class="brandList-label" for="1082_mini">
<img src="../../img/brands/1082_mini.png" class="brandList-img">
<span class="brandList-number">(909)</span>
</label>

<input class="inputToggle brandList-input" id="1_mini" type="checkbox">
<label class="brandList-label" for="1_mini">
<img src="../../img/brands/1_mini.png" class="brandList-img">
<span class="brandList-number">(895)</span>
</label>

<input class="inputToggle brandList-input" id="1089_mini" type="checkbox">
<label class="brandList-label" for="1089_mini">
<img src="../../img/brands/1089_mini.png" class="brandList-img">
<span class="brandList-number">(516)</span>
</label>

<input class="inputToggle brandList-input" id="1092_mini" type="checkbox">
<label class="brandList-label" for="1092_mini">
<img src="../../img/brands/1092_mini.png" class="brandList-img">
<span class="brandList-number">(202)</span>
</label>

<input class="inputToggle brandList-input" id="1098_mini" type="checkbox">
<label class="brandList-label" for="1098_mini">
<img src="../../img/brands/1098_mini.png" class="brandList-img">
<span class="brandList-number">(253)</span>
</label>

</div>
<button class="button button--narrow u-elem-center">Ver todos los resultados</button>
</aside>