<input type="checkbox" class="inputToggle" id="searchResultsLaunch" data-js-reset="uncheck">
<section class="searchResults-results" data-js-search="results">
    {{>searchResultsContProd}}
    {{>searchResultsContBrands}}
    {{>searchResultsContTags}}   
    {{>searchResultsTagsArea}}
</section>