<input type="radio" class="inputToggle" name="searchResults-resultsTab" id="resultsCont3">
 <aside class="searchResults-resultsCont">
   <label class="searchResults-resultsBack" for="resultsCont1">Volver a productos</label>

         
         <div class="tags-list--searchResultsFull">

 <input class="tags-checkbox inputToggle" id="tagsFullRange1" type="checkbox">
 <label class="tags-label" for="tagsFullRange1">a la moda<small class="u-mgl--6th">(568)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange2" type="checkbox">
 <label class="tags-label" for="tagsFullRange2">adelgazar<small class="u-mgl--6th">(456)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange3" type="checkbox">
 <label class="tags-label" for="tagsFullRange3">ahorro<small class="u-mgl--6th">(748)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange4" type="checkbox">
 <label class="tags-label" for="tagsFullRange4">aire libre / camping<small class="u-mgl--6th">(156)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange5" type="checkbox">
 <label class="tags-label" for="tagsFullRange5">amor / romántico<small class="u-mgl--6th">(1546)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange6" type="checkbox">
 <label class="tags-label" for="tagsFullRange6">animales<small class="u-mgl--6th">(45)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange7" type="checkbox">
 <label class="tags-label" for="tagsFullRange7">bebidas<small class="u-mgl--6th">(4536)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange8" type="checkbox">
 <label class="tags-label" for="tagsFullRange8">belleza<small class="u-mgl--6th">(945)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange9" type="checkbox">
 <label class="tags-label" for="tagsFullRange9">chef / cocinillas<small class="u-mgl--6th">(453)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange10" type="checkbox">
 <label class="tags-label" for="tagsFullRange10">cosmética natural<small class="u-mgl--6th">(565)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange11" type="checkbox">
 <label class="tags-label" for="tagsFullRange11">decoración<small class="u-mgl--6th">(969)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange12" type="checkbox">
 <label class="tags-label" for="tagsFullRange12">deportista / en forma<small class="u-mgl--6th">(696)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange13" type="checkbox">
 <label class="tags-label" for="tagsFullRange13">desayunar<small class="u-mgl--6th">(855)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange14" type="checkbox">
 <label class="tags-label" for="tagsFullRange14">ferretería<small class="u-mgl--6th">(647)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange15" type="checkbox">
 <label class="tags-label" for="tagsFullRange15">fiesta<small class="u-mgl--6th">(449)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange16" type="checkbox">
 <label class="tags-label" for="tagsFullRange16">gadget<small class="u-mgl--6th">(375)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange17" type="checkbox">
 <label class="tags-label" for="tagsFullRange17">invierno<small class="u-mgl--6th">(514)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange18" type="checkbox">
 <label class="tags-label" for="tagsFullRange18">led / iluminación<small class="u-mgl--6th">(446)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange19" type="checkbox">
 <label class="tags-label" for="tagsFullRange19">licencias<small class="u-mgl--6th">(326)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange20" type="checkbox">
 <label class="tags-label" for="tagsFullRange20">merchandising países<small class="u-mgl--6th">(458)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange21" type="checkbox">
 <label class="tags-label" for="tagsFullRange21">navidad<small class="u-mgl--6th">(1414)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange22" type="checkbox">
 <label class="tags-label" for="tagsFullRange22">noche<small class="u-mgl--6th">(134)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange23" type="checkbox">
 <label class="tags-label" for="tagsFullRange23">outlet<small class="u-mgl--6th">(78)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange24" type="checkbox">
 <label class="tags-label" for="tagsFullRange24">Pascua<small class="u-mgl--6th">(89)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange25" type="checkbox">
 <label class="tags-label" for="tagsFullRange25">playa<small class="u-mgl--6th">(456)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange26" type="checkbox">
 <label class="tags-label" for="tagsFullRange26">postres<small class="u-mgl--6th">(358)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange27" type="checkbox">
 <label class="tags-label" for="tagsFullRange27">regalos hombre<small class="u-mgl--6th">(443)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange28" type="checkbox">
 <label class="tags-label" for="tagsFullRange28">regalos mujer<small class="u-mgl--6th">(114)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange29" type="checkbox">
 <label class="tags-label" for="tagsFullRange29">regalos niños<small class="u-mgl--6th">(665)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange30" type="checkbox">
 <label class="tags-label" for="tagsFullRange30">San Valentín<small class="u-mgl--6th">(546)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange31" type="checkbox">
 <label class="tags-label" for="tagsFullRange31">sexo<small class="u-mgl--6th">(758)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange32" type="checkbox">
 <label class="tags-label" for="tagsFullRange32">solar / ecológico<small class="u-mgl--6th">(659)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange33" type="checkbox">
 <label class="tags-label" for="tagsFullRange33">teletienda<small class="u-mgl--6th">(362)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange34" type="checkbox">
 <label class="tags-label" for="tagsFullRange34">venta directa<small class="u-mgl--6th">(754)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange35" type="checkbox">
 <label class="tags-label" for="tagsFullRange35">verano<small class="u-mgl--6th">(546)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange36" type="checkbox">
 <label class="tags-label" for="tagsFullRange36">viajar<small class="u-mgl--6th">(546)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange37" type="checkbox">
 <label class="tags-label" for="tagsFullRange37">vintage / retro<small class="u-mgl--6th">(324)</small></label>

 <input class="tags-checkbox inputToggle" id="tagsFullRange38" type="checkbox">
 <label class="tags-label" for="tagsFullRange38">Vuelta al cole<small class="u-mgl--6th">(1254)</small></label>

</div>
      
        <button class="button button--narrow u-elem-center">Ver todos los resultados</button>

    </aside>