<input type="radio" class="inputToggle" name="searchResults-resultsTab" checked="true" id="resultsCont1" data-js-reset="check">
<aside class="searchResults-resultsCont">
    <h6 class="searchResults-resultsTitle" data-js="results name">8932 productos con “TELÉFONO FIJO” en 2 categorías seleccionadas.</h6>
    {{> productListSearch}}
    <button class="button button--narrow u-elem-center">Ver todos los resultados</button>
</aside>
