<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="bigMenu-message">
            <div class="modularGrid">
                <div class="modularGrid-module u-lg-10">
                    <svg role="img" class="icon icon--md "><use xlink:href="../../img/icons/svg-defs.svg#icon-truck"></use></svg>
                </div>
                <div class="modularGrid-module u-lg-55">
                    <h3>¿Quiere ser distribuidor?</h3>
                    <p>Disfrutará de los mejores precios al mayor</p>
                </div>
                <div class="modularGrid-module u-lg-35 u-pdl">
                    <button class="bigMenu-message-cta button button--primary"> Más información</button>
                </div>
            </div>
        </div>
    </div>
</div>
