<article class="landingBanner">
<div class="landingBanner-boxed">
<div class="modularGrid  modularGrid--boxed u-tac">
    <h1 class="supertitle">Centro de ayuda</h1>
    <h4 class="superSubtitle">¿Cómo podemos ayudarle?</h4>
  {{!--   <div class="modularGrid-module u-md-60 u-pdb2">
        <input maxlength="100" name="q" id="inputtext1" class="searchForm-searchInput searchForm-searchInput--big" placeholder="Buscar en el centro de ayuda" type="text">
    </div> --}}
</div>
</div>
<picture class="landingBanner-bg">
<source class="landingBanner-bgsource" media="(min-width: 1400px)" srcset="../../img/img-help-center.jpg"></source>
<source class="landingBanner-bgsource" media="(min-width: 1200px)" srcset="../../img/img-help-center-large.jpg"></source>
<source class="landingBanner-bgsource" media="(min-width: 1024px)" srcset="../../img/img-help-center-big.jpg"></source>
<source class="landingBanner-bgsource" media="(min-width: 640px)" srcset="../../img/img-help-center-medium.jpg"></source>
<source class="landingBanner-bgsource" media="(min-width: 480px)" srcset="../../img/img-help-center-small.jpg"></source>
<source class="landingBanner-bgsource" media="(min-width: 300px)" srcset="../../img/img-help-center-tiny.jpg"></source>
<img src="../../img/img-help-center.jpg" class="landingBanner-bgimg">
</picture>
</article>
