<div class="modularGrid-module u-tac u-brb u-pdt--half">
    <section class="mobileCMS-section u-md-90 u-xl-80">
        <h3 class="mobileText-sectionTitle u-elem-center u-txl">Sincronización CSV/XML a su e-commerce</h3>
        <div class="modularGrid u-txl">
            <div class="modularGrid-module u-sm-50">
                <img src="../../img/lever.svg">
                <div class="mobileText-blockText u-pdr">
                    <h5 class="mobileText-paragraphTitle">IMPORTACIÓN MANUAL</h5>
                    <p>BigBuy facilita archivos CSV adaptados al software Prestashop</p>
                    <ul class="mobileText-listBullet u-pdt--half">
                        <li> <strong>Ventajas:</strong> Es aparentemente la opción más económica ya que siguiendo los pasos de nuestro video tutorial y con unos mínimos conocimientos podrá realizar la importación a su Prestashop </li>
                        <li> <strong>Inconvenientes:</strong> Debe descargar diariamente los CSVs y cargarlos manualmente en su Prestashop para mantener actualizado su e-commerce de altas de artículos o roturas de stocks </li>
                    </ul>
                </div>
            </div>
            <div class="modularGrid-module u-sm-50">
                <img src="../../img/automatic.svg">
                <div class="mobileText-blockText u-pdr">
                    <h5 class="mobileText-paragraphTitle">IMPORTACIÓN AUTOMÁTICA</h5>
                    <p>Facilitamos descarga archivos CSV/XML a través de FTP</p>
                    <ul class="mobileText-listBullet u-pdt--half">
                        <li> <strong>Ventajas:</strong> Su web estará sincronizada en todo momento con el catálogo de BigBuy sin tener que realizar las tediosas y lentas importaciones manuales de CSV</li>
                        <li> <strong>Inconvenientes:</strong> Solo es viable la automatización si usted tiene conocimientos para programar un Script con tarea cron. De no ser usted programador, deberá subcontratar uno para que le desarrollen la sincronización automática </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>