<div class="modularGrid-module u-xs-60 u-lg-85  u-elem-center u-pdt u-mgt--half">
    {{> mobileFeaturesList mobileFeaturesList.csvFeatures}}
    <div class="modularGrid u-lg-80 u-elem-center u-pdb">
        <h4 class="mobileText-sectionTitle u-pdb">Los archivos CSV disponen de información sobre todos los productos de BigBuy cuyos campos son:</h4>
        <div class="modularGrid-module u-lg-3rd">
            <ul class="mobileText-listBullet">
                <li>Código de producto</li>
                <li>Código EAN</li>
                <li>Nombre Producto</li>
                <li>Descripción del producto</li>
            </ul>
        </div>
        <div class="modularGrid-module u-lg-3rd">
            <ul class="mobileText-listBullet">
            <li>PVD (Precio Venta Distribuidor)</li>
            <li>PVR (Precio Venta Recomendado)</li>
            <li>Stock</li>
            <li>URL a imágenes (hasta 8 posibles)</li>

        </div>
        <div class="modularGrid-module u-lg-3rd">
            <ul class="mobileText-listBullet">
            <li>Vídeo Youtube (si lo hubiere)</li>
            <li>Fecha de alta</li>
            <li>Fecha de última modificación</li>
            </ul>
        </div>
    </div>
</div>