<div class="modularGrid-module u-tac u-brb u-pdt--half">
    <section class="mobileCMS-section u-md-90 u-xl-70">
        <h3 class="mobileText-sectionTitle u-elem-center u-txl">Tienda Dropshipping sincronizada BigBuy</h3>
        <div class="modularGrid u-txl">
            <div class="modularGrid-module">
                <div class="mobileText-blockText u-pdr">
                    <p> Facilitamos una tienda online sincronizada a BigBuy y 100% testeada. La sincronización que ofrecemos funciona por Bases de Datos MySQL y es mucho más avanzada que importando por CSV/XML.<a class="mobileText-link" href="http://www.bigbuy.eu/es/tienda-dropshipping.html">+info</a></p>
                    <img src="../../img/shop-online.svg" class="u-elem-center u-pd u-mgt img--responsive">
                    <h5 class="mobileText-paragraphTitle"><img src="../../img/mobileIcons/successCircle.svg" class="icon  icon--inline icon--sm"> Ventajas</h5>
                    <ul class="mobileText-listBullet u-pd--half">
                        <li class="u-pdt--half">Entregamos su web en aproximadamente 2-3 días completamente adaptada a la plantilla elegida, con su logotipo y todas las funcionalidades en marcha</li>
                        <li class="u-pdt--half">Su web estará sincronizada en todo momento con el catálogo de BigBuy sin tener que realizar las tediosas y lentas importaciones manuales de CSV</li>
                        <li class="u-pdt--half">Desde el minuto 1 que usted tiene la web se despreocupará de todo aquello que no sea promocionarla o vender productos</li>
                        <li class="u-pdt--half">Para clientes con Pack Premium ofrecemos Pedidos Sincronizados,  evitando hacer los pedidos en BigBuy de forma manual con el clásico copia/pega de todos los datos del destinatario y ahorrará en la gestión de su tienda</li>
                    </ul>
                    <h5 class="mobileText-paragraphTitle u-pdt"><img src="../../img/mobileIcons/errorCircle.svg" class="icon  icon--inline icon--sm"> Inconvenientes</h5>
                     <ul class="mobileText-listBullet u-pdl">
                        <li>Ninguno</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>