<div class="modularGrid-module u-pdt u-mgt--half">
  <aside class="mobileCMS-section mobileCMS-section--inverse">
    <h3 class="mobileCMS-slogan">Descarga archivos DEMO
      <img src="../../img/mobileIcons/download-inverse.svg" class="icon icon--inline mobileCMS-sloganIcon">
    </h3>
    <div class="modularGrid u-xl-90 u-elem-center u-mgb">
      <div class="modularGrid-module u-md-80  u-mgb--half u-md-brr-w">
        <h4 class="mobileCMS-subtitle">CSV</h4>
        <div class="modularGrid u-brt-w ">
          <div class="modularGrid-module u-sm-50 u-md-30 u-tac">
            <h5 class="mobileText-sectionTitle u-pdt">CSV General</h5>
            <figure>
              <img src="../../img/csv.svg" class="icon icon--lg u-elem-center u-pdt--half u-mgb--half">
              <figcaption>
                <a href="../bigbuy_es_demo.csv" class="mobileText-link">Todo en un CSV</a>
                <p>(Productos + combinaciones)</p>
              </figcaption>
            </figure>
          </div>
          <div class="modularGrid-module u-sm-50  u-md-40   u-tac">
            <h5 class="mobileText-sectionTitle u-pdt u-elem-center u-tac">CSV para Prestashop*</h5>
            <figure class="mobileFeature-figure u-xs-45">
              <img src="../../img/csv.svg" class="icon icon--lg u-elem-center u-pdt--half u-mgb--half">
              <figcaption>
                <a href="../bigbuy_es_demo.csv" class="mobileText-link">CSV Productos</a>
              </figcaption>
            </figure>
            <figure class="mobileFeature-figure u-xs-45">
              <img src="../../img/csv.svg" class="icon icon--lg u-elem-center u-pdt--half u-mgb--half">
              <figcaption>
                <a href="../bigbuy_es_demo.csv" class="mobileText-link">CSV Combinaciones</a>
                <p>(Atributos: tallas, colores, pesos, etc.)</p>
              </figcaption>
            </figure>
          </div>
          <div class="modularGrid-module u-sm-50  u-md-30   u-tac ">
            <h5 class="mobileText-sectionTitle u-pdt">CSV de Categorías</h5>
            <img src="../../img/csv.svg" class="icon icon--lg u-elem-center u-pdt--half u-mgb--half">
            <a href="../bigbuy_es_demo.csv" class="mobileText-link">Todo en un CSV</a>
          </div>
        </div>
        <div class="modularGrid-module u-pd">
          <p>*Para clientes con pack mayorista Pro o superior, facilitamos en inglés y español un completo manual y video tutorial donde se explica con todo detalle la forma de importar el CSV manualmente en un entorno Prestashop</p>
        </div>
      </div>
      <div class="modularGrid-module u-md-20  u-mgb--half">
        <h4 class="mobileCMS-subtitle ">XML</h4>
        <div class="modularGrid u-brt-w">
          <div class="modularGrid-module u-tac">
            <h5 class="mobileText-sectionTitle u-pdt">XML General</h5>
            <figure>
              <img src="../../img/xml.svg" class="icon icon--lg u-elem-center u-pdt--half u-mgb--half">
              <figcaption>
                <a href="../bigbuyxml_es_demo.zip" class="mobileText-link">Todo en un XML</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>