<section class="hero hero--catalogo nopadding">
  <div class="hero-content">
    <div class="modularGrid modularGrid--boxed u-flex--between u-flwrap">

      <div class="modularGrid-module u-md-40 u-lg-55  u-v-center u-pdl2 u-flex-start u-order1 u-md-order0">
        <h1 class="hero-title">{{{title}}}</h1>

        <a class="button button--primary homeslider-button u-iblock u-mgv" href="#" title="{{buttontext}}">{{buttontext}}</a>
      </div>
      <div class="modularGrid-module u-xxs-70 u-sm-55 u-md-40 u-tac u-order0 u-md-order1{{#if mobile}} u-elem-center{{/if}}">
      <img src="../../img/{{image}}" alt="" class="img--responsive">

      </div>
    </div>
  </div>
</section>
