<h2 class="title--huge u-pdb--half">¡Muchas gracias!</h2>

{{#if multiple}}
<p class="subtitle2 u-pdv--half">Sus pedidos con número XXX, XXX, se han realizado con éxito</p> 
<p class="subtitle2 u-pdb">Ha elegido la opción de Envío múltiple, por lo que recibirá los productos en varios envíos, a medida que estén disponibles.</p> 

<p class="mobileText">En las próximas horas podrá consultar en su panel de control:</p>       
<ul class="mobileText-listBullet u-pdv--half">
<li>El estado de sus pedidos</li>
<li>El nº de tracking ID (Nº de seguimiento de la empresa de transporte)</li>
<li>La información de seguimiento de sus pedidos.</li>
</ul>

{{else}}

<p class="subtitle2 u-pdv--half">Su pedido con número XXX se han realizado con éxito</p> 

<p class="mobileText">En las próximas horas podrá consultar en su panel de control:</p>       
<ul class="mobileText-listBullet u-pdv--half">
<li>El estado de su pedido</li>
<li>El nº de tracking ID (Nº de seguimiento de la empresa de transporte)</li>
<li>La información de seguimiento de su pedido.</li>
</ul>


{{/if}}
