
            <table class="table responsiveTable-table responsiveTable-table--auto">
                <thead class="table-thead">
                    <tr class="table-tr responsiveTable-tr">
                        <th class="responsiveTable-th responsiveTable-img"></th>
                        <th class="responsiveTable-th">Nombre</th>
                        <th class="responsiveTable-th">Uds.</th>
                        <th class="responsiveTable-th">Precio</th>
                        <th class="responsiveTable-th">Dto.</th>
                        <th class="responsiveTable-th">Precio Dto.</th>
                        <th class="responsiveTable-th">Importe</th>
                    </tr>
                </thead>
                <tbody class="table-tbody table-tbody--stripped">
                   {{#times 10}}
                      {{>tableShippingRow}}
                    {{/times}}
                </tbody>
            </table>



