<tr class="table-tr responsiveTable-tr">
    <td class="responsiveTable-td responsiveTable-img"><img alt="producto" src="../../img/product_small.jpg" ></td>
    <td class="responsiveTable-td">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
    <td class="responsiveTable-td ">4</td>
    <td class="responsiveTable-td ">26,45 €</td>
    <td class="responsiveTable-td ">1.5</td>
    <td class="responsiveTable-td ">26,05 €</td>
    <td class="responsiveTable-td">104,21 €</td>
</tr>


