<nav data-js-accordion_selected_class="mobileTabs-itemHeader--selected" data-js-accordiontype="mobileTabs-itemContent--selected" data-js-accordion="accordion" class="mobileTabs">
    <article class="mobileTabs-item mobileTabs-item--backtab mobileTabs-item--editable ">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">24/48h</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent ">
            <div class="modularGrid">
                <div class="modularGrid-module u-md-30 u-pdb--half">
                    <dl class="nmList-dl">
                        <dt class="nmList-dt">Productos</dt>
                        <dd class="nmList-dd">10</dd>
                        <dt class="nmList-dt">Importe</dt>
                        <dd class="nmList-dd">2.4,035 €</dd>
                        <dt class="nmList-dt">Porte</dt>
                        <dd class="nmList-dd">15 €</dd>
                    </dl>
                </div>
                <div class="modularGrid-module u-pdt">
                    {{>tableShipping}}
                </div>
            </div>
        </section>
    </article>

    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle ">3/5 días</h4>
            <button class="button--edit mobileTabs-editBtn" data-js-edit="">Editar</button>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
             <div class="modularGrid">
                <div class="modularGrid-module u-md-30 u-pdb--half">
                    <dl class="nmList-dl">
                        <dt class="nmList-dt">Productos</dt>
                        <dd class="nmList-dd">10</dd>
                        <dt class="nmList-dt">Importe</dt>
                        <dd class="nmList-dd">2.4,035 €</dd>
                        <dt class="nmList-dt">Porte</dt>
                        <dd class="nmList-dd">15 €</dd>
                    </dl>
                </div>
                <div class="modularGrid-module u-pdt">
                    {{>tableShipping}}
                </div>
            </div>
        </section>
    </article>

</nav>