<h2 class="title2 title2--huge condensed">Ha escogido Envío Múltiple, por lo que hemos dividido su pedido en X pedidos diferentes:</h2>       
<div class="subtitle3 u-pdt venid--success df">{{> svgIcon type='check2' size='sm' class='iconvenid'}}<p><strong >Pedido nº 18952: </strong> <em>Envío inmediato</em></p></div>
<div class="subtitle3 u-pdt venid--success df">{{> svgIcon type='check2' size='sm' class='iconvenid'}}<p><strong >Pedido nº 18953: </strong> <em>Envío 24/48h</em></p></div>
<div class="subtitle3 u-pdt venid--error df">
    <div>{{> svgIcon type='alert2' size='sm' class='iconvenid'}}</div>
    <div>
        <p>
            <strong >Pedido nº 18954: </strong> 
            <em>Mensaje de error de PayPal lorem ipsum veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint </em>
        </p>
        <p class="venidBox--error u-mgv">
            Ha ocurrido un error al realizar su pedido. Por favor, vuelva a hacerlo en <a href="#"><strong>este enlace</strong></a> o en el que hemos enviado a su correo electrónico.
        </p>
        </div>
</div>