<!doctype html>
<html lang="es">
{{> head }}
<body>
    <div class="modularGrid">
        <div class="modularGrid-module">
            {{>header}}
            {{>body}}
        </div>
    </div>
    <div class="modularGrid">
        <div class="modularGrid-module">
            {{>footer}}
        </div>
    </div>  
    {{>langMenu}}
    {{>userMenu}}
    {{>mainNav}}
    {{>toolbarSearch}}
    {{>cookieBar}}
    {{>delayedScripts}}

</body>
</html>