<!doctype html>
<html lang="en" class="fullContent">
{{> head }}
<body>
{{!-- <div class="sizer"></div> --}}
    <div class="modularGrid">
        <div class="modularGrid-module">
          	   {{>header}}
            {{>body}}
        </div>
    </div>
    <div class="modularGrid">
        <div class="modularGrid-module">
            {{>footer}}
        </div>
    </div>
    {{>mainNav}}

    {{>delayedScripts}}

</body>
</html>