<!doctype html>
<html lang="en">
{{> head }}
<body>
{{!-- <div class="sizer"></div> --}}
    <div class="modularGrid">
        <div class="modularGrid-module">
            {{>header}}
            {{>body}}
        </div>
    </div>
    <div class="modularGrid">
        <div class="modularGrid-module">
            {{>footer}}
        </div>
    </div>
    {{>langMenu}}
    {{>userMenu}}
    {{>mainNavAlt}}
    {{>toolbarSearch}}
    {{>delayedScripts home='true'}}

</body>
</html>