<!-- expressCart Row -->
<tr class="table-tr" data-js-back="row">

    <td class="table-item" width="10%">13/014158 </td>
    <td class="table-item" width="18%"> 04/04/2014 </td>
    <td class="table-item" width="16%">empresa de pruebas 2</td>
    <td class="table-item" width="10%"> B118405547 </td>
    <td class="table-item" width="15%">Paypal</td>
    <td class="table-item table-item--number" width="7%">82,25 €</td>
    <td data-js-filter-cell="estado_pedido" class="table-item" width="18%">Pendiente de pago</td>
   <td class="table-item table-item--number table-item--handler " data-js-checkActions="elem"  ><input type="checkbox" class="form-checkbox u-locked-evts" ></td>

</tr>
