<table class="table">
    <thead class="thead">
        <tr class="table-tr">
            <th class="table-th table-item">Nombre del producto</th>
            <th class="table-th table-item">Código</th>
            <th class="table-th table-item table-item--number">Precio</th>
            <th class="table-th table-item table-item--number">Uds.</th>
            <th class="table-th table-item table-item--number">Subtotal</th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowRelated}}
        {{>tableRowRelated}}
        {{>tableRowRelated}}
        {{>tableRowRelated}}
        {{>tableRowRelated}}
    </tbody>
</table>