$primaryLoadingColor: white;
$secondaryLoadingColor: $color-brandYellow-default;
$bulletSize: 6px;
$bulletPos: $bulletSize+2px;



@include block(loading) {
    //display: none;
    //display: block;
    width: 2px;
    height: 2px;
    margin: 35% auto 0;
    -webkit-animation: rotateplane 1.1s infinite;
    animation: rotateplane 1.1s infinite;
    border-radius: 8px;
    outline: medium none;
    background: transparent; //opacity: 0.4;
    box-shadow: -8px -8px 0 $bulletSize $primaryLoadingColor, 8px -8px 0 $bulletSize $secondaryLoadingColor;
}

@-webkit-keyframes rotateplane {
    0%,
    100% {
        box-shadow: 0-$bulletPos 0-$bulletPos 0 $bulletSize $primaryLoadingColor, $bulletPos 0-$bulletPos 0 $bulletSize $secondaryLoadingColor;
    }
    50% {
        box-shadow: $bulletPos 0-$bulletPos 0 $bulletSize $primaryLoadingColor, 0-$bulletPos 0-$bulletPos 0 $bulletSize $secondaryLoadingColor;
    }
}

@keyframes rotateplane {
    0%,
    100% {
        box-shadow: 0-$bulletPos 0-$bulletPos 0 $bulletSize $primaryLoadingColor, $bulletPos 0-$bulletPos 0 $bulletSize $secondaryLoadingColor;
    }
    50% {
        box-shadow: $bulletPos 0-$bulletPos 0 $bulletSize $primaryLoadingColor, 0-$bulletPos 0-$bulletPos 0 $bulletSize $secondaryLoadingColor;
    }
}

$shadowColor: rgba(0, 0, 0, 0.3);


@include extendBlock(loading, dark) {
    display: block;
    display: none;
    width: 2px;
    height: 2px;
    margin: 1rem auto 0;
    -webkit-animation: rotateplaneDark 1.1s infinite;
    animation: rotateplaneDark 1.1s infinite;
    border-radius: 8px;
    outline: medium none;
    background: transparent; //opacity: 1;
    // opacity: 0.7;
    box-shadow: -6px -6px 0 6px $shadowColor, 6px -6px 0 6px $shadowColor;
}

@-webkit-keyframes rotateplaneDark {
    0%,
    100% {
        box-shadow: -8px -6px 0 6px $shadowColor, 8px -6px 0 6px $shadowColor;
    }
    50% {
        box-shadow: 8px -6px 0 6px $shadowColor, -8px -6px 0 6px $shadowColor;
    }
}

@keyframes rotateplaneDark {



    0%,
    100% {
        box-shadow: -8px -6px 0 6px $shadowColor, 8px -6px 0 6px $shadowColor;
    }
    50% {
        box-shadow: 8px -6px 0 6px $shadowColor, -8px -6px 0 6px $shadowColor;
    }
}

.popup-container[data-loading] > .modularGrid {
    //pointer-events: none;
}