@include block(pack) {
    outline: none;
    font-family: $type-headingscms;
    color: $color-pack-text;
    padding: $um / 6 $um / 2;
    border-radius: 2px;
    font-size: $um / 1.8;
    font-size: $um / 1.5;
    font-weight: 400;
    display: inline-block;
    line-height: 1.2;
    vertical-align: top;
    white-space: nowrap;
    cursor: default;
    &:focus {
        outline: none;
    }
    @include element(groupPacks) {
        display: inline-block;
        font-size: 1rem;
        margin-bottom: -1px;
        color: rgba(0, 0, 0, 0.6);
    }
    @include modifier(full) {
        text-transform: none;
        font-weight: 600;
        font-size: $um / 1.5;
        padding-top: $um / 2;
        padding-bottom: $um / 2;
        text-align: center;
        width: 90%;
    }
    @include modifier(big) {
        text-transform: none;
        text-transform: uppercase;
        font-size: $um / 1.5;
        padding: $um / 3 $um / 1.5;
        text-align: center;
        min-width: 8rem;
        margin: 0 $um / 3;
    }
    @include modifier(bigger) {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1;
        margin: 0 0.5rem;
        min-width: 12rem;
        padding: 0.65rem 1rem 0.6rem;
        text-align: center;
        text-transform: uppercase;
    }
    @include modifier(medium) {
        text-transform: none;
        font-size: $um / 1.5;
        font-family: $type-headingscms;
        padding-top: $um / 3;
        padding-bottom: $um / 3;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 8rem;
    }
    @include modifier(large) {
        text-transform: none;
        font-size: $um / 1.5;
        padding-top: 0.4rem;
        padding-bottom: $um / 3;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12rem;
    }
    @include modifier(none) {
        background: none;
        background: #e5e5e5;
        color: #333;
        &:hover,
        &:focus {
            background: none;
            background: #e5e5e5;
            color: #333;
        }
    }
    @include modifier(nopack) {
        background: $color-lightGrey-default;
        color:black;
        &:hover,
        &:focus {
            background: $color-lightGrey-default;
        }
    }
    @include modifier(pro) {
        background: $color-pro-pack;
        &:hover,
        &:focus {
            background: $color-pro-pack;
        }
    }
    @include modifier(b2b) {
        background-color: $color-b2b-pack;
        &:hover,
        &:focus {
            background-color: $color-b2b-pack;
        }
    }
    @include modifier(dropship) {
        background-color: $color-dropship-pack;
        &:hover,
        &:focus {
            background-color: $color-dropship-pack;
        }
    }
    @include modifier(enterprise) {
        background-color: $color-enterprise-pack;
        &:hover,
        &:focus {
            background-color: $color-enterprise-pack;
        }
    }
    @include modifier(business) {
        background: $color-business-pack;
        &:hover,
        &:focus {
            background: $color-business-pack;
        }
    }
    @include modifier(premium) {
        background: $color-premium-pack;
        &:hover,
        &:focus {
            background: $color-premium-pack;
        }
    }
    @include modifier(welcome) {
        background: $color-welcome-pack;
        &:hover,
        &:focus {
            background: $color-welcome-pack;
        }
    }
    @include modifier(basic) {
        background: $color-basic-pack;
        &:hover,
        &:focus {
            background: $color-basic-pack;
        }
    }
}

@include extendBlock(pack, inline) {
    color: currentColor;
    padding: $um/2.5 0 0;
    font-weight: 700;
    font-size: $um;
}



.pack.button--pack {
    border:none;
    font-size: 0.9rem;
    padding: 2rem 0.5rem 0.3rem;
    margin:0.25rem;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center 0.45rem;
    color:rgba(255,255,255,0.6);
    border-radius:2px;
    border:1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    strong{
        color:white;
    }
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0iI2ZmZiIgb3BhY2l0eT0iLjUzIiBkPSJNNTMuOCA0LjJjLTEuNS0uOC01LjEtLjctNi41IDBsLTM2LjYgMTljLTEuNi45LTIuNyA0LjctMi43IDUuOHYzOS45YzAgMS42IDEuMiA1IDIuNyA1LjlsMzYuNiAyMC45YzEuNC44IDMuOS44IDUuNCAwbDM2LjYtMjAuOWMxLjItLjcgMi43LTQuMyAyLjctNS45di0zOS45YzAtMi0xLjMtNS4xLTIuNy01LjlsLTM1LjUtMTguOXptLTM3LjcgNjUuOWMtLjktLjUtMS43LTEuOC0xLjctMi45di0zMi43YzAtMS4xLjgtMS41IDEuNy0xbDI4LjcgMTYuNGMuOS41IDEuNyAxLjggMS43IDIuOXYzMi43YzAgMS4xLS44IDEuNS0xLjcgMWwtMjguNy0xNi40em0zNy42LTI3LjFjLTIuMyAxLjMtNC4xIDEuMy02LjUgMGwtMjcuNi0xNS4zYy0uOS0uNS0uOS0xLjQgMC0xLjlsMjguOC0xNC4zYy45LS41IDIuNS0uNSAzLjQgMGwyOC43IDE0LjNjLjkuNS45IDEuNCAwIDEuOWwtMjYuOCAxNS4zem0xLjUgNDMuNWMtLjkuNS0xLjcuMS0xLjctMXYtMzIuNmMwLTEuMS44LTIuNCAxLjctMi45bDI4LjctMTYuM2MuOS0uNSAxLjctLjEgMS43IDF2MzIuN2MwIDEuMS0uOCAyLjQtMS43IDIuOWwtMjguNyAxNi4yeiIvPjwvc3ZnPg==);
    &:hover, &:focus, &:active {
        box-shadow: none;
        outline: none;
        background-position: center 0.45rem;
    }
}
.pack.button--pack.pack--b2b {
    background-color: #ff7c54;


    &:hover {

        background-color: #FF6944;
    }
}

.pack.button--pack.pack--dropship {
    background-color: #ffae37;
    &:hover {

        background-color: #FF9D2B;
    }
}

.pack.button--pack.pack--enterprise {
    background-color: #92cd41;
    &:hover {

        background-color: #80AE2C;
    }
}