<div class="modularGrid-module ">
    <img class="img img--responsive" alt="" src="../../img/import-header.jpg">
</div>
<div class="modularGrid-module mobileCMS-header mobileCMS-header--overImage">
    <h1 class="mobileCMS-title">IMPORT / EXPORT</h1>
    <h2 class="mobileCMS-subtitle">Servicio integrales / Importación de China</h2>
</div>
