<h2 class="superTitle">¡Ya casi está!</h2>
<p class="subtitle u-pdv--half">Para poder confirmar su pedido con Id. 10555830, deberá subir su justificante de pago desde 
el apartado <strong><em>Pedidos</em></strong> del <strong><em>Panel de Control</em></strong> de BigBuy en un plazo máximo de <strong>24h</strong></p> 
{{#if order}}
<p class="mobileText">Una vez subido y revisado por nuestro equipo podrá consultar:</p>       
<ul class="mobileText-listBullet u-pdb--half">
<li>El estado de su pedido</li>
<li>El nº de tracking ID (Nº de seguimiento de la empresa de transporte)</li>
<li>La información de seguimiento de su pedido.</li>
</ul>
{{/if}}
<p><strong>Recuerde que el pago ha de realizarse por transferencia bancaria a la cuenta:</strong></p>
<p><strong>XXXXXXXXXXXXXXXXXXXX<br>XXXXXXXXXXXXXXXXXXXX</strong></p>
<button class="button button--primary u-mgv">Subir justificante desde mi Panel de Control</button>