<div class="ventaCMS-section u-mgb">
   <div class="modularGrid-module  u-flex-grow1 cmsContentSection--decrease">
      <table class="table" >
        <thead class="table-thead  table-thead--borderless">
         <tr class="table-tr">
           <th class="table-item u-brdr">
            <div class="pricePanel-header pricePanel-header--b2b u-content-center u-mgb"> 
              {{>svgIcon type='pack' size='sm'}}
              <span class="pack pack--b2b pack--bigger"><span class="u-op-50">Pack</span> b2b</span>
           </div> 
        </th>

        <th class="table-item">
           <div class="pricePanel-header pricePanel-header--dropship u-content-center u-mgb">
            {{>svgIcon type='pack' size='sm'}}
            <span class="pack pack--dropship pack--bigger"><span class="u-op-50">Pack</span> dropship</span>
         </div> 
      </th>

      <th class="table-item u-brdl">
         <div class="pricePanel-header pricePanel-header--enterprise u-content-center u-mgb">
          {{>svgIcon type='pack' size='sm'}}
          <span class="pack pack--enterprise pack--bigger"><span class="u-op-50">Pack</span> enterprise</span>
       </div> 
    </th>
 </tr> 
</thead>

<tfoot >
   <tr class="table-tr">
      <td class="table-item u-brdr u-xs-3rd u-tac u-pdb2">
        <strike>Cuota de alta 99 €</strike>
        <p class="subtitle3 u-pdt--half u-pdb">0 € / mes</p>
        <button class='button button--big button--primary'>Activar</button>
     </td>

     <td class="table-item u-xs-3rd u-tac u-pdb2">
        <strike>Cuota de alta 99 €</strike>
        <p class="subtitle3 u-pdt--half u-pdb">49 € / mes</p>
        <button class='button button--big button--primary'>Activar</button>
     </td>
     <td class="table-item u-brdl u-xs-3rd u-tac u-pdb2">
        <strike>Cuota de alta 99 €</strike>
        <p class="subtitle3 u-pdt--half u-pdb">99 € / mes</p>
        <button class='button button--big button--primary'>Activar</button>
     </td>
  </tr> 
</tfoot>
<tbody class="tbody">
 <tr class="table-tr">
    <td class="table-item u-brdr text u-pdv--half u-pdh u-mgb--min table-item--top  u-xs-3rd">
      Para clientes que valoran no tener que adquirir grandes cantidades de un artículo, ya que podrán comprar unidades sueltas a precio mayorista PVD e incluso obtener descuentos adicionales. Es perfecto para clientes que se envían todos los pedidos a su almacén, aunque se permiten 3 envíos dropshipping al mes
   </td>

   <td class="table-item text u-pdv--half u-pdh u-mgb--min table-item--top u-xs-3rd">
      Para clientes que son capaces de sincronizar el catálogo de BigBuy a través de archivos CSV/XML o mediante una API.
   </td>

   <td class="table-item u-brdl text u-pdv--half u-pdh u-mgb--min table-item--top u-xs-3rd">
      Para clientes que quieren una tienda dropshipping sincronizada a BigBuy de forma completa: catálogo, stocks, pedidos, transportistas, precios de envío y trackings. Incluye acceso a Multi-Channel Integration Platform, y E-marketplace Integration.
   </td>
</tr> 

<tr class="table-tr">
  <td class="table-item u-brdr u-xs-3rd u-pdh2">
   <p class="subtitle1">Incluye:</p>
</td>

<td class="table-item u-xs-3rd u-pdh2">
   <p class="subtitle1">Incluye Pack B2B y además:</p>
</td>

<td class="table-item u-brdl u-xs-3rd u-pdh2">
   <p class="subtitle1">Incluye Pack Dropship y además:</p>
</td>

</tr> 


<tr class="table-tr">

 <td class="table-item table-item--top u-brdr u-xs-3rd u-pdh2 ">

    <ul class="list">

      <li class="list-item">Unidades sueltas a precio mayorista PVD</li>

      <li class="list-item">Descuento automático hasta el 10% del PVD</li>

      <li class="list-item">Hasta 3 envíos dropshipping al mes</li>

      <li class="list-item">Bloqueo de stock por 7 días</li>

      <li class="list-item">Carga masiva de pedidos por CSV</li>

      <li class="list-item">Descarga de trackings</li>

      <li class="list-item">Pedido mínimo 1,50 €</li>

   </ul> 

</td>

<td class="table-item table-item--top u-xs-3rd u-pdh2 ">

  <ul class="list">

    <li class="list-item">Envíos dropshipping ilimitados</li>

    <li class="list-item">API para catálogo, pedidos, transportistas y trackings</li>

    <li class="list-item">Catálogo de productos BigBuy en archivos CSV/XML</li>

    <li class="list-item">Catálogo en 24 idiomas europeos</li>

    <li class="list-item">Descarga de material para marketing online</li>

    <li class="list-item">Pedido mínimo 0,01 €</li>

 </ul> 

</td>

<td class="table-item table-item--top u-brdl u-xs-3rd u-pdh2 ">

   <ul class="list">

     <li class="list-item">Multi-channel Integration Platform</li>

     <li class="list-item">Integración a emarketplaces (solo con tienda dropshipping 360º)</li>

  </ul> 

</td>

</tr> 
</tbody>

</table>


</div>
</div>