<div class="modularGrid u-pdt">
  <div class="modularGrid-module u-xl-90 u-elem-center u-xl-brdr">       
    <div class="modularGrid  modularGrid--equalHeights u-flwrap u-pdt--half">
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.b2b2 message=packsMayoristasData.b2bmsg1}}     
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd">
         {{>packBB packsMayoristasData.dropship1 message=packsMayoristasData.dropshipmsg1}}           
      </div>
      <div class="modularGrid-module u-md-45 u-lg-3rd"> 
        {{>packBB packsMayoristasData.enterprise1 message=packsMayoristasData.enterprisemsg1}}
      </div>
    
    </div>
</div>
