<div class="modularGrid">
   <div class="modularGrid-module u-xxs-80 u-xs-70 u-sm-60 u-md-40 u-lg-25 u-elem-center">
    <img src="../../img/happy-user.svg" alt="" class="">
 </div>
 <div class="modularGrid-module">
    <h1 class="supertitle u-elem-center u-tac">¡Su cuenta se ha creado con éxito!</h1>
    <p class="subtitle2 u-op-60 u-elem-center u-tac u-mgt">Active ahora su Pack Mayorista y aproveche todo lo que ofrece BigBuy</p>
 </div>
</div>