<div class="footer-advantages">
  <div class="modularGrid modularGrid--boxed">

    <div class="modularGrid-module u-xs-6th">
      <div class="footer-advantages-item footer-advantages-item--1">

        <img src="../../img/footer-01.svg" class="icon icon--inline icon--lg footer-advantagesIcon" alt="icon">   
        <span class="footer-advantagesText">Líder Mayorista Europeo</span>
      </div>
    </div>

    <div class="modularGrid-module u-xs-6th">
      <div class="footer-advantages-item ">
        <img src="../../img/footer-02.svg" class="icon icon--inline icon--lg footer-advantagesIcon" alt="icon">
        <span>Miles de Productos</span>
      </div>
    </div>

    <div class="modularGrid-module u-xs-6th">
      <div class="footer-advantages-item ">
       <img class="icon icon--inline icon--lg footer-advantagesIcon" src="../../img/footer-03.svg">
        <span class="footer-advantagesText">Primeras marcas</span>

      </div>
    </div>

    <div class="modularGrid-module u-xs-6th">
      <div class="footer-advantages-item ">
       <img class="icon icon--inline icon--lg footer-advantagesIcon" src="../../img/footer-04.svg">
        <span>Servicio<br/>Dropshipping</span>
      </div>
    </div>

    <div class="modularGrid-module u-xs-6th">
      <div class="footer-advantages-item ">
       <img class="icon icon--inline icon--lg footer-advantagesIcon" src="../../img/footer-05.svg">
        <span>Multichannel<br/>Management</span>
      </div>
    </div>

    <div class="modularGrid-module u-xs-6th">
      <div class="footer-advantages-item footer-advantages-item--6">
       <img class="icon icon--inline icon--lg footer-advantagesIcon" src="../../img/footer-06.svg">
        <span>>E-Marketplaces<br/>Integration</span>
      </div>
    </div>
  </div>
</div>
