
<div class="footer-utils">
  <div class="modularGrid modularGrid--boxed">
       {{!-- <div class="modularGrid-module u-xs-100 u-sm-3rd">
            <section class="footer-utils-section popularSearch--mobile">
                <h3 class="footer-sectionTitle">Búsquedas populares</h3>
                <a href="" class="tags-link">Outlet ofertas</a>
                <a href="" class="tags-link">Top ventas</a>
                <a href="" class="tags-link">Teletienda TV</a>
                <a href="" class="tags-link">Artículos de broma</a>
                <a href="" class="tags-link">Jamón de jabugo</a>
                <a href="" class="tags-link">Gadgets</a>
                <a href="" class="tags-link">Regalos originales</a>
                <a href="" class="tags-link">Novedades</a>
            </section>
        </div>

        <div class="modularGrid-module u-xs-100 u-sm-3rd">
            <section class="footer-utils-section recentSearch--mobile">
                <h3 class="footer-sectionTitle">Búsquedas recientes</h3>
                <div class="footer-breadcrumbs">
                    <a href="#" title="" class="recentSearch-item ">Air</a>
                    <a href="#" title="" class="recentSearch-item ">Hugo Boss</a>
                    <a href="#" title="" class="recentSearch-item ">P1 watch</a>
                    <a href="#" title="" class="recentSearch-item ">Tristar</a>
                    <a href="#" title="" class="recentSearch-item ">Steam mop water</a>
                    <a href="#" title="" class="recentSearch-item ">Hot dog head</a>
                    <a href="#" title="" class="recentSearch-item ">Ceramic pan</a>
                    <a href="#" title="" class="recentSearch-item ">Mop</a>
                </div>
            </section>
        </div> --}}
       {{!--  <div class="modularGrid-module u-xs-100 u-sm-50">
            <section class="footer-utils-section recentSearch--mobile">
                <h3 class="footer-sectionTitle">Etiquetas populares</h3>
                <ul class="tags">
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/9/">adelgazar</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/7/">amor</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/12/">bebida</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/1/">belleza</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/4/">calor</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/13/">coche</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/11/">comida</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/8/">dinero</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/16/">diversion</a></li>
                    <a class="tags-link" href="http://www.bigbuy.eu/es/tag/product/list/tagId/15/">fiesta</a></li>
                </ul>
            </section>
        </div> --}}

        {{!-- <div class="modularGrid-module u-xs-100 u-sm-3rd"> --}}
        <div class="modularGrid-module">
            <section class="footer-utils-section">
                <h3 class="subtitle5 u-mgb">Etiquetas populares</h3>
                <nav class="tags tags--footer">



                   <a href="https://www.bigbuy.eu/es/tag/view/black-friday" style="font-size:133.1965110313%;" class="tags-link">black friday</a>

                    <a href="https://www.bigbuy.eu/es/tag/view/a-la-moda" style="font-size:133.1965110313%;" class="tags-link">a la moda</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/adelgazar" style="font-size:119.08671113391%;" class="tags-link">adelgazar</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/ahorro" style="font-size:106.72139558748%;" class="tags-link">ahorro</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/aire-libre-camping" style="font-size:136.99332991278%;" class="tags-link">aire libre / camping</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/amor-romantico" style="font-size:107.69625448948%;" class="tags-link">amor / romántico</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/animales" style="font-size:113.59671626475%;" class="tags-link">animales</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/bebidas" style="font-size:104.00205233453%;" class="tags-link">bebidas</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/belleza" style="font-size:126.57773217034%;" class="tags-link">belleza</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/chef-cocinillas" style="font-size:133.70959466393%;" class="tags-link">chef / cocinillas</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/cosmetica-natural" style="font-size:101.949717804%;" class="tags-link">cosmética natural</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/decoracion" style="font-size:165.57208825038%;" class="tags-link">decoración</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/deportista-en-forma" style="font-size:119.59979476655%;" class="tags-link">deportista / en forma</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/desayunar" style="font-size:106.36223704464%;" class="tags-link">desayunar</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/ferreteria" style="font-size:112.8270908158%;" class="tags-link">ferretería</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/fiesta" style="font-size:147.76808619805%;" class="tags-link">fiesta</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/gadget" style="font-size:161.00564391996%;" class="tags-link">gadget</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/invierno" style="font-size:125.75679835813%;" class="tags-link">invierno</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/led-iluminacion" style="font-size:118.21446895844%;" class="tags-link">led / iluminación</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/licencias" style="font-size:123.80708055413%;" class="tags-link">licencias</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/merchandising-paises" style="font-size:104.20728578758%;" class="tags-link">merchandising países</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/navidad" style="font-size:147.76808619805%;" class="tags-link">navidad</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/noche" style="font-size:123.24268855823%;" class="tags-link">noche</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/outlet" style="font-size:142.38070805541%;" class="tags-link">outlet</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/pascua" style="font-size:106.92662904053%;" class="tags-link">Pascua</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/playa" style="font-size:130.78501795793%;" class="tags-link">playa</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/postres" style="font-size:113.34017444844%;" class="tags-link">postres</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/regalos-hombre" style="font-size:166.75218060544%;" class="tags-link">regalos hombre</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/regalos-mujer" style="font-size:200%;" class="tags-link">regalos mujer</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/regalos-ni-os" style="font-size:197.84504874295%;" class="tags-link">regalos niños</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/san-valentin" style="font-size:110.67213955875%;" class="tags-link">San Valentín</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/sexo" style="font-size:105.79784504874%;" class="tags-link">sexo</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/solar-ecologico" style="font-size:108.26064648538%;" class="tags-link">solar / ecológico</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/teletienda" style="font-size:186.81375064135%;" class="tags-link">teletienda</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/venta-directa" style="font-size:119.44586967676%;" class="tags-link">venta directa</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/verano" style="font-size:150.12827090816%;" class="tags-link">verano</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/viajar" style="font-size:137.55772190867%;" class="tags-link">viajar</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/vintage-retro" style="font-size:126.88558234992%;" class="tags-link">vintage / retro</a>


                    <a href="https://www.bigbuy.eu/es/tag/view/vuelta-al-cole" style="font-size:109.9025141098%;" class="tags-link">Vuelta al cole</a>
                    </nav>

                       </section>
        </div>
    </div>
</div>
