<div class="footerAwards">
    <div class="footerAwards-item">
        <svg class="footerAwards-logo footerAwards-logo--paypal" role="img">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-paypal_white"></use>
        </svg>
        <p class="footerAwards-name">AWARDS 10TH ANNIVERSARY</p>
        <p class="footerAwards-prize">BEST INNOVATIVE E-COMMERCE</p>
    </div>
     <div class="footerAwards-item">
        <svg class="footerAwards-logo" role="img">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-eawards_logo"></use>
        </svg>
        <p class="footerAwards-name footerAwards-name--big">2017</p>
        <p class="footerAwards-prize">BEST CROSS BORDER STRATEGY</p>
    </div>
     <div class="footerAwards-item">
        <svg class="footerAwards-logo" role="img">
             <use xlink:href="../../img/icons/svg-defs.svg#icon-eawards"></use>
        </svg>
        <p class="footerAwards-name footerAwards-name--big">2016</p>
        <p class="footerAwards-prize">BEST INTERNATIONAL E-COMMERCE</p>
    </div>
    <div class="footerAwards-item">
        <svg class="footerAwards-logo" role="img">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-eawards"></use>
        </svg>
        <p class="footerAwards-name footerAwards-name--big">2016</p>
        <p class="footerAwards-prize">BEST INNOVATIVE E-COMMERCE</p>
    </div>
    <div class="footerAwards-item">
        <svg class="footerAwards-logo" role="img">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-eawards_logo"></use>
        </svg>
        <p class="footerAwards-name footerAwards-name--big">2015</p>
        <p class="footerAwards-prize">BEST B2B E-COMMERCE</p>
    </div>
    
</div>
 <div class="footer-terms">
    <div class="modularGrid modularGrid--boxed u-mgt--half">
        <div class="modularGrid-module">
            <p class="footer-sitemap-link">
                Los precios de venta no incluyen el I.V.A. ni la entrega.
                 </p>

                <p>
                © 2012 - 2014  BigBuy Europe. Todos los derechos reservados.
            </p>
        </div>
    </div>
</div>


