<nav class="footer-sitemap">
  <div class="modularGrid modularGrid--boxed">
    <div class="modularGrid-module u-xs-100 u-sm-50  u-md-30 u-lg-25 u-pdt u-pdr2">
      {{>footerlinks1}}
    </div>
    <div class="modularGrid-module u-xs-100 u-sm-50 u-md-30 u-lg-25 u-pdt u-pdr2">
      {{>footerlinks2}}
    </div>
    <div class="modularGrid-module u-xs-100 u-sm-50 u-md-30 u-lg-25 u-pdt u-pdr2">
      {{>footerlinks3}}
    </div>
    <div class="modularGrid-module u-xs-100 u-sm-50 u-md-30 u-lg-25 u-pdt">
      {{>footerlinks4}}
    </div>    
  </div>
</nav>
{{>preheader footerClass='true'}}


