
<div class="modularGrid">
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent">
                    {{>svgIcon type='wallet' size='md' class='u-op-60 u-pdr--half'}}
                    <h1 class="adressCard-titleName">Monedero</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent">
                    <p><strong>Saldo actual:</strong> 1250,60 €</p>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent">
                    {{>svgIcon type='packUpgrade' size='md' class='u-op-60 u-pdr--half'}}
                    <h1 class="adressCard-titleName">Sin Pack Activo</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent ">
                    <button class="button button--primary button--big">Contratar</button>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-60 bannerUpgrade">
        <div class="bannerUpgrade-content">
            <p class="bannerUpgrade-title">Sácale todo el partido a BigBuy y activa un pack mayorista</p>
            <ul class="bannerUpgrade-features">
                <li class="bannerUpgrade-feature">Envíos dropshipping a toda Europa</li>
                <li class="bannerUpgrade-feature">Unidades sueltas a precio mayorista</li>
                <li class="bannerUpgrade-feature">Catálogo de productos en 24 idiomas europeos</li>
                <li class="bannerUpgrade-feature">Sincronización de catálogo, pedidos y trackings</li>
            </ul>
            <div class="bannerUpgrade-packs">
            <a href="#" class="pack pack--basic pack--medium">{{>svgIcon type='pack'}} Pack Basic</a>
            <a href="#" class="pack pack--pro pack--medium">{{>svgIcon type='pack'}} Pack Pro</a>
            <a href="#" class="pack pack--business pack--medium">{{>svgIcon type='pack'}} Pack Business</a>
            <a href="#" class="pack pack--premium pack--medium">{{>svgIcon type='pack'}} Pack Premium</a>
            </div>            
        </div>        
    </div> 
</div>
<div class="modularGrid u-mgt">
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent">
                    {{>svgIcon type='wallet' size='md' class='u-op-60 u-pdr--half'}}
                    <h1 class="adressCard-titleName">Monedero</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent">
                    <p><strong>Saldo actual:</strong> 1250,60 €</p>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" >
                <div class="adressCard-title adressCard-title--flexcontent adressCard-title--basic">
                    {{>svgIcon type='pack' size='md' class='u-pdr--half'}}
                    <h1 class="adressCard-titleName">Pack Basic Activo</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent ">
                <p class="u-mgt">Válido hasta: 27/02/2020</p>
                    <a href="#" class="link u-mgt--half">Cancelar</a>
                </div>
            </article>
         
        </div>
    </div>
    <div class="modularGrid-module u-xs-60 bannerUpgrade">
        <div class="bannerUpgrade-content">
            <p class="bannerUpgrade-title">Haz crecer tu negocio dropshipping activando un pack mayorista superior</p>
            <ul class="bannerUpgrade-features">
                <li class="bannerUpgrade-feature">Envíos dropshipping ilimitados</li>
                <li class="bannerUpgrade-feature">Catálogo en 24 idiomas europeos</li>
                <li class="bannerUpgrade-feature">Múltiples opciones de sincronización</li>
            </ul>
            <div class="bannerUpgrade-packs">           
            <a href="#" class="pack pack--pro pack--medium">{{>svgIcon type='pack'}} Pack Pro</a>
            <a href="#" class="pack pack--business pack--medium">{{>svgIcon type='pack'}} Pack Business</a>
            <a href="#" class="pack pack--premium pack--medium">{{>svgIcon type='pack'}} Pack Premium</a>
            </div>            
        </div>        
    </div> 
</div>



<div class="modularGrid u-mgt">
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent">
                    {{>svgIcon type='wallet' size='md' class='u-op-60 u-pdr--half'}}
                    <h1 class="adressCard-titleName">Monedero</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent">
                    <p><strong>Saldo actual:</strong> 1250,60 €</p>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent adressCard-title--pro">
                    {{>svgIcon type='pack' size='md' class='u-pdr--half'}}
                    <h1 class="adressCard-titleName"> Pack Pro Activo</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent ">
                    <p class="u-mgt">Válido hasta: 27/02/2020</p>
                    <a href="#" class="link u-mgt--half">Cancelar</a>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-60 bannerUpgrade">
        <div class="bannerUpgrade-content">
            <p class="bannerUpgrade-title">Accede a otros mercados, activando el pack Business o Premium</p>
            <ul class="bannerUpgrade-features">
                <li class="bannerUpgrade-feature">Catálogo en 24 idiomas europeos</li>
                <li class="bannerUpgrade-feature">Sincronización de catálogo, pedidos y trackings</li>
                <li class="bannerUpgrade-feature">Vende en otros países</li>
            </ul>
            <div class="bannerUpgrade-packs">           
            <a href="#" class="pack pack--business pack--medium">{{>svgIcon type='pack'}} Pack Business</a>
            <a href="#" class="pack pack--premium pack--medium">{{>svgIcon type='pack'}} Pack Premium</a>
            </div>            
        </div>        
    </div> 
</div>

<div class="modularGrid u-mgt">
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent">
                    {{>svgIcon type='wallet' size='md' class='u-op-60 u-pdr--half'}}
                    <h1 class="adressCard-titleName">Monedero</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent">
                    <p><strong>Saldo actual:</strong> 1250,60 €</p>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent adressCard-title--business">
                    {{>svgIcon type='pack' size='md' class='u-pdr--half'}}
                    <h1 class="adressCard-titleName"> Pack Business Activo</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent ">
                    <p class="u-mgt">Válido hasta: 27/02/2020</p>
                    <a href="#" class="link u-mgt--half">Cancelar</a>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-60 bannerUpgrade">
        <div class="bannerUpgrade-content">
            <p class="bannerUpgrade-title">Sincronización total, activando el pack Premium</p>
            <ul class="bannerUpgrade-features">
                <li class="bannerUpgrade-feature">Sincronización de catálogo, pedidos y trackings</li>
                <li class="bannerUpgrade-feature">Invierta el tiempo en vender, y no en manualidades</li>
                <li class="bannerUpgrade-feature">Automatice procesos que no aportan valor a su negocio</li>
            </ul>
            <div class="bannerUpgrade-packs"> 
            <a href="#" class="pack pack--premium pack--medium">{{>svgIcon type='pack'}} Pack Premium</a>
            </div>            
        </div>        
    </div> 
</div>


<div class="modularGrid u-mgt">
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent">
                    {{>svgIcon type='wallet' size='md' class='u-op-60 u-pdr--half'}}
                    <h1 class="adressCard-titleName">Monedero</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent">
                    <p><strong>Saldo actual:</strong> 1250,60 €</p>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-20">
        <div class="u-pdr">
            <article data-js-id_row="11132" class="u-brd">
                <div class="adressCard-title adressCard-title--flexcontent adressCard-title--premium">
                    {{>svgIcon type='pack' size='md' class='u-pdr--half'}}
                    <h1 class="adressCard-titleName"> Pack Premium Activo</h1>
                </div>
                <div class="adressCard-content adressCard-content--flexcontent ">
                    <p class="u-mgt">Válido hasta: 27/02/2020</p>
                    <a href="#" class="link u-mgt--half">Cancelar</a>
                </div>
            </article>
        </div>
    </div>
    <div class="modularGrid-module u-xs-60 bannerUpgrade">
        <div class="bannerUpgrade-content">
            <p class="bannerUpgrade-title">Ahorre 3 mensualidades en su pack Premium</p>
            <ul class="bannerUpgrade-features">
                <li class="bannerUpgrade-feature">Pago semestral, ahorro de una mensualidad</li>
                <li class="bannerUpgrade-feature">Pago anual, ahorro de 3 mensualidades</li>
            </ul>
            <div class="bannerUpgrade-packs"> 
            <a href="#" class="button button--primary button--big">Ver</a>
            </div>            
        </div>        
    </div> 
</div>



