<!-- expressCart Row -->
<tr class="table-tr table-tr--error" data-js-back="row">
    <td class="table-item">
        <svg role="img" class="icon icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-orders"></use></svg>
    </td>
    <td class="table-item u-xs-60">Pedido nยบ 65487 Pendiente de Pago </td>
    <td class="table-item u-xs-35"> 04/04/2014 </td>
</tr>
