<fieldset class="form-fieldset form-fieldset--sequential form-fieldset--compressed">
    <h3 class="form-fieldset-title">¿En qué servicios de BigBuy está interesado?</h3>
    <div data-js-fieldset-gadgets="servicios" class="modularGrid">
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="4_25" data-js-gadget="servicios" name="servicios" id="servicios25" class="form-checkbox">
            <label title="B2B (Comprar al por mayor)" for="servicios25" class="form-label form-label--inline">B2B (Comprar al por mayor)</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="4_26" data-js-gadget="servicios" name="servicios" id="servicios26" class="form-checkbox">
            <label title="B2B&ndash;2C (Servicio dropshipping)" for="servicios26" class="form-label form-label--inline">B2B&ndash;2C (Servicio dropshipping)</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="4_27" data-js-gadget="servicios" name="servicios" id="servicios27" class="form-checkbox">
            <label title="B2B-CSV (Archivos CSV)" for="servicios27" class="form-label form-label--inline">B2B-CSV (Archivos CSV)</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="4_28" data-js-gadget="servicios" name="servicios" id="servicios28" class="form-checkbox">
            <label title="B2B-eShop (Tienda online sincronizada)" for="servicios28" class="form-label form-label--inline">B2B-eShop (Tienda online sincronizada)</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="4_29" data-js-gadget="servicios" name="servicios" id="servicios29" class="form-checkbox">
            <label title="B2B&ndash;7Days (Bloqueo de stock)" for="servicios29" class="form-label form-label--inline">B2B&ndash;7Days (Bloqueo de stock)</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="4_30" data-js-gadget="servicios" name="servicios" id="servicios30" class="form-checkbox">
            <label title="B2B-Import (Import-Export)" for="servicios30" class="form-label form-label--inline">B2B-Import (Import-Export)</label>
        </div>
        <div class="modularGrid-module ">
            <input type="checkbox" value="4_31" data-js-gadget="servicios" name="servicios" id="servicios31" class="form-checkbox">
            <label title="Ninguno, me interesa hacer una compra puntual" for="servicios31" class="form-label form-label--inline">Ninguno, me interesa hacer una compra puntual</label>
        </div>
    </div>
</fieldset>