<fieldset class="form-fieldset form-fieldset--sequential form-fieldset--compressed">
    <h3 class="form-fieldset-title">¿Le interesa en especial alguna de estas gamas de productos?</h3>
    <div data-js-fieldset-gadgets="venta" class="modularGrid">
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_12" data-js-gadget="venta" name="venta" id="venta12" class="form-checkbox">
            <label title="Regalos originales / Gadgets / Teletienda" for="venta12" class="form-label form-label--inline">Regalos originales / Gadgets / Teletienda</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_13" data-js-gadget="venta" name="venta" id="venta13" class="form-checkbox">
            <label title="Artículos de broma / festivos" for="venta13" class="form-label form-label--inline">Artículos de broma / festivos</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_14" data-js-gadget="venta" name="venta" id="venta14" class="form-checkbox">
            <label title="Ferretería / Bricolaje" for="venta14" class="form-label form-label--inline">Ferretería / Bricolaje</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_15" data-js-gadget="venta" name="venta" id="venta15" class="form-checkbox">
            <label title="Belleza / Estética" for="venta15" class="form-label form-label--inline">Belleza / Estética</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_16" data-js-gadget="venta" name="venta" id="venta16" class="form-checkbox">
            <label title="Salud / Bienestar" for="venta16" class="form-label form-label--inline">Salud / Bienestar</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_17" data-js-gadget="venta" name="venta" id="venta17" class="form-checkbox">
            <label title="Gym / Fitness" for="venta17" class="form-label form-label--inline">Gym / Fitness</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_18" data-js-gadget="venta" name="venta" id="venta18" class="form-checkbox">
            <label title="Alimentación / Bebidas / Gourmet" for="venta18" class="form-label form-label--inline">Alimentación / Bebidas / Gourmet</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_19" data-js-gadget="venta" name="venta" id="venta19" class="form-checkbox">
            <label title="Multiprecio / Bazar / Quioscos" for="venta19" class="form-label form-label--inline">Multiprecio / Bazar / Quioscos</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_20" data-js-gadget="venta" name="venta" id="venta20" class="form-checkbox">
            <label title="Moda / Complementos" for="venta20" class="form-label form-label--inline">Moda / Complementos</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_21" data-js-gadget="venta" name="venta" id="venta21" class="form-checkbox">
            <label title="Electrónica / Pequeños electrodomésticos " for="venta21" class="form-label form-label--inline">Electrónica / Pequeños electrodomésticos </label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_22" data-js-gadget="venta" name="venta" id="venta22" class="form-checkbox">
            <label title="Perfumería / Cosmética / Higiene personal" for="venta22" class="form-label form-label--inline">Perfumería / Cosmética / Higiene personal</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="3_24" data-js-gadget="venta" name="venta" id="venta24" class="form-checkbox">
            <label title="No quiero más información" for="venta24" class="form-label form-label--inline">No quiero más información</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" data-js-otros="venta" value="3_23" data-js-gadget="venta" name="venta" id="venta23" class="form-checkbox">
            <label title="Otros (indique cuáles)" for="venta23" class="form-label form-label--inline">Otros (indique cuáles)</label>
            <div style="display: none;" data-js-gadget-otros="venta" class="modularGrid-module u-md-80">
                <input type="text" class="form-input u-mgt--half ">
            </div>
        </div>
    </div>
</fieldset>

