<fieldset class="form-fieldset form-fieldset--sequential form-fieldset--compressed">
    <h3 class="form-fieldset-title">¿Cuáles son sus canales de venta?</h3>
    <div data-js-fieldset-gadgets="sector" class="modularGrid">
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_3" data-js-gadget="sector" name="sector" id="sector_3" class="form-checkbox">
            <label title="Venta al mayor / Distribución" for="sector_3" class="form-label form-label--inline">Venta al por mayor / Distribución</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_4" data-js-gadget="sector" name="sector" id="sector_4" class="form-checkbox">
            <label title="Tienda física / Comercio" for="sector_4" class="form-label form-label--inline">Tienda física / Comercio</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_5" data-js-gadget="sector" name="sector" id="sector_5" class="form-checkbox">
            <label title="E-MarketPlace  (Ebay, Amazon, etc.)" for="sector_5" class="form-label form-label--inline">E-MarketPlace  (Ebay, Amazon, etc.)</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_6" data-js-gadget="sector" name="sector" id="sector_6" class="form-checkbox">
            <label title="Tienda Online / e-Commerce " for="sector_6" class="form-label form-label--inline">Tienda Online / E-Commerce </label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_7" data-js-gadget="sector" name="sector" id="sector_7" class="form-checkbox">
            <label title="Venta Flash / Web compra colectiva" for="sector_7" class="form-label form-label--inline">Venta flash / Web de compra colectiva</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_8" data-js-gadget="sector" name="sector" id="sector_8" class="form-checkbox">
            <label title="Regalo Promocional" for="sector_8" class="form-label form-label--inline">Regalo Promocional</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_9" data-js-gadget="sector" name="sector" id="sector_9" class="form-checkbox">
            <label title="Venta directa" for="sector_9" class="form-label form-label--inline">Venta directa</label>
        </div>
         <div class="modularGrid-module u-md-50">
            <input type="checkbox" value="1_11" data-js-gadget="sector" name="sector" id="sector_11" class="form-checkbox">
            <label title="Ninguno" for="sector_11" class="form-label form-label--inline">Ninguno</label>
        </div>
        <div class="modularGrid-module u-md-50">
            <input type="checkbox" data-js-otros="" value="1_10" data-js-gadget="sector" name="sector" id="sector_10" class="form-checkbox">
            <label title="Otros   (Indicar cuáles)" for="sector_10" class="form-label form-label--inline">Otros   (Indicar cuáles)</label>
            <div style="display: none" data-js-gadget-otros="sector" class="modularGrid-module u-md-80">
                <input type="text" class="form-input u-mgt--half ">
            </div>
        </div>

    </div>
</fieldset>

