 <fieldset class="form-fieldset form-fieldset--sequential form-fieldset--compressed ">
                    <h3 class="form-fieldset-title u-pdt--half">¿Es usted comprador habitual de nuestros artículos similares a los de BigBuy?</h3>
                    <div class="modularGrid">
                    <div class="modularGrid-module u-md-50">
                        <input type="radio" value="seller_ok" id="seller_ok" name="seller" class="form-radio">
                        <label class="form-label form-label--inline" for="seller_ok" title="Sí he comprado a otros proveedores">Sí he comprado a otros proveedores</label>
                        </div>
                        <div class="modularGrid-module u-md-50">
                        <input type="radio" value="seller_ko" id="seller_ko" name="seller" class="form-radio">
                        <label class="form-label form-label--inline" for="self_employed" title="No, es la primera vez">No, es la primera vez</label>
                        </div>
                    </div>
                </fieldset>