<fieldset class="form-fieldset form-fieldset--sequential">
    <h3 class="form-fieldset-title">Datos de usuario</h3>
    <div class="modularGrid">
        <div class="modularGrid-module u-md-50 ">
            <label class="form-label">E-mail</label>
            <input type="text" class="form-input">
        </div>
        <div class="modularGrid-module u-md-50 u-pdl">
            <label for="confirmemail" class="form-label">Confirmar E-mail</label>
            <input type="text" maxlength="64" name="confirmemail" class="form-input">
        </div>
    </div>
    <div class="modularGrid">
        <div class="modularGrid-module u-md-50">
            <label class="form-label">Contraseña <span data-js-tooltip="tooltip_passwd_create" class="form-info"><i class="icon fa fa-info-circle"  data-js-tooltip="tooltip_passwd_create"></i> </span></label>
            <input type="password" value="" maxlength="50" name="passwd"  id="pass" class="form-input">
        </div>
        <div class="modularGrid-module u-md-50 u-pdl">
            <label class="form-label" for="confirmpass">Confirmar contraseña</label>
            <input type="password" class="form-input" id="confirmpass">
        </div>
    </div>
</fieldset>

