
<div class="modularGrid-module mobileCMS-header">

	<div class="modularGrid">
		<div class="modularGrid-module ">
			<img class="mobileCMS-illustration" alt="" src="../../img/bigCards.svg">
		</div>

		<div class="modularGrid-module ">
			<h1 class="mobileCMS-title">FORMAS DE PAGO</h1>
		</div>

		<div class="modularGrid-module">
			<h2 class="mobileCMS-subtitle">Múltiples opciones de pago seguras</h2>
		</div>
	</div>
</div>