<section class="panel-section">
 <h2 class="panel-section-title">Elegir un Pack</h2>

 <form action="" class="form u-pd">
    <fieldset class="form-fieldset form-fieldset--borderless">
        <div class="modularGrid">
            <div class="modularGrid-module u-pdt--half">
                <div class="form-radiogroup">
                    <input type="radio" id="pro" class="form-radio u-mgt--half" name="packs">
                    <label title="Pack Pro" for="pro" class="form-label"><span class="pack pack--big pack--pro u-mgb--half">Pack Pro</span>15€ / Mes</label>
                    <input type="radio" id="business" class="form-radio u-mgt--half" name="packs">
                    <label title="Pack Business" for="business" class="form-label"><span class="pack pack--big pack--business u-mgb--half">Pack Business</span>27€ / Mes</label>
                    <input type="radio" id="premium" class="form-radio u-mgt--half" name="packs">
                    <label title="Pack Business +" for="premium" class="form-label"><span class="pack pack--big pack--premium u-mgb--half">Pack Business + </span>45€ / Mes</label>
                </div>

            </div>
        </div>
        <p class="form-info">Estos precios no incluyen la cuota de alta (45 € ) para clientes que actualizan desde Pack Welcome.</p>
    </fieldset>
    <fieldset class="form-fieldset form-fieldset--borderless u-mgt">
        <h3 class="form-fieldset-title">Facturar a:</h3>
        <div class="modularGrid">
            <div class="modularGrid-module u-md-50">
                <select class="form-select" name="" id="country">
                    <option value="">Info de facturación por defecto</option>
                    <option value="">Info de facturación nueva</option>
                </select>
            </div>
        </div>
        <div class="modularGrid u-md-70">
            <div class="modularGrid-module u-md-40"><strong>NIF</strong></div>
            <div class="modularGrid-module u-md-60">260485745W</div>
            <div class="modularGrid-module u-md-40"><strong>Razón Social</strong></div>
            <div class="modularGrid-module u-md-60">BigBuy</div>
            <div class="modularGrid-module u-md-40"><strong>Dirección</strong></div>
            <div class="modularGrid-module u-md-60">c/ flora y tristán, 32 F</div>
            <div class="modularGrid-module u-md-40"><strong>País</strong></div>
            <div class="modularGrid-module u-md-60">España</div>
            <div class="modularGrid-module u-md-40"><strong>Provincia</strong></div>
            <div class="modularGrid-module u-md-60">Valencia</div>
            <div class="modularGrid-module u-md-40"><strong>Población</strong></div>
            <div class="modularGrid-module u-md-60">Alaquàs</div>
            <div class="modularGrid-module u-md-40"><strong>Teléfono</strong></div>
            <div class="modularGrid-module u-md-60">604854214</div>
        </div>
        <div class="modularGrid">
            <div class="modularGrid-module">
               <p class="form-info u-mgt">El precio final incluirá el 21% de IVA.</p>
               <p class="form-info ">Se cobrará la primera cuota a través de PayPal o tarjeta.</p>
               <p class="form-info">Resto de cuotas mensuales se cobrarán del mismo modo de forma automática.</p>
           </div>
       </div>
   </fieldset>
   <fieldset class="form-fieldset form-fieldset--borderless u-mgt">

       <div class="modularGrid">
        <button class="button button--primary button--big">Activar Suscripción</button>
        <div class="modularGrid-module u-md-80 u-pdl  u-pdt--four">
         <i class="icon icon-card icon-card--mini icon-card--visa">VISA </i>
         <i class="icon icon-card icon-card--mini icon-card--americanExpress">American Express </i>
         <i class="icon icon-card icon-card--mini icon-card--paypal">Paypal </i>
         <i class="icon icon-card icon-card--mini icon-card--masterCard">Mastercard </i>
         <i class="icon icon-card icon-card--mini icon-card--credit">Credit </i>
     </div>
 </div>
</fieldset>
</form>
</section>

