
<section class="panel-section">

    <div class="panel-section-title">Cancelar Pack</div>

    <form action="" class="form u-pd">
        <fieldset class="form-fieldset form-fieldset--borderless">

            <em data-js-tooltip="tooltip3" class="form-info"><b class="icon form-info-icon fa-info-circle"></b> Qué occure si cancelo mi pack?</em>
            <div class="modularGrid">
                <div class="modularGrid-module">
                    <button class="button button--big u-mgt--half u-mgb--half ">Cancelar Suscripción</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>

