<div class="panel panel--secondary panel--inactive" data-js-panel-name="panel02" data-js-panel-state="inactive">

    <div class="panel-title">
    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
    <div class="panel-titleName">
      <a href="" class="panel-breadcrumbLink">Packs</a>
       <a class="panel-breadcrumbLink">Activar Pack</a>
    </div>
    </div>

    <div class="panel-content panel-content--contrast">

             <div class="modularGrid">
                <div class="modularGrid-module u-lg-60  ">

          {{>bannerPacks01}}
           </div>

       <div class="modularGrid-module u-lg-30  ">

          {{>bannerPacks02}}

        </div>

    </div>
    {{>backButton datapanel='toggletab' }}

</div>

