<table class="table table--slim u-brb">

    <thead class="table-thead">
        <tr>
            <th scope="row" class="table-item u-md-40">
                <p class="u-pdl--half u-pdr">Descubra las ventajas disponibles con los PACKS Mayoristas</p>
                <a href="#" class="form-info form-info--inline u-mgl--half">Ver Comparación completa de packs</a>
            </th>
            <th scope="row" class="table-item table-item--boolean u-vb" colspan="2">
                Para clientes de venta al mayor
                <div class="modularGrid u-pdt">
                    <div class="modularGrid-module u-md-50">
                        <span class="pack pack--welcome">Welcome</span>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <span class="pack pack--basic ">Basic</span>
                    </div>
                </div>
            </th>
            <th scope="row"class="table-item table-item--boolean u-vb" colspan="2">
                Para clientes de venta al mayor, sincronización y dropshipping
                <div class="modularGrid u-pdt--half">
                    <div class="modularGrid-module u-md-50">
                        <span class="pack pack--pro">Pro</span>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <span class="pack pack--business ">Business</span>
                    </div>
                </div>
            </th>
            <th class="table-item table-item--boolean u-vb">
                Para clientes con solución llave en mano. Tienda Dropshipping
                <div class="modularGrid u-pdt--half">
                    <div class="modularGrid-module">
                        <span class="pack pack--premium">Premium</span>
                    </div>
                </div>
            </th>
        </thead>
        <tbody class="table-tbody table-tbody--stripped">
            <tr class="table-tr">
                <td scope="row" class="table-item"><p class="u-pdl--half">Tarifa PVD (inclusive en uds. sueltas)</p> </td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
            <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half">Descuento automático del 6%</p> </td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
            <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half">Reserva de productos para promociones</p> </td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
            <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half">Dropshipping a Europa.</p> </td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
          {{!--   <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half">Rappel Anual</p> </td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
                <td class="table-item table-item--boolean u-md-10">0.5%</td>
                <td scope="row" class="table-item table-item--boolean u-md-10">0.75%</td>
                <td class="table-item table-item--boolean">1.00%</td>
            </tr> --}}
            <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half u-pdr--half">Descarga apoyo en marketing online gráfico y banners para newsletters, web o catálogos</p> </td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
            <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half">Sincronización Idiomas (1 idioma)</td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
            <tr class="table-tr">
                <td scope="row" class="table-item u-xl-40"><p class="u-pdl--half">Sincronización Idiomas (21 idiomas)</td>
                <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i> </td>
                <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
                <td scope="row" class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
                <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            </tr>
        </tbody>
    </table>
