<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>ordersTableHeader0}}
        {{>ordersTableFooter}}
        <tbody class="table-tbody table-tbody--stripped">
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}
            {{>ordersTableRow0}}

            </tbody>
    </table>
</div>