<thead class="table-thead">
    <tr class="table-tr responsiveTable-tr">
        <th class="responsiveTable-th">
            <p>Detalle</p>
        </th>
        <th class="responsiveTable-th">
            <p>Fecha</p>
            <input type="text" class="form-input ">
        </th>
        <th class="responsiveTable-th">
            <p>N.ยบ pedido</p>
            <input type="text" class="form-input ">
        </th>
        <th class="responsiveTable-th" >
            <p>Importe</p>
            <input type="text" class="form-input">
        </th>
        <th class="responsiveTable-th" >
            <p>Tracking</p>
        </th>
        <th class="responsiveTable-th" >
            <p>Acciones</p>
        </th>
    </tr>
</thead>
