<thead class="table-thead">
    <tr class="table-tr responsiveTable-tr">
        <th class="responsiveTable-th">

                    <p>Detalle</p>

        </th>
        <th class="responsiveTable-th">

                    <p>Fecha</p>

            <input type="text" class="form-input ">
        </th>
        <th class="responsiveTable-th">

                    <p>N.º pedido</p>

            <input type="text" class="form-input ">
        </th>


        <th class="responsiveTable-th" >

                <p>Importe</p>

            <input type="text" class="form-input">
        </th>

        <th class="responsiveTable-th" >

                    <p>Tracking</p>


        </th>
    </tr>
</thead>
{{!-- <thead class="table-thead">
    <tr class="table-tr responsiveTable-tr">
        <th class="responsiveTable-th u-vt">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Detalle
                </div>
            </div>
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Fecha
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    N.º pedido
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Ref. interna
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed">
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Destinatario
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed">
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Forma de pago
                </div>
            </div>
            <select class="form-select form-select--condensed">
                <option>Paypal</option>
                <option>Tarjeta Crédito</option>
                <option>Monedero</option>
                <option>Contrarrembolso</option>
                <option>Transferencia Bancaria</option>
            </select>
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Transportista
                </div>
            </div>
            <select class="form-select form-select--condensed">
                <option>--</option>
                <option>Chrono</option>
                <option>Correos</option>
                <option>GLS</option>
                <option>SEUR</option>
                <option>Recogida de Almacen</option>
                <option>TNT</option>
                <option>Campillo</option>
                <option>A revisar</option>
                <option>A revisar Paypal</option>
            </select>
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    RDO
                </div>
            </div>
            <select class="form-select form-select--condensed">
                <option>No disponible</option>
                <option>Pendiente</option>
                <option>Pagado</option>
            </select>
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                Importe
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed">
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Estado
                </div>
            </div>
            <select class="form-select form-select--condensed">
                <option>--</option>
                <option>En proceso</option>
                <option>Entregado</option>
                <option>Expedido</option>
                <option>Pendiente de Pago</option>
                <option>Procesado</option>
            </select>
        </th>
        <th class="responsiveTable-th" >
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Tracking
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed">
        </th>
    </tr>
</thead> --}}

