<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>ordersTableHeader}}
        {{>ordersTableFooter}}
        <tbody class="table-tbody table-tbody--stripped">
            {{>ordersTableRow1}}
            {{>ordersTableRow2}}
            {{>ordersTableRow1}}
            {{>ordersTableRow1}}
            {{>ordersTableRow1}}
            {{>ordersTableRow1}}
            </tbody>
    </table>
</div>