<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
    <td class="responsiveTable-td">
    <a class="button button--icon" href="orderDetail.html" title="Detalle de pedido"> <img src="../../img/mobileIcons/plus.svg"  class="icon icon--xs icon--inline"alt="" ></a>
    </td>
    <td class="responsiveTable-td">29/08/2014</td>
    <td class="responsiveTable-td">001130</td>
    <td class="responsiveTable-td u-tar">2.000,00 €</td>

    <td class="responsiveTable-td">
    <button class="button button--icon">
    <img src="../../img/mobileIcons/location.svg"  class="icon"alt="" >
    </button></td>
</tr>
{{!-- <tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
    <td class="responsiveTable-td">
    <a class="button button--icon" href="orderDetail.html" title="Detalle de pedido"> <img src="../../img/mobileIcons/plus.svg"  class="icon icon--xs icon--inline"alt="" ></a>
    </td>
    <td class="responsiveTable-td">29/08/2014</td>
    <td class="responsiveTable-td">001130</td>
    <td class="responsiveTable-td">1_F05050181</td>
    <td class="responsiveTable-td">Destinatario del pedido</td>
    <td class="responsiveTable-td">Transferencia bancaria</td>
    <td class="responsiveTable-td">Recogida de Almacen</td>
    <td class="responsiveTable-td">No disponible</td>
    <td class="responsiveTable-td u-tar">2.000,00 €</td>
    <td class="responsiveTable-td"> Pendiente de pago</td>
    <td class="responsiveTable-td"><button class="button button--icon">

    <img src="../../img/mobileIcons/location.svg"  class="icon"alt="" >


    </button></td>
</tr> --}}
