<tfoot>
<tr class="table-tr responsiveTable-tr">
    <th class="responsiveTable-th" colspan="100">


    <button class="buttonPagination buttonPagination--arrow" disabled>&#171;</button>
    <button class="buttonPagination buttonPagination--arrow" disabled>&#8249;</button>
    <button class="buttonPagination buttonPagination--selected">1</button>
    <button class="buttonPagination">2</button>
    {{!-- <span class="buttonPagination buttonPagination--dots">...</span> --}}
    <button class="buttonPagination">100</button>
    <button class="buttonPagination buttonPagination--arrow">&#8250;</button>
    <button class="buttonPagination buttonPagination--arrow">&#187;</button>



    </th>

</tr>
</tfoot>
