<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
    <td class="responsiveTable-td">
    <a class="button button--icon" href="orderDetail.html" title="Detalle de pedido"> <img src="../../img/mobileIcons/plus.svg"  class="icon icon--xs icon--inline"alt="" ></a>
    </td>
    <td class="responsiveTable-td">29/08/2014</td>
    <td class="responsiveTable-td">001130</td>
    <td class="responsiveTable-td u-tar">2.000,00 €</td>

    <td class="responsiveTable-td"> --  </td>
    <td class="responsiveTable-td">
    <button class="button button--icon" data-js-popuplauncher="../../static/popups/popup_repeatorder.html" >
    <img src="../../img/mobileIcons/clone.svg" class="icon"alt="" >
    </button>

    <button class="button button--icon" data-js-popuplauncher="../../static/popups/popup_deleteorder.html">
    <img src="../../img/mobileIcons/trash.svg"  class="icon"alt="" >
    </button>
    </td>
</tr>
