<div class="modularGrid ">
    <div class="modularGrid-module u-pdl u-pdt">
        <h4 class="mobileText-subtitle">Seguimientos</h4>
    </div>
    <div class="modularGrid-module u-pd">
        <div class="responsiveTable-container">
            <table class="table responsiveTable-table">
                <thead class="table-thead ">
                    <tr class="table-tr responsiveTable-tr">
                        <th class="responsiveTable-th u-tal">Fecha</th>
                        <th class="responsiveTable-th u-tal">Hora</th>
                        <th class="responsiveTable-th u-tal">Estado</th>
                        <th class="responsiveTable-th u-tal">Transportista</th>
                        <th class="responsiveTable-th u-tal">Nº seguimiento</th>
                        <th class="responsiveTable-th u-tal">Destinatario</th>

                    </tr>
                </thead>
                <tbody class="table-tbody table-tbody--stripped">
                   {{>tabsOrderDetail3Row}}
                   {{>tabsOrderDetail3Row}}
                   {{>tabsOrderDetail3Row}}
                   {{>tabsOrderDetail3Row}}
                   {{>tabsOrderDetail3Row}}
                   {{>tabsOrderDetail3Row}}

                </tbody>
            </table>
        </div>
    </div>
</div>