<nav data-js-accordion_selected_class="mobileTabs-itemHeader--selected" data-js-accordiontype="mobileTabs-itemContent--selected" data-js-accordion="accordion" class="mobileTabs">
<article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Detalle</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent nopadding">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>tabsOrderDetail1}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Facturas</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent nopadding">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>tabsOrderDetail2}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Seguimientos</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent nopadding">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>tabsOrderDetail3}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Justificantes</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent nopadding">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>tabsOrderDetail4}}
                </div>
            </div>
        </section>
    </article>

</nav>