<div class="modularGrid ">
    <div class="modularGrid-module u-pdl u-pdt">
        <h4 class="mobileText-subtitle">Facturas</h4>
    </div>
    <div class="modularGrid-module u-pd">
        <div class="responsiveTable-container">
            <table class="table responsiveTable-table">
                <thead class="table-thead ">
                    <tr class="table-tr responsiveTable-tr">
                        <th class="responsiveTable-th">Nº factura </th>
                        <th class="responsiveTable-th">Fecha</th>
                        <th class="responsiveTable-th">CIF</th>
                        <th class="responsiveTable-th">Forma de pago</th>
                        <th class="responsiveTable-th u-tar">Importe</th>
                        <th class="responsiveTable-th">Estado</th>
                    </tr>
                </thead>
                <tbody class="table-tbody table-tbody--stripped">
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                   {{>tabsOrderDetail2Row}}
                </tbody>
            </table>
        </div>
    </div>
</div>