<tr class="table-tr responsiveTable-tr">
    <td class="responsiveTable-td u-tal">04/04/2014 </td>
    <td class="responsiveTable-td u-tal">06:02 </td>
    <td class="responsiveTable-td u-tal">Entregado </td>
    <td class="responsiveTable-td u-tal">Correos </td>
    <td class="responsiveTable-td u-tal">ES74846877RES74846877RES74846877R</td>
    <td class="responsiveTable-td u-tal"></td>
</tr>
