<div class="modularGrid ">
    <div class="modularGrid-module u-pdl u-pdt">
        <h4 class="mobileText-subtitle">Justificantes enviados</h4>
    </div>
    <div class="modularGrid-module u-sm-70 u-md-50 u-lg-40 u-pd">
        <div class="responsiveTable-container">
            <table class="table responsiveTable-table">
                <thead class="table-thead ">
                    <tr class="table-tr responsiveTable-tr">
                        <th class="responsiveTable-th">Concepto </th>
                        <th class="responsiveTable-th">Fecha</th>
                    </tr>
                </thead>
                <tbody class="table-tbody table-tbody--stripped">
                    <tr class="table-tr responsiveTable-tr">
                        <td class="responsiveTable-td">Adjunto nº1 </td>
                        <td class="responsiveTable-td">04/04/2014 </td>
                    </tr>
                    <tr class="table-tr responsiveTable-tr">
                        <td class="responsiveTable-td">Adjunto nº1 </td>
                        <td class="responsiveTable-td">04/04/2014 </td>
                    </tr>
                    <tr class="table-tr responsiveTable-tr">
                        <td class="responsiveTable-td">Adjunto nº1 </td>
                        <td class="responsiveTable-td">04/04/2014 </td>
                    </tr>
                    <tr class="table-tr responsiveTable-tr">
                        <td class="responsiveTable-td">Adjunto nº1 </td>
                        <td class="responsiveTable-td">04/04/2014 </td>
                    </tr>
                    <tr class="table-tr responsiveTable-tr">
                        <td class="responsiveTable-td">Adjunto nº1 </td>
                        <td class="responsiveTable-td">04/04/2014 </td>
                    </tr>
                    <tr class="table-tr responsiveTable-tr">
                        <td class="responsiveTable-td">Adjunto nº1 </td>
                        <td class="responsiveTable-td">04/04/2014 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>