<div class="modularGrid">
  <div class="modularGrid-module sequential u-md-50">
    <h4 class="mobileText-subtitle">Información de facturación</h4>
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Tipo de Cliente:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Particular  </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>NIF/CIF/VAT:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> ES24379919B </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Nombre:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Empresa:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Dirección:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> San Pascual, 63, 46960 </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>País:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> España </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Provincia:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> VALENCIA / VALÉNCIA </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Localidad:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Valencia </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Teléfono:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> +34 692041818 / +34 </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Recargo equivalencia:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> No </div>
    </div>
  </div>
  <div class="modularGrid-module sequential u-md-50">
    <h4 class="mobileText-subtitle">Información de envío</h4>
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Empresa:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Nombre:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Dirección:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> San Pascual, 63, 46960 </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>País:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> España </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Provincia:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> VALENCIA / VALÉNCIA </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Localidad:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Valencia </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Teléfono:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> +34 692041818 / +34  </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Método de envío:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Recogida en Almacen  </div>
    </div>
  </div>
  <div class="modularGrid-module sequential">
    <div class="modularGrid">
      <div class="modularGrid-module u-sm-50 u-md-30 u-lg-25">
        <h4 class="mobileText-subtitle">Forma de pago</h4>
        <p>Transferencia bancaria </p>
      </div>
      <div class="modularGrid-module u-sm-50 u-md-30 u-lg-25">
        <h4 class="mobileText-subtitle">Fecha de creación</h4>
        <p>29/10/2014 19:39:36 </p>
      </div>
      <div class="modularGrid-module u-sm-50 u-md-30 u-lg-25">
        <h4 class="mobileText-subtitle">Estado del pedido</h4>
        <p>Pendiente de pago </p>
      </div>
    </div>
  </div>
</div>
<div class="modularGrid u-pd u-brt">

  <div class="responsiveTable-container">
    <table class="table responsiveTable-table">
      <thead class="table-thead ">
        <tr class="table-tr responsiveTable-tr">
          <th class="responsiveTable-th">Nombre del producto</th>
          <th class="responsiveTable-th">Código</th>
          <th class="responsiveTable-th">Uds.</th>
          <th class="responsiveTable-th">Precio</th>
          <th class="responsiveTable-th">Dto</th>
          <th class="responsiveTable-th  u-tar">Precio con dto.</th>
          <th class="responsiveTable-th">Importe</th>
        </tr>
      </thead>
      <tbody class="table-tbody table-tbody--stripped">
        <tr class="table-tr responsiveTable-tr">
          <td class="responsiveTable-td">Barbacoa Eléctrica Portátil de Sobremesa</td>
          <td class="responsiveTable-td">B1530184</td>
          <td class="responsiveTable-td">3</td>
          <td class="responsiveTable-td">8,55 €</td>
          <td class="responsiveTable-td">0,0%</td>
          <td class="responsiveTable-td  u-tar">8,55 €</td>
          <td class="responsiveTable-td  u-tar">25,65 €</td>
        </tr>
         <tr class="table-tr responsiveTable-tr">
          <td class="responsiveTable-td noborder" colspan="5"></td>
          <td class="responsiveTable-td noborder u-tar">
          <p>Subtotal</p>
          <p>Gastos de pago</p>
          <p>Transporte</p>
          <p class="textBlue">Base imponible</p>
          <p>IVA</p>
          <p>Recargo de equivalencia</p>
          <p class="textBlue">Total</p>
          </td>
          <td class="responsiveTable-td noborder u-tar">
          <p><strong>25,65 €</strong></p>
          <p><strong>0,00 €</strong></p>
          <p><strong>0,00 €</strong></p>
          <p class="textBlue"><strong>25,65 €</strong></p>
          <p><strong>5,39 €</strong></p>
          <p><strong>0,00 €</strong></p>
          <p class="textBlue"><strong>31,04 €</strong></p>


          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>