<tr class="table-tr responsiveTable-tr">
    <td class="responsiveTable-td">14/016777</td>
    <td class="responsiveTable-td">04/04/2014 </td>
    <td class="responsiveTable-td">ES74846877R</td>
    <td class="responsiveTable-td">Monedero</td>
    <td class="responsiveTable-td u-tar">8.83 €</td>
    <td class="responsiveTable-td">Expedido </td>
</tr>
