
<div class="modularGrid-module u-pdb--half {{#if size}} u-xs-{{size}} {{/if}}">
<label class="form-legend">{{title}}
{{#if tooltip}}
<span data-js-tooltip="{{tooltip}}" class="form-info"><i class="icon fa fa-info-circle"></i>
{{/if}}
</label>
</div>
