<div class="fileInput {{#if disabled}} fileInput--disabled{{/if}}">
<input type="file" title="Seleccionar archivo" class="form-input--file fileInput-input" {{#if disabled}} disabled="disabled"{{/if}}>
 <button class="button fileInput-button"> <svg class="icon icon--inline icon--xs" role="img"> <use xlink:href="../../img/icons/svg-defs.svg#icon-clip"></use></svg>Adjuntar</button>
</div>

