<div class="modularGrid-module box u-xs-35 u-pd">
	<section class="modularGrid u-pdb">
		<div class="modularGrid-module u-xs-35 u-pdr">
			<img src="../../img/contact.svg">
		</div>
		<div class="modularGrid-module u-xs-65">
			<h4 class="subtitle3">Atención al cliente</h4>
			<img src="../../img/comercial_phone2.svg" class="u-block u-mgv">
			<img src="../../img/comercial_mail2.svg" class="u-block ">
		</div>
	</section>
	{{>helpCenterItem}}
</div>




