<section class="modularGrid-module u-pdt u-brt">
    <p class="u-mgb{{#if mobile}} u-pdh{{/if}}">Todas las respuestas a sus dudas encuéntrelas en estas tres secciones:</p>
    <nav class="cmsContact-list {{#if mobile}} u-pdh{{/if}}">
        <a href="#" class="cmsContact-link u-mgb">
            <span class="cmsContact-linktext">
                <strong class="subtitle3">{{>svgIcon type="helpcenter" class="icon--primary u-vb"}}CENTRO DE AYUDA</strong>
                <i class="cmsContact-linktext">Preguntas y respuestas frecuentes</i>
            </span>
            <span class="button button--ghost u-pen">+ info</span>
        </a>
        <a href="#" class="cmsContact-link u-mgb">
            <span class="cmsContact-linktext">
                <strong class="subtitle3">{{>svgIcon type="academy" class="icon--primary u-vb"}}ACADEMY</strong>
                <i class="cmsContact-linktext">Documentación y ayuda técnica para clientes</i>
            </span>
            <span class="button button--ghost u-pen">+ info</span>
        </a>
        <a href="#" class="cmsContact-link">
            <span class="cmsContact-linktext">
                <strong class="subtitle3">{{>svgIcon type="pencil" class="icon--primary u-vb"}}BLOG</strong>
                <i class="cmsContact-linktext">Especializado en Marketing para eCommerce</i>
            </span>
            <span class="button button--ghost u-pen">+ info</span>
        </a>
    </nav> 
</section>  
