<div class="modularGrid-module">
    <h3 class="title">LISTADO DE CONSULTAS</h3>
</div>

<div class="modularGrid-module box u-pdt u-pdb u-mgb2">

<nav class="tabs tabs--mini">
<a class="tabs-item tabs-item--selected"  href="#">
<span class="tabs-itemTitle ">Abiertos</span>
</a>
<a class="tabs-item"  href="#">
<span class="tabs-itemTitle ">Cerrados</span>
</a>
</nav>
{{>tableTicketsList ticketsTableRows}}

</div>



