<div class="modularGrid-module  u-xs-50 u-flr u-tar">
    <p class="form-label--optional">Tamaño de archivos adjuntos <span>1.34</span> de 20.00 Mb</p>
    <div class="progressBar progressBar--tiny u-xs-70">
        <span class="progressBar-meter" style="width: 7%;"></span>
    </div>
</div>

<div class="modularGrid">   
    <div class="fileInput-container u-xs-100" data-js-input-files="input-files">
    <button class="uploadFile">Archivo 2<svg class="uploadFile-icon" role="img"> <use xlink:href="../../img/icons/svg-defs.svg#icon-times"></use></svg></button>
    <button class="uploadFile">Archivo 1<svg class="uploadFile-icon" role="img"> <use xlink:href="../../img/icons/svg-defs.svg#icon-times"></use></svg></button>
        <div class="fileInput ">
            <input data-js-input="input" id="filemsg1" name="filemsg1" type="file" multiple="" class="form-input--file fileInput-input">
            <button class="button fileInput-button"> 
                <svg class="icon icon--inline icon--xs" role="img"> 
                <use xlink:href="../../img/icons/svg-defs.svg#icon-clip"></use>
                </svg>
                Adjuntar
            </button>
        </div>
    </div>
</div>