
<div class="contentTickets-scrollArea">

    <div class="contentTickets-scrollArea--title u-pdb--third">Bigbuy <em class="form-label--optional">21 Junio 2016 13:50</em></div>
    <div class="contentTickets-scrollArea--content u-pdb--half  u-mgb--half">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis scelerisque libero, nec consectetur diam placerat nec. Etiam ac nulla sit amet felis eleifend venenatis eget nec justo. Aliquam interdum leo ex.
    </div>

    <div class="contentTickets-scrollArea--title u-pdb--third">Nombre del cliente <em class="form-label--optional">21 Junio 2016 13:45</em></div>
    <div class="contentTickets-scrollArea--content u-pdb--half  u-mgb--half">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis scelerisque libero, nec consectetur diam placerat nec. Etiam ac nulla sit amet felis eleifend venenatis eget nec justo. Aliquam interdum leo ex.
    <button class="uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
    </div>

</div>

<div class="u-pdt">

   <textarea class="form-textarea form-textarea--tall" placeholder="Escriba aquí su mensaje"></textarea>

</div>