 <div class="shoppingCartStep shoppingCartStep--active" data-shoppingcart-step="1">
    <div class="shoppingCartStep-title">
        <b class="shoppingCartStep-number">1</b>
        Fotografías del pedido
        <a href="" class="form-action shoppingCartStep-buttonEdit" data-js-edit_button="1">
            <i class="icon fa fa-pencil"></i> Editar                        
        </a>
    </div>
       {{> ticketsTabStep1}}
</div>

<div class="shoppingCartStep shoppingCartStep--active" data-shoppingcart-step="2">
    <div class="shoppingCartStep-title">
        <b class="shoppingCartStep-number">2</b>
        Productos del pedido
        <a href="" class="form-action shoppingCartStep-buttonEdit" data-js-edit_button="1">
            <i class="icon fa fa-pencil"></i> Editar                        
        </a>
    </div>
    {{> ticketsTabStep2}}
</div>

<div class="shoppingCartStep shoppingCartStep--active" data-shoppingcart-step="3">
    <div class="shoppingCartStep-title">
        <b class="shoppingCartStep-number">3</b>
        Comentarios
          <a href="" class="form-action shoppingCartStep-buttonEdit" data-js-edit_button="1">
            <i class="icon fa fa-pencil"></i> Editar                        
        </a>
    </div>
        {{> ticketsTabStep3}}

</div>