<fieldset class="form-fieldset form-fieldset--sequential">

{{#if legend}}
<legend class="form-legend u-pdt">{{legend}}</legend>

{{/if}}
  <div class="modularGrid">
    <div class="modularGrid-module u-xs-50 u-pdr2 u-brdr">
     <h3 class="form-title">Ya soy usuario</h3>
      <label class="form-label u-mgt--half" for="email">E-mail</label>
                        <input type="text" data-js-popup-login="email" class="form-input" id="email" name="email" maxlength="64">
                        <label class="form-label" for="">Contraseña</label>
                        <input type="password" data-js-popup-login="password" class="form-input " id="password" name="password" >
                        <button class="button button--primary u-mgt--half button--big" type="submit" data-js-popup="submitAction">Inicie sesión</button>
    </div>
    <div class="modularGrid-module u-xs-50">
    <fieldset class="form-fieldset form-fieldset--borderless u-pdl u-pdb">
     <h3 class="form-title u-mgb">Usuario nuevo</h3>
     <a href="#" class="button">Crear una cuenta nueva</a>
     </fieldset>


    </div>

  </div>
</fieldset>














