<div class="modularGrid ">
  <div class="modularGrid-module">
   <div class="shoppingCartStep-content u-pdb">
    <label for="message" class="form-label">Escriba aquí sus comentarios</label>
    <textarea class="form-textarea" id="message" placeholder="Clara explicacion del problema detectado"> </textarea>
     {{>fileUploads}}
    </div>
  </div> 
</div>
{{>ticketsBtnSend}}
