<h3 class="form-fieldset-title">Archivos adjuntos</h3>
            <div class="modularGrid-module">
              <div class="contentTickets-attachArea">

                <div class="contentTickets-attachArea--content u-pdb--half  u-mgb--half">
                  <div class="contentTickets-attachArea--title">Embalaje exterior</div>
                  <div class="contentTickets-attachArea--flex">
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                  </div>
                </div>

                 <div class="contentTickets-attachArea--content u-pdb--half  u-mgb--half">
                  <div class="contentTickets-attachArea--title">Caja abierta</div>
                  <div class="contentTickets-attachArea--flex">
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                  </div>
                </div>

                 <div class="contentTickets-attachArea--content u-pdb--half  u-mgb--half">
                  <div class="contentTickets-attachArea--title">Etiqueta adherida de la mensajería</div>
                  <div class="contentTickets-attachArea--flex">
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                  </div>
                </div>                

                <div class="contentTickets-attachArea--content u-pdb--half  u-mgb--half">
                  <div class="contentTickets-attachArea--title">Albarán de mercancía recibido/s</div>
                  <div class="contentTickets-attachArea--flex">
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                  </div>
                </div>

                 <div class="contentTickets-attachArea--content u-pdb--half  u-mgb--half">
                  <div class="contentTickets-attachArea--title">Unidades defectuosas</div>
                  <div class="contentTickets-attachArea--flex">
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                  </div>
                </div>

                 <div class="contentTickets-attachArea--content u-pdb--half  u-mgb--half">
                  <div class="contentTickets-attachArea--title">Archivos adicionales</div>
                  <div class="contentTickets-attachArea--flex">
                    <button class="u-mgl--zero uploadFile u-mgt--half">Archivo <svg class="uploadFile-icon" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-preview"></use></svg></button>
                  </div>
                </div>


              </div>
            </div>