<section class="panel-section"  data-js-blockstocks="table"  style="display:none;">
  <div class="modularGrid">
    <div class="modularGrid-module">
      <header class="scrollStocksArea-header">
        <table class="table">
          <thead class="table-thead">
            <tr class="table-tr">
              <th class="table-item u-md-5" ></th>
              <th class="table-item u-md-30" >Nombre</th>
              <th class="table-item  u-md-10">SKU</th>
              <th class="table-item  u-md-10">Uds.</th>
              <th class="table-item table-item--number u-md-10">PVD</th>
              <th class="table-item  table-item--number u-md-10"> Dto. % auto.
                <span class="form-info"><i data-js-tooltip="tooltip4" class="icon form-info-icon fa-info-circle"></i></span></th>
                <th class="table-item table-item--number u-md-10">Precio</th>
                <th class="table-item  table-item--number u-md-10">Importe</th>
                <th class="table-item  table-item--boolean "></th>
              </tr>
            </thead>
          </table>
        </header>
        <div class="scrollStocksArea">
          <table class="table  table--condensed">
            <tbody class="table-tbody table-tbody--stripped" data-js-blockstocks="tbody">
             {{>stockCartRow1 }}
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </section>
