<tr data-js-idattribute="3300" data-js-idproduct="7423" data-js-idcartproduct="3547" class="table-tr ">
    <td class="table-item u-md-5"><img alt="Gafas con Parabrisas Wiper Glasses, Azul" src="http://192.168.1.211/bigbuy_e/37496-product_card_mini/gafas-con-parabrisas-wiper-glasses.jpg" class="img--responsive"></td>
    <td class="table-item table-item--borderless u-md-30"><a href="http://192.168.1.211/bigbuy_e/es/gafas-con-parabrisas-wiper-glasses.html" class="shoppingCart-link">Gafas con Parabrisas Wiper Glasses, <span class="shoppingCart-options">Azul</span></a></td>
    <td class="table-item u-md-10">H0500214</td>
    <td class="table-item u-md-10">{{> unitControl }}   </td>
    <td class="table-item   table-item--number u-md-10">5,01 €</td>
    <td class="table-item   table-item--number u-md-10">6,00%</td>
    <td class="table-item  table-item--number u-md-10"><strong>4,71 €</strong></td>
    <td class="table-item  table-item--number u-md-10"><strong>2.825,64 €</strong></td>
    <td class="table-item  table-item--boolean u-md-5">
        <button class="button button--icon u-mgl--half" title="Eliminar" data-js-delete-product="">
          <svg role="img" class="icon icon--inline  icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"/></svg>
      </button>
  </td>
</tr>