<tr data-js-idattribute="2814" data-js-idproduct="7382" data-js-idcartproduct="3541" class="table-tr ">
    <td class="table-item u-md-5"><img alt="Lote Jamón + Embutidos + Jamonero Gourmet + Cuchillo y Afilador, Paleta Jamón Ibérico Bellota 5/5.5 K" src="http://192.168.1.211/bigbuy_e/32716-product_card_mini/lote-jamon-embutidos-jamonero-cuchillo-y-afilador.jpg" class="img--responsive"></td>
    <td class="table-item table-item--borderless u-md-30"><a href="http://192.168.1.211/bigbuy_e/es/lote-jamon-embutidos-jamonero-cuchillo-y-afilador.html" class="shoppingCart-link">Lote Jamón + Embutidos + Jamonero Gourmet + Cuchillo y Afilador, <span class="shoppingCart-options">Paleta Jamón Ibérico Bellota 5/5.5 K</span></a></td>
    <td class="table-item u-md-10">B0505154</td>
    <td class="table-item u-md-10">{{> unitControl }}   </td>
    <td class="table-item  table-item--number u-md-10">90,58 €</td>
    <td class="table-item  table-item--number  u-md-10">3,50%</td>
    <td class="table-item table-item--number  u-md-10"><strong>87,41 €</strong></td>
    <td class="table-item  table-item--number  u-md-10"><strong>699,28 €</strong></td>
    <td class="table-item  table-item--boolean u-md-5">
        <button class="button button--icon u-mgl--half" title="Eliminar" data-js-delete-product="">
          <svg role="img" class="icon icon--inline  icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"/></svg>
      </button>

  </td>
</tr>