{{!-- <section class="panel-section">
  <div class="modularGrid">
    <div class="modularGrid-module"> --}}
      <table class="table table--fixedHeader">
        <thead class="table-thead ">
          <tr class="table--tr table-tr--sort">
            <th class="table-th" >Id<div>Id</div> {{!-- {{>orderIcon}} --}}</th>
 <th class="table-th" >Código BigBuy<div>Código BigBuy</div> {{!-- {{>orderIcon}} --}}</th>
 <th class="table-th table-th--adjust " colspan="2" >Artículo<div>Artículo</div> {{!-- {{>orderIcon}} --}}</th>
 <th class="table-th"  >Reserva<div>Reserva</div> {{!-- {{>orderIcon}} --}}</th>
 <th class="table-th" >Validación<div>Validación</div></th>
 <th class="table-th"  >Caducidad<div>Caducidad</div></th>
 <th class="table-th table-item--number">PVD<div>PVD</div> {{!-- {{>orderIcon}} --}}</th>
 <th class="table-th table-item--number" >Cantidad<div>Cantidad</div> {{!-- {{>orderIcon}} --}}</th>
 <th class="table-th table-item--number" >  </th>
          </tr>
          <!-- table actions -->
        </thead>
    
        <tbody class="table-tbody table-tbody--stripped">
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError1}}
          {{>tableRowStocksError2}}
          {{>tableRowStocksError2}}






</tbody>
</table>
{{!-- </div>
</div> 
</section> --}}