<!-- expressCart Row -->
<tr class="table-tr table-tr--error " data-js-back="row">
<td class="table-item" width="60">4643</td>
<td class="table-item" width="120">P1_F05050181</td>
<td class="table-item u-xs-5" ><img class="img--responsive u-brd" src="http://vancouver.dropshippershop.com/91274-home_default/caja-metalica-retro-camara-fotografica.jpg" alt="" ></td>
<td class="table-item table-item--borderless u-xs-25"  >Caja Metálica Retro Cámara Fotográfica</td>
<td class="table-item table-item--number" width="90">10/10/2015<br/>09:30h</td>
<td class="table-item" width="120"> Pendiente de validación por Bigbuy</td>
<td class="table-item table-item--boolean" title="No disponible" width="80"> -- </td>

<td class="table-item table-item--number" width="100">50,00 €</td>
<td class="table-item" width="82">{{>unitControl}}</td>
<td class="table-item table-item--number" >
{{!-- <button class="button button--primary button--condensed " title="Transferir a Bigbuy">
<svg class="icon icon--inline  icon--xxs " role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-arrowUp"></use></svg>
Transferir a Bigbuy
</button> --}}
<button title="Eliminar" class="button button--icon ">
<svg class="icon icon--inline  icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-trash"></use></svg>
</button>
</td>
</tr>

