<section class="panel-section">
<div class="modularGrid">
<div class="modularGrid-module">
<table class="table panelHeader-fixedTableHeader  panelHeader-fixedTableHeader--singleRow langMenu">
<thead class="table-thead ">
<tr class="table--tr table-tr--sort">
<th class="table-th table-item" width="61">Id {{!-- {{>orderIcon}} --}}</th>
<th class="table-th table-item" width="120">Código BigBuy {{!-- {{>orderIcon}} --}}</th>
<th class="table-th table-th--adjust u-xs-30" colspan="2" >Artículo {{!-- {{>orderIcon}} --}}</th>
<th class="table-th table-item"  width="90">Reserva {{!-- {{>orderIcon}} --}}</th>
<th class="table-th table-item" width="120">Validación</th>
<th class="table-th table-item" width="80" >Caducidad</th>
<th class="table-th table-item table-item--number" width="100" >PVD {{!-- {{>orderIcon}} --}}</th>
<th class="table-th table-item table-item--number" width="80">Cantidad {{!-- {{>orderIcon}} --}}</th>
<th class="table-th table-item">Id pedido</th>
</tr>
</thead>
</table>
<table class="table">
<tbody class="table-tbody table-tbody--stripped">
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}
{{>tableRowStocksLapsed}}





</tbody>
</table>
</div>
</div>
</section>