@include block(featuredList) {
    position: relative;
    max-width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 0 0 $um;
    @include addBreakpoint(xl) {
        max-width: 1200px;
    }
    @include element(container) {
        display: block;
        overflow: hidden;
        position: relative;
        background: transparentize(black, 0.95);
        height: 23.8rem;
        @include addBreakpoint(md) {
            height: calc((100vw - 4.5rem) * 0.25 + 4px);
        }
        @include addBreakpoint(xl) {
            height: 19.4rem;
        }
    }
    @include element(btn) {
        background: white;
        display: none;
        position: absolute;
        top: 10.75rem;
        left: -$um;
        height: $um * 2;
        width: $um * 2;
        border: none;
        box-shadow: 0 0 0 1px $color-shadow, 1px 1px 1px $color-shadow;
        border-radius: 3px;
        padding-inline-end: 2px;
        line-height: 1;
        color: transparentize(black, 0.4);
        transition: color 0.15s, background 0.15s, box-shadow 0.15s;
        margin-left: 3px;
        z-index: 1;
        &:nth-child(even) {
            left: auto;
            right: -$um;
            margin-left: 0;
            margin-right: 2px;
            padding-inline-end: 0;
            padding-inline-start: 3px;
        }
        &:hover,
        &:focus,
        &:active {
            outline: none;
            color: currentColor;
        }
        &:active {
            background: $color-darkGrey-dark;
            box-shadow: 0 0 0 1px Scolor-light inset;
            color: white;
        }
    }
}
.featuredList-btn[data-js-active="true"],
.featuredList-btn[data-js-active="false"] {
    display: block;
}

.featuredList-btn[data-js-active="false"] {
    //pointer-events: none;
    color: $color-shadow;
    background: $color-lightGrey-default;
}
