@include block(popularSearch) {
	@include element(item) {
		@extend %type-footerlink;
        color: #AAA;
        
        &:after {
            content:",";
        }

        &:last-child:after {
            content:"";
        }

		&:hover{
			color: $color-tags-link-hover-text;
		}
	}
}