<div class="productList-item">
    <article class="productCard  productCard--shoppable productCard--noStock ">
        <figure class="productCard-content">
            <a href="#" class="productCard-link">
                <img alt="" src="http://londonred.dropshippershop.com/15966-large_default/secador-de-unas-de-viaje.jpg" class="productCard-img">
            </a>
            <figcaption class="productCard-properties">
                <div class="productCard-title">
                    <a href="#" class="productCard-link">Secador de Uñas de Viaje</a>
                </div>
                <div class="productCard-prices">
                    <div class="productCard-pvp productCard-pvp--before">
                        <div class="productCard-pvp-name">PVR</div>
                        <div class="productCard-pvp-amount">1,00€</div>
                    </div>
                    <div class="productCard-pvp productCard-pvp--now">
                        <div class="productCard-pvp-name productCard-pvp--relevant">PVD</div>
                        <div class="productCard-pvp-amount productCard-pvp--relevant">4,00€</div>
                    </div>
                    <div class="productCard-pvp productCard-pvp--discount">-50%</div>
                </div>
            </figcaption>
        </figure>
        <div class="productCard-ribbon">Novedad</div>
        <div class="productCard-buy">
            <div class="productCard-caption">
                Sin stock
            </div>
        </div>
    </article>
</div>
<div class="productList-item">
    <article class="productCard  productCard--shoppable">
        <figure class="productCard-content">
            <a href="#" class="productCard-link">
                <img alt="" src="http://londonred.dropshippershop.com/16331-large_default/picadora-de-verduras-electric-mandoline-slicer.jpg" class="productCard-img">
            </a>
            <figcaption class="productCard-properties">
                <div class="productCard-title">
                    <a href="#" class="productCard-link">Picadora de Verduras Electric Mandoline Slicer con descripción super larga</a>
                </div>
                <div class="productCard-prices">
                    <div class="productCard-pvp productCard-pvp--before">
                        <div class="productCard-pvp-name">PVR</div>
                        <div class="productCard-pvp-amount">156,90€</div>
                    </div>
                    <div class="productCard-pvp productCard-pvp--now">
                        <div class="productCard-pvp-name productCard-pvp--relevant">PVD</div>
                        <div class="productCard-pvp-amount productCard-pvp--relevant">136,00€</div>
                    </div>
                    <div class="productCard-pvp productCard-pvp--discount">-50%</div>
                </div>
            </figcaption>
        </figure>
        <div class="productCard-ribbon">Novedad</div>
        <div class="productCard-buy">
            <div class="productCard-caption">
                <div class="unitControl">
                    <input type="text" value="5" class="form-input form-input--postfix unitControl-input">
                    <span class="form-postfix unitControl-groupBtns">
                        <button class="button button--icon unitControl-button unitControl-button--plus"></button>
                        <button class="button button--icon unitControl-button unitControl-button--minus"></button>
                    </span>
                </div>
                <div class="form-action productCard-action u-pdt--half">Opciones<i class="form-action-icon productCard-action-icon fa fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="productList-item">
    <article class="productCard  productCard--shoppable">
        <figure class="productCard-content">
            <a href="#" class="productCard-link">
                <img alt="" src="http://londonred.dropshippershop.com/407-large_default/abrelatas-electrico-automatico.jpg" class="productCard-img">
            </a>
            <figcaption class="productCard-properties">
                <div class="productCard-title">
                    <a href="#" class="productCard-link">Abrelatas eléctrico automático </a>
                </div>
                <div class="productCard-prices">
                    <div class="productCard-pvp productCard-pvp--before">
                        <div class="productCard-pvp-name">PVR</div>
                        <div class="productCard-pvp-amount">10,47€</div>
                    </div>
                    <div class="productCard-pvp productCard-pvp--now">
                        <div class="productCard-pvp-name productCard-pvp--relevant">PVD</div>
                        <div class="productCard-pvp-amount productCard-pvp--relevant">3,00€</div>
                    </div>
                    <div class="productCard-pvp productCard-pvp--discount">-50%</div>
                </div>
            </figcaption>
        </figure>
        <div class="productCard-ribbon">Novedad</div>
        <div class="productCard-buy">
            <div class="productCard-caption">
                <div class="unitControl">
                    <input type="text" value="5" class="form-input form-input--postfix unitControl-input">
                    <span class="form-postfix unitControl-groupBtns">
                        <button class="button button--icon unitControl-button unitControl-button--plus"></button>
                        <button class="button button--icon unitControl-button unitControl-button--minus"></button>
                    </span>
                </div>
                <button title="Añadir al carrito" class="button button--primary  productCard-ctaButton">
                    <i class="icon fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
    </article>
</div>

