<table class="table">
    <tr>
        <th class="table-th table-item table-item--number u-xs-10">
            <input class="form-input form-input--collapse" type="text" placeholder="Nº pedido">
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" placeholder="Fecha">
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" type="text" placeholder="Forma de pago">
        </th>
        <th class="table-th table-item table-item--number u-xs-15">
            <input class="form-input form-input--collapse" type="number" placeholder="Importe">
        </th>
    </tr>        
</table>