<table class="table">
    <tr>
        <th class="table-th table-item table-item--handler">
            <i class="icon icon-placeholder fa-fw"></i>
        </th>
        <th class="table-th table-item table-item--number u-xs-10">
            <input class="form-input form-input--collapse" type="text" placeholder="Nº Tracking">
        </th>
        <th class="table-th table-item u-xs-10">
            <input class="form-input form-input--collapse" placeholder="Nº Pedido">
        </th>
        <th class="table-th table-item u-xs-20">
            <select name="" id="" class="form-select form-select--collapse">
                <option value="">Transportista</option>
            </select>
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" type="text" placeholder="Fecha">
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" type="text" placeholder="Hora">
        </th>
        <th class="table-th table-item u-xs-15">
            <select name="" id="" class="form-select form-select--collapse">
                <option value="">Estado</option>
            </select>
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" type="text" placeholder="Destinatario">
        </th>
    </tr>        
</table>