<tr class="table-tr">
    <td class="table-item"> 13/04/2014 </td>
    <td class="table-item">19:20</td>
    <td class="table-item">Enviado</td>
    <td class="table-item"> ChronoExpress </td>
    <td class="table-item">1382161919479665</td>
    <td class="table-item">Fernando Pérez Esteso</td>
</tr>
