<!-- expressCart Row -->
<tr class="table-tr">
    <td class="table-item table-item--handler"><i class="icon icon-sort fa fa-pencil fa-fw"></i></td>
    <td class="table-item">13/014158 </td>
    <td class="table-item">54205 </td>
    <td class="table-item"> ChronoExpress </td>
    <td class="table-item"> 13/04/2014 </td>
    <td class="table-item">19:20</td>
    <td class="table-item">Enviado</td>
    <td class="table-item">Fernando Pérez Esteso</td>
</tr>
