<table class="table table--interactive ">
    <thead class="thead">

        <tr class="table-filters">
            <th class="table-th table-item table-item--handler">
                <i class="icon icon-placeholder fa-fw"></i>
            </th>

            <th class="table-th table-item table-item--number u-xs-5">
                <input class="form-input form-input--collapse" type="text" placeholder="Nº tracking">
            </th>
            <th class="table-th table-item u-xs-5">
                <input class="form-input form-input--collapse" placeholder="Nº pedido">
            </th>
            <th class="table-th table-item table-item--boolean u-xs-15">
                <select name="" id="" class="form-select form-select--collapse">
                    <option value="">Transportista</option>
                </select>
            </th>
            <th class="table-th table-item u-xs-20">
                <input class="form-input form-input--collapse" placeholder="Fecha">
            </th>
            <th class="table-th table-item u-xs-20">
                <input class="form-input form-input--collapse" placeholder="Hora">
            </th>
            <th class="table-th table-item table-item--boolean u-xs-10">
                <select name="" id="" class="form-select form-select--collapse">
                    <option value="">Estado</option>
                </select>
            </th>
            <th class="table-th table-item u-xs-20">
                <input class="form-input form-input--collapse" placeholder="Destinatario">
            </th>
        </tr>


        <tr>
            <th class="table-th table-item table-item--handler"></th>
            <th class="table-th table-item">Nº Tracking <i class="icon icon-sort fa fa-caret-down"></i></th>
            <th class="table-th table-item">Nº Pedido <i class="icon icon-sort fa fa-caret-down"></i></th>
            <th class="table-th table-item">Transportista <i class="icon icon-sort fa fa-caret-down"></i></th>
            <th class="table-th table-item">Fecha <i class="icon icon-sort fa fa-caret-down"></i></th>
            <th class="table-th table-item">Hora<i class="icon icon-sort fa fa-caret-down"></i></th>
            <th class="table-th table-item">Estado <i class="icon icon-sort fa fa-caret-down"></i></th>
            <th class="table-th table-item">Destinatario <i class="icon icon-sort fa fa-caret-down"></i></th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
        {{>tableRowTracking01}}
    </tbody>

</table>