<table class="table table--interactive">
    <thead class="table-thead">
        <tr>
            <th class="table-th table-item">Fecha </th>
            <th class="table-th table-item">Hora</th>
            <th class="table-th table-item">Estado </th>
            <th class="table-th table-item">Transportista</th>
            <th class="table-th table-item">Nº Tracking </th>
            <th class="table-th table-item">Destinatario </th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowOrderTracking}}
        {{>tableRowOrderTracking}}
        {{>tableRowOrderTracking}}
        {{>tableRowOrderTracking}}
        {{>tableRowOrderTracking}}
    </tbody>

</table>