<section id="formToggle2">
<fieldset class="form-fieldset form-fieldset--sequential">
    <div class="modularGrid">
        <h3 class="form-fieldset-title">Información fiscal</h3>
        <div class="modularGrid-module u-md-25">
            <strong>Tipo:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            Autónomo
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Razón Social:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            Bigbuy Bigbuy
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Nombre comercial:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            All4
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>País:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            España
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Código postal:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            46001
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Provincia:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            Valencia
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Población:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            Aldaya
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Dirección:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            C/ Flora y Tristán, 32 - Valencia, 46001 - España
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Teléfono de empresa:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            900 123 456 789
        </div>
    </div>
</fieldset>
<fieldset class="form-fieldset form-fieldset--sequential">
    <div class="modularGrid">
        <h3 class="form-fieldset-title">Persona de contacto</h3>
        <div class="modularGrid-module u-md-25">
            <strong>Nombre:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            Napoleón
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Apellidos:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            Tinieblas González
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Teléfono 1:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            900 123 456 789
        </div>
        <div class="modularGrid-module u-md-25">
            <strong>Teléfono 2:</strong>
        </div>
        <div class="modularGrid-module u-md-75">
            900 123 456 789
        </div>
    </div>
</fieldset>
</section>
