<div class="panel panel--active" >
    <div class="panel-title">
        <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-addresses"></use></svg>
        <div class="panel-titleName"><a href="" class="panel-breadcrumbLink" data-js-show="toggletabBillingAdress" > Direcciones de facturación</a> / Crear nueva</div>
    </div>
    <aside class="panel-content panel-content--contrast">
        <div class="modularGrid">
            <div class="modularGrid-module">
                <section class="panel-section u-lg-55">
                    {{> createNewAddress }}
                </section>
            </div>
        </div>
    </aside>

    {{>backButton datapanel='toggletab' dataShow='toggletabBillingAdress'}}
</div>