    <aside class="popup u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
        <header class="popup-header">
            <h3 class="u-pd u-pdt1 u-pdb--half u-mgb--min">
                Seguimiento de stock

            </h3>
            <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
                <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"></use></svg>                 
        </button>
    </header>
    <div class="modularGrid u-pdh u-pdb">
        <div class="modularGrid-module u-xs-25 u-brdt u-pdt">
            <img class="popup-img " src="../../img/escobilla-de-bano-flamenco-wagon-trend.jpg">
        </div>
        <div class="modularGrid-module u-xs-75 u-brdt">
            <h1 class="popup-title u-mgt--3rd u-pdv--half">Escobilla de Baño Flamenco Wagon Trend</h1>
           
            <div class="form-fieldset form-fieldset--selected u-mgl  u-pdv--half u-pdh--half">
                
            
            <p class="u-mgb--min"><small>El seguimiento de stock le permite visualizar desde su <a href="#" class="link">Panel de Control</a> toda la información sobre la disponibilidad y las próximas entradas de este 
producto</small></p>
</div>  





            <button class="button button--trackText u-mgl u-mgt" data-js-ticket-action="btnAction">
                <span class="track">Seguir stock</span>
                <span class="success">Siguiendo stock</span>
                <span class="error">Dejar de seguir</span>
            </button>

          
        </div>
    </div>
</aside>