<div class="modularGrid-module u-xs-85">
  <div class="modularGrid">
    <div class="modularGrid-module u-pdl u-pdt ">
      <h2>Nombre del producto</h2>
    </div>
  </div>
  {{>popupnext_checker}}
  <div class="modularGrid u-mg-mid-top">
    <div class="modularGrid-module u-pdt--half u-mgl u-brdt">
      <table class="table">
        <caption class="table-caption table-caption--big">Stock entrega inmediata</caption>
        <tbody class="table-tbody table-tbody--borderless">
          <tr class="table-tr">
          <td class="table-item"><strong>Stock:</strong> 98 uds.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>