<div class="modularGrid u-brdt">


    <div class="modularGrid-module u-sm-80 u-pdt ">
        <table  class="table table--ultracondensed">
            <caption class="table-caption">
                <div class="table-captionIcon  productSheet-discountTable--automatic">
                    <svg role="img" class="icon icon--inline icon--xs">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-pack" />
                    </svg>
                </div>
                DESCUENTO ESPECIAL AUTOMÁTICO PARA PRÓXIMAS ENTRADAS <em data-js-tooltip="tooltip6" class="form-info">
                <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-info"/></svg>
            </em>
            <p class="productSheet-shortDescription u-pdl u-mgl--half">En función del importe total del carrito se le aplicará respecto al PVD este descuento automático</p>
        </caption>
        </table>

        <table class="table table--ultracondensed u-xs-30">
        <thead class="table-thead">
            <tr class="table-tr">
                <th class="table-item  table-item--number">Importe</th>

                <th class="table-item table-item--number">Dto.(%)</th>
                <th class="table-item u-xs-30"></th>
            </tr>
        </thead>
        <tbody class="table-tbody">
            <tr data-js-discount_table="tr-item" class="table-tr">
                <td class="table-item table-item--number">100 €</td>
                <td class="table-item table-item--number">-4,5%</td>
            </tr>
            <tr data-js-discount_table="tr-item" class="table-tr">
                <td class="table-item table-item--number">300 €</td>
                <td class="table-item table-item--number">-5,5%</td>
            </tr>
            <tr data-js-discount_table="tr-item" class="table-tr">
                <td class="table-item table-item--number">600 €</td>
                <td class="table-item table-item--number">-6,5%</td>
            </tr>
            <tr data-js-discount_table="tr-item" class="table-tr">
                <td class="table-item table-item--number">1.000 €</td>
                <td class="table-item table-item--number">-8,0%</td>
            </tr>
            <tr data-js-discount_table="tr-item" class="table-tr">
                <td class="table-item table-item--number">2.000 €</td>
                <td class="table-item table-item--number">-9,0%</td>
            </tr>
        </tbody>
    </table>


</div>
</div>