<table class="table">
    <caption class="table-caption table-caption--big">Próximas entradas</caption>
    <tbody class="table-tbody table-tbody--borderless_stripped">
        <tr class="table-tr">
            <td class="table-item"><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item table-item--number"><strong>Fecha estimada:</td>
            <td class="table-item">05/05/2015 - 05/05/2015</td>
            {{> popupnext_table2}}
        </tr>
        <tr class="table-tr">
            <td class="table-item"><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item table-item--number"><strong>Fecha estimada:</td>
            <td class="table-item">05/05/2015 - 05/05/2015</td>
            {{> popupnext_table2}}
        </tr>
        <tr class="table-tr">
            <td class="table-item"><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item table-item--number"><strong>Fecha estimada:</td>
            <td class="table-item">05/05/2015 - 05/05/2015</td>
            {{> popupnext_table2}}
        </tr>
    </tbody>
</table>