<aside class="popup popup--waiting u-lg-50 animated fadeInDown" data-js-popup="popup">
    <header class="popup-header">
        <h4 class="popup-title">Envío único</h4>
        <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
            <svg role="img" class="icon icon--inline icon--xs">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
            </svg>
        </button>
    </header>
    <div class="popup-content">
        <div class="modularGrid">
            <div class="modularGrid-module">
                <table class="table table--accordionSmall">
                    <thead class="table-thead">
                        <tr class="table-tr">
                            <th class="table-item u-xs-30">Plazo de preparación</th>
                            <th class="table-item">Productos</th>
                            <th class="table-item">Importe</th>
                            <th class="table-item">Porte</th>
                        </tr>
                    </thead>

                      <tbody class="table-tbody table-tbody--accordionSmall">
                        <tr class="table-tr table-tr--selectable">
                            <td class="table-item u-xs-30">2/5 días</td>
                            <td class="table-item ">5</td>
                            <td class="table-item ">204,221 €</td>
                            <td class="table-item ">15 €</td>
                        </tr>
                        <tr class="table-tr">
                            <td class="table-item" colspan="100">
                                <section class="table-accordionSection   table-accordionSection--active">
                                    <table class="table table--accordionSmallContent">
                                        <thead class="table-thead">
                                            <tr class="table-tr ">
                                                <th class="table-item table-item--img"></th>
                                                <th class="table-item" >Nombre</th>
                                                <th class="table-item--number ">Uds.</th>
                                                <th class="table-item--number ">Precio</th>
                                                <th class="table-item--number ">Dto.</th>
                                                <th class="table-item--number ">Precio dto.</th>
                                                <th class="table-item--number ">Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody  class="table-tbody">
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                             <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                             <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                             <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item table-item--img"><img  class="img--responsive" src="../../img/product_small.jpg" alt="producto"></td>
                                                <td class="table-item u-xs-35">Set de Coctelería Deluxe Summum Sommelier (8 piezas)</td>
                                                <td class="table-item--number ">4</td>
                                                <td class="table-item--number ">26,45 €</td>
                                                <td class="table-item--number ">1.5</td>
                                                <td class="table-item--number ">26,05 €</td>
                                                <td class="table-item--number ">104,21 €</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</aside>
