<table class="table  ">
    <thead class="table-thead ">
        <tr class="table-tr">
            <th class="table-item u-xs-15 table-item--number">Stock disponible</th>
            <th class="table-item " colspan="3">Próximas entradas</th>
            <th class="table-item  u-xs-20 u-brdl" >Cantidad a comprar</th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        <tr class="table-tr">
            <td class="table-item table-item--number">59 uds.</td>
            <td class="table-item "> Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item " > Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item " > Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            {{> popupnext_table2}}
        </tr>
         <tr class="table-tr">
            <td class="table-item  table-item--number">59 uds.</td>
            <td class="table-item "> Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item " > Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item " > Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>

            {{> popupnext_table2}}
        </tr>
         <tr class="table-tr">
            <td class="table-item  table-item--number">59 uds.</td>
            <td class="table-item "> Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item " > Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>
            <td class="table-item " > Entrada inminente<br><strong>Cantidad:</strong> 98 uds.</td>

            {{> popupnext_table2}}
        </tr>
    </tbody>
</table>