


{{!--   <div class="modularGrid popup-footer--adjust ">
    <div class="modularGrid-module ">
      <h3>Disponibilidad actual</h3>
      <p class="u-pdt--third">
        <strong>Stock disponible</strong> 24 Uds.
      </p>
    </div>
  </div> --}}

  <div class="modularGrid popup-footer--adjust ">

  <div class="modularGrid-module u-xs-15  u-pdt">

</div>

    <div class="modularGrid-module  u-xs-85 u-pdl">
     {{>popupnext_table0}}
     {{>popupnextdiscount}}
    </div>
    <div class="modularGrid-module u-pdt--half">
<button class="button button--primary button--big u-flr">Guardar</button>
  </div>
  </div>







  {{!-- <div class="modularGrid u-pdl u-mgt popup-footer u-brd">
    <div class="modularGrid-module ">
      {{!-- {{>popupnext_table}} --}}
    {{!-- </div>
  </div>
  </div> --}}