<div class="modularGrid u-mg-mid-top">
  <div class="modularGrid-module u-pdt--half u-mgl u-brdt">
  <h3>Seguimiento de stock</h3>
    {{!-- <p class="u-mgt--half checkedArea checkedArea--success u-mgr"> --}}
    <p class="u-mgt--half checkedArea u-mgr">
      <input type="checkbox" class="form-checkbox" data-js-followproduct_check="checkbox" id="followup_check" name="followup_check">
      <label data-js-followproduct_check="" for="followup_check">
        Hacer seguimiento del stock y próximas entradas desde mi panel de control.</label><em data-js-tooltip="tooltip4" class="form-info">
        <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-info"></use></svg>
      </em>
    </p>
  </div>
  </div>