<aside class="popup popup--waiting u-lg-50 animated fadeInDown" data-js-popup="popup">
    <header class="popup-header">
        <h4 class="popup-title">Inversión del sujeto pasivo en productos electrónicos</h4>
        <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
            <svg role="img" class="icon icon--inline icon--xs">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
            </svg>
        </button>
    </header>
    <div class="popup-content">
        <div class="modularGrid">
            <div class="modularGrid-module u-xxs-20 u-pdr--half u-op-40">
                <img src="../../img/mobileIcons/info.svg" class="popup-img u-pdr">
            </div>
            <div class="modularGrid-module u-xs-80 u-pdr--half u-pdb">

                <p class="u-pdb">Según la <strong>nueva normativa del IVA para revendedores de aparatos electrónicos</strong> de Abril del 2015, usted puede beneficiarse de la exención del IVA, del mismo modo que se hace con las compras intercomunitarias.</p>

                <div class="modularGrid u-pdt u-brdt">
                    <div class="modularGrid-module u-xs-40 u-pdt--third">
                        <input type="checkbox" class="form-checkbox" id="sector_4" name="sector" >
                        <label class="form-label form-label--inline" for="sector_4" title="">No volver a mostrar</label>
                    </div>
                    <div class="modularGrid-module u-xs-60 u-tar">
                       <button data-js-popup="submitAction" type="submit" class="button u-mgr--3">Descargar PDF <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-file_download"></use></svg></button>
                        <button data-js-popup="submitAction" type="submit" class="button button--primary button--big">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
