<div class="popup-container popup-container--cursor popup-container--warning" data-loading="7075141268">
  <div class="modularGrid modularGrid--boxed">
    <div class="modularGrid-module">
      <aside class="popup u-xs-80 animated fadeInDown u-cmsContent" data-js-popupinfo="" data-js-popup="popup">
        <header class="popup-header">


          <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">

                <svg role="img" class="icon icon--inline icon--xs"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use></svg>

            </button>

        </header>
        <div class="popup-content">
          <div class="modularGrid">
            {{>popupnextimage}}
            {{>popupnext_content}}
            {{>popupnext_section}}
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>