<div data-js-logincard="forget" class="modularGrid">
        <header class="popup-header">
            <h1 class="popup-title">¿Ha olvidado su contraseña?</h1>
            <button data-js-popup="close" class="button button--icon popup-close" title="Cerrar">
                <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"/></svg>
            </button>
    </header>
        <div data-js-forget_passwd_content="" class="popup-content">
            <form action="" class="form" data-js-popup-login="form">
                <fieldset class="form-fieldset  form-fieldset--borderless">

                            <label for="email" class="form-label form-label--inline">E-mail</label>
                            <input type="text" maxlength="64" tabindex="5"  name="email" id="email" class="form-input " >
                        </div>
                    </div>
                                    <div class="form-captcha">
                        <div class="modularGrid">
                            <div class="modularGrid-module u-md-40">
                                <img alt="" class="form-captcha-image " id="img_captcha" src="http://www.bigbuy.eu/tools/captcha/captcha.php?ancho=175&amp;alto=65&amp;nocache=">
                                <a class="form-captcha-reload" onclick="$(this).parent().find('img:first').prop('src','http://www.bigbuy.eu/tools/captcha/captcha.php?ancho=175&amp;alto=65&amp;nocache='+Math.random());" href="javascript:void(0);">
                                    <i class="icon form-info-icon fa-refresh"> </i> Recargar imagen                                </a>
                            </div>
                            <div class="modularGrid-module u-sm-60 u-pdl--half">
                                <label for="captcha" class="form-label">¿Qué pone en la imagen?</label>
                                <input type="text" maxlength="10" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" data-js-captcha="" class="form-input" name="captcha" data-js-forget_passwd_content="captcha">
                                <em data-js-tooltip="tooltip_captcha" class="form-info">
                                    <b class="icon form-info-icon fa-info-circle"></b> ¿Para qué sirve este código?                                </em>
                            </div>
                        </div>
                    </div>                    <div data-js-popup-login="action" class="popup-action">
                        <a data-js-forget-login="" class="form-action form-action--inline form-action--hint " href="#">Iniciar sesión</a>
                        <input type="submit" data-js-validate-form="" value="Contraseña nueva" data-js-popup-button-forget="" data-js-popup="submitAction" class="button button--primary button--big u-elem-center u-fl-right">
                    </div>
                </fieldset>
            </form>
        </div>
</div>