<aside class="popup popup--waiting u-lg-60 animated fadeInDown" data-js-popup="popup">
    <header class="popup-header">
        <h4 class="popup-title">Pedidos multienvío<span class="popup-title--new">Novedad</span></h4>
        <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
            <svg role="img" class="icon icon--inline icon--xs">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
            </svg>
        </button>
    </header>
    <div class="popup-content">
        <div class="modularGrid">
            <div class="modularGrid-module u-md-30 ">
                <img src="../../img/bigboxes.svg" class="popup-img u-pdr">
            </div>
            <div class="modularGrid-module u-xs-70 u-pdr u-pdb">
                <h3 class="form-title ">Envío único </h3>
                <p class="u-pdb">Recibirá los productos en un único envío.</p>
                <h3 class="form-title">Envío múltiple</h3>
                <p class="">Recibirá los productos en varios envíos, a medida que estén disponibles.</p>
                <p class="u-pdb"><em class="form-label--optional">Esta modalidad tiene gastos adicionales.</em></p>
                <div class="modularGrid u-pdt u-brdt">
                    <div class="modularGrid-module u-xs-70 u-pdt--third">
                        <input type="checkbox" class="form-checkbox" id="sector_4" name="sector" >
                        <label class="form-label form-label--inline" for="sector_4" title="">No volver a mostrar</label>
                    </div>
                    <div class="modularGrid-module u-xs-30 u-tar">
                        <button data-js-popup="submitAction" type="submit" class="button button--primary button--big">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
