 <button class="panel-toggletab" data-js-panel="{{datapanel}}" {{#if dataShow}} data-js-show="{{dataShow}}" {{/if}}>
    <svg role="img" class="icon icon--inline icon--sm"><use xlink:href="../../img/icons/svg-defs.svg#icon-arrowLeft"></use></svg>
 </button>