<ul class="mainNavMenu">
    <li class="mainNavMenu-item">
        <a title="Dashboard" class="mainNavMenu-link" href="account.html" data-js-mainnavback="account">
            <svg role="img" class="icon icon--inline icon--xs icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-user"></use></svg>
            <span class="mainNavMenu-itemText">Mi cuenta</span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Monedero" class="mainNavMenu-link" href="wallet.html" data-js-mainnavback="wallet">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-wallet"></use></svg>
            <span class="mainNavMenu-itemText">Monedero</span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Follow" class="mainNavMenu-link" href="follow.html" data-js-mainnavback="follow">
           <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-stockFollow"></use></svg>

          {{!-- <img class="icon icon--inline icon--xs" src="../../img/icons/store.svg"> --}}
            <span class="mainNavMenu-itemText">Seguimiento de stock</span>


        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link"  data-js-mainnavback="downloads"  href="downloads.html">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-download"></use></svg>
            <span class="mainNavMenu-itemText">Descargas </span>

        </a>
    </li>

   {{!--   <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link"  data-js-mainnavback="downloadpro"  href="downloadpro.html">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-download"></use></svg>
            <span class="mainNavMenu-itemText u-xs-80">Descargas </span>
            <p class="pack pack--pro u-md-hide  u-mgt--half u-mgl2 u-xl-inlineBlock"><span class="u-op-50">PACK</span> <strong>PRO</strong></p>
        </a>
    </li>

     <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link"  data-js-mainnavback="downloadbusiness"  href="downloadbusiness.html">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-download"></use></svg>
            <span class="mainNavMenu-itemText u-xs-80">Descargas </span>
            <p class="pack pack--business u-md-hide  u-mgl2 u-mgt--half u-xl-inlineBlock"><span class="u-op-50">PACK</span> <strong>BUSINESS</strong></p>
          
        </a>
    </li> --}}


   {{!--  <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link"  data-js-mainnavback="downloads" data-js-mainSubmenu="true">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-download"></use></svg>
            <span class="mainNavMenu-itemText">Descargas </span>
            <span class="pack pack--pro mainNavMenu-pack u-sm-hide u-md-hide u-xl-show">Pro</span>
        </a>
         <ul class="mainNavMenu--submenu">
            <li class="mainNavMenu-item">
                <a title="Ficheros Sincro" class="mainNavMenu-link mainNavMenu-link--selected" href="downloads_sincro.html">
                    <span class="mainNavMenu-itemText ">Ficheros Sincro</span>
                </a>
            </li>
             <li class="mainNavMenu-item">
                <a title="Marketing" class="mainNavMenu-link" href="downloads.html">
                    <span class="mainNavMenu-itemText ">Marketing</span>
                </a>
            </li>

        </ul>
    </li>  --}}
     <li class="mainNavMenu-item">
        <a title="Packs" class="mainNavMenu-link" href="stocks_lock.html" data-js-mainnavback="stocks">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-lock"></use></svg>
            <span class="mainNavMenu-itemText">Bloqueo de stock</span>
              <span class="notify u-flr"></span>
        </a>
    </li>
  {{!--   <li class="mainNavMenu-item">
        <a title="Packs" class="mainNavMenu-link" href="packs.html" data-js-mainnavback="packs">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
            <span class="mainNavMenu-itemText">Packs</span>
        </a>
    </li> --}}
    <li class="mainNavMenu-item">
        <a title="Pedidos" class="mainNavMenu-link" href="pedidos.html" data-js-mainnavback="pedidos">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-orders"></use></svg>
            <span class="mainNavMenu-itemText">Pedidos</span>
            <span class="notify u-flr"></span>
        </a>

    </li>
   
    <li class="mainNavMenu-item">
        <a title="Facturas" class="mainNavMenu-link" href="facturas.html" data-js-mainnavback="facturas">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-invoices"></use></svg>
            <span class="mainNavMenu-itemText">Facturas</span>
        </a>
    </li>   
   
    <!--<li class="mainNavMenu-item">
        <a title="Direcciones" class="mainNavMenu-link" data-js-mainnavback="addresses"  href="addresses.html">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-addresses"></use></svg>
            <span class="mainNavMenu-itemText">Direcciones</span>
        </a>
    </li>-->


    <!--<li class="mainNavMenu-item">
        <a title="Mi cuenta" class="mainNavMenu-link" href="account.html" data-js-mainnavback="account">
           <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-mydata"></use></svg>
        {{!--    <img class="icon icon--inline icon--xs" src="../../img/icons/mydata.svg"> --}}
            <span class="mainNavMenu-itemText">Mis datos</span>
             <b class="notify u-flr">!</b>

        </a>
    </li>-->
   
     
    
    <!-- <li class="mainNavMenu-item">
        <a title="Updates" class="mainNavMenu-link" href="updates.html" data-js-mainnavback="updates">
           <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-store"></use></svg>

          {{!-- <img class="icon icon--inline icon--xs" src="../../img/icons/store.svg"> --}}
            <span class="mainNavMenu-itemText">Modificaciones</span>


        </a>
    </li>
    
    <li class="mainNavMenu-item">
        <a title="Mi cuenta" class="mainNavMenu-link" href="devoluciones.html" data-js-mainnavback="devoluciones">
           <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-store"></use></svg>

          {{!-- <img class="icon icon--inline icon--xs" src="../../img/icons/store.svg"> --}}
            <span class="mainNavMenu-itemText">Devoluciones</span>


        </a>
    </li> -->

     <li class="mainNavMenu-item">
        <a title="Tiendas" class="mainNavMenu-link" href="shops.html" data-js-mainnavback="shops">
            {{>svgIcon type='store'}}          
            <span class="mainNavMenu-itemText">Tiendas</span>
            <span class="notify u-flr"></span>
        </a>
    </li>
    


    <li class="mainNavMenu-item">
        <a title="Multichannel" class="mainNavMenu-link" href="#" data-js-mainnavback="multichannel">
        {{>svgIcon type='multichannel'}}            
            <span class="mainNavMenu-itemText">Multi-channel</span>


        </a>
    </li>



</ul>
