<div class="panel-footer-pagination">

    <div class="panel-footer-pagination-item ">
        <div class="form-action">
            {{>svgIcon type='chevronMobileLeft' }}
        </div>
    </div>

    <div class="panel-footer-pagination-item panel-footer-pagination-item--currentPage">
        Mostrando <strong>1-10</strong> de <strong>150</strong>
    </div>

    <div class="panel-footer-pagination-item">
        <div class="form-action">
        {{>svgIcon type='chevronMobileRight' }}
        </div>
    </div>

</div>