<aside data-js-popup="popup" class="popup u-lg-50 animated fadeInDown u-pdt">
  <header class="popup-header">
    <button data-js-popup="close" class="button button--icon popup-close" title="Cerrar">
      <i class="icon fa-times"></i>
    </button>
  </header>
  <div class="popup-content u-pdt">
    <div class="modularGrid">
      <div class="modularGrid-module u-pdb u-pdl u-pdr">
        <h1 class="popup-extra u-mgb">Añadir producto</h1>
        <div class="modularGrid">
          <div class="modularGrid-module  u-md-50">
            <label class="form-label">Id. Producto</label>
            <input type="text" class="form-input form-input--postfix form-input--number">
            <div class="searchHelp">
              <ul>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </div>
          <div class="modularGrid-module  u-md-50 u-pdl">
            <label class="form-label">Referencia</label>
            <input type="text" class="form-input form-input--postfix form-input--number">
          </div>
        </div>
        <div class="modularGrid">
          <div class="modularGrid-module">
            <label class="form-label">Producto</label>
            <input type="text" class="form-input form-input--postfix form-input--number">
          </div>
        </div>
        <div class="modularGrid">
          <div class="modularGrid-module">
            <label class="form-label">Incidencia</label>
            <input type="text" class="form-input">
          </div>
          <div class="modularGrid-module">
            <label class="form-label">Descripción</label>
            <input type="text" class="form-input">
          </div>
        </div>
        <div class="modularGrid">
          <div class="modularGrid-module  u-md-20">
            <label class="form-label">Unidades</label>
            <input type="text" class="form-input form-input--postfix form-input--number">
          </div>
          <div class="modularGrid-module  u-md-30 u-pdl">
            <label class="form-label">Precio</label>
            <input type="text" class="form-input form-input--postfix form-input--number">
            <span class="form-postfix">€</span>
          </div>
        </div>
        <button data-js-popup="submitAction" class="button button--primary button--big u-mgt--half">
          Añadir
        </button>
      </div>
    </div>
  </div>
</aside>