<div class="cardList-item {{#if col}}cardList-item--{{col}} {{/if}}">
    <a class="cardElem  cardElem--primary " href="#">
        <figure class="cardElem-figure">
            <figcaption class="cardElem-figcaption">
                <h2 class="cardElem-title cardElem-title--inline u-pdr--third">Nombre largo de la categoría <span class="title-number title-number--middle">(27)</span></h2>
                <p class="cardElem-more">Ver todo</p>
            </figcaption>
            <div class="cardElem-imgCont">
            <img class="cardElem-img" alt="" src="../../img/categories/wear.jpg">
            </div>
        </figure>
    </a>
</div>