<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
 <td class="responsiveTable-td">
        <a class="button button--icon" href="followupDetails.html" title="Detalle de entrada"> <img src="../../img/mobileIcons/plus.svg"  class="icon icon--xs icon--inline"alt="" ></a>
    </td>
    <td class="responsiveTable-td u-tal">P1_F05050181</td>
    <td class="responsiveTable-td u-tal u-pdr">
    <div class="modularGrid">
        <div class="modularGrid-module u-xs-10">
           <img  class="" src="http://192.168.1.211/bigbuy_e/34221-product_card_mini/cup-cake-maker-maquina-para-hacer-magdalenas.jpg" >
        </div>
        <div class="modularGrid-module u-xs-85 u-pdl--half u-pdt--half">
           Cup Cake Maker | Máquina para hacer magdalenas
        </div>
    </div>
    </td>
</tr>
