


   <!--  <button class="buttonPagination buttonPagination--arrow" disabled>&#171;</button>
    <button class="buttonPagination buttonPagination--arrow" disabled>&#8249;</button>
    <button class="buttonPagination buttonPagination--selected">1</button>
    <button class="buttonPagination">2</button>
     <span class="buttonPagination buttonPagination--dots">...</span>
    <button class="buttonPagination">100</button>
    <button class="buttonPagination buttonPagination--arrow">&#8250;</button>
    <button class="buttonPagination buttonPagination--arrow">&#187;</button> -->




    <div class="dataTables_paginate paging_simple_numbers" id="followup-datatable_paginate">
    <a class="paginate_button previous disabled" aria-controls="followup-datatable" data-dt-idx="0" tabindex="0" id="followup-datatable_previous">Previous</a><span><a class="paginate_button current" aria-controls="followup-datatable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="followup-datatable" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="followup-datatable" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="followup-datatable" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="followup-datatable" data-dt-idx="5" tabindex="0">5</a></span><a class="paginate_button next" aria-controls="followup-datatable" data-dt-idx="6" tabindex="0" id="followup-datatable_next">Next</a></div>

