<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>followupTableHeader}}
        {{>ordersTableFooter}}
        <tbody class="table-tbody table-tbody--stripped">
            {{>followupTableRow1}}
            {{>followupTableRow1}}
            {{>followupTableRow1}}
            {{>followupTableRow1}}
            {{>followupTableRow1}}
            {{>followupTableRow1}}
            {{>followupTableRow1}}
            {{>followupTableRow1}}

            </tbody>
    </table>
</div>