<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
 	<td class="responsiveTable-td u-tal responsiveTable-td--widthTd">Cámara Fotográfica</td>
    <td class="responsiveTable-td u-tal">

    	<div class="stockAvailability">
            <p class="stockAvailability-title stockAvailability-title--success">
                Disponible
            </p>
            <ul class="stockAvailability-list">
                <li class="stockAvailability-item">30 uds. envío 24h</li>
            </ul>
        </div>

    </td>
    <td class="responsiveTable-td u-tal">No hay fechas disponibles</td>
    <td class="responsiveTable-td u-tal">123456789</td>
    <td class="responsiveTable-td u-tal">
    <button class="button--icon responsiveTable-button" data-js-ticket-action="clearFollow"><svg role="img" class="icon icon--sm"><use  xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
    </button></td>
</tr>
