
  <div class="modularGrid-module u-pd">

    <table class="mTDList ">
      <tr>
         <td class="mTDList-item mTDList-item--dt">Referencia</td>
        <td class="mTDList-item  mTDList-item--dd">ES24379919B</td>
      </tr>
       <tr>
         <td class="mTDList-item mTDList-item--dt">Artículo</td>
        <td class="mTDList-item  mTDList-item--dd">
        <img src="http://192.168.1.211/bigbuy_e/34221-product_card_mini/cup-cake-maker-maquina-para-hacer-magdalenas.jpg" class="">
         <p >Cup Cake Maker | Máquina para hacer magdalenas</p>
        </td>
      </tr>
      <tr>
         <td class="mTDList-item mTDList-item--dt">Cantidad</td>
        <td class="mTDList-item  mTDList-item--dd">2000 uds.</td>
      </tr>
       <tr>
         <td class="mTDList-item mTDList-item--dt">Entradas previstas</td>
        <td class="mTDList-item  mTDList-item--dd">
        <div class="modularGrid">
        <div class="modularGrid-module u-md-3rd">
            11/11/2014 - 11/11/2014
        </div>
        <div class="modularGrid-module u-md-3rd">
            11/11/2014 - 11/11/2014
        </div>
        <div class="modularGrid-module u-md-3rd">
            11/11/2014 - 11/11/2014
        </div>

        </div>



        </td>
      </tr>





   </table>


</div>

