<div class="modularGrid">
    <div class="modularGrid-module u-mgb--half">
        <h4 class="mobileTabs-itemTitle u-fll u-mgb--half ">Búsqueda realizada: </h4>
        <button class="uploadFile u-mgb--half u-iblock">
            Caja Metálica
            <svg class="icon icon--inline icon--sm uploadFile-icon" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
        </button>
    </div>

    <div class="responsiveTable-container">
        <table class="table responsiveTable-table responsiveTable-table--auto">
            {{>followTableHeader}}
            <tbody class="table-tbody table-tbody--stripped">
                {{>followTableRow}}
                {{>followTableRow}}
                {{>followTableRow2}}
                {{>followTableRow3}}
                {{>followTableRow4}}
                {{>followTableRow2}}
                {{>followTableRow2}}
                {{>followTableRow}}
                {{>followTableRow}}
                {{>followTableRow}}
                {{>followTableRow}}
                {{>followTableRow}}
                {{>followTableRow}}
            </tbody>
        </table>
    </div>
    <div class="modularGrid-module u-tac buttonPagination--bg">
        {{>followTableFooter}}
    </div>
</div>