<div class="modularGrid">
    <div class="modularGrid-module">
        <h2>Cómo utilizar el panel "Próximas entradas".</h2>
        <p class="u-mgt--half u-mgb--half">
            Para hacer el seguimiento del stock a un artículo debe hacer click en el icono calendario justo al lado del botón añadir al carrito. Luego dejar marcado el checkbox "Hacer seguimiento del stock y próximas entradas desde mi panel de control". Una vez marcado le aparecerá en este listado donde podrá visualizar de forma rápida el stock disponible y la próxima fecha de entrada en caso de haberla.    </p>
    </div>
    <div class="modularGrid-module u-sm-50">
        <h3 class="infoSection u-mgb--half u-mgt--half">Paso 1</h3>
        <p class="u-mgb u-tac"><img src="../../img/infoFollowMobile1_en.png" class="mobileTabs-itemContent--imgWidth"></p>
    </div>
    <div class="modularGrid-module u-sm-50">
        <h3 class="infoSection u-mgt--half u-mgb--half">Paso 2</h3>
        <p class="u-mgb u-tac"><img src="../../img/infoFollowMobile2_en.png" class="mobileTabs-itemContent--imgWidth"></p>
    </div>
</div>