
<nav class="homefeatured">
    <a href="#" class="homefeatured-item">
        {{>svgIcon size='md' class='homefeatured-icon' type='bigbuy'}}
        <p class="homefeatured-text">
            BIGBUY CORPORATE
        </p>
        <p class="button button--info">+ info</p>
    </a>
   <a href="#"  class="homefeatured-item">
        {{>svgIcon size='md' class='homefeatured-icon' type='soluciones'}}
        <p class="homefeatured-text">
            SOLUCIONES
        </p>
        <p class="button button--info">+ info</p>
    </a>
   <a href="#"  class="homefeatured-item">
        {{>svgIcon size='md' class='homefeatured-icon' type='serv-drop'}}
        <p class="homefeatured-text">
            DROPSHIPPING
        </p>
        <p class="button button--info">+ info</p>
    </a>
   <a href="#"  class="homefeatured-item">
        {{>svgIcon size='md' class='homefeatured-icon' type='tienda360' }}
        <p class="homefeatured-text">
            TIENDA 360ª
        </p>
        <p class="button button--info">+ info</p>
    </a>
   <a href="#"  class="homefeatured-item">
        {{>svgIcon size='md' class='homefeatured-icon' type='multichannel' }}
        <p class="homefeatured-text">
            INTEGRATION MANAGEMENT PLATFORM
        </p>
        <p class="button button--info">+ info</p>
    </a>
</nav>