<aside class="mobileCMS-section mobileCMS-section--inverse">
  <div class="modularGrid u-elem-center u-lg-80  u-pdb u-pdt--half">
    <div class="modularGrid-module u-xs-hide u-sm-show   u-sm-15 u-sm-pd">
      <img class="u-elem-center img--responsive" alt="" src="../../img/bombilla.svg">
    </div>
    <div class="modularGrid-module u-sm-80 u-sm-pdl">
      <h3 class="mobileCMS-slogan u-tal">Inventores o desarrolladores de productos</h3>
      <p class="mobileText-blockText u-pdt--half">Si usted es inventor, cree tener una magnífica idea, o necesita un socio para fabricar o comercializar algún producto, BigBuy le ofrece una solución integral:</p>
      <ul class="mobileText-listBullet u-pdt--third">
        <li>Localización y selección del fabricante idóneo en Asia o en Europa</li>
        <li>Gestión de muestras y fabricación del molde si fuera necesario</li>
        <li>Inspección y control de calidad: antes, durante y después de la producción</li>
        <li>Branding. Diseño y personalización del producto y del packaging</li>
        <li>Traducciones técnicas revisadas por expertos en multitud de idiomas.</li>
        <li>Gestión de la importación, despachos de aduana y entrega en sus almacenes.</li>
        <li>Comercialización a todo el mercado europeo, a través de Bigbuy</li>
      </ul>
    </div>
    </div>
</aside>

