<aside class="mobileCMS-section u-brb">
  <form action="" class="form u-sm-75 u-md-100 u-lg-75 u-flr u-pdr">
    <h3 class="mobileText-sectionTitle">Formulario para ser proveedor de BigBuy:</h3>
    <div class="modularGrid">
      <div class="modularGrid-module u-md-70">
      <p class="mobileText-blockText">Si usted es fabricante o proveedor mayorista con grandes stocks, y estima tener potencial para ser proveedor de Bigbuy, rellene el siguiente formulario:</p>
      </div>
     {{>form}}
    </div>
  </form>
</aside>