<div class="modularGrid-module ">
    <img class="img img--responsive" alt="" src="../../img/store-cmp_mobile.jpg">
</div>
<div class="modularGrid-module mobileCMS-header mobileCMS-header--overImage">
    <h1 class="mobileCMS-title">SER PROVEEDOR DE BIGBUY</h1>
    <h2 class="mobileCMS-subtitle">Buscamos fabricantes y mayoristas con grandes stocks</h2>
</div>
<div class="modularGrid-module">
    <h3 class="mobileCMS-slogan mobileCMS-slogan--bigInline">¿Qué ofrecemos?</h3>
</div>