---
title: Próximas entradas
---
<div class="modularGrid">
  <div class="modularGrid-module">
    <div class="mobileBackTopBar">
      <div class="modularGrid modularGrid--boxed">
        {{>breadcrumb_home}}
        <h2 class="mobileBackTopBar-title">
          <img src="../../img/icons/stockFollow.svg" alt="icon" class="mobileBackTopBar-titleIcon">
          Seguimiento de stock
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="mobileBackContent mobileBackContent--fullHeight">
  <div class="modularGrid-module">
    {{>tabsFollow}}
  </div>
</div>

