---
title: Próxima entrada
layout: mobileback/layouts/clean.hbs
---
<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="mobileBackTopBar">
            <div class="modularGrid modularGrid--boxed">
               {{>breadcrumb_home}}
               <a class="mobileBackTopBar-breadcrumb" href="../mobileback/followup.html">
                   <img src="../../img/icons/stockFollow.svg" alt="icon">
               </a>
               <h2 class="mobileBackTopBar-title">Entrada</h2>
               <button class="mobileBackTopBar-button" > <img  src="../../img/mobileIcons/cart.svg"></button>
               <button class="mobileBackTopBar-button"> <img src="../../img/mobileIcons/trash.svg"></button>
           </div>
       </div>
   </div>
</div>
<div class="mobileBackContent mobileBackContent--fullHeight">
    {{>followupDetail1}}
</div>
