---
title: Panel de control
---
<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="mobileBackTopBar">
            <div class="modularGrid modularGrid--boxed">
                <h2 class="mobileBackTopBar-title">
                 <img src="../../img/mobileIcons/home.svg" alt="icon" class="mobileBackTopBar-titleIcon">
                    Panel de control</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="mobileBackContent mobileBackContent--fullHeight">
        <div class="modularGrid-module u-pd--half">
            <div class="modularGrid sectionLink-container ">
          {{!--   <a title="Mi cuenta" class="sectionLink"  href="account.html">
                    <img src="../../img/mobileIcons/cogs.svg" alt="icon" class="sectionLink-icon">
                    Panel de Control
                </a> --}}
                <a title="Mi cuenta" class="sectionLink"  href="account.html">
                    <img src="../../img/icons/user.svg" alt="icon" class="sectionLink-icon">
                    Mi cuenta
                </a>

                <a href="wallet.html" class="sectionLink" >
                    <img src="../../img/icons/wallet.svg" alt="icon" class="sectionLink-icon">
                    Monedero
                </a>
               
                <a href="followup.html" class="sectionLink" >
                    <img src="../../img/icons/stockFollow.svg" alt="icon" class="sectionLink-icon">
                    Seguimiento de stock
                </a>
                 <a href="stocks-lock.html" class="sectionLink" >
                    <img src="../../img/icons/stockLock.svg" alt="icon" class="sectionLink-icon">
                    Bloqueo de stocks
                </a>
                <a href="orders.html" class="sectionLink" >
                    <img src="../../img/icons/orders.svg" alt="icon" class="sectionLink-icon">
                    Pedidos
                </a>              

                <a href="receipts.html" class="sectionLink" >
                    <img src="../../img/icons/invoices.svg" alt="icon" class="sectionLink-icon">
                    Facturas
                </a>


                <!--<a href="userdata.html" class="sectionLink" >
                    <img src="../../img/icons/mydata.svg" alt="icon" class="sectionLink-icon">
                   Mis datos
                </a>-->
            </div>
        </div>
    </div>
</div>
