---
title: Facturas
---
<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="mobileBackTopBar">
            <div class="modularGrid modularGrid--boxed">
            {{>breadcrumb_home}}
                <h2 class="mobileBackTopBar-title">
                <img src="../../img/icons/invoices.svg" alt="icon" class="mobileBackTopBar-titleIcon">
                Facturas</h2>
            </div>
        </div>
        <div class="mobileBackContent">
            <div class="modularGrid-module">
          {{>tabsReceipts}}
            </div>
        </div>
    </div>
</div>