---
title: Seguimiento de productos
---
<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="mobileNavBar mobileNavBar--back">
            <div class="modularGrid modularGrid--boxed">
                <h2 class="mobileNavBar-title">
                <img src="../../img/icons/place.svg" alt="icon" class="mobileNavBar-titleIcon">
                Seguimiento de productos</h2>
            </div>
        </div>
        <div class="modularGrid modularGrid--boxed">
            <div class="mobileBackContent">
                {{>tabsDownloads}}
            </div>
        </div>
    </div>
</div>






