@include block(featuredSlider) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 28rem; 
    overflow: hidden;
    position: relative;
    z-index: 0;
    background: transparentize(black, 0.5);  
    @include element(bannerDecoration) {
        width: 7%;
        @include addBreakpoint(lg) {
            width: 13%;
        }
    }
    @include element(img) {
        /*@extend %img--responsive;
        height: 300px;*/
        width: 100%;
        height: auto;
    }
    @include element(more) {
        position: absolute;
        right: 0;
        display: inline-block;
        width: $um * 6;
        padding-left: $um;
        transition: opacity 0.3s;
        text-align: left;
        text-decoration: none;
        opacity: 0.6;
        color: #fff;
        background: opacify($color-light, 0.15);
        font-size: $um / 1.7;
        @extend %type-breadcrumblink;
        &:after {
            margin-left: $um / 2;
            content: "\f055";
            font-size: $um / 1.5;
            @extend %type-icons02;
        }
        &:hover {
            opacity: 1;
        }
    }
    @include element(container) {
       // border: 2px solid #f00;
        @include modifier(row2) {
            max-height: $um * 27;
        }
    }
    @include element(slider) {
        position: relative;
        overflow: hidden;
        font-size: 0;
        //height: 25rem;
        width: 100%;
        // background: #fff;
        //box-shadow: 0 1px 3px $color-shadow;
        padding: 0;
    }
    @include element(item) {
        position: relative;
        display: inline-block;
        vertical-align: top;
        word-spacing: 0;
        font-size: 14px;
        height: 30rem;
        overflow: hidden;
        top: 0;
    }
    .nav {
        @extend .dots;
        display: block;
        //justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 1rem;
        font-size: 0;
        //background: transparentize(#72767A,0.3);
        //box-shadow: 0 1rem transparentize(#72767A,0.3), 0 -1rem transparentize(#72767A,0.3);
        //display: none;
    }
    .nav a {
        @extend .dots-item;
        /*background: transparentize(black, 0.6);
        width: 1rem;
        height: 1rem;
        border-radius: 3rem;
        border: none;
        box-shadow: 0 0 0 1px $color-shadow inset, 0 0 1px 1px transparentize(white, 0.7);
        margin: 0 $um / 6;
        transition: background 0.1s;
        display: block;
        cursor: pointer;
        &:hover,
        &:focus {
            background: transparentize(black, 0.3);
        }*/
    }
    .nav a.active {
        @extend .dots-item--active;
        /*background: $color-brandYellow-default;
        box-shadow: 0 0 0 1px transparentize(black, 0.7) inset;
        pointer-events: none;*/
    }
    .nav > span,
    .nav > div {
        display: flex;
        justify-content: center;
    }
    .nav a.back,
    .nav a.forth {
        display: none;
    }
    .featuredSlider-item.next:first-child {
        left: 100%;
    }
    .featuredSlider-item.prev.last-child {
        right: 100%;
    }
    .featuredSlider-item.current:first-child,
    .featuredSlider-item.current.last-child {
        right: 0;
        left: 0;
    }
    .featuredSlider-item.target:first-child,
    .featuredSlider-item.target.last-child {
        right: 0;
        left: 0;
    }
    /*.nav .forth {
        display: block;
        right: 0;
        .icon {
            position: relative;
            top: 50%;
            margin-top: -18px;
            stroke: rgba(0, 0, 0, 0.15);
            stroke-width: 4px;
            fill: #FFF;
        }
    }
    .nav .back {
        display: block;
        left: 0;
        .icon {
            position: relative;
            top: 50%;
            margin-top: -18px;
            stroke: rgba(0, 0, 0, 0.15);
            stroke-width: 4px;
            fill: #FFF;
        }
    }
    .nav .back:hover,
    .nav .back:focus,
    .nav .back:active,
    .nav .forth:hover,
    .nav .forth:focus,
    .nav .forth:active {
        color: opacify($color-shadow, 0.1);
    }
    .nav span {
        position: absolute;
        left: 0;
        bottom: 2rem;
    }*/
}

@-moz-document url-prefix() {
    .featuredSlider .nav {
        bottom: 3rem;
        @include addBreakpoint(lg) {
             bottom: 4rem; 
            
            
        }
              
    }
}


@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    .featuredSlider div.nav {
          @include addBreakpoint(lg) {
        bottom: 2rem;
        
    }
    }
}
/*------------------------------------*\
    $IPHONE
\*------------------------------------*/
@media screen and (max-device-width: 480px){
    body{
        -webkit-text-size-adjust:none;
    }
   .featuredSlider div.nav{
      
        
       
    }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      .featuredSlider div.nav {
       
        bottom: 2.25rem;
    }
}

@media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
      .featuredSlider div.nav {
      
        bottom: 0.5rem;
    }
}

