@include block(menuList) {
    @include element(list) {
        display: none;
        @include modifier(opened) {
            display: block;
            width: 100%;
            //box-shadow: 0 -1px $color-accentBlue-default;
            border: 2px solid $color-accentBlue-default;
            border-left-width: 4px;
            //border-right-width: 2px;
            //box-shadow: -3px -1px #008dff, 0 -1px #008dff, -3px 1px #008dff, 0 1px #008dff;
            //margin-left: 3px;
            order: 2;
            z-index: 1;
            .menuList-link {
                //padding-left: 2rem;
            }
        }
    }
    @include element(item) {
        display: flex;
        position: relative;
        border-bottom: 1px solid $color-shadow;
        align-items: center;
        flex-wrap: wrap;
        &:last-child {
            border-bottom: none;
        }
    }
    @include element(button) {
        border: none;
        background: white;
        width: 4rem;
        height: 4rem;
        line-height: 0;
        font-size: 0;
        display: block;
        border-radius: 4rem;
        vertical-align: middle;
        text-align: center;
        transition: transform 0.15s, background 0.15s;
        padding: 0;
        color: $color-lightGrey-dark;
        padding-inline-end: 12px;
        padding-inline-start: 12px;
        -webkit-padding-end: 12px;
        -webkit-padding-start: 12px;
        -webkit-tap-highlight-color: transparent;
        order: 1;
        + .menuList-link {
            //padding-left: 0;
            width: calc(100% - 4rem);
            //background: red;
            //border-left: 1px dashed rgba(0,0,0,0.05);
        }
        //icon--add
        .icon--remove {
            display: none;
        }
        &:active {
            background: transparentize($color-shadow, 0.05);
        }
        &:focus {
            outline: none;
        }
    }
    @include element(link) {
        @extend .mainNav-link;
        border: none;
        transition: background 0.15s, box-shadow 0.15s;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        &:active {
            background: transparentize($color-shadow, 0.05);
            box-shadow: 5rem 0 transparentize($color-shadow, 0.05);
        }
    }
}

@include extendElement(menuList, button, opened) {
    //-webkit-transform: rotate(90deg);
    // transform: rotate(90deg);
    color: $color-accentBlue-default;
    //color: $color-lightGrey-darker;
    .icon--add {
        display: none;
    }
    .icon--remove {
        display: inline-block;
    }
    + .menuList-link {
        //background: $color-shadow;
        //box-shadow: 5rem 0 $color-shadow;
        background: transparentize($color-accentBlue-default, 0.85);
        box-shadow: 5rem 0 transparentize($color-accentBlue-default, 0.85);
        //ox-shadow: -1px -1px transparentize($color-shadow, 0.05) inset;
    }
}


/*$(this).toggleClass('menuList-button--opened');
        $(this).siblings('.menuList-list').toggleClass('menuList-list--opened');*/
