@include block(mobileFeature) {

    @include element(figure) {
        @extend %inlineBlock100;

    }

    @include element(img) {
        @extend %img--responsive;
    }

    @include element(textBlock) {
        font-size: 1rem;
        line-height: 1.2;
    }

    @include element(textHeader) {
        font-family: $type-headingscms;
        font-size: 1.2rem;
        line-height: 1.1;
        margin-bottom: 0.5rem;
    }

}

@include extendBlock(mobileFeature, portrait) {
    @include element(img) {
        @extend .u-elem-center;
        width: 70%;
        @extend %u-sm-80;



        @include addBreakpoint(sm) {
            padding: 0 $um;
        }
    }

    @include element(textBlock) {
        font-weight: 300;
    }

    @include element(textHeader) {
        a{
            color:#333;
            text-decoration: underline;
        }

        @include addBreakpoint(md) {
            color:#333;
            font-size: $um;
            padding-bottom: 0.5rem;
        }
    }
}

@include extendBlock(mobileFeature, centered) {

     @include element(figcaption) {
        text-align: center;

     }
    @include element(textHeader) {
        text-align: center;
    }
}

@include extendBlock(mobileFeature, textLeft) {
    @include element(textHeader) {
        text-align: left;
    }
    @include element(textBlock) {
        text-align: left;
    }
}

@include extendBlock(mobileFeature, mediumImage) {
    @include element(figure) {
        .mobileFeature-img{
            width: 60%;
            @extend %u-sm-90;
            @extend %u-md-80;
            @extend %u-lg-60;
        }
    }
}

@include extendBlock(mobileFeature, smallImage) {
    @include element(figure) {
        .mobileFeature-img{
            width: 70%;
            padding-bottom: 0.5rem;
            @extend %u-xs-70;
            @extend %u-sm-50;
        }
    }
}
@include extendBlock(mobileFeature, tinyImage) {
    @include element(figure) {
        .mobileFeature-img{
            width: 60%;
            @extend %u-lg-40;
            @extend %u-xl-30;

        }
    }


}


@include extendBlock(mobileFeature, mediaObject) {
    @include element(figure) {
        background: #f5f5f5;
        box-shadow: 0 0 0 1px #f0f0f0 inset;
        display: block;
        margin-bottom: 0.75rem;
        text-align: center;
    }
    @include element(img) {
        padding: $um;


    }
    @include element(figcaption) {
        text-align: left;
        background: #fff;
        box-shadow: 0 -1px #f0f0f0 ;


    }
    @include element(textHeader) {

        padding-top: $um / 2;
        margin-bottom: 0;

    }

}

@include extendBlock(mobileFeature, landscape) {
    @extend %inlineBlock;
    font-size: 0;
    @include element(img) {
        @extend %inlineBlock;
        width: 30%;




        @include addBreakpoint(xs) {
            padding: 0 $um / 2;
        }
        @include addBreakpoint(sm) {
            padding: 1rem $um / 2 1rem 0;
        }

        @include addBreakpoint(md) {
            padding: 0 $um;
        }
    }
    @include element(figcaption) {
        @extend %inlineBlock;
        width: 70%;



    }

    @include element(textBlock) {
        font-weight: 300;

    }

    @include element(textHeader) {
        a{
            color:#333;
            text-decoration: underline;
        }

        @include addBreakpoint(md) {
            color:#333;
            font-size: $um;
            padding-bottom: 0.5rem;
        }
    }
}


@include extendBlock(mobileFeature, bigTitle) {

  @include element(figcaption) {
    .mobileFeature-textHeader {
        @extend .mobileCMS-slogan;
        @extend .mobileCMS-slogan--big;
        line-height: 1.2;
      }

    }

}