%listStyle {
    list-style: disc outside none;
    position: relative;
    margin-left: 1.2rem;
    @include addBreakpoint(md) {
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: 400;
    }
}
@include block(mobileText) {
    @include element(link) {
        color: inherit;
        text-decoration: underline;
    }
    @include element(paragraphTitle) {
        font-size: 1.3rem;
        font-weight: 500;
        padding-bottom: 0.3rem;
        vertical-align: top;
        @extend %header-type;
        text-align: left;
    }
    @include element(pageTitle) {
        font-size: 1.5rem;
        font-weight: 500;
        vertical-align: top;
        text-align: left;
    }
    @include element(subtitle) {
        font-size: $um;
        font-weight: 300;
        padding-bottom: $um / 2;
        vertical-align: top;
        text-align: left;
        line-height: 1.2;
    }
    @include element(subtitle2) {
        font-size: 1.25rem;
        font-weight: 500;
        padding-bottom: 0.3rem;
        vertical-align: top;
        text-align: left;
        line-height: 1.2;
    }
    @include element(title) {
        margin-bottom: $um / 2;
        font-size: 1.2rem;
        font-weight: 700;
    }
    @include element(sectionTitle) {
        @extend %inlineBlock;
        //@extend %header-type;
        text-align: left;
        font-size: $um;
        font-weight: 700;
        margin-bottom: $um / 2;
        line-height: 1.1;
        /*@include addBreakpoint(md) {
            font-weight: 700;
            font-size: $um * 1.15;
        }
        @include addBreakpoint(lg) {
            font-size: $um * 1.2;
        }*/
    }
    @include element(blockText) {
        margin-bottom: 0.5rem;
        @include addBreakpoint(md) {
            font-size: 1.2rem;
            line-height: 1.4;
            font-weight: 300;
        }
    }
    @include element(listBullet) {
        @extend %listStyle;
        @include modifier(tiny) {
            li{
                line-height: 1;
                padding-bottom: 0.5rem;
            }

        }
    }
    @include element(numberList) {
        @extend %listStyle;
        list-style: decimal outside none;
        @include modifier(tiny) {
            li{
                line-height: 1;
                padding-bottom: 0.5rem;
            }

        }
    }
}
@include extendElement(mobileText, listBullet, big) {
    font-size: 1.25rem;
    font-weight: 300;
    @include addBreakpoint(md) {
        font-size: $um;
    }
}
