%responsiveTableItem {
    padding: 1rem;
    text-align: left;
    //vertical-align: top;
    //@extend %inlineBlock;
    line-height: 1.4;
    vertical-align: middle;
    white-space: normal;
    white-space: nowrap;
    font-size: 1.2rem;
    overflow: hidden;
}

@include block(responsiveTable) {
    color: #000;
    @include element(container) {
        @extend %inlineBlock100;
        border: 1px solid #dedede;
        overflow-x: scroll;
        overflow-y: scroll;
        overflow: auto;
        border-collapse: collapse;
        //border-bottom: none;
        width: auto;
        width: 100%;
        display: block;
        background: #dedede;
        //max-width: calc(100vw - 2rem);
        margin: 0 1px;
        //background: linear-gradient(to right, #cdcdcd 1px, #dedede 1px) repeat scroll 0 0 / 5px 5px;
        -webkit-overflow-scrolling: touch;
        @include addBreakpoint(sm) {
            max-width: 100%;
        }
        @include modifier(hscroll) {
            max-width: calc(100vw - 5.5rem);
            overflow: hidden;
            overflow-x: auto;
            
        }
    }
    @include element(table) {
        border-collapse: collapse;
        border-bottom: none;
        width: 100%;
        min-width: 100%;
        background: white;
        @include modifier(auto) {
            min-width: 0;
        }
    }
    @include element(tr) {
        //padding-left:148px;
        //display:block;
        margin-top: -1px;
        font-size: 0;
        //width: 100%;
    }
    @include element(td) {
        @extend %responsiveTableItem;
        //box-shadow:1px 1px 0 #bbb;
        border: 1px solid #dedede;


    }
    @include element(th) {
        //box-shadow:0 1px 0 #bbb;
        @extend %responsiveTableItem;
        background: #eee;
        font-weight: normal;
        padding: 0.5rem 1rem;

    }
    @include element(button) {
        margin-top: $um / 2;
    }
    @include element(img) {
        padding: 0.5rem 0;
        font-size: 0;
        line-height: 0;
        text-align: center;

    }
}
