<div class="modularGrid modularGrid--boxed u-pdv">
	{{#each list}}
	<div class="modularGrid-module u-md-50 u-ls-3rd u-pdh u-pdb">	
		<img class="u-elem-center u-xxs-50 u-sm-35 u-md-45 u-lg-55 img--responsive" alt="" src="../../img/{{img}}.svg">
		<section class="u-elem-center u-xs-90 u-sm-70 u-md-85 u-ls-90 u-xl-100 ">
		<h4 class="title2 u-op-60">{{title}}</h4>
		<p class="font-size12 u-op-60 u-pdv--half">{{{text}}}</p>  
		</section>
	</div>
	{{/each}}
</div>
