<article class="landingBanner">
    <div class="landingBanner-boxed landingBanner-boxed--big u-flex--between">
        <section class="landingBanner-item landingBanner-item--centered ">
            <h1 class="landingBanner-texts">Formas de pago</h1>
            <p class="landingBanner-subtitles u-mgt--half">Múltiples opciones de pago seguras</p>
            <button class="button button--primary homeslider-button" title="Ser distribuidor">Ser Distribuidor</button>
        </section>
        <section class="landingBanner-item">
            <img src="../../img/banners/pago.svg" alt="BigBuy Proveedor dropshipping líder europeo" class="u-xxs-hide u-md-show u-h100">
        </section>
    </div>
<picture class="landingBanner-bg">
  <source class="landingBanner-bgsource" media="(min-width: 1400px)" srcset="../../img/banners/payment_huge.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 1200px)" srcset="../../img/banners/payment_large.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 1024px)" srcset="../../img/banners/payment_big.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 640px)" srcset="../../img/banners/payment_medium.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 480px)" srcset="../../img/banners/payment_small.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 300px)" srcset="../../img/banners/payment_tiny.jpg"></source>
  <img src="../../img/banners/payment_huge.jpg" class="landingBanner-bgimg">
</picture>
</article>
