<aside class="bottomMessage" id="cookie-bar" data-js-msg="cookie">
    <div class="bottomMessage-content">
        <div class="bottomMessage-contentSection">
            <p class="bottomMessage-text ">Las cookies recogen información en tu navegador web para ofrecerte una mejor experiencia online</p>
             <p class="bottomMessage-text ">En BigBuy.eu utilizamos cookies, si continuas navegando consideramos que aceptas su uso.</p>
        </div>
        <div class="bottomMessage-contentSection bottomMessage-contentSection--button">
            <button class="cb-enable button  button--primary button-cookies">Aceptar</button>
        </div>
    </div>
</aside>