<option value="AD">Andorra</option>
<option value="AO">Angola</option>
<option value="AI">Anguila</option>
<option value="AQ">Antártida</option>
<option value="AZ">Azerbaiyán</option>
<option value="IO">British Indian Ocean Territory</option>
<option value="KH">Camboya</option>
<option value="CC">Cocos (Keeling), Islas</option>
<option selected="seleceted" value="ES">España</option>
<option value="GA">Gabón</option>
<option value="GM">Gambia</option>
<option value="TK">Tokelau</option>
<option value="TM">Turkmenistán</option>
<option value="TV">Tuvalu</option>
<option value="UG">Uganda</option>
<option value="UZ">Uzbekistán</option>
<option value="VU">Vanuatu</option>
<option value="WF">Wallis y Futuna</option>
<option value="ZM">Zambia</option>
