<section class="mobileCMS-section mobileCMS-section--colorized u-mgt u-brdt u-brb ">
    <div class="modularGrid-module u-md-80 u-elem-center u-pd u-mgb">
        <h3 class="mobileCMS-sectionTitle">Estimar costes de envío y plazo de entrega aproximado</h3>
        <form class="form u-mgt">
            <fieldset class="form-fieldset form-fieldset--borderless">
                <div class="modularGrid">
                    <div class="modularGrid-module u-sm-30 u-sm-pdr">
                        <label class="form-label" for="country">País</label>
                        <select  id="country" name="country" class="form-select">
                            {{>countryOptions}}
                        </select>
                    </div>
                    <div class="modularGrid-module u-sm-25 u-sm-pdr">
                        <label class="form-label" for="">Código postal</label>
                        <input type="text" name="cp" class="form-input">
                    </div>

                    <div class="modularGrid-module u-sm-20 u-sm-pdr">
                        <label class="form-label" for="">Peso aprox.</label>
                        <input type="text" name="weight" class="form-input">
                    </div>
                    <div class="modularGrid-module u-sm-25 u-pdt">
                        <button data-js-validate-form="shipping" class="button button--primary  button--compressed ">
                            Calcular
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset data-js-result-carriers="result-carriers" class="form-fieldset form-fieldset--borderless u-mgt">
            </fieldset>
        </form>
    </div>
</section>