<div class="modularGrid u-pdb">
  <div class="modularGrid-module cmsContent u-pdt u-pdb--half u-pdh--half box ">
    <div class="modularGrid u-elem-center u-xs-70 ">
      <div class="modularGrid-module u-xs-70 u-pdr ">
        <h2 class="title2 title2--huge">¡Muchas gracias!</h2>       
         {{#if multi}} 
          <p class="subtitle3 u-pdt">Sus pedidos con número XXX, XXX, se han realizado con éxito.</p> 
          <p class="subtitle3 u-pdv--half">Ha elegido la opción de Envío múltiple, por lo que recibirá los productos en varios envíos, a medida que estén disponibles.</p> 
          <p>En las próximas horas podrá consultar en su panel de control:</p>       
          <ul>
            <li class="u-mgb--min">El estado de sus pedidos</li>
            <li class="u-mgb--min">El nº de tracking ID (Nº de seguimiento de la empresa de transporte)</li>
            <li>La información de seguimiento de sus pedidos.</li>
          </ul>

          {{else}}

          <p class="subtitle3 u-pdt">Su pedido con número XXX se ha realizado con éxito.</p> 
         
          <p>En las próximas horas podrá consultar en su panel de control:</p>       
          <ul>
            <li class="u-mgb--min">El estado de su pedido</li>
            <li class="u-mgb--min">El nº de tracking ID (Nº de seguimiento de la empresa de transporte)</li>
            <li>La información de seguimiento de su pedido.</li>
          </ul>
          {{/if}}         
        </div>
        <div class="modularGrid-module {{#if multi}}u-xs-30{{else}}u-xs-20{{/if}} u-pdl--half">
          <img src="../../img/happy-user.svg" alt="image" >
        </div>

      </div>
    </div>
  </div>
































