<section class="panel-section"  data-js-blockstocks="productlist" style="display:none;">
      <div class="modularGrid">
            <div class="modularGrid-module u-pd">
                  {{> productList productList.searchBoxList}}
            </div>
      </div>
</section>