 <section class="panel-section">
  <h3 class="title">ddddddddddd</h3>
<!-- <div class="modularGrid">
    <div class="modularGrid-module">
    <table class="table panelHeader-fixedTableHeader panelHeader-fixedTableHeader--singleRow">
        <thead class="table-thead ">
            <tr class="table--tr table-tr--sort">
                <th class="table-th table-item u-xs-5">Código BigBuy
                <svg class="icon icon--inline icon--xxs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-caretUp"></use></svg>
               </th>
                <th class="table-th table-item " colspan="2">Artículo
                 <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-caretDown"></use></svg>
             </th>
              <th class="table-th table-item u-xs-5">Reserva
                <svg class="icon icon--inline icon--xxs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-caretDown"></use></svg>
            </th>
             <th class="table-th table-item  u-xs-10">Validación
            </th>
            <th class="table-th table-item  u-xs-5">Caducidad
            </th>
            <th class="table-th table-item table-item--number  u-xs-5">PVD
                <svg class="icon icon--inline  icon--xxs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-caretDown"></use></svg>
            </th>
            <th class="table-th table-item table-item--number  u-xs-5">Cantidad
                <svg class="icon icon--inline icon--xxs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-caretDown"></use></svg>
            </th>
            <th class="table-th table-item table-item--stockActions">
            </th>


        </tr>
        <!-- table actions -->

<!--</thead>
</table>
<table class="table">
<tbody class="table-tbody table-tbody--stripped">

  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError1}}
  {{>tableRowStocksError2}}
  {{>tableRowStocksError2}}





</tbody>
</table>
</div>
</div> -->
</section>