<!-- expressCart Row -->
<tr class="table-tr table-tr--error" data-js-back="row">
  {{>referencia}}
    <td class="table-item table-item--thumb u-xs-5">
      <img class="img--responsive u-brd" src="http://londonred.dropshippershop.com/16334-large_default/exprimidor-de-naranjas-palanca-de-acero.jpg" alt=""></td>
    <td class="table-item table-item--borderless">Exprimidor de Naranjas Palanca de Acero </td>
    <td class="table-item table-item--number">10/10/2015<div class="date-hours">09:30h</div></td>
     <td class="table-item"> Pendiente de validación por Bigbuy</td>
      <td class="table-item table-item--boolean" title="No disponible"><svg role="img" class="icon icon--inline icon--xs icon--waiting"><use xlink:href="../../img/icons/svg-defs.svg#icon-sandClock"/></svg></td>

        <td class="table-item table-item--number">2.000,00 €</td>
        <td class="table-item table-item--number">{{> unitControl }}</td>
               <td class="table-item table-item--boolean">

                <svg class="icon icon--inline  icon--xs icon--waiting" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-sandClock"/></svg>
           <!--<button class="button button--primary button--condensed " title="Transferir a Bigbuy">
            <svg class="icon icon--inline  icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-arrowUp"/></svg>
            Transferir a Bigbuy
           </button>-->
         <!--<button title="Eliminar" class="button button--icon u-mgl--half">
          <svg class="icon icon--inline  icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"/></svg>
         </button>-->



       </td>
</tr>
