 <section class="panel-section">
 <div class="modularGrid">
    <div class="modularGrid-module">
    <table class="table panelHeader-fixedTableHeader  panelHeader-fixedTableHeader--singleRow langMenu">
        <thead class="table-thead ">
            <tr class="table--tr table-tr--sort">
                 {{>commonFields}}
            <th class="table-th table-item table-item--stockActions" width="100">
            </th>



        </tr>
        <!-- table actions -->


</thead>
</table>
<table class="table">
<tbody class="table-tbody table-tbody--stripped">

    {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}
     {{>tableRowStocks}}
     {{>tableRowStocks}}
     {{>tableRowStocks00}}




</tbody>
</table>
</div>
</div>
</section>