<!-- expressCart Row -->
<tr class="table-tr " data-js-back="row">
  {{>referencia}}
  <td class="table-item  table-item--thumb u-md-5">
      <img class="img--responsive u-brd" src="http://londonred.dropshippershop.com/16334-large_default/exprimidor-de-naranjas-palanca-de-acero.jpg" alt=""></td>
      <td class="table-item table-item--borderless">Exprimidor de Naranjas Palanca de Acero </td>
            <td class="table-item table-item--number">10/10/2015<div class="date-hours">09:30h</div></td>
            <td class="table-item table-item--number">12/10/2015<div class="date-hours">09:30h</div></td>
             <td class="table-item table-item--number">19/10/2015<div class="date-hours">09:30h</div></td>

      <td class="table-item table-item--number">2.000,00 €</td>
      <td class="table-item table-item--number">6.020</td>
       <td class="table-item"></td>


</tr>