<tr class="table-tr" data-js-back="row">
  <td class="table-item  table-item--borderless  u-md-5"> <img class="img--responsive u-brd" src="http://londonred.dropshippershop.com/16334-large_default/exprimidor-de-naranjas-palanca-de-acero.jpg" alt=""></td>
  <td class="table-item table-item--borderless">Exprimidor de Naranjas Palanca de Acero </td>
  <td class="table-item ">ABCDE1234567890</td>
  <td class="table-item table-item--number">10/10/2015</td>
  <td class="table-item table-item--number">10/10/2015</td>
  <td class="table-item table-item--number">-4d 30m 20s</td>
  <td class="table-item table-item--number">5.000,23 €</td>
  <td class="table-item table-item--number">6.000</td>
  <td class="table-item table-item--number"  title="Rechazado">
   <span class="u-pdr--third">Rechazado</span>
   <svg class="icon  icon--inline icon--xs icon--error" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"/></svg>


 </td>
</tr>