<!-- expressCart Row -->
<tr class="table-tr " data-js-back="row">
  <td class="table-item ">ABCDE1234567890</td>
  <td class="table-item  table-item--thumb u-md-5">
      <img class="img--responsive u-brd" src="http://londonred.dropshippershop.com/16334-large_default/exprimidor-de-naranjas-palanca-de-acero.jpg" alt=""></td>
      <td class="table-item table-item--borderless">Exprimidor de Naranjas Palanca de Acero </td>
      <td class="table-item table-item--number">10/10/2015  <span class="u-mgl--half">09:36h</span></td>
      <td class="table-item table-item--number">15/10/2015  <span class="u-mgl--half">15:20h</span></td>
      <td class="table-item table-item--number">22/10/2015  <span class="u-mgl--half">15:20h</span></td>

      <td class="table-item table-item--number">2.000,00 €</td>
      <td class="table-item table-item--number">600</td>
     <td class="table-item table-item--boolean" title="Sin comentarios">
            <button title="Sin comentarios" class="button button--icon u-mgr--half">
                  <svg role="img" class="icon icon--inline icon--xs "><use xlink:href="../../img/icons/svg-defs.svg#icon-commentsNot"/></svg>
            </button>
            </td>

</tr>