<tr class="table-tr " data-js-back="row">
      {{>referencia}}
      <td class="table-item  table-item--thumb" width="50">
            <img class="img--responsive u-brd" src="http://londonred.dropshippershop.com/16334-large_default/exprimidor-de-naranjas-palanca-de-acero.jpg" alt=""></td>
            <td class="table-item table-item--borderless" width="250">Exprimidor de Naranjas Palanca de Acero </td>
            <td class="table-item table-item--number" width="90">10/10/2015<div class="date-hours">09:30h</div></td>
            <td class="table-item table-item--number" width="100">12/10/2015<div class="date-hours">09:30h</div></td>
            <td class="table-item table-item--number" width="90">-9d 20h</td>

            <td class="table-item table-item--number" width="100">2.000,00 €</td>
            <td class="table-item table-item--number" width="100">{{> unitControl }}</td>
            <td class="table-item" width="170">

                          <img class="icon icon--inline  icon--xxs u-mgl--6th" src="../../img/icons/cart.svg">
                          <span class="u-val--txb">Añadido al carrito</span>


                  <button class="button button--icon u-mgl" title="Deshacer">
                  <img class="icon icon--inline  icon--xs" src="../../img/icons/undo.svg">



                  </button>
          </td>

  </tr>