@include block(downloadsLang) {


  display: block;
  margin: 0 0 -1rem -0.2rem;
  outline: medium none;
  padding-top: 0.25rem;
  position: relative;

  @include element(icon) {
      display: inline-block;
      width: 18px;
      height:18px;




  }





}


