@include block(tableWalletContent) {
    margin-top: 6.5rem;
    @include addBreakpoint(xl) {
        margin: 0;
    }
    @include modifier(alt) {
        margin: 0;
        background: white;
        height: 100%;
        //max-width: 1200px;
        @include addBreakpoint(xl) {
            margin-top: -6.6rem;
            height: calc(100% + 6.6rem);
        }
    }
}
