<aside class="popup u-sm-70 u-md-50 u-lg-35 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
        <h1 class="popup-title">Seguimiento Stock</h1>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
    <form class="form" action="">
        <div class="modularGrid   paddingHack " data-js-popup="popup">
            <fieldset class="form-fieldset form-fieldset--borderless  u-pd">
                <h3 class="form-fieldset-title">¿Dejar de seguir este producto?</h3>
                <div class="modularGrid">
                      <div class="modularGrid-module u-pdt u-pdb--half">
                        <a class="button  button--link button--compressed" href="#" data-js-popup="close">Cancelar</a>
                        <a class="button button--primary button--compressed u-mgl u-flr" href="#" data-js-popup="submitAction">Dejar de seguir</a>
                    </div>
                </div>
            </fieldset>
            </div>
    </form>
</aside>