<aside class="popup popup--full" data-js-popup="popup">
    <header class="popup-header">
        <p class="popup-title">BIENVENIDOS AL CENTRO DE AYUDA</p>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>

    <div class="modularGrid u-pd" data-js-popup="popup">
    <div class="modularGrid-module u-pdb">

  

                    <p>BigBuy apuesta por la transparencia y ofrece al distribuidor que elija su propio Hosting siempre y cuando cumpla con unos requisitos mínimos. El mundo del Hosting es muy complejo y en muchas ocasiones ciertos servidores no responden bien a los scripts, por ello ofrecemos diversas soluciones testeadas por BigBuy:</p>
                    <ul>
                        <li><strong>La solución más económica que recomendamos:</strong>
                            <br>OVH VPS Classic | Precio: 4,99€/mes +IVA <a href="https://www.ovh.es/vps/vps-classic.xml" target="_blank">+info</a>
                        </li>
                        <li><strong>La solución para los más exigentes:</strong>
                            <br>OVH VPS Classic 3 | Precio: desde 7,99€/mes +IVA <a href="https://www.ovh.es/vps/vps-classic.xml" target="_blank">+info</a>
                        </li>
                    </ul>
                    <p>Ofrecemos un manual con los pasos a seguir para el registro de cualquier Hosting una vez recibido el pedido de la Tienda Dropshipping. Estas dos soluciones están testeadas por Bigbuy, la primera opción es económica e ideal para arrancar un e-commerce, y más adelante conforme fuera teniendo más tráfico podría migrar a un Hosting superior, en función de sus necesidades.</p>
                    <p>Requisitos mínimos si usted quiere elegir otro servidor:</p>
                    <ul>
                        <li>Admita Scripts con tareas cron programadas</li>
                        <li>Funcionalidad SSH</li>
                        <li>CURL</li>
                    </ul>
                    <p>Requisitos ideales para clientes exigentes, no son imprescindibles pero mejoran notablemente el rendimiento y la velocidad, el servidor privado virtual de Loading cumple estos requisitos:</p>
                    <ul>
                        <li>Memcached instalado en su servidor</li>
                        <li>Compresión GZIP en Apache</li>
                        <li>Caudal o ancho de banda adecuado. Es muy común que los proveedores de hosting negocien este parámetro. Es aconsejable que le aseguren un mínimo, por ejemplo 100Mbps</li>
                    </ul>
                
      </div>


          
    </div>













</aside>

