<aside class="popup popup--waiting u-lg-60 animated fadeInDown" data-js-popup="popup" data-locked="true">
    <header class="popup-header popup-header--alt u-pdh--half">
        <h4 class="popup-title">Cambios en la Ley de Protección de datos</h4>        
    </header>
    <div class="popup-content">
        <div class="modularGrid">           
            <div class="modularGrid-module u-pdh--half u-pdb--half">
                <h3 class="subtitle3 ">Sus datos son muy importantes, y con la nueva regulación europea van a estar más protegidos que nunca.</h3>
                <p class="subtitle6 u-pdv">Para ello, hemos hecho cambios en nuestra Política de Privacidad, que necesitamos que acepte. <a href="https://www.bigbuy.eu/es/condiciones-generales-y-de-privacidad.html" target="_blank" class="link color-blue">Los puede leer aquí.</a></p>
                <p class="subtitle6">Gracias a algunos de estos cambios, a partir de ahora podrá:</p>
                <ul class="list list--checklist list--midsize u-pdv--half u-pdl--half">      
                    <li class="list-item">{{>svgIcon type='done' class='color-blue'}}Consultar y acceder a sus datos cuando quiera. </li>
                    <li class="list-item">{{>svgIcon type='done' class='color-blue'}}Corregir cualquier dato que tengamos sobre usted.</li>
                    <li class="list-item">{{>svgIcon type='done' class='color-blue'}}Eliminar sus datos en cualquier momento (siempre que no tenga un Pack activo).</li>  
                </ul>
                <button data-js-popup="close" type="submit" class="button button--primary button--big" >Aceptar condiciones</button>          
            </div>
        </div>
    </div>
</aside>