<aside class="popup popup--info u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
         <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
             <svg role="img" class="icon icon--inline icon--xs">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
            </svg>
        </button>
    </header>
    <div class="popup-content u-pdt">
    	<p class="popup-title">¿Está seguro que quiere cerrar la consulta 201504568?</p>
        <button class="button button--primary button--big u-mgl u-mgt--half" data-js-popup="close" title="Cerrar">Ok</button>
        <button class="button button--default u-mgt--half" data-js-popup="close" title="Cerrar">Cancelar</button>
    </div>
</aside>
