<aside class="popup u-sm-90 u-lg-55 u-xl-80 animated fadeInDown " data-js-popup="popup">

    <header class="popup-header">
        <h1 class="popup-title">Descargar archivos</h1>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
    <form class="form" action="">
        <div class="modularGrid paddingHack " data-js-popup="popup">
            <fieldset class="form-fieldset form-fieldset--sequential u-pd">
                <h3 class="form-fieldset-title u-pdb--half">Escoja uno o más idiomas para descargar sus archivos:</h3>
                  {{>mobileLanglist}}
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--sequential   u-md-brdt u-pd">
            <a class="button button--primary button--compressed" href="#" data-js-popup="submitAction">Descargar archivos

            <img src="../../img/mobileIcons/file_download_black.svg" class="icon icon--xs ">

            </a>
         </fieldset>
            </div>
    </form>
</aside>
