<aside class="popup u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
        <h1 class="popup-title popup-title--new">Pedidos multienvío </h1>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
    <form class="form" action="">
    <fieldset class="form-fieldset form-fieldset--sequential">

    <div class="modularGrid">
        <div class="modularGrid-module ">
            <h3 class="contentTitle">Envío único</h3>
            <p>Los productos se enviarán en un único envío.</p>
            <h3 class="contentTitle u-mgt">Envío múltiple</h3>
            <p>Los productos se enviarán, a medida que estén disponibles, en varios envíos.</p>
            <em class="u-mgt--half" >Esta modalidad conlleva gastos adicionales.</em>
        </div>
    </div>
    </fieldset>
    <fieldset class="form-fieldset form-fieldset--sequential">

        <footer class="popup-footer modularGrid">

            <div class="modularGrid-module u-xs-50 u-pdt--half">
                <input type="checkbox" name="sector" id="sector_4" class="form-checkbox">
                <label title="" for="sector_4" class="form-label form-label--inline">No volver a mostrar</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-tar">
                <a data-js-popup="submitAction" href="#" class="button button--primary button--compressed">Aceptar</a>
            </div>
        </form>
    </footer>
    </fieldset>
</aside>








