<aside data-js-popup="popup" class="popup animated fadeInDown u-xl-80" data-js-ticket-answer="answer">

    <header class="popup-header">
        <h1 class="popup-title">Responder</h1>
         <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✖</button>
    </header>
    <div class="popup-content">
        <div class="modularGrid u-pdb">
            <div class="modularGrid-module">
                <h3 class="subtitle3">Referencia <span class="form-label--optional" data-js-ticket-info="reference">160421-000007</span></h3>
                <h3 class="subtitle3">Asunto <span class="form-label--optional"data-js-ticket-info="subject">Producto erróneo</span></h3>
            </div>
        </div>
        <div class="modularGrid">

        <div style="max-height: 250px; overflow-y: auto; font-size: 1.2rem; font-weight: 300; background:rgba(0,0,0,0.03);" class="modularGrid-module u-brd u-pd--half">
                <p class="ventaCMS-sectionText"><strong>Respuesta de regla - </strong>21/04/2016 15:56</p>
                <p class="ventaCMS-sectionText"></p><div><div><span style="font-weight:bold;"></span></div><div><span>&nbsp;</span></div><div><span>Hemos recibido su incidencia referente al pedido </span><span style="font-weight:bold;"></span><span>. </span></div><div><span>&nbsp;</span></div><div>El equipo de Postventa está analizando lo sucedido y le contestará con la mayor brevedad posible. </div><div><span>&nbsp;</span></div><div><span>Con el fin de proveerle de una mejor atención y facilitar el seguimiento, le rogamos que utilice siempre este número </span><span style="font-weight:bold;">160421-000007 </span><span>en el asunto de los mensajes relacionados a esta incidencia. </span></div><div><span>&nbsp;</span></div><div><span>Le recordamos que puede realizar el seguimiento de su incidencia desde el </span><a style="color:#0066CC;" dir="LTR" title="Haga clic para seguir el enlace: https://www.bigbuy.eu/es/contact" href="https://www.bigbuy.eu/es/contact"><span>Área de contacto</span></a><span>&nbsp;</span><span>.</span></div><div><span>&nbsp;</span></div><div>Disculpe las molestias. </div><div><span>&nbsp;</span></div><div><span style="font-weight:bold;">Atención al Cliente - Postventa</span></div><div><a style="color:#0066CC;" dir="LTR" title="Haga clic para seguir el enlace: https://www.bigbuy.eu/" href="https://www.bigbuy.eu/"><span>www.bigbuy.eu</span></a><span>&nbsp;</span><span>|Tel. (+34) 961150422 </span></div></div><p></p>
                <p class="ventaCMS-sectionText u-pdt"><strong>Cliente - José Luis Benacloch  </strong>21/04/2016 15:56</p>
                <p class="ventaCMS-sectionText u-pdt u-pdb">########<br>Nº pedido: 10088490<br>VacíoIndique el Código BB: D1505112<br>########<br> hola que tal</p>

            </div>
        </div>

                   <form data-js-ticket-answer-form="form" action="" class="form">
                        <fieldset class="form-fieldset form-fieldset--borderless u-pdt">
                            <div class="modularGrid">
                                <div class="modularGrid-module u-pdb--half">
                                    <label for="txtarea" class="form-label">Mensaje</label>
                                    <textarea data-js-ticket-answer-input="msg" class="form-textarea" id="txtarea"></textarea>
                                </div>
                            </div>
                            <div class="modularGrid">
                                <div class="modularGrid-module">
                                    <button data-js-popup="submitAction" type="submit" class="button button--primary button--big u-mgr--half">Enviar</button>
                                    <button data-js-popup="close" class="button button--big">Cancelar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

        </div>
    </div>

</aside>