<aside class="popup u-sm-95 u-md-85 u-lg-60 u-xl-55 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
        <h1 class="popup-title">Adjuntar justificante</h1>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
    <form class="form" action="">
        <div class="modularGrid  paddingHack " data-js-popup="popup">
            <fieldset class="form-fieldset form-fieldset--borderless u-pd">
                <h3 class="form-fieldset-title">Adjunte el justificante de la transferencia para poder validar su pedido</h3>
                <div class="modularGrid">
                    <div class="modularGrid-module u-pdt--third u-sm-90 u-md-70">
                        <label class="form-label">Seleccionar justificante:<em class="form-label--optional">Formatos soportados PNG, JPG y PDF</em></label>
                        <input type="text" class="form-input" >

                         <input type="file" class="form-input" style="opacity:0; position: relative; margin-top: -4rem;"  name="bankwire_receipt" >


                        <label class="form-label u-pdt--half" for="concept">Concepto</label>
                        <input type="text" class="form-input u-mgb" id="concept"> </div>
                    <div class="modularGrid-module u-pdt u-pdb--half u-xs-60 u-sm-40 u-md-30 u-block">
                        <a class="button button--primary button--full u-tac" href="#" data-js-popup="submitAction">Enviar</a>
                    </div>
                </div>
            </fieldset>
            </div>
    </form>
</aside>

