    <aside class="popup u-sm-90 u-lg-55 u-xl-50 animated fadeInDown ">
        <header class="popup-header">
           <h1 class="popup-title">
            Buscar consultas
            </h1>
             <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
        </header>

        <form class="form">  
           <div class="modularGrid paddingHack " data-js-popup="popup">
            <fieldset class="form-fieldset form-fieldset--sequential u-pdl u-pdr">
                <div class="modularGrid">
                    <div class="modularGrid-module u-pdt--half">
                        <label for="search" class="form-label">Buscar:</label>
                        <input name="searchBox" class="form-input" type="text">
                    </div>
                    <div class="modularGrid-module u-pdt--half u-pdb15 u-text-right">
                        <a class="button  button--link button--compressed u-pd--0 u-fl-left" href="#" data-js-popup="close">Cancelar</a>
                        <a class="button button--primary button--compressed u-mgl" href="#" data-js-popup="submitAction">Ver 13 resultados</a>
                    </div>
                </div>
            </fieldset>
            </div>
        </form>
    </aside> 



