<aside data-js-popup="popup" class="popup u-lg-50 animated fadeInDown u-pdt"><div class="popup-content"><div class="modularGrid"><div class="modularGrid-module u-md-25 u-tac"><img src="http://localhost/bigbuy_e/public/img/draw_warning.svg" class="popup-img"></div><div class="modularGrid-module u-md-60"><h2 class="popup-extra u-mgb" data-jspopuptitle>error text header</h2><div data-jspopuptitle class="u-pdh font-size1"></div></div></div><button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">✕</button></aside>

