<aside class="popup popup--waiting u-lg-60 animated fadeInDown" data-js-popup="popup">
    <header class="popup-header popup-header--alt">
        <h4 class="popup-title">Pallet Delivery<span class="popup-title--new">Novedad</span></h4>
        <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">{{>svgIcon type='times'}}</button>
    </header>
    <div class="popup-content">
        <div class="modularGrid">
            <div class="modularGrid-module u-xs-70 u-md-35 u-pdr ">
                <img src="../../img/pallet-delivery-01.svg" class="popup-img u-pd">
            </div>
            <div class="modularGrid-module u-md-65 u-pdh u-pdb--third">
                <h3 class="form-title ">Condiciones especiales de Pallet Delivery:</h3>
                <p class="u-pdv">Este método de envío se realiza con camión de grandes dimensiones y con las siguientes limitaciones de entrega:</p>
                <p class="u-pdb"><strong>· Descarga:</strong> El destinatario deberá facilitar la descarga de pallets en el camión y disponer de su propia carretilla elevadora (forklift), ya que el camión no dispone de plataforma y tampoco está obligado a subir mercancía paletizada a plantas superiores.  </p>
                <p class="u-pdb"><strong>· Accesibilidad:</strong> Las entregas se realizan con camiones de grandes dimensiones en zonas industriales y con facilidad de acceso (evite zonas urbanas y ciudades).</p>
                <p class="u-pdb"><strong>· Primera Entrega:</strong> Se realizará un solo intento de entrega en horario laboral.</p>
                <p class="u-pdb"><strong>· Sin trazabilidad:</strong> No facilitamos seguimiento de envío (Tracking ID) en su panel de control.</p>
                <p class="u-pdb"><em><strong>Importante:</strong> En caso de no cumplirse alguno de estos puntos, la empresa de transportes podría cobrar gastos adicionales.</em></p> 

                <section class="u-flex--center u-flex--between u-pdt u-mgt--half u-brdt">
                    <label class="form-label form-label--inline" for="sector_4" title=""><input type="checkbox" class="form-checkbox" id="sector_4" name="sector" >He leído y acepto las condiciones</label>
                    <button data-js-popup="close" type="submit" class="button button--primary button--big" disabled >Aceptar</button>
                </section>
            </div>
        </div>
    </div>

</aside>


