<aside class="popup popup-full u-sm-90 u-lg-55 u-xl-50 animated fadeInDown ">
    <div class="">
    <header class="popup-header">
       <h1 class="popup-title">
        Filtrar productos
        </h1>
         <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
    <div class="">
        <fieldset class="form-fieldset--sequential">
              <button class="button button--primary button--full button--compressed" type="submit" data-js-results-action="filter">
                    Ver 38 resultados
               </button>
        </fieldset>
    </div>
   </div>
  <form class="form" action="searchResults2.html">
      <div class="modularGrid paddingHack " data-js-popup="popup">
        
        <fieldset class="form-fieldset--sequential u-md-50">
          <h3 class="form-fieldset-title u-pdb--half">Stock</h3>
          <div class="modularGrid">
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="stock0">
              <label title="Sin stock" for="stock0" class="form-label u-inline  form-label--inline">Sin stock </label> <span class="form-info">(1398)</span>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="stock1">
              <label title="Con stock" for="stock1" class="form-label u-inline  form-label--inline">Con stock </label> <span class="form-info">(744)</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-fieldset--sequential u-md-50">
          <h3 class="form-fieldset-title u-pdb--half">Precio </h3>
          <div class="modularGrid">
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="price0">
              <label title="de 0,1 a 5€" for="price0" class="form-label u-inline  form-label--inline">de 0,1 a 5€</label> <span class="form-info">(1398)</span>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="price1">
              <label title="de 5 a 10€" for="price1" class="form-label u-inline  form-label--inline">de 5 a 10€</label> <span class="form-info">(744)</span>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="price3">
              <label title="de 10 a 30€" for="price3" class="form-label u-inline  form-label--inline">de 10 a 30€</label> <span class="form-info">(744)</span>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="price4">
              <label title="más de 30€" for="price4" class="form-label u-inline  form-label--inline">más de 30€</label> <span class="form-info">(744)</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-fieldset--sequential u-md-50">
          <h3 class="form-fieldset-title u-pdb--half">Especiales</h3>
          <div class="modularGrid">
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="special0">
              <label title="Top Ventas" for="special0" class="form-label u-inline  form-label--inline">Top Ventas</label> <span class="form-info">(1598)</span>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="special1">
              <label title="Novedades" for="special1" class="form-label u-inline  form-label--inline">Novedades</label> <span class="form-info">(600)</span>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="special2">
              <label title="Outlet" for="special2" class="form-label u-inline  form-label--inline">Outlet</label> <span class="form-info">(744)</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-fieldset--sequential u-md-50">
          <h3 class="form-fieldset-title u-pdb--half">Categoría</h3>
          <div class="modularGrid">
            <div class="modularGrid-module u-sm-50 u-md-100 u-lg-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="category0">
              <label title="Teletienda | Anunciado en TV" for="category0" class="form-label u-inline  form-label--inline">Teletienda | Anunciado en TV</label> <span class="form-info">(1598)</span>
            </div>
            <div class="modularGrid-module u-sm-50 u-md-100 u-lg-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="category1">
              <label title="Cocina | Gourmet" for="category1" class="form-label u-inline  form-label--inline">Cocina | Gourmet</label> <span class="form-info">(600)</span>
            </div>
            <div class="modularGrid-module u-sm-50 u-md-100 u-lg-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="category2">
              <label title="Pequeño electrodoméstico" for="category2" class="form-label u-inline  form-label--inline">Pequeño electrodoméstico</label> <span class="form-info">(744)</span>
            </div>
            <div class="modularGrid-module u-sm-50 u-md-100 u-lg-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="category3">
              <label title="Hogar | Limpieza" for="category3" class="form-label u-inline  form-label--inline">Hogar | Limpieza</label> <span class="form-info">(1598)</span>
            </div>
            <div class="modularGrid-module u-sm-50 u-md-100 u-lg-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="category4">
              <label title="Perfumes | Higiene Personal" for="category4" class="form-label u-inline  form-label--inline">Perfumes | Higiene Personal</label> <span class="form-info">(600)</span>
            </div>
            <div class="modularGrid-module u-sm-50 u-md-100 u-lg-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="category5">
              <label title="Salud | Belleza" for="category5" class="form-label u-inline  form-label--inline">Salud | Belleza </label> <span class="form-info">(744)</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-fieldset--sequential u-md-50">
          <h3 class="form-fieldset-title u-pdb--half">Etiquetas populares </h3>
          <div class="modularGrid">
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag0">
              <label title="adelgazar" for="tag0" class="form-label u-inline  form-label--inline">adelgazar</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag1">
              <label title="ahorro" for="tag1" class="form-label u-inline  form-label--inline">ahorro</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag2">
              <label title="amor" for="tag2" class="form-label u-inline  form-label--inline">amor</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag3">
              <label title="animales" for="tag3" class="form-label u-inline  form-label--inline">animales</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag4">
              <label title="camping" for="tag4" class="form-label u-inline  form-label--inline">camping</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag5">
              <label title="cosmética natural" for="tag5" class="form-label u-inline  form-label--inline">cosmética natural</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag6">
              <label title="decoración" for="tag6" class="form-label u-inline  form-label--inline">decoración</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag7">
              <label title="ferretería" for="tag7" class="form-label u-inline  form-label--inline">deportista</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag8">
              <label title="deportista" for="tag8" class="form-label u-inline  form-label--inline">cosmética natural</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag9">
              <label title="dia" for="tag9" class="form-label u-inline  form-label--inline">dia</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag10">
              <label title="ecológico " for="tag10" class="form-label u-inline  form-label--inline">ecológico</label>
            </div>
            <div class="modularGrid-module u-xs-50 u-mgb--half">
              <input type="checkbox" class="form-checkbox" id="tag11">
              <label title="esteticien" for="tag11" class="form-label u-inline  form-label--inline">esteticien</label>
            </div>
          </div>
        </fieldset>
         </div>
    </form>
</aside> 