<aside class="popup u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
     <h1 class="popup-title">Seguimiento de stock</h1>
     <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
 </header>
 <div class="modularGrid u-pd">
    <div class="modularGrid-module">
         <div class="form-fieldset form-fieldset--selected  u-pd--half">
            <p class="u-mgb--min">El seguimiento de stock le permite visualizar desde su <a href="#" class="link">Panel de Control</a> toda la información sobre la disponibilidad y las próximas entradas de este producto</p>
        </div>  
        
    </div>
    
    <div class="modularGrid-module u-xxs-30 u-pdt">
        <img class="popup-img " src="../../img/escobilla-de-bano-flamenco-wagon-trend.jpg">
    </div>
    <div class="modularGrid-module u-xxs-70 u-pdl">
        <h3 class="subtitle2 u-pdt u-pdb--half">Escobilla de Baño Flamenco Wagon Trend</h3> 

        <button class="button button--trackText" data-js-ticket-action="btnAction">
            <span class="track">Seguir stock</span>
            <span class="success">Siguiendo stock</span>
            <span class="error">Dejar de seguir</span>
        </button>
    </div>
</div>
</aside>