<aside class="popup popup--info u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
        <p class="popup-title">Los clientes con Pack Mayorista activo Basic, Pro, Business o Premium se benefician de comprar unidades sueltas a precio PVD (Precio Venta Distribuidor) e inclusive descuentos adicionales sobre este PVD.</p>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
</aside>

