<aside data-js-popup="popup" class="popup animated fadeInDown u-sm-70 u-md-60 u-lg-60" data-js-ticket-answer="answer">

    <header class="popup-header">
        <h1 class="popup-title">Paypal - Pago automático</h1>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✖</button>
    </header>
    <div class="popup-content">
        <div class="modularGrid">
            <div class="modularGrid-module">
                <p class="ventaCMS-sectionText u-mgb--half">
                    Haga clic aquí si desea realizar pedidos pagando por PayPal, la forma de pago más rápida posible, y sin necesidad de que en el proceso final del carrito se le redirija siempre a la web de PayPal para que introduzca su e-mail y contraseña.
                </p>
                <p class="ventaCMS-sectionText u-mgb--half">
                Es lo que PayPal denomina “Pagos facturados automáticamente” y al hacer clic confirma los pagos automáticos entre BigBuy y usted. Es exactamente igual de seguro para el comprador que el proceso antiguo de tener que entrar cada vez a la web de PayPal.
                </p>
                <p class="ventaCMS-sectionText u-mgb--half">
                    Además, en cualquier momento puede entrar en Paypal y cancelar este pago automático.
                </p>
                <p class="ventaCMS-sectionText u-mgb--half">
                    Los pagos se realizarán con su forma de pago predeterminada en PayPal, a menos que seleccione una forma de pago preferida accediendo a la página de su perfil de PayPal.
                </p>
                <p class="ventaCMS-sectionText u-mgb--half">
                    <i>Este proceso puede tardar unos minutos.</i>
                </p>
            </div>
        </div>
    </div>





   <!-- {{!--  <button data-js-popup="close" class="button button--big">Cancelar</button> --}} -->



<footer class="popup-footer modularGrid">
        <button data-js-popup="close" class="button button--primary button--big">Aceptar</button>
        </footer>


</aside>