<aside data-js-popup="popup" data-js-popupinfo class="popup u-xs-90 u-md-70 u-lg-50 animated fadeInDown u-cmsContent">
    <header class="popup-header">

    </header>
    <div class="popup-content u-pdt">
        <div class="modularGrid">
            <div class="modularGrid-module u-xs-100 u-sm-20 u-pd u-tac">
                {{>svgIcon type='check2' class='color-success u-pdh--half' size='xl'}}
            </div>
            <div class="modularGrid-module u-xs-100 u-sm-80 u-pd u-op-70">
                <h2 class="title2 title2 condensed"><strong>Ha solicitado que ingresemos en su monedero un importe de XXXXX€</strong></h2>       
                <p class="subtitle u-pdb--half u-pdt">Por favor, siga los siguientes pasos:</strong>.</p>
                <p class="subtitle u-pdb--half"><strong>Paso 1: </strong> Realice una transferencia a la cuenta bancaria siguiente:</p>
                <table class="table table--normalize">
                    <tbody class="table-tbody">
                        <tr class="table-tr">
                            <td class="table-item table-item--rowtitle"><strong>Importe:</strong></td>
                            <td class="table-item">1000€</td>
                        </tr>
                        <tr class="table-tr">
                            <td class="table-item table-item--rowtitle"><strong>Banco:</strong></td>
                            <td class="table-item">Santander</td>
                        </tr>
                        <tr class="table-tr">
                            <td class="table-item table-item--rowtitle"><strong>IBAN:</strong></td>
                            <td class="table-item">ES12 12 1236 1234569780</td>
                        </tr>
                        <tr class="table-tr">
                            <td class="table-item table-item--rowtitle"><strong>BIC/SWIFT:</strong></td>
                            <td class="table-item">ux123456</td>
                        </tr>
                        <tr class="table-tr">
                            <td class="table-item table-item--rowtitle"><strong>Concepto:</strong></td>
                            <td class="table-item">10201598</td>
                        </tr>
                    </tbody>
                </table>
                <p class="subtitle u-pdb--half u-pdt"><strong>Paso 2:</strong> Entra en este <a href="#" class="underline">enlace</a></p>
                <p class="subtitle u-pdb--half"><strong>Paso 3:</strong> Adjunta el justificante de la transferencia indicando el número de pedido en el partado "Concepto". Clique en Enviar</p>
                <p class="subtitle u-pdb--half"><strong>Paso 4:</strong> Espere a que BigBuy valide el justificante.</p>
                <p class="subtitle u-pdb--half">Hemos enviado un email a xxxx@gmail.com con esta información</strong></p>
               
            </div>
             <div class="modularGrid-module u-tac u-pd--half">
                <button class="button button--primary button--big" data-js-popup="close">Aceptar</button>
            </div>
        </div>
    </div>
    <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
        {{>svgIcon type='times'}}
    </button>
</aside>




