<aside class="popup u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
        <h1 class="popup-title">Descargar archivos</h1>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>
    <form class="form" action="">
        <div class="modularGrid   paddingHack " data-js-popup="popup">
            <fieldset class="form-fieldset form-fieldset--sequential u-sm-50 u-pd">
                <h3 class="form-fieldset-title">Ya soy usuario</h3>
                <div class="modularGrid">
                    <div class="modularGrid-module u-pdt--third">
                        <label for="userMail" class="form-label">E-mail</label>
                        <input type="text" class="form-input" name="userMail" id="userMail">
                        <label class="form-label u-pdt--half" for="pass">Contraseña</label>
                        <input type="password" class="form-input u-mgb" id="pass"> <a href="#" class="form-action form-action--hint "><span class="form-action-msg">¿Olvidó su contraseña?</span></a> </div>
                    <div class="modularGrid-module u-pdt u-pdb--half">
                        <a class="button button--primary button--compressed" href="#" data-js-popup="submitAction">Inicie sesión</a>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--sequential u-sm-50 u-pd">
                <div class="modularGrid-module">
                    <h3 class="form-fieldset-title">Usuario nuevo</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-pdt--third u-pdb--half"> <a class="button button--compressed" href="forms.html" title="Crear una cuenta nueva">Crear una cuenta nueva</a> </div>
                    </div>
            </fieldset>
            </div>
    </form>
</aside>