<aside class="popup popup--info u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
    <header class="popup-header">
        <p class="popup-title">Para alcanzar el siguiente rango de descuento automático deberá añadir al carrito más artículos cuyo valor equivalga o sea superior al importe que indica esta celda.</p>
        <button class="button button--borderless  popup-close" data-js-popup="close" title="Cerrar">✕</button>
    </header>

</aside>

