<section class="mobileCMS-section u-brb ">
    <div class="modularGrid u-md-80  u-xl-70 u-elem-center u-pdb--half">
        <div class="modularGrid-module">
            <figure class="mobileCMS-figure">
                <img class="mobileCMS-figureImg " src="../../img/warehouse.png">
                <figcaption class="mobileCMS-figcaption mobileCMS-figcaption--left mobileCMS-figcaption--inverse u-xs-100 u-sm-40 u-md-50 u-lg-40">
                    <ul class="mobileText-listBullet mobileText-listBullet--big">
                        <li class="u-pdb--half">Picking multirreferencia</li>
                        <li class="u-pdb--half">Almacén logístico de +5.000 m2</li>
                        <li class="u-pdb--half">Almacén 100% informatizado</li>
                        <li class="u-pdb--half">Software ERP con gestión de almacén</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
</section>

