<section class="mobileCMS-section">

    <div class="modularGrid u-md-75  u-xl-70 u-elem-center">
        <div class="modularGrid-module">
         <h4 class="mobileCMS-sectionTitle">Departamentos</h4>
            {{> mobileFeaturesList mobileFeaturesList.nosotrosFeatures}}

        </div>
    </div>
</section>

