<div class="modularGrid-module ">
    <img class="img img--responsive" alt="" src="../../img/oficina_mobile.jpg">
</div>
<div class="modularGrid-module mobileCMS-header mobileCMS-header--overImage">
    <h1 class="mobileCMS-title">SOBRE NOSOTROS</h1>
    <h2 class="mobileCMS-subtitle">Mayoristas de regalos originales</h2>
</div>
