 <div class="modularGrid-module">
        <nav data-js-accordion_selected_class="message-itemHeader--selected" data-js-accordiontype="message-itemContent--selected" 
        data-js-accordion="accordion" data-js-grouped="articles"  class="message grouped">
            <input type="checkbox" name="mensajesConsulta"  class="grouped-checkbox" id="mensajesConsulta"  />
            <article class="message-item">
                <header data-js-accordion="link" class="message-itemHeader">
                    <div class="modularGrid-module message-itemHeader--arrow">
                        <h4 class="message-itemTitle message-itemTitle--full">BigBuy 1
                        <span class="message-itemTitleInfo">
                            <svg class="icon icon--inline icon--attach" role="img"> 
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
                            </svg>
                            <em class="message-itemTitleInfo--detail">21 Junio 2016</em>
                        </span>
                        </h4>
                        <p class="message-itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </header>
                <section data-js-accordion="panel" class="message-itemContent nopadding ">
                      {{>contentTicket}}
                </section>
            </article>
            <div class="grouped-section">
                
            
            <label for="mensajesConsulta" class="grouped-more">
                   Mostrar <span data-js-grouped="counter"></span> mensajes leídos
            </label>   
            </div>
            <article class="message-item">
                 <header data-js-accordion="link" class="message-itemHeader">
                   <div class="modularGrid-module message-itemHeader--arrow">
                        <h4 class="message-itemTitle message-itemTitle--full">Napoleon 2
                            <span class="message-itemTitleInfo">
                                <em class="message-itemTitleInfo--detail">22 Junio 2016</em>
                            </span>
                        </h4>
                        <p class="message-itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </header>
                <section data-js-accordion="panel" class="message-itemContent  nopadding">
                       {{>contentTicket}}
                </section>
            </article>
            <article class="message-item">
                 <header data-js-accordion="link" class="message-itemHeader">
                   <div class="modularGrid-module message-itemHeader--arrow">
                        <h4 class="message-itemTitle message-itemTitle--full">Napoleon 3
                            <span class="message-itemTitleInfo">
                                <em class="message-itemTitleInfo--detail">22 Junio 2016</em>
                            </span>
                        </h4>
                        <p class="message-itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </header>
                <section data-js-accordion="panel" class="message-itemContent  nopadding">
                       {{>contentTicket}}
                </section>
            </article>
            <article class="message-item">
                 <header data-js-accordion="link" class="message-itemHeader">
                    <div class="modularGrid-module message-itemHeader--arrow">
                        <h4 class="message-itemTitle message-itemTitle--full">BigBuy 4
                            <span class="message-itemTitleInfo">
                                <svg class="icon icon--inline icon--attach" role="img"> 
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
                                </svg>
                                <em class="message-itemTitleInfo--detail">23 Junio 2016</em>
                            </span>
                        </h4>
                        <p class="message-itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </header>
                <section data-js-accordion="panel" class="message-itemContent nopadding">
                        {{>contentTicket}}
                </section>
            </article>
            <article class="message-item">
                <header data-js-accordion="link" class="message-itemHeader">
                   <div class="modularGrid-module message-itemHeader--arrow">
                        <h4 class="message-itemTitle message-itemTitle--full">Napoleon 5
                            <span class="message-itemTitleInfo">
                                <svg class="icon icon--inline icon--attach" role="img"> 
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
                                </svg>
                                <em class="message-itemTitleInfo--detail">24 Junio 2016</em>
                            </span>
                        </h4>
                        <p class="message-itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </header>
                <section data-js-accordion="panel" class="message-itemContent nopadding">
                        {{>contentTicket}}
                </section>
            </article>
        </nav>
    </div>