<div class="modularGrid">
    <div class="modularGrid-module">
        <textarea class="form-textarea form-textarea--tall" placeholder="Escriba aquí su mensaje"></textarea>
    </div>
    <div class="modularGrid-module u-sm-70 u-xs-50">
        <button class="uploadFile u-mgt--half">
            Archivo 1
            <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
        </button>
         <button class="uploadFile u-mgt--half">
            Archivo 1
            <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
        </button>
         <button class="uploadFile u-mgt--half">
            Archivo 1
            <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
        </button>
    </div>
    <div class="modularGrid-module u-sm-30 u-xs-50 u-txr">
        <button class="button u-mgt--half"> 
            <svg class="icon icon--inline icon--sm" role="img"> 
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
            </svg>
            Adjuntar
        </button>
    </div>

     <div class="modularGrid-module u-tar">
          <div class="form-label--optional u-mgt">Tamaño de archivos adjuntos <span>5.00 Mb</span> de 10.00 Mb</div>
          <div class="progressBar progressBar--tiny u-xs-70"><span class="progressBar-meter" style="width:33%;"></span></div>
    </div>

     <div class="modularGrid-module u-brdt u-mgt--half">
     <button class="button button--primary u-mgt--half" name="submit">Enviar</button>
    </div>
</div>
