 <div class="modularGrid u-pd">
 <div class="modularGrid-module">
<div class="modularGrid-module">
        <h3 class="mobileText-sectionTitle ">Escriba sus comentarios</h3>
        <textarea class="form-textarea"></textarea>
</div>


<div class="modularGrid-module u-xs-50">
    <button class="uploadFile u-mgt--half">
        Archivo 1
        <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
    </button>
     <button class="uploadFile u-mgt--half">
        Archivo 1
        <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
    </button>
     <button class="uploadFile u-mgt--half">
        Archivo 1
        <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
    </button>
</div>
<div class="modularGrid-module u-txr">
    <button class="button u-mgt--half"> 
        <svg class="icon icon--inline icon--sm" role="img"> 
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
        </svg>
        Adjuntar
    </button>
</div>

<div class="modularGrid-module u-tac">
  <div class="form-label--optional u-mgt">Tamaño de archivos adjuntos <span>5.00 Mb</span> de 10.00 Mb</div>
  <div class="progressBar progressBar--tiny u-xs-70"><span class="progressBar-meter" style="width:33%;"></span></div>
</div>

 <div class="modularGrid-module u-brdt u-mgt--half ">
 <div class="modularGrid-module u-md-25">
 	<button class="button button--primary button--full u-mgt--half" name="submit">Enviar</button>
 </div>
</div>

</div>
</div>