
<form action="" class="form">
    <div class="modularGrid">
        <fieldset class="form-fieldset form-fieldset--sequential u-sm-50 u-pd">
        <h4 class="form-fieldset-title">Ya soy usuario</h4>
            <div class="modularGrid">
                <div class="modularGrid-module u-pdt--third">
                    <label class="form-label" for="userMail">E-mail</label>
                    <input type="text" id="userMail" name="userMail" class="form-input">
                    <label for="pass" class="form-label u-pdt--half">Contraseña</label>
                    <input type="password" id="pass" class="form-input u-mgb"> <a class="form-action form-action--hint " href="#"><span class="form-action-msg">¿Olvidó su contraseña?</span></a> </div>
                    <div class="modularGrid-module u-pdt u-pdb--half">
                        <a data-js-popup="submitAction" href="#" class="button button--primary button--compressed">Inicie sesión</a>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--sequential u-sm-50 u-pd">
                <div class="modularGrid-module">
                    <h4 class="form-fieldset-title">Usuario nuevo</h4>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-pdt--third u-pdb--half">
                            <a title="Crear una cuenta nueva" href="forms.html" class="button button--compressed">Crear una cuenta nueva</a>
                        </div>
                        <div class="modularGrid-module u-mgt u-pdt u-pdb--half u-brdt u-md-show u-xxs-hide">
                        <h4 class="form-fieldset-title">Contacto</h4>
                            <p class="u-mgb--half">

                                <img src="../../img/comercial_mail2.svg">
                            </p>
                            <p >
                                <img src="../../img/comercial_phone2.svg">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </form>






















