<div class="modularGrid">
    <div class="modularGrid-module">
        <h3 class="mobileText-sectionTitle">Seleccione los campos de la consulta</h3>
    </div>
    <div class="modularGrid-module u-md-50">
        <label class="form-label">Seleccione el tipo</label>
        <select name="country" class="form-select">
            <option value="">--</option>
            <option value="">Incidencia Logística</option>
            <option value="">Incidencia Pedido</option>
        </select>
    </div>

    <div class="modularGrid-module u-md-50 u-md-pdl">
        <label class="form-label">Selecciones el motivo</label>
        <select name="country" class="form-select">
            <option value="">--</option>
            <option value="">Pendiente expedir</option>
            <option value="">Tracking</option>
            <option value="">En tránsito</option>
            <option value="">Entrega parcial</option>
            <option value="">Comprobante de entrega</option>
            <option value="">Modificación datos de entrega</option>
        </select>
    </div>

    <div class="modularGrid-module u-md-50">
        <label class="form-label">Nº Pedido</label>
        <input class="form-input">
    </div>

     <div class="modularGrid-module u-md-50 u-md-pdl">
        <label class="form-label top_label_mobile" for="order_code">Indique el Código BB</label>
        <input class="form-input focus_input_mobile" id="order_code" type="text" placeholder="Introduzca el Codigo BB o los nombres de los productos">
        <!--<div class="form-inputMsg form-inputMsg--options form-inputMsg--options_mobile ">

        {{#times1 10}}
        <a href="#">opcion{{this}}</a>


        {{/times1}}
        </div>-->
    </div>
    

   
</div> 

<div class="u-xxs-100 u-md-50 u-mgv u-md-pdr">
    <dl>
        <dt>
            Fecha:
        </dt>
        <dd>
            07/07/2050
        </dd>
        <dt>
            N.º pedido:
        </dt>
        <dd>
            20164770A
        </dd>
        <dt>
            Ref. interna:
        </dt>
        <dd>
            1234567890231564
        </dd>
        <dt>
            Destinatario:
        </dt>
        <dd>
            Napoleón Abelardo Higinio Tinieblas Povedilla de la Mancuerna
        </dd>
        <dt>
            Forma de pago:
        </dt>
        <dd>
            Tarjeta corticoles
        </dd>
        <dt>
            Mensajería:
        </dt>
        <dd>
            Mensajeros del ayer
        </dd>
        <dt>
            RDO:
        </dt>
        <dd>
            -
        </dd>
        <dt>
            Importe:
        </dt>
        <dd>
            1000.36€
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            Expedido
        </dd>
        <dt>
            Tracking
        </dt>
        <dd>
            -
        </dd>
    </dl> 
</div>         
{{>tabTicketsSteps}}        