 <div class="modularGrid u-pd">
 <div class="modularGrid-module">
        <label class="form-label u-mgb--half">Fotografía del embalaje exterior</label>
    </div>
    <div class="modularGrid u-brb u-pdb--half  u-mgb--half">
         <div class="modularGrid-module u-xs-50">
            
        </div>
         <div class="modularGrid-module u-xs-50 u-txr">
            <button class="button"> 
                <svg class="icon icon--inline icon--sm" role="img"> 
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
                </svg>
                Adjuntar
            </button>
        </div>
    </div>

    <div class="modularGrid-module">
        <label class="form-label u-mgb--half">Fotografía del la caja abierta</label>
    </div>
    <div class="modularGrid u-brb u-pdb--half u-mgb--half">
        <div class="modularGrid-module u-xs-50">

             <button class="uploadFile u-mgb--half">
                Archivo 1
                <svg class="icon icon--inline icon--sm" role="img"> <use xlink:href="../../img/icons_mobile/svg-defs.svg#icon-times"></use></svg>
            </button>
         
            
        </div>
         <div class="modularGrid-module u-xs-50 u-txr">
        </div>

    </div>


    <div class="modularGrid-module">
        <label class="form-label u-mgb--half">Fotografía de la etiqueta adherida</label>
    </div>
    <div class="modularGrid u-brb u-pdb--half u-mgb--half">
        <div class="modularGrid-module u-xs-50">
            
        </div>
         <div class="modularGrid-module u-xs-50 u-txr">
            <button class="button"> 
                <svg class="icon icon--inline icon--sm" role="img"> 
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
                </svg>
                Adjuntar
            </button>
        </div>
    </div>  

    <div class="modularGrid-module">
        <label class="form-label u-mgb--half">Esccaneo o fotografía del albarán</label>
    </div>
    <div class="modularGrid u-brb u-pdb--half u-mgb--half">
        <div class="modularGrid-module u-xs-50">
            
        </div>
         <div class="modularGrid-module u-xs-50 u-txr">
            <button class="button"> 
                <svg class="icon icon--inline icon--sm" role="img"> 
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons_mobile/svg-defs.svg#icon-clip"></use>
                </svg>
                Adjuntar
            </button>
        </div>
    </div>  

    <div class="modularGrid-module u-mgt--half">
     <button class="button button--primary u-mgt--half" name="submit">Continuar</button>
    </div>
</div>