<tr class="table-tr responsiveTable-tr" >
<td class="responsiveTable-td responsiveTable-td--text  cart-tableItemName">P1_F055050181</td>
<td class="responsiveTable-td responsiveTable-td--number cart-tableItemUds">3 Uds.</td>
<td class="responsiveTable-td cart-tableItemIcon">
<button class="button button--icon" data-js-cartRow="buttonRemove"><strong>✕</strong></button>
</td>
</tr>


