<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>ticketsTableHeader}}
        
        <tbody class="table-tbody table-tbody--stripped">
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow2}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow2}}
            {{>ticketsTableRow2}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            {{>ticketsTableRow}}
            </tbody>
    </table>
</div>
<div class="modularGrid-module u-tac buttonPagination--bg">
{{>ticketsTableFooter}}
</div>