<div class="cmsFlexbox-item u-sm-60 u-md-40 u-pd--half u-pdb">
 <img src="../../img/{{image}}.svg" class="icon icon--xl icon--roundedGrey u-op-80">
 <p class="subtitle  u-pd u-xl-80 u-elem-center ">{{{text}}}</p>
</div>