<section class="content content--light u-brt">
<div class="modularGrid modularGrid modularGrid--boxed u-tac u-pdt u-pdb2">
    <h2 class="supertitle u-xxs-80 u-xs-100 u-md-70 u-lg-50 u-pd2">{{title}}</h2>
    <div class="modularGrid-module u-tal u-pd">
        <div class="modularGrid">
            {{#each items}}
            {{> apiDropshippingItem50 }}
            {{/each}}
        </div>
    </div>
    <div class="modularGrid-module u-pdt u-pdb2">
        <a href="#" class="button button--bigger button--primary">Ser Distribuidor</a>
    </div>
</div>
</section>