<section class="content u-brdt">
    <div class="modularGrid  modularGrid--boxed u-tac u-pdb2 u-pdt2">
        <div class="modularGrid-module">
            <h2 class="supertitle u-block u-pdb--half">Amplio catálogo + 15.000 referencias</h2>
            <p class="superSubtitle  u-xl-80 u-elem-center">BigBuy es un proveedor dropshipping con un amplio catálogo de productos,
                encontrarás  multitud de <a href="https://www.bigbuy.eu/es/novedades.html" class="link"><strong>novedades</strong></a> cada semana entre una gran variedad de categorías.</p>
                <aside class="categoryList  u-elem-center u-pdt">
                    {{> cardList apiDropshipping.categories }}
                </aside>
            </div>
        </div>
</section>


