<section class="content content--inverse">
    <div class="modularGrid modularGrid--boxed u-pdt u-tac u-pdb2 u-pdh">
        <h2 class="supertitle1 u-block u-pdv">Empiece su negocio dropshipping con BigBuy</h2>
        <a href="#" class="button button--bigger button--primary u-mgv">Ser Distribuidor</a>
    </div>
</section>