<div class="modularGrid modularGrid--boxed u-pdb">
    

        <div class="modularGrid-module u-xs-100 u-xl-90 u-xxl-80 u-xxs-hide u-lg-block u-elem-center">
            <div class="cmsFlexbox u-xs-60 u-xxl-70">
                <div class="cmsFlexbox-item u-pd">
                    <div class="baloon">Su cliente le compra en su ecommerce o emarketplace</div>
                </div>
                <div class="cmsFlexbox-item u-pd">
                    <div class="baloon">Usted cobra el pedido, separa su beneficio y compra en BigBuy a precio mayorista</div>
                </div>
            </div>
            <div class="cmsFlexbox cmsFlexbox--centerContent cmsFlexbox--fiveColumns">
                <div class="cmsFlexbox-item">
                    <img src="../../img/info_user.svg" alt="" class="u-mgl">
                    <p class="subtitle2 u-pdt u-block u-mgl2"><small>Su cliente</small></p>
                </div>
                <div class="cmsFlexbox-item">
                    <img src="../../img/info_arrow1.svg" alt="">
                </div>
                <div class="cmsFlexbox-item">
                    <img src="../../img/info_marketplaces.svg" alt="">
                    <p class="subtitle2 u-pdt u-block u-wnowrap"><small>Su Tienda Dropshipping 360º</small></p>
                </div>
                <div class="cmsFlexbox-item">
                    <img src="../../img/info_arrow2.svg" alt="">
                </div>
                <div class="cmsFlexbox-item">
                    <img src="../../img/info_warehouse.svg" alt="" class="u-mgl">
                    <p class="subtitle2  u-pdt u-block"><small>BigBuy</small></p>
                </div>
            </div>
            <div class="cmsFlexbox  cmsFlexbox--endContent u-xs-85 u-pd u-pdb0" u-brb>
                <div class="cmsFlexbox-item ">
                   <img src="../../img/info_arrow4.svg" alt="">
               </div>
               <div class="cmsFlexbox-item " style="margin-top: 1rem; margin-bottom: -2.5rem;">
                <img src="../../img/truck_dropshipping.svg" alt="">
            </div>
            <div class="cmsFlexbox-item ">
                <img src="../../img/info_arrow3.svg" alt="">
            </div>
        </div>
        <div class="cmsFlexbox u-xs-80">
            <div class="cmsFlexbox-item u-pd">
                <div class="baloon baloon--bottom">El pedido se entrega a su cliente, con su nombre e imagen de marca como remitente</div>
            </div>
            <div class="cmsFlexbox-item u-pd">
                <div class="baloon baloon--bottom">BigBuy prepara su pedido y gestiona el envío</div>
            </div>
        </div>
    </div>
    <div class="modularGrid-module u-xxs-show u-lg-hide u-tal u-pdl2 u-pdr2">
    <ol class="list list--numered">
        <li class="list-item  list-item--featured">Su cliente le compra en su ecommerce o emarketplace</li>
        <li class="list-item list-item--featured">Usted cobra el pedido, separa su beneficio y compra en BigBuy a precio mayorista</li>
        <li class="list-item list-item--featured">BigBuy prepara su pedido y gestiona el envío</li>
        <li class="list-item list-item--featured">El pedido se entrega a su cliente, con su nombre e imagen de marca como remitente</li>
    </ol>
    <img src="../../img/ilustracion2.svg" alt="" class="img--responsive u-mgt2 u-xs-100 u-sm-90 u-md-80 u-elem-center u-xxs-hide u-xs-block">
    </div>

</div>







