<article class="landingBanner">
    <div class="landingBanner-boxed landingBanner-boxed--big">
        <section class="landingBanner-item landingBanner-item--centered  u-mgr u-pdr2">
            <h1 class="landingBanner-texts">proveedor<br>dropshipping</h1>
            <p class="landingBanner-subtitles">tu vendes y bigbuy<br>se encarga del resto</p>
            <button class="button button--primary homeslider-button" title="Ser distribuidor">Ser distribuidor</button>
        </section>
        <section class="landingBanner-item u-pdl2 u-mgl">
            <img src="../../img/dropshipping-employee.png" alt="BigBuy Proveedor dropshipping líder europeo" class="u-xxs-hide u-lg-show">
        </section>
    </div>


    <picture class="landingBanner-bg">
  <source class="landingBanner-bgsource" media="(min-width: 1400px)" srcset="../../img/api_dropshipping.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 1200px)" srcset="../../img/api_dropshipping_large.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 1024px)" srcset="../../img/api_dropshipping_big.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 640px)" srcset="../../img/api_dropshipping_medium.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 480px)" srcset="../../img/api_dropshipping_small.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 300px)" srcset="../../img/api_dropshipping_tiny.jpg"></source>
  <img src="../../img/api_dropshipping.jpg" class="landingBanner-bgimg">
</picture>









</article>
