<div class="modularGrid  modularGrid--boxed u-tac u-pdb2">
  <div class="modularGrid-module u-pdb">
        <aside class="cmsFlexbox u-mgb2 u-mgt">
            {{#each items}}
            {{>apiDropshippingExplainItem}}
            {{/each}}
        </aside>
        <a href="#" class="button button--bigger button--ghost">Ser Distribuidor</a>
    </div>
</div>


