<section class="content content--light">



  <aside class="modularGrid-module u-pdb2">
    <div class="ventaCMS-subsection u-xl-60 u-elem-center u-pd">
    <h2 class="ventaCMS-sectionTitle">Dudas frecuentes</h2>
      <table class="table table--comparative u-pd u-mgt " data-js-accordion="accordion" data-js-accordion_selected_class="table-tr--selected">

        <tbody class="table-tbody table-tbody--accordion">
          <tr data-js-accordion="link" class="table-tr ">
            <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

              ¿Quién tramita el envío del paquete?</td>

            </tr>
            <tr class="table-tr table-tr--content">
              <td class="table-item">
                <section class="table-accordionContent" data-js-accordion="panel">
                  <div class="modularGrid">

                    <div class="modularGrid-module modularGrid-module--legible">
                      <p>BigBuy es un proveedor integral porque gestiona y ahorra a sus clientes todos los costes del proceso logístico:</p>
                      <p>1.  BigBuy tiene la mercancía en stock</p>
                      <p>2.  BigBuy gestiona el pedido y hace el picking</p>
                      <p>3.  BigBuy refuerza el paquete con embalajes y cajas de cartón neutras sin publicidad</p>
                      <p>4.  BigBuy coordina con la mensajería hasta la entrega al cliente final</p>
                      <p>5.  BigBuy le facilita información online en su panel de control sobre el estado de su pedido, seguimiento del envío y nº Tracking ID</p>
                      <p>6.  BigBuy da soporte posventa para cualquier incidencia con la entrega</p>
                    </div>
                  </div>
                </section>
              </td>
            </tr>
            <tr data-js-accordion="link" class="table-tr">
              <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                ¿Puede el destinatario de un envío dropshipping ver los precios de coste?</td>

              </tr>
              <tr class="table-tr table-tr--content">
                <td class="table-item">
                  <section class="table-accordionContent" data-js-accordion="panel">
                    <div class="modularGrid">

                      <div class="modularGrid-module modularGrid-module--legible">
                        <p>
                          Jamás. Los precios de coste solo se ven en la confirmación de pedido por e-mail y en las facturas.              </p>
                        </div>
                      </div>
                    </section>
                  </td>
                </tr>
                <tr data-js-accordion="link" class="table-tr">
                  <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                    ¿Puede el destinatario de un envío dropshipping saber que el remitente es BigBuy?</td>

                  </tr>
                  <tr class="table-tr table-tr--content">
                    <td class="table-item">
                      <section class="table-accordionContent" data-js-accordion="panel">
                        <div class="modularGrid">

                          <div class="modularGrid-module modularGrid-module--legible">
                            <p>
                              Jamás. Los envíos dropshipping se realizan con remitente Operador Logístico y en el albarán incluimos su nombre e imagen de empresa. Jamás incluimos precios, ni publicidad, ni logotipos de BigBuy, en definitiva el envío es completamente anónimo.               </p>
                            </div>
                          </div>
                        </section>
                      </td>
                    </tr>

                    <tr data-js-accordion="link" class="table-tr">
                      <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                        ¿Cómo puedo cambiar mi nombre e imagen de empresa?</td>

                      </tr>
                      <tr class="table-tr table-tr--content">
                        <td class="table-item">
                          <section class="table-accordionContent" data-js-accordion="panel">
                            <div class="modularGrid">

                              <div class="modularGrid-module modularGrid-module--legible">
                                <p>
                                  En la solapa Mi cuenta dentro del panel de control podrá indicar el nombre que quiera que aparezca y añadir el logotipo de su imagen de empresa o web.               </p>
                                </div>
                              </div>
                            </section>
                          </td>
                        </tr>

                        <tr data-js-accordion="link" class="table-tr">
                          <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                            ¿Permite BigBuy hacer ventas con envío dropshipping y cobrar contrarrembolso?</td>

                          </tr>
                          <tr class="table-tr table-tr--content">
                            <td class="table-item">
                              <section class="table-accordionContent" data-js-accordion="panel">
                                <div class="modularGrid">

                                  <div class="modularGrid-module modularGrid-module--legible">
                                    <p>
                                      Sí. Puede consultar más información aquí: <a href="https://www.bigbuy.eu/es/formas-de-pago.html">https://www.bigbuy.eu/es/formas-de-pago.html</a>
                                    </p>
                                  </div>
                                </div>
                              </section>
                            </td>
                          </tr>

                          <tr data-js-accordion="link" class="table-tr">
                            <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                              ¿Qué es el rembolso dropshipping?</td>

                            </tr>
                            <tr class="table-tr table-tr--content">
                              <td class="table-item">
                                <section class="table-accordionContent" data-js-accordion="panel">
                                  <div class="modularGrid">

                                    <div class="modularGrid-module modularGrid-module--legible">
                                      <p>
                                        Infórmese aquí: <a href="https://www.bigbuy.eu/es/formas-de-pago.html">https://www.bigbuy.eu/es/formas-de-pago.html</a>
                                      </p>
                                    </div>
                                  </div>
                                </section>
                              </td>
                            </tr>

                            <tr data-js-accordion="link" class="table-tr">
                              <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                                ¿Es seguro para el vendedor hacer envíos dropshipping con la forma de pago rembolso dropshipping?</td>

                              </tr>
                              <tr class="table-tr table-tr--content">
                                <td class="table-item">
                                  <section class="table-accordionContent" data-js-accordion="panel">
                                    <div class="modularGrid">

                                      <div class="modularGrid-module modularGrid-module--legible">
                                        <p>
                                          Sí, muy seguro. Nuestras estadísticas indican que el 98 % de las entregas contrarrembolso se hacen efectivas. Por ello, la mayoría de nuestros clientes prefiere este método de cobro aunque tenga unos pequeños gastos de envío en el caso de que no se pueda realizar la entrega.               </p>
                                        </div>
                                      </div>
                                    </section>
                                  </td>
                                </tr>

                                <tr data-js-accordion="link" class="table-tr">
                                  <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                                    ¿Cómo se tramita un pedido con rembolso dropshipping?</td>

                                  </tr>
                                  <tr class="table-tr table-tr--content">
                                    <td class="table-item">
                                      <section class="table-accordionContent" data-js-accordion="panel">
                                        <div class="modularGrid">

                                          <div class="modularGrid-module modularGrid-module--legible">
                                            <p>
                                              Infórmese aquí: <a href="https://www.bigbuy.eu/es/formas-de-pago.html">https://www.bigbuy.eu/es/formas-de-pago.html</a>
                                            </p>
                                          </div>
                                        </div>
                                      </section>
                                    </td>
                                  </tr>

                                  <tr data-js-accordion="link" class="table-tr">
                                    <td class="table-item table-item--rowtitle"><span class="table-accordionIcon "></span>

                                      ¿Qué formas de pago son admitidas con el envío dropshipping?</td>

                                    </tr>
                                    <tr class="table-tr table-tr--content">
                                      <td class="table-item">
                                        <section class="table-accordionContent" data-js-accordion="panel">
                                          <div class="modularGrid">

                                            <div class="modularGrid-module modularGrid-module--legible">
                                              <p>
                                                Infórmese aquí: <a href="https://www.bigbuy.eu/es/formas-de-pago.html">https://www.bigbuy.eu/es/formas-de-pago.html</a>
                                              </p>
                                            </div>
                                          </div>
                                        </section>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>


                              </div>

                            </aside>
                          </section>
