<section class="content u-brb u-brt u-pd u-pdb2">
    <div class="modularGrid  modularGrid--boxed u-tac u-pdb">
        <div class="modularGrid-module u-pd">
            <h2 class="supertitle u-elem-center u-xs-100 u-xl-40">Venda los productos de BigBuy en su e-commerce o e-marketplace</h2>
            <p class="superSubtitle u-elem-center u-pd--half">Sin invertir en Stock</p>
            <img src="../../img/marketplaces3.svg" alt="Con el servicio dropshipping de BigBuy podrá vender en cualquier tipo de e-commerce o marketplace" class="u-mgt2 u-mgb2 img--responsive u-xxs-hide u-md-block">
            <img src="../../img/marketplaces3-mvl.svg" alt="Con el servicio dropshipping de BigBuy podrá vender en cualquier tipo de e-commerce o marketplace" class="u-mgt2 u-mgb2 img--responsive u-xxs-hide u-xs-block u-md-hide">
        </div>
        <div class="modularGrid-module u-pdt">
            <a  href="#" class="button button--bigger button--ghost">Ser Distribuidor</a>
        </div>
    </div>
</section>


