<div class="modularGrid-module u-md-50">
    <div class="modularGrid">
        <div class="modularGrid-module u-xxs-100  u-sm-25 u-md-30 u-lg-25 u-xl-20">
        <img class="img img--responsive u-op-70 u-xxs-60 u-xs-40 u-sm-100 u-elem-center" alt="{{{alt}}}" src="../../img/{{image}}.svg">
        </div>
        <div class="modularGrid-module u-xxs-100 u-sm-65 u-pdb u-pdt">
            <h3 class="cmsContentSection-subtitle u-mgb--3rd">{{{title}}}</h3>
            <p class="ventaCMS-sectionText">{{{text}}}</p>
        </div>
    </div>
</div>
