<div class="{{#each containerClasses}}{{this}} {{/each}}">
<h2 class="supertitle">{{{title}}}</h2>
    {{#if subtitle}}
    <p class=" {{#each subtitleClasses}} {{this}}{{/each}}">{{{subtitle}}}</p>
    {{/if}}
</div>