<div class="u-md-order{{order}} centerLine-itemText">
  <h3 class="title title--huge">{{title}}</h3>       
  <ul class="list list--bullet list--midsize u-pdl--half u-pdt u-block">
    {{#each items}}
    <li class="list-item u-op-60">{{text}}</li>
    {{/each}}
  </ul>
</div>

