<section class="hero hero--allinone">
	<div class="hero-content">
		<h3 class="hero-title">El mayorista ideal para su negocio online</h3>
		<h3 class="hero-subtitle u-mgb">Todo lo que necesita, en un solo proveedor</h3>
		<div class="hero-contentheader">
			<img src="../../img/allinonelogo.svg" alt="" class="u-elem-center">
		</div>
		<div class="hero-itemslist">  
			<div class="hero-item">
				{{>svgIcon type='catalog' class='hero-icon'}}	
				<p class="hero-itemtitle">CATÁLOGO</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='stock-propio2' class='hero-icon'}}
				<p class="hero-itemtitle">LOGÍSTICA</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='b2b' class='hero-icon'}}
				<p class="hero-itemtitle">E-COMMERCE B2B</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='sync' class='hero-icon'}}
				<p class="hero-itemtitle">SINCRONIZACIÓN</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='cog' class='hero-icon'}}
				<p class="hero-itemtitle">RECURSOS</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='description' class='hero-icon'}}
				<p class="hero-itemtitle">ADMINISTRACIÓN</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='delivery2' class='hero-icon'}}
				<p class="hero-itemtitle">ENVÍOS</p>
			</div>
			<div class="hero-item">
				{{>svgIcon type='postventa' class='hero-icon'}}
				<p class="hero-itemtitle">POSTVENTA</p>
			</div>
		</div>
	</div>    
</section>