<section class="content content--light u-pdv2 centerLine{{#if last}} centerLine--last{{/if}}">
  <div class="centerLine-content">
   
      {{>allInOneItemImg order='0'}}
      {{>allInOneItemBullet order='1'}}    
      {{>allInOneItemText order='2'}}
 
  </div>
</section>

