<section class="content content--inverse">
    <div class="modularGrid modularGrid--boxed u-pdt u-tac u-pdb2">
        <h2 class="supertitle u-block u-pdb u-pdt--hal">Empiece su negocio dropshipping con BigBuy</h2>
        <a href="#" class="button button--bigger button--primary">Ser Distribuidor</a>
    </div>
</section>