<section class="content  u-pdv2  centerLine{{#if last}} centerLine--last{{/if}}">
  <div class="centerLine-content">
    {{>allInOneItemText order='0'}}
    {{>allInOneItemBullet order='1' alt='true'}} 
    {{>allInOneItemImg order='2'}}  
  </div>
</section>