<article class="newsItem">
<header class="newsItem-header">
        <div class="newsItem-date">
        <span class="newsItem-day">25</span>
        <span class="newsItem-month">09</span>
        <span class="newsItem-year">2015</span>
        </div>
        <h2 class="newsItem-title">La utilidad de un contenido sin sentido</h2>
    </header>

    <div class="newsItem-bodytext">
        <p>Los textos simulados son también utilizados para comparar variedades tipográficas y para trabajos.
        <a href="#" class="newsItem-link" >Ver más &rsaquo;</a></p>

    </div>
</article>
