
<section class="news">
    <h3 class="title">Últimas noticias</h3>
    <div class="news-list">




        {{>newsItem}}
        {{>newsItem}}
        {{>newsItem}}
        {{>newsItem}}
    </div>
</section>