<div class="modularGrid-module  u-pdl u-pdt u-pdr2" data-jsfinalshop="shop" style="display:none;">
 <div class="u-flex--between u-flex--center u-pdl--half">
    <div class="u-flex--center">
        <img src="../../img/3.svg" class="icon icon--inline icon--lg ">	
        <strong data-jsfinalshop="name">Tienda Dropshipping 360º</strong>
    </div>
    <strong data-jsprice="shop" data-jsfinalshop="price">770</strong>
</div>
<p class="u-op-60 u-pdl"><strong>Catálogo:</strong> <span data-jsfinalshop="catalog">Completo</span></p>
<p class="u-op-60 u-pdl"><strong>Tema:</strong> <span data-jsfinalshop="theme">Valencia</span></p>
</div>