<div class="modularGrid u-mgv u-brd u-bg--lighter border-radius4 u-brd-darkblue">
	<div class="modularGrid-module u-xxs-30 u-md-20 u-lg-15 u-pdv--half u-pdr">
		<img src="../../img/keyhand.svg" alt="" class="img--responsive">
	</div>
	<div class="modularGrid-module u-pdv--half u-pdh u-lg-85">
		<h3 class="subtitle2 u-mgt--6th"><small>SU NEGOCIO DIGITAL, solución integral llave en mano</small></h3>


		<div class="modularGrid u-mgt--3rd">
			<div class="modularGrid-module u-xxs-100 u-md-50 u-op-60">

				<p class="u-vb u-mgb--half">{{>svgIcon type='cart_alt' class='color-darkblue u-mgr--min'}} Tienda dropshipping sincronizada </p>
				<p class="u-vb u-mgb--half">{{>svgIcon type='multichannel' class='color-darkblue u-mgr--min'}} Management platform </p>
				<p class="u-vb u-mgb--half">{{>svgIcon type='emarket' class='color-darkblue u-mgr--min'}} E-marketplace Integration</p>	            
			</div>
			<div class="modularGrid-module u-xxs-100 u-md-50 u-op-60">
				<p class="u-vb u-mgb--half">{{>svgIcon type='pencil' class='color-darkblue u-mgr--min'}} Blog</p>
				<p class="u-vb u-mgb--half">{{>svgIcon type='facebook_alt' class='color-darkblue u-mgr--min'}} Tienda en Facebook</p>
				<p class="u-vb u-mgb--half">{{>svgIcon type='newsletter' class='color-darkblue u-mgr--min'}} Herramienta de creación de newsletters</p>

			</div>
		</div>




	</div>

</div>






<p>Empiece su negocio digital en apenas 2-5 días con una tienda dropshipping 360º totalmente sincronizada a BigBuy. <a href="#" class="link">+ info</a></p>
