  <div class="shoppingCartStep " data-shoppingcart-step="3">

    <div class="shoppingCartStep-header">
      <b class="shoppingCartStep-number">3</b>
      <div class="shoppingCartStep-headertexts">
          <h4 class="shoppingCartStep-title">Información de pago</h4>
          
      </div>
      {{>shoppingCartEditBtn}}
  </div>

   </div>