 
<div class="shoppingCartStep-content">
    <div class="modularGrid">
        <div class="modularGrid-module">
            <div class="shoppingCartStep-description">Comentarios para su referencia</div>
            <div class="modularGrid-module"> 
                <textarea name="" id="" cols="30" rows="10" class="form-textarea"></textarea>
            </div>              
        </div>
        <div class="modularGrid-module u-md-70">
            <input type="checkbox" class="form-checkbox" id="terms"><label class="form-label form-label--inline" for="terms">He leído y acepto los términos y condiciones</label>
        </div>
        <div class="modularGrid-module u-md-30 u-fl-right u-pd-bottom">
            <button class="button button--full u-mgb--half">Imprimir presupuesto</button>
            <button class="button button--primary button--full">Finalizar pedido</button>        
        </div>
    </div>

</div> 