 <article class="u-lg-50 u-vt" data-jspayment="pack" >  
 	<div class="modularGrid u-pdt--half u-pdb">
 		<div class="modularGrid-module" >  
 			<h4 class="subtitle4 u-mgb--half">Pack Mayorista</h4>          
 		</div>
 		<div class="modularGrid-module u-pdl--half u-pdt--half">
 			<input value="paypalpack" id="paypalpack" name="pack" class="form-checkbox u-locked-evts"  checked="checked" type="checkbox" >          

 			<label class="form-label form-label--inline"><strong data-jspayment="resumedef">PayPal</strong><small class="u-op-60 u-mgl--3rd">(Obligatorio)</small><em class="form-info u-mgt--6th" data-js-tooltip="tooltip3" ><b class="icon fa-info-circle u-mgl--3rd"></b> ¿Qué es PayPal?</em></label>
 		</div>
 	</div>
 </article>
