<div class="shoppingCartStep shoppingCartStep--active" data-shoppingcart-step="2">

	<div class="shoppingCartStep-header">
		<b class="shoppingCartStep-number">2</b>
		<div class="shoppingCartStep-headertexts">
			<h4 class="shoppingCartStep-title">Seleccione Tienda dropshipping 360º <small><em>(Opcional)</em></small></h4> 
		</div>
		{{>shoppingCartEditBtn}}
	</div>
	<div class="shoppingCartStep-content">
	    {{>keyhandbanner}}		
		{{>tienda360 id='2c'}}
		{{>tienda360 id='2cc' second='true'}}	
		
	{{!-- 	<div class="u-flex--center u-mgb">
		<button class="button button--ghost">+ Añadir tienda</button> <em class="u-op-50 u-mgl--half">(Descuento del 50%)</em>  
         </div> --}}
         <div class="msgBox msgBox--info u-mgt1 u-mgb"> <p>La tienda dropshipping 360º solo es compatible con el Pack Enterprise</p>



         <div class="pricePanel-container pricePanel-container--midsize u-pdt--half u-pdl">
         {{>priceBigPanel  pricePanels.panel3 expresscart='true'}}
         </div>





         </div>





		<button class="button button--primary button--big">Continuar</button>   
	</div>
</div>