<div class="shoppingCartStep " data-shoppingcart-step="2">
  <div class="shoppingCartStep-header">
      <b class="shoppingCartStep-number">2</b>
      <div class="shoppingCartStep-headertexts">
          <h4 class="shoppingCartStep-title">Seleccione Tienda dropshipping 360ยบ <small><em>(Opcional)</em></small></h4>          
      </div>
      {{>shoppingCartEditBtn}}
  </div>
</div>