
<article class="u-lg-50 u-vt" data-jspayment="shop"> 
  <div class="modularGrid u-pdt--half u-pdb"> 
    <h4 class="subtitle4 u-mgb">Tienda Dropshipping 360º</h4>
    <form autocomplete="off">
      <div class="modularGrid-module u-pdl--half u-pdb--third">
        <input value="paypal" id="paypal" name="dropshipping" class="form-radio u-mgt--3rd" type="radio" checked="checked">
        <label class="form-label form-label--inline" for="paypal"><strong data-jspayment="resumeval">PayPal</strong><small class="u-op-60 u-mgl--3rd">(Recomendado)</small><em class="form-info u-mgt--6th" data-js-tooltip="tooltip3" ><b class="icon fa-info-circle u-mgl--3rd"></b> ¿Qué es PayPal?</em></label>
      </div>
      <div class="modularGrid-module u-pdl--half u-pdb--third">
        <input value="paypal_card" id="paypal_card" name="dropshipping" class="form-radio u-mgt--3rd" type="radio">
        <label class="form-label form-label--inline" for="paypal_card" ><strong data-jspayment="resumeval">Tarjeta bancaria (by PayPal)</strong></label>
      </div>

       <div class="modularGrid-module u-pdl--half u-pdb--third">
          <input value="sofort" id="sofort" name="b2b" class="form-radio u-mgt--3rd" type="radio">
          <label class="form-label form-label--inline" for="sofort"><strong data-jspayment="resumeval">Transferencia bancaria inmediata (by Klarna - Sofort)</strong> <em class="form-info  u-mgt--6th" data-js-tooltip="tooltip_sofort"><b class="icon form-info-icon fa-info-circle"></b>
                           </em></label>
        </div>
      <div class="modularGrid-module u-pdl--half u-pdb--third">
        <input value="bank" id="bank" name="dropshipping" class="form-radio u-mgt--3rd" type="radio">
        <label class="form-label form-label--inline" for="bank" ><strong data-jspayment="resumeval">Transferencia bancaria (Tradicional)</strong></label>
      </div>
      <div class="modularGrid-module u-pdl--half u-pdb--third" data-jswallet="0">
        <input value="wallet" id="wallet" name="dropshipping" class="form-radio u-mgt--3rd" type="radio">
        <label class="form-label form-label--inline" for="wallet" ><strong data-jspayment="resumeval">Monedero</strong></label>
      </div> 
    </form>   
  </div>
</article>