 <div class="shoppingCartStep shoppingCartStep--active" data-shoppingcart-step="1"{{#if active}} data-js-active="true"{{/if}}>
  <div class="shoppingCartStep-header">
      <b class="shoppingCartStep-number">1</b>
      <div class="shoppingCartStep-headertexts">
          <h4 class="shoppingCartStep-title">Seleccione Pack Mayorista</h4>
          {{#if subtitle}}
          <h5 class="shoppingCartStep-subtitle">Pack Business: cuota semestral</h5>
          {{/if}}
      </div>
      {{>shoppingCartEditBtn}}
  </div>

<div class="shoppingCartStep-content">

<div class="msgBox msgBox--info u-mgt1">Para adquirir una tienda dropshipping, es necesario contratar el Pack Enterprise</div>
<div class="pricePanel-container pricePanel-container--midsize u-pdv">
{{>priceBigPanel  pricePanels.panel1 expresscart='true'}}
{{>priceBigPanel  pricePanels.panel2 expresscart='true'}}
{{>priceBigPanel  pricePanels.panel3 expresscart='true'}}
</div>
<button class="button button--primary button--big">Continuar</button>   
</div>
</div>


