<table class="table table--border u-mgb--min">
  <thead class="table-thead">
    <tr class="table-tr">
      <th class="table-item u-pdl u-xs-40">Transportista</th>
      <th class="table-item table-item--boolean">Tipo</th>
      <th class="table-item">Transporte</th>
      <th class="table-item">Entrega</th>
      <th class="table-item table-item--number">Coste</th>
    </tr>
  </thead>
  <tbody class="table-tbody table-tbody--stripped" data-js-carrier_list="">
    <tr class="table-tr">
      <td class="table-item"><label class="form-label form-label--checkgroup u-pdl0"><input value="55_0" id="exw_-_recogida_almacenradio" name="shipping_method" class="form-radio" data-js-carrier_name="exw_-_recogida_almacen" data-js-carrier_item="0" data-js-carrier_cost="0" data-js-carrier_dropshipping="false" type="radio"> EXW - Recogida almacén</label></td> 
      <td class="table-item table-item--boolean" title="Caja">{{>svgIcon size='md' class='u-op-40' type='box'}}</td>
      <td class="table-item"> - - </td>
      <td class="table-item"> - - </td>
      <td class="table-item table-item--number">0,00 €</td>
    </tr>
    <tr class="table-tr">
      <td class="table-item"><label class="form-label form-label--checkgroup u-pdl0 u-iblock width-auto"><input value="55_0" id="exw_-_recogida_almacenradio" name="shipping_method" class="form-radio" data-js-carrier_name="exw_-_recogida_almacen" data-js-carrier_item="0" data-js-carrier_cost="0" data-js-carrier_dropshipping="false" type="radio"> Pallet delivery <em data-js-tooltip="tooltip_productsheet_pack" class="form-info">{{> svgIcon type='info' class='u-op-40'}}</em></label><img class="u-xs-35 u-vm u-mgh--half" src="../../img/pallet-delivery-01.svg"></td>
      <td class="table-item table-item--boolean" title="Palet">{{>svgIcon size='sm' class='u-op-40' type='pallet2'}}</td>
      <td class="table-item" title="Camión">{{>svgIcon size='md' class='u-op-40' type='truck2' }}</td>
      <td class="table-item"> 5-6 días </td>
      <td class="table-item table-item--number">70,08 €</td> 
    </tr>
    <tr class="table-tr">
      <td class="table-item"><label class="form-label form-label--inline"><input value="69_156091" id="tntradio" name="shipping_method" class="form-radio" data-js-carrier_name="tnt" data-js-carrier_item="156091" data-js-carrier_cost="14.08" data-js-carrier_dropshipping="false" type="radio"> <img class="form-img" src="../../img/carrier/tnt_mini.png"></label></td> 
      <td class="table-item table-item--boolean" title="Caja">{{>svgIcon size='md' class='u-op-40' type='box'}}</td>
      <td class="table-item" title="Furgoneta">{{>svgIcon size='md' class='u-op-40' type='van2' }}</td>
      <td class="table-item"> 5-6 días </td>
      <td class="table-item table-item--number">14,08 €</td>
    </tr>
    <tr class="table-tr">
      <td class="table-item"><label class="form-label form-label--inline"><input value="69_156091" id="tntradio" name="shipping_method" class="form-radio" data-js-carrier_name="tnt" data-js-carrier_item="156091" data-js-carrier_cost="14.08" data-js-carrier_dropshipping="false" type="radio"> <img class="form-img" src="../../img/carrier/dhl_mini.png"></label></td> 
      <td class="table-item table-item--boolean" title="Palet">{{>svgIcon size='sm' class='u-op-40' type='pallet2'}}</td>
      <td class="table-item" title="Avión">{{>svgIcon size='md' class='u-op-40' type='plane' }}</td>
      <td class="table-item"> 48 h </td>
      <td class="table-item table-item--number">40,36 €</td>
    </tr>
    <tr class="table-tr">
      <td class="table-item"><label class="form-label form-label--inline"><input value="69_156091" id="tntradio" name="shipping_method" class="form-radio" data-js-carrier_name="tnt" data-js-carrier_item="156091" data-js-carrier_cost="14.08" data-js-carrier_dropshipping="false" type="radio"> <img class="form-img" src="../../img/carrier/glsfedex_mini.png"></label></td> 
      <td class="table-item table-item--boolean" title="Caja">{{>svgIcon size='md' class='u-op-40' type='box'}}</td>
      <td class="table-item" title="Barco">{{>svgIcon size='md' class='u-op-40' type='ship' }}</td>
      <td class="table-item"> 5-6 días </td>
      <td class="table-item table-item--number">50,08 €</td>
    </tr>
    <tr class="table-tr">
      <td class="table-item"><label class="form-label form-label--inline"><input value="69_156091" id="tntradio" name="shipping_method" class="form-radio" data-js-carrier_name="tnt" data-js-carrier_item="156091" data-js-carrier_cost="14.08" data-js-carrier_dropshipping="false" type="radio"> <img class="form-img" src="../../img/carrier/ups_aereo_mini.png"></label></td> 
      <td class="table-item table-item--boolean" title="Palet">{{>svgIcon size='sm' class='u-op-40' type='pallet2'}}</td>
      <td class="table-item" title="Camión">{{>svgIcon size='md' class='u-op-40' type='truck2' }}</td>
      <td class="table-item"> 5-6 días </td>
      <td class="table-item table-item--number">70,08 €</td>
    </tr>
  </tbody>
</table>