<div class="shoppingCartStep-info">
    <div class="modularGrid u-pdt--half">
        <div data-js-order-type-text="" class="modularGrid-module u-xs-70 u-pdt--third u-pdl--half">
            Opción 1: una única entrega
        </div>
    </div>
</div>
<div data-js-payment_list="" class="shoppingCartStep-content">
    <div class="modularGrid">
        <div class="modularGrid-module u-mgt--half ">
            {{>shoppingCartStep4_Table1}}
        </div>
    </div>
    <div class="modularGrid u-pdt">
        <div class="modularGrid-module u-xs-20 u-pd-bottom u-mg-mid-bottom">
            <button data-js-button-next-order-type="" class="button button--primary button--full">Continuar</button>
        </div>
    </div>
</div>

