<div class="shoppingCartStep-info">
    <div class="modularGrid u-pdt--half">
        <div class="modularGrid-module u-md-10">
            <i class="icon icon-card icon-card--visa">VISA </i>
        </div>
        <div class="modularGrid-module u-md-70 u-pdt--third u-pdl--half">
            Roberto Lucha Sedeño, c/ Attica, 12 pta. 8 46015 - Valencia - España
        </div>
    </div>
</div>
<div class="shoppingCartStep-content">
    <form action="" class="form form--inline">
        <div class="modularGrid">
            <div class="modularGrid-module">
                <div class="shoppingCartStep-description">Elija forma de pago</div>
            </div>
            <div class="modularGrid-module u-md-40 u-pdt--third">
                <input type="radio" value="paypal" id="paypal" name="payment_card" class="form-radio">
                <label class="form-label form-label--inline" for="paypal">Paypal</label>
            </div>
            <div class="modularGrid-module u-md-60">
                <i class="icon icon-card icon-card--paypal shoppingCart-card icon-card--mini"></i>
                <a href="#" class="form-info "><b class="icon form-info-icon fa-info-circle"></b> ¿Qué es PayPal?</a>
            </div>
            <div class="modularGrid-module u-md-40 u-pdt--third">
                <input type="radio" value="credit" id="credit" name="payment_card" class="form-radio">
                <label class="form-label form-label--inline" for="credit">Tarjeta de crédito (by Paypal)</label>
            </div>
            <div class="modularGrid-module u-md-60">
                <i class="icon icon-card icon-card--visa icon-card--mini"></i>
                <i class="icon icon-card icon-card--americanExpress icon-card--mini"></i>
                <i class="icon icon-card icon-card--masterCard icon-card--mini"></i>
                <i class="icon icon-card icon-card--credit icon-card--mini"></i>
            </div>
            <div class="modularGrid-module u-pdt--third">
                <input type="radio" value="transfer" id="transfer" name="payment_card" class="form-radio">
                <label class="form-label form-label--inline" for="transfer">Transferencia bancaria 24/72 h</label>
            </div>
            <div class="modularGrid-module u-pdt--third">
                <input type="radio" value="transfer" id="sofort" name="payment_card" class="form-radio">
                <label class="form-label form-label--inline" for="sofort">Transferencia bancaria inmediata (by Sofort)</label>
                <a href="#" class="form-info "><b class="icon form-info-icon fa-info-circle"></b></a>
                <span class="notify--new">New</span>
            </div>
            <div class="modularGrid-module u-pdt--third">
                <input type="radio" value="monedero" id="monederocheck" name="payment_card" class="form-radio">
                <label class="form-label form-label--inline" for="monederocheck">Monedero ( Saldo actual: 998.601,34 € )</label>

            </div>
            <div class="modularGrid-module">
                <fieldset class="form-fieldset form-fieldset--addendum form-fieldset--selected ">
                    <div class="modularGrid">
                        <div class="modularGrid-module">
                            <input type="radio" value="flexible" id="flexible" name="payment_flex" class="form-radio">
                            <label class="form-label form-label--inline" for="flexible">Pago flexible</label>
                        </div>
                        <fieldset class="form-fieldset form-fieldset--borderless u-pdl">
                            <div class="modularGrid-module u-md-25">
                                <label class="form-label form-label--inline" for="monederovalue">Pagar del monedero</label>
                            </div>
                            <div class="modularGrid-module u-md-20">
                                <input type="text" id="monederovalue" name="monederovalue" class="form-input form-input--postfix">
                                <span class="form-postfix">€</span>
                            </div>
                            <div class="modularGrid">
                                <div class="modularGrid-module u-md-25">
                                    <label class="form-label ">Resto Paypal</label>
                                </div>
                                <div class="modularGrid-module u-md-20 ">
                                    <label class="form-label u-flr"><strong>200€</strong>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
            <div class="modularGrid-module u-md-30 u-fl-right u-pd-bottom u-pdt">
                <button class="button button--primary button--full">Continuar</button>
            </div>
        </div>
    </form>
</div>



