{{!--   section with js anchors --}}


<section class="shoppingCartStep">  
    <div class="shoppingCartStep-header shoppingCartStep-header--final">
        <b class="shoppingCartStep-number">4</b>
        <div class="shoppingCartStep-headertexts">
            <h4 class="shoppingCartStep-title">Confirmar pedido</h4>          
        </div>    		
    </div>




    <div class="modularGrid  u-pdt--half u-hide" data-jscart="final_pack">
        <div class="modularGrid-module  u-pdh2 u-pdt">
            <div class="pricePanel-header pricePanel-header--dropship u-mgb--half">
                {{>svgIcon size='sm' type='pack'}}
                <span class="pack pack--dropship pack--big "><span class="u-op-50">Pack</span> Dropship</span>
            </div>
        </div>
        <div class="modularGrid-module  u-pdh2 ">
            <p class="u-flex--between">Cuota de alta <strong>99 €</strong></p>
            <p class="u-flex--between">Cuota Semestral<strong>245 €</strong></p> 
        </div>
    </div>


    <div class="modularGrid u-pdb u-hide" data-jscart="final_shops">
        <div class="modularGrid-module  u-pdl u-pdt u-pdr2">
            <div class="u-flex--between u-flex--center u-pdl--half">
                <div class="u-flex--center"><img src="../../img/3.svg" class="icon icon--inline icon--lg ">	<strong>Tienda dropshipping</strong>
                </div>
                <strong>770 €</strong>
            </div>
            <p class="u-op-60 u-pdl"><strong>Catálogo</strong>: Completo</p>
            <p class="u-op-60 u-pdl"><strong>Tema</strong>: Valencia</p>
        </div>
        <div class="modularGrid-module  u-pdl u-pdt u-pdr2">
            <div class="u-flex--between u-flex--center u-pdl--half">
                <div class="u-flex--center"><img src="../../img/3.svg" class="icon icon--inline icon--lg ">	<strong>2ª Tienda dropshipping</strong>
                </div>
                <strong>335 €</strong>
            </div>
            <p class="u-op-60 u-pdl"><strong>Catálogo</strong>: Completo</p>
            <p class="u-op-60 u-pdl"><strong>Tema</strong>: Ibiza</p>
        </div>
    </div>


    <div class="modularGrid u-pdbt u-mgt--half u-pdh2 u-pdb2 u-hide" data-js-scart="final_prices">
        <div class="modularGrid-module u-brt ">
            <p class="u-flex--between  u-pdt"><strong class="u-pdt--four">Subtotal</strong><strong class="u-pdt--four">1.600 €</strong></p>
            <p class="u-flex--between u-pdt"><span>Costes de forma de pago</span><span>0.00 €</span></p>
            <p class="u-flex--between  u-pdt"><span>Base imponible</span><span>1.600 €</span></p>
        </div>



        <div class="modularGrid-module u-pdt2"> 
            <h3 class="subtitle5 u-flex--between"><span>Total</span><span>1.600,00 €</span></h3>
        </div>

    </div>

</section>
