<div class="shoppingCartStep shoppingCartStep--editable" data-shoppingcart-step="2">

	<div class="shoppingCartStep-header">
		<b class="shoppingCartStep-number">2</b>
		<div class="shoppingCartStep-headertexts">
			<h4 class="shoppingCartStep-title">Seleccione Tienda dropshipping 360º <small><em>(Opcional)</em></small></h4> 
			<h5 class="shoppingCartStep-subtitle">1º Tienda Dropshipping.	 Catálogo: completo	 Tema: Valencia</h5>
			<h5 class="shoppingCartStep-subtitle">2ª Tienda Dropshipping.	 Catálogo: perfumería	 Tema: Ibiza</h5>          
		</div>
		{{>shoppingCartEditBtn}}
	</div>	
</div>