{{!-- <table class="table u-brd u-mgv" data-jsshop="shop">	
	<tbody>
		<tr>
			
			<td class="table-item table-item--thumb u-xxs-85 u-sm-90 u-md-95 u-lg-30">				
				<label for="" class="form-label u-vm" data-jsshop="label">
				    <input name="tienda1" id="" class="form-checkbox u-vm" type="checkbox" data-jsshop="checkbox">							
					<img src="../../img/3.svg" class="icon icon--inline icon--md">
					<strong><span data-jsshop="numeral" style="display:none;">2ª</span>Tienda Dropshipping 360º</strong></label>						
				</td>
				<td class="table-item u-xxs-100 u-sm-50 u-lg-25">
					<label class="form-label form-label--inline" >Tema</label>	
					<select name="theme"  class="form-select form-select--inline" data-jsshop="theme">
						<option value="0" hidden>Seleccionar</option>
						<option value="41256" >Ibiza</option>
                       <option value="41259" >Valencia</option>						
					</select>
				</td>
				<td class="table-item u-xxs-100 u-sm-50 u-lg-25">					
					<label class="form-label form-label--inline" >Catálogo</label>	
					<select name="topic"  class="form-select form-select--inline" placeholder="Seleccionar" data-jsshop="topic">							
						<option value="1">Completo</option>
						<option value="2">Perfumes</option>
						<option value="3">Electrohogar</option>	
					</select>						
				</td>
				<td class="table-item table-item--number u-sm-100 u-lg-20"><em class="u-op-50 u-mgr" data-jsshop="discount" style="visibility:hidden;">50% Descuento</em> <strong data-jsshopriceval="770" data-jsshop="price"></strong></td>					
			</tr>
		</tbody>
	</table> 
 --}}




 <section class="shop" data-jsshop="shop">
 	
 		<label class="shop-header" data-jsshop="label">
 			<input name="tienda1" id="" class="form-checkbox" type="checkbox" data-jsshop="checkbox">							
 			<img src="../../img/3.svg" class="shop-img">
 			<p class="shop-name"><span data-jsshop="numeral" style="display:none;">2ª</span>Tienda Dropshipping 360º</p>
 		</label>	

 	
 	<div class="shop-section">
 		<label class="form-label" >Tema</label>	
 		<select name="theme"  class="form-select form-select--inline" data-jsshop="theme">
 			<option value="0" hidden>Seleccionar</option>
 			<option value="41256">Ibiza</option>
 			<option value="41259">Valencia</option>						
 		</select>
 	</div>
 	<div class="shop-section">
 		
 		
 		<label class="form-label" >Catálogo</label>	
 		<select name="topic" class="form-select form-select--inline" placeholder="Seleccionar" data-jsshop="topic" data-jstopic="41256">
 			<option value="1" selected="selected">Completo</option>
 			<option value="4">Relojes</option>
 			<option value="5">Cocina</option>
 			<option value="6">Sexshop</option>
 			<option value="7">Disfraces</option>
 			<option value="8">Informática</option>
 		</select>
 	   
 	  
 		<select name="topic"  class="form-select form-select--inline" placeholder="Seleccionar" data-jsshop="topic"  data-jstopic="41259" style="display:none;">						
 			<option value="1" selected="selected">Completo</option>
 			<option value="2">Perfumes</option>
 			<option value="3">Electrohogar</option>
 			<option value="4">Relojes</option>
 			<option value="5">Cocina</option>
 			<option value="6">Sexshop</option>
 			<option value="7">Disfraces</option>
 			<option value="8">Informática</option>
 		</select>
 		
 	</div>
 	<div class="shop-section">
 		<em class="u-op-50 u-mgr" data-jsshop="discount" style="visibility:hidden;">50% Descuento</em>
 		<strong data-jsshopriceval="770" data-jsshop="price"></strong>
 	</div>	    	
 </section>