
<span class="u-helpCursor" data-js-tooltip="{{tooltip}}"><svg role="img" class="icon icon--inline icon--waiting icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-info"></use></svg>


</span>