<div class="dragBlock dragBlock--draggable">
<button class="dragBlock-arrowBtn">
<svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-caretDown"></use></svg>
</button>
    <h4 class="dragBlock-name">dragBlock dragBlock--draggable ➞ Se puede mover</h4>
    <nav class="dragBlock-buttonGroup">
        <button class="dragBlock-button">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pencil"></use></svg>
        </button>
        <button class="dragBlock-button">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-trash"></use></svg>
        </button>
    </nav>
    <div class="dragBlock-content">
        <div class="dragBlock dragBlock--contentItem">
            <h4 class="dragBlock-name">Drag block sub</h4>
            <nav class="dragBlock-buttonGroup">
                <button class="dragBlock-button">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pencil"></use></svg>
                </button>
                <button class="dragBlock-button">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-trash"></use></svg>
                </button>
            </nav>
        </div>
        <div class="dragBlock dragBlock--contentItem">
            <h4 class="dragBlock-name">Drag block sub</h4>
            <nav class="dragBlock-buttonGroup">
                <button class="dragBlock-button">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pencil"></use></svg>
                </button>
                <button class="dragBlock-button">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-trash"></use></svg>
                </button>
            </nav>
        </div>
        <div class="dragBlock dragBlock--contentItem">
            <h4 class="dragBlock-name">Drag block sub</h4>
            <nav class="dragBlock-buttonGroup">
                <button class="dragBlock-button">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pencil"></use></svg>
                </button>
                <button class="dragBlock-button">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-trash"></use></svg>
                </button>
            </nav>
        </div>
    </div>
</div>

