<table class="table">
    <tr class="table-tr">
        <td class="table-th table-item table-item--handler">
            <input type="checkbox" class="form-checkbox" disabled>
            <i class="icon icon-placeholder fa-fw"></i></td>
        <th class="table-th table-item table-item--number u-xs-10">
            <input class="form-input form-input--collapse" type="text" placeholder="Nº Factura">
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" placeholder="Fecha">
        </th>
        <th class="table-th table-item u-xs-15">
            <input class="form-input form-input--collapse" type="text" placeholder="Forma de pago">
        </th>
        <th class="table-th table-item table-item--number u-xs-15">
            <input class="form-input form-input--collapse" type="number" placeholder="Importe">
        </th>
    </tr>
</table>