<div id="controllers" data-paneltabcnt="" class="panel-tabs-content" style="display: block;">
    <div class="modularGrid">
        <div class="modularGrid-module u-pdl u-pdt">
            <h4 class="panel-section-subtitle u-iblock u-pdr">Opciones de menú</h4>
            <button class="button--icon button--add">

            <svg class="icon icon--inline icon--xs" role="img">
                                <use xlink:href="./../../img/icons/svg-defs.svg#icon-plusCircle"></use>
                            </svg>
             Nueva</button>

</div>
<div class="modularGrid-module u-md-45 ">
    <div class="dragBlock-container">
        {{>dragBlock2}}
        {{>dragBlock3}}
        {{>dragBlock1}}
        {{>dragBlock4}}
        {{>dragBlock4}}



    </div>

</div>

{{!--  <div class="modularGrid-module u-md-45 u-mg">
<a name="controllers_top"></a>
<h2 class="u-mgb">Editar controlador</h2>
<form data-js-controller="form" action="#" method="post">
<input type="hidden" data-js-controller="id_controller" value="" name="id_controller">
<div class="modularGrid">
<div class="modularGrid-module u-mgb--half">
<button class="button" data-js-controller="save">Guardar</button>
<a class="mgl u-vm" data-js-controller="new" href="#">
<svg class="icon icon--inline icon--xs" role="img">
<use xlink:href="http://192.168.1.211/bigbuy_e/public/img/icons/svg-defs.svg#icon-plusCircle"/>
</svg>
<span class="label label-icon labelg ">Nuevo controlador</span>
</a>
</div>
<div class="modularGrid-module">
<label for="controller_name" class="form-label"><strong>Nombre:</strong></label>
<input type="text" data-js-controller="name" class="form-input u-md-70" value="" name="controller_name">
</div>
<div class="modularGrid-module">
<label for="controller_controller" class="form-label"><strong>Controlador:</strong></label>
<input type="text" data-js-controller="controller" class="form-input u-md-70" value="" name="controller_controller">
</div>
<div class="modularGrid-module">
<label for="controller_url" class="form-label"><strong>Url:</strong></label>
<input type="text" data-js-controller="url" class="form-input u-md-70" value="" name="controller_url">
</div>
<div class="modularGrid-module">
<label for="controller_parent" class="form-label"><strong>Padre:</strong></label>
<select class="form-select u-md-70" data-js-controller="id_parent" name="controller_parent">
<option value="0">Root</option>
<option value="1">Perfiles</option>
<option value="25">Accesos FTP</option>
<option value="30">Descargas Administración</option>
<option value="19">Newsletter</option>
<option value="9">Promociones</option>
<option value="28">Web</option>
<option value="18">Búsquedas</option>
<option value="6">Banners</option>
<option value="20">Seguridad</option>
<option value="17">Logs</option>
<option value="23">Packs</option>
<option value="10">Productos</option>
<option value="14">Usuarios</option>
<option value="22">Enviar email</option>
<option value="13">Estadísticas</option>
<option value="21">Sincronización</option>
<option value="3">Traducciones</option>
</select>
</div>
<div class="modularGrid-module">
<label class="form-label form--inline"><strong>Activo:</strong></label>
<svg class="icon icon--inline icon--xs" role="img">
<use xlink:href="http://192.168.1.211/bigbuy_e/public/img/icons/svg-defs.svg#icon-successCircle"/>
</svg>
<input type="radio" value="1" data-js-controller="active" name="active" class="form-radio">
<svg class="icon icon--inline icon--xs" role="img">
<use xlink:href="http://192.168.1.211/bigbuy_e/public/img/icons/svg-defs.svg#icon-timesCircle"/>
</svg>
<input type="radio" value="0" data-js-controller="active" name="active" class="form-radio">
</div>
</div>
</form>
</div> --}}
</div>
</div>