<!-- expressCart Row -->
<tr class="table-tr" data-js-back="row">

    <td class="table-item">13/014158 </td>
    <td class="table-item"> 04/04/2014 </td>
    <td class="table-item">empresa de pruebas 2</td>
    <td class="table-item"> B118405547 </td>
    <td class="table-item">Paypal</td>
    <td class="table-item table-item--number" >82,25 €</td>
    <td data-js-filter-cell="estado_pedido" class="table-item">Pendiente de pago</td>
   <td class="table-item table-item--number table-item--handler " data-js-checkActions="elem"  ><input type="checkbox" class="form-checkbox u-locked-evts" ></td>

</tr>
