<div class="form-fieldset form-fieldset--related" data-jsrelated="container">
	<label class="form-label form-label--checkgroup related-label"><input class="form-checkbox related-checkbox" type="checkbox" name="related2" data-jsrelated="checkbox">Almacenistas y distribuidores</label>
	<div class="u-pdl u-flwrap u-flex-start">		
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related21" type="checkbox">Almacenistas y gran distribución</label> 
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related22" type="checkbox">Venta directa</label>		
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related23" type="checkbox">Regalo promocional</label>		
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related24" type="checkbox">Catálogo de puntos y fidelización</label>
	</div>
</div>