<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="tradicional" type="checkbox">Comercio tradicional</label>                             
<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="tiendas" type="checkbox">Cadena de tiendas</label>
<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="mayor" type="checkbox">Compras esporádicas al por mayor</label>					
<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="puntual" type="checkbox">Me interesa hacer una compra puntual</label>
