<div class="form-fieldset form-fieldset--related" data-jsrelated="container">
	<label class="form-label form-label--checkgroup related-label"><input class="form-checkbox related-checkbox" type="checkbox" name="related1" data-jsrelated="checkbox">Tienda online</label>
	<div class="u-pdl u-flwrap u-flex-start">
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related11" type="checkbox">Quiero ampliar el catálogo de una tienda online existente</label>  		
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related12" type="checkbox">Quiero una Tienda Dropshipping 360º desarrollada por BigBuy</label>		
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related13" type="checkbox">Quiero desarrollar mi propia tienda online mediante Multi-Channel Integration Platform</label>
		<label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related14" type="checkbox">Quiero desarrollar mi propia tienda online mediante API o CSV/XML</label>
	</div>	
</div>







