<select id="country" name="country" class="form-select" data-js-country="" required>
                                                                    <option value="0" hidden >Elija un país</option>                             
                                                                    <option value="231" data-iso-code="AF" data-prefix="93" data-zip-code="">Afganistán</option>
                                                                    <option value="230" data-iso-code="AL" data-prefix="355" data-zip-code="NNNN">Albania</option>
                                                                    <option value="1" data-iso-code="DE" data-prefix="49" data-zip-code="NNNNN">Alemania</option>
                                                                    <option value="40" data-iso-code="AD" data-prefix="376" data-zip-code="CNNN">Andorra</option>
                                                                    <option value="41" data-iso-code="AO" data-prefix="244" data-zip-code="">Angola</option>
                                                                    <option value="42" data-iso-code="AI" data-prefix="0" data-zip-code="">Anguila</option>
                                                                    <option value="232" data-iso-code="AQ" data-prefix="0" data-zip-code="">Antártida</option>
                                                                    <option value="43" data-iso-code="AG" data-prefix="0" data-zip-code="">Antigua y Barbuda</option>
                                                                    <option value="157" data-iso-code="AN" data-prefix="599" data-zip-code="">Antillas Neerlandesas</option>
                                                                    <option value="188" data-iso-code="SA" data-prefix="966" data-zip-code="">Arabia Saudita</option>
                                                                    <option value="38" data-iso-code="DZ" data-prefix="213" data-zip-code="NNNNN">Argelia</option>
                                                                    <option value="44" data-iso-code="AR" data-prefix="54" data-zip-code="LNNNN">Argentina</option>
                                                                    <option value="45" data-iso-code="AM" data-prefix="374" data-zip-code="NNNN">Armenia</option>
                                                                    <option value="46" data-iso-code="AW" data-prefix="297" data-zip-code="">Aruba</option>
                                                                    <option value="24" data-iso-code="AU" data-prefix="61" data-zip-code="NNNN">Australia</option>
                                                                    <option value="2" data-iso-code="AT" data-prefix="43" data-zip-code="NNNN">Austria</option>
                                                                    <option value="47" data-iso-code="AZ" data-prefix="994" data-zip-code="CNNNN">Azerbaiyán</option>
                                                                    <option value="48" data-iso-code="BS" data-prefix="0" data-zip-code="">Bahamas</option>
                                                                    <option value="49" data-iso-code="BH" data-prefix="973" data-zip-code="">Bahrein</option>
                                                                    <option value="50" data-iso-code="BD" data-prefix="880" data-zip-code="NNNN">Bangladesh</option>
                                                                    <option value="51" data-iso-code="BB" data-prefix="0" data-zip-code="CNNNNN">Barbados</option>
                                                                    <option value="52" data-iso-code="BY" data-prefix="0" data-zip-code="NNNNNN">Belarús</option>
                                                                    <option value="3" data-iso-code="BE" data-prefix="32" data-zip-code="NNNN">Bélgica</option>
                                                                    <option value="53" data-iso-code="BZ" data-prefix="501" data-zip-code="">Belice</option>
                                                                    <option value="54" data-iso-code="BJ" data-prefix="229" data-zip-code="">Benin</option>
                                                                    <option value="55" data-iso-code="BM" data-prefix="0" data-zip-code="">Bermudas</option>
                                                                    <option value="56" data-iso-code="BT" data-prefix="975" data-zip-code="">Bhután</option>
                                                                    <option value="61" data-iso-code="MM" data-prefix="95" data-zip-code="">Birmania (Myanmar)</option>
                                                                    <option value="34" data-iso-code="BO" data-prefix="591" data-zip-code="">Bolivia</option>
                                                                    <option value="233" data-iso-code="BA" data-prefix="387" data-zip-code="">Bosnia y Herzegovina</option>
                                                                    <option value="57" data-iso-code="BW" data-prefix="267" data-zip-code="">Botswana</option>
                                                                    <option value="58" data-iso-code="BR" data-prefix="55" data-zip-code="NNNNN-NNN">Brasil</option>
                                                                    <option value="235" data-iso-code="IO" data-prefix="0" data-zip-code="LLLL NLL">British Indian Ocean Territory</option>
                                                                    <option value="59" data-iso-code="BN" data-prefix="673" data-zip-code="LLNNNN">Brunei</option>
                                                                    <option value="236" data-iso-code="BG" data-prefix="359" data-zip-code="NNNN">Bulgaria</option>
                                                                    <option value="60" data-iso-code="BF" data-prefix="226" data-zip-code="">Burkina Faso</option>
                                                                    <option value="62" data-iso-code="BI" data-prefix="257" data-zip-code="">Burundi</option>
                                                                    <option value="65" data-iso-code="CV" data-prefix="238" data-zip-code="NNNN">Cabo Verde</option>
                                                                    <option value="237" data-iso-code="KY" data-prefix="0" data-zip-code="">Caimán, Islas</option>
                                                                    <option value="63" data-iso-code="KH" data-prefix="855" data-zip-code="NNNNN">Camboya</option>
                                                                    <option value="64" data-iso-code="CM" data-prefix="237" data-zip-code="">Camerún</option>
                                                                    <option value="4" data-iso-code="CA" data-prefix="1" data-zip-code="LNL NLN">Canadá</option>
                                                                    <option value="67" data-iso-code="TD" data-prefix="235" data-zip-code="">Chad</option>
                                                                    <option value="68" data-iso-code="CL" data-prefix="56" data-zip-code="NNN-NNNN">Chile</option>
                                                                    <option value="5" data-iso-code="CN" data-prefix="86" data-zip-code="NNNNNN">China</option>
                                                                    <option value="76" data-iso-code="CY" data-prefix="357" data-zip-code="NNNN">Chipre</option>
                                                                    <option value="107" data-iso-code="VA" data-prefix="379" data-zip-code="NNNNN">Ciudad del Vaticano</option>
                                                                    <option value="239" data-iso-code="CC" data-prefix="0" data-zip-code="">Cocos (Keeling), Islas</option>
                                                                    <option value="69" data-iso-code="CO" data-prefix="57" data-zip-code="NNNNNN">Colombia</option>
                                                                    <option value="70" data-iso-code="KM" data-prefix="269" data-zip-code="">Comoras</option>
                                                                    <option value="71" data-iso-code="CD" data-prefix="242" data-zip-code="">Congo, Rep. Dem.</option>
                                                                    <option value="72" data-iso-code="CG" data-prefix="243" data-zip-code="">Congo, República</option>
                                                                    <option value="240" data-iso-code="CK" data-prefix="682" data-zip-code="">Cook, Islas</option>
                                                                    <option value="28" data-iso-code="KR" data-prefix="82" data-zip-code="NNN-NNN">Corea del Sur</option>
                                                                    <option value="32" data-iso-code="CI" data-prefix="225" data-zip-code="">Costa de Marfil</option>
                                                                    <option value="73" data-iso-code="CR" data-prefix="506" data-zip-code="NNNNN">Costa Rica</option>
                                                                    <option value="74" data-iso-code="HR" data-prefix="385" data-zip-code="NNNNN">Croacia</option>
                                                                    <option value="75" data-iso-code="CU" data-prefix="53" data-zip-code="">Cuba</option>
                                                                    <option value="20" data-iso-code="DK" data-prefix="45" data-zip-code="NNNN">Dinamarca</option>
                                                                    <option value="77" data-iso-code="DJ" data-prefix="253" data-zip-code="">Djibouti</option>
                                                                    <option value="78" data-iso-code="DM" data-prefix="0" data-zip-code="">Dominica</option>
                                                                    <option value="81" data-iso-code="EC" data-prefix="593" data-zip-code="CNNNNNN">Ecuador</option>
                                                                    <option value="21" data-iso-code="US" data-prefix="1" data-zip-code="NNNNN">EE.UU.</option>
                                                                    <option value="82" data-iso-code="EG" data-prefix="20" data-zip-code="">Egipto</option>
                                                                    <option value="83" data-iso-code="SV" data-prefix="503" data-zip-code="">El Salvador</option>
                                                                    <option value="217" data-iso-code="AE" data-prefix="971" data-zip-code="">Emiratos Árabes Unidos</option>
                                                                    <option value="85" data-iso-code="ER" data-prefix="291" data-zip-code="">Eritrea</option>
                                                                    <option value="37" data-iso-code="SK" data-prefix="421" data-zip-code="NNN NN">Eslovaquia</option>
                                                                    <option value="193" data-iso-code="SI" data-prefix="386" data-zip-code="C-NNNN">Eslovenia</option>
                                                                    <option value="6" data-iso-code="ES" data-prefix="34" data-zip-code="NNNNN">España</option>
                                                                    <option value="86" data-iso-code="EE" data-prefix="372" data-zip-code="NNNNN">Estonia</option>
                                                                    <option value="87" data-iso-code="ET" data-prefix="251" data-zip-code="">Etiopía</option>
                                                                    <option value="90" data-iso-code="FJ" data-prefix="679" data-zip-code="">Fiji</option>
                                                                    <option value="172" data-iso-code="PH" data-prefix="63" data-zip-code="NNNN">Filipinas</option>
                                                                    <option value="7" data-iso-code="FI" data-prefix="358" data-zip-code="NNNNN">Finlandia</option>
                                                                    <option value="241" data-iso-code="GF" data-prefix="594" data-zip-code="">Francés Guayana</option>
                                                                    <option value="8" data-iso-code="FR" data-prefix="33" data-zip-code="NNNNN">Francia</option>
                                                                    <option value="91" data-iso-code="GA" data-prefix="241" data-zip-code="">Gabón</option>
                                                                    <option value="92" data-iso-code="GM" data-prefix="220" data-zip-code="">Gambia</option>
                                                                    <option value="93" data-iso-code="GE" data-prefix="995" data-zip-code="NNNN">Georgia</option>
                                                                    <option value="196" data-iso-code="GS" data-prefix="0" data-zip-code="LLLL NLL">Georgia del Sur e Islas Sandwich del Sur</option>
                                                                    <option value="94" data-iso-code="GH" data-prefix="233" data-zip-code="">Ghana</option>
                                                                    <option value="97" data-iso-code="GI" data-prefix="350" data-zip-code="">Gibraltar</option>
                                                                    <option value="95" data-iso-code="GD" data-prefix="0" data-zip-code="">Granada</option>
                                                                    <option value="9" data-iso-code="GR" data-prefix="30" data-zip-code="NNNNN">Grecia</option>
                                                                    <option value="96" data-iso-code="GL" data-prefix="299" data-zip-code="">Groenlandia</option>
                                                                    <option value="98" data-iso-code="GP" data-prefix="590" data-zip-code="">Guadalupe</option>
                                                                    <option value="99" data-iso-code="GU" data-prefix="0" data-zip-code="">Guam</option>
                                                                    <option value="100" data-iso-code="GT" data-prefix="502" data-zip-code="">Guatemala</option>
                                                                    <option value="101" data-iso-code="GG" data-prefix="0" data-zip-code="LLN NLL">Guernsey</option>
                                                                    <option value="102" data-iso-code="GN" data-prefix="224" data-zip-code="">Guinea</option>
                                                                    <option value="84" data-iso-code="GQ" data-prefix="240" data-zip-code="">Guinea Ecuatorial</option>
                                                                    <option value="103" data-iso-code="GW" data-prefix="245" data-zip-code="">Guinea-Bissau</option>
                                                                    <option value="104" data-iso-code="GY" data-prefix="592" data-zip-code="">Guyana</option>
                                                                    <option value="105" data-iso-code="HT" data-prefix="509" data-zip-code="">Haití</option>
                                                                    <option value="108" data-iso-code="HN" data-prefix="504" data-zip-code="">Honduras</option>
                                                                    <option value="22" data-iso-code="HK" data-prefix="852" data-zip-code="">Hong Kong</option>
                                                                    <option value="143" data-iso-code="HU" data-prefix="36" data-zip-code="NNNN">Hungría</option>
                                                                    <option value="110" data-iso-code="IN" data-prefix="91" data-zip-code="NNN NNN">India</option>
                                                                    <option value="111" data-iso-code="ID" data-prefix="62" data-zip-code="NNNNN">Indonesia</option>
                                                                    <option value="112" data-iso-code="IR" data-prefix="98" data-zip-code="NNNNN-NNNNN">Irán</option>
                                                                    <option value="113" data-iso-code="IQ" data-prefix="964" data-zip-code="NNNNN">Iraq</option>
                                                                    <option value="26" data-iso-code="IE" data-prefix="353" data-zip-code="">Irlanda</option>
                                                                    <option value="234" data-iso-code="BV" data-prefix="0" data-zip-code="">Isla Bouvet</option>
                                                                    <option value="109" data-iso-code="IS" data-prefix="354" data-zip-code="NNN">Islandia</option>
                                                                    <option value="244" data-iso-code="AX" data-prefix="0" data-zip-code="NNNNN">Islas Åland</option>
                                                                    <option value="89" data-iso-code="FO" data-prefix="298" data-zip-code="">Islas Feroe</option>
                                                                    <option value="106" data-iso-code="HM" data-prefix="0" data-zip-code="">Islas Heard y McDonald Islas</option>
                                                                    <option value="88" data-iso-code="FK" data-prefix="0" data-zip-code="LLLL NLL">Islas Malvinas</option>
                                                                    <option value="163" data-iso-code="MP" data-prefix="0" data-zip-code="">Islas Marianas del Norte</option>
                                                                    <option value="213" data-iso-code="TC" data-prefix="0" data-zip-code="LLLL NLL">Islas Turcas y Caicos</option>
                                                                    <option value="223" data-iso-code="VG" data-prefix="0" data-zip-code="CNNNN">Islas Vírgenes (Británicas)</option>
                                                                    <option value="224" data-iso-code="VI" data-prefix="0" data-zip-code="">Islas Vírgenes (EE.UU.)</option>
                                                                    <option value="29" data-iso-code="IL" data-prefix="972" data-zip-code="NNNNN">Israel</option>
                                                                    <option value="10" data-iso-code="IT" data-prefix="39" data-zip-code="NNNNN">Italia</option>
                                                                    <option value="115" data-iso-code="JM" data-prefix="0" data-zip-code="">Jamaica</option>
                                                                    <option value="11" data-iso-code="JP" data-prefix="81" data-zip-code="NNN-NNNN">Japón</option>
                                                                    <option value="116" data-iso-code="JE" data-prefix="0" data-zip-code="CN NLL">Jersey</option>
                                                                    <option value="117" data-iso-code="JO" data-prefix="962" data-zip-code="">Jordania</option>
                                                                    <option value="118" data-iso-code="KZ" data-prefix="7" data-zip-code="NNNNNN">Kazajstán</option>
                                                                    <option value="119" data-iso-code="KE" data-prefix="254" data-zip-code="">Kenya</option>
                                                                    <option value="123" data-iso-code="KG" data-prefix="996" data-zip-code="">Kirguistán</option>
                                                                    <option value="120" data-iso-code="KI" data-prefix="686" data-zip-code="">Kiribati</option>
                                                                    <option value="121" data-iso-code="KP" data-prefix="850" data-zip-code="">KOREA, DEM. República de</option>
                                                                    <option value="122" data-iso-code="KW" data-prefix="965" data-zip-code="">Kuwait</option>
                                                                    <option value="124" data-iso-code="LA" data-prefix="856" data-zip-code="">Laos</option>
                                                                    <option value="127" data-iso-code="LS" data-prefix="266" data-zip-code="">Lesotho</option>
                                                                    <option value="125" data-iso-code="LV" data-prefix="371" data-zip-code="C-NNNN">Letonia</option>
                                                                    <option value="126" data-iso-code="LB" data-prefix="961" data-zip-code="">Líbano</option>
                                                                    <option value="128" data-iso-code="LR" data-prefix="231" data-zip-code="">Liberia</option>
                                                                    <option value="129" data-iso-code="LY" data-prefix="218" data-zip-code="">Libia</option>
                                                                    <option value="130" data-iso-code="LI" data-prefix="423" data-zip-code="NNNN">Liechtenstein</option>
                                                                    <option value="131" data-iso-code="LT" data-prefix="370" data-zip-code="NNNNN">Lituania</option>
                                                                    <option value="12" data-iso-code="LU" data-prefix="352" data-zip-code="NNNN">Luxemburgo</option>
                                                                    <option value="132" data-iso-code="MO" data-prefix="853" data-zip-code="">Macao</option>
                                                                    <option value="133" data-iso-code="MK" data-prefix="389" data-zip-code="">Macedonia</option>
                                                                    <option value="134" data-iso-code="MG" data-prefix="261" data-zip-code="">Madagascar</option>
                                                                    <option value="136" data-iso-code="MY" data-prefix="60" data-zip-code="NNNNN">Malasia</option>
                                                                    <option value="135" data-iso-code="MW" data-prefix="265" data-zip-code="">Malawi</option>
                                                                    <option value="137" data-iso-code="MV" data-prefix="960" data-zip-code="">Maldivas</option>
                                                                    <option value="138" data-iso-code="ML" data-prefix="223" data-zip-code="">Malí</option>
                                                                    <option value="139" data-iso-code="MT" data-prefix="356" data-zip-code="LLL NNNN">Malta</option>
                                                                    <option value="114" data-iso-code="IM" data-prefix="0" data-zip-code="CN NLL">Man, Isla</option>
                                                                    <option value="152" data-iso-code="MA" data-prefix="212" data-zip-code="NNNNN">Marruecos</option>
                                                                    <option value="140" data-iso-code="MH" data-prefix="692" data-zip-code="">Marshall, Islas</option>
                                                                    <option value="141" data-iso-code="MQ" data-prefix="596" data-zip-code="">Martinica</option>
                                                                    <option value="35" data-iso-code="MU" data-prefix="230" data-zip-code="">Mauricio</option>
                                                                    <option value="142" data-iso-code="MR" data-prefix="222" data-zip-code="">Mauritania</option>
                                                                    <option value="144" data-iso-code="YT" data-prefix="262" data-zip-code="">Mayotte</option>
                                                                    <option value="145" data-iso-code="MX" data-prefix="52" data-zip-code="NNNNN">México</option>
                                                                    <option value="146" data-iso-code="FM" data-prefix="691" data-zip-code="">Micronesia</option>
                                                                    <option value="147" data-iso-code="MD" data-prefix="373" data-zip-code="C-NNNN">Moldavia</option>
                                                                    <option value="148" data-iso-code="MC" data-prefix="377" data-zip-code="980NN">Mónaco</option>
                                                                    <option value="149" data-iso-code="MN" data-prefix="976" data-zip-code="">Mongolia</option>
                                                                    <option value="150" data-iso-code="ME" data-prefix="382" data-zip-code="NNNNN">Montenegro</option>
                                                                    <option value="151" data-iso-code="MS" data-prefix="0" data-zip-code="">Montserrat</option>
                                                                    <option value="153" data-iso-code="MZ" data-prefix="258" data-zip-code="">Mozambique</option>
                                                                    <option value="154" data-iso-code="NA" data-prefix="264" data-zip-code="">Namibia</option>
                                                                    <option value="155" data-iso-code="NR" data-prefix="674" data-zip-code="">Nauru</option>
                                                                    <option value="238" data-iso-code="CX" data-prefix="0" data-zip-code="">Navidad, Isla de</option>
                                                                    <option value="156" data-iso-code="NP" data-prefix="977" data-zip-code="">Nepal</option>
                                                                    <option value="159" data-iso-code="NI" data-prefix="505" data-zip-code="NNNNNN">Nicaragua</option>
                                                                    <option value="160" data-iso-code="NE" data-prefix="227" data-zip-code="">Níger</option>
                                                                    <option value="31" data-iso-code="NG" data-prefix="234" data-zip-code="">Nigeria</option>
                                                                    <option value="161" data-iso-code="NU" data-prefix="683" data-zip-code="">Niue</option>
                                                                    <option value="162" data-iso-code="NF" data-prefix="0" data-zip-code="">Norfolk Island</option>
                                                                    <option value="23" data-iso-code="NO" data-prefix="47" data-zip-code="NNNN">Noruega</option>
                                                                    <option value="158" data-iso-code="NC" data-prefix="687" data-zip-code="">Nueva Caledonia</option>
                                                                    <option value="27" data-iso-code="NZ" data-prefix="64" data-zip-code="NNNN">Nueva Zelanda</option>
                                                                    <option value="164" data-iso-code="OM" data-prefix="968" data-zip-code="">Omán</option>
                                                                    <option value="13" data-iso-code="NL" data-prefix="31" data-zip-code="NNNN LL">Países Bajos</option>
                                                                    <option value="165" data-iso-code="PK" data-prefix="92" data-zip-code="">Pakistán</option>
                                                                    <option value="166" data-iso-code="PW" data-prefix="680" data-zip-code="">Palau</option>
                                                                    <option value="168" data-iso-code="PA" data-prefix="507" data-zip-code="NNNNNN">Panamá</option>
                                                                    <option value="169" data-iso-code="PG" data-prefix="675" data-zip-code="">Papua Nueva Guinea</option>
                                                                    <option value="170" data-iso-code="PY" data-prefix="595" data-zip-code="">Paraguay</option>
                                                                    <option value="171" data-iso-code="PE" data-prefix="51" data-zip-code="">Perú</option>
                                                                    <option value="173" data-iso-code="PN" data-prefix="0" data-zip-code="LLLL NLL">Pitcairn</option>
                                                                    <option value="242" data-iso-code="PF" data-prefix="689" data-zip-code="">Polinesia francés</option>
                                                                    <option value="14" data-iso-code="PL" data-prefix="48" data-zip-code="NN-NNN">Polonia</option>
                                                                    <option value="15" data-iso-code="PT" data-prefix="351" data-zip-code="NNNN NNN">Portugal</option>
                                                                    <option value="174" data-iso-code="PR" data-prefix="0" data-zip-code="NNNNN">Puerto Rico</option>
                                                                    <option value="175" data-iso-code="QA" data-prefix="974" data-zip-code="">Qatar</option>
                                                                    <option value="17" data-iso-code="GB" data-prefix="44" data-zip-code="">Reino Unido</option>
                                                                    <option value="66" data-iso-code="CF" data-prefix="236" data-zip-code="">República Centroafricana</option>
                                                                    <option value="16" data-iso-code="CZ" data-prefix="420" data-zip-code="NNN NN">República Checa</option>
                                                                    <option value="79" data-iso-code="DO" data-prefix="0" data-zip-code="">República Dominicana</option>
                                                                    <option value="176" data-iso-code="RE" data-prefix="262" data-zip-code="">Reunión, Isla de la</option>
                                                                    <option value="36" data-iso-code="RO" data-prefix="40" data-zip-code="NNNNNN">Rumania</option>
                                                                    <option value="177" data-iso-code="RU" data-prefix="7" data-zip-code="NNNNNN">Rusia, Federación de</option>
                                                                    <option value="178" data-iso-code="RW" data-prefix="250" data-zip-code="">Rwanda</option>
                                                                    <option value="226" data-iso-code="EH" data-prefix="0" data-zip-code="">Sáhara Occidental</option>
                                                                    <option value="180" data-iso-code="KN" data-prefix="0" data-zip-code="">Saint Kitts y Nevis</option>
                                                                    <option value="182" data-iso-code="MF" data-prefix="0" data-zip-code="">Saint Martin</option>
                                                                    <option value="194" data-iso-code="SB" data-prefix="677" data-zip-code="">Salomón, Islas</option>
                                                                    <option value="185" data-iso-code="WS" data-prefix="685" data-zip-code="">Samoa</option>
                                                                    <option value="39" data-iso-code="AS" data-prefix="0" data-zip-code="">Samoa Americana</option>
                                                                    <option value="179" data-iso-code="BL" data-prefix="0" data-zip-code="">San Bartolomé</option>
                                                                    <option value="186" data-iso-code="SM" data-prefix="378" data-zip-code="NNNNN">San Marino</option>
                                                                    <option value="183" data-iso-code="PM" data-prefix="508" data-zip-code="">San Pedro y Miquelón</option>
                                                                    <option value="184" data-iso-code="VC" data-prefix="0" data-zip-code="">San Vicente y las Granadinas</option>
                                                                    <option value="181" data-iso-code="LC" data-prefix="0" data-zip-code="">Santa Lucía</option>
                                                                    <option value="187" data-iso-code="ST" data-prefix="239" data-zip-code="">Santo Tomé y Príncipe</option>
                                                                    <option value="189" data-iso-code="SN" data-prefix="221" data-zip-code="">Senegal</option>
                                                                    <option value="190" data-iso-code="RS" data-prefix="381" data-zip-code="NNNNN">Serbia</option>
                                                                    <option value="191" data-iso-code="SC" data-prefix="248" data-zip-code="">Seychelles</option>
                                                                    <option value="192" data-iso-code="SL" data-prefix="232" data-zip-code="">Sierra Leona</option>
                                                                    <option value="25" data-iso-code="SG" data-prefix="65" data-zip-code="NNNNNN">Singapur</option>
                                                                    <option value="202" data-iso-code="SY" data-prefix="963" data-zip-code="">Siria</option>
                                                                    <option value="195" data-iso-code="SO" data-prefix="252" data-zip-code="">Somalia</option>
                                                                    <option value="197" data-iso-code="LK" data-prefix="94" data-zip-code="NNNNN">Sri Lanka</option>
                                                                    <option value="30" data-iso-code="ZA" data-prefix="27" data-zip-code="NNNN">Sudáfrica</option>
                                                                    <option value="198" data-iso-code="SD" data-prefix="249" data-zip-code="">Sudán</option>
                                                                    <option value="18" data-iso-code="SE" data-prefix="46" data-zip-code="NNN NN">Suecia</option>
                                                                    <option value="19" data-iso-code="CH" data-prefix="41" data-zip-code="NNNN">Suiza</option>
                                                                    <option value="199" data-iso-code="SR" data-prefix="597" data-zip-code="">Suriname</option>
                                                                    <option value="200" data-iso-code="SJ" data-prefix="0" data-zip-code="">Svalbard y Jan Mayen</option>
                                                                    <option value="201" data-iso-code="SZ" data-prefix="268" data-zip-code="">Swazilandia</option>
                                                                    <option value="206" data-iso-code="TH" data-prefix="66" data-zip-code="NNNNN">Tailandia</option>
                                                                    <option value="203" data-iso-code="TW" data-prefix="886" data-zip-code="NNNNN">Taiwán</option>
                                                                    <option value="205" data-iso-code="TZ" data-prefix="255" data-zip-code="">Tanzania</option>
                                                                    <option value="204" data-iso-code="TJ" data-prefix="992" data-zip-code="">Tayikistán</option>
                                                                    <option value="243" data-iso-code="TF" data-prefix="0" data-zip-code="">Territorios del sur francés</option>
                                                                    <option value="167" data-iso-code="PS" data-prefix="0" data-zip-code="">Territorios Palestinos</option>
                                                                    <option value="80" data-iso-code="TL" data-prefix="670" data-zip-code="">Timor Oriental</option>
                                                                    <option value="33" data-iso-code="TG" data-prefix="228" data-zip-code="">Togo</option>
                                                                    <option value="207" data-iso-code="TK" data-prefix="690" data-zip-code="">Tokelau</option>
                                                                    <option value="208" data-iso-code="TO" data-prefix="676" data-zip-code="">Tonga</option>
                                                                    <option value="209" data-iso-code="TT" data-prefix="0" data-zip-code="">Trinidad y Tobago</option>
                                                                    <option value="210" data-iso-code="TN" data-prefix="216" data-zip-code="">Túnez</option>
                                                                    <option value="212" data-iso-code="TM" data-prefix="993" data-zip-code="">Turkmenistán</option>
                                                                    <option value="211" data-iso-code="TR" data-prefix="90" data-zip-code="NNNNN">Turquía</option>
                                                                    <option value="214" data-iso-code="TV" data-prefix="688" data-zip-code="">Tuvalu</option>
                                                                    <option value="216" data-iso-code="UA" data-prefix="380" data-zip-code="NNNNN">Ucrania</option>
                                                                    <option value="215" data-iso-code="UG" data-prefix="256" data-zip-code="">Uganda</option>
                                                                    <option value="218" data-iso-code="UY" data-prefix="598" data-zip-code="">Uruguay</option>
                                                                    <option value="219" data-iso-code="UZ" data-prefix="998" data-zip-code="">Uzbekistán</option>
                                                                    <option value="220" data-iso-code="VU" data-prefix="678" data-zip-code="">Vanuatu</option>
                                                                    <option value="221" data-iso-code="VE" data-prefix="58" data-zip-code="">Venezuela</option>
                                                                    <option value="222" data-iso-code="VN" data-prefix="84" data-zip-code="NNNNNN">Vietnam</option>
                                                                    <option value="225" data-iso-code="WF" data-prefix="681" data-zip-code="">Wallis y Futuna</option>
                                                                    <option value="227" data-iso-code="YE" data-prefix="967" data-zip-code="">Yemen</option>
                                                                    <option value="228" data-iso-code="ZM" data-prefix="260" data-zip-code="">Zambia</option>
                                                                    <option value="229" data-iso-code="ZW" data-prefix="263" data-zip-code="">Zimbabwe</option>
                                                            </select>