<div class="modularGrid">
	<div class="modularGrid-module u-xs-90  u-sm-85 u-md-90">
		<input class="form-prefix u-pen" data-js-country_prefix="" name="countrycode" readonly="true" tabindex="-1">
<input class="form-input form-input--prefix  " placeholder="{{#if placeholder}}{{placeholder}}{{else}}NIF{{/if}}" type="text" name="vat_number" data-js-vat_number="" maxlength="18" required >
	    
	</div>

	    
	
    



{{#if tooltip}}
	<div class="modularGrid-module u-xs-10  u-sm-15 u-md-10">
<em class="form-info u-vt  u-mgt--3rd u-mgl--half u-xxs-hide u-xs-inlineBlock" data-js-tooltip="{{tooltip}}">{{>svgIcon type='info'}}</em>
</div>
{{/if}}

</div>

