<span class="form-prefix">CP</span>
<input class="form-input form-input--prefix" placeholder="Código Postal" data-js-postcode="text46" name="postcode" maxlength="10" data-js-minlength="3"  type="text" required>       