<thead class="table-thead ">
    <tr class="table-tr responsiveTable-tr">
        <th class="responsiveTable-th ">
            <p>Detalle</p>
        </th>
        <th class="responsiveTable-th">
            <p >Nº factura</p>
            <input type="text" class="form-input">
        </th>
        <th class="responsiveTable-th">
            <p >Fecha</p>
            <input type="text" class="form-input ">
        </th>
        <th class="responsiveTable-th">
            <p >Importe</p>
            <input type="text" class="form-input ">
        </th>
        <th class="responsiveTable-th ">
            <p>Descargar</p>
        </th>
    </tr>
</thead>
{{!-- <thead class="table-thead ">
    <tr class="table-tr responsiveTable-tr">
        <th class="responsiveTable-th ">
            Descargar
        </th>
        <th class="responsiveTable-th">
            Nº factura
            <input type="text" class="form-input u-block u-mgt--half">
        </th>
        <th class="responsiveTable-th">
            Fecha
            <input type="text" class="form-input u-block u-mgt--half">
        </th>
        <th class="responsiveTable-th">
            Empresa
            <input type="text" class="form-input u-block u-mgt--half">
        </th>
        <th class="responsiveTable-th">
            CIF
            <input type="text" class="form-input u-block u-mgt--half">
        </th>
        <th class="responsiveTable-th">
            Forma de Pago
            <select class="form-select  u-block u-mgt--half">
                <option>Paypal</option>
                <option>Tarjeta Crédito</option>
                <option>Monedero</option>
                <option>Contrarrembolso</option>
                <option>Transferencia Bancaria</option>
            </select>
        </th>
        <th class="responsiveTable-th">
            Importe
            <input type="text" class="form-input u-block u-mgt--half">
        </th>
        <th class="responsiveTable-th">
            Estado
            <select class="form-select  u-block u-mgt--half">
                <option>--</option>
                <option>En proceso</option>
                <option>Entregado</option>
                <option>Expedido</option>
                <option>Pendiente de Pago</option>
                <option>Procesado</option>
            </select>
        </th>
    </tr>
</thead> --}}