<div class="modularGrid-module u-pd">
  <table class="mTDList ">
    <tr>
    <td class="mTDList-item mTDList-item--dt">Nº Factura</td>
      <td class="mTDList-item  mTDList-item--dd">ES24379919B</td>
    </tr>
    <tr>
      <td class="mTDList-item mTDList-item--dt">Fecha</td>
      <td class="mTDList-item  mTDList-item--dd">07/04/2015</td>
    </tr>
    <tr>
      <td class="mTDList-item mTDList-item--dt">Empresa</td>
      <td class="mTDList-item  mTDList-item--dd">Empresa de pruebas 1</td>
    </tr>
    <tr>
      <td class="mTDList-item mTDList-item--dt">CIF</td>
      <td class="mTDList-item  mTDList-item--dd">1223456798</td>
    </tr>
    <tr>
      <td class="mTDList-item mTDList-item--dt">Forma de pago</td>
      <td class="mTDList-item  mTDList-item--dd">Transferencia bancaria</td>
    </tr>
    <tr>
      <td class="mTDList-item mTDList-item--dt">Importe</td>
      <td class="mTDList-item  mTDList-item--dd">105,12 €</td>
    </tr>
    <tr>
      <td class="mTDList-item mTDList-item--dt">Estado</td>
      <td class="mTDList-item  mTDList-item--dd">Pendiente de pago</td>
    </tr>
  </table>
</div>
