<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>receiptsTableHeader}}
        <tbody class="table-tbody table-tbody--stripped">
            {{>receiptsTableRow1}}
            {{>receiptsTableRow1}}
            {{>receiptsTableRow1}}
            {{>receiptsTableRow1}}
            {{>receiptsTableRow1}}
            {{>receiptsTableRow1}}
            </tbody>
    </table>
</div>