<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
   <td class="responsiveTable-td">
    <a class="button button--icon" href="receiptsDetail.html" title="Detalle de factura">
    <img src="../../img/mobileIcons/plus.svg"  class="icon icon--xs icon--inline"alt="" ></a>
    </td>
    <td class="responsiveTable-td">54205</td>
    <td class="responsiveTable-td">29/08/2014</td>
    <td class="responsiveTable-td u-tar">39,49 €</td>
     <td class="responsiveTable-td">
    <a class="button button--icon u-op-60" href="../proforma.pdf"  title="Descargar factura">
    <img src="../../img/mobileIcons/file_download_black.svg"  class="icon icon--sm icon--inline" alt="" ></a>
    </td>
</tr>


{{!-- <tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
    <td class="responsiveTable-td">  <a class="button button--icon u-op-60" href="../proforma.pdf"  title="Descargar factura"> <img src="../../img/mobileIcons/file_download_black.svg"  class="icon icon--sm icon--inline" alt="" ></a></td>
    <td class="responsiveTable-td">54205</td>
    <td class="responsiveTable-td">29/08/2014</td>
    <td class="responsiveTable-td">Empresa de prueba</td>
    <td class="responsiveTable-td">B520328473</td>
    <td class="responsiveTable-td">Transferencia bancaria</td>
    <td class="responsiveTable-td u-tar">39,49 €</td>
    <td class="responsiveTable-td">Pendiente de pago</td>
</tr> --}}