<nav data-js-accordion_selected_class="mobileTabs-itemHeader--selected" data-js-accordiontype="mobileTabs-itemContent--selected" data-js-accordion="accordion" class="mobileTabs">
<article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Pendientes de pago <b class="mobileTabs-notify"></b></h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>receiptsTable1}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Pagadas</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>receiptsTable1}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Pago flexible</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>receiptsTable1}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Irregularidades en el pago</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>receiptsTable1}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Expedidas</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>receiptsTable1}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Canceladas</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>receiptsTable1}}
                </div>
            </div>
        </section>
    </article>

</nav>