<aside class="menuPanel " data-js-menupanel="panel"  data-js-menupanel_idpanel="1" >
            <form class="form">
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title u-pdb--half">Retirar fondos de su monedero</h3>
                    <div class="modularGrid">
                       <div class="modularGrid-module  u-md-50">
                        <label class="form-label">Importe</label>
                        <input type="text" class="form-input form-input--postfix form-input--number">
                        <span class="form-postfix">€</span>
                       </div>
                    </div>
                    <div class="modularGrid">
                   <div class="modularGrid-module  u-md-70">
                        <label class="form-label">Modalidad</label>
                        <select name="" id="" class="form-select">
                            <option value="">Transferencia Bancaria</option>
                            <option value="">Paypal</option>
                        </select>
                    </div>
                     </div>
                      <div class="modularGrid">
                    <div class="modularGrid-module ">
                        <label class="form-label">Cuenta Bancaria <em class="form-info"> IBAN / XX85 2103 0166 3212 3456 7890</em></label>
                        <input type="text" class="form-input ">
                    </div>
                     </div>
                      <div class="modularGrid">
                    <div class="modularGrid-module  u-md-30">
                        <button class="button button--full button--primary u-mgt--half">Enviar</button>
                    </div>
                    </div>
                </fieldset>
            </form>
</aside>

