<aside class="menuPanel   u-md-30" data-js-menupanel="panel"  data-js-menupanel_idpanel="2" >
            <form class="form">
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title u-pdb--half">Ingresar fondos al monedero</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-30">
                           Importe mínimo:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>300€</strong>
                        </div>
                         </div>
                         <div class="modularGrid">
                        <div class="modularGrid-module u-md-30">
                           Banco y nº de cuenta:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>La Caixa 12345 1234 1234 300300</strong>
                        </div>
                        </div>
                         <div class="modularGrid">
                        <div class="modularGrid-module u-md-30">
                           IBAN:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>12345 1234 1234 300300 | 12345 1234 1234 300300</strong>
                        </div>
                        </div>
                         <div class="modularGrid">
                        <div class="modularGrid-module u-md-30">
                           Concepto:
                        </div>
                        <div class="modularGrid-module u-md-70">
                           <strong>Monedero / Su Email</strong>
                        </div>
                        </div>
                         <div class="modularGrid">
                        <div class="modularGrid-module">
                            <p class="u-mgt">
                                Aváncenos justificante a <a href="mailto:admin@bigbuy.eu">admin@bigbuy.eu</a>, e ingresaremos el dinero en su monedero. Recuerde que las compras por monedero están exentas de gastos de forma de pago
                            </p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </aside>
