
{{>tableLongWalletHeader}}
<table class="table">
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet02}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
        {{>tableRowWallet01}}
    </tbody>
</table>