<!-- expressCart Row -->
<tr class="table-tr">
    <td class="table-item" width="10%">10000005</td>
    <td class="table-item" width="21%"> 04/04/2014 </td>
    <td class="table-item" width="10%">05:55:24</td>
    <td class="table-item" width="15%">Retirada</td>
    <td class="table-item table-item--number" width="10%">2.270,21 €</td>
    <td class="table-item table-item--number" width="12%">41.408,60 €</td>
    <td class="table-item table-item--number" width="12%">41.356,79 €</td>
</tr>
