<!-- expressCart Row -->
<tr class="table-tr">
    <td class="table-item" width="10%">10000000</td>
    <td class="table-item" width="21%">04/04/2014</td>
    <td class="table-item" width="10%">12:36:56</td>
    <td class="table-item" width="15%">Ingreso</td>
    <td class="table-item table-item--numberNegative" width="10%">- 82,25 €</td>
    <td class="table-item table-item--number" width="12%">44.838,20 €</td>
    <td class="table-item table-item--number" width="12%">44.703,44 €</td>
</tr>
