---
layout: mail/layouts/notify.hbs
title: BigBuy Mail
---

<table bgcolor="#363B3F" cellspacing="0" cellpadding="0" border="0" width="100%" >
    <tr>
        <td width="80" style="padding-left: 30px; padding-top: 8px;padding-bottom: 7px;"><img src="../../img/logo.gif" width="60px" height="60px" border="0" alt="" /></td>
        <td width="520" style="font-size: 14px; color: white; font-family: Roboto, sans-serif; font-weight: bold; padding-left: 30px; padding-top: 8px;padding-bottom: 7px;">EL MAYORISTA IDEAL PARA SU NEGOCIO ONLINE</td>
    </tr>
</table>
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"   width="100%"  style="font-size:13px; font-family: Roboto, sans-serif; border-bottom:1px solid #EEEEEE;">
    <tr>

        <td style="font-size: 13px; font-family: Roboto, sans-serif; font-weight: bold; padding-top:20px; padding-left:30px; padding-bottom:10px;">NOTIFICACIÓN DESDE:</td>

    </tr>
    <tr>

        <td style="padding-left:30px; padding-bottom:25px;"><img src="../../img/multichannel_name.gif" width="260px" height="30px" border="0" alt="" /></td>

    </tr>

    
</table>
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"   width="100%"  style="font-size:13px; font-family: Roboto, sans-serif;" >
    <tr>

        <td style="font-size: 26px;  font-family: Roboto Condensed, sans-serif;padding-top:20px; padding-left:30px; padding-bottom:10px;">El pedido nº XXX no ha podido ser enviado</td>

    </tr>
    <tr>

        <td style="padding-left:30px; padding-bottom:2px; color:#666666;">Se ha registrado los siguiente errores:</td>

    </tr>
    <tr>

        <td style="padding-left:30px; padding-bottom:2px; color:#666666;"><strong>- Dirección demasiado larga:</strong> (extensión máxima XXX caracteres)</td>

    </tr>
    <tr>

        <td style="padding-left:30px; padding-bottom:2px; color:#666666;"><strong>- Falta de stock</strong></td>

    </tr>
</table>

<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"   width="100%"  style="font-size:13px; font-family: Roboto, sans-serif;" >
    <tr>
        <td style="padding-left:30px; padding-right:30px; padding-bottom:30px; padding-top:10px;"> 
            {{>mailtableerror}}


           



        </td>

    </tr>
</table>

<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"   width="100%"  style="font-size:13px; font-family: Roboto, sans-serif; border-bottom:1px solid #EEEEEE;"> 

    <tr>

        <td style="padding-left:30px; padding-bottom:2px; padding-right:30px; color:#666666;">Por favor, revíselo lo antes posible logueándose en BigBuy y accediendo a la sección Pedidos de Multi-channel Integration Platform.</td>

    </tr>
    <tr>

        <td style="text-align:center; padding-bottom:30px; padding-top:30px;">
            <a href="#" target="_blank" style="font-size: 13px;  font-family: Roboto, sans-serif;  text-decoration: none; color:#8D7F02; border:1px solid #E5CF00; padding-left:30px; text-align: center; padding-right: 30px; padding-top: 5px; padding-bottom: 5px; background-color: #FEE600; border-radius: 3px;" >Ir a BigBuy</a>
        </td>

    </tr>


    
</table>









