---
layout: mail/layouts/translation_layout.hbs
title: Big Translation Mail
---
<body yahoo bgcolor="#F5F5F5">
	<div marginwidth="0" marginheight="0" style="margin:0;padding:0;color:#4d4843;font-weight:400;font-size:14px;font-family:'Arial',san-serif;line-height:1.2;background-color:#f4f4f4;width:100%!important">
		<center>
			<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f4f4f4;">
				<tbody>
					<tr>
						<td align="center" valign="top" style="font-family:inherit">
							<table border="0" cellpadding="0" cellspacing="0" style="margin-top:24px; margin-bottom:8px; border-collapse:collapse;padding:0px;border:1px solid #eeeeee;background-color:#ffffff;max-width:600px;width:100% !important">
								<tbody>
									<tr>
										<td align="center" valign="top" style="font-family:inherit">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
												<tbody>
													<tr>
														<td valign="top" style="padding:15px 34px 34px 34px;text-align:left;font-size:16px;line-height:1.5;font-family:inherit">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
																<tbody>
																	<tr>
																		<td style="font-family:inherit">
																			<img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/logo.jpg" style="max-width:248px;height:auto;outline:none;border:none;text-decoration:none;text-transform:capitalize;font-weight:400;font-size:14px;line-height:1.2;display:block">
																		</td>
																	</tr>
																	<tr>
																		<td style="font-family:inherit">
																			<h1 style="display:block;color:#0199ad;text-align:left;font-weight:600;line-height:1.1;margin:0;font-size:30px;letter-spacing: 0.02em;">Welcome to BigTranslation!</h1>
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-weight:600;font-size:15px; padding-top:8px; line-height:1.1;">
																			We're pleased that your are interested in Bigtranslation's services!
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-size:15px; padding-top: 24px; line-height: 1.17;">
																			It’s very easy to translate with us. You can get your instant quote <a href="#" style="color:#42b8c7; text-decoration:underline;">here</a>, and once you’ve decided that you’re ready to proceed, you can place your order in just a click.
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-size:15px; padding-top: 6px; line-height: 1.17;">
																			In addition, a member of our team will be in touch shortly to discuss your translation needs and help ensure that you get the perfect linguistic solution for your business.
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-size:15px; padding-top: 6px; line-height: 1.17;">
																			However, if you’re looking for more information about our services, the sections below will also help provide you with all the answers you need.
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-size:15px; padding-top: 16px;">
																			<a href="#" style="color:#42b8c7; text-decoration:underline;" target="_blank">More about our translation agency?</a>
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-size:15px; padding-top: 6px;">
																			<a href="#" style="color:#42b8c7; text-decoration:underline;" target="_blank">How does the translations process work?</a>
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" style="font-family:inherit;color:#666666;font-size:15px; padding-top: 6px;">
																			<a href="#" style="color:#42b8c7; text-decoration:underline;" target="_blank">What languages and payment methods are available?</a>
																		</td>
																	</tr>
																	<tr>
																		<td align="center" style="padding-top: 30px;">
																			<a href="#" target="_blank" style="color:#ffffff;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/orderbutton.jpg" style="heigh:57px;width:192px;"></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;width:100%;">
												<tbody>
													<tr>
														<td valign="top" style="border-top:1px solid #eeeeee;font-family:inherit;color:#666666;padding-left:34px;padding-top:24px;padding-bottom:34px;font-size:16px;font-weight:600;">
															Contact us
															<a href="tel:34961155803" target="_blank" style="display:block;margin-top:10px; color:#ffffff;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/phone.png" style="heigh:26px;width:188px;"></a>
															<a href="mailto:info@bigtranslation.com" target="_blank" style="display:block;margin-top:10px; color:#ffffff;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/mailto.png" style="heigh:25px;width:188px;"></a>
														</td>
														<td valign="top" style="border-top:1px solid #eeeeee;font-family:inherit;color:#666666;padding-right:5px;padding-top:24px;padding-bottom:34px;font-size:16px;font-weight:600;">
															Social media
															<table style="margin-top:10px;">
																<tr>
																	<td valign="top" >
																		<a href="https://www.linkedin.com/company/bigtranslation" target="_blank" style="color:#ffffff; margin-bottom:1rem;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/linkedin.png" width="33px" height="33px"></a>
																		<a href="https://www.facebook.com/BigTranslation" target="_blank" style="color:#ffffff; margin-bottom:1rem;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/facebook.png" width="33px" height="33px"></a>
																		<a href="https://twitter.com/BigTranslation" target="_blank" style="color:#ffffff; margin-bottom:1rem;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/twitter.png" width="33px" height="33px"></a>
																		<a href="https://plus.google.com/108723628987042899812" target="_blank" style="color:#ffffff;"><img src="http://newsletter.edropshipping.net/2018/bigtranslation/prueba/gplus.png" width="33px" height="33px"></a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>
</body>