<section class="hero hero--soluciones">
	<div class="modularGrid modularGrid--boxed u-flex--between u-flwrap">		
		<div class="modularGrid-module u-md-40 u-tac u-order1 u-md-order0">
			<img src="../../img/banners/{{image}}" alt="" class="u-xxs-50 u-md-100">				
		</div>
		<div class="modularGrid-module u-md-55  u-v-center u-pdl2 u-pdv  u-flex-start u-order0 u-md-order1">	
			<h3 class="hero-title">{{{title}}}</h3>		
			<button class="button button--primary button--bigger u-mg">{{buttontext}}</button>
		</div>	
		
	</div>    
</section>
