<div class="u-mgl--half" id="id_driverviews">
<label class="button button--toggle" for="row_view" aria-label="row_button" title="Vista mosaico" alt="Vista mosaico" >{{>svgIcon type='row' size='sm'}}</label>
<label class="button button--toggle" for="list_view" aria-label="list_button" title="Vista listado" alt="Vista listado">{{>svgIcon type='list' size='sm'}}</label>
</div>


