
<label class="form-label form-label--inline" for="orderfilter"><strong>Ordenar por</strong></label>
<select class="form-select form-select--inline" id="orderfilter">
    <option value="1">Precio de mayor a menor</option>
    <option value="2">Precio de mayor a menor</option>
    <option value="3">Nombre</option>
</select>

