<aside class="filter" data-js-filter="filter">
<input type="checkbox" class="inputToggle" data-js-filter="checkbox" id="{{idFilter}}">
<label for="{{idFilter}}" class="filter-headerTitle" data-js-filter="btn">{{header.title}}<small class="u-mgl--6th u-op-60">(20021)</small></label>
<section class="filter-body filter-body--range">
{{>rangeFilterContent}}
</section>
</aside>

