<div class="modularGrid u-pdh u-pdt--half">
    <div class="modularGrid-module u-xs-50">
        <label for="rangeFilterLow" class="form-label">de</label>
    </div>
    <div class="modularGrid-module u-xs-50 u-tar">
        <label for="rangeFilterHigh" class="form-label">a</label>
    </div>
    <div class="modularGrid-module u-pdb u-pdt--half">
     <aside id="html5range"></aside>
    </div>
    <div class="modularGrid-module u-xs-45">
        <input class="form-input form-input--postfix" type="number" min="0" max="100" id="rangeFilterLow"/>
        <span class="form-postfix ">€</span>
    </div>
    <div class="modularGrid-module u-xs-10 u-tac">
        <span class="u-op-20">_ _</span>
    </div>
    <div class="modularGrid-module u-xs-45 u-tar">
        <input  class="form-input form-input form-input--postfix" type="number" min="0" max="100" id="rangeFilterHigh" />
        <span class="form-postfix ">€</span>
    </div>
</div>
{{>selectFilterBtn}}