<div class="modularGrid u-pd--half  {{#unless nopadding}}u-mgt--half{{/unless}} u-brdt">
    <div class="modularGrid-module u-tac">
        <button class="button button--condensed" data-js-filter="apply">Filtrar</button>
    </div>
</div>















