<div class="modularGrid-module u-pdb">
    <input type="checkbox" data-js-otros="sector" value="2_10" data-js-gadget="sector" name="sector" id="sector_10" class="form-checkbox">
    <label title="Otros   (Indicar cuáles)" for="sector_10" class="form-label form-label--inline">Otros (Indicar cuáles)</label>
</div>
<div class="modularGrid-module u-sm-55 u-md-100 u-lg-50 ">
    <input type="text" value="" maxlength="50" class="form-input" placeholder="">
</div>