        
<div class="modularGrid  ">

   <div class="modularGrid-module u-pd  u-pdb0">
     <h2 class="title2 u-pdb">¿En que soluciones de BigBuy está interesado?</h2>
     </div>

        <div class="modularGrid-module u-md-50 u-pd  ">
           
            <h3 class="form-fieldset-title">Canal de venta online</h3>



        <div data-jsrelated="container">
            <label class="form-label form-label--checkgroup related-label"><input class="form-checkbox related-checkbox" id="related1" data-jsrelated="checkbox" type="checkbox" name="related[]" value="7_40">Tienda online</label>

            <div class="u-pdl u-flwrap u-flex-start">
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related11" type="checkbox" name="related[]" value="7_41">Quiero ampliar el catálogo de una tienda online existente</label>        
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related12" type="checkbox" name="related[]" value="7_42">Quiero una Tienda Dropshipping 360º desarrollada por BigBuy</label>      
                <label class="form-label form-label--checkgroup"> <input class="form-checkbox" id="related13" type="checkbox" name="related[]" value="7_43">Quiero desarrollar mi propia tienda online mediante Multi-Channel Integration Platform</label>
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related14" type="checkbox" name="related[]" value="7_44">Quiero desarrollar mi propia tienda online mediante API o CSV/XML</label>
            </div>  
        </div>

        <label class="form-label form-label--checkgroup u-pdb--third"><input class="form-checkbox" id="emarketplaces" type="checkbox" name="related[]" value="7_45">Emarketplaces</label>
        <label class="form-label form-label--checkgroup u-pdb--third"><input class="form-checkbox" id="fdeals" type="checkbox" name="related[]" value="7_46">Flash Deals <small><em>(Venta flash)</em></small></label>
        <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="minonline" type="checkbox" name="related[]" value="7_47">Minoristas online <small><em>(Venta online y compra con envío único a su almacén, logística o FBA)</em></small></label>
  



        </div>


         <div class="modularGrid-module  u-md-50 u-pd">
           
       



   
    <h3 class="form-fieldset-title">Canal de venta offline</h3>
    <div class="modularGrid-module u-pdh--half">

        <div data-jsrelated="container">
            <label class="form-label form-label--checkgroup related-label"><input class="form-checkbox related-checkbox" id="related2" data-jsrelated="checkbox" type="checkbox" name="related[]" value="7_48">Almacenistas y distribuidores</label>

            <div class="u-pdl u-flwrap u-flex-start">
                <label class="form-label form-label--checkgroup"><input class="form-checkbox related-checkbox" id="related2" data-jsrelated="checkbox" type="checkbox" name="related[]" value="7_48">Almacenistas y distribuidores</label>        
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related21" type="checkbox" name="related[]" value="7_49">Almacenistas y gran distribución</label>      
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related22" type="checkbox" name="related[]" value="7_50">Venta directa</label>
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related23" type="checkbox" name="related[]" value="7_51">Regalo promocional</label>
                <label class="form-label form-label--checkgroup"><input class="form-checkbox" id="related24" type="checkbox" name="related[]" value="7_52">Catálogo de puntos y fidelización</label>
            </div>  
        </div>

        <label class="form-label form-label--checkgroup u-pdb--third"><input class="form-checkbox" id="tradicional" type="checkbox" name="related[]" value="7_53">Comercio tradicional</label>
        <label class="form-label form-label--checkgroup u-pdb--third"><input class="form-checkbox" id="tiendas" type="checkbox" name="related[]" value="7_54">Cadena de tiendas</label>
        <label class="form-label form-label--checkgroup u-pdb--third"><input class="form-checkbox" id="mayor" type="checkbox" name="related[]" value="7_55">Compras esporádicas al por mayor</label>
        <label class="form-label form-label--checkgroup u-pdb--third"><input class="form-checkbox form-checkbox--inline" id="puntual" type="checkbox" name="related[]" value="7_56">Ninguno, me interesa hacer una compra puntual </label>
    </div>




        </div> 


</div>
