<div class="modularGrid-module sequential u-md-50">
    <h3 class="form-fieldset-title ">¿Es usted comprador habitual de artículos similares a los de Bigbuy?</h3>

        <label title=" Sí he comprado a otros proveedores" for="seller_15" class="form-label form-label--checkgroup u-pd--half"> <input type="radio" data-js-gadget="seller" class="form-radio" name="seller" id="seller_15" value="2_15">Sí, ya he comprado a otros proveedores</label>
         <label title="No, es la primera vez" for="seller_16" class="form-label form-label--checkgroup u-pd--half u-pdt0"><input type="radio" data-js-gadget="seller" class="form-radio" name="seller" id="seller_16" value="2_16">No, es la primera vez</label>

</div>

