<div class="modularGrid">
  <div class="modularGrid-module u-pd u-md-50 ">
    <h4 data-js-popuplauncher="../../static/popups/popup_info_nopack.html" class="mobileText-subtitle ">
    <img  class="icon u-vm icon--xs" src="../../img/mobileIcons/alert.svg"> San Pascual, 63</h4>
    <div class="modularGrid u-pdb">
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Tipo dirección:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Particular  </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>NIF/CIF/VAT:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> ES24379919B </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Razón social:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Nombre:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Dirección:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> San Pascual, 63 </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Código postal:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> 46960 </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>País:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> España </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Provincia:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> VALENCIA / VALÉNCIA </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Localidad:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> Valencia </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Teléfono:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> +34 692041818 / +34 </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Recargo equivalencia:</strong> </div>
      <div class="modularGrid-module u-xs-50 u-pdt--half"> No </div>
    </div>
  </div>
</div>
