<form class="form">
    <div class="modularGrid">
        <div class="modularGrid-module u-pd">
            <h3 class="form-fieldset-title">Información adicional</h3>
            <label class="form-label u-mgv--half">
                Indíquenos el máximo de información posible sobre usted, su empresa o su proyecto. En función de lo que nos cuente, podremos activarle unas condiciones u otras:
            </label>
            <textarea maxlength="750" class="form-textarea u-pdt--half u-pdb" name="comments"></textarea>
        </div>
       {{!--  {{>accountFieldset2}} --}}
        {{>accountFieldset3 panelSection.mobileBackAccount}}
      {{!--   {{>accountFieldset4 panelSection.mobileBackAccount}}
        {{>accountFieldset5}} --}}
        <div class="modularGrid-module  u-md-50 u-pd">
            <h3 class="form-fieldset-title">¿Dispone de tienda online?</h3>
            <div class="u-flex--center u-pdt--half u-pdh--half">
                <input class="form-radio form-radio--inline" name="pack[]" value="5_32" id="siteok" data-check="input" type="radio" data-js-otros="pack">
                <label class="form-label u-mgb--0 u-pdr" for="siteok">Sí</label>
                <input class="form-input u-mgb--0 u-xxs-75 u-sm-80 u-lg-40" placeholder="http://www.mydomain.com" tabindex="-1" name="pack_otros" data-check="elem" type="text" value="" data-js-gadget-otros="pack">
            </div>
            <div class="u-flex--center u-pdt--half u-pdh--half u-mgb--half">
                <input class="form-radio form-radio--inline" name="pack[]" value="5_34" id="siteko" type="radio" checked="">
                <label class="form-label u-mgb--0" for="siteko">No</label>
            </div>
            <div class="u-flex--center u-pdt--half u-pdh--half">
                <input class="form-radio form-radio--inline" name="pack[]" value="5_33" id="sitecons" type="radio">
                <label class="form-label u-mgb--0" for="sitecons">En construcción</label>
            </div>

        </div>
        <div class="modularGrid-module u-md-50 u-pd">
            <h3 class="form-fieldset-title">En el caso de que necesitáramos contactar con usted para darle un servicio más personalizado, ¿cómo prefiere que lo hagamos?</h3>
            <div class="u-flex--center u-pdt--half u-pdh--half">
                <input class="form-radio form-radio--inline" name="contactuser[]" value="8_57" id="contactphone" data-check="input" type="radio">
                 <label class="form-label u-mgb--0 u-pdr--half" for="contactphone">Teléfono</label>
                 <select name="contactuser[]" class="form-select form-select--inline" tabindex="-1" data-check="elem">
                                <option value="0" hidden="">Seleccione franja horaria</option>
                                <option value="8_60">Mañana: 8h - 13h (UTC+1)</option>
                                <option value="8_61">Mediodía: 13h - 15h (UTC+1)</option>
                                <option value="8_62">Tarde: 15h - 18h (UTC+1)</option>
                                <option value="8_63">Indiferente (UTC+1)</option>
                            </select>
            </div>
            <div class="u-flex--center u-pdt--half u-pdh--half u-mgb--half">
              <input class="form-radio form-radio--inline" name="contactuser[]" value="8_58" id="contactmail" type="radio">
              <label class="form-label u-mgb--0 u-pdr--half" for="contactmail">Email</label>
            </div>
           
             <div class="u-flex--center  u-pdh--half">
             <input class="form-radio form-radio--inline" name="contactuser[]" value="8_59" id="contactboth" data-check="input" type="radio">
                            <label class="form-label u-mgb--0 u-pdr--half" for="contactboth">
                                Ambos                            </label>
                            <select name="contactuser[]" class="form-select form-select--inline" tabindex="-1" data-check="elem">
                                <option value="0" hidden="">Seleccione franja horaria</option>
                                <option value="8_64">Mañana: 8h - 13h (UTC+1)</option>
                                <option value="8_65">Mediodía: 13h - 15h (UTC+1)</option>
                                <option value="8_66">Tarde: 15h - 18h (UTC+1)</option>
                                <option value="8_67">Indiferente (UTC+1)</option>
                            </select>
                            </div>

        </div>
           
                <div class="modularGrid-module u-pdh u-pdb ">
                    <button  class="button button--compressed button--primary">Guardar datos</button>
                </div>
            
        </div>
    </div>
</form>

