<figure class="mediaObject{{#each classes}} {{this}} {{/each}}">
<div class="mediaObject-imgContainer">
<img class="img mediaObject-svgImg u-op-80" src="../../img/{{img}}.svg">
</div>
<figcaption class="mediaObject-figcaption">
<h2 class="subtitle4 u-mgb--half">{{{title}}}</h2>
<p class="mediaObject-text">{{{text}}}</p>
</figcaption>
</figure>

