{{#if mobile}}
<h4 class="mobileCMS-sectionTitle u-pdb--half">Ventajas exclusivas de nuestros packs</h4>
{{else}}
<h2 class="supertitle1 u-block u-pdv2  u-mgt2 u-mgb u-tac">Ventajas exclusivas de nuestros packs</h2>
{{/if}}
{{#each list}}
{{>packsFeaturedItem}}
{{/each}}

