<div class="paypalBanner">
    <div class="paypalBanner-textsContainer">
        <h5 class="paypalBanner-pretitle">ESTE MES PROMOCIÓN ESPECIAL <img class="paypalBanner-logo" src="../../img/banners/pp_h_rgb.svg"></h5>
        <h4 class="paypalBanner-title">¡REGALO DE POWER BANK 4.000 mAh!</h4>
        <span class="paypalBanner-subtitle"> *PROMOCIÓN VÁLIDA PARA <strong class="business">PACK BUSINESS</strong> O <strong class="premium">PACK PREMIUM</strong></span>
    </div>
    <div class="paypalBanner-imgCont">
        <img class="paypalBanner-img" src="../../img/banners/paypal_powerbank.png">
    </div>
</div>
