<section class="pricePanel pricePanel--big  pricePanel--premium">
 <div class="pricePanel-header">
        {{>svgIcon size='md' type='pack' class='pricePanel-icon'}}
        <h4 class="pricePanel-name">Pack Premium</h4>
    </div>
    <label class="form-label"><!--#@-->Cuota de alta 99€ <!--#@--></label>
    <div class="pricePanel-radiogroup">
        <input class="form-radio" id="mensual3" type="radio" name="quote2">
        <label class="form-label" for="mensual3">59€ mensual</label>
        <input class="form-radio" id="semestral3" type="radio" name="quote2">
        <label class="form-label" for="semestral3"> 295€ semestral (ahorro 1 mes)</label>
        <input class="form-radio" id="anual3" type="radio" name="quote2">
        <label class="form-label" for="anual3" > 531€ anual (ahorro 3 meses)</label>
    </div>
   <div class="pricePanel-sectionbtn">
        <button class="button button--primary button--big "><!--#@-->Activar pack<!--#@--></button>
    </div>
</section>