<h3 class="ventaCMS-itemTitle u-pd u-tac u-mg ">Active el pack mayorista que mejor se ajuste a su negocio</h3>
<div class="pricePanel-container">
{{>priceBigPanel1}}
{{>priceBigPanel2}}
{{>priceBigPanel3}}
{{>priceBigPanel4}}
</div>