        <div class="modularGrid">
            <div class="modularGrid-module u-md-45">
                <strong>Tipo:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                Autónomo</div>
            <div class="modularGrid-module u-md-45">
                <strong>NIF/CIF/VAT:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                E85956209</div>
            <div class="modularGrid-module u-md-45">
                <strong>Empresa:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                Pruebas</div>
            <div class="modularGrid-module u-md-45">
                <strong>Nombre comercial:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                Autonomo</div>
            <div class="modularGrid-module u-md-45">
                <strong>País:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                España</div>
            <div class="modularGrid-module u-md-45">
                <strong>Teléfono de empresa:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                +34 963654987
            </div>
            <div class="modularGrid-module u-md-45">
                <strong>Dirección:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                C/ De pruebas 3456</div>
            <div class="modularGrid-module u-md-45">
                <strong>Provincia:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                VALENCIA / VALÉNCIA</div>
            <div class="modularGrid-module u-md-45">
                <strong>Población:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                Valencia</div>
            <div class="modularGrid-module u-md-45">
                <strong>Código postal:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                46005</div>
            <div class="modularGrid-module u-md-45">
                <strong>RCEQ:</strong>
            </div>
            <div class="modularGrid-module   u-md-55">
                Sí
            </div>
        </div>

