<div class="modularGrid">
    <div class="modularGrid-module u-md-30 u-pdr u-mgr u-brdr">
        <div class="modularGrid">
            <div class="modularGrid-module u-md-40">
                <strong>Tipo:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                Autónomo
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>NIF/CIF/VAT:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                E85956209
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Razón Social:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                Bigbuy Bigbuy
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Nombre comercial:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                All4
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>País:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                España
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Teléfono de empresa:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                900 123 456 789
            </div>            
        </div>
    </div>
    <div class="modularGrid-module u-md-30">
        <div class="modularGrid">
            <div class="modularGrid-module u-md-40">
                <strong>Dirección:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                C/ Flora y Tristán, 32 - Valencia
            </div>

            <div class="modularGrid-module u-md-40">
                <strong>Provincia:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                Valencia
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Población:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                Aldaya
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Código postal:</strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                46001
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>RCEQ: <i class="icon icon-sort fa fa-info-circle"></i></strong>
            </div>
            <div class="modularGrid-module   u-md-60">
                Sí
            </div>
        </div>
    </div>
</div>
