<!-- expressCart Row -->
<tr class="table-tr" data-js-back="row">
    <td class="table-th table-item table-item--handler"  data-js-checkActions="elem"><input type="checkbox" class="form-checkbox u-locked-evts"><i class="icon icon-sort fa fa-pencil fa-fw"></i></td>
    <td class="table-item">Roberto Lucha Sedeño </td>
    <td class="table-item ">All4Business</td>
    <td class="table-item ">B52465879</td>
    <td class="table-item">C/ Flora y Tristán, 32 - Valencia, 46001 - España </td>
    <td class="table-item">No</td>
    <td class="table-item">Envío</td>
    <td class="table-item ">96 354 85 78</td>
</tr>
