<ul class="mobileLanglist">
<li class="mobileLanglist-item">
<input id="es" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Español" for="es" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/es.svg"></figure> Español</label>
</li>
<li class="mobileLanglist-item">
<input id="en" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="English" for="en" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/en.svg"></figure> English</label>
</li>
<li class="mobileLanglist-item">
<input id="fr" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Français" for="fr" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/fr.svg"></figure> Français</label>
</li>
<li class="mobileLanglist-item">
<input id="pt" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Português" for="pt" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/pt.svg"></figure> Português</label>
</li>
<li class="mobileLanglist-item">
<input id="ro" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Română" for="ro" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/ro.svg"></figure> Română</label>
</li>
<li class="mobileLanglist-item">
<input id="it" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Italiano" for="it" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/it.svg"></figure> Italiano</label>
</li>
<li class="mobileLanglist-item">
<input id="hu" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Magyar" for="hu" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/hu.svg"></figure> Magyar</label>
</li>
<li class="mobileLanglist-item">
<input id="lt" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Lietuvių" for="lt" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/lt.svg"></figure> Lietuvių</label>
</li>
<li class="mobileLanglist-item">
<input id="si" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Slovenščina" for="si" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/si.svg"></figure> Slovenščina</label>
</li>
<li class="mobileLanglist-item">
<input id="bg" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="български" for="bg" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/bg.svg"></figure> български</label>
</li>
<li class="mobileLanglist-item">
<input id="dk" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Dansk" for="dk" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/dk.svg"></figure> Dansk</label>
</li>
<li class="mobileLanglist-item">
<input id="fi" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Suomi" for="fi" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/fi.svg"></figure> Suomi</label>
</li>
<li class="mobileLanglist-item">
<input id="sk" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Slovenčina" for="sk" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/sk.svg"></figure> Slovenčina</label>
</li>
<li class="mobileLanglist-item">
<input id="hr" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Hrvatski" for="hr" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/hr.svg"></figure> Hrvatski</label>
</li>
<li class="mobileLanglist-item">
<input id="lv" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Latviešu" for="lv" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/lv.svg"></figure> Latviešu</label>
</li>
<li class="mobileLanglist-item">
<input id="pl" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Polski" for="pl" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/pl.svg"></figure> Polski</label>
</li>
<li class="mobileLanglist-item">
<input id="ee" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Eesti" for="ee" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/ee.svg"></figure> Eesti</label>
</li>
<li class="mobileLanglist-item">
<input id="ru" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="русский" for="ru" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/ru.svg"></figure> русский</label>
</li>
<li class="mobileLanglist-item">
<input id="cz" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="čeština" for="cz" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/cz.svg"></figure> čeština</label>
</li>
<li class="mobileLanglist-item">
<input id="gr" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="ελληνικά" for="gr" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/gr.svg"></figure> ελληνικά</label>
</li>
<li class="mobileLanglist-item">
<input id="de" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Deutsch" for="de" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/de.svg"></figure> Deutsch</label>
</li>
<li class="mobileLanglist-item">
<input id="se" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Svenska" for="se" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/se.svg"></figure> Svenska</label>
</li>
<li class="mobileLanglist-item">
<input id="nl" class="form-checkbox mobileLanglist-checkbox" type="checkbox" />
<label title="Nederlands" for="nl" class="mobileLanglist-label">
<figure class="mobileLanglist-figure"><img class="icon mobileLanglist-icon" src="../../img/icons/nl.svg"></figure> Nederlands</label>
</li>
</ul>

