<form class="form">
    <fieldset class="form-fieldset--borderless">
        <h3 class="form-fieldset-title">Datos de usuario</h3>
        <div class="modularGrid">
            <div class="modularGrid-module u-md-40 u-pdb u-pdt--half">
                <input type="radio" placeholder="" class="form-radio form-input--inline u-fll" name="type_customer" id="tc_particular" value="1" checked="checked">
                <label class="form-label form-label--inline form-label--fSize" for="tc_particular">Envío a la misma dirección de facturación</label>
            </div>
            <div class="modularGrid-module u-md-25 u-pdb">
                <input type="radio" placeholder="" class="form-radio form-input--inline u-fll" name="type_customer" id="tc_autonomo" value="2">
                <label class="form-label form-label--inline form-label--fSize" for="tc_autonomo">Envío a otra dirección</label>
            </div>
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb u-pdt--half">
                    <button class="button  button--primary button--big">Continuar</button>
                </div>
            </div><!-- grid -->
            <div class="modularGrid u-pdt u-brt">
                <div class="modularGrid-module u-md-50 u-pdb">
                    <select type="text" class="form-select">
                        <option value="11199" selected="selected">292511466, Servicios Empresariales, Person Contact, C/ Nueva Calle 23, Contact 25005 Lleida LLEIDA Alemania</option>
                        <option value="11136">458.302.130, Mourou Jeffrey, 57 Rue saint Fargeau B-32, Jeffrey 75020 Berlín PALMAS, LAS España</option>
                        <option value="10965">20123456C, Empresa VAT invalido, C/ De pruebas 3456, VAT invalido 46008 Valencia VALENCIA / VALÉNCIA Francia</option>
                    </select>
                </div>
                <div class="modularGrid">
                    <div class="modularGrid-module u-pdb">
                        <button class="button button--big">Nueva dirección</button>
                    </div>
                </div><!-- grid -->
                <div class="modularGrid-module">
                    <div class="modularGrid">
                        <div class="modularGrid-module u-pdb">
                <div class="modularGrid">
                    <div class="modularGrid-module u-md-50">
                        <div class="modularGrid">
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Tipo de Cliente:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> Particular  </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>NIF/CIF/VAT:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> ES24379919B </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Nombre:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Empresa:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> Salvador Esteve Gómez </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Dirección:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> San Pascual, 63, 46960 </div>

                        </div>
                    </div>
                    <div class="modularGrid-module u-md-50 u-pdb">
                        <div class="modularGrid">
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>País:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> España </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Provincia:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> VALENCIA / VALÉNCIA </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Localidad:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> Valencia </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Teléfono:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> +34 692041818 / +34 </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Recargo equivalencia:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> No </div>
                        </div><!-- grid -->
                    </div>
                </div><!-- grid -->
            </div>
                        <fieldset class="form-fieldset form-fieldset--borderless">
                            <div class="modularGrid  paddingHack">
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="company" class="form-label">
                                        Empresa
                                        <em class="form-label--optional">Opcional</em>
                                    </label>
                                    <input type="text" disabled="" class="form-input" name="company" maxlength="36" value="">
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="text" disabled="" class="form-input" name="name" maxlength="12" value="">
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="surnames" class="form-label">Apellidos</label>
                                    <input type="text" disabled="" class="form-input" name="surnames" maxlength="24" value="">
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="country" class="form-label">País</label>
                                    <select disabled="" class="form-select" name="country">
                                        <option value="">Elija un país</option>
                                        <option value="1">Alemania</option>
                                        <option value="40">Andorra</option>
                                        <option value="41">Angola</option>
                                        <option value="188">Arabia Saudita</option>
                                        <option value="38">Argelia</option>
                                        <option value="44">Argentina</option>
                                        <option value="45">Armenia</option>
                                        <option value="46">Aruba</option>
                                        <option value="24">Australia</option>
                                        <option value="2">Austria</option>
                                        <option value="47">Azerbaiyán</option>
                                        <option value="48">Bahamas</option>
                                        <option value="49">Bahrein</option>
                                        <option value="51">Barbados</option>
                                        <option value="52">Belarús</option>
                                        <option value="3">Bélgica</option>
                                        <option value="53">Belice</option>
                                        <option value="55">Bermudas</option>
                                        <option value="34">Bolivia</option>
                                        <option value="58">Brasil</option>
                                        <option value="236">Bulgaria</option>
                                        <option value="65">Cabo Verde</option>
                                        <option value="237">Caimán, Islas</option>
                                        <option value="64">Camerún</option>
                                        <option value="4">Canadá</option>
                                        <option value="68">Chile</option>
                                        <option value="5">China</option>
                                        <option value="76">Chipre</option>
                                        <option value="69">Colombia</option>
                                        <option value="28">Corea del Sur</option>
                                        <option value="73">Costa Rica</option>
                                        <option value="74">Croacia</option>
                                        <option value="20">Dinamarca</option>
                                        <option value="81">Ecuador</option>
                                        <option value="21">EE.UU.</option>
                                        <option value="82">Egipto</option>
                                        <option value="83">El Salvador</option>
                                        <option value="217">Emiratos árabes Unidos</option>
                                        <option value="37">Eslovaquia</option>
                                        <option value="193">Eslovenia</option>
                                        <option value="6">España</option>
                                        <option value="86">Estonia</option>
                                        <option value="172">Filipinas</option>
                                        <option value="7">Finlandia</option>
                                        <option value="8">Francia</option>
                                        <option value="93">Georgia</option>
                                        <option value="94">Ghana</option>
                                        <option value="9">Grecia</option>
                                        <option value="96">Groenlandia</option>
                                        <option value="100">Guatemala</option>
                                        <option value="102">Guinea</option>
                                        <option value="108">Honduras</option>
                                        <option value="22">Hong Kong</option>
                                        <option value="143">Hungría</option>
                                        <option value="110">India</option>
                                        <option value="26">Irlanda</option>
                                        <option value="29">Israel</option>
                                        <option value="10">Italia</option>
                                        <option value="11">Japón</option>
                                        <option value="117">Jordania</option>
                                        <option value="118">Kazajstán</option>
                                        <option value="122">Kuwait</option>
                                        <option value="125">Letonia</option>
                                        <option value="126">Líbano</option>
                                        <option value="131">Lituania</option>
                                        <option value="12">Luxemburgo</option>
                                        <option value="132">Macao</option>
                                        <option value="136">Malasia</option>
                                        <option value="139">Malta</option>
                                        <option value="152">Marruecos</option>
                                        <option value="145">México</option>
                                        <option value="147">Moldavia</option>
                                        <option value="159">Nicaragua</option>
                                        <option value="31">Nigeria</option>
                                        <option value="23">Noruega</option>
                                        <option value="27">Nueva Zelanda</option>
                                        <option value="13">Países Bajos</option>
                                        <option value="168">Panamá</option>
                                        <option value="170">Paraguay</option>
                                        <option value="171">Perú</option>
                                        <option value="14">Polonia</option>
                                        <option value="15">Portugal</option>
                                        <option value="174">Puerto Rico</option>
                                        <option value="175">Qatar</option>
                                        <option value="17">Reino Unido</option>
                                        <option value="16">República Checa</option>
                                        <option value="79">República Dominicana</option>
                                        <option value="36">Rumania</option>
                                        <option value="177">Rusia, Federación de</option>
                                        <option value="189">Senegal</option>
                                        <option value="190">Serbia</option>
                                        <option value="191">Seychelles</option>
                                        <option value="25">Singapur</option>
                                        <option value="197">Sri Lanka</option>
                                        <option value="30">Sudáfrica</option>
                                        <option value="18">Suecia</option>
                                        <option value="19">Suiza</option>
                                        <option value="206">Tailandia</option>
                                        <option value="203">Taiwán</option>
                                        <option value="210">Túnez</option>
                                        <option value="211">Turquía</option>
                                        <option value="216">Ucrania</option>
                                        <option value="218">Uruguay</option>
                                        <option value="219">Uzbekistán</option>
                                        <option value="221">Venezuela</option>
                                    </select>
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="postcode" class="form-label">Código postal</label>
                                    <input type="text" disabled="" class="form-input" name="postcode" maxlength="10" value="">
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="state" class="form-label">
                                        Estado / Provincia
                                        <em class="form-label--optional">Opcional</em>
                                    </label>
                                    <select disabled="" class="form-select" name="state" style="">
                                        <option value="">Elija una provincia</option>
                                        <option value="314">ALBACETE</option>
                                        <option value="315">ALICANTE / ALACANT</option>
                                        <option value="316">ALMERÍA</option>
                                        <option value="313">ARABA / ÁLAVA</option>
                                        <option value="345">ASTURIAS</option>
                                        <option value="317">ÁVILA</option>
                                        <option value="318">BADAJOZ</option>
                                        <option value="319">BALEARS, ILLES</option>
                                        <option value="320">BARCELONA</option>
                                        <option value="360">BIZKAIA</option>
                                        <option value="321">BURGOS</option>
                                        <option value="322">CÁCERES</option>
                                        <option value="323">CÁDIZ</option>
                                        <option value="351">CANTABRIA</option>
                                        <option value="324">CASTELLÓN / CASTELLÓ</option>
                                        <option value="363">CEUTA</option>
                                        <option value="325">CIUDAD REAL</option>
                                        <option value="326">CÓRDOBA</option>
                                        <option value="327">CORUÑA, A</option>
                                        <option value="328">CUENCA</option>
                                        <option value="332">GIPUZKOA</option>
                                        <option value="329">GIRONA</option>
                                        <option value="330">GRANADA</option>
                                        <option value="331">GUADALAJARA</option>
                                        <option value="333">HUELVA</option>
                                        <option value="334">HUESCA</option>
                                        <option value="335">JAÉN</option>
                                        <option value="338">LA RIOJA</option>
                                        <option value="336">LEÓN</option>
                                        <option value="337">LLEIDA</option>
                                        <option value="339">LUGO</option>
                                        <option value="340">MADRID</option>
                                        <option value="341">MÁLAGA</option>
                                        <option value="364">MELILLA</option>
                                        <option value="342">MURCIA</option>
                                        <option value="343">NAVARRA</option>
                                        <option value="344">OURENSE</option>
                                        <option value="346">PALENCIA</option>
                                        <option value="347">PALMAS, LAS</option>
                                        <option value="348">PONTEVEDRA</option>
                                        <option value="349">SALAMANCA</option>
                                        <option value="350">SANTA CRUZ DE TENERIFE</option>
                                        <option value="352">SEGOVIA</option>
                                        <option value="353">SEVILLA</option>
                                        <option value="354">SORIA</option>
                                        <option value="355">TARRAGONA</option>
                                        <option value="356">TERUEL</option>
                                        <option value="357">TOLEDO</option>
                                        <option value="358">VALENCIA / VALÉNCIA</option>
                                        <option value="359">VALLADOLID</option>
                                        <option value="361">ZAMORA</option>
                                        <option value="362">ZARAGOZA</option>
                                    </select>
                                    <input type="text" style="display: none;" disabled="" class="form-input" name="state" maxlength="36">
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="city" class="form-label">Localidad</label>
                                    <input type="text" disabled="" class="form-input" name="city" maxlength="36" value="">
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <label for="address1" class="form-label">Dirección</label>
                                    <input type="text" disabled="" class="form-input" name="address1" maxlength="40">
                                </div>
                            </div>
                            <div class="modularGrid">
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <div class="modularGrid">
                                        <div class="modularGrid-module">
                                            <label class="form-label" for="phone">Teléfono o Móvil</label>
                                        </div>
                                        <div class="modularGrid-module u-xs-20  u-lg-15 u-xl-10 u-pdr--half">
                                            <input type="text" disabled="" class="form-input form-input-prefix" name="phone-prefix" maxlength="4"tabindex="140">
                                        </div>
                                        <div class="modularGrid-module u-xs-80 u-lg-85 u-xl-90">
                                            <input type="text" disabled="" class="form-input" name="phone" maxlength="12" data-js-validate="{&quot;empty&quot;:&quot;required&quot;, &quot;phone&quot;: &quot;warning&quot;}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modularGrid-module u-md-50 u-lg-3rd u-sm-pdr">
                                    <div class="modularGrid">
                                        <div class="modularGrid-module">
                                            <label class="form-label" for="phone_mobile">
                                                Otro Teléfono o Móvil
                                                <em class="form-label--optional">Opcional</em>
                                            </label>
                                        </div>
                                        <div class="modularGrid-module u-xs-20  u-lg-15 u-xl-10 u-pdr--half">
                                            <input type="text" disabled="" class="form-input form-input-prefix" name="phone-prefix" maxlength="4" tabindex="155">
                                        </div>
                                        <div class="modularGrid-module u-xs-80  u-lg-85 u-xl-90">
                                            <input type="text" disabled="" class="form-input" name="phone_mobile" maxlength="18">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modularGrid">
                                <div class="modularGrid-module">
                                    <label for="surnames" class="form-label">Email destinatario</label>
                                    <input type="text" disabled="" class="form-input" name="email" maxlength="70" value="">
                                </div>
                            </div>
                            <div class="modularGrid u-pdt--half">
                                <div class="modularGrid-module">
                                    <button class="button  button--primary button--big u-mgr--half">Continuar</button>
                                    <button class="button button--big button-backButton">Atrás</button>
                                </div>
                            </div>
                        </fieldset>
                    </div><!-- grid -->
                </div>
            </div><!-- grid -->
        </div>
    </fieldset>
</form>