<form class="form" data-js-shoppingcart-form="invoice">
    <fieldset class="form-fieldset--borderless">
        <div class="modularGrid">
            <div class="modularGrid-module u-pdb">
                <div class="modularGrid">
                    <div class="modularGrid-module u-md-50">
                        <div class="modularGrid">
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>NIF/CIF:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> AZ20123456C </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Nombre:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> Napoleón Tob Tinieblas Povedilla </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Razón social:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half">  </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Dirección:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> calle calle </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Código postal:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> AZ9999 </div>

                        </div>
                    </div>
                    <div class="modularGrid-module u-md-50 u-pdb">
                        <div class="modularGrid">
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>País</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> Azerbaiyán </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Provincia:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half">  </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Población:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> villabajo </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Teléfono:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> +994 123456789 </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> <strong>Recargo de equivalencia:</strong> </div>
                            <div class="modularGrid-module u-xs-50 u-pdt--half"> No </div>
                        </div><!-- grid -->
                    </div>
                </div><!-- grid -->
            </div>
            {{>stepsCartNextBtn}}
        </div><!-- grid -->
    </fieldset>
</form>
