<form class="form">
    <div class="modularGrid u-lg-80 u-xl-70">
        <div class="modularGrid-module u-md-brdl u-pd u-sm-flr u-sm-50 u-md-35 u-brb u-sm-brdb0">
            <h3 class="form-fieldset-title">Logo</h3>
            <div class="modularGrid">
                <div class="modularGrid-module u-xs-50 u-pdb">
                    <figure class="imgUser">
                        <img data-js-avatar="image" class="img--responsive" src="http://www.bigbuy.eu/public/avatar/943.jpg" alt="">
                    </figure>
                </div>
                <div class="modularGrid-module">
                    <button data-js-avatar="submit" class="button button--compressed">Subir imagen</button>
                    <button class="button button--tinyIcon"><img src="../../img/mobileIcons/info.svg" class="icon icon--sm">
                    </button>
                </div>
            </div>
        </div>
        <div class="modularGrid-module u-sm-50 u-md-65 u-pd u-sm-brdr u-md-brdr0">
            <h3 class="form-fieldset-title">Editar datos de usuario</h3>
            <div class="modularGrid">
                <div class="modularGrid-module u-md-80 u-md-pdr">
                    <label class="form-label"><strong>E-mail</strong>
                    </label>
                    <input type="text" disabled value="salva@bigbuy.eu" class="form-input ">
                </div>
                <div class="modularGrid-module u-md-20 u-md-pdt u-pdb">
                    <button class="button button--compressed">Editar</button>
                </div>
            </div>
            <div class="modularGrid">
                <div class="modularGrid-module u-md-80 u-md-pdr">
                    <label class="form-label"><strong>Contraseña</strong>
                    </label>
                    <input type="password" disabled value="salva@bigbuy.eu" class="form-input">
                </div>
                <div class="modularGrid-module u-md-20 u-md-pdt u-pdb">
                    <button class="button button--compressed">Editar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modularGrid  u-clb u-brt u-pdb--half">
        <div class="modularGrid-module u-pd u-md-55">
            <h3 class="form-fieldset-title">Envíos dropshipping:</h3>
            <div class="modularGrid">
                <div class="modularGrid-module ">
                    <label data-js-popuplauncher="../../static/popups/popup_info_nopack.html" class="form-label form-label--inline "><strong>Nombre de su empresa o web.</strong> <img src="../../img/mobileIcons/info.svg" class="icon icon--inline icon--xs" role="img">
                    </label>
                </div>
                <div class="modularGrid-module u-sm-75 u-pdr u-pdt--third">
                    <input type="text" maxlength="45" class="form-input">
                </div>
                <div class="modularGrid-module u-sm-25 u-pdt--6">
                    <button class="button  button--compressed">Añadir</button>
                </div>
            </div>
        </div>
    </div>
</form>