<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">

    <td class="responsiveTable-td u-tal">10004691</td>
    <td class="responsiveTable-td u-tal">29/08/2014</td>
    <td class="responsiveTable-td u-tal">03:44:17</td>
    <td class="responsiveTable-td u-tal">Retirada</td>
    <td class="responsiveTable-td u-tar">22,08 €  </td>
    <td class="responsiveTable-td u-tar">10.000,00 €</td>
    <td class="responsiveTable-td u-tar"> 9.977,92 €</td>

</tr>
