<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>walletTableHeader}}
        <tbody class="table-tbody table-tbody--stripped">
            {{>walletTableRow1}}
            {{>walletTableRow1}}
            {{>walletTableRow1}}
            {{>walletTableRow1}}
            {{>walletTableRow1}}
            {{>walletTableRow1}}
            </tbody>
    </table>
</div>