<thead class="table-thead ">
        <tr class="table-tr responsiveTable-tr">
                <th class="responsiveTable-th">

                                       <p> Nº pedido</p>

                        <input type="text" class="form-input ">
                </th>
                <th class="responsiveTable-th">


                                        <p>Fecha</p>


                        <input type="text" class="form-input ">
                </th>
                <th class="responsiveTable-th">


                                        <p>Hora</p>


                        <input type="text" class="form-input ">
                </th>
                <th class="responsiveTable-th">


                                       <p> Concepto</p>


                        <select class="form-select ">
                                <option>---</option>
                                <option>Ingreso</option>
                                <option>Retirada</option>
                        </select>
                </th>
                <th class="responsiveTable-th">


                                        <p>Importe</p>


                        <input type="text" class="form-input ">
                </th>
                <th class="responsiveTable-th">


                                        <p>Saldo anterior</p>


                        <input type="text" class="form-input ">
                </th>
                <th class="responsiveTable-th">


                                        <p>Saldo posterior</p>

                        <input type="text" class="form-input ">
                </th>
        </tr>
</thead>

