<div class="panel panel--active" data-js-panel-name="panel01" data-js-panel-state="active">
    <div class="panel-title">
    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
    <div class="panel-titleName"><a href="" class="panel-breadcrumbLink">Packs</a></div>
    </div>
    <div class="panel-content">
        <section class="panel-section">
            <div class="modularGrid">
                        <div class="modularGrid-module infoSection-item u-md-3rd">
                            <h3 class="infoSection-title">Pack Basic activo </h3>
                            <svg role="img" class="icon infoSection-icon infoSection-icon--active infoSection-icon--basic"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
                            <a href="#" class="infoSection-link">Válido hasta: 16/10/2015</a>
                             <a href="#" class="infoSection-link"><i class="icon form-info-icon fa-info-circle"></i> Cancelar pack</a>

                       </div>
                        <div class="modularGrid-module infoSection-item u-md-3rd">
                            <h3 class="infoSection-title">Comparativa de Packs</h3>
                            <svg role="img" class="icon infoSection-icon infoSection-icon--active"><use xlink:href="../../img/icons/svg-defs.svg#icon-packCompare"></use></svg>

                            <a href="#" class="infoSection-link"><b class="icon form-info-icon fa-plus-circle"></b> Información</a>
                           </div>
                          <div class="modularGrid-module infoSection-item u-md-3rd">
                                <h3 class="infoSection-title u-mgb">Migrar Pack</h3>
                                <svg role="img" class="icon infoSection-icon infoSection-icon--active infoSection-icon--basic"><use xlink:href="../../img/icons/svg-defs.svg#icon-packUpgrade"></use></svg>
                                <button class="button button--primary button--big u-elem-center" data-js-back="row">Migrar</button>
                           </div>
                       </div>
            </section>
            <section class="panel-section">




                <div class="modularGrid">
                    <div class="modularGrid-module u-md-50 u-pd box">
                        <img src="../../img/draw_sincroCSV.svg" class="img--responsive">
                    </div>
                    <div class="modularGrid-module u-md-50 u-pd box">
                        <img src="../../img/draw_sincroAuto.svg" class="img--responsive">
                    </div>
                </div>
            </section>
        </div>
    </div>

