<table class="table table--slim table--indented">
     <caption class="table-caption table-caption--header">
         <h3 class="table-title u-pdt--half u-pdb--half">Sincronización de stocks y artículos de BigBuy</h3>
    </caption>
    <thead class="table-thead">
         <tr class="table-tr">
            <th scope="row" class="table-item u-md-40"><p class="u-pd--half">Sin tienda dropshipping contratada</p></th>
            <th scope="row" class="table-item table-item--boolean u-vb" colspan="2"></th>
            <th scope="row"class="table-item table-item--boolean u-vb" colspan="2"></th>
            <th class="table-item table-item--boolean u-vb"></th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        <tr class="table-tr">
            <td scope="row" class="table-item">
                <p class="u-pdl--half u-pdr">Sincronización a cargo del cliente con CSV / XML por FTP</p>
            </td>
            <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
            <td class="table-item table-item--boolean ">No necesaria</td>
        </tr>
    </tbody>
</table>
<table class="table table--slim u-brt table--indented">
    <thead class="table-thead">
         <tr class="table-tr">
            <th scope="row" class="table-item u-md-40" >
                <p class="u-pd--half">Con tienda dropshipping contratada</p>
            </th>
            <th scope="row" class="table-item table-item--boolean u-vb" colspan="2"></th>
            <th scope="row"class="table-item table-item--boolean u-vb" colspan="2"></th>
            <th class="table-item table-item--boolean u-vb"></th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        <tr class="table-tr">
            <td scope="row" class="table-item"><p class="u-pdl--half">Sincronización automática desde servidores BigBuy</p>
            </td>
            <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i> </td>
            <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
            <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
        </tr>
        <tr class="table-tr">
            <td scope="row" class="table-item"><p class="u-pdl--half">Sincronización automática de pedidos a BigBuy</p></td>
            <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td scope="row" class="table-item table-item--boolean u-md-10"><i class="icon icon--xs fa-times-circle icon--error"></i></td>
            <td class="table-item table-item--boolean"><i class="icon icon--xs fa-check-circle icon--success"></i></td>
        </tr>
    </tbody>
</table>

