    <aside class="popup u-sm-90 u-lg-55 u-xl-50 animated fadeInDown " data-js-popup="popup">
        <header class="popup-header">
          
            <button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
               <svg role="img" class="icon icon--inline icon--xs">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
            </svg>
        </button>
    </header>
    <div class="modularGrid u-pdl--half u-pdr--half u-mgt2 u-mgb">
        <div class="modularGrid-module">
            

            <div class="modularGrid">
            <div class="modularGrid-module u-md-30 u-tac">
                <img src="https://192.168.1.211/bigbuy_e/public/img/draw_warning.svg" class="popup-img u-mgt">
            </div>
            <div class="modularGrid-module u-md-60 u-pdb u-pdl u-brdl ">
                <h1 class="popup-title">Seguimiento de stock</h1>
                <p class="u-mgb u-mgl">¿Está seguro que quiere dejar de seguir este stock?</p>
                
                <div class="modularGrid">
                                                        <div class="modularGrid-module u-md-60">
                        <button class="button button--primary button--big u-mgl u-mgt--half">Dejar de seguir</button>
                    </div>
                                                                            <div class="modularGrid-module u-md-40 u-pd--half">
                        <a data-js-prev="" class="form-action  form-action--inline"> <i class="icon fa fa-chevron-left"></i> Cancelar</a>
                    </div>
                                                    </div>
            </div>
        </div>

        </div>
    </div>
</aside>