<section class="imgBox imgBox--productSheet">
    <figure class="imgBox-figure">
        <a href="../../img/productbig1.jpg" title="{{>productName}}" data-js-image-id="34221" class="imgBox-imgCont">
            <img title="{{>productName}}" src="../../img/pantuflas-suaves-pies-con-sandalias-fashinalizer.jpg" class="imgBox-img" itemprop="image">
        </a>
    </figure>

    <nav class="imgBox-thumblist">
        <div class="imgBox-thumblistcont">

        <div data-js-imgboxcarousel="container" >
            <a href="../../img/productbig1.jpg" data-js-thumbimage-id="34221" data-lightbox="product_img" title="{{>productName}}" class="imgBox-thumb">
                <img src="../../img/product_small1.jpg" title="{{>productName}}" alt="{{>productName}}"class="imgBox-thumb-img">
            </a>
             <a href="../../img/productbig2.jpg" data-js-thumbimage-id="34221" data-lightbox="product_img" title="{{>productName}}" class="imgBox-thumb">
                <img src="../../img/product_small2.jpg" title="{{>productName}}" alt="{{>productName}}"class="imgBox-thumb-img">
            </a>
             <a href="../../img/productbig3.jpg" data-js-thumbimage-id="34221" data-lightbox="product_img" title="{{>productName}}" class="imgBox-thumb">
                <img src="../../img/product_small3.jpg" title="{{>productName}}" alt="{{>productName}}"class="imgBox-thumb-img">
            </a>
          <a href="../../img/productbig4.jpg" data-js-thumbimage-id="34221" data-lightbox="product_img" title="{{>productName}}" class="imgBox-thumb">
                <img src="../../img/product_small4.jpg" title="{{>productName}}" alt="{{>productName}}"class="imgBox-thumb-img">
            </a>
              {{!--  <a href="../../img/productbig5.jpg" data-js-thumbimage-id="34221" data-lightbox="product_img" title="{{>productName}}" class="imgBox-thumb">
                <img src="../../img/product_small1.jpg" title="{{>productName}}" alt="{{>productName}}"class="imgBox-thumb-img">
            </a> --}}

        </div>
        </div>
    <button class="imgBoxBtn imgBoxBtn--minus" data-js-imgboxcarousel="btnMinus" style="display: none;"></button>
    <button class="imgBoxBtn imgBoxBtn--plus" data-js-imgboxcarousel="btnPlus"></button>
    </nav>
    
</section>
