
	<div>
		<a href="#" class="minisocial-button  minisocial-button--fb" title="Facebook" alt="Facebook">Facebook</a>
		<a href="#" class="minisocial-button  minisocial-button--tw" title="Twitter" alt="Twitter">Twitter</a>
		<a href="#" class="minisocial-button  minisocial-button--ml" title="Mail" alt="Mail">Mail</a>
		<a href="#" class="minisocial-button  minisocial-button--pn" title="Pinterest" alt="Pinterest">Pinterest</a>
		<a href="#" class="minisocial-button  minisocial-button--gp" title="Google +" alt="Google +">Google +</a>
		<span class="minisocial-bubble bubble bubble-left">832</span>
	</div>
	<div>
		{{> rating1}}<span class="rating-title">11 opiniones</span>
	</div>

	<div>
		<a alt="Añade tu opinión" title="Añade tu opinión" class="rating-add form-action" data-js-add-comment-up="add-comment-up" href="#"><i class="icon minisocial-icon fa fa-comments"></i>Añade tu opinión</a>
	</div>




