<div class="productSheet-advantages">
    
        <div class="productSheet-advantagesItem">
            <svg role="img" class="icon icon--inline icon--sm u-mgt--half">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-badge" />
            </svg>
            <span class="productSheet-advantages-description">2 años<br> garantía</span>
        </div>
        <div class="productSheet-advantagesItem">
            <svg role="img" class="icon icon--inline icon--sm u-mgt--half">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-clock" />
            </svg>
            <span class="productSheet-advantages-description">Envío<br>24/48 h.</span>
        </div>
        <div class="productSheet-advantagesItem">
            <svg role="img" class="icon icon--inline icon--sm u-mgt--half">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-truck" />
            </svg>
            <span class="productSheet-advantages-description">Seguimiento<br> envío Tracking</span>
        </div>
    
</div>
