<article class="productDescription">

    <h2 class="productDescription-title">Especificaciones de Máquina para hacer Cupcakes &amp; Cake Pops Tristar SA1127</h2>
    <div class="productDescription-content cmsContent box">
        ¿Te gustaría preparar deliciosos e irresistibles <b>cake pops</b> y <b>cupcakes</b>? Con la&nbsp;<b>máquina para hacer cupcakes &amp; cake pops Tristar SA1127</b> ya es posible. Con solo un aparato deleitarás a toda la familia con tus creaciones haciendo sorprendentes pasteles con forma de chupachús para los más pequeños y deliciosas magdalenas.<br><br>Si quieres crear tu tienda online, puedes informarte acerca de la modalidad <a href="http://www.bigbuy.eu/es/tienda-dropshipping.html">dropshipping</a> de <a href="http://www.bigbuy.eu/es/">BigBuy</a>, así como beneficiarte de nuestros <a href="http://www.bigbuy.eu/es/b2b-venta-al-por-mayor.html">packs mayoristas</a>. ¡Y no olvides rellenar nuestro formulario para ser <a href="http://www.bigbuy.eu/es/account/create">distribuidor</a>! Esta <b>máquina para hacer cupcakes</b> incluye 24 palitos de aprox. 15 cm de longitud para los cake pops, 1 comprobador de cocción, 2 placas extraíbles para hacer 12 cake pops en total (diámetro del orificio aprox.: 3,5 cm) y 2 placas extraíbles para hacer 6 cupcakes en total (diámetro del orificio aprox.: 5 cm) aptas para el lavavajillas.<br><br>Características de la máquina para hacer cupcakes &amp; cake pops Tristar SA1127:<p></p>
        <ul><li>Medidas aprox.: 22 x 10 x 27,5 cm<br></li><li>Resistencia integrada</li>
            <li>Recubrimiento antiadherente</li>
            <li>Función de bloqueo</li>
            <li>Asa integrada</li>
            <li>2 luces piloto</li>
            <li>Compartimento para guardar el cable</li><li>
            Frecuencia: 50-60 Hz</li><li>
            Tensión: 220-240 V<br></li>
            <li>Potencia: 700 W</li><li>
            Pies antideslizantes</li>
            <li>Apagado automático cuando alcanza la temperatura deseada</li>
        </ul>



        <!--TAGS-->
        <ul class="tags tags--product">
            <li class="tags-item">
                <a href="http://www.bigbuy.eu/es/tag/view/fiesta" class="tags-link">fiesta</a>
            </li>
            <li class="tags-item">
                <a href="http://www.bigbuy.eu/es/tag/view/postres" class="tags-link">postres</a>
            </li>
        </ul>
    </div>

</article>