<div class="modularGrid-module u-xs-50 u-brdr u-brdr--extended">
	{{#unless nobrand}}
	<div class="tags-item tags-item--productSheetBrand ">
		<a href="#" class="tags-brandlink"><img src="../../img/brands/armani.svg" class="tags-brandimg" alt="Armani"></a></div>
		{{/unless}}
		<div class="productSheet-dimensions">
			<div class="productSheet-dimensionItem">
				<i class="icon productSheet-dimensionItem-icon icon-weight"></i>
				<p class="productSheet-dimensionDt">Peso (kg)<br>0,79</p>
			</div>
			<div class="productSheet-dimensionItem">
				<i class="icon productSheet-dimensionItem-icon icon-dimensions"></i>
				<p class="productSheet-dimensionDt">Medidas (cm)<br>27,0 x 25,5 x 13,5</p>
			</div>
			<div class="productSheet-dimensionItem">
				<i class="icon productSheet-dimensionItem-icon icon-box"></i>
				<p class="productSheet-dimensionDt">Caja (uds.)<br>0</p>
			</div>
			<div class="productSheet-dimensionItem">
				<i class="icon productSheet-dimensionItem-icon icon-pallet"></i>
				<p class="productSheet-dimensionDt">Pallet (uds.)<br>0</p>
			</div>
			<div class="productSheet-dimensionItem">
				<i class="icon productSheet-dimensionItem-icon icon-ft20"></i>
				<p class="productSheet-dimensionDt">20 ft (uds.)<br>0</p>
			</div>
			<div class="productSheet-dimensionItem">
				<i class="icon productSheet-dimensionItem-icon icon-ft40"></i>
				<p class="productSheet-dimensionDt">40 ft (uds.)<br>0</p>
			</div>

		</div>

		<nav class="tags-list tags-list--productSheet">
			<nav class="tags-list">
				<a href="#" class="tags-label tags-label--hot" for="tagsRange1">Hot Deals</a>

                <a href="#" class="tags-label tags-label--blackf" for="tagsRange1">Black Friday</a>

				<a href="#" class="tags-label" for="tagsRange1">a la moda</a>

				<a href="#" class="tags-label" for="tagsRange2">adelgazar</a>

				<a href="#" class="tags-label" for="tagsRange3">ahorro</a>

				<a href="#" class="tags-label" for="tagsRange4">aire libre / camping</a>

				<a href="#" class="tags-label" for="tagsRange5">amor / romántico</a>

				<a href="#" class="tags-label" for="tagsRange6">animales</a>

				<a href="#" class="tags-label" for="tagsRange7">bebidas</a>

				<a href="#" class="tags-label" for="tagsRange8">belleza</a>

				<a href="#" class="tags-label" for="tagsRange9">chef / cocinillas</a>

				<a href="#" class="tags-label" for="tagsRange10">cosmética natural</a>

				<a href="#" class="tags-label" for="tagsRange11">decoración</a>

				<a href="#" class="tags-label" for="tagsRange12">deportista / en forma</a>

				<a href="#" class="tags-label" for="tagsRange13">desayunar</a>

				<a href="#" class="tags-label" for="tagsRange14">ferretería</a>

				<a href="#" class="tags-label" for="tagsRange15">fiesta</a>

				<a href="#" class="tags-label" for="tagsRange16">gadget</a>

				<a href="#" class="tags-label" for="tagsRange17">invierno</a>

				<a href="#" class="tags-label" for="tagsRange18">led / iluminación</a>

				<a href="#" class="tags-label" for="tagsRange19">licencias</a>

				<a href="#" class="tags-label" for="tagsRange20">merchandising países</a>

				<a href="#" class="tags-label" for="tagsRange21">navidad</a>

				<a href="#" class="tags-label" for="tagsRange22">noche</a>

				<a href="#" class="tags-label" for="tagsRange23">outlet</a>

				<a href="#" class="tags-label" for="tagsRange24">Pascua</a>

				<a href="#" class="tags-label" for="tagsRange25">playa</a>

				<a href="#" class="tags-label" for="tagsRange26">postres</a>

				<a href="#" class="tags-label" for="tagsRange27">regalos hombre</a>

				<a href="#" class="tags-label" for="tagsRange28">regalos mujer</a>

				<a href="#" class="tags-label" for="tagsRange29">regalos niños</a>

				<a href="#" class="tags-label" for="tagsRange30">San Valentín</a>

				<a href="#" class="tags-label" for="tagsRange31">sexo</a>

				<a href="#" class="tags-label" for="tagsRange32">solar / ecológico</a>

				<a href="#" class="tags-label" for="tagsRange33">teletienda</a>

				<a href="#" class="tags-label" for="tagsRange34">venta directa</a>

				<a href="#" class="tags-label" for="tagsRange35">verano</a>

				<a href="#" class="tags-label" for="tagsRange36">viajar</a>

				<a href="#" class="tags-label" for="tagsRange37">vintage / retro</a>

				<a href="#" class="tags-label" for="tagsRange38">Vuelta al cole</a>

			</nav>

		</nav>
	</div>


