<div class="progressBar-cont u-pdb--half">

   <span class="progressBar-range progressBar-range--init">{{init}}</span>


   <div class="progressBar progressBar--collapsed "><span class="progressBar-meter u-xxs-{{percent}}" ></span></div>


   <div class="progressBar-range progressBar-range--end">{{end}}</div>


   <div class="progressBar-remainder" data-js-tooltip="tooltip3">{{text}} <b class="icon fa-info-circle"></b></div>

</div>