<div class="modularGrid">
    <div class="modularGrid-module u-xs-50">
        <form class="form ">
            <fieldset class="form-fieldset form-fieldset--sequential">
                <h3 class="form-fieldset-title">Newsletter</h3>

                <label class="form-label">¿Desea recibir nuestra Newsletter?</label >
                    <div class="modularGrid">
                        <div class="modularGrid-module u-pdt--third ">
                            <input type="radio" name="newsletter" class="form-radio" checked value="1">Sí
                            <input type="radio" name="newsletter" class="form-radio u-mgl--half" value="0">No
                        </div>
                        </div>

                        <label class="form-label  u-mgt ">Ha elegido como idioma para recibir newsletters:
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-es">
                                </use>
                            </svg> Español
                            <span class="form-info" data-js-tooltip="tooltipNews"><i class="icon icon-sort fa fa-info-circle"></i></span>
                        </label>
                        <button name="submit_newsletter" data-js-newsletter="submit" class="button button--big button--primary u-mgt" >
                           Guardar datos
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>