<div class="modularGrid">
    <div class="modularGrid-module ">
    <figure class="imgUser u-xs-40">
            <div class="imgUser-thumbnail">
                <img alt="" src="http://192.168.1.211/bigbuy_e/public/img/default-logo.png" class="imgUser-img">
            </div>
            <figcaption class="imgUser-caption imgUser-caption--fixed u-tac">Ponga aquí su logo
                <span class="form-info" data-js-tooltip="tooltip_avatar">
                    <i class="icon icon-sort fa fa-info-circle"></i>
                </span>


            </figcaption>
        </figure>
        <button data-js-avatar="submit" class="button button">
            {{>svgIcon type='pencil'}}
           
            Subir logo</button>

        </div>
        <div class="modularGrid-module u-pdb u-pdt">
            <p class="form-info">Tamaño máximo del fichero 20Kb.<br/>La imagen se escalará a un tamaño de 120px X 120px.</p>
        </div>
    </div>



