<section class="panel-section">
    <div class="modularGrid">
        <div class="modularGrid-module">
            <div class="panel-section-title">
                Información
            </div>
            <section class="modularGrid">
                <div class="modularGrid-module infoSection-item u-md-25">
                    <h3 class="infoSection-title">Pack Dropship activo</h3>
                    {{>svgIcon type='pack' class='icon--sm  icon--dropship u-elem-center '}}
                    <span class="pack pack--dropship pack--medium u-mgv--half u-iblock"><span class="u-op-70">PACK</span> DROPSHIP</span>
                  {{!--   <svg role="img" class="icon infoSection-icon infoSection-icon--active infoSection-icon--basic"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg> --}}
                    <a href="#" class="infoSection-link">Válido hasta: 16/10/2015</a>
                </div>
                <div class="modularGrid-module infoSection-item u-md-25">
                    <h3 class="infoSection-title">Comparativa de Packs</h3>
                    <svg role="img" class="icon infoSection-icon infoSection-icon--active"><use xlink:href="../../img/icons/svg-defs.svg#icon-packCompare"></use></svg>
                    <a href="#" class="infoSection-link">
                        <b class="icon form-info-icon fa-plus-circle"></b> Información</a>
                    </div>
                    <div class="modularGrid-module infoSection-item u-md-25">
                        <h3 class="infoSection-title">Migrar Pack</h3>
                        <svg role="img" class="icon infoSection-icon infoSection-icon--active infoSection-icon--premium"><use xlink:href="../../img/icons/svg-defs.svg#icon-packUpgrade"></use></svg>
                        <a href="#" class="infoSection-link">Migrar ahora</a>
                        <a href="#" class="infoSection-link u-mgt--half">Cancelar</a>
                    </div>
                    <div class="modularGrid-module infoSection-item u-md-25">
                        <h3 class="infoSection-title">Monedero</h3>
                        <svg role="img" class="icon infoSection-icon infoSection-icon--wallet"><use xlink:href="../../img/icons/svg-defs.svg#icon-wallet"></use></svg>
                        <a href="#" class="infoSection-link">998.601,34 €</a>
                    </div>
                </section>
            </div>
        </div>
    </section>