<form class="form ">
    <div class="modularGrid">
        <div class="modularGrid-module u-md-50 ">
            {{>  sector0 }}
            {{>  sector2 }}
            {{>  sector3 }}
        </div>
        <div class="modularGrid-module u-md-50 ">
            {{>  sector1 }}
         
        </div>
    </div>
    <div class="modularGrid">
        <div class="modularGrid-module u-pd ">
         <button data-js-validate-form="" class="button button--big button--primary ">Guardar datos</button>
        </div>
    </div>
</form>