<fieldset class="form-fieldset form-fieldset--sequential  ">
    <h3 class="form-fieldset-title">¿En qué servicios de BigBuy está interesado?</h3>
    <ul>
        <li> ·  B2B (Compra al mayor)</li>
        <li> · B2B &ndash;7Days (Bloqueo de Stocks)</li>
        <li> · B2B &ndash;2C (Dropshipping)</li>
        <li> · Import-Export</li>
        <li> · B2B &ndash;2C Shop (Tienda Dropshipping)</li>
    </ul>
</fieldset>
