<fieldset class="form-fieldset form-fieldset--sequential">
    <h3 class="form-fieldset-title ">¿Cuales son sus canales de venta?</h3>
    <ul>
        <li> · Venta al mayor</li>
        <li> · Tienda física</li>
        <li> · Venta Online / Internet</li>
        <li> · Promociones</li>
        <li> · Venta directa</li>
        <li> · Ambulante</li>
    </ul>
</fieldset>
