 <fieldset class="form-fieldset form-fieldset--sequential">
    <h3 class="form-fieldset-title">¿Qué pack Mayorista le interesa?</h3>
    <ul>
        <li> · Pack Basic</li>
        <li> · Pack Pro</li>
        <li> · Pack Business</li>
        <li> · Pack Premium</li>
        <li> · Ninguno, me interesa haceros una compra puntual (Pack welcome)</li>
    </ul>
</fieldset>
