 <fieldset class="form-fieldset form-fieldset--borderless u-pd">
        <h3 class="form-fieldset-title">¿Qué pack Mayorista le interesa? 
        <span class="form-info u-mgl--half" ><a href="http://www.bigbuy.eu/es/packs-mayoristas.html" target="_blank"><i class="icon fa-lg fa-info-circle"></i>Más info</a></span>
        </h3>
        <div data-js-fieldset-gadgets="pack" class="modularGrid form-radiogroup">
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="5_29" data-js-gadget="pack" name="pack" id="gadgets29" class="form-checkbox">
                <label title=" Pack Basic" for="gadgets29" class="form-label form-label--inline"> Pack Basic</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="5_30" data-js-gadget="pack" name="pack" id="gadgets30" class="form-checkbox">
                <label title=" Pack Pro" for="gadgets30" class="form-label form-label--inline"> Pack Pro</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="5_31" data-js-gadget="pack" name="pack" id="gadgets31" class="form-checkbox">
                <label title=" Pack Business" for="gadgets31" class="form-label form-label--inline"> Pack Business</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="5_32" data-js-gadget="pack" name="pack" id="gadgets32" class="form-checkbox">
                <label title=" Pack Premium" for="gadgets32" class="form-label form-label--inline"> Pack Premium</label>
            </div>
            <div class="modularGrid-module ">
                <input type="checkbox" value="5_33" data-js-gadget="pack" name="pack" id="gadgets33" class="form-checkbox">
                <label title="Ninguno, me interesa haceros una compra puntual (Pack welcome)" for="gadgets33" class="form-label form-label--inline">Sin pack, me interesa haceros una compra esporádica</label>
            </div>
        </div>

    </fieldset>
