@include utility(md-mgt) {
    margin-top: 0.5rem;
    @include addBreakpoint(lg) {
        margin-top: 0;
    }
}

@include addBreakpoint(xxs) {
    .u-order0 {
        order: 0;
    }
    .u-order1 {
        order: 1;
    }
    .u-order2 {
        order: 2;
    }
    .u-order3 {
        order: 3;
    }
    .u-order4 {
        order: 4;
    }
}

@include addBreakpoint(xl) {

    .u-xl-nopadding{
        padding: 0;
    }
    .u-xl-brdr{
        border-right: 1px solid #e5e5e5;

    }

}

@include addBreakpoint(xxl) {
    .u-xxl-pdh2 {
        padding-left: $um * 2;
        padding-right: $um * 2;
    }
}





.u-pdh {
    padding-left: $um !important;
    padding-right: $um !important;
}

.u-pdh2 {
    padding-left: $um * 2;
    padding-right: $um * 2;
}

.u-pdh--half {
    padding-left: $um / 2;
    padding-right: $um / 2;
}

.u-pdv {
    padding-top: $um;
    padding-bottom: $um;
}

.u-pdv2 {
    padding-top: $um*2;
    padding-bottom: $um*2;
}

.u-pdv0 {
    padding-top:0 !important;
    padding-bottom: 0 !important;
}
 
.u-pdv--half {
    padding-top: $um / 2;
    padding-bottom: $um / 2;
}

.u-mgh {
    margin-left: $um;
    margin-right: $um;
}
.u-brdl-minus1 {

//box-shadow 1px solid #e5e5e5 !important
@include addBreakpoint(sm) {
    box-shadow: -1px 0 #e5e5e5;
    
}


}
.u-h100{
    height: 100%;
}


/*.u-mgl-minus1{
    margin-left: -1px;
    padding-left: 1px;
}*/
.u-mgv {
    margin-top: $um;
    margin-bottom: $um;
}

.u-mgv--half {
    margin-top: $um / 2;
    margin-bottom: $um / 2;
}
.u-mgh--half {
    margin-left: $um / 2;
    margin-right: $um / 2;
}

.u-mgv2 {
    margin-top: $um * 2 !important;
    margin-bottom: $um * 2 !important;
}

.u-mgr--min {
    margin-right: $um / 6;
}

.u-mgl--min {
    margin-left: $um / 6;
}

.u-mgl--3 {
    margin-left: $um / 3;
}

.u-mgb--min {
    margin-bottom: $um / 6;
}

@include addBreakpoint(xxs) {
    .u-pdl {
        padding-left: $um;
    }
    .u-pdl--half {
        padding-left: $um / 2;
    }
    .u-mgl--zero {
        margin-left: 0;
    }
    .u-mgl {
        margin-left: $um;
    }
    .u-mgl--half {
        margin-left: $um / 2;
    }
    .u-mgb {
        margin-bottom: $um;
    }
    .u-mgb2 {
        margin-bottom: $um*2;
    }
    .u-mgb--0 {
        margin-bottom: 0;
    }
    .u-mgb--half {
        margin-bottom: $um / 2;
    }
    .u-pdr--half {
        padding-right: $um / 2;
    }
    .u-pdr2 {
        padding-right: $um * 2 !important;
    }
    .u-pd {
        padding: $um;
    }
    .u-pd2 {
        padding: $um * 2;
    }
    .u-pd--half {
        padding: $um / 2;
    }
    .u-mg {
        margin: $um;
    }
    .u-mg--half {
        margin: $um / 2;
    }
}

.u-mgb2 {
    margin-bottom: $um*2 !important;
}

.u-mgb--half {
    margin-bottom: $um / 2;
}

.u-pdr--half {
    padding-right: $um / 2;
}

.u-pd--half {
    padding: $um / 2 !important;
}

.u-upp {
    text-transform: uppercase;
}

.u-cap {
    text-transform: capitalize;
}

.u-camel {
    text-transform: none !important;
}

.u-brd--dark {
    border: 1px solid $color-shadow;
}

.u-pdl2 {
    padding-left: $um * 2;
}

.u-pei {
    pointer-events: initial;
}

.u-pen {
    pointer-events: none;
}

.u-pdl--half {
    padding-left: $um / 2;
}

.u-pdl--3rd {
    padding-left: $um / 3;
    width: auto;
}

.u-pdl0 {
    padding-left: 0;
}

.u-pdr {
    padding-right: $um !important;
}

.u-pdr1 {
    padding-right: 1rem !important;
}

.u-pdr2 {
    padding-right: $um * 2;
}

.u-pdt {
    padding-top: $um;
}

.u-pdt2 {
    padding-top: $um * 2;
}

.u-pdt1 {
    padding-top: $um / 1.5 !important;
}

.u-pdb {
    padding-bottom: $um  !important;

}

.u-pdb2 {
    padding-bottom: $um * 2;
}

.u-pdb15 {
    padding-bottom: $um * 1.5;
}

.u-pdb--half {
    padding-bottom: $um / 2 !important;
}

.u-pdb--third {
    padding-bottom: $um / 3 !important;
}

.u-pdb--none,
.u-pdb0 {
    padding-bottom: 0 !important;
}

.u-pdt--half {
    padding-top: $um / 2;
}

.u-pdt--third {
    padding-top: $um / 3;
}

.u-pdt--6 {
    padding-top: $um / 6;
}

.u-pdt--four {
    padding-top: 0.45rem;
}

.u-pdr--third {
    padding-right: $um / 3;
}

.u-txr {
    text-align: right;
}

.u-txl {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-mg-left {
    margin-left: $um;
}

.u-mgl1 {
    margin-left: 1rem;
}

.u-mgr1 {
    margin-right: 1rem !important;
}

.u-mgl--half {
    margin-left: $um / 2;
}

.u-mg-right {
    margin-right: $um;
}

.u-mgr {
    margin-right: $um;
}

.u-mgr--half {
    margin-right: $um / 2;
}

.u-mgr--3 {
    margin-right: $um / 3;
}

.u-mgb {
    margin-bottom: $um !important;
}

.u-mgb1 {
    margin-bottom: 1rem;
}

.u-mgb2r {
    margin-bottom: 2rem !important;
}

.u-mgb--0 {
    margin-bottom: 0 !important;
}

.u-pd-bottom {
    padding-bottom: $um;
}

.u-mg-bottom {
    margin-bottom: $um;
}

.u-mg-mid-top {
    margin-top: $um / 2;
}

.u-mg-mid-bottom {
    margin-bottom: $um / 2;
}

.u-mg-top {
    margin-top: $um;
}

.u-mgt--half {
    margin-top: $um / 2;
}

.u-mgt {
    margin-top: $um;
}

.u-mgt1 {
    margin-top: 1rem;
}

.u-mgt03 {
     margin-top: $um / 3;
}

.u-mgt--3rd {
    margin-top: $um / 3;
    width: auto;
}

.u-mgb--3rd {
    margin-bottom: $um / 3;
    width: auto;
}

.u-mgl--3rd {
    margin-left: $um / 3;
    width: auto;
}

.u-mgl2 {
    margin-left: $um * 2;
}

.u-mgl--6th {
    margin-left: $um / 6;
}

.u-mgt--6th {
    margin-top: $um / 6;
}

.u-mg-three-top {
    margin-top: $um * 1.5;
}

.u-mgb-minus1 {
    margin-bottom: -1rem;
}

.u-mgt-minus05 {
    margin-top: -0.5rem;
}

.u-mgt2 {
    margin-top: 2rem;
}

.u-mgt0 {
    margin-top: 0;
}

.u-fl-left {
    float: left;
}

.u-fll {
    float: left;
}

.u-fl-right {
    float: right;
}

.u-flr {
    float: right;
}

.u-cl-left {
    clear: left;
}

.u-clb {
    clear: both;
}

.u-tx-right {
    text-align: right;
}

.u-mg-right-0,
.u-mgr-0 {
    margin-right: 0 !important;
}

.u-ta-right {
    text-align: right;
}

.u-tar {
    text-align: right;
}

.u-tal {
    text-align: left !important;
}

.u-tac {
    text-align: center;
}

.u-hide {
    display: none !important;
}

.u-pd {
    padding: $um;
}

.u-pdt--2 {
    padding-top: $um*2;
}

.u-pdt--0, .u-pdt0  {
    padding-top: 0 !important;
}

.u-pd--0 {
    padding: 0;
}

.u-elem-pd {
    padding: $um / 2 $um $um / 1.5;
}

.u-elem-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.u-elem-left {
    display: block;
    margin-left: 0;
}

.u-pdr-0,  .u-pdr0 {
    padding-right: 0 !important;
}

.u-pdb-0 {
    padding-bottom: 0;
}

.u-block {
    display: block;
}

.u-iblock {
    display: inline-block;
}


.u-brdr {
    border-right: 1px solid #e5e5e5;
}
@include addBreakpoint(sm) {
    .u-brdr--extended{
       
        &:after {
        content:"";
        position: absolute; 
        right: -1px;
        bottom:-20rem;
        height: 20rem;
        width: 1px;
        background-color:#e5e5e5;
    }
}
}

.u-brdt {
    border-top: 1px solid #e5e5e5;
}

.u-brdl {
    border-left: 1px solid #e5e5e5 !important;
}

.u-brd {
    border: 1px solid #e5e5e5;
}

.u-brd0:not([data-js-activepack]) {
    border: none !important;
}

.u-brdb--none {
    border-bottom: none;
}

.u-brdt--none {
    border-top: none !important;
}

.u-brt {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.u-brt-w {
    border-top: 1px solid #ffffff;
}

.u-brt-d {
    border-top: 1px dashed $color-lightGrey-default;
}

.u-brb {
    border-bottom: 1px solid $color-shadow;
}

.u-brb-w {
    border-bottom: 1px solid #fff;
}

.u-brr-w {
    border-right: 1px solid #fff;
}

.u-brr-0 {
    border-right: 0px;
}

.u-brl-w {
    border-left: 1px solid #fff;
}

.u-outl {
    outline: 1px solid #e5e5e5;
}

.u-vm {
    vertical-align: middle !important;
}

.u-vt {
    vertical-align: top !important;
}

.u-vb {
    vertical-align: bottom !important;
}

.u-locked-evts {
    pointer-events: none;
}

.u-handCursor {
    cursor: pointer;
}

.u-helpCursor {
    cursor: help;
}

.u-val--txb {
    vertical-align: text-bottom;
}

.u-val--txt {
    vertical-align: text-top;
}

.u-val--txt {
    vertical-align: middle;
}

.u-fix {
    position: fixed;
}

.u-op-0 {
    opacity: 0;
}

.u-op-10 {
    opacity: 0.1;
}

.u-op-20 {
    opacity: 0.2;
}

.u-op-50 {
    opacity: 0.5;
}

.u-op-40 {
    opacity: 0.4;
}

.u-op-60 {
    opacity: 0.6;
}

.u-op-70 {
    opacity: 0.7;
}

.u-op-80 {
    opacity: 0.8;
}

@include addBreakpoint(xs) {
    .u-xs-pdt {
        padding-top: $um;
    }
}

@include addBreakpoint(sm) {
    .u-sm-flr {
        float: right;
    }
    .u-sm-pdr {
        padding-right: 1rem;
    }
    .u-sm-pdl {
        padding-left: $um !important;
    }
    .u-sm-pdl2 {
        padding-left: $um * 2;
    }
    .u-sm-pdr--half{
        padding-right: $um / 2;
    }
    .u-sm-pdl--half{
        padding-left: $um / 2;

    }
    .u-sm-pdt {
        padding-top: $um;
    }
    .u-sm-pdt0 {
        padding-top: 0;
    }
    .u-sm-pd {
        padding: 1rem;
    }
    .u-sm-brdt {
        border-top: 1px solid #e5e5e5;
    }
    .u-sm-brdl {
        border-left: 1px solid #e5e5e5;
    }
    .u-sm-brdr {
        border-right: 1px solid #e5e5e5;
    }
    .u-sm-brdt0 {
        border-top: none;
    }
    .u-sm-brdb0 {
        border-bottom: none;
    }
    .u-sm-inline {
        display: inline;
    }

}

@include addBreakpoint(md) {
    .u-md-pdr {
        padding-right: 1rem;
    }
    .u-md-pdt {
        padding-top: $um !important;
    }
    .u-md-pdl {
        padding-left: $um;
    }
    .u-md-brdt0 {
        border-top: none;
    }
    .u-md-brdr0 {
        border-right: none;
    }
    .u-md-brdb0 {
        border-bottom: none;
    }
    .u-md-brb {
        border-bottom: 1px solid #e5e5e5;
    }
    .u-md-brdl {
        border-left: 1px solid #e5e5e5;
    }
    .u-md-brdt {
        border-top: 1px solid #e5e5e5;
    }
    .u-md-brr-w {
        border-right: 1px solid #fff;
    }
    .u-md-ilb {
        display: inline-block;
    }
    .u-md-pdt--half {
        padding-top: $um / 2;
    }
     .u-md-pdt0 {
        padding-top: 0;
    }
    .u-md-order0 {
        order: 0;
    }
    .u-md-order1 {
        order: 1;
    }
    .u-md-order2 {
        order: 2;
    }
    .u-md-pd {
        padding: $um;
    }

    .u-md-pd2 {
        padding: $um * 2 !important;
    }
    .u-md-pdr--half {
        padding-right: $um / 2;
    }
    .u-md-pdl--half {
        padding-left: $um / 2;
    }
    .u-md-pdh2 {
        padding-left: $um * 2;
        padding-right: $um * 2;
    }
    .u-md-pdt2 {
        padding-top: $um * 2;
    }
    .u-md-mgr {
        margin-right: $um;
    }


    .u-md-mgl {
        margin-left: $um;
    }
    .u-md-mgb0{
        margin-bottom: 0 !important;
    }
}

@include addBreakpoint(lg) {
    .u-lg-pdr {
        padding-right: 1rem;
    }
    .u-lg-pdr1 {
        padding-right: $um;
    }
    .u-lg-pdl {
        padding-left: $um;
    }
    .u-lg-pdl2 {
        padding-left: $um * 2;
    }
    .u-lg-pdt {
        padding-top: $um;
    }
    .u-lg-pd {
        padding: $um;
    }
    .u-lg-order0 {
        order: 0;
    }
    .u-lg-order1 {
        order: 1;
    }
    .u-lg-order2 {
        order: 2;
    }
    .u-lg-wauto {
    width: auto;
    }
    .u-lg-nopadding{
        padding: 0;
    }
    .u-lg-pdv2{
         padding-top: $um * 2;
         padding-bottom: $um * 2;

    }
    .u-lg-mgt2{
        margin-top: $um * 2;
    }
}

.u-inline {
    display: inline;
}

.u-z1 {
    position: relative;
    z-index: 1;
}

.u-wsn {
    white-space: normal;
}

.u-wnowrap {
    white-space: nowrap;
}

.u-vh {
    min-height: 100vh;
}

.u-mw-100{
    min-width: 100%;
}

.u-h100 {
    height: 100%;
}

.nopadding {
    padding: 0 !important;
}

.noborder {
    border: none;
}

.u-yscroll {
    overflow-y: scroll;
}

.u-ofx {
    overflow-x: hidden;
}

.u-prel {
    position: relative;
}

.u-bx--0 {
    box-shadow: none;
}

.u-bxsh-l {
    box-shadow: -1px 0 $color-shadow;
}

.u-bb-color {
    color: $color-brandYellow-default;
}

.u-bb-bg--half {
    background-color: $color-brandYellow-lighter;
}

.u-bg--blue{
    background-color: $color-accentBlue-default;

}

.u-border-blue{
    border: 1px solid $color-accentBlue-default;

}

.u-bg--shadow {
    background-color: $color-shadow;
}

.u-bg--white {
    background-color: white;
}

.u-bg--half {
    background-color: rgba(0, 0, 0, 0.05);
}

.u-bg--light {
    background-color: $color-lightGrey-light;
}

.u-bg--lighter {
    background-color: $color-lightGrey-lighter;
}


[class*="sticky"]{
    position: sticky;
   
}

.sticky{
    top:0;
}

.sticky5{   
    top:5rem;
}
.sticky4{   
    top:4rem;
}

.sequential {
    background: none;
    border: none;
    box-shadow: 0 -1px $color-shadow;
    padding: 1.2rem;
    @include addBreakpoint(md) {
        &:nth-child(even) {
            box-shadow: 1px 0 #dedede inset;
            margin-left: -1px;
        }
        &:nth-child(odd) {
            box-shadow: -1px 0 #dedede inset;
        }
        &:nth-child(1n+3) {
            border-top: 1px solid #dedede;
            margin-top: -1px;
        }
    }
}

.bulletlist {
    list-style: disc inside;
}

.u-pdhalf {
    padding: $um / 2;
}

.u-pd3 {
    padding: $um / 3;
}

.u-bottom-external-shadow {
    &:after {
        content: "";
        width: 70%;
        height: $um * 2;
        display: block;
        background: radial-gradient( ellipse, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 50%);
        background-position: center;
        background-size: cover;
        margin: 1rem auto 0;
    }
}

.u-flex {
    display: flex !important;
}
.u-flex-grow1 {
    flex-grow: 1;
}
.u-flex--between {
    display: flex ;
    justify-content: space-between;
}
.u-flex--around{
    display: flex;
    justify-content: space-around;
}

.u-wrap{
    flex-wrap: wrap;
}

.u-flex-start {
    align-items: flex-start;
}
.u-flex-end{
    justify-content: flex-end ;     
}
.u-align-end{
    align-items:  flex-end;
}




.u-flwrap {
    display: flex;
    flex-wrap: wrap;
}

.u-flex--center {
    display: flex;
    align-items: center;
}

.u-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-col {
    display: flex;
    flex-direction: column;
}

.u-v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.u-v-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.u-v-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.u-brd-blue {
    border-color: $color-accentBlue-default !important;
}

.u-brd-darkblue {
    border-color: $color-accentBlue-dark;
}



.u-brd-red {

    border-color:$color-red-dark;
}

.currentcolor{
    color: currentcolor;
}

.border-radius3 {
    border-radius: 3px;
}

.border-radius4 {
    border-radius: 4px;
}

.line-height12 {
    line-height: 1.2;
}

.width-auto {
    width: auto;
}

.u-h225{
    min-height: 2.25em;
}
.u-invisible{
    visibility: hidden;
    pointer-events:none;
}

.sectiongrey {

    background-color: rgba(0, 0, 0, 0.1);
    
    padding: 1.5rem 1.5rem 1.6rem;
    opacity: 0.65;
    @include addBreakpoint(lg) {
        margin: 0 -1.5rem;
        
    }
}

.font-size1 {
    font-size: 1rem !important;
}
.font-size12 {
    font-size: 1.2rem !important;
}


.text-huge {
    font-size: 4.5rem;    
}
.text-light {
    font-weight: lighter;    
}
.text-normal {
    font-weight: normal;    
}
.font-normal{
    font-style:normal;
}



.textselect-none{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;


}

.max-width100{
    max-width: 100%;
}







