<fieldset class="actionGroup-panel" data-js-actiongroup="panel">
    <header class="actionGroup-header " data-js-actiongroup="header">
        <h2 class="actionGroup-title">Escoja uno o más idiomas para descargar sus archivos:</h2>

    </header>
    <section class="actionGroup-body" data-js-actiongroup="body" style="display:block;">
        {{> langlist }}
    </section>
    <footer class="actionGroup-footer u-brt">
        <button class="button button--primary button--big">Descargar</button>
    </footer>
</fieldset>

