<fieldset class="actionGroup-panel" data-js-actiongroup="panel">
    <header class="actionGroup-header" >
        <h2 class="actionGroup-title">Descargue los archivos seleccionados</h2>
        <span class="u-pdt--half u-vm">1 idioma disponible en su Pack:</span >

        <label class="form-label form-label--inline u-pdl--half" title="Español">
            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-es"/>
            </svg>Español</label>



<div class="u-brdt u-pdt--half u-mgt">
        23 idiomas disponibles para Packs:<a class="pack pack--business u-mgl--half">Business </a> <a class="pack pack--premium">Premium </a>
        </div>









    </header>
    <section class="actionGroup-body" data-js-actiongroup="body" style="display:block;">
        {{> langlistPro }}
    </section>
    <footer class="actionGroup-footer u-brt">
        <button class="button button--primary button--big">Descargar</button>
    </footer>
</fieldset>

