
<section class="panel-section">
<div>
  <div class="panel-section-title panelHeader-fixedPanelTitleBar">
    Seleccione los archivos que desee descargar
    <div class="pack-groupPacks u-mgl u-pdl">
      <span class="">1 idioma disponible en Pack </span>
      <a class="pack pack--pro">Pro </a>
      <span class=" u-mgl u-pdl">23 idiomas disponibles en Packs </span>
      <a class="pack pack--business">Business </a>
      <a class="pack pack--premium">Premium </a>
    </div>
  </div>
  <div data-js-checkactions="actions" class="actionGroup">
    {{> selectGroup}}
  </div>
  <div class="u-pd">
    <fieldset class="form-fieldset--borderless">
    <h3 class="form-fieldset-title" >CSV/XML Tarifa </h3>
     <div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
        <img src="../../img/draw_xml.svg" class="downloadElem-csvImg"/>
        <img src="../../img/draw_xml_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
        <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013 06:57</strong> XML de productos</p>
      </div>
      <div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
        <img src="../../img/draw_csv.svg" class="downloadElem-csvImg"/>
        <img src="../../img/draw_csv_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
        <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013 06:57</strong> CSV de productos general</p>
      </div>

      <div class="modularGrid-module u-pdb--half u-pdt--half">
        <strong class="form-fieldset-title ">Sincronización Prestashop</strong>
        <a data-js-download-popup="" class="notify-link u-mgl--half">
          <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-alert"></use></svg>
          Información importante    </a>


        </div>

        {{>panelDownloadsCSV}}
      </fieldset>

    </div>
  </section>
  <section class="panel-section">
    <div class="panel-section-title u-brdt">
      Manual de importación Prestashop
    </div>
    <div class="u-pd">
      <div class="downloadElem-button">
        <img src="../../img/draw_pdf.svg" class="downloadElem-csvImg"/>
        <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013 06:57</strong> Manual importación</p>
      </div>
{{!--  <div class="downloadElem-button">
<img src="../../img/draw_video.svg" class="downloadElem-videoImg"/>
<p class="downloadElem-text">Videotutorial de importación Prestashop</p>
</div> --}}

</div>
</section>

{{> languagesSelectListPro }}

