<div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
  <img src="../../img/draw_csv.svg" class="downloadElem-csvImg"/>
  <img src="../../img/draw_csv_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
  <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013 06:57</strong> CSV de productos</p>
</div>
<div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
  <img src="../../img/draw_csv.svg" class="downloadElem-csvImg"/>
  <img src="../../img/draw_csv_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
  <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013 06:57</strong> CSV de combinaciones</p>
</div>

<div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
  <img src="../../img/draw_csv.svg" class="downloadElem-csvImg"/>
  <img src="../../img/draw_csv_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
  <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013 06:57</strong> CSV de categorías</p>
</div>

