<div class="downloadBanner u-mgt--3rd" title="Robots aspiradores inteligentes">
  <input type="checkbox" class="downloadBanner-checkbox" data-js-downloadBanner="banner2">
  <img src="../../img/marketing_banner2.jpg" class="downloadBanner-thumb"/>
  <span class="downloadBanner-text">Robots aspiradores inteligentes</span>
</div>
