<button class="actionGroup-action" data-js-actiongroup="button">Descargar archivos
    <svg class="icon actionGroup-icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use></svg>
</button>
