<table class="table panelHeader-fixedTableHeader panelHeader-fixedTableHeader--downloadsHeader">
    <thead class="table-thead ">
        <tr class="table--tr table-tr--sort">
            <th class="table-th table-item u-pdl"colspan="2">
              Nombre {{>orderingIcon}}
            </th>

        </tr>
        <tr class="table-tr  table-tr--filters">
            <th class="table-th table-item u-pdl u-md-50">
                <input class="form-input form-input--collapse " type="text">
            </th>
            <th class="table-th table-item table-item--number u-pdr">
            Descargar
            </th>
        </tr>

    </thead>
</table>