    <h1 dir="ltr" style="margin-bottom: 20px; text-align: justify;">Venta al mayor</h1>
    <p><img alt="" src="/media/icons/negocioenunclick3.jpg" style="display: block; margin-left: auto; margin-right: auto;"></p>
    <p><a name="suscripciones"></a></p>
    <h2 style="text-align: justify; margin-top: 10px;"><span style="font-family: arial,helvetica,sans-serif; font-size: medium;"><strong>¿Qué tipos de cliente tiene BigBuy?</strong></span></h2>
    <p style="text-align: justify;"><span style="font-size: small;">BigBuy es un portal <strong>B2B</strong> enfocado a profesionales y <strong>mayoristas</strong>. Nuestros productos están relacionados con el sector del <strong>regalo original, gadgets y pequeño electrodoméstico</strong> y encajan a la perfección en una tienda física, en <strong>vendedores ambulantes o de ferias regionales, regalos de empresa, periódicos, catálogos de bancos, negocios de venta directa a domicilio o telemarketing, tiendas online, webs de venta colectiva</strong>, etc. <br></span></p>
    <h2 style="text-align: justify; margin-top: 10px;"><span style="font-family: arial,helvetica,sans-serif; font-size: medium;"><strong>¿Qué servicios ofrece BigBuy?</strong></span></h2>
    <p style="text-align: justify;"><span style="font-size: small;"><span style="font-size: small;">BigBuy dispone de cinco <strong>packs mayoristas</strong> con multitud de servicios, y cada cliente decide cual le encaja mejor a su negocio. En la siguiente tabla detallamos cada servicio, pudiendo hacer click para leer en detalle, hay más información al final de la tabla:&nbsp; </span></span></p>
    <p style="text-align: justify;"><span style="font-size: small;"><br></span></p>
    <p><span style="font-size: small;"><img width="840" height="97" alt="" src="/media/icons/superior_mayorista.jpg" style="display: block; margin-left: auto; margin-right: auto;"></span></p>
    <table cellspacing="0" cellpadding="0" align="center" style="margin: 20px auto; border-collapse: collapse; width: 840px;">
        <tbody>
            <tr style="background-color: #999999; color: white; height: 40px; vertical-align: middle;">
                <td style="text-align: left; width: 280px ! important;">
                    <h2 style="margin-left: 30px; margin-top: 7px;"><strong>Servicios / Pack</strong></h2>
                </td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Welcome</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Basic</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Pro</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Business</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Premium</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;" class="cservicios"><strong>Descripción y tipo de cliente<br></strong></td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Usuario que compra de forma esporádica como invitado y disfruta del escalado de descuentos según volumen</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Cliente Activado como Distribuidor mayorista que compra de forma habitual y disfruta de condiciones especiales</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Distribuidor que quiere hacer envíos anónimos Dropshipping y sincronizar los artículos y stocks de BigBuy con una web</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Distribuidor que quiere hacer Dropshipping a toda Europa y sincronizar su web en multitud de idiomas europeos</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Clientes exigentes que buscan un negocio llave en mano y la máxima automatización para no perder tiempo y centrarse en vender</td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;" class="cservicios"><strong>Requisitos</strong></td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Ninguno, cualquier cliente que entre en BigBuy puede beneficiarse.</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Rellenar este <span style="text-decoration: underline; color: #0000ff;"><a target="_blank" href="http://www.bigbuy.eu/es/ser-distribuidor" title="Ser distribuidor"><span style="color: #0000ff; text-decoration: underline;">formulario</span></a></span> y recibir la pre-activación por parte de BigBuy</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Rellenar este <span style="text-decoration: underline; color: #0000ff;"><a target="_blank" href="http://www.bigbuy.eu/es/ser-distribuidor" title="Ser distribuidor"><span style="color: #0000ff; text-decoration: underline;">formulario</span></a></span> y recibir la pre-activación por parte de BigBuy</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Rellenar este <span style="text-decoration: underline; color: #0000ff;"><a target="_blank" href="http://www.bigbuy.eu/es/ser-distribuidor" title="Ser distribuidor"><span style="color: #0000ff; text-decoration: underline;">formulario</span></a></span> y recibir la pre-activación por parte de BigBuy</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">
                    <p>1.- Rellenar este <span style="text-decoration: underline; color: #0000ff;"><a target="_blank" href="http://www.bigbuy.eu/es/ser-distribuidor" title="Ser distribuidor"><span style="color: #0000ff; text-decoration: underline;">formulario</span></a></span> y recibir la pre-activación por parte de BigBuy</p>
                    <p>2.-Adquirir una <span style="color: #0000ff;"><a target="_blank" href="http://www.bigbuy.eu/es/tienda-dropshipping" title="Tienda Dropshipping"><span style="text-decoration: underline; color: #0000ff;">Tienda Dropshipping </span></a></span>BigBuy</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;" class="cservicios"><strong>&nbsp;A destacar</strong></td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">Sin necesidad de pagar alta ni mensualidad podrá adquirir mucha cantidad de la misma referencia aprovechando el descuento por volumen</td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">
                    <p>1.-Accederá a un entorno mayorista diferente al Welcome, donde su precio partirá del PVD inclusive comprando unidades sueltas</p>
                    <p>2.-Posibilidad de llegar hasta un 6%dto.adicional al mejor precio visible en el pack welcome</p>
                </td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">
                    <p>1- Posibilidad de hacer envíos anónimos Dropshipping a toda España</p>
                    <p>2.-posibilidad de sincronizar su web a BigBuy mediante archivos CSV, XML o con la solución llave en mano de nuestra tienda sincronizada</p>
                    <p>3.- Apoyo de nuestro soporte informático</p>
                </td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">
                    <p>1- Posibilidad de hacer envíos anónimos Dropshipping a toda Europa</p>
                    <p>2- Posibilidad de sincronizar una web a BigBuy en multitud de idiomas europeos</p>
                    <p>3.- Apoyo de nuestro soporte informático</p>
                </td>
                <td style="padding: 5px; text-align: left; vertical-align: top;" class="cserviciosicon">
                    <p>Todo lo contemplado en el resto de packs, sumado a que la web sincronizada a BigBuy, transfiere automáticamente los pedidos y se visualiza el seguimiento de envío</p>
                    <p>3.- Apoyo de nuestro soporte informático</p>
                </td>
            </tr>
            <tr>
                <td><img alt="" src="/media/icons/inferior_mayorista1b.jpg"></td>
                <td colspan="5"><a href="/es/customer/account/?suscriptions"><img alt="" src="/media/icons/inferior_mayorista2b.jpg"></a></td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" align="center" style="margin: 20px auto; border-collapse: collapse; width: 840px;">
        <tbody>
            <tr style="background-color: #999999; color: white; height: 40px; vertical-align: middle;">
                <td style="text-align: left; width: 280px ! important;">
                    <h2 style="margin-left: 30px; margin-top: 7px;"><strong>Servicios / Pack</strong></h2>
                </td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Welcome</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Basic</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Pro</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Business</strong></td>
                <td style="text-align: center; width: 120px !important;"><strong>Pack<br> Premium</strong></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Cuota de alta </strong><br><span style="color: #0000ff;"><a href="#cuota"><span style="color: #0000ff;">¿Por qué se cobra alta en algunos packs?</span></a></span></td>
                <td class="cserviciosicon">0 €</td>
                <td class="cserviciosicon">45 € + IVA</td>
                <td class="cserviciosicon">45 € + IVA</td>
                <td class="cserviciosicon">45 € + IVA</td>
                <td class="cserviciosicon">45 € + IVA</td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Cuota mensual</strong><br><span style="color: #0000ff;"><a href="#cuota"><span style="color: #0000ff;">¿Por qué se cobra cuota mensual?</span></a></span></td>
                <td class="cserviciosicon">0 €</td>
                <td class="cserviciosicon">0 €</td>
                <td class="cserviciosicon">15 €/mes + IVA</td>
                <td class="cserviciosicon">27 €/mes + IVA</td>
                <td class="cserviciosicon">45 €/mes + IVA</td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;" class="cservicios"><strong>Tarifa PVD (inclusive en uds. sueltas)<br></strong><a href="#tarifapvd"><span style="color: #0000ff;">¿Qué es Tarifa de precios PVD?</span></a></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;" class="cservicios"><strong>Descuento automático del 6%</strong><br> <a href="#descuentoautomatico"><span style="color: #0000ff;">Dto.6% adicional a la tarifa PVD</span></a></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;" class="cservicios"><strong>Pedido Mínimo</strong> <br><span style="color: #0000ff;"><a href="#pedidominimo"><span style="color: #0000ff;">(€ en productos) </span></a></span></td>
                <td class="cserviciosicon">10€</td>
                <td class="cserviciosicon">5€</td>
                <td class="cserviciosicon">5€</td>
                <td class="cserviciosicon">5€</td>
                <td class="cserviciosicon">5€</td>
            </tr>
            <tr style="height: 40px;">
                <td class="cservicios"><strong>Mercancía en stock, no somos intermediarios.</strong><br> <span style="color: #0000ff;"><a href="#mercanciastock"><span style="color: #0000ff;">Por ello nos comprometemos a entregar en plazos desde 24h.</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr style="height: 40px;">
                <td class="cservicios"><span style="color: #0000ff;"><strong><a href="#almacenes"><span style="color: #0000ff;">Casi 3.000 artículos para elegir en diversas familias.</span></a></strong></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr style="height: 40px;">
                <td class="cservicios"><strong>Entrega urgente a toda Europa.</strong><br> <span style="color: #0000ff;"><a href="#entregaurgente"><span style="color: #0000ff;">Península (24h.), Baleares (48h.) y Europa (desde 72h.)</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr style="height: 40px;">
                <td class="cservicios"><strong>Entrega a Baleares, Canarias, Ceuta y Melilla.</strong><br> <span style="color: #0000ff;"><a href="#enviosacanarias"><span style="color: #0000ff;">Condiciones muy ventajosas para estos envíos.</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr style="height: 40px;">
                <td class="cservicios"><strong>Seguimiento de envío.</strong><br> <span style="color: #0000ff;"><a href="#seguimientode"><span style="color: #0000ff;">Tracking ID online en tiempo real.</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Dropshipping - Envío anónimo a sus clientes de España.</strong><br> <span style="color: #0000ff;"><a href="#anonimo"><span style="color: #0000ff;">Sin publicidad BigBuy y con remitente anónimo.</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Dropshipping a Europa.</strong><br> <span>Envío anónimo al resto de Europa.</span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Envío Dropshipping con contrarembolso.</strong><br> <span style="color: #0000ff;"><a href="#contrarembolso"><span style="color: #0000ff;">Válido para España península y Baleares.</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Forma de pago monedero</strong><br> <span style="color: #0000ff;"><a href="#monedero"><span style="color: #0000ff;">Posibilidad de precargar monedero para pagar pedidos</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Newsletters exclusivas para Distribuidores</strong><br> <span style="color: #0000ff;"><a href="#newsletters"><span style="color: #0000ff;">Serás el primero en conocer nuestras próximas novedades vía email</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Reserva de productos para promociones</strong><br> <span style="color: #0000ff;"><a href="#reservapromociones"><span style="color: #0000ff;">Servicio bloqueo de mercancía por 7 días, sin dar dinero a cuenta</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Atención al distribuidor personalizada</strong><br> <span>Personal cualificado multilingüe (ES+EN+FR+DE+PT+IT+RO)</span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Rappel anual</strong><br> <span style="color: #0000ff;"><a href="#rappel"><span style="color: #0000ff;">Pago de rappel para envíos en Dropshipping en Enero 2014</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No;" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"><br>0,50%</td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"><br>0,75%</td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"><br>1,00%</td>
            </tr>
            <tr>
                <td colspan="6" style="background: #eeeeee;" class="cservicios"><strong>Descargas:</strong></td>
            </tr>
            <tr>
                <td class="cservicios"><span style="color: #0000ff;"><a href="#descargafacturas"><span style="color: #0000ff;">Descarga de facturas online</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><span style="color: #0000ff;"><a href="#descargatarifa"><span style="color: #0000ff;">Descarga PDF de Tarifa de Precios</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><span style="color: #0000ff;"><a href="#descargatarifa"><span style="color: #0000ff;">Descarga Excel de Tarifa de Precios</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No;" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios">Descarga de fotografías</td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No;" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios">Descarga de vídeos youtube</td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No;" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><span style="color: #0000ff;"><a href="#descargapoyo"><span style="color: #0000ff;">Descarga apoyo en marketing online gráfico y banners para newsletters,web o catálogos</span></a></span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No;" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td colspan="6" style="background: #eeeeee none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" class="cservicios"><strong><span style="color: #0000ff;"><a href="#sincronizacion"><span style="color: #0000ff;">Sincronización de stocks y artículos de BigBuy a su web</span></a></span><br></strong></td>
            </tr>
            <tr>
                <td class="cservicios"><span>CSV en español (Precio PVP, PVD, stock, peso, descripciones, fotografías, vídeos, códigos EAN, fecha alta, fecha modificación, etc.) </span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No;" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><span>CSV en Inglés y Francés</span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><span>CSV en Italiano, Portugués, Alemán, etc.<br></span></td>
                <td class="cserviciosicon"><span><img width="16" height="16" alt="No" src="/media/icons/cross.png"></span></td>
                <td class="cserviciosicon"><span><img width="16" height="16" alt="No" src="/media/icons/cross.png"></span></td>
                <td class="cserviciosicon"><span><img width="16" height="16" alt="No" src="/media/icons/cross.png"></span></td>
                <td class="cserviciosicon"><span>En breve</span></td>
                <td class="cserviciosicon"><span>En breve</span></td>
            </tr>
            <tr>
                <td class="cservicios"><span>Manual de importación de CSV para entornos Prestashop</span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td colspan="6" style="background: #eeeeee none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" class="cservicios"><strong>Funcionalidades exclusivas para la <a target="_blank" href="http://www.bigbuy.eu/es/tienda-dropshipping" title="Tienda Dropshipping">Tienda Dropshipping sincronizada a BigBuy</a>*<br></strong></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Seguimiento de envío en su sitio web<br> </strong><span>Podrá mostrar información de envío y tracking en su propia web</span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon">En breve</td>
            </tr>
            <tr>
                <td class="cservicios"><strong></strong><strong>Sincronización de pedidos</strong><br> <span>Podrá comunicar los pedidos desde su web de forma automática</span></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td colspan="6" style="background: #eeeeee none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" class="cservicios"><strong>Qué pack valdría según su tipo de negocio:</strong></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Tienda física</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Venta directa a domicilio</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Vendedor ambulante</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Venta al mayor</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Representante</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Regalo Promocional (A empresas, periódicos, bancos, etc.)</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Vendedor en Plataformas Colectivas (Groupon, Groupalia, LetsBonus, etc.)</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Vendedor en Plataformas (Ebay, Amazon, Pixmania, etc)</strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td class="cservicios"><strong>Tienda Online con todos los artículos de BigBuy </strong></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="No" src="/media/icons/cross.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
                <td class="cserviciosicon"><img width="16" height="16" alt="Sí" src="/media/icons/check.png"></td>
            </tr>
            <tr>
                <td><img alt="" src="/media/icons/inferior_mayorista1.jpg"></td>
                <td colspan="5"><a href="/es/customer/account/?suscriptions"><img alt="" src="/media/icons/inferior_mayorista2.jpg"></a></td>
            </tr>
        </tbody>
    </table>
    <p align="center"><span style="color: #ff0000;">*En caso de baja de un Pack antes de los 6 primeros meses, la reactivación acarrearía pagar nuevamente el alta. Ampliar a un pack superior, no requiere pagar de nuevo el alta.<br></span></p>
    <p><a name="cuota"></a></p>
    <p><span style="font-size: medium;"><strong>¿Por qué Bigbuy cobra cuota de alta o mensual en ciertos packs?</strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy cobra una cuota de alta o mensual para defender los intereses de sus <strong>distribuidores</strong> habituales. Cuando un nuevo distribuidor activa al menos el Pack Basic tiene acceso a la tarifa PVD (Precio Venta Distribuidor) inclusive desde 1 unidad, y además puede alcanzar hasta un 6% Dto. adicional (sobre ese PVD). A diferencia de los usuarios Welcome, que para llegar al PVD deben adquirir en muchos casos 48-96 uds. (y jamás podrán alcanzar el 6% Dto.adicional).</p>
    <p><span style="font-size: small;">La finalidad de esta cuota es puramente disuasoria y sirve a modo de filtro para captar nuevos distribuidores y emprendedores que sean capaces de entender el negocio a medio-largo plazo y entiendan que se trata de una pequeña inversión fácilmente amortizable. La filosofía comercial de BigBuy es firme y confiamos que es mejor tener un número reducido de buenos clientes a los cuales podamos garantizar un servicio de calidad y una atención más personalizada.</span></p>
    <p><a name="tarifapvd"></a></p>
    <p><span style="font-size: medium;"><strong>¿Qué significa Tarifa PVD?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Tarifa PVD significa “Precio Venta Distribuidor” y es el precio de tarifa inclusive en unidades sueltas desde el que parten nuestros distribuidores que están al menos activados en Pack Basic, Pro, Business o Premium. Tan solo hay que entrar en BigBuy con su email y contraseña y el entorno cambiará significativamente, desapareciendo el escalado por volumen y apareciendo el PVD como precio unitario (además tendrá acceso al Descuento Automático en función del importe del carrito de la compra):</p>
    <p style="text-align: justify; font-size: small;">Ejemplo del entorno que verán los clientes Welcome en la Mopa X6 (izquierda). Ejemplo del entorno que verán clientes Pack Basic, Pro, Business y Premium en la Mopa X6 (derecha):</p>
    <p style="font-size: small;"><img width="950" height="400" alt="" src="/media/icons/steam_master_mop_x6_ejemplo.jpg" style="display: block; margin-left: auto; margin-right: auto;"></p>
    <p><span style="font-size: medium;"><strong>¿Qué significa PVP anterior y PVP BigBuy?</strong></span></p>
    <p style="text-align: justify; font-size: small;">El PVP anterior es un precio de mercado habitual en otras tiendas y el PVP BigBuy es un Precio Venta Público que BigBuy recomienda vender a sus<strong> distribuidores</strong>.</p>
    <p><span style="font-size: medium;"><strong>¿Qué margen de Beneficio obtiene el distribuidor? </strong></span></p>
    <p style="text-align: justify; font-size: small;">Todo dependerá del PVP al que venda el distribuidor, pero calculando que el margen es el diferencial entre el PVD y el PVP BigBuy; los márgenes oscilan entre el 15% y el 70%, siendo la media de nuestros distribuidores sobre el 45%.</p>
    <p><span style="font-size: medium;"><strong>¿Puede el distribuidor vender al precio que quiera? </strong></span></p>
    <p style="text-align: justify; font-size: small;">Si. BigBuy orienta con unos PVP Recomendados, pero el distribuidor es libre en su estrategia comercial de aplicar la política de márgenes que desee.</p>
    <p><a name="descuentoautomatico"></a></p>
    <p><span style="font-size: medium;"><strong>¿Qué es el Descuento Automático de hasta el 6%?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Para los clientes activados en Pack Basic, Pro, Business o Premium podrán alcanzar un descuento adicional de hasta el 6% respecto al PVD. Este descuento se aplica de forma automática en función del total del carrito de la compra; muy ventajoso cuando se quiere comprar surtido de referencias. El descuento automático evita perder tiempo a nuestros distribuidores negociando descuentos adicionales, o aplicando códigos de cupón absurdos. Si un distribuidor tiene potencial de compra es justo que obtenga mayor margen comercial.</p>
    <p style="font-size: small; text-align: center;"><img width="561" height="554" alt="" src="/media/icons/descuento_automatico_ejemplo.jpg"></p>
    <p><a name="pedidominimo"></a></p>
    <p><span style="font-size: medium;"><strong>¿Existe pedido mínimo? </strong></span></p>
    <p style="text-align: justify; font-size: small;">El pedido mínimo en la web es de 10€ en productos para clientes Welcome, y de 5€ para Basic, Pro, Business o Premium. Portes e impuestos excluidos.</p>
    <p><a name="mercanciastock"></a></p>
    <p><a name="almacenes"></a></p>
    <p><span style="font-size: medium;"><strong>¿BigBuy es un intermediario o dispone de stock en sus almacenes?</strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy dispone de casi 3.000 referencias y todo el stock está en sus almacenes, por ello podemos asegurar entregas en 24h. Evite intermediarios que no tienen stock y demoran las entregas.</p>
    <p><a name="entregaurgente"></a></p>
    <p><span style="font-size: medium;"><strong>¿Qué plazo de entrega tienen los envíos? </strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy solo trabaja con mensajerías urgentes y servicios 24h. para España y Portugal, y para el resto de Europa un plazo de entrega de 2 a 7 días, según país destino.</p>
    <p><a name="enviosacanarias"></a></p>
    <p><span style="font-size: medium;"><strong>¿Se pueden hacer envíos a Baleares, Canarias, Ceuta y Melilla? </strong></span></p>
    <p style="text-align: justify; font-size: small;">Si, a Baleares sin problemas por apenas un extra de 0,90€. En el caso de Canarias, Ceuta y Melilla no es rentable para pedidos pequeños debido al impuesto arancelario y al despacho de aduanas. Usted mismo puede calcular el precio en el carrito de la compra indicando el C.P. de la población.</p>
    <p><span style="font-size: medium;"><strong>¿A qué países se puede mandar? </strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy está automatizado y envía a casi todos los países del mundo por mensajería urgente. Usted mismo puede estimar los costes de envío en el propio carrito de la compra. Aunque donde realmente estamos competitivos es en envíos a Europa; gracias a la libre circulación sin fronteras y a poder hacer envíos terrestres (y evitar los costes aéreos).</p>
    <p style="font-size: small;"><img width="791" height="536" alt="" src="/media/icons/carrito_compra_ejemplo.jpg" style="display: block; margin-left: auto; margin-right: auto;"></p>
    <p><span style="font-size: medium;"><strong>¿Cuáles son los costes de envío?</strong></span></p>
    <p style="text-align: justify; font-size: small;">España Peninsular: 4,50€ + I.V.A. Envíos hasta 5 Kg | 4,90€ + I.V.A. Envíos hasta 10 Kg | 5,50€ + I.V.A. Envíos hasta 15 Kg | 6,20€ + I.V.A. Envíos hasta 20 Kg</p>
    <p style="text-align: justify; font-size: small;">A partir de 21 Kg. a 0,23 €/kg + I.V.A.</p>
    <p style="text-align: justify; font-size: small;">* Baleares sube el precio aprox. 0,90€ por envío (Canarias Ceuta y Melilla tiene un extra de aranceles, consultar en la web)</p>
    <p style="text-align: justify; font-size: small;">Para el resto de destinos <strong>se puede consultar en el Carrito de la Compra haciendo click en “Estimar Costes de Envío”</strong>. Para clientes con Pack Business y Premium ofrecemos una solución automatizada de cálculo de portes europeos en su web.</p>
    <p><a name="seguimientode"></a></p>
    <p><span style="font-size: medium;"><strong>¿Ofrece BigBuy Seguimiento de Envío?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Si, usted mismo podrá verlo desde dentro de su panel de control. Tracking ID online en tiempo real.</p>
    <p style="font-size: small; text-align: center;">&nbsp;<img width="782" height="635" alt="" src="/media/icons/seguimiento_envio_ejemplo.jpg"></p>
    <p><span style="font-size: medium;"><strong>¿Qué es Dropshipping &ndash; Envío Anónimo?</strong></span></p>
    <p style="text-align: justify; font-size: small;">El Drop Shipping es un servicio donde el mayorista envía directamente la mercancía de forma anónima al cliente final, sin pasar por el distribuidor.</p>
    <p style="text-align: justify; font-size: small;">Web informativa muy completa para entender perfectamente, ¿qué es el dropshipping? <a target="_blank" href="www.edropshipping.net">www.edropshipping.net</a></p>
    <p style="font-size: small; text-align: center;"><img width="350" height="369" alt="" src="/media/wysiwyg/dropshipping.jpg"></p>
    <p><span style="font-size: medium;"><strong>¿Hace falta tener stock?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Se trata de un novedoso tipo de negocio que se inició en EEUU y que permite a nuestros distribuidores vender sin necesidad de tener stock, ya que es BigBuy el que se encarga de almacenarlo.</p>
    <p><span style="font-size: medium;"><strong>¿Quién tramita el envío del paquete?</strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy es un proveedor integral porque gestiona y ahorra a sus distribuidores todos los costes del proceso logístico:</p>
    <p style="text-align: justify; font-size: small; padding-left: 30px;"><span style="font-size: small;">1.- BigBuy almacena el stock.<br></span><span style="font-size: small;">2.- BigBuy recepciona y hace el picking del pedido (preparado del mismo).<br></span><span style="font-size: small;">3.- BigBuy embala el paquete (de forma anónima).<br></span><span style="font-size: small;">4.-&nbsp;</span><span style="font-size: small;">BigBuy coordina con la mensajería hasta la entrega a su cliente final.<br>5.-&nbsp;</span><span style="font-size: small;">BigBuy ofrece al distribuidor en todo momento el estado del pedido y el tracking para su seguimiento, si fuere necesario</span></p>
    <p><a name="anonimo"></a></p>
    <p><span style="font-size: medium;"><strong>¿Cómo puede asegurarse el distribuidor que el envío es completamente anónimo?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Aquellos pedidos con modalidad de Envío Anónimo Dropshipping, no incluimos ningún dato del remitente, ni precios, ni publicidad, ni logotipos de BigBuy, en definitiva el envío es completamente anónimo.</p>
    <p><a name="contrarembolso"></a></p>
    <p><span style="font-size: medium;"><strong>¿Permite BigBuy hacer ventas con envío Dropshipping y cobrar Contra-Rembolso?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Sí, para los clientes en Pack Pro, Business y Premium BigBuy ofrece la posibilidad de hacer envíos con forma de pago Contra-Rembolso (solo a Península y Baleares). La comisión es del 2% (muy baja), con un mínimo de 0,90€ y se incluye este coste en el pedido y factura. Por tanto el procedimiento es simple.</p>
    <p style="text-align: justify; font-size: small; padding-left: 30px;"><span style="font-size: small;">1.- El distribuidor agrega al carrito de BigBuy los artículos que le ha pedido su cliente.<br>2.-&nbsp;</span><span style="font-size: small;">En el proceso final le pedirá la dirección de envío y aquí usted pondrá los datos de su cliente.<br>3.- E</span><span style="font-size: small;">n el siguiente paso le saldrá la siguiente pregunta ¿quiere hacer envío anónimo Dropshipping? Usted responda, Sí. Le volverá a salir otra ventana preguntando ¿Quiere que cobremos rembolso? Y Usted responda: Sí. E indique el importe que la mensajería debe cobrar de Contra-Rembolso.<br>4.-&nbsp;</span><span style="font-size: small;">Por último, deberá finalizar el pedido y pagarlo. <br></span></p>
    <p style="text-align: justify; font-size: small;">Pasados unos 10-15 días de la entrega los rembolsos son reintegrados de forma automática en su monedero para usarlo en futuras compras o transferir a su cuenta.</p>
    <p style="text-align: justify; font-size: small;">Ejemplo: Usted vende a 30€ a su cliente, viene a BigBuy nos paga 20€ que equivaldrán aprox. a su coste y nosotros se lo entregamos a su cliente anónimamente y cuando cobremos esos 30€ se los devolveremos en su monedero.</p>
    <p><a name="monedero"></a></p>
    <p><span style="font-size: medium;"><strong>¿Qué es el monedero?</strong></span></p>
    <p style="text-align: justify; font-size: small;">El monedero es un saldo suyo, el cual puede recargarse con los cobros de los Contra-Rembolsos o previa recarga por transferencia. La ventaja del pago por monedero es que no tiene gastos adicionales.</p>
    <p><a name="newsletters"></a></p>
    <p><span style="font-size: medium;"><strong>¿Qué son las Newsletters exclusivas para Distribuidores?</strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy envía a aquellos clientes con Pack Pro, Business y Premium un email diario con un listado indicando las altas de artículos, modificaciones, de nuevo en stock, y las bajas. Con el fin de que los distribuidores estén informados en detalle de todos los movimientos.</p>
    <p><a name="reservapromociones"></a></p>
    <p><span style="font-size: medium;"><strong>Reserva de productos para promociones</strong></span></p>
    <p style="text-align: justify; font-size: small;">Para los clientes en Pack Basic, Pro, Business y Premium ofrecemos un servicio para que lancen promociones. Este servicio es ideal para vender en webs colectivas que lanzan promociones por un tiempo limitado de días.</p>
    <p style="text-align: justify; font-size: small;">Ofrecemos un servicio de reserva/bloqueo de stock hasta terminar la promoción de forma gratuita y sin entregar dinero ni % a cuenta. Además podemos hacer los envíos a los clientes finales al igual que a plataformas logísticas de forma completamente anónima. Para más información escribir al Dpto. de Atención a Distribuidores: <a target="_blank" href="mailto:%20comercial@bigbuy.eu"><span style="text-decoration: underline; color: #0000ff;">comercial@bigbuy.eu</span> </a></p>
    <p><a name="rappel"></a></p>
    <p><span style="font-size: medium;"><strong>¿Qué es el Rappel Anual?</strong></span></p>
    <p style="text-align: justify; font-size: small;">El Rappel es un incentivo sobre ventas que BigBuy ofrece para fidelizar a sus clientes. Al finalizar cada año, se suman (sin IVA) todas las compras realizadas y el importe total será reintegrado de forma automática en su monedero. Se podría interpretar que con un pequeño esfuerzo, cualquier distribuidor tiene cubierto el importe de las cuotas sólo con lo que cobrará del Rappel anual.</p>
    <p><a name="descargafacturas"></a></p>
    <p><span style="font-size: medium;"><strong>Descarga de Facturas Online</strong></span></p>
    <p style="text-align: justify; font-size: small;">Las facturas se las descargan nuestros clientes desde su panel de control de BigBuy. Además, para facilitar la labor contable y administrativa, Bigbuy aglutina los pedidos de todo un mes en 1-2 facturas, pudiéndolas descargar la primera semana del mes vencido.</p>
    <p><span style="font-size: medium;"><strong>¿Tiene usted como modo fiscal el Recargo de Equivalencia?</strong></span></p>
    <p style="text-align: justify; font-size: small;"><span>El recargo de equivalencia es un régimen especial de IVA específico para ciertos autónomos y comunidades de bienes. Debería ser su gestor quien le asesore si usted debe comprar con este recargo o no. La ventaja de BigBuy es que tiene preparada su web para cobrar este impuesto en el mismo pedido, y aquellos clientes que deban aplicarlo en sus compras deberán marcar la casilla correspondiente en el mismo panel de control, en la solapa Datos de Facturación.<br></span></p>
    <p style="text-align: justify; font-size: small;">Para más información acerca de este impuesto consulte: <a target="_blank" href="http://www.bigbuy.eu/es/impuestos">http://www.bigbuy.eu/es/impuestos</a></p>
    <p><a name="descargatarifa"></a></p>
    <p><span style="font-size: medium;"><strong>Descarga de Tarifas de Precios en PDF y en Excel</strong></span></p>
    <p style="text-align: justify; font-size: small;">BigBuy pone a disposición de sus distribuidores las tarifas de precios en PDF y en Excel en función del pack contratado, y son descargadas desde el panel de control de BigBuy en la solapa DESCARGAS. (Para los clientes que no tienen ningún pack activo, pueden ver una demo en la zona de descargas del panel de control).</p>
    <p style="font-size: small; text-align: center;"><img alt="" src="/media/icons/descargas_ejemplos.jpg"></p>
    <p><a name="descargapoyo"></a></p>
    <p><span style="font-size: medium;"><strong>Descarga y apoyo en marketing online gráfico y banners para newsletters, web o catálogos</strong></span></p>
    <p style="text-align: justify; font-size: small;">Los clientes activados en Pack Pro, Business o Premium disponen en el panel de control de BigBuy de una zona de descargas con material gráfico como banners, imágenes, logotipos para que puedan hacer uso en sus webs, catálogos o newsletters. Bigbuy nutre semanalmente esta sección.</p>
    <p><span style="font-size: medium;"><strong>¿Quiere ser distribuidor?</strong></span></p>
    <p style="text-align: justify; font-size: small;">Deberá rellenar un sencillo cuestionario, e indicar el máximo de datos de usted o su empresa. Si está interesado en algo particular, indíquenos cantidades y referencias. En función de todo lo que nos argumente le activaremos con unas u otras condiciones. Haga click en la sección <span style="color: #0000ff;"><a href="/es/ser-distribuidor"><span style="color: #0000ff;">¿Quiere ser distribuidor?</span></a></span></p>
    <p><a name="sincronizacion"></a></p>
    <p><span style="font-size: medium;"><strong>¿Es necesario estar dado de alta como autónomo o ser empresa?</strong></span></p>
    <p><span style="font-size: small;">BigBuy apuesta por el emprendedurismo y no exige ser autónomo o empresa para tramitar el alta como distribuidor con el fin de que el cliente pueda arrancar su nuevo negocio. Se interpreta que solo aquellos que están realmente por la labor de trabajar de forma seria a medio-largo plazo son quienes dan el paso de pagar un alta y una mensualidad. Eso sí, cuando empiecen a generar ingresos deberán formalizar su situación; sobre todo porque Hacienda está siendo implacable en este sentido.</span></p>
    <p><span style="font-size: medium;"><strong>Sincronización de stocks y artículos de BigBuy a su web</strong></span></p>
    <p style="text-align: justify; font-size: small;">Para los clientes activados en los packs Pro, Business o Premium, ofrecemos dos soluciones para que su web disponga del catálogo de BigBuy actualizado de una forma rápida y sencilla, a través de diferentes automatizaciones como son:</p>
    <p style="font-size: small; padding-left: 30px;"><strong>1.- ARCHIVOS CSVs.</strong></p>
    <p style="padding-left: 30px; font-size: small;">Los archivos CSVs disponen de información sobre todos los productos de la tienda en diferentes idiomas y cuyos campos son: Código de producto, código EAN, nombre, PVP, <a href="#tarifapvd">PVD</a>, descripción, stock, imágenes (hasta 8 posibles), vídeo youtube.</p>
    <p style="padding-left: 30px; font-size: small;">Dispone de un ejemplo para descargar en el panel de control por si desean realizar pruebas antes de la adquisición de un pack mayorista. Además existe un completo manual en el panel de control (solapa descargas), donde se explica con todo detalle la forma de cargar los productos en un entorno Prestashop.</p>
    <p style="padding-left: 60px; font-size: small;">a) <em>Carga manual de los archivos CSVs </em></p>
    <p style="padding-left: 90px; font-size: small;"><span style="text-decoration: underline;">Ventajas</span>: Ideal para que usted mismo y sin conocimientos de informática mantenga actualizada una web en Prestashop<br><span style="text-decoration: underline;">Inconvenientes</span>: Debe descargar diariamente los CSVs (catálogos de productos) y manualmente cargarlos en su web para mantenerla actualizada de altas de productos y stocks, y así evitar que pudieran llegar pedidos de artículos que en BigBuy se hubiera roto stock</p>
    <p style="padding-left: 60px; font-size: small;">b) <em>Carga automática a través de los archivos CSVs y nuestro servidor de archivos FTP </em></p>
    <p style="padding-left: 90px; font-size: small;"><span style="text-decoration: underline;">Ventajas</span>: Su web estará sincronizada en todo momento con el almacén de BigBuy sin tener que realizar operaciones manuales que pueden resultar tediosas y lentas <br><span style="text-decoration: underline;">Inconvenientes</span>: Solo es viable la automatización si usted es programador, en caso contrario deberá acudir a los servicios de algún informático para que le desarrollen una sincronización de BigBuy a su web a partir de los CSVs que se encuentran en nuestro servidor de ficheros FTP</p>
    <p style="padding-left: 30px; font-size: small;"><strong>2.- <a target="_blank" href="http://www.bigbuy.eu/es/tienda-dropshipping" title="Tienda Dropshipping"><span style="text-decoration: underline; color: #0000ff;">TIENDA DROPSHIPPING SINCRONIZADA BigBuy</span></a><a target="_blank" href="http://www.bigbuy.eu/es/info-tienda-sincro" title="Tienda Sincronizada BigBuy"><span style="text-decoration: underline; color: #0000ff;"><br></span></a></strong></p>
    <p style="padding-left: 60px; font-size: small;"><span style="text-decoration: underline;">Ventajas</span>:</p>
    <p style="padding-left: 90px; font-size: small;">- Entregamos su web en aproximadamente 3-5 días completamente adaptada a la plantilla elegida, con su logotipo y todas las funcionalidades en marcha</p>
    <p style="padding-left: 90px; font-size: small;">- Desde el minuto 1 que usted tiene la web se despreocupará de todo aquello que no sea promocionar y vender productos, BigBuy da la solución llave en mano y su web está sincronizada en todo momento de forma autónoma y automática. Si BigBuy crea un artículo en su web se crea en minutos, si BigBuy quita del stock un artículo en su web se quita en minutos...</p>
    <p style="padding-left: 90px; font-size: small;">- Además para los distribuidores con cierto recorrido ofrecemos en el pack Premium la posibilidad de que los pedidos que le hagan en su tienda lleguen automáticamente a BigBuy y se sirvan sin procesos manuales. El distribuidor tan solo debe preocuparse de que haya saldo en el monedero.</p>
    <p style="padding-left: 90px; font-size: small;">- También existe la posibilidad de que sus clientes puedan ver el seguimiento de envío en su propia web</p>
    <p style="padding-left: 90px; font-size: small;">- En el pack Business y Premium, se implementarán de forma automática idiomas escritos por nativos, actualmente disponibles Español, Inglés y Francés. En breve Italiano, Portugués y Alemán.</p>
    <p style="padding-left: 60px; font-size: small;"><span style="text-decoration: underline;">Inconvenientes</span>: Ninguno.</p>
    <p>&nbsp;</p>
    <p><span style="font-size: medium;"><strong>¿Puedo descargar una DEMO del CSV para hacer pruebas?</strong></span></p>
    <p><span style="font-size: medium;"><span style="font-size: small;">Si, para los clientes que quieran hacer pruebas antes de activarse como distribuidores pueden descargar archivos demo en la zona de descargas del panel de control interno de BigBuy.</span></span></p>
    <p><span style="font-size: medium;"><strong>¿Cada cuánto tiempo actualiza BigBuy los CSVs?</strong></span></p>
    <p><span style="font-size: small;">BigBuy actualiza los CSVs cada 6 horas.</span></p>
    <p><span style="font-size: medium;"><strong>¿Por qué es importante actualizar diariamente el CSV de BigBuy con su web?</strong></span></p>
    <p><span style="font-size: small;">En BigBuy a diario se dan de alta decenas de artículos nuevos, al igual que también se actualizan roturas de stock y reposiciones. Los clientes que no sincronizan a diario su web con BigBuy, tarde o temprano acaban sufriendo la recepción de pedidos de artículos que se ha roto el stock, con la consecuente pérdida de tiempo de tramitar abonos, llamadas a clientes, etc. Por otro lado, las webs que están sincronizadas a diario con BigBuy son las primeras en tener las últimas novedades; y en un sector tan dinámico como es Internet esto es muy importante.</span></p>
    <p><span style="font-size: medium;"><strong>¿Se puede sincronizar de forma automática los CSVs con su web?</strong></span></p>
    <p><span style="font-size: small;">Solo es viable si usted es programador y tiene conocimientos para hacer un script, en caso contrario deberá recurrir a una empresa externa y subcontratar los servicios de un programador. Con este script se podría llegar a automatizar la descarga automática de los CSVs por FTP y evitar diariamente todo el proceso manual de importación.</span></p>
    <p><span style="font-size: medium;"><strong>¿Cómo se consigue el acceso FTP de los CSVs?</strong></span></p>
    <p><span style="font-size: small;">Los clientes activados en Pack Pro, Business y Premium interesados en este servicio, deberán escribir un email al Dpto.Distribuidores <span style="color: #0000ff;"><a href="mailto:comercial@bigbuy.eu"><span style="color: #0000ff;">comercial@bigbuy.eu</span></a></span> y solicitar las claves de acceso. Esta opción solo es viable si usted es programador y tiene los conocimientos suficientes como para hacer un script. Si usted no es programador y tiene que subcontratar a uno, sin duda lo que a usted le interesa es una solución llave en mano como la <span style="color: #0000ff;"><a target="_blank" href="http://www.bigbuy.eu/es/tienda-dropshipping" title="Tienda Dropshipping"><span style="color: #0000ff;">Tienda Dropshipping Sincronizada BigBuy</span></a></span></span></p>
    <p><span style="font-size: medium;"><strong>¿Por qué BigBuy ofrece una solución llave en mano como la Tienda Dropshipping Sincronizada?</strong></span></p>
    <p><span style="font-size: small;">Han sido nuestros propios clientes quienes nos lo han pedido, porque la importación diaria de los CSVs consume demasiado tiempo y subcontratar un programador no es algo sencillo ni barato.</span></p>