<!-- Slogan -->
<div class="modularGrid-module">
    <div class="footer">

De conformidad con lo que establece la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, le informamos que sus datos personales serán incluidos dentro de un fichero automatizado bajo la responsabilidad de
All4Business S.L., con la finalidad de poder atender los compromisos derivados de la relación que mantenemos con usted. Puede ejercer sus derechos de acceso, cancelación, rectificación y oposición mediante un escrito a la
dirección Calle San Pascual nº 62 - 46960 Aldaia - España. Si en el plazo de 30 días no nos comunica lo contrario, entenderemos que los datos no han sido modificados, que se compromete a notificarnos cualquier variación
y que tenemos el consentimiento para utilizarlos a fin de poder fidelizar la relación entre las partes y ceder los datos a EMPRESAS DEL GRUPO para la finalidad de FACILITAR LAS LABORES DE FACTURACIÓN.




    </div>

</div>