<!-- Logo -->
<div class="modularGrid-module">
<figure class="header-logo">
   <img alt="" src="../../img/logo-bigbuy-print.png" class="header-logo-img">

</figure>

<div class="modularGrid">



<div class="modularGrid-module u-lg-70">
    <strong class="header-title">Proforma</strong>
    <p class="header-slogan">
      All4Business S.L.
     Calle San Pascual nº 62
     46960 Aldaia - España
     CIF/VAT: ESB98376155
    </p>
</div>












<div class="modularGrid-module u-lg-30">
    <strong class="header-title">Customer</strong>
    <p class="header-slogan">
     Tehomaattori ltd
     Kumpukatu 7 c 30 Kumpukatu
     70620 Kuopio - Finland
     CIF/VAT: FI25022572
    </p>
</div>

</div>

