<div class="panel panel--active" data-js-panel-name="panel01" data-js-panel-state="active">
  <div class="panel-title">
    <svg class="icon icon--inline icon--xs" role="img">
      <use xlink:href="../../img/icons/svg-defs.svg#icon-wallet"/></use>
    </svg>
    <div class="panel-titleName">
      <a class="panel-breadcrumbLink" href="">Devoluciones</a>
    </div>
  </div>
  <div class="panel-content">
    <section class="panel-section">
      <div class="modularGrid">
        <div class="modularGrid-module u-pdl--half u-pdt">
          <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-mydata"></use></svg>
          <h3 class="form-fieldset-title u-iblock">
            Borrador de devolución
          </h3 >
          <span class="form-info" data-js-tooltip="tooltip_pack"><i class="icon fa-lg fa-info-circle"></i></span>
          <button data-js-actiongroup-download="" class="button button--big u-block u-pdl">Crear borrador</button>
        </div>
      </div>
      <div class="modularGrid u-pdb">
        <div class="modularGrid-module u-pdl--half u-pdt2">
          <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-clock"></use></svg>
          <h3 class="form-fieldset-title u-iblock">
            Historial de devoluciones
          </h3 >
          <span class="form-info" data-js-tooltip="tooltip_pack"><i class="icon fa-lg fa-info-circle"></i></span>
          <table class="table table--interactive u-xs-50 u-brd">
            <thead class="table-thead  table-thead--borderless">
              <tr class="table--tr table-tr--sort">
                <th class="table-th table-item u-xs-10">RMA<i class="icon icon-sort fa fa-caret-down"></i></th>
                <th class="table-th table-item u-xs-10">Fecha <i class="icon icon-sort fa fa-caret-down"></i></th>
                <th class="table-th table-item u-xs-60">Estado<i class="icon icon-sort fa fa-caret-down"></i></th>
                <th class="table-th table-item u-xs-20">Total<i class="icon icon-sort fa fa-caret-down"></i></th>
              </tr>
              <tr class="table-tr  table-tr--filters">
                <th class="table-th table-item">
                  <input type="text" class="form-input form-input--collapse">
                </th>
                <th class="table-th table-item">
                  <input type="text" class="form-input form-input--collapse">
                </th>
                <th class="table-th table-item">
                  <select name="" id="" class="form-select form-select--collapse">
                    <option value="">--</option>
                  </select>
                </th>
                <th class="table-th table-item">
                  <input type="text" class="form-input form-input--collapse">
                </th>
              </tr>
            </thead>
            <tbody class="table-tbody  table-tbody--stripped">
              <tr class="table-tr" data-js-back="row">
                <td class="table-item">DEV0728934</td>
                <td class="table-item ">17/04/2015</td>
                <td class="table-item">En revisión</td>
                <td class="table-item Blue">299€</td>
              </tr>
              <tr class="table-tr" data-js-back="row">
                <td class="table-item">DEV0728934</td>
                <td class="table-item ">17/04/2015</td>
                <td class="table-item">Resuelto</td>
                <td class="table-item Blue">123€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
