<div class="panel panel--active" data-js-panel-name="panel01" data-js-panel-state="active">
    <div class="panel-title">
        <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-store"/></use></svg>
         <div class="panel-titleName"><a class="panel-breadcrumbLink" href="">Tiendas sincronizadas</a></div>
    </div>
    <div class="panel-content fixedTableContent--singleRowNoHeader">
      <div class="fixedTableContent-tableContent">
      <section class="panel-section">
        {{> tableLongReturns}}
        </section>
      </div>
    </div>
</div>
