<div class="u-pdl--half">
    <header class="actionGroup-header">
        <p class="u-pdt--half u-pdt">
            Su Pack <a class="pack pack--pro" > Pro</a> ofrece un idioma por tienda
        </p>
        <label title="Español" class="form-label form-label--inline u-pdb--half u-pdt--half">
            <svg role="img" class="icon langlist-icon icon--inline icon--xs u-mgl--zero">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-es"/>
            </svg>
            Español
        </label>

        <div class="u-brt u-pdt">

            <div class=" "> <strong>¿Desea más idiomas en su tienda?</strong><br>Consígalos ahora activando un Pack <a class="pack pack--business">Business</a> o <a class="pack pack--premium">Premium</a>
            </div>
            <button class="button button--primary button--big u-mgb u-mgt--half" data-js-logo="logo">
                Activar Pack
            </button>
            <section style="display:block;" data-js-actiongroup="body" class="actionGroup-body">
                <ul class="langlist">
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Español">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-es"/>
                            </svg>
                            Español
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="English">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-en"/>
                            </svg>
                            English
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Français">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-fr"/>
                            </svg>
                            Français
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Português">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-pt"/>
                            </svg>
                            Português
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Română">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-ro"/>
                            </svg>
                            Română
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Italiano">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-it"/>
                            </svg>
                            Italiano
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Magyar">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-hu"/>
                            </svg>
                            Magyar
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Lietuvių">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-lt"/>
                            </svg>
                            Lietuvių
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Slovenščina">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-si"/>
                            </svg>
                            Slovenščina
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="български">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-bg"/>
                            </svg>
                            български
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Dansk">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-dk"/>
                            </svg>
                            Dansk
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Suomi">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-fi"/>
                            </svg>
                            Suomi
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Slovenčina">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-sk"/>
                            </svg>
                            Slovenčina
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Hrvatski">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-hr"/>
                            </svg>
                            Hrvatski
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Latviešu">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-lv"/>
                            </svg>
                            Latviešu
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Polski">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-pl"/>
                            </svg>
                            Polski
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Eesti">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-ee"/>
                            </svg>
                            Eesti
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="русский">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-ru"/>
                            </svg>
                            русский
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="čeština">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-cz"/>
                            </svg>
                            čeština
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="ελληνικά">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-gr"/>
                            </svg>
                            ελληνικά
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Deutsch">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-de"/>
                            </svg>
                            Deutsch
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Svenska">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-se"/>
                            </svg>
                            Svenska
                        </label>
                    </li>
                    <li class="langlist-item">
                        <label class="langlist-label form-label--disabled" title="Nederlands">
                            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                <use xlink:href="../../img/icons/svg-defs.svg#icon-nl"/>
                            </svg>
                            Nederlands
                        </label>
                    </li>
                </ul>

            </section>
        </div>
    </header>

    <footer class="actionGroup-footer">

    </footer>
</div>