<tr class="table-tr" data-js-back="row">
    <td class="table-item" width="10%">60041461</td>
    <td class="table-item" width="40%"> Tienda Dropshipping Diseño London Verde, Pago en 3 Plazos</td>
    <td class="table-item" width="30%">Comprobando Requisitos</td>
    <td class="table-item" width="20%">2015-01-15 12:52:00</td>
</tr>
