<table class="table table--interactive panelHeader-fixedTableHeader">
    <thead class="table-thead ">
        <tr data-js-paginador-filtro-content="" class="table-tr  table-tr--filters">
            <th class="table-th table-item" width="8%">Id. Pedido
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%">Ref.
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="8%">Producto
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%">Incidencia
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="9%">Descripción
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%">Unids.
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%">Precio
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">Observa
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">OK
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">-50
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">-100
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">Total Dev.
                {{>orderingIcon}}
            </th>
        </tr>
        <tr class="table--tr table-tr--sort">
            <th class="table-th table-item" width="8%">
                <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
            </th>
            <th class="table-th table-item " width="8%">
                <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
            </th>
            <th class="table-th table-item" width="8%">
                <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
            </th>
            <th class="table-th table-item " width="8%">
                <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
            </th>
            <th class="table-th table-item " width="9%">
                <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
            </th>
            <th class="table-th table-item " width="8%">
             <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
         </th>
         <th class="table-th table-item " width="8%">
            <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
        </th>
        <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">
            <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
        </th>
        <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">
            <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
        </th>
        <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">
            <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
        </th>
        <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">
            <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
        </th>
        <th class="table-th table-item " width="8%" bgcolor="#f9f9f9">
            <input data-js-paginador-filtro-field="" name="status" id="status" class="form-input form-input--collapse ">
        </th>
    </tr>

</thead>
</table>