<tr class="table-tr" data-js-back="row">
    <td class="table-item" width="8%">60041461</td>
    <td class="table-item" width="8%">60041461</td>
    <td class="table-item" width="8%">Nombre del producto de BigBuy</td>
    <td class="table-item" width="8%">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
    <td class="table-item" width="9%">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
    <td class="table-item" width="8%">1000</td>
    <td class="table-item" width="8%">21.33€</td>
    <td class="table-item" width="8%" bgcolor="#f9f9f9">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
    <td class="table-item" width="8%" bgcolor="#f9f9f9">7</td>
    <td class="table-item" width="8%" bgcolor="#f9f9f9">3</td>
    <td class="table-item" width="8%" bgcolor="#f9f9f9">2</td>
    <td class="table-item" width="8%" bgcolor="#f9f9f9">150€</td>
</tr>