<div class="modularGrid">
  <div class="modularGrid-module u-md-50 ">
    <fieldset class="form-fieldset form-fieldset--sequential">
      <h3 class="form-fieldset-title">Datos de usuario</h3>
      <div class="modularGrid">
        <div class="modularGrid-module u-md-50">
          <label class="form-label" for="email">Nombre</label>
          <input type="text" class="form-input" id="email">
        </div>
        <div class="modularGrid-module u-md-50 u-pdl">
          <label class="form-label" for="passold">E-mail</label>
          <input type="password" class="form-input" id="passold">
        </div>
      </div>
    </fieldset>
    <fieldset class="form-fieldset form-fieldset--sequential">
      <h3 class="form-fieldset-title">Datos de recogida</h3>
      <div class="modularGrid">
        <div class="modularGrid-module u-md-50">
          <div class="modularGrid">
            <div class="modularGrid-module">
              <label class="form-label" for="passold">Dirección de recogida</label>
              <input type="password" class="form-input" id="passold">
            </div>
            <div class="modularGrid-module">
              <label class="form-label" for="passold">Localidad / Provincia</label>
              <input type="password" class="form-input" id="passold">
            </div>
            <div class="modularGrid-module">
              <label class="form-label" for="passold">Código postal</label>
              <input type="password" class="form-input" id="passold">
            </div>
            <div class="modularGrid-module">
              <label class="form-label" for="passold">Teléfono</label>
              <input type="password" class="form-input" id="passold">
            </div>
          </div>
        </div>
        <div class="modularGrid-module u-md-50 u-pdl">
          <div class="modularGrid">
            <div class="modularGrid-module">
              <label class="form-label" for="passnew2">Persona de contacto</label>
              <input type="password" class="form-input" id="passnew2">
            </div>
            <div class="modularGrid-module">
              <label class="form-label" for="passnew2">Número de bultos a recoger</label>
              <input type="password" class="form-input" id="passnew2">
            </div>
            <div class="modularGrid-module">
              <label class="form-label" for="passnew2">Preferencia recogida</label>
              <div class="modularGrid-module" >
                <div class="modularGrid">
                <div class="modularGrid-module u-md-50" >
                    <input type="radio" id="seller_15" name="seller" class="form-radio">
                    <label class="form-label form-label--inline" for="seller_15">Por la mañana</label>
                  </div>
                  <div class="modularGrid-module u-md-50" >
                    <input type="radio" id="seller_16" name="seller" class="form-radio">
                    <label class="form-label form-label--inline" for="seller_16">Por la tarde</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>