<div class="modularGrid">
        <div class="modularGrid-module">
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>
                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>
                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
                <button data-js-downloads="btn" class="btnDownloads">
                        <div title="Robots aspiradores inteligentes" class="downloadBanner">
                                <span class="downloadBanner-text">Robots aspiradores inteligentes</span>


                                <img class="downloadBanner-thumb img--responsive u-pdt" src="../../img/marketing_banner2.jpg">
                        </div>
                </button>
        </div>
        <div class="modularGrid u-pdt u-pdl--half u-pdb">
                <div class="modularGrid-module" >
                        <button data-js-downloads="bigBtn" data-js-popuplauncher="../../static/popups/popup_downloads_bzns.html"  class="button button--primary"  disabled >
                                Descargar archivos
                                <img class="icon icon--xs " src="../../img/mobileIcons/file_download_black.svg">
                        </button>
                </div>
        </div>
</div>