<div class="modularGrid">
    <div class="modularGrid-module">
        <div class="modularGrid u-pdb ">
            <div class="modularGrid-module">
                <div class="modularGrid u-pd">
                <h4 class="mobileText-subtitle u-pdb">Seleccione los archivos a descargar</h4>
                    <h5 class="mobileText-subtitle2 u-pdb--half">CSV/XML Tarifa</h5>
                    <button data-js-downloads="btn" class="btnDownloads">
                        <img class="btnDownloads-image" src="../../img/draw_xml.svg">
                        <img class="img btnDownloads-image btnDownloads-image--alt" src="../../img/draw_xml_select.svg">
                        <span class="btnDownloads-txt "><strong class="btnDownloads-txt btnDownloads-txt--header">03/11/2014 07:20</strong>XML de productos</span>
                    </button>
                    <button data-js-downloads="btn" class="btnDownloads">
                        <img class="btnDownloads-image" src="../../img/draw_csv.svg">
                        <img class="img btnDownloads-image btnDownloads-image--alt" src="../../img/draw_csv_select.svg">
                        <span class="btnDownloads-txt "><strong class="btnDownloads-txt btnDownloads-txt--header">03/11/2014 07:15</strong>CSV de productos general</span>
                    </button>
                    <h5 data-js-popuplauncher="../../views/mobile/partials/popups/popup_info_nopack.html" class="mobileText-subtitle2 u-pdt--half u-pdb--half">Sincronización Prestashop
                        <img  title="Información importante" src="../../img/mobileIcons/alert.svg" class="icon icon--inline icon--xs u-mgl--6th">
                    </h5>
                    <button data-js-downloads="btn" class="btnDownloads">
                        <img class="btnDownloads-image" src="../../img/draw_csv.svg">
                        <img class="img btnDownloads-image btnDownloads-image--alt" src="../../img/draw_csv_select.svg">
                        <span class="btnDownloads-txt "><strong class="btnDownloads-txt btnDownloads-txt--header">03/11/2014 07:15</strong>CSV de productos</span>
                    </button>
                    <button data-js-downloads="btn" class="btnDownloads">
                        <img class="btnDownloads-image" src="../../img/draw_csv.svg">
                        <img class="img btnDownloads-image btnDownloads-image--alt" src="../../img/draw_csv_select.svg">
                        <span class="btnDownloads-txt "><strong class="btnDownloads-txt btnDownloads-txt--header">03/11/2014 07:15</strong>CSV de combinaciones</span>
                    </button>
                    <button data-js-downloads="btn" class="btnDownloads">
                        <img class="btnDownloads-image" src="../../img/draw_csv.svg">
                        <img class="img btnDownloads-image btnDownloads-image--alt" src="../../img/draw_csv_select.svg">
                        <span class="btnDownloads-txt "><strong class="btnDownloads-txt btnDownloads-txt--header">03/11/2014 07:15</strong>CSV de categorías</span>
                    </button>
                </div>
                <div class="modularGrid u-pdr u-pdb">
                    <div class="modularGrid-module  u-pdb--half u-pdr u-pdl" >
                        <button data-js-downloads="bigBtn" data-js-popuplauncher="../../static/popups/popup_downloads_bzns.html"  class="button button--primary "  disabled >
                            Descargar archivos
                            <img class="icon icon--xs " src="../../img/mobileIcons/file_download_black.svg">
                        </button>
                    </div>
                </div>
                <div class="modularGrid u-pd u-brt">
                    <h5 class="mobileText-subtitle2  u-pdb--half">Manual de importación Prestashop</h5>
                    <a  href="#" class="btnDownloads">
                        <img class="btnDownloads-image" src="../../img/draw_pdf.svg">
                        <img class="img btnDownloads-image btnDownloads-image--alt" src="../../img/draw_pdf.svg">
                        <span class="btnDownloads-txt "><strong class="btnDownloads-txt btnDownloads-txt--header">03/11/2014 07:15</strong>Manual Importación</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>