<nav data-js-accordion_selected_class="mobileTabs-itemHeader--selected" data-js-accordiontype="mobileTabs-itemContent--selected" data-js-accordion="accordion" class="mobileTabs">
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Descargas sincro</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent  nopadding">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>sincroTab}}
                </div>
            </div>
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--backtab">
        <header data-js-accordion="link" class="mobileTabs-itemHeader ">
            <h4 class="mobileTabs-itemTitle">Descargas marketing</h4>
        </header>
        <section data-js-accordion="panel" class="mobileTabs-itemContent ">
            <div class="modularGrid">
                <div class="modularGrid-module">
                    {{>marketingTab}}
                </div>
            </div>
        </section>
    </article>
</nav>