<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="../../img/logo_bb.png">
    <script src="../../js/modernizr.js"></script>
    <script src="../../js/svg4everybody.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,500,300,300italic,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <link rel="stylesheet" href="../../css/mobileback.css">
    <script src="//localhost:1337/livereload.js"></script>
</head>
