<nav class="mainNav mainNav--business" data-js-mainNav="mainNav">
    <ul class="mainNav-menu nav" data-js-mainnav="menu">

         <li class="mainNav-item nav-item" data-js-mainnav="item">
            <a href="../mobile/home.html" class="mainNav-link mainNav-link--useractions" data-js-mainnav="link" title="Volver a tienda">
             <img src="../../img/icons/arrowLeft.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Volver a tienda</a>
        </li>
        <li class="mainNav-item nav-item" data-js-mainnav="item">
            <button class="mainNav-link   mainNav-link--useractions" data-js-mainnav="link" title="Cerrar sesi칩n" data-js-btn="loginBtn" >
             <img src="../../img/mobileIcons/logout_black.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Cerrar sesi칩n</button>
        </li>
         <li class="mainNav-item nav-item ">
            <a title="Dashboard" class="mainNav-link" data-js-mainnav="link" href="home.html">
            <img src="../../img/mobileIcons/home.svg"  alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Panel de control</a>
        </li>
        <li class="mainNav-item nav-item ">
            <a title="Dashboard" class="mainNav-link" data-js-mainnav="link" href="account.html">
            <img src="../../img/icons/user.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Mi cuenta</a>
        </li>
        <li class="mainNav-item nav-item" data-js-mainnav="item">
            <a href="wallet.html" class="mainNav-link" data-js-mainnav="link" title="Monedero">
            <img src="../../img/icons/wallet.svg" alt="icon" class="icon icon--inline icon--xs u-mgr--3 u-op-60">

            Monedero</a>
        </li>
        <li class="mainNav-item nav-item" data-js-mainnav="item">
            <a href="followup.html" class="mainNav-link" data-js-mainnav="link" title="Pr칩ximas entradas">
            <img src="../../img/icons/stockFollow.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Seguimiento de stock</a>
        </li>
        <li class="mainNav-item nav-item " data-js-mainnav="item">
            <a href="stocks-lock.html" class="mainNav-link" data-js-mainnav="link" title="Bloqueo de Stocks">
             <img src="../../img/icons/stockLock.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Bloqueo de stock<b class="mainNav-notify"></b></a>
        </li>
       <li class="mainNav-item nav-item" data-js-mainnav="item">
            <a href="orders.html" class="mainNav-link" data-js-mainnav="link" title="Pedidos">
            <img src="../../img/icons/orders.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Pedidos<b class="mainNav-notify"></b></a>
        </li>
        
        <li class="mainNav-item nav-item" data-js-mainnav="item">
            <a href="receipts.html" class="mainNav-link" data-js-mainnav="link" title="Facturas">
            <img src="../../img/icons/invoices.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Facturas</a>
        </li>
      
        <li class="mainNav-item nav-item" data-js-mainnav="item">
            <a href="userdata.html" class="mainNav-link" data-js-mainnav="link" title="Mis datos">
             <img src="../../img/icons/mydata.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Mis datos</a>
        </li>





    </ul>
    {{>mobileLangs}}
    <div class="mainNav-header">
          <button class="mainNav-button button mainNav-button--lang" data-js-btnlang="es" ><img src="../../img/icons/es.svg" class="icon icon--inline icon--md flag"> Espa침ol </button>
          <button class="mainNav-button button mainNav-button--menu" data-js-btnNav="hide"></button>
    </div>
</nav>