<!-- Mobile Back Toolbar -->
<div class="modularGrid modularGrid--boxed">
    <div class="modularGrid-module">
        <aside class="mobileToolbar">

            <nav class="mobileToolbar-navgroup">
                <a href="../mobile/home.html" class="button button--logo  mobileToolbar-button">
                    <figure class="mobileHeader-logoFigure"> <img src="../../img/icons/logo.svg" class="img--responsive"> </figure>
                </a>
            </nav>

        </aside>
    </div>
</div>