<!-- expressCart Row -->
<tr class="table-tr">

   <td class="table-item u-xs-15">
    <div class="u-flex--center"> <img alt="producto" src="../../img/product.jpg" class="u-xs-30 u-mgr--half"> B0520194</div>
</td>
<td class="table-item u-xs-15">Calefactor Halógeno SYCL 20</td>
<td class="table-item u-xs-20">
   <div class="stockAvailability">
    <ul class="stockAvailability-list">
        <li class="stockAvailability-item">30 uds. envío 24/48h</li>
        <li class="stockAvailability-item">180 uds. envío 2/5 días</li>
        <li class="stockAvailability-item">180 uds. envío 5/10 días</li>
    </ul>
</div>
</td>
<td class="table-item u-xs-10">
    <div class="unitControl unitControl--insetTable">
        <input type="text" value="5" class="form-input form-input--postfix unitControl-input">
        <span class="form-postfix unitControl-groupBtns">
            <button class="button button--icon unitControl-button unitControl-button--plus"></button>
            <button class="button button--icon unitControl-button unitControl-button--minus"></button>
        </span>
    </div>
</td>
<td class="table-item  table-item--number ">7,30 €</td>
<td class="table-item  table-item--number u-xs-10">-5%</td>

<td class="table-item table-item--number  shoppingCart-discount">1,85 €</td>
<td class="table-item  table-item--number  shoppingCart-subtotal u-xs-10">12,55 €</td>
<td class="table-item  table-item--centered u-xs-5"><button class="button button--icon" title="Eliminar">{{>svgIcon type='times'}}</button></td>
</tr>
