<span data-js-tooltip="{{tooltip}}" class="u-helpCursor">{{#if this.title}}{{this.title}}{{/if}}<svg class="icon icon--inline icon--waiting icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-info"></use></svg></span>


