<!-- expressCart Row -->
<tr class="table-tr table-tr--error">

     <td class="table-item u-xs-5 u-pd--half"><img alt="producto" src="../../img/product.jpg" class="img--responsive "></td>
     <td class="table-item u-xs-10">B0520194</td>
     <td class="table-item u-xs-20">Calefactor Halógeno SYCL 20</td>
     <td class="table-item u-xs-10">24/48h</td>
    <td class="table-item  u-xs-10 ">
        <div class="unitControl unitControl--insetTable unitControl--disabled">
            <input type="text" value="5" class="form-input form-input--postfix unitControl-input">
            <span class="form-postfix unitControl-groupBtns">
                <button class="button button--icon unitControl-button unitControl-button--plus"></button>
                <button class="button button--icon unitControl-button unitControl-button--minus"></button>
            </span>
        </div>
    </td>
    <td class="table-item  table-item--number u-xs-10 ">7,30 €</td>
    <td class="table-item  table-item--number u-xs-10">-5%</td>

    <td class="table-item table-item--number u-xs-10 shoppingCart-discount">1,85 €</td>
    <td class="table-item  table-item--number u-xs-10 shoppingCart-subtotal">12,55 €</td>
    <td class="table-item   table-item--centered">

        <button class="button button--icon" title="Eliminar">
           {{>svgIcon type='times'}}
         </button>

</td>
</tr>
