<thead class="table-thead ">
    <tr class="table-tr responsiveTable-tr">
     <th class="responsiveTable-th">
               <p> Detalle</p>
        </th>
      <th class="responsiveTable-th ">
      <p> Código BigBuy</p>

            <input type="text" class="form-input ">
        </th>
        <th class="responsiveTable-th u-tal u-pdr ">

                    <p class="u-pdl">Artículo</p>

            <input type="text" class="form-input ">
        </th>
       {{!--  <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Reserva
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed u-block">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Validación
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed u-block">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Caducidad
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed u-block">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    PVD
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed u-block">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">
                    Cantidad
                </div>
            </div>
            <input type="text" class="form-input form-input--condensed u-block">
        </th>
        <th class="responsiveTable-th">
            <div class="modularGrid">
                <div class="modularGrid-module u-pdb--third">

                </div>
            </div>

        </th> --}}

    </tr>
</thead>

