<tr class="table-tr responsiveTable-tr" data-js-cartRow="row">
 <td class="responsiveTable-td">
        <a class="button button--icon" href="stocksLockDetails.html" title="Detalle de bloqueo"> <img src="../../img/mobileIcons/plus.svg"  class="icon icon--xs icon--inline"alt="" ></a>
    </td>
    <td class="responsiveTable-td u-tal">P1_F05050181</td>
    <td class="responsiveTable-td u-tal u-pdr">
    <div class="modularGrid">
        <div class="modularGrid-module u-xs-10">
           <img  class="" src="http://192.168.1.211/bigbuy_e/34221-product_card_mini/cup-cake-maker-maquina-para-hacer-magdalenas.jpg" >
        </div>
        <div class="modularGrid-module u-xs-85 u-pdl--half u-pdt--half">
           Cup Cake Maker | Máquina para hacer magdalenas
        </div>
    </div>



    </td>
    {{!-- <td class="responsiveTable-td u-tar">10/10/2015<br>09:30h</td>
    <td class="responsiveTable-td u-tar">12/10/2015<br>09:30h</td>
    <td class="responsiveTable-td u-tar">-9d 20h</td>
    <td class="responsiveTable-td ">2.000,00 €</td>
    <td class="responsiveTable-td "><input type="text" value="5" class="form-input" data-js-mobileInput="" ></td>
    <td class="responsiveTable-td " >
        <button class="button button--primary button--addcart" title="Añadir al carrito">Añadir al carrito</button>

        <button class="button button--icon" data-js-cartRow="buttonRemove"><strong>✕</strong></button>
    </td> --}}
</tr>
