<div class="responsiveTable-container">
    <table class="table responsiveTable-table responsiveTable-table--auto">
        {{>lockStocksTableHeader}}
        <tbody class="table-tbody table-tbody--stripped">
            {{>lockStocksTableRow1}}
            {{>lockStocksTableRow1}}
            {{>lockStocksTableRow1}}
            {{>lockStocksTableRow1}}
            {{>lockStocksTableRow1}}
            {{>lockStocksTableRow1}}
            </tbody>
    </table>
</div>