
  <div class="modularGrid-module u-pd">

    <table class="mTDList ">
      <tr>
         <td class="mTDList-item mTDList-item--dt">Código Bigbuy</td>
        <td class="mTDList-item  mTDList-item--dd">ES24379919B</td>
      </tr>
       <tr>
         <td class="mTDList-item mTDList-item--dt">Artículo</td>
        <td class="mTDList-item  mTDList-item--dd">
        <img src="http://192.168.1.211/bigbuy_e/34221-product_card_mini/cup-cake-maker-maquina-para-hacer-magdalenas.jpg" class="">
         <p >Cup Cake Maker | Máquina para hacer magdalenas</p>
        </td>
      </tr>
      <tr>
         <td class="mTDList-item mTDList-item--dt">Reserva</td>
        <td class="mTDList-item  mTDList-item--dd"> 11/11/2014 174713</td>
      </tr>
       <tr>
         <td class="mTDList-item mTDList-item--dt">Validación</td>
        <td class="mTDList-item  mTDList-item--dd">11/11/2014 164958</td>
      </tr>
      <tr>
         <td class="mTDList-item mTDList-item--dt">Caducidad</td>
        <td class="mTDList-item  mTDList-item--dd">18/11/2014</td>
      </tr>
      <tr>
         <td class="mTDList-item mTDList-item--dt">PVD</td>
        <td class="mTDList-item  mTDList-item--dd">105,12 €</td>
      </tr>
      <tr>
         <td class="mTDList-item mTDList-item--dt">Cantidad</td>
        <td class="mTDList-item  mTDList-item--dd">60</td>
      </tr>
      <tr>
         <td class="mTDList-item mTDList-item--dt">Estado</td>
        <td class="mTDList-item  mTDList-item--dd">Finalizado </td>
      </tr>







   </table>


</div>
