<fieldset class="actionGroup-panel" >
    <header class="actionGroup-header">
        <h2 class="actionGroup-title">Escoja uno o más idiomas para poder descargar sus archivos:</h2>
    </header>
    <section class="actionGroup-body" >
        {{> langlist }}
    </section>
</fieldset>

