<label class="downloadBanner downloadBanner--min" title="Escobilla de bano flamenco Wagon Trend">
  <input type="checkbox" class="downloadBanner-checkbox" data-depid="socialDownBtn">
  <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
  <img src="../../img/escobilla-de-bano-flamenco-wagon-trend.jpg" class="downloadBanner-thumb"/>
  <span class="downloadBanner-text">Escobilla de baño flamenco Wagon Trend</span>
  <span class="downloadBanner-border"></span>
</label>
