
<h4 class="supertitle u-pdb--third">1250x768</h4>

<section class="downloadBanner-container" data-jsslider="cont">


  <div class="downloadBanner-content" >

    <div class="downloadBanner-list" data-jsslider="list">
      <label class="downloadBanner-item">
        <input class="downloadBanner-checkbox"  type="checkbox" name="news1">
        <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
        <img data-src="../../img/downloads/1a.jpg" class="downloadBanner-thumb"/>  
      </label>
      <label class="downloadBanner-item">
        <input class="downloadBanner-checkbox"  type="checkbox" name="news2">
        <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
        <img data-src="../../img/downloads/2a.jpg" class="downloadBanner-thumb"/>  
      </label>
      <label class="downloadBanner-item">
        <input class="downloadBanner-checkbox"  type="checkbox" name="news3">
        <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
        <img data-src="../../img/downloads/3a.jpg" class="downloadBanner-thumb"/>  
      </label>
      <label class="downloadBanner-item">
        <input class="downloadBanner-checkbox"  type="checkbox" name="news4">
        <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
        <img data-src="../../img/downloads/1a.jpg" class="downloadBanner-thumb"/>  
      </label>
      <label class="downloadBanner-item">
        <input class="downloadBanner-checkbox"  type="checkbox" name="news5">
        <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
        <img data-src="../../img/downloads/2a.jpg" class="downloadBanner-thumb"/>  
      </label>
      <label class="downloadBanner-item">
        <input class="downloadBanner-checkbox"  type="checkbox" name="news6">
        <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
        <img data-src="../../img/downloads/3a.jpg" class="downloadBanner-thumb"/>  
      </label>
    </div> 
  </div>
  <button class="button button--control  button--slider" data-jsslider="btn_bw" disabled> {{>svgIcon type='chevronBtnLeftAlt' }}</button>
  <button class="button button--control button--slider" data-jsslider="btn_fw" disabled> {{>svgIcon type='chevronBtnRightAlt' }}</button>
</section> 
