<div class="panel panel--active panel--reveal" >
  <div class="panel-title">
    {{>svgIcon type='download'}}
    <div class="panel-titleName"><a class="panel-breadcrumbLink" href="">Descargas</a></div>
  </div>
   <div class="panelHeader panelHeader--dataContent">
   <nav class="panel-tabs">
     <button data-paneltabbtn="tab10" class="panel-tabs-item ">Archivos CSV/XML (Formato antiguo)</button>
     <button data-paneltabbtn="tab11" class="panel-tabs-item">Material Márketing</button>
     <button data-paneltabbtn="tab12" class="panel-tabs-item">Material Newsletter</button>
     <button data-paneltabbtn="tab13" class="panel-tabs-item">Manuales de productos</button>
     <button data-paneltabbtn="tab14" class="panel-tabs-item panel-tabs-item--active">Material Redes Sociales</button>
   </nav>
 </div>
  <div class="panel-content" >
    <div id="tab10" style="display:none;">
      {{>panelDownloadsSincroPro}}
    </div>
     <div id="tab11" style="display:none;">
     {{>panelDownloadsMarketing}}
    </div>
     <div id="tab12" style="display:none;">
      {{>panelDownloadsNewsletters}}
    </div>
     <div id="tab13" class="fixedTableContent-tableContent fixedTableContent-tableContent--downloads u-md-50" style="display:none;">
     {{>panelDownloadsManuals}}
    </div>
     <div id="tab14">
      {{>panelDownloadsSocial}}
    </div>
  </div>
</div>