      <section class="panel-section">
        <div class="panel-section-title panelHeader-fixedPanelTitleBar">
          Seleccione los archivos a descargar antiguos
          <div class="pack-groupPacks u-mgl u-pdl">
            <span class="">1 idioma disponible en Pack </span>
            <a class="pack pack--pro">Pro </a>
            <span class=" u-mgl u-pdl">23 idiomas disponibles en Packs </span>
            <a class="pack pack--business">Business </a>
            <a class="pack pack--premium">Premium </a>
          </div>
        </div>
        <div data-js-checkactions="actions" class="actionGroup">
          {{> selectGroupAlt}}
        </div>
        <div class="msgBox msgBox--error u-mgt--6th u-hide">Debe seleccionar al menos un idioma y una familia</div>
        <div class="u-pd">
          <fieldset class="form-fieldset--borderless">
            <h3 class="form-fieldset-title" >CSV/XML general </h3>
            <div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
              <img src="../../img/draw_csv.svg" class="downloadElem-csvImg"/>
              <img src="../../img/draw_csv_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
              <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013</strong> CSV de productos general</p>
            </div>
            <div class="downloadElem-button" data-js-checkactions="elem" data-js-selectedclass="downloadElem-button--selected" >
              <img src="../../img/draw_xml.svg" class="downloadElem-csvImg"/>
              <img src="../../img/draw_xml_select.svg" class="downloadElem-csvImg downloadElem-csvImg--alt"/>
              <p class="downloadElem-text"><strong class="downloadElem-date">16/10/2013</strong> XML de productos general</p>
            </div>
             <div class="modularGrid-module u-pdb--half u-pdt--half">
        <strong class="form-fieldset-title ">Archivos CSV para Prestashop</strong>
         <span class="form-info u-mgl--half" >
          <a href="http://www.bigbuy.eu/es/archivos-csv-xml.html" target="_blank" class="info">
            <i class="icon fa-lg fa-info-circle"></i>
            M치s informaci칩n
          </a>
      </span>


        </div>

            {{>panelDownloadsCSV}}
          </fieldset>

        </div>
      </section>
      <section class="panel-section">
        <div class="panel-section-title u-brdt">
          Manuales
        </div>
        <div class="u-pd">
          <div class="downloadElem-button">
            <img src="../../img/draw_pdf.svg" class="downloadElem-csvImg"/>
            <p class="downloadElem-text">Manual importaci칩n Prestashop</p>
          </div>
          <div class="downloadElem-button">
            <img src="../../img/draw_video.svg" class="downloadElem-videoImg"/>
            <p class="downloadElem-text">Videotutorial de importaci칩n Prestashop</p>
          </div>
        </div>
      </section>




