<section class="panel-section">
        {{>tableDownloadsHeader}}
        <table class="table">
            <tbody class="table-tbody table-tbody--stripped">
                {{>tableRowDownloads1}}
                {{>tableRowDownloads2}}
                {{>tableRowDownloads1}}
                {{>tableRowDownloads1}}
                {{>tableRowDownloads1}}
                {{>tableRowDownloads1}}
                {{>tableRowDownloads2}}
                {{>tableRowDownloads1}}
            </tbody>
        </table>

</section>