
<h4 class="supertitle u-pdt u-pdb--third">355x150</h4>

<section class="downloadBanner-container" data-jsslider="cont">


<div class="downloadBanner-content" >

  

  <div class="downloadBanner-list" data-jsslider="list">
    {{#times 3}}
    <label class="downloadBanner-item">
      <input class="downloadBanner-checkbox" type="checkbox">
      <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
      <img data-src="../../img/downloads/1c.jpg" class="downloadBanner-thumb"/>  
    </label>
    <label class="downloadBanner-item">
      <input class="downloadBanner-checkbox" type="checkbox">
      <img src="../../img/blue_select_check.svg" class="downloadBanner-checked">
      <img data-src="../../img/downloads/2c.jpg" class="downloadBanner-thumb"/>  
    </label>
{{/times}}
    
  </div> 
 </div>
 <button class="button button--control  button--slider" data-jsslider="btn_bw" disabled> {{>svgIcon type='chevronBtnLeftAlt' }}</button>
 <button class="button button--control button--slider" data-jsslider="btn_fw" disabled> {{>svgIcon type='chevronBtnRightAlt' }}</button>
</section> 
