{{!-- <section class="panel-section ">
    <div class="panel-section-title panelHeader-fixedPanelTitleBar">
        Seleccione los archivos a descargar
        <div class="pack-groupPacks u-mgl u-pdl">
            <span class="">1 idioma disponible en Pack </span>
            <a class="pack pack--pro">Pro </a>
            <span class=" u-mgl u-pdl">23 idiomas disponibles en Packs </span>
            <a class="pack pack--business">Business </a>
            <a class="pack pack--premium">Premium </a>
        </div>
    </div>
    <div class="u-pd "> --}}
        {{#times 10}}
        {{>panelDownloadsBannerOld}}
        {{/times}}
        
{{!--     </div>
</section> --}}