      <section class="panel-section">
        <div class="panel-section-title panelHeader-fixedPanelTitleBar">
          Seleccione los archivos a descargar
          <div class="pack-groupPacks u-mgl u-pdl">
            <span class="">1 idioma disponible en Pack </span>
            <a class="pack pack--pro">Pro </a>
            <span class=" u-mgl u-pdl">23 idiomas disponibles en Packs </span>
            <a class="pack pack--business">Business </a>
            <a class="pack pack--premium">Premium </a>
          </div>
        </div>
        <div data-js-checkactions="actions" class="actionGroup">
          {{> selectGroup}}
        </div>
        <div class="msgBox msgBox--error u-mgt--6th u-hide">Debe seleccionar al menos un idioma y una familia</div>
        <div class="u-pd">
          <fieldset class="form-fieldset--borderless">
            <h3 class="form-fieldset-title" >CSV/XML general </h3>
            {{>downloadButton downloadBtns.csvTarifa}} 
            <div class="modularGrid-module u-pdb--half u-pdt--half">
              <strong class="form-fieldset-title ">Archivos CSV para Prestashop</strong>
              <span class="form-info u-mgl--half" >
                <a href="http://www.bigbuy.eu/es/archivos-csv-xml.html" target="_blank" class="info">
                  <i class="icon fa-lg fa-info-circle"></i>
                  Más información
                </a>
              </span>
            </div>
            {{>panelDownloadsCSV}}
          </fieldset>

        </div>
      </section>
      <section class="panel-section">
        <div class="panel-section-title u-brdt">
          Manuales
        </div>
        <div class="u-pd">
          {{>downloadButton downloadBtns.importacionPrestashop}}
          {{>downloadButton downloadBtns.video}}
        </div>
      </section>




