{{!-- 
<div class="downloadBanner-list" title="Robots aspiradores inteligentes"> --}}
<h1>{{title}}</h1>
<div class="downloadBanner-list">



{{!-- {{#each list}}


<div class="downloadBanner u-mgt--3rd" title="Robots aspiradores inteligentes">
  <input class="downloadBanner-checkbox" data-js-downloadBanner-id="banner" data-js-downloadBanner="banner" type="checkbox">
  <img src="../../img/{{img}}.jpg" class="downloadBanner-thumb"/>  
</div>

{{/each}}
 --}}


</div> 
