

<nav class="actionGroup-options" >
<input type="checkbox" checked="false" id="actionGroup-languages-checkbox-alt" class="actionGroup-checkbox" >

<label class="actionGroup-action" for="actionGroup-languages-checkbox-alt">Seleccione idiomas {{>svgIcon type='caretDown' class='actionGroup-icon'}}</label>
{{> languagesSelectListAlt }}
</nav>

<button class="button button--primary  button--narrow actionGroup-button" >Descargar archivos</button>








