

<nav class="actionGroup-options" >
<input type="checkbox" checked="false" id="actionGroup-languages-checkbox" class="actionGroup-checkbox" >

<label class="actionGroup-action" for="actionGroup-languages-checkbox">Seleccione idiomas {{>svgIcon type='caretDown' class='actionGroup-icon'}}</label>
{{> languagesSelectListAlt }}
</nav>
<nav class="actionGroup-options">
<input type="checkbox" checked="false" id="actionGroup-families-checkbox" class="actionGroup-checkbox" >

<label class="actionGroup-action" for="actionGroup-families-checkbox">Seleccione familias {{>svgIcon type='caretDown' class='actionGroup-icon'}}</label>
{{> familiesSelectList}}
</nav>
<button class="button button--primary  button--narrow actionGroup-button" >Descargar archivos</button>








