<table class="table panelHeader-fixedTableHeader panelHeader-fixedTableHeader--downloadsHeader" >
    <thead class="table-thead ">
        <tr class="table--tr table-tr--sort">
            <th class="table-th table-item u-pdl" colspan="2">
              Código o nombre de Producto
            </th>

        </tr>
        <tr class="table-tr  table-tr--filters">
            <th class="table-th table-item u-pdl">
                <input class="form-input form-input--collapse" id="bbb" type="text">
            </th>
            <th class="table-th table-item table-item--boolean  u-pdr u-xs-15">
                Descargar
            </th>
        </tr>

    </thead>
</table>