<tr class="table-tr" data-js-back="row">
    <td class="table-item u-pdl">
    Robots aspiradores inteligentes

    {{>downloadsLanglist}}

    </td>
    <td class="table-item table-item--boolean table-item--handler u-xs-15">
		<button title="Descargar" class="button button--icon">
        	   <img src="../../img/draw_pdf.svg" class="icon icon--inline  icon--md">
        </button>
    </td>
</tr>


