<tr class="table-tr" data-js-back="row">
    <td class="table-item u-pdl">Cortina magnética

    {{>downloadsLanglist}}
    </td>
    <td class="table-item  table-item--boolean table-item--handler" >

    <button title="Eliminar" class="button button--icon" disabled>

                         <img src="../../img/draw_pdf_disabled.svg" class="icon icon--inline  icon--md">
                  </button>


    </td>
</tr>


