    <button title="Quitar este filtro" class="uploadFile u-mgt--half uploadFile--inline">{{name}}<svg role="img" class="uploadFile-icon"> <use xlink:href="../../img/icons/svg-defs.svg#icon-times"></use></svg></button>
