 <div class="modularGrid">
    <div class="modularGrid-module u-xxs-50 u-pdb">
        <label for="rangeFilterLow" class="form-label">de</label>
    </div>
    <div class="modularGrid-module u-xxs-50 u-tar u-pdb">
        <label for="rangeFilterHigh" class="form-label">a</label>
    </div>
    <div class="modularGrid-module u-pdb">
        <aside id="html5range"></aside>
    </div>
</div>
<div class="rangeFilter rangeFilter-fieldset"><!-- fieldset flexbox bug in chrome-->
<div class="rangeFilter-inputCont">

        <input class="rangeFilter-input" type="number" min="0" max="1000" id="rangeFilterLow" />

</div>
<div class="rangeFilter-inputCont">


        <input  class="rangeFilter-input" type="number" min="0" max="10000" id="rangeFilterHigh" />
</div>

</div>
