<form class="form">
    <div class="modularGrid u-pd u-pdb-0">
        <div class="modularGrid-module">
            <fieldset class="form-fieldset form-fieldset--borderless">
                <select class="form-select">
                    <option>-- Seleccione el motivo de su consulta --</option>
                    <option>Facturación</option>
                    <option>Reembolso con mensajería</option>
                    <option>Abonos pendientes de reintegrar en monedero</option>
                    <option>Otra consulta</option>
                </select>
            </fieldset>
            {{>contactFormCommonFieldsMob}}
        </div>
    </div>
</form>