<form class="form">
    <div class="modularGrid u-pd u-pdb-0">
        <div class="modularGrid-module u-pd--half u-md-50">
                <select class="form-select">
                    <option>-- Seleccione el motivo de su consulta --</option>
                    <option>Dudas funcionamiento web</option>
                    <option>Funcionalidad de algún producto</option>
                    <option>Error contenido de un producto</option>
                    <option>Garantía o devolución</option>
                    <option>Otra consulta</option>
                </select>
        </div>
    </div>
    {{>contactFormCommonFieldsMob}}
</form>
