<div class="modularGrid u-pd u-pdb-0 u-brb">
    <h3 class="form-fieldset-title u-pd--half">Departamento de soporte técnico</h3>
    <div class="modularGrid-module contactData-item">
        <img src="../../img/support_mail.svg" alt="" class="img--responsive">
    </div>
    {{>contactoHorario}}
</div>
