<form class="form">
    <div class="modularGrid u-pd u-pdb-0">
        <div class="modularGrid-module u-pd--half u-md-50">
            <select class="form-select">
                <option>-- Seleccione el motivo de su consulta --</option>
                <option>Dudas comerciales</option>
                <option>Dudas para ser distribuidor</option>
                <option>Packs Mayoristas</option>
                <option>Tienda Dropshipping</option>
                <option>Consultas de stock</option>
                <option>Necesito un presupuesto</option>
                <option>Otra consulta</option>
            </select>
        </div>
    </div>
    {{>contactFormCommonFieldsMob}}
</form>
