<form class="form">
    <div class="modularGrid u-pd u-pdb-0">
        <div class="modularGrid-module u-pd--half u-md-50">
                <select class="form-select">
                    <option>-- Seleccione el motivo de su consulta --</option>
                    <option>Fallos de sincronización de artículos</option>
                    <option>Incidencia técnica Tienda Dropshipping</option>
                    <option>Dudas técnicas sobre archivos CSV/XML</option>
                    <option>Otra consulta</option>
                </select>
        </div>
    </div>
     {{>contactFormCommonFieldsMob}}
</form>
