<form class="form">
   <div class="modularGrid u-pd u-pdb-0">
        <div class="modularGrid-module u-pd--half u-md-50">
                <select class="form-select">
                    <option>-- Seleccione el motivo de su consulta --</option>
                    <option>Quiero cancelar un pedido</option>
                    <option>Modificar un pedido (dirección, contacto, etc.)</option>
                    <option>¿Dónde está mi pedido?</option>
                    <option>Incidencia en la entrega</option>
                    <option>Otra consulta</option>
                </select>
        </div>
    </div>
     {{>contactFormCommonFieldsMob}}
</form>
