<div class="modularGrid-module contactData-item">
    <h3 class="contactData-title"><img class="icon  icon--inline" src="../../img/mobileIcons/clock.svg"/>Horario</h3>
    <p class="contactData-subItem"> <strong>Lunes a Jueves:</strong><br/>9:00 a 14:00 / 15:00 a 18:30</p>
    <p class="contactData-subItem"> <strong>Viernes:</strong><br/>9:00 a 14:00</p>
</div>