<div class="modularGrid u-pd u-pdb-0">
    <h3 class="form-fieldset-title u-pd--half ">Información personal</h3>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-input ">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-input ">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Email</label>
        <input type="text" class="form-input">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Población / Ciudad</label>
        <input type="text" class="form-input">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Estado / Provincia</label>
        <input type="text" class="form-input">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">País</label>
        <input type="text" class="form-input">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Teléfono</label> <span class="form-prefix">+34</span>
        <input type="text" class="form-input {{!-- form-input--prefix --}}">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Empresa</label>
        <input type="text" class="form-input">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Asunto</label>
        <input type="text" class="form-input">
    </div>
    <div class="modularGrid-module u-sm-50 u-pd--half">
        <label class="form-label" for="">Mensaje</label>
        <textarea class="form-textarea"></textarea>
    </div>
</div>
<div class="modularGrid u-pdl u-pdb">
    <div class="modularGrid-module u-pdl--half u-pdb u-xs-60 u-sm-35 u-md-25 u-lg-20 u-xl-15">
        <button data-js-continuar-address="" class="button  button--full button--primary">Enviar</button>
    </div>
</div>