<form class="form">
    <div class="modularGrid">
        <div class="modularGrid-module">
            <fieldset class="form-fieldset form-fieldset--borderless">
                <select class="form-select ">
                    <option>-- Seleccione el motivo de su consulta --</option>
                    <option>Dudas comerciales</option>
                    <option>Dudas para ser distribuidor</option>
                    <option>Packs Mayoristas</option>
                    <option>Tienda Dropshipping</option>
                    <option>Consultas de stock</option>
                    <option>Necesito un presupuesto</option>
                    <option>Otra consulta</option>
                </select>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--borderless">
                <h3 class="form-fieldset-title">Información personal</h3>
                <div class="modularGrid">
                    <div class="modularGrid-module">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-input ">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-input ">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Email</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Población / Ciudad</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Estado / Provincia</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">País</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Teléfono</em></label>
                        <span class="form-prefix">+34</span>
                        <input type="text" class="form-input form-input--prefix">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Empresa</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Asunto</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module">
                        <label class="form-label" for="">Mensaje</label>
                        <textarea class="form-textarea"> </textarea>
                    </div>




                    <div class="modularGrid-module u-xs-60 u-sm-35 u-md-25 u-lg-15 u-xl-15 u-xxl-15">
                        <button data-js-continuar-address="" class="button  button--primary button--full">Enviar</button>
                    </div>
                    

                    
                </div>
            </fieldset>

        </div>
    </div>
</form>
