<div class="modularGrid u-pd u-pdb-0 u-brb">
<h3 class="form-fieldset-title u-pd--half">Departamento comercial y atención a distribuidores</h3>
    <div class="modularGrid-module contactData-item">
        <img src="../../img/comercial_phone.svg" alt="" class="img--responsive">
    </div>
    <div class="modularGrid-module contactData-item">
        <img src="../../img/comercial_mail.svg" alt="" class="img--responsive">
    </div>
    {{>contactoHorario}}
</div>
