<li class="featuredSlider-item">
  <div class="homeslider-boxed homeslider-boxed--full">
    <aside class="homeslider-message homeslider-message--full">
      <div class="u-flwrap u-flex--center u-pdr">
       <div class="u-lg-100 u-pdr"> 
        <p class="homeslider-title">BIGBUY</p>
               <p class="homeslider-slogan">El mayorista ideal <br>para su negocio online</p>
        </div>
        <button class="button button--primary homeslider-button" title="Ser distribuidor">Ser distribuidor</button>
      </div>
      <ul class="homeslider-explains">
        <li class="homeslider-explainsitem">Miles de productos en stock<small> (Primeras marcas)</small></li>
        <li class="homeslider-explainsitem">Catálogo en 24 idiomas europeos</li>
        <li class="homeslider-explainsitem">Servicio Dropshipping </li>
        <li class="homeslider-explainsitem">Tienda dropshipping 360º</li>
        <li class="homeslider-explainsitem">Multichannel Integration Platform<small> (Prestashop, Ebay, Amazon, etc.)</small></li>
      </ul>
    </aside>
  </div>
  <picture class="homeslider-img">
    <source  media="(min-width: 1400px)" srcset="../../img/banners/warehouse_huge.jpg"/>
    <source  media="(min-width: 1200px)" srcset="../../img/banners/warehouse_large.jpg"/>
    <source  media="(min-width: 1024px)" srcset="../../img/banners/warehouse_big.jpg"/>
    <source  media="(min-width: 640px)" srcset="../../img/banners/warehouse_medium.jpg"/>
    <source  media="(min-width: 480px)" srcset="../../img/banners/warehouse_small.jpg"/>
    <source  media="(min-width: 300px)" srcset="../../img/banners/warehouse_tiny.jpg"/>
    <img src="../../img/banners/warehouse_huge.jpg"  />
  </picture>
</li>

