
<section class="featuredSlider{{#if class}} {{class}}{{/if}}">

    <div class="featuredSlider-slider js_slider" data-autorotate="20"  data-js-slider="no-slider" data-js-id-slider="0">
        <ul>

            {{>sliderBannerSpinner}}
             {{>sliderBannerReckit}}
            {{>sliderBannerClocks}}
            {{>sliderBannerWarehouse}}
            {{>sliderBannerAwards}}
            {{>sliderBannerDropshipping}}
            {{>sliderBannerItem2 pngImg='banner_slider_home4' text1='24  IDIOMAS EUROPEOS' subtitle1='VENDA EN CUALQUIER PAÃS EUROPEO' subtitle2='TRADUCCIONES POR PROFESIONALES NATIVOS'  buttontext='Ser distribuidor' svgImgAlt='europe_map'  svgImgAlMobile='mapa_mobile'}}
            {{>sliderBannerProducts}}
            {{>sliderBannerPaypal}}



        </ul>
    </div>

</section>





