<li class="featuredSlider-item">
  <div class="homeslider-boxed">
    <aside class="homeslider-message">
      <p class="homeslider-texts">MÁS DE 15.000<br>REFERENCIAS<br>EN STOCK</p>
      <p class="homeslider-subtitles">MULTITUD DE NOVEDADES<br>TODAS LAS SEMANAS</p>
     <button class="button button--primary homeslider-button" title="Crear cuenta">+ info</button>
   </aside>
   </div>
<picture class="homeslider-img">
  <source  media="(min-width: 1400px)" srcset="../../img/banners/products_huge.jpg"/>
  <source  media="(min-width: 1200px)" srcset="../../img/banners/products_large.jpg"/>
  <source  media="(min-width: 1024px)" srcset="../../img/banners/products_big.jpg"/>
  <source  media="(min-width: 640px)" srcset="../../img/banners/products_medium.jpg"/>
  <source  media="(min-width: 480px)" srcset="../../img/banners/products_small.jpg"/>
  <source  media="(min-width: 300px)" srcset="../../img/banners/products_tiny.jpg"/>
  <img src="../../img/banners/products_huge.jpg"  />
</picture>

</li>
