
<li class="featuredSlider-item" >
  <div class="homeslider-boxed">
    <aside class="homeslider-message">
      <p class="homeslider-texts">
        SERVICIO
        <br>DROPSHIPPING
      </p>
      <p class="homeslider-subtitles">
        USTED VENDE Y BIGBUY SE ENCARGA DEL RESTO
      </p>
      <button title="Ser distribiudor" class="button button--primary homeslider-button">+ info</button>
    </aside>
    <div class="homeslider-svgCont" >
      <p class="homeslider-svgText homeslider-svgText--text1">Su cliente</p>
      <p class="homeslider-svgText homeslider-svgText--text2">Su e-Commerce<br/>o e-Marketplace</p>
      <p class="homeslider-svgText homeslider-svgText--text3">BigBuy</p>
      <img class="homeslider-svgimg" src="../../img/banners/dropshipping.svg">
    </div>
  </div>
   <picture class="homeslider-img">
    <source  media="(min-width: 1400px)" srcset="../../img/banners/dropshipping_huge.jpg"/>
    <source  media="(min-width: 1200px)" srcset="../../img/banners/dropshipping_large.jpg"/>
    <source  media="(min-width: 1024px)" srcset="../../img/banners/dropshipping_big.jpg"/>
    <source  media="(min-width: 640px)" srcset="../../img/banners/dropshipping_medium.jpg"/>
    <source  media="(min-width: 480px)" srcset="../../img/banners/dropshipping_small.jpg"/>
    <source  media="(min-width: 300px)" srcset="../../img/banners/dropshipping_tiny.jpg"/>
    <img src="../../img/banners/dropshipping_huge.jpg"  />
  </picture>
</li>
