
<li class="featuredSlider-item" >
  <div class="homeslider-boxed">
    <aside class="homeslider-message">
      <p class="homeslider-texts"> Spinner Fidget </p>
      {{!-- <p class="homeslider-subtitles homeslider-subtitles--locked "><img src="../../img/icons/paypal_alt.svg" class="icon icon--inline icon--xs homeslider-msgPaypalIcon ">REGALO POWER BANK 4000 <span class="u-camel">mAh </span></p> --}}
     
      <p class="homeslider-subtitles homeslider-subtitles--inverse">PRODUCTO EN STOCK</p>
      <p class="homeslider-subtitles homeslider-subtitles--inverse">ENTREGA INMEDIATA</p>
      <p class="homeslider-subtitles homeslider-subtitles--inverse">FABRICACIÓN PROPIA</p>
      <button class="button button--primary homeslider-button" title="Crear cuenta">+ info</button>
      
    </aside>

    {{!-- <div class="homeslider-svgCont">
     <img class="homeslider-svgimg homeslider-svgimg--big" src="../../img/banners/paypal_powerbank.png">
   </div> --}}
 </div>
 <picture class="homeslider-img">
  <source  media="(min-width: 1400px)" srcset="../../img/banners/spinners_huge.jpg"/>
  <source  media="(min-width: 1200px)" srcset="../../img/banners/spinners_large.jpg"/>
  <source  media="(min-width: 1024px)" srcset="../../img/banners/spinners_big.jpg"/>
  <source  media="(min-width: 640px)" srcset="../../img/banners/spinners_medium.jpg"/>
  <source  media="(min-width: 480px)" srcset="../../img/banners/spinners_small.jpg"/>
  <source  media="(min-width: 300px)" srcset="../../img/banners/spinners_tiny.jpg"/>
  <img src="../../img/banners/spinners_huge.jpg"  />
</picture>
</li>


