<li class="featuredSlider-item">
  <div class="homeslider-boxed">
    <aside class="homeslider-message">
      <p class="homeslider-texts">MEJOR E-COMMERCE<br>INNOVACIÓN E<br>INTERNACIONAL</p>
      <button class="button button--primary homeslider-button" title="Ser distribuidor">Ser distribuidor</button>
    </aside>

    <div class="homeslider-svgCont" >


   <img class="homeslider-svgimg" src="../../img/banners/awards.svg">

 </div>












  </div>
  <picture class="homeslider-img">
    <source  media="(min-width: 1400px)" srcset="../../img/banners/awards_huge.jpg"/>
    <source  media="(min-width: 1200px)" srcset="../../img/banners/awards_large.jpg"/>
    <source  media="(min-width: 1024px)" srcset="../../img/banners/awards_big.jpg"/>
    <source  media="(min-width: 640px)" srcset="../../img/banners/awards_medium.jpg"/>
    <source  media="(min-width: 480px)" srcset="../../img/banners/awards_small.jpg"/>
    <source  media="(min-width: 300px)" srcset="../../img/banners/awards_tiny.jpg"/>
    <img src="../../img/banners/awards_huge.jpg"  />
  </picture>
</li>




















