<fieldset class="form-fieldset--borderless u-pd u-brb">
            <h3 class="form-fieldset-title">Datos de usuario</h3>
            <div class="modularGrid">
                <div class="modularGrid-module u-sm-3rd">
                    <label class="form-label" for="">E-mail</label>
                    <input type="text" name="nombre" class="form-input">
                </div>
                <div class="modularGrid-module u-sm-3rd u-sm-pdl">
                    <label class="form-label" for="">Contraseña</label>
                    <input type="text" name="nombre" class="form-input">
                </div>
                <div class="modularGrid-module u-sm-3rd u-sm-pdl">
                    <label class="form-label" for="">Confirmar contraseña</label>
                    <input type="text" name="nombre" class="form-input">
                </div>
            </div>
        </fieldset>