<section class="footer-sitemap-section BigBuyCountries">
<p class="footer-sectionTitle u-mgb">BigBuy en el mundo</p>
<p class="footer-sectionText u-md-60">Realizamos envíos urgentes a casi todos los países del mundo.<br>
Nuestro catálogo está traducido a los 24 idiomas del mercado europeo.</p>
<div class="modularGrid">
<div class="modularGrid-module u-md-6th u-mgt">
<ul>
<li class="BigBuyCountries-item"> Español</li>
<li class="BigBuyCountries-item"> English</li>
<li class="BigBuyCountries-item"> Français</li>
<li class="BigBuyCountries-item"> Português</li>
<li class="BigBuyCountries-item"> Română</li>
<li class="BigBuyCountries-item"> Italiano</li>
<li class="BigBuyCountries-item"> Magyar</li>
<li class="BigBuyCountries-item"> Deutsch</li>
</ul>
</div>
<div class="modularGrid-module u-md-6th u-mgt">
<ul>
<li class="BigBuyCountries-item"> Lietuvių</li>
<li class="BigBuyCountries-item"> Slovenščina</li>
<li class="BigBuyCountries-item"> Български</li>
<li class="BigBuyCountries-item"> Dansk</li>
<li class="BigBuyCountries-item"> Suomi</li>
<li class="BigBuyCountries-item"> Čeština</li>
<li class="BigBuyCountries-item"> Ελληνικά</li>
<li class="BigBuyCountries-item"> Nederlands</li>
</ul>
</div>
<div class="modularGrid-module u-md-6th u-mgt u-pdl--half">
<ul>
<li class="BigBuyCountries-item"> Slovenčina</li>
<li class="BigBuyCountries-item"> Hrvatski</li>
<li class="BigBuyCountries-item"> Latviešu</li>
<li class="BigBuyCountries-item"> Polski</li>
<li class="BigBuyCountries-item"> Eesti</li>
<li class="BigBuyCountries-item"> Pусский</li>
<li class="BigBuyCountries-item"> Svenska</li>
<li class="BigBuyCountries-item"> Norsk</li>
</ul>
</div>
</div>
</section>