
<section class="footer-sitemap-section">
  <p class="footer-sectionTitle">Pricing</p>
  <ul class="footer-sitemap-list u-pdb">
    <li><a href="#" class="footer-sitemap--link">Packs mayoristas</a></li>
    <li><a href="#" class="footer-sitemap--link">Tienda Dropshipping 360ª</a></li>

  </ul>
  <p class="footer-sectionTitle">Catálogo</p>     
   <ul class="footer-sitemap-list u-pdb--half">
    <li><a href="#" class="footer-sitemap--link">BigBuy Shop</a></li>
    <li><a href="#" class="footer-sitemap--link">Categorías, etiquetas y marcas</a></li>
  </ul> 

</section>
   