

  <section class="footer-sitemap-section">
    <p class="footer-sectionTitle">Condiciones generales</p>
    <ul class="footer-sitemap-list u-pdb--half">
      <li><a href="https://www.bigbuy.eu/es/formas-de-pago.html" class="footer-sitemap--link" rel="nofollow">Formas de pago</a></li>
      <li><a href="https://www.bigbuy.eu/es/entrega-envio.html" class="footer-sitemap--link" rel="nofollow">Entrega y envío</a></li>
      <li><a href="https://www.bigbuy.eu/es/impuestos.html" class="footer-sitemap--link" rel="nofollow">Impuestos</a></li>
      <li><a href="https://www.bigbuy.eu/es/garantia.html" class="footer-sitemap--link" rel="nofollow">Garantía</a></li>
      <li><a href="https://www.bigbuy.eu/es/condiciones-especiales-mayoristas.html" class="footer-sitemap--link" rel="nofollow">Condiciones posventa</a></li>
      <li><a href="https://www.bigbuy.eu/es/condiciones-generales-y-de-privacidad.html" class="footer-sitemap--link" rel="nofollow">Condiciones generales y de privacidad</a></li>
    </ul>
    <div class="modularGrid-module">
        
   

    {{>svgIcon size='md' type='cardVisa'}}
    {{>svgIcon size='md' type='cardAmex'}}
    {{>svgIcon size='md' type='cardPaypal'}}
    {{>svgIcon size='md' type='cardMastercard'}}
    {{>svgIcon size='md' type='cardCredit'}}
     </div>
    
  </section>

