
  <section class="footer-sitemap-section">
    <p class="footer-sectionTitle">Contacta con nosotros</p>
    <ul class="footer-sitemap-list u-pdb--half">
      <li><a href="#" class="footer-sitemap--link">Ser distribuidor de BigBuy</a></li>
      <li><a href="#" class="footer-sitemap--link">Ser proveedor de BigBuy</a></li>
      <li><a href="#" class="footer-sitemap--link">Sobre nosotros</a></li>
      <li><a href="#" class="footer-sitemap--link">Centro de ayuda</a></li>

      <li>
        <a href="https://www.bigbuy.eu/es/contact" class="footer-sitemap--link">
          {{>svgIcon type='email_black' class='u-vt'}} Contacte con nosotros</a>
        </li>
      </ul>
      <p class="footer-sectionTitle">Síguenos en RRSS</p>     
      <nav class="socialLink-container u-pdt--half">
        <a href="#" title="facebook" target="_blank" class="socialLink socialLink--facebook">
          {{>svgIcon size='md' type='facebook'}}
        </a>
        <a href="#" title="twitter" target="_blank" class="socialLink socialLink--twitter">
          {{>svgIcon size='md' type='twitter'}}
        </a>                        
        <a href="#" title="google +" target="_blank" class="socialLink socialLink--gplus">
          {{>svgIcon size='md' type='gplus'}}
        </a>
        <a href="#" title="pinterest" target="_blank" class="socialLink socialLink--pinterest">
          {{>svgIcon size='md' type='pinterest'}}
        </a> 
        <a href="https://es.linkedin.com/company/bigbuy-eu" title="linkedin" target="_blank" class="socialLink socialLink--linkedin">
          {{>svgIcon size='md' type='linkedin_alt'}}
        </a> 
      </nav> 
     
      </section>
  