
  <section class="footer-sitemap-section">
    <p class="footer-sectionTitle">Servicios</p>
    <ul class="footer-sitemap-list u-pdb--half">
       <li><a href="#" class="footer-sitemap--link">Servicio dropshipping</a></li>
      <li><a href="#" class="footer-sitemap--link">B2B venta al por mayor</a></li>        
      <li><a href="#" class="footer-sitemap--link">Tienda Dropshipping 360ª</a></li>
      <li><a href="#" class="footer-sitemap--link">Mulit-channel integration Platform</a></li>
      <li><a href="#" class="footer-sitemap--link">Sincronice con BigBuy</a></li>     
    </ul>
    <p class="footer-sectionTitle">Soluciones</p>
    <ul class="footer-sitemap-list">
       <li><a href="#" class="footer-sitemap--link">Canal online y offline</a></li>
      <li><a href="#" class="footer-sitemap--link">All-in-one supplier</a></li>        
      
    </ul>
  </section>

