<section class="footer-sitemap-section newsletterForm">
    <p class="newsletterForm-title">Newsletter</p>
    <form id="suscription-newsletter" action="#" method="post" class="form">
        <fieldset class="form-fieldset form-fieldset--borderless ">
            <input placeholder="Introduzca su correo" class="form-input" id="subscribe" name="subscribe" type="text">
            <select name="subscribe_lang" id="subscribe_lang" class="form-select">
                <option value="">Seleccione idioma</option>
                <option value="1">English</option>
                <option value="4">Español</option>
                <option value="5">Français</option>
                <option value="6">Deutsch</option>
                <option value="7">Português</option>
                <option value="8">Ελληνικά</option>
                <option value="9">Hrvatski</option>
                <option value="10">Italiano</option>
                <option value="11">Eesti</option>
                <option value="12">Dansk</option>
                <option value="13">Suomi</option>
                <option value="14">Română</option>
                <option value="15">Български</option>
                <option value="16">Magyar</option>
                <option value="18">Slovenčina</option>
                <option value="19">Slovenščina</option>
                <option value="20">Lietuvių</option>
                <option value="21">Latviešu</option>
                <option value="22">Polski</option>
                <option value="24">Nederlands</option>
                <option value="25">Pусский</option>
                <option value="26">Norsk</option>
                <option value="27">Svenska</option>
                <option value="28">Čeština</option>
            </select>
        </fieldset>
        <fieldset class="form-fieldset form-fieldset--borderless form-fieldset--compressed u-brb u-mgb--half" data-js-newsletter-sector-content="">
            <legend class="form-legend">¿En qué soluciones de BigBuy está interesado?</legend>
            <div class="form-fieldset form-fieldset--related" data-jsrelated="container">
                <label class="form-label form-label--checkgroup related-label"><input class="form-checkbox related-checkbox" name="related1" data-jsrelated="checkbox" type="checkbox">Canal online</label>
                <div class="u-pdl u-flwrap u-flex-start">
                    <label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related11" type="checkbox">Tienda online</label>        
                    <label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related12" type="checkbox">Emarketplaces</label>      
                    <label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related13" type="checkbox">Flash Deals (Venta Flash)</label>
                    <label class="form-label form-label--checkgroup"><input class="form-checkbox" name="related14" type="checkbox">Etailers - Minoristas online</label>
                </div> 
            </div>
            <label class="form-label form-label--checkgroup"><input class="form-checkbox" name="offline" type="checkbox">Canal offline</label>
            <label class="form-label form-label--checkgroup"><input class="form-checkbox" name="none" type="checkbox">Ninguno</label>
        </fieldset>       
        <label class="form-label form-label--checkgroup "><input class="form-checkbox" name="policy" type="checkbox">Acepto la política de Privacidad</label> 
        <button class="button button--dark button--full" id="footer-newsletter-subscribe">Suscribirse</button>
    </form>
</section>