
<div class="cardList-item">
    <article class="cardElem cardElem--cartItem">
        <figure class="cardElem-figure">
            <img src="../../img/product_small.jpg" alt="" class="cardElem-img">
            <figcaption class="cardElem-figcaption">Set de Ping Pong (2 Palas + 3 Pelotas + Estuche)</figcaption>
        </figure>
        <div class="stockAvailability ">
            <p class="u-pdr--half">Plazo preparación</p>
            <ul class="stockAvailability-list">
                <li class="stockAvailability-item">12 uds. envío 24/48h</li>
                <li class="stockAvailability-item">52 uds. envío 10 días</li>
                <li class="stockAvailability-item">121 uds. envío 20 días</li>
            </ul>
        </div>
        <div class="modularGrid  modularGrid--flexCenter modularGrid--twocolumns">
            <div class="modularGrid-module">
                {{>unitControl}}
            </div>
            <div class="modularGrid-module u-tar">
                <p>PVR<strong class="u-mgl--half">49,73 €</strong></p>
                <p>%Vol.<strong class="u-mgl--half">0%</strong></p>
            </div>
        </div>
        <div class="modularGrid  modularGrid--flexCenter modularGrid--twocolumns ">
            <div class="modularGrid-module">
                Precio<strong class="u-mgl--half">150,73 €</strong></p>
            </div>
            <div class="modularGrid-module u-tar">
                Importe<strong class="subtitle u-mgl--half">150,73 €</strong>
            </div>
        </div>
        <button class="cardElem-close" title="Cerrar">✖</button>
    </article>
</div>
