<div class="unitControl{{#if classes}} {{classes}}{{/if}}">
  <button class="unitControl-button unitControl-button--minus data-js-product-card-unitcontrolminus="unitcontrolMinus"">-</button>
  <input type="text" placeholder="Cantidad"maxlength="10"  value="1" class="unitControl-input" data-js-product-card-unitcontrolinput="unitcontrolinput"/>
  <button class="unitControl-button unitControl-button--plus" data-js-product-card-unitcontrolplus="unitcontrolPlus">+</button>
</div>


