<article class="landingBanner">
    <div class="landingBanner-boxed landingBanner-boxed--big">
        <section class="landingBanner-item landingBanner-item--centered">
            <h1 class="landingBanner-texts">API Documentación</h1>
            <p class="landingBanner-subtitles u-mgt--half">Sincronización para desarrolladores</p>
            <button class="button button--primary homeslider-button" title="Ser distribuidor">Ser distribuidor</button>
        </section>
        <section class="landingBanner-item">
            <img src="../../img/api-baner.png" alt="BigBuy Proveedor dropshipping líder europeo" class="u-xxs-hide u-lg-show">
        </section>
    </div>
<picture class="landingBanner-bg">
  <source class="landingBanner-bgsource" media="(min-width: 1400px)" srcset="../../img/api_huge.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 1200px)" srcset="../../img/api_large.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 1024px)" srcset="../../img/api_big.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 640px)" srcset="../../img/api_medium.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 480px)" srcset="../../img/api_small.jpg"></source>
  <source class="landingBanner-bgsource" media="(min-width: 300px)" srcset="../../img/api_tiny.jpg"></source>
  <img src="../../img/api_huge.jpg" class="landingBanner-bgimg">
</picture>
</article>
