<hr class="u-xxs-hide u-lg-show"/>
<div class="modularGrid modularGrid--boxed u-xxs-hide u-lg-show">
<nav class="homefeatured homefeatured--inverse homefeatured--centered">
    <a href="#" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
    {{>svgIcon type='api-catalogo'  class='homefeatured-icon'}}
        <p class="homefeatured-text">API catálogo</p>

    </a>
    <a href="#anchor_sync_transport" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
        {{>svgIcon type='api-pedidos' class='homefeatured-icon'}}
        <p class="homefeatured-text">API Pedidos</p>

    </a>
    <a href="#anchor_sync_orders" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
        {{>svgIcon type='api-costes-envio' class='homefeatured-icon'}}
        <p class="homefeatured-text">API Costes<br>de envío</p>

    </a>
    <a href="#anchor_sync_orders" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
        {{>svgIcon type='api-tracking-envios' class='homefeatured-icon'}}
        <p class="homefeatured-text">API Trackings<br>de envío</p>

    </a>
</nav>
</div>
