
<h1>sdfdsfsdfs</h1>


{{!-- <div class="modularGrid-module sequential u-md-50">
    <h3 class="form-fieldset-title u-pdb--half">¿Dispone de tienda oooonline?</h3>

       div class="u-flex--center u-pdt--half u-pdh--half">
<input class="form-radio form-radio--inline" name="pack[]" value="5_32" id="siteok" data-check="input" type="radio" data-js-otros="pack">
<label class="form-label u-mgb--0 u-pdr" for="siteok">Sí</label>
<input class="form-input u-mgb--0 u-xxs-75 u-sm-80 u-lg-40" placeholder="http://www.mydomain.com" pattern="https?://.+" tabindex="-1" name="pack_otros" data-check="elem" type="url" value="" data-js-gadget-otros="pack">
</div>
<div class="u-flex--center u-pdt--half u-pdh--half u-mgb--half">
<input class="form-radio form-radio--inline" name="pack[]" value="5_34" id="siteko" type="radio" checked="">
<label class="form-label u-mgb--0" for="siteko">No</label>
</div>
<div class="u-flex--center u-pdt--half u-pdh--half">
<input class="form-radio form-radio--inline" name="pack[]" value="5_33" id="sitecons" type="radio">
<label class="form-label u-mgb--0" for="sitecons">En construcción</label>
</div>


</div> --}}
{{!-- 
<fieldset class="form-fieldset form-fieldset--borderless u-pd" data-js-fieldset-gadgets="tienda">
<h3 class="form-fieldset-title">¿Dispone de tienda online?</h3>
<div class="u-flex--center u-pdt--half u-pdh--half">
<input class="form-radio form-radio--inline" name="pack[]" value="5_32" id="siteok" data-check="input" type="radio" data-js-otros="pack">
<label class="form-label u-mgb--0 u-pdr" for="siteok">Sí</label>
<input class="form-input u-mgb--0 u-xxs-75 u-sm-80 u-lg-40" placeholder="http://www.mydomain.com" pattern="https?://.+" tabindex="-1" name="pack_otros" data-check="elem" type="url" value="" data-js-gadget-otros="pack">
</div>
<div class="u-flex--center u-pdt--half u-pdh--half u-mgb--half">
<input class="form-radio form-radio--inline" name="pack[]" value="5_34" id="siteko" type="radio" checked="">
<label class="form-label u-mgb--0" for="siteko">No</label>
</div>
<div class="u-flex--center u-pdt--half u-pdh--half">
<input class="form-radio form-radio--inline" name="pack[]" value="5_33" id="sitecons" type="radio">
<label class="form-label u-mgb--0" for="sitecons">En construcción</label>
</div>
</fieldset> --}}

