<div class="modularGrid-module sequential  u-md-50 u-pdb">
    <h3 class="form-fieldset-title">¿En qué servicios de BigBuy está interesado?</h3>
    <div class="modularGrid u-pdt--half">
        <div class="modularGrid-module  u-lg-50 u-pdb">
        <input type="checkbox"  id="servicios25" class="form-checkbox">
            <label title="B2B  (Comprar al por mayor)" for="servicios25" class="form-label form-label--inline">B2B  (Comprar al por mayor)</label>
        </div>
        <div class="modularGrid-module  u-lg-50 u-pdb">
            <input type="checkbox" value="4_26"  id="servicios26" class="form-checkbox">
            <label title="B2B-2C  (Servicio Dropshipping)" for="servicios26" class="form-label form-label--inline">B2B-2C  (Servicio Dropshipping)</label>
        </div>
        <div class="modularGrid-module  u-lg-50 u-pdb">
            <input type="checkbox" value="4_27"  id="servicios27" class="form-checkbox">
            <label title="B2B-CSV  (Archivos CSV)" for="servicios27" class="form-label form-label--inline">B2B-CSV  (Archivos CSV)</label>
        </div>
        <div class="modularGrid-module  u-lg-50 u-pdb">
            <input type="checkbox" value="4_28"  id="servicios28" class="form-checkbox">
            <label title="B2B-eShop (Tienda Online Sincronizada)" for="servicios28" class="form-label form-label--inline">B2B-eShop (Tienda Online Sincronizada)</label>
        </div>
        <div class="modularGrid-module  u-lg-50 u-pdb">
            <input type="checkbox" value="4_29"  id="servicios29" class="form-checkbox">
            <label title="B2B-7Days  (Bloqueo de Stocks)" for="servicios29" class="form-label form-label--inline">B2B-7Days  (Bloqueo de Stocks)</label>
        </div>
        <div class="modularGrid-module  u-lg-50 u-pdb">
            <input type="checkbox"   id="servicios30" class="form-checkbox">
            <label title="B2B-Import  (Import-Export)" for="servicios30" class="form-label form-label--inline">B2B-Import  (Import-Export)</label>
        </div>
        <div class="modularGrid-module  u-pdb">
            <input type="checkbox" value="4_31"  id="servicios31" class="form-checkbox">
            <label title="Ninguno, me interesa hacer una compra puntual" for="servicios31" class="form-label form-label--inline">Ninguno, me interesa hacer una compra puntual</label>
        </div>
    </div>
</div>
