
   
    
            
            <section class="modularGrid">
                <div class="modularGrid-module infoSection-item u-xs-50 u-md-25">
                    <h3 class="infoSection-title">Pack Dropship activo</h3>
                    {{>svgIcon type='pack' size='sm' class='icon--dropship u-elem-center '}}
                    <span class="pack pack--dropship pack--medium u-mgv--half u-iblock"><span class="u-op-70">PACK</span> DROPSHIP</span>
                  {{!--   <svg role="img" class="icon infoSection-icon infoSection-icon--active infoSection-icon--basic"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg> --}}
                    <a href="#" class="link u-block">Válido hasta: 16/10/2015</a>
                </div>
                <div class="modularGrid-module infoSection-item u-xs-50 u-md-25">
                    <h3 class="infoSection-title">Comparativa de Packs</h3>

                    {{!-- {{>svgIcon type='packCompare' class='infoSection-icon infoSection-icon--active'}} --}}

                    {{>svgIcon type='packCompare' size='lg' class='u-op-60'}}


                   {{!--  <svg role="img" class="icon infoSection-icon infoSection-icon--active"><use xlink:href="../../img/icons/svg-defs.svg#icon-packCompare"></use></svg> --}}
                    <a href="#" class="link u-mgt--half u-block">Información</a>
                    </div>
                    <div class="modularGrid-module infoSection-item u-xs-50 u-md-25">
                        <h3 class="infoSection-title">Migrar Pack</h3>

                        {{>svgIcon type='packUpgrade' size='lg' class='u-op-60'}}

                      {{!--   <svg role="img" class="icon infoSection-icon infoSection-icon--active infoSection-icon--premium"><use xlink:href="../../img/icons/svg-defs.svg#icon-packUpgrade"></use></svg> --}}
                        <a href="#" class="link u-mgt--half u-block">Migrar ahora</a>
                        <a href="#" class="link u-mgt--half u-block">Cancelar</a>
                    </div>
                    <div class="modularGrid-module infoSection-item u-xs-50 u-md-25">
                        <h3 class="infoSection-title">Monedero</h3>
                        {{>svgIcon type='wallet' size='lg' class='u-op-60'}}
                        {{!-- <svg role="img" class="icon infoSection-icon infoSection-icon--wallet"><use xlink:href="../../img/icons/svg-defs.svg#icon-wallet"></use></svg> --}}
                        <a href="#" class="link u-mgt--half u-block">998.601,34 €</a>
                    </div>
                </section>
          
