<nav class="mobileTabs" data-js-accordion="accordion"  data-js-accordiontype="mobileTabs-itemContent--selected" data-js-accordion_selected_class="mobileTabs-itemHeader--selected">
   {{>apiCMSSection1}}
   {{>apiCMSSection2}}
   {{>apiCMSSection3}}
</nav>














