<article class="mobileTabs-item mobileTabs-item--backtab u-lg-pdt">
    {{>mobilePanelHeader sincroAPI.sectionStock}}
    <section class="mobileTabs-itemContent" data-js-accordion="panel">
         {{>mobilePanel sincroAPI.sectionStock}}
         {{>mobilePanelFooter sincroAPI.sectionStock}}
    </section>
</article>



