<article class="mobileTabs-item mobileTabs-item--backtab u-lg-pdt">
    {{>mobilePanelHeader sincroAPI3.sectionStock}}
    <section class="mobileTabs-itemContent" data-js-accordion="panel">
        {{>mobilePanel sincroAPI3.sectionStock}}
        {{>mobilePanelFooter sincroAPI3.sectionStock}}
    </section>
</article>