<article class="mobileTabs-item mobileTabs-item--backtab  mobileTabs-item--altBg u-lg-pdt">
    {{>mobilePanelHeader sincroAPI2.sectionStock}}
    <section class="mobileTabs-itemContent" data-js-accordion="panel">
        {{>mobilePanel sincroAPI2.sectionStock}}
        {{>mobilePanelFooter sincroAPI2.sectionStock}}
    </section>
</article>



