{{#each header}}
<header class="mobileTabs-itemHeader mobileTabs-itemHeader--drop" data-js-accordion="link">
    <svg class="mobileTabs-headerIcon " role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-{{icon}}"></use></svg>
    <h4 class="title title--huge">{{title}}</h4>
</header>
{{/each}}


