{{#each footer}}
<div class="modularGrid-module u-tac u-pd">
<p class="title u-pd">{{slogan}}</p>
<a href="#" class="button button--primary button--bigger" {{#if anchor}} id="{{anchor}}" {{/if}}>{{buttonText}}</a>
</div>
{{/each}}






