<section class="imgBox imgBox--productSheet">
    <div class="imgBox-imgBoxContainer">
        <figure class="imgBox-figure">
            <img data-js-imgbox="bigimg" src="../../img/paris-blue.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-img">
        </figure>
        <nav class="imgBox-thumblist">

            <div alt="Helicóptero con Base Disparo" class="imgBox-thumb ">
            <img data-js-imgbox="thumb" src="../../img/paris-blue.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-thumbImg">
            </div>
            <div alt="Helicóptero con Base Disparo" class="imgBox-thumb ">
                <img data-js-imgbox="thumb" src="../../img/paris-green.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-thumbImg">
            </div>
            <div alt="Helicóptero con Base Disparo" class="imgBox-thumb ">
                <img data-js-imgbox="thumb" src="../../img/paris-pink.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-thumbImg">
            </div>
            <div alt="Helicóptero con Base Disparo" class="imgBox-thumb ">
                <img data-js-imgbox="thumb" src="../../img/paris-yellow.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-thumbImg">
            </div>
            <div alt="Helicóptero con Base Disparo" class="imgBox-thumb ">
                <img data-js-imgbox="thumb" src="../../img/london-orange.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-thumbImg">
            </div>
            <div alt="Helicóptero con Base Disparo" class="imgBox-thumb ">
                <img data-js-imgbox="thumb" src="../../img/london-blue.jpg" title="Helicóptero con Base Disparo" alt="Helicóptero con Base Disparo" class="imgBox-thumbImg">
            </div>
        </nav>
    </div>
    {{#if hotdeal}}
     <div class="productSheet-ribbon productSheet-ribbon--hot">hot deal</div>
    {{else}}
    <div class="productSheet-ribbon productSheet-ribbon--blackFriday">BLACK FRIDAY</div>
    {{/if}}
</section>
