
<div class="u-flwrap u-flex--center u-pd">
    <nav class="productSheet-minisocial">

        <a alt="Facebook" title="Facebook" class="minisocial-button  minisocial-button--fb addthis_button_facebook at300b" href="#"><span class="at16nc at300bs at15nc at15t_facebook at16t_facebook"><span class="at_a11y">Share on facebook</span></span>Facebook</a>
        <a alt="Twitter" title="Twitter" class="minisocial-button  minisocial-button--tw addthis_button_twitter at300b" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y">Share on twitter</span></span>Twitter</a>
        <a alt="Mail" title="Mail" class="minisocial-button  minisocial-button--ml addthis_button_email at300b" href="#" target="_blank"><span class="at16nc at300bs at15nc at15t_email at16t_email"><span class="at_a11y">Share on email</span></span>Mail</a>
        <a alt="Pinterest" title="Pinterest" class="minisocial-button  minisocial-button--pn addthis_button_pinterest_share at300b" href="#" target="_blank"><span class="at16nc at300bs at15nc at15t_pinterest_share at16t_pinterest_share"><span class="at_a11y">Share on pinterest_share</span></span>Pinterest</a>
        <a alt="Google +" title="Google +" class="minisocial-button  minisocial-button--gp addthis_button_google_plusone_share at300b" href="http://www.addthis.com/bookmark.php?v=300&amp;winname=addthis&amp;pub=ra-534be6725cb8ec8b&amp;source=tbx-300&amp;lng=es-ES&amp;s=google_plusone_share&amp;url=http%3A%2F%2F192.168.1.211%2Fbigbuy_e%2Fes%2Fhelicoptero-con-base-disparo.html&amp;title=Comprar%20a%20Precio%20al%20por%20Mayor&amp;ate=AT-ra-534be6725cb8ec8b/-/-/54072ffeaf5fe8d1/2&amp;frommenu=1&amp;uid=54072ffe8ee38dfd&amp;ct=1&amp;pre=http%3A%2F%2F192.168.1.211%2Fbigbuy_e%2F&amp;tt=0&amp;captcha_provider=nucaptcha" target="_blank"><span class="at16nc at300bs at15nc at15t_google_plusone_share at16t_google_plusone_share"><span class="at_a11y">Share on google_plusone_share</span></span>Google +</a>
        <span class="minisocial-bubble bubble bubble-left">0</span>
    </nav>
    {{>rating1}}
    <div class="productSheet-comments">
    <a alt="Añade tu comentario" title="Añade tu comentario" class="rating-add" data-js-add-comment-up="add-comment-up" href="#comments">

      <img class="icon u-vm icon--xs u-op-40" src="../../img/icons/comments.svg"> Añade tu comentario</a>
    </div>
</div>

