<div class="productSheet-discountTable u-mgb--half">
    <table data-js-discount_table-panel="first" class="table table--ultracondensed u-lg-85">
    <caption class="table-caption" data-js-popuplauncher="../../static/popups/popup_info_nopack.html">
        <div class="table-captionIcon  productSheet-discountTable--volume">
        <img role="img" class="icon u-op-40 icon--inline icon--xs" src="../../img/icons/user.svg">
        </div>
        SIN PACK MAYORISTA <em data-js-tooltip="tooltip4" class="form-info">
          <img  class="icon icon--inline icon--xs" src="../../img/icons/info.svg">
    </em>
    <p class="productSheet-shortDescription u-pdl u-mgl--half">Descuento % por volumen</p>
        </caption>
    <thead class="table-thead">
        <tr class="table-tr">
            <th class="table-item  table-item--number">Uds.</th>
            <th class="table-item  table-item--number">PVR</th>
            <th class="table-item table-item--number">Dto.(%)</th>
        </tr>
    </thead>

    <tbody class="table-tbody">
            <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">6</td>
            <td class="table-item table-item--number">4,74 €</td>
            <td class="table-item table-item--number">-19,93%</td>

    </tr>
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">12</td>
            <td class="table-item table-item--number">3,64 €</td>
            <td class="table-item table-item--number">-38,51%</td>

    </tr>
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">24</td>
            <td class="table-item table-item--number">3,24 €</td>
            <td class="table-item table-item--number">-45,27%</td>

    </tr>
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">48</td>
            <td class="table-item table-item--number">3,03 €</td>
            <td class="table-item table-item--number">-48,82%</td>

    </tr>
        </tbody>
</table>
</div>




