<div class="modularGrid u-pdt--half">
	<div class="modularGrid-module ">
		<section class="productReview mobileCMS-section box" itemscope="" itemtype="http://data-vocabulary.org/Review">
    <a name="comments"></a>
    <h2 class="productReview-title">Comentarios sobre <span itemprop="itemreviewed">Mopa Steam Master X6 Best Zeller</span></h2>
    <div class="productReview-content">
        <article class="productReview-item">			
    <aside class="productReview-dates">
            <h4 class="productReview-user">Opinión de carmelita</h4>
            <p class="productReview-posted">Enviada el 02/04/2013</p>
            <!--<span class="productReview-ratingTitle">Precio</span>
            <div class="productReview-rating">
                   <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                           </span> 
            </div>-->
            <span class="productReview-ratingTitle">Valoración</span>
            <div class="productReview-rating">
                    <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon "></i> 
                                              <i class="rating-icon "></i> 
                                           </span> 
            </div>
    </aside>
    <section class="productReview-comments">
            <h4 class="productReview-comments-title">esta mopa es una pasada</h4> 
            <p>me parece un producto fantaztico, por el precio que tiene te quita mucho trabajo.</p>
    </section> 
</article>
<article class="productReview-item">			
    <aside class="productReview-dates">
            <h4 class="productReview-user">Opinión de Royni</h4>
            <p class="productReview-posted">Enviada el 07/04/2013</p>
            <!--<span class="productReview-ratingTitle">Precio</span>
            <div class="productReview-rating">
                   <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon "></i> 
                                              <i class="rating-icon "></i> 
                                           </span> 
            </div>-->
            <span class="productReview-ratingTitle">Valoración</span>
            <div class="productReview-rating">
                    <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon "></i> 
                                              <i class="rating-icon "></i> 
                                           </span> 
            </div>
    </aside>
    <section class="productReview-comments">
            <h4 class="productReview-comments-title">Calidad Perfecta</h4> 
            <p>Con diferencia mejor que la calidad de la X5 anunciada en TV. Esta se nota que tiene mas calidad.</p>
    </section> 
</article>
<article class="productReview-item">			
    <aside class="productReview-dates">
            <h4 class="productReview-user">Opinión de carme</h4>
            <p class="productReview-posted">Enviada el 10/07/2013</p>
            <!--<span class="productReview-ratingTitle">Precio</span>
            <div class="productReview-rating">
                   <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon "></i> 
                                           </span> 
            </div>-->
            <span class="productReview-ratingTitle">Valoración</span>
            <div class="productReview-rating">
                    <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon "></i> 
                                              <i class="rating-icon "></i> 
                                           </span> 
            </div>
    </aside>
    <section class="productReview-comments">
            <h4 class="productReview-comments-title">azulejos</h4> 
            <p>ola con cual acesorio deberia limpiar los azulejos del baño?????? lo recibi la semana pasada y todo bien xro no se con cual debo limpiar los azulejos????? gracias de anemano</p>
    </section> 
</article>
<article class="productReview-item">			
    <aside class="productReview-dates">
        <h4 class="productReview-user">Opinión de <span itemprop="reviewer">Mari</span></h4>
        <p class="productReview-posted">Enviada el <time itemprop="dtreviewed" datetime="2013-07-12 09:41:49">12/07/2013</time></p>
        <!--<span class="productReview-ratingTitle">Precio</span>
        <div class="productReview-rating">
               <span class="rating">
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                   </span> 
        </div>-->
        <span class="productReview-ratingTitle">Valoración</span>
        <div class="productReview-rating">
                <span class="rating">
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon rating-icon--selected"></i> 
                                      <i class="rating-icon "></i> 
                                   </span> 
                <span itemprop="rating" style="visibility: hidden">4</span>
        </div>
    </aside>
    <section class="productReview-comments">
        <h4 class="productReview-comments-title"><span itemprop="summary">lo recomiendo</span></h4> 
        <p><span itemprop="description">Limpia q no veas!!! me la compré para probarla yo primero antes de venderla en la tienda y despues de ver lo bien q limpia no me lo pienso dos veces, os hago un pedido yaaaa</span></p>
    </section> 
</article>
<article class="productReview-item">			
    <aside class="productReview-dates">
            <h4 class="productReview-user">Opinión de Vero</h4>
            <p class="productReview-posted">Enviada el 03/10/2013</p>
            <!--<span class="productReview-ratingTitle">Precio</span>
            <div class="productReview-rating">
                   <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                           </span> 
            </div>-->
            <span class="productReview-ratingTitle">Valoración</span>
            <div class="productReview-rating">
                    <span class="rating">
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon rating-icon--selected"></i> 
                                              <i class="rating-icon "></i> 
                                           </span> 
            </div>
    </aside>
    <section class="productReview-comments">
            <h4 class="productReview-comments-title">traedla porfiii</h4> 
            <p>Hola buenas espero que la tengais de nuevo en stock que se nos ha agotado ya y nos la piden un monton!!!</p>
    </section> 
</article>
            <footer class="productReview-footer">
                <form action="" class="form" data-js-form_comment="">
                    <fieldset class="form-fieldset form-fieldset--borderless">
                        <div class="modularGrid" data-js-comments_head="">
                            <div class="modularGrid-module u-pdt">
                                <p class="mobileText-blockText">¿Te ha gustado nuestro producto?</p>
                                <button class="button productReview-button button--primary" data-js-add_review="">Añade tu opinión</button>
                            </div>
                        </div>
                        <div class="modularGrid">
                            <div class="modularGrid-module" style="display: none" data-js_fieldset_comment="">
                                <div class="modularGrid">
                                    <div class="modularGrid-module u-xs-25">
                                        <label for="customer_name_field" class="form-label">Nombre</label>
                                        <input name="customer_name_field" id="customer_name_field" class="form-input" data-js-comment_data="" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;name&quot;:&quot;warning&quot;}" maxlength="64" tabindex="1">
                                    </div>
                                         <div class="modularGrid-module u-xs-70 u-pdl--half">
                                        <label for="title_field" class="form-label">Título</label>
                                        <input name="title_field" id="title_field" class="form-input" data-js-comment_data="" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" tabindex="2" maxlength="128">
                                    </div>
                                </div>
                                <div class="modularGrid">
                                     <div class="modularGrid-module u-xs-25 ">
                                        <label for="calidad" class="form-label"> Valoración </label>
                                        <div class="form-radiogroup form-radiogroup--rating">
                                            <input type="radio" name="quality_field" value="1" id="quality_rating1" data-js-rating="star">
                                            <label for="quality_rating1" class="u-xs-20"></label>
                                            <input type="radio" name="quality_field" value="2" id="quality_rating2" data-js-rating="star">
                                            <label for="quality_rating2" class="u-xs-40"></label>
                                            <input type="radio" name="quality_field" value="3" id="quality_rating3" data-js-rating="star">
                                            <label for="quality_rating3" class="u-xs-60"></label>
                                            <input type="radio" name="quality_field" value="4" id="quality_rating4" data-js-rating="star">
                                            <label for="quality_rating4" class="u-xs-80"></label>
                                            <input type="radio" name="quality_field" value="5" id="quality_rating5" data-js-rating="star">
                                            <label for="quality_rating5" class="u-xs-100"></label>
                                        </div>
                                    </div>
                                    <div class="modularGrid-module u-xs-70 u-pdl--half">
                                        <label for="content_field" class="form-label">Escriba su comentario</label>
                                        <textarea name="content_field" id="content_field" cols="30" rows="10" class="form-textarea" data-js-comment_data="" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" tabindex="3" maxlength="400"></textarea>
                                    </div>
                                </div>
                                <div class="modularGrid">
                                    <div class="modularGrid-module u-pdb--half">
                                                     <div class="form-captcha">
                        <div class="modularGrid">
                            <div class="modularGrid-module u-md-40">
                                <img src="http://192.168.1.211/bigbuy_e/tools/captcha/captcha.php?ancho=175&amp;alto=65&amp;nocache=" id="img_captcha" class="form-captcha-image " alt="">
                                <a href="javascript:void(0);" onclick="$(this).parent().find('img:first').prop('src','http://192.168.1.211/bigbuy_e/tools/captcha/captcha.php?ancho=175&amp;alto=65&amp;nocache='+Math.random());" class="form-captcha-reload">
                                    <i class="icon form-info-icon fa-refresh"> </i> Recargar imagen                                </a>
                            </div>
                            <div class="modularGrid-module u-sm-60 u-pdl--half">
                                <label class="form-label" for="captcha">¿Qué pone en la imagen?</label>
                                <input data-js-forget_passwd_content="captcha" type="text" name="captcha" class="form-input" data-js-captcha="" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" maxlength="10">
                                <em class="form-info" data-js-tooltip="tooltip_captcha">
                                    <b class="icon form-info-icon fa-info-circle"></b> ¿Para qué sirve este código?                                </em>
                            </div>
                        </div>
                    </div>                                     </div>
                                </div>
                                 <div class="modularGrid">
                                <div class="modularGrid-module  u-xs-25 ">
                                    <button class="button button--primary  button--full" data-js-validate-form="" tabindex="100">Enviar</button>
                                </div>
                            </div>
                        </div>
                </div></fieldset>
            </form>
        </footer>
    </div>
</section>
	</div>
</div>
