<div class="productSlider">
	<h3 class="productSlider-title productSlider-title--news">Novedades<a href="#" title="Ver todos" class="productSlider-more">Ver todos</a></h3>
	<div class="productSlider-slider js_slider" data-autorotate="6" >
		<ul>
			<li class="productSlider-item"> {{> productList productList.slides3 }} </li>
			<li class="productSlider-item"> {{> productList productList.slides4}} </li>
			<li class="productSlider-item"> {{> productList productList.slides3 }} </li>
		</ul>
	</div>
</div>
