<header class="productSheet-header">    
    <p class="productSheet-shortDescription productSheet-shortDescription--main u-md-pdt u-sm-pdt0">
    {{#unless pack}}
        Fregona Giratoria Best Zeller Sin Pedal, Doble Centrifugado y Dosificador Jabón y más Fregonas para Limpieza en la zona de Hogar | Limpieza 
 {{/unless}}
        </p>
        
</header>
