<div class="productSheet-options u-pdh">
    <form data-js-frm_cart="" class="form form--inline" action="">
    <fieldset class="form-fieldset form-fieldset--borderless u-pdh  u-pdv--half">

            <label class="form-label" for="">Seleccione su opción</label>

            <select name="pack" data-js-select_attributes="161" class="form-select" data-js-pack="select">
                <option value="1346"> Pro Semestral (Ahorro 1 Mes) </option>
                <option value="1345"> Pro Anual (Ahorro 3 Meses) </option>
                <option value="1344"> Premium Semestral (Ahorro 1 Mes) </option>
                <option value="1343"> Premium Anual (Ahorro 3 Meses) </option>
                <option value="1342"> Business Semestral (Ahorro 1 Mes) </option>
                <option value="1341"> Business Anual (Ahorro 3 Meses) </option>
            </select>
        </fieldset>

        <aside class="productSheet-discountBadge u-pdb">

            <div data-js-price_product="" class="productSheet-pvp">
                <span class="productSheet-pvpTitle">PVD</span>
                <span class="productSheet-pvpVal">145,00 €</span>
            </div>

            <button title="Añadir al carrito" class="button button--big button--primary u-mgt" >Finalizar</button>
        </aside>
    </form>
</div>