<div class="productSheet-advantages">
  
        <div class="productSheet-advantagesItem">

            {{>svgIcon type='badge' size='sm' class='u-mgt--half'}}
            {{!-- <img class="icon icon--inline icon--sm u-mgt--half"src="../../badge.svg"> --}}
            <span class="productSheet-advantages-description">2 años<br> garantía</span>
        </div>

        <div class="productSheet-advantagesItem">
            {{>svgIcon type='clock' size='sm' class='u-mgt--half'}}
            {{!-- <img class="icon icon--inline icon--sm u-mgt--half" src="../../img/icons/clock.svg" > --}}
            <span class="productSheet-advantages-description">Envío<br>24/48 h.</span>
        </div>

        <div class="productSheet-advantagesItem">
            {{>svgIcon type='truck' size='sm' class='u-mgt--half'}}
            {{!-- <img class="icon icon--inline icon--sm u-mgt--half" src="../../truck.svg"> --}}
            <span class="productSheet-advantages-description">Seguimiento<br> envío Tracking</span>
        </div>
   
</div>