<div class="productSheet-dimensions{{#if class}} {{class}} {{/if}}">
    <div class="modularGrid paddingHack">
        <div class="modularGrid-module u-xs-50 ">
            <div class="productSheet-dimensionItem">
                <i class="icon productSheet-dimensionItem-icon icon-weight"></i>
                <span class="productSheet-dimensionDt">Peso (kg)</span>
                <span class="productSheet-dimensionDd">0,15</span>
            </div>
            <div class="productSheet-dimensionItem">
                <i class="icon productSheet-dimensionItem-icon icon-box"></i>
                <span class="productSheet-dimensionDt">Caja (uds.)</span>
                <span class="productSheet-dimensionDd">0</span>
            </div>
            <div class="productSheet-dimensionItem">
                <i class="icon productSheet-dimensionItem-icon icon-ft20"></i>
                <span class="productSheet-dimensionDt">20 ft (uds.)</span>
                <span class="productSheet-dimensionDd">0</span>
            </div>
        </div>

        <div class="modularGrid-module u-xs-50 ">
            <div class="productSheet-dimensionItem">
                <i class="icon productSheet-dimensionItem-icon icon-dimensions"></i>
                <span class="productSheet-dimensionDt">Medidas (cm)</span>
                <span class="productSheet-dimensionDd">20,0 x 6,5 x 27,0</span>
            </div>
            <div class="productSheet-dimensionItem">
                <i class="icon productSheet-dimensionItem-icon icon-pallet"></i>
                <span class="productSheet-dimensionDt">Pallet (uds.)</span>
                <span class="productSheet-dimensionDd">0</span>
            </div>

            <div class="productSheet-dimensionItem">
                <i class="icon productSheet-dimensionItem-icon icon-ft40"></i>
                <span class="productSheet-dimensionDt">40 ft (uds.)</span>
                <span class="productSheet-dimensionDd">0</span>
            </div>
        </div>
    </div>
</div>