<div class="productSheet-discountTable">
    <table data-js-discount_table-panel="first" class="table table--ultracondensed table--fixedwidth">
        <caption class="table-caption">
            <div class="table-captionIcon  productSheet-discountTable--volume">
                {{>svgIcon type='pack'}}
            </div>
            DESCUENTO % AUTOMÁTICO <em data-js-tooltip="tooltip4" class="form-info">
            <img  class="icon icon--inline icon--xs" src="../../img/icons/info.svg">
        </em>
        <p class="productSheet-shortDescription u-pdl ">En función del importe total del carrito se le aplicará respecto al PVD este descuento automático</p>
    </caption>
    <thead class="table-thead">
        <tr class="table-tr">
            <th class="table-item  table-item--number u-xs-20">Importe</th>
            <th class="table-item table-item--number u-xs-30">Dto.(%)</th>
            <th class="table-item table-item--number u-pdr u-xs-30">PVD <small>neto</small></th>
        </tr>
    </thead>
    <tbody class="table-tbody">
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">+100 €</td>
            <td class="table-item table-item--number">-1,5%</td>
            <td class="table-item table-item--number u-pdr">7,07 €</td>
        </tr>
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">+300 €</td>
            <td class="table-item table-item--number">-2,5%</td>
            <td class="table-item table-item--number u-pdr">7,00 €</td>
        </tr>
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">600 €</td>
            <td class="table-item table-item--number">-3,5%</td>
            <td class="table-item table-item--number u-pdr">6,50 €</td>
        </tr>
        <tr data-js-discount_table="tr-item" class="table-tr">
            <td class="table-item table-item--number">+1.000 €</td>
            <td class="table-item table-item--number">-5,0%</td>
            <td class="table-item table-item--number u-pdr">6,12 €</td>
        </tr>

    </tbody>
</table>
</div>




