<div class="productSheet-rating ">
    <span class="rating ">
        <i class="rating-icon rating-icon--selected"></i>
        <i class="rating-icon rating-icon--selected"></i>
        <i class="rating-icon rating-icon--selected"></i>
        <i class="rating-icon rating-icon--selected"></i>
        <i class="rating-icon"></i>
    </span>
    <span class="rating-title">11 comentarios</span>
</div>
