<form class="form ">
    <div class="modularGrid">
        <div class="modularGrid-module u-md-50">
            {{>sector0}}
            {{>sector1}}
           
        </div>
        <div class="modularGrid-module u-md-50">
            {{>sector2}}
           
           
           
        </div>
    </div>
</form>