<div class="panel panel--active" data-js-panel-name="panel01">
    <div class="panel-title">
        <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-mydata"></use></svg>
        <div class="panel-titleName"><a href="" class="panel-breadcrumbLink">Mis datos</a></div>

        <div class="panel-actions">
            <button class="menuPanel-button"  data-js-back="row">
            <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-pencil"></use></svg>

            Modificar datos</button>
        </div>
    </div>
    <aside class="panel-content">
        <div class="modularGrid-module u-md-55">
            <section class="panel-section">
                <div class="panel-section-title"> Datos de usuario </div>

                <div class="modularGrid">
                    <div class="modularGrid-module u-md-20 u-pd">
                        <figure class="imgUser">
                            <div class="imgUser-thumbnail">
                                <img class="imgUser-img" src="http://api.randomuser.me/portraits/women/60.jpg" alt="">
                            </div>

                        </figure>
                    </div>
                    <div class="modularGrid-module u-md-70 u-pdt u-pdb ">
                        <dl class="modularGrid">
                            <dt class="modularGrid-module u-md-20"><strong>Nombre:</strong></dt>
                            <dd class="modularGrid-module u-md-70">Bigbuy Bigbuy</dd>
                            <dt class="modularGrid-module u-md-20"><strong>Empresa:</strong></dt>
                            <dd class="modularGrid-module u-md-80">All4</dd>
                            <dt class="modularGrid-module u-md-20"><strong>Dirección:</strong></dt>
                            <dd class="modularGrid-module u-md-80">c/ Solar Navarro, 13 Alaquàs, Valencia, 49501 c/ Solar Navarro, 13 Alaquàs, Valencia, 49501 c/ Solar Navarro, 13 Alaquàs, Valencia, 49501 </dd>
                            <dt class="modularGrid-module u-md-20"><strong>País:</strong></dt>
                            <dd class="modularGrid-module u-md-80">España</dd>
                            <dt class="modularGrid-module u-md-20"><strong>Teléfono:</strong></dt>
                            <dd class="modularGrid-module u-md-80">654 567 890</dd>
                            <dt class="modularGrid-module u-md-20"><strong>NIF/CIF/VAT:</strong></dt>
                            <dd class="modularGrid-module u-md-80">223 456 78</dd>
                            <!--<dt class="modularGrid-module u-md-30 u-mgt button button--full button--primary">Editar datos:</strong></dt>-->
                        </dl>
                    </div>

                </div>

                {{>  sectorInfo0 }}
                {{>  sectorInfo1 }}
                {{>  sectorInfo2 }}
                {{>  sectorInfo3 }}
                {{>  sectorInfo4 }}
                {{>  sectorInfo5 }}




            </section>
        </div>
    </aside>
</div>