 <fieldset class="form-fieldset form-fieldset--sequential">
        <h3 class="form-fieldset-title">¿Es usted vendedor habitual de nuestros artículos?</h3>
             Sí, he comprado a otros proveedores.
    </fieldset>