<fieldset class="form-fieldset form-fieldset--sequential u-brdt ">
        <h3 class="form-fieldset-title">¿En qué servicios de BigBuy está interesado?</h3>
        <div data-js-fieldset-gadgets="servicios" class="modularGrid form-radiogroup">
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="4_24" data-js-gadget="servicios" name="servicios" id="gadgets24" class="form-checkbox">
                <label title=" B2B (Compra al mayor)" for="gadgets24" class="form-label form-label--inline"> B2B (Compra al mayor)</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="4_25" data-js-gadget="servicios" name="servicios" id="gadgets25" class="form-checkbox">
                <label title="B2B &ndash;7Days (Bloqueo de Stocks)" for="gadgets25" class="form-label form-label--inline">B2B &ndash;7Days (Bloqueo de Stocks)</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="4_26" data-js-gadget="servicios" name="servicios" id="gadgets26" class="form-checkbox">
                <label title="B2B &ndash;2C (Dropshipping)" for="gadgets26" class="form-label form-label--inline">B2B &ndash;2C (Dropshipping)</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="4_27" data-js-gadget="servicios" name="servicios" id="gadgets27" class="form-checkbox">
                <label title="Import-Export" for="gadgets27" class="form-label form-label--inline">Import-Export</label>
            </div>
            <div class="modularGrid-module u-md-50">
                <input type="checkbox" value="4_28" data-js-gadget="servicios" name="servicios" id="gadgets28" class="form-checkbox">
                <label title=" B2B &ndash;2C Shop (Tienda Dropshipping)" for="gadgets28" class="form-label form-label--inline"> B2B &ndash;2C Shop (Tienda Dropshipping)</label>
            </div>
        </div>
    </fieldset>
