<fieldset class="form-fieldset form-fieldset--sequential ">
    <h3 class="form-fieldset-title">¿En qué sector se siente identificado?</h3>
             <ul >
                <li>· Regalo / Gadgets</li>
                <li>· Mutiprecio / Bazar</li>
                <li>· Quiosco</li>
                <li>· Regalo promocional</li>
                <li>· Vending</li>
                <li>· Perfumería / Cosmética / Higiene personal</li>
                <li>· Venta ambulante / Mercadillos / Ferias locales</li>
            </ul>
</fieldset>
