    <fieldset class="form-fieldset form-fieldset--borderless u-pd ">
        <h3 class="form-fieldset-title ">¿Cuales son sus canales de venta?</h3>
        <div data-js-fieldset-gadgets="venta" class="modularGrid form-radiogroup">
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_17" data-js-gadget="venta" name="venta" id="gadgets17" class="form-checkbox">
                <label title="Venta al mayor" for="gadgets17" class="form-label form-label--inline">Venta al mayor</label>
            </div>
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_18" data-js-gadget="venta" name="venta" id="gadgets18" class="form-checkbox">
                <label title="Tienda física" for="gadgets18" class="form-label form-label--inline">Tienda física</label>
            </div>
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_19" data-js-gadget="venta" name="venta" id="gadgets19" class="form-checkbox">
                <label title="Venta Online / Internet" for="gadgets19" class="form-label form-label--inline">Venta Online / Internet</label>
            </div>
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_20" data-js-gadget="venta" name="venta" id="gadgets20" class="form-checkbox">
                <label title="Web compra colectiva" for="gadgets20" class="form-label form-label--inline">Web compra colectiva</label>
            </div>
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_21" data-js-gadget="venta" name="venta" id="gadgets21" class="form-checkbox">
                <label title="Promociones" for="gadgets21" class="form-label form-label--inline">Promociones</label>
            </div>
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_22" data-js-gadget="venta" name="venta" id="gadgets22" class="form-checkbox">
                <label title="Venta directa" for="gadgets22" class="form-label form-label--inline">Venta directa</label>
            </div>
            <div class="modularGrid-module u-md-3rd">
                <input type="checkbox" value="3_23" data-js-gadget="venta" name="venta" id="gadgets23" class="form-checkbox">
                <label title="Ambulante" for="gadgets23" class="form-label form-label--inline">Ambulante</label>
            </div>
        </div>
    </fieldset>
