 <fieldset class="form-fieldset form-fieldset--sequential">
        <h3 class="form-fieldset-title">¿Es usted vendedor habitual de nuestros artículos?</h3>
        <div data-js-fieldset-gadgets="seller" class="modularGrid-module u-md-50">
            <div class="form-radiogroup">
                <input type="radio" data-js-gadget="seller" class="form-radio" name="seller" id="seller_15" value="2_15">
                <label title=" Sí he comprado a otros proveedores" for="seller_15" class="form-label form-label--inline"> Sí he comprado a otros proveedores</label>
                <input type="radio" data-js-gadget="seller" class="form-radio" name="seller" id="seller_16" value="2_16">
                <label title="No, es la primera vez" for="seller_16" class="form-label form-label--inline">No, es la primera vez</label>
            </div>
        </div>
    </fieldset>