 <fieldset class="form-fieldset form-fieldset--sequential form-radiogroup"  data-js-fieldset-gadgets="sector">
        <h3 class="form-fieldset-title">¿En qué sector se siente identificado?</h3>
        <div class="modularGrid">
                     <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_1" data-js-gadget="sector" name="sector" id="gadgets1" class="form-checkbox">
                        <label title="Regalo / Gadgets" for="gadgets1" class="form-label form-label--inline">Regalo / Gadgets</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_2" data-js-gadget="sector" name="sector" id="gadgets2" class="form-checkbox">
                        <label title="Mutiprecio / Bazar" for="gadgets2" class="form-label form-label--inline">Mutiprecio / Bazar</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_3" data-js-gadget="sector" name="sector" id="gadgets3" class="form-checkbox">
                        <label title=" Quiosco" for="gadgets3" class="form-label form-label--inline"> Quiosco</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_4" data-js-gadget="sector" name="sector" id="gadgets4" class="form-checkbox">
                        <label title="Regalo promocional" for="gadgets4" class="form-label form-label--inline">Regalo promocional</label>
                    </div>
                      <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_5" data-js-gadget="sector" name="sector" id="gadgets5" class="form-checkbox">
                        <label title="Moda y complementos" for="gadgets5" class="form-label form-label--inline">Moda y complementos</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_6" data-js-gadget="sector" name="sector" id="gadgets6" class="form-checkbox">
                        <label title="Ferretería" for="gadgets6" class="form-label form-label--inline">Ferretería</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_7" data-js-gadget="sector" name="sector" id="gadgets7" class="form-checkbox">
                        <label title="Venta directa" for="gadgets7" class="form-label form-label--inline">Venta directa</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_8" data-js-gadget="sector" name="sector" id="gadgets8" class="form-checkbox">
                        <label title="Gourmet" for="gadgets8" class="form-label form-label--inline">Gourmet</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_9" data-js-gadget="sector" name="sector" id="gadgets9" class="form-checkbox">
                        <label title="Gym / Fitness" for="gadgets9" class="form-label form-label--inline">Gym / Fitness</label>
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <input type="checkbox" value="1_10" data-js-gadget="sector" name="sector" id="gadgets10" class="form-checkbox">
                        <label title="Vending" for="gadgets10" class="form-label form-label--inline">Vending</label>
                    </div>
                    <div class="modularGrid-module ">
                        <input type="checkbox" value="1_11" data-js-gadget="sector" name="sector" id="gadgets11" class="form-checkbox">
                        <label title="Perfumería / Cosmética / Higiene personal" for="gadgets11" class="form-label form-label--inline">Perfumería / Cosmética / Higiene personal</label>
                    </div>
                     <div class="modularGrid-module">
                        <input type="checkbox" value="1_12" data-js-gadget="sector" name="sector" id="gadgets12" class="form-checkbox">
                        <label title="Venta ambulante / Mercadillos / Ferias locales" for="gadgets12" class="form-label form-label--inline">Venta ambulante / Mercadillos / Ferias locales</label>
                    </div>
                    <div class="modularGrid-module ">
                        <input type="checkbox" data-js-otros="" value="1_13" data-js-gadget="sector" name="sector" id="gadgets13" class="form-checkbox">
                        <label title=" Otros, indique cuáles" for="gadgets13" class="form-label form-label--inline"> Otros, indique cuáles</label>
                        <input type="text" class="form-input u-mgt--half " data-js-gadget-otros="sector" style="display: none" >
                    </div>
        </div>
    </fieldset>