---
title: Awards
layout: front/layouts/default_alt.hbs
---
<div class="modularGrid-module">
    <div class="modularGrid awards">
        <img src="../../img/bigbuy-premios-eawards-2016-01_es.jpg" alt="" usemap="#map">
        <!-- <img src="../../img/bigbuy-premios-eawards-2016-01_es.jpg" alt="" usemap="#map"> -->
        <img src="../../img/bigbuy-premios-eawards-2016-02.jpg" alt="">
        <img src="../../img/bigbuy-premios-eawards-2016-03.gif" alt="">
        <img src="../../img/bigbuy-premios-eawards-2016-04.jpg" alt="">
        <img src="../../img/bigbuy-premios-eawards-2016-05.jpg" alt="" class="awards-imgbtm">
        <a href="http://www.the-eawards.com/barcelona16/sign-up" class="awards-link awards-link--eawards" target="_blank" title="the e-awards" alt="the e-awards"></a>
        <a href="http://www.the-eawards.com/barcelona16/categorias/mejor-ecommerce-internacional/item/177-bigbuy-eu#review-box" class="awards-link awards-link--international" title="Mejor ecommerce internacional" alt="Mejor ecommerce internacional" target="_blank"></a>
        <a href="http://www.the-eawards.com/barcelona16/categorias/mejor-ecommerce-de-innovacion/item/93-bigbuy#review-box" class="awards-link awards-link--innovation" title="Mejor ecommerce de innovación" alt="Mejor ecommerce de innovación" target="_blank"></a>
    </div>
</div>
