---
title: B2B - Venta al por mayor
---
<div class="modularGrid u-pdb">
  <section class="box u-pdt--half">

    <div class="modularGrid-module u-tac u-pdt">

      <div class="ventaCMS-titleBox ">
        <h1 class="ventaCMS-title">B2B - VENTA AL POR MAYOR</h1>
      </div>
      <div class="ventaCMS-subtitleBox">
        <h2 class="ventaCMS-subtitle">Mayorista de regalos</h2>
      </div>
      <img src="../../img/escaparate.jpg" alt="" class="img img--responsive ventaCMS-subtitleImg  ventaCMS-subtitleImg--dropshippingBigPict">
    </div>

    <section class="ventaCMS-section  u-pdt--0 u-mgt--0">


      <div class="modularGrid u-elem-center u-pd u-pdt--0 u-xs-80">

        <h2 class="ventaCMS-sectionTitle">Nuestras secciones:</h2>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/tv.svg">
            <figcaption class="ventaCMS-prominentText u-tac"> Teletienda - Anunciado en TV</figcaption>
            {{!--  <p>Instalación y configuración de un eCommerce Prestashop en su hosting</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/gourmet.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Cocina  Gourmet</figcaption>
            {{!-- <p>Adaptación de uno de nuestros diseños con su logotipo y contenidos personalizadosg</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/appliance.svg">
            <figcaption class="ventaCMS-prominentText u-tac"> Pequeño electrodoméstico</figcaption>
            {{!-- <p>Sincronización disponible a 23 idiomas europeos. Traducciones por profesionales nativos</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/vacuum.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Hogar - Limpieza</figcaption>
            {{!-- <p>Para que sea 100% de su propiedad y a su nombre, le guiamos dónde y cómo registrar dominio y hosting</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/perfume.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Perfumes  Higiene Personal</figcaption>
            {{!-- <p>Instalación de scripts de sincronización con tareas programadas cron a nuestras bases de datos MYSQL</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/lipstick.svg">
            <figcaption class="ventaCMS-prominentText u-tac"> Salud Belleza</figcaption>
            {{!-- <p>Instalación módulo portes con todos los precios y mensajerías a cualquier país de Europa </p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/pilates.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Fitness Deportes</figcaption>
            {{!-- <p>Configuración de diversos métodos de pago. Contra rembolso, Tarjeta, Transferencia y Paypal</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/original.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Regalos Originales</figcaption>
            {{!-- <p>Para cualquier incidencia con la sincronización podrá contactar con nuestro departamento de soporte</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/mouse.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Electrónica Informática</figcaption>
            {{!-- <p>Multitud de documentación técnica para para iniciar y configurar su eCommerce Prestashop sincronizado a BigBuy</p> --}}
          </figure>
        </div>

        <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/outlet.svg">
            <figcaption class="ventaCMS-prominentText u-tac">Outlet y Ofertas Liquidaciones</figcaption>
            {{!-- <p>En la zona de descargas de BigBuy dispone en diferentes idiomas de banners, newsletters, etc. </p> --}}
          </figure>
        </div>

{{!--  <div class="modularGrid-module u-xs-25 u-pdt--half">
<figure class="ventaCMS-prominent">
<img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/catalog.svg">
<figcaption class="ventaCMS-prominentText u-tac">Catálogo completo</figcaption>
<p>E-commerce programado para convivir con artículos de otros proveedores </p>
</figure>
</div>
--}}
</section>



{{!-- <!-- SECTION ////////////////////////////////////////////////////////////// --> --}}
<section class="ventaCMS-section ventaCMS-section--inverse u-mgb">
  <h2 class="ventaCMS-subtitle ventaCMS-subtitle--section u-pd">¿Qué tipo de clientes tiene BigBuy?</h2>
  <div class="modularGrid u-xs-80 u-elem-center">


    <div class="modularGrid-module u-xs-50 u-pd">
      <img class="img img--responsive u-xs-25  u-pdt" alt="" src="../../img/cart.svg">
      <h2 class="ventaCMS-sectionTitle">CANAL VENTA ONLINE</h2>
      <p class="ventaCMS-normalText">Tienda Online – Venta por Internet:</p>
      <ul class="ventaCMS-list ventaCMS-list--inverse">
        <li class="ventaCMS-sectionText ventaCMS-sectionText--inverse"><strong>Archivos CSV: </strong>descarga manual o por FTP de archivos CSV/XML. El cliente se hace su e-commerce </li>
        <li class="ventaCMS-sectionText ventaCMS-sectionText--inverse"><strong>Tienda Sincronizada:</strong> BigBuy vende la web y la sincronización. Solución llave en mano. </li>
      </ul>

      <p class="ventaCMS-normalText u-mgt">E-MarketPlace:</p>
      <p class="ventaCMS-sectionText ventaCMS-sectionText--inverse">Venta en Ebay, Amazon, Rakuten, PixPlace, Cdiscount, Fnac, PriceMinister, etc.</p>

      <p class="ventaCMS-normalText u-mgt">Venta Flash Webs de compra colectiva:</p>
      <p  class="ventaCMS-sectionText ventaCMS-sectionText--inverse">Venta en Webs de compra colectiva tipo, Groupon, Grupalia, LetsBonus, Living Social, Vente-privee, etc.</p>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-50 u-pd">
      <img class="img img--responsive u-xs-25 u-pdt" alt="" src="../../img/store.svg">
      <h2 class="ventaCMS-sectionTitle">CANAL VENTA TRADICIONAL</h2>

      <p class="ventaCMS-normalText">Negocios Físicos y Distribuidores:</p>
      <p class="ventaCMS-sectionText ventaCMS-sectionText--inverse">Comercios, Tiendas de Regalo, Distribuidores, Regalo Promocional, Venta Directa, etc.</p>

      <p class="ventaCMS-normalText u-pdt">Compradores esporádicos al por mayor:</p>
      <p class="ventaCMS-sectionText ventaCMS-sectionText--inverse">Regalos de empresa, regalos para fiestas y eventos, regalos para bodas bautizos y comuniones, etc.</p>
    </div><!-- mod -->

  </div><!-- grid -->
</section>



{{!-- <!-- SECTION ////////////////////////////////////////////////////////////// --> --}}
<section class="ventaCMS-section u-mgb">
  <h2 class="ventaCMS-subtitle ventaCMS-subtitle--section u-pd">Packs Mayoristas</h2>
{{>packsTabContent wholesalerPacksContentsDefault}}
 {{!--  <div class="modularGrid">

    <div class="modularGrid-module cmsContent u-xs-80 u-elem-center">

      <div class="modularGrid">

        <div class="modularGrid-module u-xs-25">
          {{>pricePanel1-promo}}
        </div><!-- mod -->

        <div class="modularGrid-module u-xs-25">
          {{>pricePanel2-promo}}
        </div><!-- mod -->

        <div class="modularGrid-module u-xs-25">
          {{>pricePanel3-promo}}
        </div><!-- mod -->

        <div class="modularGrid-module u-xs-25">
          {{>pricePanel4-promo}}
        </div><!-- mod -->

      </div><!-- grid -->

    </div><!-- mod -->

  </div><!-- grid --> --}}

{{!-- <div class="modularGrid u-elem-center u-xs-80 u-tac u-mgt">

     <div class="modularGrid-module u-xs-50">
      <a class="link ventaCMS-prominentText ventaCMS-prominentText--link ">Quiero ser distribuidor</a>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-50">
      <a class="link ventaCMS-prominentText ventaCMS-prominentText--link ">Más info sobre packs</a>
    </div><!-- mod -->

  </div><!-- grid --> --}}

</section>




{{!<!-- SECTION ////////////////////////////////////////////////////////////// -->
{{!-- <section class="ventaCMS-section u-brb">

  <div class="modularGrid u-elem-center u-xs-75">
    <div class="modularGrid-module">
      <h2 class="ventaCMS-sectionTitle">Packs Mayoristas</h2>
      <h4 class="cmsContentSection-subtitle">Disponemos de packs mayoristas con condiciones especiales para su negocio</h4>
      <img class="img img--responsive u-xs-80 u-elem-center u-pd" alt="" src="../../img/all-packs.svg">
    </div>
    <a href="#">Más info sobre packs</a>
    <div class="modularGrid u-xs-60 u-elem-center">
      <div class="modularGrid-module u-xs-50 u-pd">
        <button class="button button--huge button--borderless u-vt">
          Más info sobre packs


        </button>
      </div>
      <div class="modularGrid-module u-xs-50 u-pd">
        <button class="button button--huge button--borderless u-vt">
          Quiero ser distribuidor


        </button>
      </div>

    </div>

  </div>

</section> --}}

{{>info}}
{{>faqs}}
</section>
</div>



