---
title: Bloqueo de stocks
---
{{>bloqueoCMSSection1}}
<section class="u-brb">

<div class="modularGrid u-elem-center u-xs-75 u-pdt u-mgt u-pdb">
  <div class="modularGrid-module u-xs-60 u-pdr">
    <h3 class="ventaCMS-itemTitle u-pdt">Servicios que ofrecemos:</h3>
  </div>

  <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-30">
        <img src="../../img/block-stock.svg" alt="" class="img img--responsive"/>
      </div>
      <div class="modularGrid-module u-xs-65 u-pd">
        <h3 class="cmsContentSection-subtitle">Bloqueo de stocks hasta 7 días</h3>
        <p class="ventaCMS-sectionText">Reserve la mercancia que estime vender por 7 días y al terminar la promoción pase el pedido por las unides vendidas</p>
      </div>
    </div>
  </div>
  <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-30">
        <img src="../../img/x100.svg" alt="" class="img img--responsive"/>
      </div>
      <div class="modularGrid-module u-xs-65 u-pd">
        <h3 class="cmsContentSection-subtitle">Sin entregar dinero a cuenta</h3>
        <p class="ventaCMS-sectionText">Reserve la mercancia sin entregar dinero a cuenta. Sólo disponible a clientes con Pack Mayorista</p>
      </div>
    </div>
  </div>
  <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-30">
        <img src="../../img/traduccion.svg" alt="" class="img img--responsive"/>
      </div>
      <div class="modularGrid-module u-xs-65 u-pd">
        <h3 class="cmsContentSection-subtitle">Descarga imágenes y videos</h3>
        <p class="ventaCMS-sectionText">Facilitamos videos, banners e imágenes de todos los productos para que los use en su web y las descripciones en 23 idiomas</p>
      </div>
    </div>
  </div>
  <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-30">
        <img src="../../img/compra-colectiva.svg" alt="" class="img img--responsive"/>
      </div>
      <div class="modularGrid-module u-xs-65 u-pd">
        <h3 class="cmsContentSection-subtitle">Ideal para webs de compra colectiva</h3>
        <p class="ventaCMS-sectionText">Enfocado a venta flash en webs como Groupon, LetsBonus, Living Social, Vente Privee, etc.</p>
      </div>
    </div>
  </div>
  <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-30 ">
        <img src="../../img/envio-europa.svg" alt="" class="img img--responsive"/>
      </div>
      <div class="modularGrid-module u-xs-65 u-pd">
        <h3 class="cmsContentSection-subtitle">Entrega urgente a toda Europa</h3>
        <p class="ventaCMS-sectionText">
          Envíos directos a su almacén o al cliente final en cualquier país de Europa a precios muy competitivos
        </p>
      </div>
    </div>
  </div>
  <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
    <div class="modularGrid">
      <div class="modularGrid-module u-xs-30">
        <img src="../../img/anonimo.svg" alt="" class="img img--responsive"/>
      </div>
      <div class="modularGrid-module u-xs-65 u-pd">
        <h3 class="cmsContentSection-subtitle">Envío anónimo. Dropshipping</h3>
        <p class="ventaCMS-sectionText">
          Envios directos a sus clientes con remitente anónimo, sin publicidad de BigBuy, ni precios, ni logotipos
        </p>
      </div>
    </div>
  </div>
</div>
</section>
{{>info}}
{{>faqs}}
</section>
</div>
