---
title: Categorias
layout: front/layouts/default_alt.hbs
breadcrumblist:
- Inicio
- Moda y complementos
---
{{>breadcrumb}}
<div class="modularGrid-module u-xs-25 u-pdb u-pdr2 u-pdt">
	<ul class="menuList">
		{{> menuList menuList1.list }}
		{{> menuList menuList2.list }}
		{{> menuList menuList3.list }}
		{{> menuList menuList4.list }}
		{{> menuList menuList5.list }}
		{{> menuList menuList6.list }}
		{{> menuList menuList7.list }}
		{{> menuList menuList8.list }}
		{{> menuList menuList9.list }}
	</ul>
	{{>menuListDescription menuList7.list}}
</div>


<div class="modularGrid-module u-xs-75 u-pdt">
	<section class="categoryList">
		{{> cardList cardList.top }}
		<section class="cardList cardList--col_3 ">
			{{>cardListItem1 col='col_2'}}
			{{>cardListItem2}}
		</section>
		<section class="cardList cardList--col_3 ">
			{{>cardListItem1 col='col_3'}}
		</section>
		<section class="cardList cardList--col_4 ">
			{{>cardListItem1}}
			{{>cardListItem2}}
			{{>cardListItem3}}
			{{>cardListItem2}}
		</section>
		<section class="cardList cardList--col_4 ">
			{{>cardListItem1 col='col_2'}}
			{{>cardListItem2}}
			{{>cardListItem3}}

		</section>
		<section class="cardList cardList--col_4 ">
			{{>cardListItem1 col='col_3'}}
			{{>cardListItem2}}
		</section>
		<section class="cardList cardList--col_4 ">
			{{>cardListItem1 col='col_4'}}
		</section>
		<section class="cardList cardList--col_5 ">
			{{>cardListItem1}}
			{{>cardListItem2}}
			{{>cardListItem3}}
			{{>cardListItem2}}
			{{>cardListItem1}}
		</section>
		<section class="cardList cardList--col_5 ">
			{{>cardListItem1 col='col_2'}}
			{{>cardListItem2}}
			{{>cardListItem3}}
			{{>cardListItem2}}

		</section>
		<section class="cardList cardList--col_5 ">
			{{>cardListItem1}}
			{{>cardListItem3 col='col_3'}}
			{{>cardListItem2}}
		</section>
		<section class="cardList cardList--col_5 ">

			{{>cardListItem2 col='col_4'}}
			{{>cardListItem1}}
		</section>
		<section class="cardList cardList--col_5 ">
			{{>cardListItem2 col='col_5'}}
		</section>



		{{> cardList cardList.wear }}
		{{> cardList cardList.accesories }}
		{{> cardList cardList.jewellery }}


	</section>

	{{> cardList cardList.bottom }}

</div>











