---
title: Condiciones Generales
breadcrumblist:
- Inicio
- Condiciones generales y de privacidad
---
<div class="modularGrid u-pdb">
  <section class="box u-pdv u-mgb">   
  <div class="modularGrid-module u-xs-75 u-elem-center u-pdb2 legalText">
    {{>legal gen title='Condiciones Generales'}}
  </div>
</div>
</section>