---
title: Archivos CSV / XML
---
<div class="modularGrid u-pdb">
  <section class="box u-pdt--half">
    <div class="modularGrid-module u-tac u-pdt">
      <div class="ventaCMS-titleBox ">
        <h1 class="ventaCMS-title">ARCHIVOS CSV/XML</h1>
      </div>
      <div class="ventaCMS-subtitleBox">
        <h2 class="ventaCMS-subtitle">Catálogo BigBuy en archivos CSV/XML</h2>
      </div>
      <section class="ventaCMS-section" >
        <div class="modularGrid u-elem-center u-txl u-xs-80">
          <div class="modularGrid-module u-xs-50">
            <img src="../../img/time.svg" alt="" class="img u-pdt u-mgt u-xs-30 u-elem-center  img--responsive">
            <h2 class="ventaCMS-subtitle ventaCMS-subtitle--section u-pd">Actualizados diariamente (cada 8h.)</h2>
          </div>
          <div class="modularGrid-module u-xs-50">
            <img src="../../img/languages.svg" alt="" class="img u-pdt u-mgt u-xs-30 u-elem-center  img--responsive">
            <h2 class="ventaCMS-subtitle ventaCMS-subtitle--section u-pd">CSV/XML en 23 idiomas diferentes</h2>
          </div>
          <p class="modularGrid-module ventaCMS-sectionText u-mgt u-pdt">Los archivos CSV disponen de información sobre todos los productos de BigBuy cuyos campos son: </p>
          <ul class="modularGrid-module ventaCMS-list u-mgt u-xs-3rd">
            <li>Código de producto</li>
            <li>Código EAN</li>
            <li>Nombre Producto</li>
            <li>Descripción del producto</li>
          </ul>
          <ul class="modularGrid-module ventaCMS-list u-mgt u-xs-3rd">
            <li>PVD (Precio Venta Distribuidor)</li>
            <li>PVR (Precio Venta Recomendado)</li>
            <li>Stock</li>
            <li>URL a imágenes (hasta 8 posibles)</li>
          </ul>
          <ul class="modularGrid-module ventaCMS-list u-mgt u-xs-3rd">
            <li>Vídeo Youtube (si lo hubiere)</li>
            <li>Fecha de alta</li>
            <li>Fecha de última modificación</li>
          </ul>
        </div>
      </section>
      {{>csvDownloads}}
    </div>
    <section class="ventaCMS-section" >
      <div class="modularGrid u-elem-center modularGrid-section--colorized u-xs-80 ">
        <h2 class="modularGrid-module ventaCMS-sectionTitle u-txl">Sincronización CSV/XML a su e-commerce</h2>
        <div class="modularGrid-module u-mgt--half u-mgb  u-pdr u-xs-50">
          <img src="../../img/lever.svg">
          <p class="ventaCMS-prominentText">IMPORTACIÓN MANUAL</p>
          <p class="ventaCMS-sectionText">BigBuy facilita archivos CSV adaptados al software Prestashop</p>
          <ul class="ventaCMS-list">
            <li class="u-pdt--half"><strong>Ventajas:</strong> Es aparentemente la opción más económica ya que siguiendo los pasos de nuestro video tutorial y con unos mínimos conocimientos podrá realizar la importación a su Prestashop</li>
            <li class="u-pdt--half"><strong>Inconvenientes:</strong> Debe descargar diariamente los CSVs y cargarlos manualmente en su Prestashop para mantener actualizado su e-commerce de altas de artículos o roturas de stocks</li>
          </ul>
        </div>
        <div class="modularGrid-module u-mgt--half u-mgb  u-pdl u-xs-50">
          <img src="../../img/automatic.svg">
          <p class="ventaCMS-prominentText">IMPORTACIÓN AUTOMÁTICA</p>
          <p class="ventaCMS-sectionText">Facilitamos descarga archivos CSV/XML a través de FTP </p>
          <ul class="ventaCMS-list">
            <li class="u-pdt--half"><strong>Ventajas:</strong> Su web estará sincronizada en todo momento con el catálogo de BigBuy sin tener que realizar las tediosas y lentas importaciones manuales de CSV</li>
            <li class="u-pdt--half"><strong>Inconvenientes:</strong> Solo es viable la automatización si usted tiene conocimientos para programar un Script con tarea cron. De no ser usted programador, deberá subcontratar uno para que le desarrollen la sincronización automática </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="ventaCMS-section u-brt u-brb" >
      <div class="modularGrid u-elem-center modularGrid-section--colorized u-xs-60  ">
        <h2 class="modularGrid-module ventaCMS-sectionTitle u-txl">Tienda Dropshipping sincronizada BigBuy</h2>
        <p class="modularGrid-module ventaCMS-sectionText">Facilitamos una tienda online sincronizada a BigBuy y 100% testeada. La sincronización que ofrecemos funciona por Bases de Datos MySQL y es mucho más avanzada que importando por CSV/XML. <a href="">+info</a></p>
        <img src="../../img/shop-online.png" class="u-elem-center u-pdt u-mgt">
        <div class="modularGrid-module u-mgt--half u-mgb  u-pdr ">
          <div class="modularGrid">
            <div class="modularGrid-module u-xs-5">
              <svg role="img" class="icon icon--inline icon--md">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-check"/>
              </svg>
            </div>
            <div class="modularGrid-module u-xs-95">
              <p class="ventaCMS-prominentText  u-pd--0 u-mgt--half">Ventajas</p>
            </div>
          </div>
          <ul class="ventaCMS-list">
            <li class="u-pdt--half">Entregamos su web en aproximadamente 2-3 días completamente adaptada a la plantilla elegida, con su logotipo y todas las funcionalidades en marcha</li>
            <li class="u-pdt--half">Su web estará sincronizada en todo momento con el catálogo de BigBuy sin tener que realizar las tediosas y lentas importaciones manuales de CSV</li>
            <li class="u-pdt--half"> Desde el minuto 1 que usted tiene la web se despreocupará de todo aquello que no sea promocionarla o vender productos</li>
            <li class="u-pdt--half">Para clientes con Pack Premium ofrecemos Pedidos Sincronizados,  evitando hacer los pedidos en BigBuy de forma manual con el clásico copia/pega de todos los datos del destinatario y ahorrará en la gestión de su tienda</li>
          </ul>
        </div>
        <div class="modularGrid-module u-mgt--half u-mgb  ">
          <div class="modularGrid">
            <div class="modularGrid-module u-xs-5">
              <svg role="img" class="icon icon--inline icon--md">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-times"/>
              </svg>
            </div>
            <div class="modularGrid-module u-xs-95">
              <p class="ventaCMS-prominentText  u-pd--0 u-mgt--half">Inconvenientes</p>
            </div>
          </div>
          <div class="modularGrid">
            <div class="modularGrid-module u-mgb">
              <ul class="ventaCMS-list">
                <li class="u-pdt--half">Ninguno</li>
              </ul>
            </div>
            <div class="modularGrid-module u-tac">
              <a class="ventaCMS-link ventaCMS-prominentText ">Más información sobre Tienda Dropshipping</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{>info}}
    {{>faqs}}
  </section>
</div>