---
title: Su cuenta ha sido creada
---
<div class="modularGrid modularGrid--boxed ">
    <section class="modularGrid-module errorPage box u-mgb2">
        {{>cuentaok_header}}
        {{>cuentaok_packsdesktop}}
        <div class="u-content-center u-pdt">   
            <a class="link u-pdh2" href="#">Ahora no, seguir navegando</a>  
            <button class="button button--big button--ghost">           
                +info Packs Mayoristas
            </button>
        </div>
    </section>
</div>
