---
title: Su cuenta ha sido creada
---
<div class="modularGrid modularGrid--boxed u-pdb">
    <section class="cmsContent">
        <article class="errorPage box u-mgb">
            <div class="modularGrid">

                <div class="modularGrid-module u-xs-15">
                    <img src="../../img/happy-user.svg" alt="" class="">
                </div>

                <div class="modularGrid-module">
                    <h1 class="modularGrid-module cuentaOk-subtitle">Muchas gracias,<br>su cuenta ha sido creada</h1>
                </div>

                <section class="modularGrid-module ventaCMS-section u-mgb u-pdb cuentaOk-outline u-xs-80 u-elem-center u-mgt"> 

                    <div class="modularGrid">

                        <div class="modularGrid-module cmsContent  u-elem-center">
                            <p class="cuentaOk-description u-xs-50 u-elem-center u-mgb2">Active ahora su Pack Mayorista de BigBuy y <br>
                                beneficiese de condiciones especiales para distribuidores</p>

                                <div class="modularGrid u-txl">

                                    <div class="modularGrid-module u-xs-25">
                                        {{>pricePanel1-promo}}
                                    </div><!-- mod -->

                                    <div class="modularGrid-module u-xs-25">
                                        {{>pricePanel2-promo}}
                                    </div><!-- mod -->

                                    <div class="modularGrid-module u-xs-25">
                                        {{>pricePanel3-promo}}
                                    </div><!-- mod -->

                                    <div class="modularGrid-module u-xs-25">
                                        {{>pricePanel4-promo}}
                                    </div><!-- mod -->

                                </div><!-- grid -->

                            </div><!-- mod -->

                        </div><!-- grid -->
                        <button class="button button button--big u-elem-center">
                            <span>+info</span>
                        </button>
                    </section>

                    <a class="modularGrid-module u-xs-80 ventaCMS-link u-txr" href="">Continuar navegando</a>
                   {{!--  <button class="button button--primary button--big u-mgt u-elem-center">
                        <span>Continuar navegando</span>
                    </button> --}}

{{!-- <div class="modularGrid u-mgt2">
<div class="modularGrid-module cuentaOk-outline u-xs-75 u-mgt2">
<p class="cuentaOk-description u-xs-50 u-elem-center u-mgt">Active ahora su Pack Mayorista de BigBuy y <br>
beneficiese de condiciones especiales para distribuidores</p>
<div class="modularGrid">
<div class="modularGrid-module u-xs-25">
<img src="../../img/pack-basic.svg">
</div>
<div class="modularGrid-module u-xs-25">
<img src="../../img/pack-pro.svg">
</div>
<div class="modularGrid-module u-xs-25">
<img src="../../img/pack-business.svg">
</div>
<div class="modularGrid-module u-xs-25">
<img src="../../img/pack-premium.svg">
</div>
</div>
<button class="button button button--big u-elem-center u-mgb">
{{!-- <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-paperplane"></use></svg> --}}
<span>+info</span>
</button>
{{!-- <p class="cuentaOk-link u-mgt">+info</p> --}}
</div>
</div>
</div> --}}




</article>
</section>
</div>


{{!-- <div class="modularGrid u-elem-center u-xs-80 u-tac u-mgt">

<div class="modularGrid-module u-xs-50">
<a class="link ventaCMS-prominentText ventaCMS-prominentText--link ">Quiero ser distribuidor</a>
</div><!-- mod -->

<div class="modularGrid-module u-xs-50">
<a class="link ventaCMS-prominentText ventaCMS-prominentText--link ">Más info sobre packs</a>
</div><!-- mod -->

</div><!-- grid --> --}}