---
title: Dropshipping
---
<div class="modularGrid u-pdb">
  <section class="box u-pdb">

    <div class="modularGrid-module u-tac">

      <div class="ventaCMS-titleBox u-mgt2 u-xs-90">
        <h1 class="ventaCMS-title">DROPSHIPPING</h1>
      </div>

      <div class="ventaCMS-subtitleBox u-pdr">
        <h2 class="ventaCMS-subtitle">Tú vendes y BigBuy se encarga del resto</h2>
      </div>
    </div>

    <article class="ventaCMS-section u-elem-center u-xs-90">
      <div class="modularGrid-module u-xs-50 u-pdr">
          <img src="../../img/proveedor-dropshipping-mayorista.jpg" alt="" class="img img--responsive" />
      </div>
      <div class="modularGrid-module u-xs-50 u-flr">
        <h2 class="cmsContentSection-supertitle">¿Qué es el dropshipping?</h2>
        <p class="ventaCMS-sectionText">El dropshipping es un modelo de negocio que le permite vender por internet todo el stock de BigBuy <strong>sin necesidad de invertir un solo euro en stock</strong>. BigBuy es quien se encarga de toda la parte logística (almacenamiento, empaquetado y envío) y usted se encarga de promocionar su e-Commerce, generar ventas y la facturación.</p>
        <h3 class="modularGrid-module ventaCMS-sectionTitle">Vende en tu e-Commerce o en e-marketplaces</h3>
        <p class="ventaCMS-sectionText u-pdb--half">Venda con el servicio Dropshipping <strong>todo el catálogo de BigBuy en su tienda online</strong>, o en cualquier e-marketplace tipo Amazon, eBay, Rakuten, Cdiscount, etc.</p>
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdb">
            <button class="button button--primary button--giga"><!--#@-->Hazte distribuidor<!--#@--></button>
          </div>
        </div>
      </div>
    </article>
    <div class="modularGrid u-pdb u-brt u-pdl">

    <div class="modularGrid u-elem-center u-pd u-xs-90">
    <div class="u-elem-center">
    <h2 class="ventaCMS-itemTitle">Ventajas de ser distribuidor de BigBuy</h2>
    </div>
     <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent">


       <img src="../../img/cajas01.svg" alt="" class="img img--responsive u-xs-45 u-elem-center" />

       <figcaption class="ventaCMS-prominentText u-mgt--half">No necesita almacenar, <strong>ni invertir en stock.</strong> Miles de productos de BigBuy pasarán a ser su stock</figcaption>
      </figure>
     </div>
     <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent">
      <img src="../../img/empaquetado.svg" alt="" class="img img--responsive u-xs-45 u-elem-center" />

       <figcaption class="ventaCMS-prominentText u-mgt--half">Realizamos la preparación de pedidos y el empaquetado, nos convertimos en <strong>su operador logístico</strong></figcaption>
      </figure>
     </div>
    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent">


        <img src="../../img/camion2.svg" alt="" class="img img--responsive u-xs-45 u-elem-center" />
       <figcaption class="ventaCMS-prominentText u-mgt--half">Envío desde BigBuy <strong>con remitente anónimo directo a su cliente</strong>, con cajas sin publicidad y albarán neutro sin precios</strong></figcaption>
      </figure>
     </div>



    </div>

   </div>
    <article class="ventaCMS-section ventaCMS-section--colorized u-brdt">
      <h2 class="ventaCMS-sectionTitle u-xs-90 u-elem-center">¿Cómo funciona el Dropshipping?</h2>
      <div class="modularGrid-module u-xs-90 u-elem-center u-pd u-mgb"><img src="../../img/dropshipping_big.png" alt="" class=" img--responsive"></div>


    </article>

    {{>info}}
    {{>faqs}}

  </section>
</div>
