---
title: Dropshipping 
---
<div class="modularGrid u-pdb">
    <section class="box u-pdb">
        <div class="modularGrid-module u-tac">
            <div class="ventaCMS-titleBox u-mgt2">
                <h1 class="ventaCMS-title">DROPSHIPPING</h1>
            </div>
            <div class="ventaCMS-subtitleBox">
               <img src="../../img/bigBox.svg" alt="" class="ventaCMS-subtitleImg  ventaCMS-subtitleImg--bigBox"/>
               <h2 class="ventaCMS-subtitle">Tú vendes y BigBuy se encarga del resto</h2>
           </div>
            <h2 class="cmsContentSection-supertitle u-tac u-pdt">¿Qué es el Servicio Dropshipping BigBuy?</h2>
       </div>
       <div class="modularGrid-module u-tac">
           <div class="ventaCMS-subsection u-mgt--half u-elem-center u-xs-60">
            <p class="cmsContentSection-title">El Dropshipping es un modelo de negocio que le permite disponer de todo el stock de Bigbuy sin necesidad de invertir un solo euro.</p>

        </div>
    </div>


<div class="modularGrid u-pdb">



    <div class="modularGrid u-elem-center u-pd u-xs-90">

     <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent">


       <img src="../../img/cajas01.svg" alt="" class="img img--responsive u-xs-45 u-elem-center" />

       <figcaption class="ventaCMS-prominentText u-mgt--half">No necesita almacenar, <strong>ni invertir en stock.</strong> Miles de productos de BigBuy pasarán a ser su stock</figcaption>
      </figure>
     </div>
     <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent">
      <img src="../../img/empaquetado.svg" alt="" class="img img--responsive u-xs-45 u-elem-center" />

       <figcaption class="ventaCMS-prominentText u-mgt--half">Realizamos la preparación de pedidos y el empaquetado, nos convertimos en <strong>su operador logístico</strong></figcaption>
      </figure>
     </div>
    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent">


        <img src="../../img/camion2.svg" alt="" class="img img--responsive u-xs-45 u-elem-center" />
       <figcaption class="ventaCMS-prominentText u-mgt--half">Envío desde BigBuy <strong>con remitente anónimo directo a su cliente</strong>, con cajas sin publicidad y albarán neutro sin precios</strong></figcaption>
      </figure>
     </div>



    </div>

   </div>
   <section class="ventaCMS-section ventaCMS-section--colorized u-mgt  u-brdt  u-brb">

    <h2 class="ventaCMS-sectionTitle u-xs-90 u-elem-center">¿Cómo funciona el Dropshipping?</h2>
    <div class="modularGrid-module u-xs-90 u-elem-center u-pd u-mgb">

     <img src="../../img/dropshipping_big.png" alt="" class=" img--responsive">
     </div>


  </section>
  {{>info}}
  {{>faqs}}


















</section>




</div>



