---
title: Entrega y envío
---
<div class="modularGrid u-pdb">
  <section class="box u-pdb">
    <div class="modularGrid-module u-tac">
      <div class="ventaCMS-titleBox u-mgt2">
        <h1 class="ventaCMS-title">ENTREGA Y ENVÍO</h1>
      </div>
      <div class="ventaCMS-subtitleBox">
        <img src="../../img/bigTruck.svg" alt="" class="ventaCMS-subtitleImg  ventaCMS-subtitleImg--bigTruck"/>
        <h2 class="ventaCMS-subtitle">Envíos urgentes a toda Europa con seguimiento de envío</h2>
      </div>
    </div>


    <div class="modularGrid u-elem-center u-xs-95 u-pd u-mgt">


      <div class="modularGrid-module u-xs-3rd">
        <figure class="ventaCMS-prominent">
          <img class="u-elem-center u-xs-50 u-pdt img img--responsive" alt="" src="../../img/urgente.svg">
          <figcaption class="ventaCMS-prominentText u-xs-65 u-elem-center u-tac">Trabajamos con mensajerías urgentes</figcaption>
        </figure>
      </div>
      <div class="modularGrid-module u-xs-3rd">
        <figure class="ventaCMS-prominent">
          <img class="u-elem-center u-xs-50 u-pdt img img--responsive" alt="" src="../../img/tracking.svg">
          <figcaption class="ventaCMS-prominentText u-xs-65 u-elem-center u-tac">Seguimiento de envío <br>Nº Tracking online</figcaption>
        </figure>
      </div>
      <div class="modularGrid-module u-xs-3rd">
        <figure class="ventaCMS-prominent">
          <img class="u-elem-center u-xs-50 u-pdt img img--responsive" alt="" src="../../img/camion2.svg">
          <figcaption class="ventaCMS-prominentText u-xs-65 u-elem-center u-tac">Envíos a Baleares, Ceuta, Melilla y Canarias</figcaption>
        </figure>
      </div>

      <div class="modularGrid-module u-xs-3rd">
        <figure class="ventaCMS-prominent">
          <img class="u-elem-center u-xs-50 u-pdt img img--responsive" alt="" src="../../img/europa.svg">
          <figcaption class="ventaCMS-prominentText u-xs-65 u-elem-center u-tac">Envíos urgentes a toda Europa</figcaption>
        </figure>
      </div>
      <div class="modularGrid-module u-xs-3rd">
        <figure class="ventaCMS-prominent">
          <img class="u-elem-center u-xs-50 u-pdt img img--responsive" alt="" src="../../img/csv2.svg">
          <figcaption class="ventaCMS-prominentText u-xs-65 u-elem-center u-tac">CSV con tabla de portes en el panel de control</figcaption>
        </figure>
      </div>
      <div class="modularGrid-module u-xs-3rd">
        <figure class="ventaCMS-prominent">
          <img class="u-elem-center u-xs-50 u-pdt img img--responsive" alt="" src="../../img/prestashop.svg">
          <figcaption class="ventaCMS-prominentText u-xs-65 u-elem-center u-tac">Módulo de portes para Prestashop</figcaption>
        </figure>
      </div>
    </div>





   {{!--<section class="ventaCMS-section ventaCMS-section--colorized u-mgt u-brdt  u-brb">

      <h2 class="ventaCMS-sectionTitle u-tac">Estimar costes de envío y plazo de entrega aproximado</h2>
      <div class="modularGrid-module u-xs-70 u-elem-center u-pd u-mgb">
        <form class="form u-mgt">
          <fieldset class="form-fieldset form-fieldset--borderless">
            <div class="modularGrid">
              <div class="modularGrid-module u-md-20">
                <label for="country" class="form-label">País</label>
                <select class="form-select" name="" id="country">
                  <option value="">España</option>
                  <option value="">Francia</option>
                </select>
              </div>
              <div class="modularGrid-module u-md-20 u-pdl">
                <label for="" class="form-label">Código postal</label>
                <input type="text" class="form-input">
              </div>
              <div class="modularGrid-module u-md-20 u-pdl">
                <label for="country" class="form-label">Tipo</label>
                <select class="form-select" name="" id="country">
                  <option value="">Por peso</option>
                  <option value="">Por volumen</option>
                </select>
              </div>
              <div class="modularGrid-module u-md-20 u-pdl">
                <label for="" class="form-label">Peso aprox.</label>
                <input type="text" class="form-input">
              </div>
              <div class="modularGrid-module u-md-20 u-pdl">
                <button class="button  button--primary button--full button--formInline">
                  Calcular
                </button>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-fieldset form-fieldset--borderless u-mgt">
              <table class="table">
                <thead class="table-thead">
                  <tr class="table-tr">
                    <th class="table-item">Empresa de transporte</th>
                    <th class="table-item">Plazo de entrega aprox.</th>
                    <th class="table-item  table-item--number">Coste</th>
                  </tr>
                </thead>
                <tbody class="table-tbody table-tbody--stripped"><tr class="table-tr">
                  <td class="table-item">
                    <img src="http://192.168.1.211/bigbuy_e/public/img/carrier/chrono_mini.png" class="form-img"></td>
                    <td class="table-item">1-2 días</td>
                    <td class="table-item table-item--number">6,40 €</td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table-item"><img src="http://192.168.1.211/bigbuy_e/public/img/carrier/correos_mini.png"</td>
                    <td class="table-item">1-2 días</td>
                    <td class="table-item table-item--number">8,00 €</td>
                  </tr>
                </tbody>
              </table>
            </fieldset>




          </form>





        </div>





      </section>--}}
      {{>info}}
      {{>faqs}}






    </section>




  </div>



