---
title: Elementos de formulario
layout: front/layouts/default_alt.hbs
---
<div class="modularGrid u-pdb">
	<section class="cmsContent box">
		<form action="" class="form">
			<div class="modularGrid">
				<div class="modularGrid-module u-lg-50">
					<div class="form-fieldset form-fieldset--sequential">




						<h3 class="form-fieldset-title">Campo editable</h3>


						<div class="modularGrid u-pdv">

							<div class="modularGrid-module  u-xs-50	edit" data-edit="elem">






								<input type="mail" id="email" class="form-input edit-input" placeholder="ux@all4business.es" data-edit="input" value="ux@all4business.es" >
								<nav class="edit-btns"><button type="button" class="edit-btn" data-edit="change">{{>svgIcon type='done_alt'}}</button><button type="button" class="edit-btn" data-edit="reset">{{>svgIcon type='clear'}}</button></nav>




							</div>
							

							<div class="modularGrid-module  u-xs-50	">


							
							</div>


						</div>
					</div>



				</div>
			</div>



		</div>





	</form>



</section>
</div>