---
title: Creación de cuenta
---
<h1 class="title">Creación de cuenta</h1>
<div class="modularGrid u-pdb">
    <section class="cmsContent box u-pdt">
        <div class="modularGrid-module u-brb">
            {{>steps }}
        </div>
        {{>newAccount1}}
       {{!--  {{>newAccount2}}
        {{>newAccount3}} --}}
    </section>
</div>