---
title: Creación de cuenta
layout: front/layouts/default_alt.hbs
---
<h1 class="title">Creación de cuenta</h1>
<div class="modularGrid u-pdb">
    <section class="cmsContent box">
        {{>createAccount1}}

    </section>
</div>