---
title: Política de privacidad
---
<div class="modularGrid u-pdb">
  <section class="box u-pdb">
    <div class="modularGrid-module u-tac">
      <div class="ventaCMS-titleBox u-mgt2">
        <h1 class="ventaCMS-title">POLÍTICA DE PRIVACIDAD</h1>
      </div>
      <div class="ventaCMS-subtitleBox">
        <h2 class="ventaCMS-subtitle">Condiciones de uso</h2>
      </div>
    </div>
    <div class="modularGrid u-elem-center u-xs-75 u-pdt u-mgt u-pdb">
<!-- <div class="modularGrid-module ">
<h2 class="ventaCMS-sectionTitle">Título de sección</h2>
</div> -->
<div class="modularGrid-module u-xs u-mgb">
  <div class="modularGrid">
    <div class="modularGrid-module u-xs u-pdt">
     <!-- <h3 class="cmsContentSection-subtitle">Título de artículo</h3> -->
      <p class="ventaCMS-sectionText"><strong>General</strong>: Utilizar esta página web y/o registrarse como usuario presupone la aceptación de estas condiciones.</p>

      <p class="ventaCMS-sectionText u-pdt"><strong>Privacidad</strong>: En cumplimiento de la Ley de Protección de Datos y de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), le informamos que los datos personales facilitados por Ud. en cualquiera de los formularios incluidos en este sitio web son incluidos en unos ficheros informáticos propiedad y responsabilidad de BigBuy, y serán tratados por métodos automatizados con la única finalidad de hacer posible la gestión administrativa de nuestras relaciones comerciales, y/o de permitir la realización de los servicios ampliamente explicados en este sitio web. Puede Ud. ejercer los derechos de acceso, rectificación, cancelación y oposición que le otorga la Ley 15/1999 de Protección de Datos (LOPD) y la Ley 34/2002 de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), simplemente notificándolo por correo, e-mail o directamente en este sitio web. BigBuy se reserva el derecho de modificar su política de privacidad o las condiciones de uso de nuestros servicios por motivos de adaptación a la legislación vigente, u otros motivos, por lo que se recomienda al usuario de este sitio web la revisión periódica de esta página, ya que el uso de este sitio web por parte del usuario se entenderá como aceptación de la política de privacidad y condiciones de uso vigentes en ese momento</p>

      <p class="ventaCMS-sectionText u-pdt"><strong>Propiedad</strong>: Esta página web es propiedad de BigBuy, así como todos los derechos de su contenido, imágenes, textos, diseño y software. Todos los elementos de esta página, incluyendo sin limitaciones, su diseño y su contenido están protegidos por las leyes de la Propiedad Intelectual, Propiedad Industrial y tratados internacionales referidos a los Derechos de Autor.</p>

      <p class="ventaCMS-sectionText u-pdt"><strong>Uso de su contenido</strong>: A menos que sea explícitamente autorizado por BigBuy, usted no puede reproducir, transmitir o explotar el contenido de esta web de ningún modo.</p>

      <p class="ventaCMS-sectionText u-pdt"><strong>Responsabilidades</strong>: A pesar de que BigBuy pone el máximo esfuerzo en garantizar la precisión y exactitud en el contenido de esta página web, ésta puede contener errores o inexactitudes. Consecuentemente no garantizamos la veracidad, la fiabilidad o la exactitud de su contenido. BigBuy rechaza la responsabilidad sobre la información contenida en páginas web de terceras partes conectadas por enlaces (links), con las páginas web de BigBuy. Bajo ninguna circunstancia, BigBuy será tenido como responsable de ningún daño o perjuicio de ningún tipo surgido de, o en relación, al uso de esta página web. Deberá indemnizar a BigBuy contra cualquier daño o perjuicio que resulte del incumplimiento por su parte de las presentes condiciones o del uso del contenido de esta web sin previa autorización.</p>

      <p class="ventaCMS-sectionText u-pdt"><strong>Divisibilidad</strong>: Si alguna estipulación de las presentes condiciones carece o pasase a carecer de validez o resultara no ejecutable según el derecho aplicable, dicha estipulación no tendría efecto, pero solamente en la medida de esa precisa falta de validez, y no afectará a ninguna otra estipulación de las presentes condiciones.</p>

      <p class="ventaCMS-sectionText u-pdt"><strong>Legislación y jurisdicción aplicable</strong>: Estas condiciones de uso deben ser interpretadas y están regidas por la legislación española vigente. Cualquier disputa derivada de estas condiciones deberá dirimirse ante los tribunales de Valencia, España. No obstante, esto no impedirá a BigBuy ejercer el derecho a resolver cualquier litigio en otra jurisdicción competente.</p>
      <p class="ventaCMS-sectionText u-pdt"><strong>Modificaciones</strong>: BigBuy se reserva el derecho a cambiar el contenido de esta página web, en cualquier momento y sin aviso previo.</p>
    </div>
  </div>
</div>
</div>