---
title: Formas de pago
---
<div class="modularGrid u-pdb">
  <section class="box u-pdb">

    <div class="modularGrid-module u-tac">
      <div class="ventaCMS-titleBox u-mgt2">
        <h1 class="ventaCMS-title">FORMAS DE PAGO</h1>
      </div>
      <div class="ventaCMS-subtitleBox">
        <img src="../../img/bigCards.svg" alt="" class="ventaCMS-subtitleImg  ventaCMS-subtitleImg--bigCards"/>
        <h2 class="ventaCMS-subtitle">Múltiples opciones de pago seguras</h2>
      </div>
    </div>

    <div class="modularGrid u-elem-center u-xs-75 u-pdt u-mgt--half u-pdb">
      <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdl">
            <img src="../../img/cod.svg" alt="" class="img img--responsive u-xs-80"/>
          </div>
          <div class="modularGrid-module u-xs-60 u-pdr">
            <h3 class="ventaCMS-itemTitle">Contra Reembolso</h3>
            <p class="ventaCMS-sectionText">Se abonará el importe total del pedido al transportista. Esta forma de pago está disponible exclusivamente en España peninsular y Baleares. Tiene un coste del 1% (mín. 0,85€)</p>
          </div>
        </div>
      </div>
      <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdl">
            <img src="../../img/oppositeArrows.svg" alt="" class="img img--responsive u-xs-80"/>
          </div>
          <div class="modularGrid-module u-xs-60 u-pdr">
            <h3 class="ventaCMS-itemTitle">Transferencia bancaria</h3>
            <p class="ventaCMS-sectionText">Esta forma de pago demora la entrega hasta confirmar el cobro en nuestro banco. Dispone de 24h. para validarla adjuntando en su panel de control el justificante de la transferencia, recibirá un email con los pasos al finalizar el pedido</p>
          </div>
        </div>
      </div>

      <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdl">
            <img src="../../img/doubleCards.svg" alt="" class="img img--responsive u-xs-80"/>
          </div>
          <div class="modularGrid-module u-xs-60 u-pdr">
            <h3 class="ventaCMS-itemTitle">Tarjeta Bancaria</h3>
            <p class="ventaCMS-sectionText">Admitimos la mayoría de tarjetas de crédito o débito a través de la pasarela de pago Braintree o de PayPal en modo invitado (no es necesario crear una cuenta en Paypal ni registrarse). Tiene un coste del 1% (+0,30 € por transacción).</p>
          </div>
        </div>
      </div>
      <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdl">
            <img src="../../img/wallet2.svg" alt="" class="img img--responsive u-xs-80"/>
          </div>
          <div class="modularGrid-module u-xs-60 u-pdr">
            <h3 class="ventaCMS-itemTitle">Monedero / Saldo</h3>
            <p class="ventaCMS-sectionText">Se puede recargar vía transferencia o Paypal y usar dicho saldo para hacer nuevos pedidos. Dispone de un historial de movimientos en su panel de control y la posibilidad de transferir el saldo (mín.300€) a su cuenta bancaria o Paypal. Aconsejable por ser muy cómoda y sin ningún gasto adicional</p>
          </div>
        </div>
      </div>

      <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdl">
            <img src="../../img/paypal.svg" alt="" class="img img--responsive u-xs-80"/>
          </div>
          <div class="modularGrid-module u-xs-60 u-pdr">
            <h3 class="ventaCMS-itemTitle">PayPal &trade;</h3>
            <p class="ventaCMS-sectionText">Es la plataforma de pago más segura de Internet, admite vincular los pagos a su tarjeta (crédito/débito) o incluso a su cuenta bancaria. Tiene un coste del 1% (+0,30€ por transacción) <br> +info: www.paypal.com</p>
          </div>
        </div>
      </div>
      <div class="modularGrid-module u-xs-50 u-mgt u-mgb">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40 u-pdl">
            <img src="../../img/camion2.svg" alt="" class="img img--responsive u-xs-80"/>
          </div>

          <div class="modularGrid-module u-xs-60 u-pdr">
            <h3 class="ventaCMS-itemTitle">Reembolso Dropshipping</h3>
            <p class="ventaCMS-sectionText">
              En los envíos Dropshipping el transportista cobrará el importe total de su pedido de venta. En aprox. 10 días este rembolso será reintegrado en su monedero. Servicio disponible para España peninsular y Baleares. Tiene un coste del 2% (mín. 0,90€)
            </p>
          </div>
        </div>
        </div>
    </div>
    <section class="u-brt">
      {{>info}}
      {{>faqs}}
    </section>
  </section>
</div>



