---
title: Privacidad
breadcrumblist:
- Inicio
- Condiciones generales y de privacidad
---
<div class="modularGrid u-pdb">
  <section class="box u-pdv u-mgb">   
  <div class="modularGrid-module u-xs-75 u-elem-center u-pdb2 legalText">
    {{>legal gen title='Condiciones Generales'}}
    <div class="u-flex--around u-pdv">
        <img src="../../img/lopd.png" class="iprivacidad">
        <img src="../../img/lssi-solo.png" class="iprivacidad">
        <img src="../../img/lssi.png" class="iprivacidad">
    </div>
  </div>
      
</div>
</section>