---
title: Pasos de la compra
layout: front/layouts/default_alt.hbs
---
<div class="modularGrid u-pdb2 u-pdt">
    <div class="modularGrid-module u-lg-70">
        <h2 class="shoppingCart-title">Pasos de la compra</h2>    
        {{> shoppingCartStep1}}
        {{> shoppingCartStep2}}
        {{> shoppingCartStep3}}  
    </div>
    <div class="modularGrid-module u-lg-30 u-pdl">
        <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal}}
    </div>
</div>
<div class="modularGrid u-mgb2">
    <div class="modularGrid-module u-lg-70">
     <h2 class="shoppingCart-title">Pasos de la compra</h2>  
        {{> shoppingCartStep1b}}
        {{> shoppingCartStep2}}
        {{> shoppingCartStep3}}  
    </div>
     <div class="modularGrid-module u-lg-30 u-pdl">
        <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal}}
    </div>
    
</div>
<div class="modularGrid u-mgb2">
    <div class="modularGrid-module u-lg-70"> 
     <h2 class="shoppingCart-title">Pasos de la compra</h2>   
        {{> shoppingCartStep1c}}
        {{> shoppingCartStep2b}}
        {{> shoppingCartStep3}}  
    </div> 
     <div class="modularGrid-module u-lg-30 u-pdl">
        <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal}}
    </div>   
</div>
<div class="modularGrid u-mgb2">
    <div class="modularGrid-module u-lg-70"> 
     <h2 class="shoppingCart-title">Pasos de la compra</h2>   
        {{> shoppingCartStep1c}}
        {{> shoppingCartStep2c}}
        {{> shoppingCartStep3}}  
    </div>
     <div class="modularGrid-module u-lg-30 u-pdl">
        <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal}}
    </div>    
</div> 
<div class="modularGrid u-mgb2">
    <div class="modularGrid-module u-lg-70">
     <h2 class="shoppingCart-title">Pasos de la compra</h2>    
        {{> shoppingCartStep1c}}
        {{> shoppingCartStep2d}}
        {{> shoppingCartStep3}}  
    </div>
     <div class="modularGrid-module u-lg-30 u-pdl">
        <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal}}
    </div>    
</div>  
<div class="modularGrid u-mgb2">
    <div class="modularGrid-module u-lg-70">
     <h2 class="shoppingCart-title">Pasos de la compra</h2>    
        {{> shoppingCartStep1c}}
        {{> shoppingCartStep2e}}
        {{> shoppingCartStep3b}}  
    </div> 
     <div class="modularGrid-module u-lg-30 u-pdl">
        <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal}}
    </div>   
</div>
<div class="modularGrid u-mgb2">
    <div class="modularGrid-module u-lg-70">
     <h2 class="shoppingCart-title">Pasos de la compra</h2>    
        {{> shoppingCartStep1c}}
        {{> shoppingCartStep2e}}
        {{> shoppingCartStep3c}}  
    </div> 
    <div class="modularGrid-module u-lg-30 u-pdl">
     <h2 class="shoppingCart-title">Resumen</h2>
        {{>shoppingCartStepFinal active='true'}}
    </div>   
</div>    
