---
layout: front/layouts/landing.hbs
title: Sincroniza con BigBuy
---
<section class="content content--full u-brb">
{{>apiCMSBanner}}
</section>
<section class="content content--full content--light">
{{>apiCMSHeaderSlogan title='Descubra las diferentes opciones de sincronización que ofrece BigBuy para tu negocio online'}}
</section>
<section class="content content--full u-brb">
{{>apiCMSFeatured}}
</section>
<section class="content content--light">
{{>apiCMSSection1}}
</section>
<section class="content u-brt u-brb">
{{>apiCMSSection2}}
</section>
<section class="content content--light u-pdb">
{{>apiCMSSection3}}
</section>
{{>apiCMSTable apiCMS.table}}

