---
title: Ser proveedor de BigBuy
---
<div class="modularGrid u-pdb">
  <section class="box">
    <div class="modularGrid-module u-tac">
      <img src="../../img/store-cmp.jpg" alt="" class="img--responsive">
      <div class="ventaCMS-titleBox   ventaCMS-titleBox--abs">
        <h1 class="ventaCMS-title">SER PROVEEDOR DE BIGBUY</h1>
      </div>
      <div class="ventaCMS-subtitleBox  ventaCMS-subtitleBox--abs">
        <h2 class="ventaCMS-subtitle">Buscamos fabricantes y mayoristas con grandes stocks</h2>
      </div>
    </div>
    <div class="modularGrid-module">
      <section class="u-pdb ">
        <img src="../../img/bigArrowYellow.svg" alt="" class="ventaCMS-bigArrowTop"/>
        <h2 class="ventaCMS-subtitle ventaCMS-subtitle--section">¿Qué ofrecemos?</h2>
        <div class="modularGrid modularGrid--boxed u-pd">

          <div class="modularGrid-module u-xs-20">
            <figure class="ventaCMS-prominent">
              <img src="../../img/canal.svg" alt="" class="ventaCMS-prominentImg">
              <figcaption class="ventaCMS-prominentText u-tac">Ser su <strong>canal online</strong> de distribución</figcaption>
            </figure>
          </div>
          <div class="modularGrid-module u-xs-20">
            <figure class="ventaCMS-prominent">
              <img src="../../img/europa.svg" alt="" class="ventaCMS-prominentImg">
              <figcaption class="ventaCMS-prominentText u-tac">Acceso a todos los países del <strong>mercado europeo</strong></figcaption>
            </figure>
          </div>
          <div class="modularGrid-module u-xs-20">
            <figure class="ventaCMS-prominent">
              <img src="../../img/picking.svg" alt="" class="ventaCMS-prominentImg">
              <figcaption class="ventaCMS-prominentText u-tac"><strong>Plataforma logística</strong> y gestión del picking propia</figcaption>
            </figure>
          </div>
          <div class="modularGrid-module u-xs-20">
            <figure class="ventaCMS-prominent">
              <img src="../../img/camion2.svg" alt="" class="ventaCMS-prominentImg">
              <figcaption class="ventaCMS-prominentText"><strong>Servicio Dropshipping</strong> con gran red de distribuidores</figcaption>
            </figure>
          </div>
          <div class="modularGrid-module u-xs-20">
            <figure class="ventaCMS-prominent">
              <img src="../../img/business.svg" alt="" class="ventaCMS-prominentImg">
              <figcaption class="ventaCMS-prominentText u-tac"><strong>Venta al por mayor</strong> B2B  online</figcaption>
            </figure>
          </div>


        </div>
      </section>
    </div>
    <section class="ventaCMS-section ventaCMS-section--inverse ">
      <div class="ventaCMS-subsection u-xs-25 u-mgt u-pdt u-pdb">
        <img src="../../img/bombilla.svg" alt="" class="u-elem-center">
      </div>
      <div class="ventaCMS-subsection u-xs-50">
        <h2 class="ventaCMS-sectionTitle">Inventores o desarrolladores de productos</h2>
        <div class="ventaCMS-sectionText ventaCMS-sectionText--inverse">
          <p>Si es usted inventor, cree tener una magnífica idea o necesita un partner para fabricar y/o comercializar algún producto, BigBuy le ofrece una solución integral:</p>
          <ul class="ventaCMS-list">
            <li>Localización y selección del fabricante idóneo en Asia o en Europa</li>
            <li>Gestión de muestras y fabricación del molde si fuera necesario</li>
            <li>Inspección y control de calidad; antes, durante y después de la producción</li>
            <li>Branding. Diseño y personalización del producto y del packaging</li>
            <li>Traducciones técnicas revisadas por expertos en multitud de idiomas.</li>
            <li>Gestión de la importación, despachos de aduana y entrega en sus almacenes.</li>
            <li>Comercialización a todo el mercado europeo, a través de Bigbuy</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="ventaCMS-section u-brb">
      <div class="ventaCMS-subsection u-xs-75  u-flr">
        <h2 class="ventaCMS-sectionTitle">Formulario para ser proveedor de BigBuy:</h2>
        <p class="u-xs-70">Si usted es fabricante o proveedor mayorista con grandes stocks y estima tener potencial para ser proveedor de Bigbuy, rellene el siguiente formulario:</p>
        <form class="form u-mgt">
          <fieldset class="form-fieldset form-fieldset--borderless">
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-45">
                <label class="form-label">Empresa</label>
                <input class="form-input" type="text"/>
                <div class="modularGrid">
                  <div class="modularGrid-module u-xs-50">
                    <label class="form-label">Nombre</label>
                    <input class="form-input" type="text"/>
                  </div>
                  <div class="modularGrid-module u-xs-50 u-pdl--half">
                    <label class="form-label">Apellidos</label>
                    <input class="form-input" type="text"/>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-fieldset form-fieldset--borderless u-xs-45 u-fll">
            <label class="form-label">Dirección</label>
            <input class="form-input" type="text"/>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-60">
                <label class="form-label">Población</label>
                <input class="form-input" type="text"/>
              </div>
              <div class="modularGrid-module u-xs-40 u-pdl--half">
                <label class="form-label">País</label>
                <input class="form-input" type="text"/>
              </div>
            </div>

            <div class="modularGrid">
              <div class="modularGrid-module u-xs-40">
                <label for="" class="form-label">Teléfono</label>
                <span class="form-prefix">+34</span>
                <input type="text" class="form-input form-input--prefix"/>
              </div>
              <div class="modularGrid-module u-xs-60 u-pdl--half">
                <label class="form-label">Email</label>
                <input class="form-input" type="text"/>
              </div>
            </div>
            <label class="form-label">Asunto</label>
            <input class="form-input" type="text"/>
            <label class="form-label">Mensaje</label>
            <textarea class="form-textarea"></textarea>
            <div class="form-action u-pdt--half">

              <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-paperclip"></use></svg>
              <span>Adjuntar archivo/s (catálogos, tarifas, imágenes, etc.)</span>
            </div>
            <button class="button button--primary button--big u-mgt">

              <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-paperplane"></use></svg>
              <span>Enviar</span></button>
            </fieldset>
            <div class="modularGrid-module u-xs-50  u-pdl u-flr u-mgt--half ">
              <img src="../../img/elevador.svg"/>
            </div>
          </form>
        </div>
      </section>

      {{>faqs}}

    </section>


  </div>



