---
layout: front/layouts/landing.hbs
title: Packs Mayoristas
---
<section class="content content--full u-pdb2">
<div class="modularGrid modularGrid--boxed u-pdb">
{{>payPalBanner}}
{{>pricePanels}}
</div>
</section>
<section class="content content--light u-brt u-pdb">
<div class="modularGrid modularGrid--boxed u-pdb">
{{>packsTabs}}
</div>
</section>
<section class="content u-brt u-pdb">
<div class="modularGrid modularGrid--boxed u-pdb">
{{>packsFeatured packsFeatured.featured}}
</div>
</section>
<section class="content content--light u-brt">
<div class="modularGrid modularGrid--boxed u-pdb">
{{>contentSection3 }}
</div>
</section>
<section class="content u-pdt u-pdb2">
<div class="modularGrid modularGrid--boxed u-flex--between u-pd">
    <div class="modularGrid-module u-xs-40  ">
        <h5 class="supertitle">Sincroniza con BigBuy</h5>
        <button class="button button--primary button--big u-block">+ info</button>
        <img src="../../img/sincroniza-bigbuy.svg" class="img--responsive">
    </div>
    <div class="modularGrid-module u-xs-40 ">
        <h6 class="superSubtitle u-mgb--0">Tienda dropshipping sincronizada</h6>
        <h5 class="supertitle">Solución llave en mano</h5>
        <button class="button button--primary button--big u-block">+ info</button>
        <img src="../../img/solucion-enmano.svg" class="img--responsive">
    </div>
</div>
</section>
<section class="content content--light u-brt">
<div class="modularGrid modularGrid--boxed ">
{{>info}}
{{>faqs}}
</div>
</section>




