<div class="modularGrid modularGrid--boxed u-tac u-pdb">
<div class="modularGrid-module u-xs-80 u-tal">
{{>panelHeader sincroAPI2.sectionStock}}
{{>desktopPanel sincroAPI2.sectionStock}}
{{>panelFooter sincroAPI2.sectionStock}}
</div>
</div>
