<hr class="u-xxs-hide u-lg-show"/>
<div class="modularGrid modularGrid--boxed u-xxs-hide u-lg-show">
<nav class="homefeatured homefeatured--inverse homefeatured--centered">
    <a href="#" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
    {{>svgIcon type='catalog'  class='homefeatured-icon'}}
        <p class="homefeatured-text">Sincronizaci칩n<br>cat치logo y stock</p>

    </a>
    <a href="#anchor_sync_transport" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
        {{>svgIcon type='truck-delivery2' class='homefeatured-icon'}}
        <p class="homefeatured-text">Sincronizaci칩n<br>Transportistas</p>

    </a>
    <a href="#anchor_sync_orders" class="homefeatured-item homefeatured-item--col3 homefeatured-item--anchor">
        {{>svgIcon type='orders3' class='homefeatured-icon'}}
        <p class="homefeatured-text">Sincronizaci칩n<br>pedidos</p>

    </a>
</nav>
</div>
