<div class="modularGrid modularGrid--boxed u-tac u-pdb u-pdt--half">
<div class="modularGrid-module u-xs-80 u-tal">
{{>panelHeader sincroAPI.sectionStock}}
{{>desktopPanel sincroAPI.sectionStock}}
{{>panelFooter sincroAPI.sectionStock}}
</div>
</div>
