<article class="landingBanner">
    <div class="landingBanner-boxed landingBanner-boxed--big">
    <section class="landingBanner-item">
    <img src="../../img/sincroniza-bigbuy2.png" alt="" class="u-xxs-hide u-lg-show">
    </section>
     <section class="landingBanner-item landingBanner-item--centered">
     {{>svgIcon type='sync' size='xxl' class=' landingBanner-svgSinc u-xxs-hide u-md-show '}}
    </section>
     <section class="landingBanner-item landingBanner-item--centered ">
            <h1 class="landingBanner-texts">SINCRONIZA<br>CON BIGBUY</h1>
            <a href="#" class="button button--primary homeslider-button" title="Ser distribuidor">Ser distribuidor</a>
    </section>
    </div>
    <!--<img src="../../img/api_sincro.jpg" class="landingBanner-bg">-->



    <picture class="landingBanner-bg">
  <source class="landingBanner-bgsource" media="(min-width: 1400px)" srcset="../../img/api_sincro_huge.jpg"></source>
  <source class="landingBanner-bgsource"media="(min-width: 1200px)" srcset="../../img/api_sincro_large.jpg"></source>
  <source class="landingBanner-bgsource"media="(min-width: 1024px)" srcset="../../img/api_sincro_big.jpg"></source>
  <source class="landingBanner-bgsource"media="(min-width: 640px)" srcset="../../img/api_sincro_medium.jpg"></source>
  <source class="landingBanner-bgsource"media="(min-width: 480px)" srcset="../../img/api_sincro_small.jpg"></source>
  <source class="landingBanner-bgsource"media="(min-width: 300px)" srcset="../../img/api_sincro_tiny.jpg"></source>
  <img src="../../img/api_sincro.jpg" class="landingBanner-bgimg">
</picture>






</article>



