<div class="modularGrid modularGrid--boxed u-tac u-pdb">
<div class="modularGrid-module u-xs-80 u-tal">
{{>panelHeader sincroAPI3.sectionStock}}
{{>desktopPanel sincroAPI3.sectionStock}}
{{>panelFooter sincroAPI3.sectionStock}}
</div>
</div>
