<div class="modularGrid modularGrid--boxed u-pdt2 u-tac u-pdb u-xxs-hide u-lg-show">
    <h2 class="supertitle">{{{title}}}</h2>
    {{#if subtitle}}
    <h4 class="superSubtitle {{#if subtitleClass}} {{subtitleClass}}{{/if}}">{{{ subtitle }}}</h4>
    {{/if}}
</div>