{{#each footer}}
<div class="modularGrid-module u-tac u-pdt--half u-pdb" {{#if anchor}} id="{{anchor}}" {{/if}}>
<p class="title title--camel u-block u-pd u-pdt--half">{{slogan}}</p>
<a href="#" class="button button--primary button--bigger" >{{buttonText}}</a>
</div>
{{/each}}






