{{#each header}}
<div class="modularGrid modularGrid--flexCenter  u-mgt--half {{#if modifier}}modifier{{/if}}">
<svg class="icon icon--inline  icon--9  u-op-70" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-{{icon}}"></use></svg>
<h3 class="title title--huge u-pdl--half">{{title}}</h3>
</div>
{{/each}}


