<article class="cmsContentSection helpSection" data-js-helpsection="bloqueoStocks">
    <h1 class="cmsContentSection-title ">Bloqueo de stocks</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Reserva de productos para promociones</h2>

                <p>Para los clientes en Pack Basic, Pro, Business y Premium ofrecemos un servicio para que lancen promociones. Este servicio es ideal para vender en webs colectivas que lanzan promociones por un tiempo limitado de días.</p>

              <p>  Ofrecemos un servicio de reserva/bloqueo de stock hasta terminar la promoción de forma gratuita y sin entregar dinero ni % a cuenta. Además podemos hacer los envíos a los clientes finales al igual que a plataformas logísticas de forma completamente anónima. Para más información escribir al Dpto. de Atención a Distribuidores: comercial@bigbuy.eu</p>
            </p>
        </div>
    </div>
</article>