<article class="cmsContentSection helpSection" data-js-helpsection="dropshipping">
<h1 class="cmsContentSection-title ">Dropshipping / envío anónimo</h1>
<div class="modularGrid">
    <div class="modularGrid-module u-pdr">

        <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" data-js-accordion-open="true">
        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/></svg>
        <h4>¿Qué es Dropshipping – Envío Anónimo? </h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <p>
             El Drop Shipping es un servicio donde el mayorista envía directamente la mercancía de forma anónima al cliente final, sin pasar por el distribuidor. Web informativa muy completa para entender perfectamente: ¿qué es el dropshipping? www.edropshipping.net
        </p>
        </section>
        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/></svg>
        <h4>¿Hace falta tener stock?</h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <p>
             Se trata de un novedoso tipo de negocio que se inició en EEUU y que permite a nuestros distribuidores vender sin necesidad de tener stock, ya que es BigBuy el que se encarga de almacenar
        </p>
        </section>
        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
        </svg>
        <h4>¿Quién tramita el envío del paquete?</h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <p>
             BigBuy es un proveedor integral porque gestiona y ahorra a sus distribuidores todos los costes del proceso logístico:
        </p>
        <ol>
            <li>BigBuy almacena el stock.</li>
            <li>BigBuy recepciona y hace el picking del pedido (preparado del mismo).</li>
            <li>BigBuy embala el paquete (de forma anónima).</li>
            <li>BigBuy coordina con la mensajería hasta la entrega a su cliente final.</li>
            <li>BigBuy ofrece al distribuidor en todo momento el estado del pedido y el tracking para su seguimiento, si fuere necesario. </li>
        </ol>
        </section>
        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
        </svg>
        <h4>¿Cómo puede asegurarse el distribuidor que el envío es completamente anónimo? </h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <p>
             Aquellos pedidos con modalidad de Envío Anónimo Dropshipping, no incluimos ningún dato del remitente, ni precios, ni publicidad, ni logotipos de BigBuy, en definitiva el envío es completamente anónimo
        </p>
        </section>
        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
        </svg>
        <h4>¿Permite BigBuy hacer ventas con envío Dropshipping y cobrar Contra-Rembolso?</h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <p>
             Sí, para los clientes en Pack Pro, Business y Premium BigBuy ofrece la posibilidad de hacer envíos con forma de pago contra reembolso (solo a Península y Baleares). La comisión es del 2% (muy baja), con un mínimo de 0,90€ y se incluye este coste en el pedido y factura. Por tanto el procedimiento es simple.
        </p>
        <p>
            <ol>
                <li>El distribuidor agrega al carrito de BigBuy los artículos que le ha pedido su cliente.</li>
                <li>En el proceso final le pedirá la dirección de envío y aquí usted pondrá los datos de su cliente.</li>
                <li>En el siguiente paso le saldrá la siguiente pregunta ¿quiere hacer envío anónimo Dropshipping? Usted responda, Sí. Le volverá a salir otra ventana preguntando ¿Quiere que cobremos rembolso? Y Usted responda: Sí. E indique el importe que la mensajería debe cobrar de contra reembolso.</li>
                <li>Por último, deberá finalizar el pedido y pagarlo. </li>
            </ol>
        </p>
        <p>
             Pasados unos 10-15 días de la entrega los rembolsos son reintegrados de forma automática en su monedero para usarlo en futuras compras o transferir a su cuenta. Ejemplo: Usted vende a 30€ a su cliente, viene a BigBuy nos paga 20€ que equivaldrán aprox. a su coste y nosotros se lo entregamos a su cliente anónimamente y cuando cobremos esos 30€ se los devolveremos en su monedero.
        </p>
        </section>

        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
        </svg>
        <h4> ¿Qué coste tienen los envíos peninsulares para el Dropshipper? </h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <ul>
             <li>2,90€ + I.V.A. Envíos hasta 1,8 Kg</li>
             <li>4,50€ + I.V.A. Envíos hasta 5 Kg </li>
             <li>4,90€ + I.V.A. Envíos hasta 10 Kg</li> <li>5,50€ + I.V.A. Envíos hasta 15 Kg </li><li> 6,20€ + I.V.A. Envíos hasta 20 Kg</li> <li>A partir de 21 Kg. a 0,23 €/kg + I.V.A.</li>
        </ul>
        * Baleares sube el precio aprox. 0,90€ por envío El resto de destinos como Canarias, Ceuta, Melilla y resto de Europa solo es visible solo para clientes registrados como distribuidores.</p>
        </section>
        <button class="helpSection-accordionLink" data-js-accordion="link">
        <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
        </svg>
        <h4> ¿Tiene algún coste este Servicio? </h4>
        </button>
        <section data-js-accordion="panel" class="helpSection-accordionPanel">
        <p>
             BigBuy ofrece una serie de servicios y funcionalidades muy completos, divididos en 4 packs según necesidad de cada cliente. Haga click en Venta al Mayor - B2B
        </p>
        </section>
        </section>
    </div>
</div>
</article>