<article class="cmsContentSection helpSection" data-js-helpsection="envioCostes">
    <h1 class="cmsContentSection-title ">Entrega y envío</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Costes de envío</h2>
            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected">
            <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cuales son los gastos de envío?</h4>
                    </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
             <img src="../../img/precios_envios_out.jpg">
           <p> <em>
                * Precios visibles para los clientes registrados
            </em></p>
            <p>Para el resto de destinos se puede consultar en el Carrito de la Compra haciendo click en “Estimar Costes de Envío”.</p>
            <p>Para clientes con Pack Business y Premium ofrecemos una solución automatizada de cálculo de portes europeos en su web.</p>
             <h4 class="cmsContentSection-itemTitle">¿Qué incluyen los gastos de envío?</h4>
<p>Los gastos de envío incluyen el transporte, seguro y el despacho de aduanas en origen. </p>
  </section>



 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué incluye los gastos de envío para Canarias, Ceuta, Melilla y países no pertenecientes a la Unión Europea?</h4>
                    </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
<p>Para entregas en Canarias, Ceuta, Melilla y países no pertenecientes a la Unión Europea, no se incluyen los gastos aduaneros en destino ni otros impuestos (aranceles); será el destinatario quién los tendrá que abonar en efectivo para poder recibir la mercancía en caso de que los hubiere. El destinatario será responsable de todos los gastos de importación e impuestos que se generen en la aduana de destino, tanto si se le entrega la mercancía como si no se hace cargo de ella.</p>

Se intentará que el envío del pedido se realice en el menor tiempo posible, pero el receptor deberá tener en cuenta las disposiciones del país de destino para la importación de los artículos solicitados, ya que Big Buy no tiene responsabilidad sobre las mismas. Tampoco serán imputables a Big Buy los efectos producidos por huelgas, conflictos bélicos u otras circunstancias ajenas a su control. Big Buy no será responsable de las demoras en el despacho aduanero, ni de si las autoridades locales deciden confiscar cualquier elemento contenido en un envío. Los gastos de envío para todos los productos exportados se basan en el peso volumétrico calculado y en el destino de entrega.


  </section>
    </section>








        </div>
    </div>
</article>