<article class="cmsContentSection helpSection" data-js-helpsection="envioPaises">
    <h1 class="cmsContentSection-title ">Entrega y envío</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Países donde operamos</h2>
            <h4 class="cmsContentSection-itemTitle">¿A qué países se puede mandar? </h4>
            <p>BigBuy está automatizado y envía a casi todos los países del mundo por mensajería urgente. Usted mismo puede estimar los costes de envío en el propio carrito de la compra. Aunque donde realmente estamos competitivos es en envíos a Europa; gracias a la libre circulación sin fronteras y a poder hacer envíos terrestres (y evitar los costes aéreos). </p>
            <h4 class="cmsContentSection-itemTitle">¿Se pueden hacer envíos a Apartados de Correos?</h4>
            <p>No. Se rechazarán aquellos pedidos con dirección de entrega en un Apartado de Correos.</p>
        </div>
    </div>
</article>