<article class="cmsContentSection helpSection" data-js-helpsection="envioSeguimiento">
    <h1 class="cmsContentSection-title ">Entrega y envío</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Seguimiento de envío</h2>
            <h4 class="cmsContentSection-itemTitle"> ¿Ofrece BigBuy Seguimiento de Envío?  </h4>
            <p>Si, usted mismo podrá verlo desde dentro de su panel de control. Tracking ID online en tiempo real. </p>
        </div>
    </div>
</article>