<article class="cmsContentSection helpSection" data-js-helpsection="envioMetodos">
    <h1 class="cmsContentSection-title ">Entrega y envío</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Métodos de envío</h2>
            <h4 class="cmsContentSection-itemTitle">¿Cuál es el método de envío?</h4>
            <p>La forma de envío habitual será entrega por mensajería urgente, excepto algunas regiones que ofrecemos otras opciones.</p>
        </div>
    </div>
</article>