<article class="cmsContentSection helpSection" data-js-helpsection="equivalencia">
    <h1 class="cmsContentSection-title ">Impuestos</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Recargo de Equivalencia</h2>

            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected">
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Qué es el Recargo de Equivalencia y quién debe aplicarlo?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                 <p>El recargo de equivalencia es un régimen especial de IVA, obligatorio para comerciantes minoristas que no realicen ningún tipo de transformación en los productos que venden, es decir, para comerciantes autónomos que vendan al cliente final. Se aplica tanto a personas físicas de alta en autónomos como a las comunidades de bienes.</p>
                 No se aplica en actividades industriales, de servicios o en el comercio mayorista. Existen algunas actividades exentas entre las que destacan joyerías, peleterías, concesionarios de coches, venta de embarcaciones y aviones, objetos de arte, gasolineras y establecimiento de comercialización de maquinaria industrial o minerales.
                </section>
                   <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿En qué consiste el recargo de Equivalencia?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <p>Para el comerciante minorista supone pagar un IVA algo más alto del normal a cambio de no tener que presentar declaraciones de IVA a Hacienda. De esta manera paga el IVA directamente a su proveedor y se simplifica mucho su gestión del IVA. Sólo se aplica en facturas de bienes correspondientes a mercaderías o género.</p>
                    Es el proveedor del comerciante el que debe incluir el recargo de equivalencia en sus facturas, diferenciado del IVA soportado, y considerar ambas cantidades como IVA repercutido en sus declaraciones de IVA.
                </section>

                 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>Nuevos Tipos en el Recargo de Equivalencia a partir del 1 de septiembre de 2012</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                  De acuerdo con el Real-Decreto Ley 20/2012 de medidas para garantizar la estabilidad presupuestaria y de fomento de competitividad, que incluye la subida del IVA, los tipos de recargo de equivalencia aplicables a partir del 1 de septiembre de 2012 serán:
                  <ul>
<li>El 5,2% para los artículos que tienen un IVA al tipo general del 21%.</li>
<li>El 1,4% para los artículos que tienen un IVA al tipo reducido del 10%.</li>


                  </ul>
                </section>

                 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Cómo pagar el Recargo de Equivalencia en BigBuy?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                   Puede incluir el recargo de equivalencia de dos formas:
                   <ol>
<li>En su panel de control de usuario en la pestaña de "Datos de facturación" e indicando en dichos datos que desea aplicar el Recargo de Equivalencia.</li>
<li>Cuando vaya a finalizar un pago puede indicar en el primero de los puntos o "Información de facturación" que es una "Nueva dirección" y en la parte inferior verá que le permite indicar si desea recargo de equivalencia.</li>

                   </ol>
                </section>





            </section>
        </div>
    </div>
</article>