<article class="cmsContentSection helpSection" data-js-helpsection="formaspagoDisponibles">
    <h1 class="cmsContentSection-title ">Formas de pago</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Formas de pago disponibles</h2>
            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected">
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué formas de pago son aceptadas? </h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <dl>
                        <dt>Transferencia Bancaria:</dt>
                        <dd>Cómodas transacciones entre entidades bancarias. A tener en cuenta que se retrasará la entrega hasta corroborar el cobro en nuestro banco. Actualmente las transferencias realizadadas por las mañanas, llegan en 24h. y si el banco es de fuera de España unas 72h.</dd>
                        <dt>Contrarembolso:</dt>
                        <dd>Se deberá abonar el importe total del pedido al transportista. De momento disponible en España (Península y Baleares)</dd>
                        <dt>Paypal:</dt>
                        <dd>Es la plataforma de pago más rápida y segura para pagar en Internet, admite vincular los pagos a su tarjeta (crédito/débito) o incluso a su cuenta bancaria.</dd>
                        <dt>Tarjeta de Crédito by Paypal:</dt>
                        <dd>Admitimos pago con multitud de tarjetas de crédito o débito del mundo. A través de la pasarela de pago Paypal en modo invitado, y sin necesidad de abrir cuenta ni registrase en dicha pasarela.</dd>
                        <dt>Monedero:</dt>
                        <dd>Para aquellos clientes con mucho movimiento podrán precargar con un saldo X este monedero y hacer uso de esta modalidad de pago, extremadamente cómoda para el distribuidor. Big Buy retornará el dinero de los rembolsos por este método.</dd>
                    </dl>
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué gastos tienen? </h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <dl>
                        <dt>Transferencia Bancaria:</dt>
                        <dd>Ninguno</dd>
                        <dt>Contrarembolso:</dt>
                        <dd>1% (mín.0,85€)</dd>
                        <dt>Paypal:</dt>
                        <dd>1% + 0,30€ por transacción</dd>
                        <dt>Tarjeta de Crédito by Paypal:</dt>
                        <dd>1% + 0,30€ por transacción</dd>
                        <dt>Monedero:</dt>
                        <dd>Ninguno</dd>
                    </dl>
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Permite BigBuy hacer ventas con envío Dropshipping y cobrar Rembolso? </h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <p>Si, BigBuy hace envíos con rembolso solo a Península y Baleares.</p>
                    <p>La comisión es del 2% (muy baja), con un mínimo de 0,90€ y se incluye el coste en el pedido y factura.</p>
                    Pasados unos 10-15 días de la entrega los rembolsos son reintegrados de forma automática en el monedero para usarlo en futuras compras o transferir a su cuenta.
                </section>
            </section>
        </div>
    </div>
</article>