<article class="cmsContentSection helpSection" data-js-helpsection="formaspagoCompraSegura">
    <h1 class="cmsContentSection-title ">Formas de pago</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Compra segura</h2>
            <h4 class="cmsContentSection-itemTitle">¿Es seguro comprar en BigBuy?</h4>
            <p>Bigbuy.es, es totalmente seguro. Todas las páginas en la tienda on-line están asegurados a través de la tecnología de encriptación SSL (Secure Socket Layer), los datos se trasfieren cifrados. </p>
        </div>
    </div>
</article>