<article class="cmsContentSection helpSection" data-js-helpsection="formaspagoPaypal">
    <h1 class="cmsContentSection-title ">Formas de pago</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Paypal</h2>
            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected">
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué es PayPal?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    PayPal es la forma más rápida y segura para pagar en Internet. Puede pagar con total confianza y fácilmente sus compras con la tarjeta de débito, la tarjegta de crédito o la cuenta bancaria a través de PayPal.
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Por qué utilizar PayPal?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <ul>
                        <li>Paypal es <strong>seguro</strong>: PayPal almacenacon seguridad su información financiera y la protege con sistemas de seguridad y de prevención de fraude líderes del mercado. Es más, sus detalles financieros nunca se comparten con el vendedor.</li>
                        <li>PayPal es <strong>rápido y sencillo</strong>: no tendrá que introducir los detalles de su tarjeta o su cuenta bancaria para pagar. Sólo necesitará su dirección de correo electrónico y una contraseña.</li>
                        <li>PayPal es <strong>flexible</strong>: usted elige cómo pagar: tarjeta de débito, tarjeta de crédito o cuenta bancaria.</li>
                    </ul>
                </section>
            </section>
        </div>
    </div>
</article>