<article class="cmsContentSection helpSection" data-js-helpsection="garantiaPlazos">
<h1 class="cmsContentSection-title ">Garantía</h1>
<div class="modularGrid">
    <div class="modularGrid-module u-pdr">
          <h2 class="cmsContentSection-subtitle u-mgb--half">Plazos</h2>
         <h4 class="cmsContentSection-itemTitle">¿Cuánto tiempo dura la garantía?</h4>

            <p>Ofrecer la máxima calidad y la mejor garantía es nuestro compromiso con nuestros clientes. Todos los artículos tienen una garantía de un periodo de dos años a partir de la fecha de entrega, tal y como obliga la Ley vigente.</p>

    </div>
</div>
</article>