<article class="cmsContentSection helpSection" data-js-helpsection="garantiaCondiciones">
    <h1 class="cmsContentSection-title ">Garantía</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle u-mgb--half">Condiciones</h2>
            <h4 class="cmsContentSection-itemTitle">¿Qué no incluye la garantía? </h4>
            <p>No se incluyen las deficiencias ocasionadas por negligencias, golpes, uso o manipulaciones indebidas, tensión no idónea, instalación incorrecta, ni materiales sometidos a desgaste por su uso normal.</p>
            <p>En el caso de artículos informáticos, la garantía no cubrirá la eliminación de virus, restauración de programas por este motivo o la reinstalación del disco provocada por el borrado del mismo.
            </p>
            <h4 class="cmsContentSection-itemTitle">La garantía perderá su valor... </h4>
            <ul>
                <li>Si se modifican, alteran o sustituyen algunos de los datos de la misma o del justificante de compra.</li>
                <li>Si se manipula o repara tanto el número identificativo como el propio aparato garantizado sin conocimiento del Servicio Técnico.</li>
            </ul>
        </div>
    </div>
</article>