<article class="cmsContentSection helpSection" data-js-helpsection="garantiaUso">
<h1 class="cmsContentSection-title ">Garantía</h1>
<div class="modularGrid">
    <div class="modularGrid-module u-pdr">
        <h2 class="cmsContentSection-subtitle u-mgb--half">Uso de la garantía</h2>
        <p>
            En aquellas incidencias que justifiquen el uso de la garantía, se optará por la reparación, sustitución del artículo, rebaja o devolución, en los términos legalmente establecidos. Para hacer uso de la garantía, es imprescindible la presentación del justificante de compra y contactar atención al cliente en el email: <a href="mailto:info@bigbuy.eu">.info@bigbuy.eu</a>.
        </p>
        <p>El consumidor dispone de 7 días hábiles para el ejercicio del derecho de desistimiento, sin necesidad de justificar su decisión y sin penalizaciones por su ejercicio. Los portes de vuelta correrán a cargo del comprador. En ningún caso aceptaremos un paquete enviado a nuestro almacén a portes debidos.</p>

    </div>
</div>
</article>