<article class="cmsContentSection helpSection" data-js-helpsection="general-tarifas">
    <h1 class="cmsContentSection-title ">Cuestiones generales</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Tarifas y precios</h2>
<section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected">
            <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué significa Tarifa PVD?</h4> </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

            <p>Tarifa PVD significa “Precio Venta Distribuidor” y es el precio de tarifa inclusive en unidades sueltas desde el que parten nuestros distribuidores que están al menos activados en Pack Basic, Pro, Business o Premium. Tan solo hay que entrar en BigBuy con su email y contraseña y el entorno cambiará significativamente, desapareciendo el escalado por volumen y apareciendo el PVD como precio unitario (además tendrá acceso al Descuento Automático en función del importe del carrito de la compra). </p><strong>imagen de escalado</strong>
                </section>

             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué significa PVP anterior y PVP BigBuy?</h4>   </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

           El PVP anterior es un precio de mercado habitual en otras tiendas y el PVP BigBuy es un Precio Venta Público que BigBuy recomienda vender a sus distribuidores.

                       </section>

             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué margen de Beneficio obtiene el distribuidor?</h4>   </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

                Todo dependerá del PVP al que venda el distribuidor, pero calculando que el margen es el diferencial entre el PVD y el PVP BigBuy; los márgenes oscilan entre el 15% y el 70%, siendo la media de nuestros distribuidores sobre el 45%.
                 </section>

             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué es el Descuento Automático de hasta el 6%?</h4>   </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">


                Para los clientes activados en Pack Basic, Pro, Business o Premium podrán alcanzar un descuento adicional de hasta el 6% respecto al PVD. Este descuento se aplica de forma automática en función del total del carrito de la compra; muy ventajoso cuando se quiere comprar surtido de referencias. El descuento automático evita perder tiempo a nuestros distribuidores negociando descuentos adicionales, o aplicando códigos de cupón absurdos. Si un distribuidor tiene potencial de compra es justo que obtenga mayor margen comercial.
                 </section>




                   </section>




        </div>
    </div>
</article>