<article class="cmsContentSection helpSection" data-js-helpsection="generalMayoristas" >
    <h1 class="cmsContentSection-title ">Cuestiones generales</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Mayoristas</h2>

        <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" data-js-accordion-open="true">

            <button class="helpSection-accordionLink" data-js-accordion="link">
                <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                </svg>
                <h4> ¿Puede el distribuidor vender al precio que quiera? </h4>
            </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
            <p>
                Sí. BigBuy orienta con unos PVP Recomendados, pero el distribuidor es libre en su estrategia comercial de aplicar la política de márgenes que desee.
            </p>
            </section>

            <button class="helpSection-accordionLink" data-js-accordion="link">
                <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                </svg>
                <h4> ¿Existe pedido mínimo? </h4>
            </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
                <p>
                    El pedido mínimo en la web es de 10€ en productos para clientes Welcome, y de 5€ para Basic, Pro, Business o Premium. Portes e impuestos excluidos.
                </p>
            </section>

            <button class="helpSection-accordionLink" data-js-accordion="link">
                <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                </svg>
                <h4> ¿Qué son las Newsletters exclusivas para Distribuidores? </h4>
            </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
                <p>
                    BigBuy envía a aquellos clientes con Pack Pro, Business y Premium un email diario con un listado indicando las altas de artículos, modificaciones, de nuevo en stock, y las bajas. Con el fin de que los distribuidores estén informados en detalle de todos los movimientos.
                </p>
            </section>

            <button class="helpSection-accordionLink" data-js-accordion="link">
                <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                </svg>
                <h4> ¿Es necesario estar dado de alta como autónomo o ser empresa? </h4>
            </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
                <p>
                BigBuy apuesta por el emprendedurismo y no exige ser autónomo o empresa para tramitar el alta como distribuidor con el fin de que el cliente pueda arrancar su nuevo negocio. Se interpreta que solo aquellos que están realmente por la labor de trabajar de forma seria a medio-largo plazo son quienes dan el paso de pagar un alta y una mensualidad. Eso sí, cuando empiecen a generar ingresos deberán formalizar su situación; sobre todo porque Hacienda está siendo implacable en este sentido.
                </p>
            </section>

           <!--  <button class="helpSection-accordionLink" data-js-accordion="link">
                <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                </svg>
                <h4> ¿Qué es el Rappel Anual? </h4>
            </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
                <p>
                    El Rappel es un incentivo sobre ventas que BigBuy ofrece para fidelizar a sus clientes. Al finalizar cada año, se suman (sin IVA) todas las compras realizadas y el importe total será reintegrado de forma automática en su monedero. Se podría interpretar que con un pequeño esfuerzo, cualquier distribuidor tiene cubierto el importe de las cuotas sólo con lo que cobrará del Rappel anual.
                </p>
            </section> -->

            <button class="helpSection-accordionLink" data-js-accordion="link">
                <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                </svg>
                <h4> ¿Cómo comprar? </h4>
            </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
                <p>
                    Comprar en BigBuy es muy sencillo: sólo tiene que elegir un artículo, indicar el número de unidades que desea y luego hacer click en el icono “Agregar al Carrito”. En la parte derecha aparecerá su Carrito y en este paso puede decidir si añadir más artículos al carrito o finalizar la compra.
                </p>
            <p>
                En caso de querer finalizar la compra, deberá pinchar en “Ver el Carrito” y será redirigido al Carrito de la Compra donde podrá verificar que las unidades y artículos escogidos son correctos y acto seguido pincharemos en Finalizar el pedido.
            </p>
            <p>
                (En este paso podría estimar los costes de envío seleccionando su país y código postal, pero no es necesario porque se calcularán automáticamente en la siguiente pantalla)
            </p>
            <p>
                En esta última pantalla deberá acceder con su email y contraseña o registrarse rellenando todos sus datos. Podrá selecciona Forma de pago, de entrega y finalizar el pedido.
            </p>
            </section>

        </section>
        </div>
    </div>
</article>




