<article class="cmsContentSection helpSection" data-js-helpsection="impuestosGenerales">
    <h1 class="cmsContentSection-title ">Impuestos</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Condiciones generales.</h2>
            <h4 class="cmsContentSection-itemTitle">¿Desde dónde opera BigBuy?</h4>
            <p> El sistema de compra se somete a la legislación vigente en España, por lo tanto las operaciones de venta se entenderán realizadas en España</p>
        </div>
    </div>
</article>