<article class="cmsContentSection helpSection" data-js-helpsection="iva">
    <h1 class="cmsContentSection-title ">Impuestos</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">I.V.A.</h2>

            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected">
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Los precios de BigBuy incluyen el I.V.A.?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    No. Entendemos que nuestros clientes son profesionales y susceptibles de desgravarse el Impuesto de Valor Añadido (I.V.A.), por tanto éste será añadido solo en el proceso final del Carrito de la compra.
                </section>
                   <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Las empresas de países de la Unión Europea deben pagar I.V.A. en sus compras?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Como BigBuy opera desde España y está dotada de CIF Intracomunitario, todas las compras que realicen empresas cuya residencia esté en la Unión Europea y también dispongan de VAT Number (NIF intracomunitario) estarán exentas del pago del I.V.A., siendo condición imprescindible el envío de dicho documento mediante email a <a href="mailto:export@bigbuy.eu">export@bigbuy.eu</a>
                </section>

                 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Deben pagar el I.V.A. los residentes de países extracomunitarios?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Las compras que realicen empresas, personas físicas o jurídicas residentes en países extracomunitarios estarán exentas del pago del I.V.A. dado que serán consideradas como una exportación.
                </section>

                 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Deben pagar el I.V.A. los residentes de Canarias, Ceuta y Melilla?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Debido a su régimen fiscal, Canarias, Ceuta y Melilla son considerados territorios Extracomunitarios, por tanto aquellas compras cuyas entregas son realizadas en este ámbito geográfico no pagarán el I.V.A.
                </section>
 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon icon--inline icon--xs " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/>
                    </svg> <h4>¿Deben pagar el I.V.A. los residentes de Canarias, Ceuta y Melilla si la dirección destino es península, Baleares o cualquier país de la Unión Europea?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                   Sí. La ley nos obliga a tener el documento D.U.A. de entrado a Canarias, Ceuta o Melilla. Por ello si el destino es península o Baleares aunque la factura sea a Canarias, Ceuta o Melilla se deberá abonar el I.V.A.
                </section>




            </section>
        </div>
    </div>
</article>