<article class="cmsContentSection helpSection" data-js-helpsection="packsMayoristas-descargas">
    <h1 class="cmsContentSection-title ">Packs Mayoristas</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Descargas de apoyo de marketing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

            <h4 class="cmsContentSection-itemTitle">Descarga y apoyo en marketing online gráfico y banners para newsletters, web o catálogos</h4>

            <p>
                Los clientes activados en Pack Pro, Business o Premium disponen en el panel de control de BigBuy de una zona de descargas con material gráfico como banners, imágenes, logotipos para que puedan hacer uso en sus webs, catálogos o newsletters. Bigbuy nutre semanalmente esta sección.
            </p>

        </div>
    </div>
</article>