<article class="cmsContentSection helpSection" data-js-helpsection="packsMayoristas-info">
    <h1 class="cmsContentSection-title ">Packs Mayoristas</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Información sobre Packs Mayoristas</h2>
   <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" data-js-accordion-open="true">
              <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs"data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg><h4>¿Por qué Bigbuy cobra cuota de alta o mensual en ciertos packs?
                     <svg role="img" class="icon icon--inline icon--xs  u-vb" data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-lock" />
                    </svg>

                    </h4></button>

                     <section data-js-accordion="panel" class="helpSection-accordionPanel">

                        <form class="form">
                            <h4 class="form-title">Lo sentimos, esta información solo está disponible para clientes registrados</h4>
                            <div class="modularGrid u-pdt">
                                <div class="modularGrid-module u-xs-40 u-pdr2 u-brdr">
                                    <h3 class="form-subtitle">Ya soy usuario</h3>
                                    <label class="form-label u-mgt--half" for="email">E-mail</label>
                                    <input type="text" data-js-popup-login="email" class="form-input" id="email" name="email" maxlength="64">
                                    <label class="form-label" for="">Contraseña</label>
                                    <input type="password" data-js-popup-login="password" class="form-input " id="password" name="password" >
                                    <button class="button button--primary u-mgt--half button--big" type="submit" data-js-popup="submitAction">Inicie sesión</button>
                                </div>
                                <div class="modularGrid-module u-xs-50 u-pdl2">
                                    <h3 class="form-subtitle u-mgb">Usuario nuevo</h3>
                                    <a href="#" class="button">Crear una cuenta nueva</a>
                                </div>

                            </div>
                        </form>
                    </section>


                    <!-- <section data-js-accordion="panel" class="helpSection-accordionPanel">

            <p>
                BigBuy cobra una cuota de alta o mensual para defender los intereses de sus distribuidores habituales. Cuando un nuevo distribuidor activa al menos el Pack Basic tiene acceso a la tarifa PVD (Precio Venta Distribuidor) inclusive desde 1 unidad, y además puede alcanzar hasta un 6% Dto. adicional (sobre ese PVD). A diferencia de los usuarios Welcome, que para llegar al PVD deben adquirir en muchos casos 48-96 uds. (y jamás podrán alcanzar el 6% Dto.adicional).
                  </p>

                La finalidad de esta cuota es puramente disuasoria y sirve a modo de filtro para captar nuevos distribuidores y emprendedores que sean capaces de entender el negocio a medio-largo plazo y entiendan que se trata de una pequeña inversión fácilmente amortizable. La filosofía comercial de BigBuy es firme y confiamos que es mejor tener un número reducido de buenos clientes a los cuales podamos garantizar un servicio de calidad y una atención más personalizada.

              </section> -->

            

              <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs"data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg><h4>¿En cuántos idiomas está disponible el catálogo de BigBuy? </h4></button><section data-js-accordion="panel" class="helpSection-accordionPanel">

            <p>
                BigBuy ofrece a sus clientes con pack Business o Premium un catálogo traducido a 23 idiomas por traductores profesionales nativos europeos, actualmente disponibles para su sincronización o descarga están los siguientes:
                    </p>

                <ul>
                    <li>Español</li>
                    <li>Inglés</li>
                    <li>Francés</li>
                    <li>Croata</li>
                    <li>Estonio</li>
                    <li>Portugués</li>
                    <li>Italiano</li>
                    <li>Alemán</li>
                </ul>
                Continuamos actualizando y mejorando nuestras traducciones. En breve tendremos disponibles también 15 nuevos idiomas a disposición de nuestros clientes con pack Business o Premium .
                <ul>
                    <li>Danés</li>
                    <li>Finés</li>
                    <li>Rumano</li>
                    <li>Griego</li>
                    <li>Búlgaro</li>
                    <li>Húngaro</li>
                    <li>Checo</li>
                    <li>Eslovaco</li>
                    <li>Esloveno</li>
                    <li>Lituano</li>
                    <li>Letón</li>
                    <li>Polaco</li>
                    <li>Sueco</li>
                    <li>Holandés</li>
                    <li>Ruso</li>
                </ul>

                Desde su panel de control, en la sección descargas podrá encontrar los ficheros organizados por idioma.

                <div class="helpSection-footer">

                <p class="u-mgb--half">¿Le ha sido útil este artículo?</p>
                <button class="button button button--ghost button--big u-mgr--half">Si</button> <button class="button button button--ghost button--big">No</button>
                </div>




              </section>
                </section>
        </div>
    </div>
</article>




