<article class="cmsContentSection helpSection" data-js-helpsection="packsMayoristas-sincro">
    <h1 class="cmsContentSection-title ">Archivos CSV / XML</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <!-- <h2 class="cmsContentSection-subtitle  u-mgb--half">Sincronización CSV / XML</h2> -->

            <h2 class="cmsContentSection-subTitle u-mgb">Archivos CSV</h2>
            <p>
                Los archivos CSVs disponen de información sobre todos los productos de la tienda en diferentes idiomas y cuyos campos son: Código de producto, código EAN, nombre, PVP, PVD, descripción, stock, imágenes (hasta 8 posibles), vídeo youtube.
            </p>
            <p>
                Dispone de un ejemplo para descargar en el panel de control por si desean realizar pruebas antes de la adquisición de un pack mayorista. Además existe un completo manual en el panel de control (solapa descargas), donde se explica con todo detalle la forma de cargar los productos en un entorno Prestashop.
            </p>
            <p><strong>Carga manual de los archivos CSVs</strong></p>
            <ul>
                <li><strong>Ventajas</strong>: Ideal para que usted mismo y sin conocimientos de informática mantenga actualizada una web en Prestashop.</li>
                <li><strong>Inconvenientes</strong>: Debe descargar diariamente los CSVs (catálogos de productos) y manualmente cargarlos en su web para mantenerla actualizada de altas de productos y stocks, y así evitar que pudieran llegar pedidos de artículos que en BigBuy se hubiera roto stock.</li>
            </ul>
            <p><strong>Carga automática a través de los archivos CSVs y nuestro servidor de archivos FTP
            </strong></p>
            <ul>
                <li><strong>Ventajas:</strong> Su web estará sincronizada en todo momento con el almacén de BigBuy sin tener que realizar operaciones manuales que pueden resultar tediosas y lentas.</li>
                <li><strong>Inconvenientes:</strong> Solo es viable la automatización si usted es programador, en caso contrario deberá acudir a los servicios de algún informático para que le desarrollen una sincronización de BigBuy a su web a partir de los CSVs que se encuentran en nuestro servidor de ficheros FTP.</li>
            </ul>

            <h2 class="cmsContentSection-subTitle u-mgb--half u-pdt">Tienda Dropshipping sincronizada BigBuy</h2>
            <p>
                Solución llave en mano, trabaje desde casa sin necesidad de tener conocimientos informáticos ni almacenar stock. Negocio de alta rentabilidad sin inversión.
            </p>
            <p><strong>Ventajas</strong></p>
            <ul>
                <li>Entregamos su web en aproximadamente 3-5 días completamente adaptada a la plantilla elegida, con su logotipo y todas las funcionalidades en marcha</li>
                <li>Desde el minuto 1 que usted tiene la web se despreocupará de todo aquello que no sea promocionar y vender productos, BigBuy da la solución llave en mano y su web está sincronizada en todo momento de forma autónoma y automática. Si BigBuy crea un artículo en su web se crea en minutos, si BigBuy quita del stock un artículo en su web se quita en minutos...</li>
                <li>Además para los distribuidores con cierto recorrido ofrecemos en el pack Premium la posibilidad de que los pedidos que le hagan en su tienda lleguen automáticamente a BigBuy y se sirvan sin procesos manuales. El distribuidor tan solo debe preocuparse de que haya saldo en el monedero.</li>
                <li>También existe la posibilidad de que sus clientes puedan ver el seguimiento de envío en su propia web</li>
            </ul>
            <p><strong>Inconvenientes</strong>: Ninguno</p>

            <h4 class="cmsContentSection-itemTitle">Sincronización de stocks y artículos de BigBuy a su web</h4>
            <p>
                Los pedidos que le realizan sus clientes, después de revisarlos usted y transmitirlos a BigBuy, pasan de forma automática a BigBuy. Desde el panel de administración de Prestashop controla el estado de los mismos. Con esta funcionalidad podrá evitar hacer los pedidos a BigBuy de forma manual y ahorrará tiempo gestionando su tienda. Disponible sólo para clientes con pack Premium.
            </p>
       <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" class="u-pdt">
 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Puedo descargar una DEMO del CSV para hacer pruebas?</h4>
            </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                Si, para los clientes que quieran hacer pruebas antes de activarse como distribuidores pueden descargar archivos demo en la zona de descargas del panel de control interno de BigBuy.
             </section>
             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Cada cuánto tiempo actualiza BigBuy los CSVs?</h4>
             </button>
             <section data-js-accordion="panel" class="helpSection-accordionPanel">
                BigBuy actualiza los CSVs cada 6 horas.
             </section>
              <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Por qué es importante actualizar diariamente el CSV de BigBuy con su web?</h4>
               </button>
               <section data-js-accordion="panel" class="helpSection-accordionPanel">
               En BigBuy a diario se dan de alta decenas de artículos nuevos, al igual que también se actualizan roturas de stock y reposiciones. Los clientes que no sincronizan a diario su web con BigBuy, tarde o temprano acaban sufriendo la recepción de pedidos de artículos que se ha roto el stock, con la consecuente pérdida de tiempo de tramitar abonos, llamadas a clientes, etc. Por otro lado, las webs que están sincronizadas a diario con BigBuy son las primeras en tener las últimas novedades; y en un sector tan dinámico como es Internet esto es muy importante.
            </section>
              <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Se puede sincronizar de forma automática los CSVs con su web?</h4>
               </button>
             <section data-js-accordion="panel" class="helpSection-accordionPanel">
               Solo es viable si usted es programador y tiene conocimientos para hacer un script, en caso contrario deberá recurrir a una empresa externa y subcontratar los servicios de un programador. Con este script se podría llegar a automatizar la descarga automática de los CSVs por FTP y evitar diariamente todo el proceso manual de importación.
             </section>
             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Cómo se consigue el acceso FTP de los CSVs?</h4>
               </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
            Los clientes activados en Pack Pro, Business y Premium interesados en este servicio, deberán escribir un email al Dpto.Distribuidores comercial@bigbuy.eu y solicitar las claves de acceso. Esta opción solo es viable si usted es programador y tiene los conocimientos suficientes como para hacer un script. Si usted no es programador y tiene que subcontratar a uno, sin duda lo que a usted le interesa es una solución llave en mano como la Tienda Dropshipping Sincronizada BigBuy
          </section>

           </section>

      </div>
    </div>
</article>