<article class="cmsContentSection helpSection" data-js-helpsection="panelControl">
    <h1 class="cmsContentSection-title ">Panel de control</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Reserva de productos para promociones</h2>
            <p>
                Para los clientes en Pack Basic, Pro, Business y Premium ofrecemos un servicio para que lancen promociones. Este servicio es ideal para vender en webs colectivas que lanzan promociones por un tiempo limitado de días.

                Ofrecemos un servicio de reserva/bloqueo de stock hasta terminar la promoción de forma gratuita y sin entregar dinero ni % a cuenta. Además podemos hacer los envíos a los clientes finales al igual que a plataformas logísticas de forma completamente anónima. Para más información escribir al Dpto. de Atención a Distribuidores: comercial@bigbuy.eu
            </p>

            <h4 class="cmsContentSection-itemTitle">Descarga de facturas online</h4>

            <p>
                Las facturas se las descargan nuestros clientes desde su panel de control de BigBuy. Además, para facilitar la labor contable y administrativa, Bigbuy aglutina los pedidos de todo un mes en 1-2 facturas, pudiéndolas descargar la primera semana del mes vencido.
            </p>
            <h4 class="cmsContentSection-itemTitle">Descarga de Tarifas de Precios en Excel</h4>

            <p>
                BigBuy pone a disposición de sus distribuidores las tarifas de precios en Excel en función del pack contratado, y son descargadas desde el panel de control de BigBuy en la solapa DESCARGAS. (Para los clientes que no tienen ningún pack activo, pueden ver una demo en la zona de descargas del panel de control).
            </p>
            <h4 class="cmsContentSection-itemTitle">Descarga y apoyo en marketing online gráfico y banners para newsletters, web o catálogos</h4>

            <p>
                Los clientes activados en Pack Pro, Business o Premium disponen en el panel de control de BigBuy de una zona de descargas con material gráfico como banners, imágenes, logotipos para que puedan hacer uso en sus webs, catálogos o newsletters. Bigbuy nutre semanalmente esta sección.
            </p>
            <h4 class="cmsContentSection-itemTitle">Estados de los pedidos</h4>

            <p>
                Los pedidos pasan por diferentes estados dentro del proceso compra-envío. Nuestro departamento de logística suele cambiarlos de estado para poder controlar hasta el momento de su expedición en qué proceso se encuentran en cada momento. A continuación le indicamos el significado de cada uno:
                  </p>
                <ul>
                    <li>Pendiente: El pedido aún no ha sido pagado, ya que se ha seleccionado un modo de pago contra reembolso o transferencia.</li>
                    <li>Pagado: El pedido ha sido pagado mediante tarjeta de crédito, paypal, transferencia ya confirmada o monedero.</li>
                    <li>Revisando: Es el primer estado modificado por logística. Significa que logística ha emitido el albarán.</li>
                    <li>Revisión de servicio: Significa que ha comprado un servicio y aún no ha sido pagado.</li>
                    <li>Procesando: Es el segundo estado modificado por logística. Significa que logística ha pasado su pedido al almacén, se ha generado la etiqueta de transporte y su pedido está preparándose o incluso se encuentra ya enjaulado para su recogida por la empresa de transportes.</li>
                    <li>Preparando pedido: Es el tercer estado modificado por logística. En este estado, su pedido está totalmente preparado, la mercancía ha pasado todos los chequeos y va a ser expedida inmediatamente.</li>
                    <li>Expedido: Es el estado final modificado por logística. Significa que su pedido ha sido entregado a la agencia de transportes y ha salido de nuestros almacenes, además de que no hay ningún reembolso pendiente de cobro del mismo.</li>
                    <li>Expedido no pagado: Significa lo mismo que el anterior, pero con la diferencia de que la modalidad de pago de este pedido es contra reembolso y la agencia aún no nos ha reembolsado el importe del mismo. Puede darse el caso de que el cliente lo haya pagado pero no figura como "expedido definitivo" hasta que la agencia lo reembolsa (pueden pasar 10-15 días).</li>
                    <li>Expedido pendiente de reembolso: A igual que el estado expedido y expedido no pagado, el pedido ya está en manos de la agencia, pero la modalidad de pago es por dropshipping y al cliente final hay que cobrarle un importe que aún no nos ha sido reembolsado (pueden pasar 10-15 días).</li>
                    <li>Expedido parcial: El pedido ha sido a entregado a la agencia de transportes pero no completo, es decir, que le pueden faltar algunas unidades de los productos que se incluyen en el pedido. Cuando se hace un envío parcial, el departamento de logística le informará de la mercancía que se va a enviar y de la previsión de llegada de la que está pendiente de envío, que se enviará posteriormente con portes a cargo de BIGBUY. Si la mercancía pendiente estuviera descatalogada o no hubiera previsión de entrada, se abonarían los productos que faltaran.</li>
                    <li>Completo: Significa que ha comprado un servicio y ya ha sido pagado.</li>
                </ul>

                ADVERTENCIA: En logística, puede que algún pedido pase de un segundo estado "procesando" a un estado "revisando", "revisando paquetes" o "pendiente de stock" debido a alguna incidencia en el producto.

        </div>
    </div>
</article>