<article class="cmsContentSection helpSection" data-js-helpsection="postventaDevoluciones">
    <h1 class="cmsContentSection-title ">Postventa</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">

            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" >
                <button class=" helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cómo devolver la mercancía defectuosa a BigBuy?
                     <svg role="img" class="icon icon--inline icon--xs  u-vb" data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-lock" />
                    </svg>



                    </h4></button>
                    <section data-js-accordion="panel" class="helpSection-accordionPanel">

                        <form class="form">
                            <h4 class="form-title">Lo sentimos, esta información solo está disponible para clientes registrados</h4>
                            <div class="modularGrid u-pdt">
                                <div class="modularGrid-module u-xs-40 u-pdr2 u-brdr">
                                    <h3 class="form-subtitle">Ya soy usuario</h3>
                                    <label class="form-label u-mgt--half" for="email">E-mail</label>
                                    <input type="text" data-js-popup-login="email" class="form-input" id="email" name="email" maxlength="64">
                                    <label class="form-label" for="">Contraseña</label>
                                    <input type="password" data-js-popup-login="password" class="form-input " id="password" name="password" >
                                    <button class="button button--primary u-mgt--half button--big" type="submit" data-js-popup="submitAction">Inicie sesión</button>
                                </div>
                                <div class="modularGrid-module u-xs-50 u-pdl2">
                                    <h3 class="form-subtitle u-mgb">Usuario nuevo</h3>
                                    <a href="#" class="button">Crear una cuenta nueva</a>
                                </div>

                            </div>
                        </form>
                    </section>

                  <!--   BigBuy da un servicio excepcional de recogida gratuita al distribuidor para aquellos productos con defecto de fábrica que ha ido recopilando de sus clientes. Con el fin de amortizar gastos logísticos, BigBuy pasará recogida gratuita por sus almacenes cada dos meses siempre y cuando se hayan alcanzado 90€ de coste. En caso de no haber llegado a esta cantidad, BigBuy aplazará la recogida hasta un máximo de 6 meses. Llegada esta fecha, BigBuy recogerá gratuitamente su mercancía aunque no haya alcanzado dicha cantidad.

                    <p>En caso de que el distribuidor quiera devolver la mercancía defectuosa fuera de estos términos, será él mismo quien deba asumir los costes que se deriven previa notificación a BigBuy para estar al tanto de la recepción de dicha devolución.</p>

                    <dl>
                        <dt>Paso 1:</dt>
                        <dd>
                            <p>Deberán rellenar <strong>todos los campos</strong> de la plantilla Excel “Devolución de Productos”</p>
                            <p>Dicha plantilla está en formato Excel y deberán enviarla debidamente cumplimentada al Dto. Att. Cliente y Postventa: info@bigbuy.eu (solicite la plantilla en este mismo email sino la tiene)</p>
                            <p>Guarde esta plantilla en su ordenador y vaya adjuntando a la misma posibles incidencias que puedan ir surgiendo. Una vez cumplidas alguna de las premisas arriba indicada puede enviarla para>su gestion.</p>
                        </dd>

                        <dt>Paso 2:</dt>
                        <dd>
                            <p>Recibirá por email la Aceptación de la Devolución con un Nº RMA e instrucciones acerca de su recogida.</p>
                        </dd>

                        <dt>Paso 3:</dt>
                        <dd>
                            <p>Deberán preparar el paquete en óptimas condiciones y para ello deberán introducir todos los productos defectuosos en el interior de una caja/s de cartón grande. Tenga en cuenta que las cajas originales de los propios productos deberán llegarnos intactas, sin pegatinas ni deterioros, por ello es imprescindible el refuerzo de cajas de cartón y una buena precintada.</p>
                            <p>En el interior del paquete/s deberá introducir el Excel impreso y en el exterior del mismo, deberá indicar claramente una etiqueta con el Nº RMA y los datos del Remitente (Rechazaremos todos los paquetes que no lleguen debidamente identificados)</p>
                            <p>La garantía cubre defectos de fábrica y en ningún caso cubre desgastes o un mal uso. Sólo retornaremos el dinero de aquellos productos con defecto de fábrica, por lo que deberán prestar mucha atención a aquellos que ya presentan síntomas de estar desgastados o con golpes. En el caso de los <strong>embalajes deteriorados o con pegatinas de transporte</strong>, no se retornará el 100% del valor del producto; por ello es importante que avise a sus clientes que refuercen con otra caja de cartón la mercancía que les devuelvan y no dañen la del propio producto.</p>
                        </dd>

                        <dt>Paso 4:</dt>
                        <dd>
                            <p>Una vez recibidos los productos, el SAT de BigBuy analizará cada uno de ellos y una vez estén verificados, se procederá al abono. Los abonos se realizarán con la misma Forma de Pago con la que se realizaron los pedidos. Los abonos se harán efectivos en aproximadamente 4 semanas tras la recepción de la mercancía en nuestros almacenes. Este proceso es costoso, dado que debe ser revisada cada unidad por nuestro equipo de Asistencia técnica y posteriormente pasar al dpto. de Administracion donde se efectuaran los abonos por orden de llegada, les rogamos sean pacientes.</p>
                        </dd>
                    </dl>
                </section>-->

                <button class=" helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿En qué casos BigBuy no retornará el 100% del valor del producto?</h4></button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <ul>
                        <li>Cuando los productos presenten claros síntomas de mal uso, desgaste injustificado, o lleguen en un estado insalubre.</li>
                        <li>Para productos sin caja o devueltos con la caja deteriorada, o con pegatinas del transporte que hacen inservibles las cajas; se descontará un 50% del valor del producto.</li>
                        <li>Para productos con falta de piezas o accesorios, se valorará cada caso individualmente.</li>
                    </ul>
                    <strong>Muy importante:</strong> todos los productos devueltos a BigBuy que no presenten ninguna anomalía no solo no serán abonados, sino que serán devueltos al distribuidor con los gastos de envío a contra reembolso. Si el distribuidor rechazase esta mercancía y nos llegase de vuelta, pasará a ser propiedad de BigBuy.


                </section>
                <button class=" helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cuándo se reintegra el dinero de la devolución?</h4></button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Una vez recibida la mercancía en nuestros almacenes, y previa comprobación del estado de la misma, se procederá al reintegro de su importe conforme a la modalidad de pago realizada por el cliente, salvo en efectivo, que se reintegrará mediante transferencia bancaria. Tenga en cuenta que el proceso de reembolso podría demorarse varias semanas hasta evaluar la mercancía recepcionada.

                </section>

                <button class=" helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué ocurre si usted o su cliente no recogen un pedido?</h4></button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <p>Cuando un pedido no es recogido por el destinatario, se devuelve a nuestro almacén. Una vez se recibe en el almacén, se gestiona por el equipo SAT y pasa al departamento de administración para que tramiten el pago.</p>

                    <p>El envío del pedido, así como el retorno al almacén, ocasionan unos gastos de transporte, que tendrá que cubrir la empresa o persona que haya realizado el pedido. Por lo tanto, recibirá un pago correspondiente a la devolución del pedido, descontando los portes de ida y vuelta.</p>
                    El trámite de esta gestión, puede tardar hasta 4 semanas.

                </section>

            </section>
        </div>
    </div>
</article>



