<article class="cmsContentSection helpSection" data-js-helpsection="postventaIncidencias">
    <h1 class="cmsContentSection-title ">Postventa</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">

            <h2 class="cmsContentSection-subtitle  u-mgb--half">Incidencias</h2>
            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" >
                <button class=" helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                     <h4>¿Cómo proceder en caso de Incidencias?</h4></button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <dl>
                        <dt>Posibles Situaciones:</dt>
                        <dt>Incidencia dentro de las 24/48h. de la recepción del pedido y con síntomas de “Bulto Golpeado”:</dt>
                        <dd>
                            <p>Todos nuestros artículos salen del almacén con el embalaje en perfectas condiciones. Si su cliente observa exteriormente daños al recibir el paquete; es IMPRESCINDIBLE que lo haya hecho constar en el albarán de entrega de la mensajería indicando por ejemplo: “BULTO VISUALMENTE DETERIORADO”. Deberían aprovechar las confirmaciones de pedido que mandan a sus clientes, para educarles de esta buena práctica, tal y como hace BigBuy con ustedes.</p>

                            <p>Si su cliente tras la recepción del pedido y dentro de las 24 h. siguientes, les comunican a ustedes esta incidencia escaneando y adjuntando dicho albarán; con esta documentación podremos reclamar al seguro de la mensajería y por tanto, una vez resuelta la incidencia, podremos enviarle un nuevo producto y retirarle el golpeado.</p>
                        </dd>
                        <dt>Incidencias pasadas las 48h. de la recepción del pedido e inferior a 15 días de la recepción del mismo:</dt>
                        <dd>
                            <p>Cuando un cliente final les llame para quejarse del fallo en un producto, caja o cualquier anomalía que encuentren, ustedes serán los encargados de prestarle la atención necesaria, dado que es su cliente y no el nuestro. Esto incluye comprobación por fotos de la incidencia y retirada del producto, para revisión in-situ en sus instalaciones. En este punto tenemos que utilizar el sentido común y si llega un producto en malas condiciones y su valor es muy bajo, compensará retornar el dinero a su cliente y no proceder a la recogida y envió de una nueva unidad.</p>
                            <p>Todos los productos que vayan recopilando deberán comprobar que efectivamente estén defectuosos, de todos es conocido que muchos clientes a veces se quejan y luego los productos no presentan problemas y en este caso deberán ser ustedes quienes filtren este tipo de incidencias ficticias.</p>
                        </dd>
                        <dt>Envío Dropshipping de un producto erróneo a su cliente final</dt>
                        <dd>
                            <p>Se admitirá el cambio de los productos enviados de forma errónea, siendo BigBuy quien se hará cargo de los gastos de reenvío siempre que el distribuidor nos comunique esta circunstancia en el plazo de 48h contados desde la fecha de recepción del envío. Salvo que en ciertos casos BigBuy decida rembolsar el valor del producto.
                            </p>
                        </dd>
                    </dl>
                    <h4 class="cmsContentSection-itemTitle">Garantía - Servicio Técnico, pasados los 15 días de la recepción del pedido.</h4>
                    <p>Todos los artículos tienen una garantía de dos años ofrecida por el fabricante a partir de la fecha de entrega excepto en los productos perecederos o relacionados con la salud e higiene. No se incluyen las deficiencias ocasionadas por negligencias, golpes, uso o manipulaciones indebidas, tensión no idónea, instalación incorrecta, ni materiales sometidos a desgaste por su uso normal. En el caso de artículos informáticos, la garantía no cubrirá la eliminación de virus, restauración de programas por este motivo o la reinstalación del disco provocada por el borrado del mismo. En aquellas incidencias que justifiquen el uso de la garantía, se optará por la reparación, sustitución del artículo, rebaja o devolución, en los términos legalmente establecidos.</p>
                    <span> La garantía perderá su valor:</span>
                    <ul>
                        <li>Si se modifican, alteran o sustituyen algunos de los datos de la misma o del justificante de compra.</li>
                        <li>Si se manipula o repara tanto el número identificativo como el propio aparato garantizado sin conocimiento del Servicio Técnico.</li>
                    </ul>
                    <span> Para hacer uso de la garantía, ustedes deberán escribirnos a info@bigbuy.eu indicando:</span>
                    <ul>
                        <li>Nº de Pedido de BigBuy</li>
                        <li>Descripción del producto</li>
                        <li>Descripción del problema que tiene el producto.</li>
                        <li>Aportar fotografías en caso de daños visibles.</li>
                    </ul>
                    <p>Cada caso será tratado de forma particular y les será facilitada la dirección en su país del S.A.T. (Servicio Asistencia Técnica) de cada fabricante, o en el sitio donde deberá enviar el producto y sus accesorios (a gastos pagados) su cliente. Será obligatorio incluir en el embalaje una copia de la factura de venta, carta de Asistencia Técnica ofrecida así como una descripción del problema detectado.</p>
                    <p>
                        <strong>Deben de ser conscientes que trabajamos con productos en su mayoría de origen asiático donde la fábrica o SAT esta ubicados en dicho continente por lo que ofrecer un servicio SAT no será posible directamente. En estos casos usted deberá seguir los puntos más adelante indicados ¿Cómo reponer un artículo defectuoso a su cliente? y ¿Cómo devolver la mercancía defectuosa a BigBuy?</strong>
                    </p>
                    <p>En los casos de ser posible una atención SAT oficial el periodo de reparación será el marcado por el SAT oficial.</p>
                    <dl>
                        <dt>Devolución de producto en perfecto estado</dt>
                        <dd>
                            <p>BigBuy no recompra a sus distribuidores mercancía que no se haya podido vender en sus tiendas o almacenes o de posibles devoluciones de sus clientes. Si un cliente desea devolverles un producto en perfecto estado y finalmente ustedes se lo admiten, deberán ser ustedes quienes den salida a dicha mercancía a través de sus canales de ventas, en ningún caso BigBuy admitirá la devolución.</p>
                        </dd>
                    </dl>
                </section>

                <button class=" helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cómo reponer un artículo defectuoso a su cliente?</h4></button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Cada distribuidor decide que Política de Postventa aplica en su web o negocio, en algunos casos es preferible retornarle el dinero del artículo al cliente y así evitar más costes logísticos. En el caso de que hubiera que reponerlo es muy sencillo; el distribuidor deberá entrar en www.bigbuy.eu y realizar otro pedido completamente nuevo y pagarlo. Como si se tratara de un pedido normal su cliente lo recibirá en 24/48h.
                </section>
            </section>
        </div>
    </div>
</article>



