<article class="cmsContentSection helpSection" data-js-helpsection="postventaModificaciones">
    <h1 class="cmsContentSection-title ">Postventa</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half"> Modificaciones de pedido </h2>
              <h4 class="cmsContentSection-itemTitle">¿Qué ocurre si después de realizar un pedido detecta que hay que modificar algo?</h4>
            <p>  En el caso de que hubiera que cambiar algún dato concreto de las direcciones de envío o facturación, se podría modificar si el pedido aún no ha salido. Para el resto de los casos, la solución será cancelar el pedido y usted deberá pasar uno nuevo, pasados unos días BigBuy le hará el abono del pedido cancelado. </p><p>No obstante lo ideal será llamar o escribir un email al departamento de postventa y explicar lo sucedido, nuestro personal tratará de responderle en la mayor brevedad posible.</p>
        </div>
    </div>
</article>



