<article class="cmsContentSection helpSection" data-js-helpsection="postventaCondiciones">
    <h1 class="cmsContentSection-title ">Postventa</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">

            <h2 class="cmsContentSection-subtitle  u-mgb--half">Condiciones para distribuidores</h2>
            <p>En primer lugar, es importante resaltar que desde BigBuy cedemos casi el 98% de nuestros artículos en un rango de precio entre 0,50€ y 20€, artículos que en su mayoría son de origen asiático y que nos permiten (y por tanto les permiten a ustedes) estar en una relación precio-calidad extremadamente óptima para generar ventas.</p>
            <p>Nosotros somos mayoristas y vendemos a nuestros distribuidores con márgenes muy ajustados, por ello ustedes que tratan con el cliente final y venden con márgenes más altos deberán destinar una pequeña parte de sus beneficios a cubrir ciertas incidencias de poca relevancia.</p>
            <p>Esto es vital para consolidar una buena relación comercial y que así la balanza esté equilibrada, para que el negocio sea interesante para ambas partes. Por ello les pedimos que apliquen lógica y sensatez a la hora de tramitar sus posibles reclamaciones. No obstante, en BigBuy siempre acataremos la Ley de Garantías y trataremos de ofrecer el mejor servicio posible.</p>
            <p>Muchos de los casos tienen soluciones simples y sencillas, para ello ponemos a su disposición, nuestro equipo humano que les ayudarán a resolver cualquier duda que se les presente:</p>
            <p>Dto.PostVenta y Atención al Cliente: <a href="mailto:info@bigbuy.eu">info@bigbuy.eu</a><span class="u-pdl"> Tel.: 902 09 13 60</span></p>

        </div>
    </div>
</article>



