<article class="cmsContentSection helpSection" data-js-helpsection="postventaAnulacion">
    <h1 class="cmsContentSection-title ">Postventa</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">

            <h2 class="cmsContentSection-subtitle  u-mgb--half">Anulaciones</h2>

            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" >

                <h4 class="cmsContentSection-itemTitle">¿Cómo anular un pedido?</h4>
                <p>  Si por algún contratiempo desea anular un pedido y frenar que no sea expedido, deberá comunicarlo inmediatamente preferiblemente enviando mail a info@bigbuy.eu o por vía telefónica al Tfno.: 902 99 21 41</p>
                <p>No obstante le informamos que una vez efectuado un pedido, BigBuy no puede garantizar su cancelación/anulación debido a que en nuestro afán de servir los pedidos en los menores tiempos posibles es muy probable que su pedido esté preparado y enjaulado para ser entregado a la mensajería o haya sido ya recogido por la misma. En estos casos no podrá ser posible su anulación. </p>
                <p>Les rogamos revisen sus pedidos, direcciones de entregas, importes, productos, cantidades y atributos exhaustivamente antes de finalizarlos.</p>

            </div>
        </div>
    </article>



