<article class="cmsContentSection helpSection" data-js-helpsection="serviciosBigbuy">
    <h1 class="cmsContentSection-title ">Servicios BigBuy</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <!-- <h2 class="cmsContentSection-subtitle  u-mgb--half">Sincronización CSV / XML</h2> -->

            <h2 class="cmsContentSection-subTitle u-mgb">Servicios BigBuy</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere</p>

            
       <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" class="u-pdt">
 <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Puedo descargar una DEMO del CSV para hacer pruebas?</h4>
            </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                Si, para los clientes que quieran hacer pruebas antes de activarse como distribuidores pueden descargar archivos demo en la zona de descargas del panel de control interno de BigBuy.
             </section>
             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Cada cuánto tiempo actualiza BigBuy los CSVs?</h4>
             </button>
             <section data-js-accordion="panel" class="helpSection-accordionPanel">
                BigBuy actualiza los CSVs cada 6 horas.
             </section>
              <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Por qué es importante actualizar diariamente el CSV de BigBuy con su web?</h4>
               </button>
               <section data-js-accordion="panel" class="helpSection-accordionPanel">
               En BigBuy a diario se dan de alta decenas de artículos nuevos, al igual que también se actualizan roturas de stock y reposiciones. Los clientes que no sincronizan a diario su web con BigBuy, tarde o temprano acaban sufriendo la recepción de pedidos de artículos que se ha roto el stock, con la consecuente pérdida de tiempo de tramitar abonos, llamadas a clientes, etc. Por otro lado, las webs que están sincronizadas a diario con BigBuy son las primeras en tener las últimas novedades; y en un sector tan dinámico como es Internet esto es muy importante.
            </section>
              <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Se puede sincronizar de forma automática los CSVs con su web?</h4>
               </button>
             <section data-js-accordion="panel" class="helpSection-accordionPanel">
               Solo es viable si usted es programador y tiene conocimientos para hacer un script, en caso contrario deberá recurrir a una empresa externa y subcontratar los servicios de un programador. Con este script se podría llegar a automatizar la descarga automática de los CSVs por FTP y evitar diariamente todo el proceso manual de importación.
             </section>
             <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
            <h4>¿Cómo se consigue el acceso FTP de los CSVs?</h4>
               </button>
            <section data-js-accordion="panel" class="helpSection-accordionPanel">
            Los clientes activados en Pack Pro, Business y Premium interesados en este servicio, deberán escribir un email al Dpto.Distribuidores comercial@bigbuy.eu y solicitar las claves de acceso. Esta opción solo es viable si usted es programador y tiene los conocimientos suficientes como para hacer un script. Si usted no es programador y tiene que subcontratar a uno, sin duda lo que a usted le interesa es una solución llave en mano como la Tienda Dropshipping Sincronizada BigBuy
          </section>

           </section>

      </div>
    </div>
</article>