<article class="cmsContentSection helpSection" data-js-helpsection="tiendaDropshipping">
    <h1 class="cmsContentSection-title ">Tienda online dropshipping</h1>
    <div class="modularGrid">
        <div class="modularGrid-module u-pdr">
            <h2 class="cmsContentSection-subtitle  u-mgb--half">Información general</h2>
            <section data-js-accordion="accordion" data-js-accordion_selected_class="helpSection-accordionLink--selected" >
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿ Cuánto tiempo hay de permanencia con la tienda ?. ¿ Y con el pack mayorista ?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Ninguno, la tienda no tiene permanencia. Eso sí, para que la tienda sincronice artículos, stocks, etc. con BigBuy deberá tener activo el Pack Mayorista Pro, Business o Premium. En caso de que lo diera de baja perdería la sincronización y las condiciones especiales para hacer pedidos a precio mayorista, pero la web sería 100% suya. (En caso de cancelar el pack Mayorista antes de los 6 primeros meses, deberá pagar de nuevo el alta).
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿ Cómo funciona una Tienda Online Dropshipping sincronizada a BigBuy ?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <p>
                        Cuando un artículo nuevo se crea en BigBuy, en menos de una hora se exporta de forma automática a la Tienda Dropshipping Sincronizada incluyendo en este primer volcado toda la información completa del artículo como es: título, descripción, categoría, hasta 8 imágenes, video, precio de coste, PVP recomendado, tipo de IVA, Código EAN, stock, etc. El distribuidor que disponga de una Tienda Dropshipping será el primero en tener en su web las últimas novedades!</p>
                    <p>
                        Una vez creado el artículo, los scripts de sincronización realizan diariamente múltiples comprobaciones con nuestros servidores de base de datos; actualizando de forma automática los stocks, precios de coste y las bajas de artículos descatalogados. El resto de información el distribuidor decide si quiere que se actualice o no de forma automática, ya que algunos clientes por estrategia comercial podría ser que quisieran modificar a su gusto los PVP (precios de venta público), descripciones, imágenes, etc.</p>

                    Las actualizaciones de los productos se realizan por la referencia del producto en BigBuy, hecho que permite que su web conviva con productos de otros proveedores. Por otro lado, la gestión de categorías es completa y muy versátil, permitiéndole cambiar los nombres por otras nuevas.

                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿ En qué dominio estará la Tienda Dropshipping ?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

                    <p>
                        Para que el dominio sea 100% de su propiedad deberá registrarlo con su datos personales. Piense en nombres globales aunque su intención sea operar en su país, para que le facilite en el futuro la expansión a otros mercados. En caso de no saber cómo se registra un dominio no debe preocuparse, en cuanto BigBuy reciba el pedido de la Tienda Dropshipping le indicaremos los pasos a seguir con un sencillo manual, nuestro consejo es registrarlo en 1&1 al mismo tiempo que se contrata el hosting.
                    </p>

                    Si usted ya dispone de un dominio registrado, para no tener que transferirlo… desde ese mismo registrador se pueden apuntar las DNS al nuevo Hosting, en esto también le asesoraremos.

                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿ Cuál será el hosting donde se alojará la tienda dropshipping ?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

                    <p>BigBuy apuesta por la transparencia y ofrece al distribuidor que elija su propio Hosting siempre y cuando cumpla con unos requisitos mínimos. El mundo del Hosting es muy complejo y en muchas ocasiones ciertos servidores no responden bien a los scripts, por ello ofrecemos diversas soluciones testeadas por BigBuy:</p>
                    <ul>
                        <li><strong>La solución más económica que recomendamos:</strong>
                            <br>OVH VPS Classic | Precio: 4,99€/mes +IVA <a href="https://www.ovh.es/vps/vps-classic.xml" target="_blank">+info</a>
                        </li>
                        <li><strong>La solución para los más exigentes:</strong>
                            <br>OVH VPS Classic 3 | Precio: desde 7,99€/mes +IVA <a href="https://www.ovh.es/vps/vps-classic.xml" target="_blank">+info</a>
                        </li>
                    </ul>
                    <p>Ofrecemos un manual con los pasos a seguir para el registro de cualquier Hosting una vez recibido el pedido de la Tienda Dropshipping. Estas dos soluciones están testeadas por Bigbuy, la primera opción es económica e ideal para arrancar un e-commerce, y más adelante conforme fuera teniendo más tráfico podría migrar a un Hosting superior, en función de sus necesidades.</p>
                    <p>Requisitos mínimos si usted quiere elegir otro servidor:</p>
                    <ul>
                        <li>Admita Scripts con tareas cron programadas</li>
                        <li>Funcionalidad SSH</li>
                        <li>CURL</li>
                    </ul>
                    <p>Requisitos ideales para clientes exigentes, no son imprescindibles pero mejoran notablemente el rendimiento y la velocidad, el servidor privado virtual de Loading cumple estos requisitos:</p>
                    <ul>
                        <li>Memcached instalado en su servidor</li>
                        <li>Compresión GZIP en Apache</li>
                        <li>Caudal o ancho de banda adecuado. Es muy común que los proveedores de hosting negocien este parámetro. Es aconsejable que le aseguren un mínimo, por ejemplo 100Mbps</li>
                    </ul>
                </section>

                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Le gustaría ver la demo de una Tienda Dropshipping Sincronizada con BigBuy?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">


                    Más arriba dispone de multitud de diseños diferentes, haga click en “Ver Demo” y podrá hacer un test a la que más le haya gustado.
                </section>

                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>Una vez adquiera la tienda, ¿qué apoyo tengo por parte de BigBuy?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    El apoyo es total, BigBuy pone a su disposición:
                    <ul>
                        <li>Manual detallado de como arrancar la tienda</li>
                        <li>Soporte Técnico de personal altamente cualificado</li>
                        <li>Web preparada para el posicionamiento SEO</li>
                        <li>Zona descargas en BigBuy de marketing Online: banners, newsletters, etc...</li>
                        <li>Información diaria por email de altas y actualizaciones de productos</li>
                        <li>Actualizaciones gratuitas y periódicas de los scripts de sincronización</li>
                        <li>Sugerencia de nuevas funcionalidades y módulos para incorporar en su e-commerce</li>
                    </ul>
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cuál es el plazo de entrega desde que compro la tienda?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    El plazo de entrega de una Tienda Dropshipping Sincronizada a BigBuy es de aprox. 3-5 días desde el día que recibimos el formulario rellenado, que recibirán al comprarla.
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>Si adquiero la Tienda Sincronizada, ¿puedo poner el PVP que quiera?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    Si, tal y como indicamos más arriba el distribuidor es libre de aplicar la política de PVP’s que estime adecuada para su negocio. La Tienda Dropshipping Sincronizada viene por defecto con los PVP Recomendados de BigBuy +IVA, puesto que la web está enfocada a vender al cliente final.
                </section>

                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cuál será mi precio de coste? ¿Qué margen de beneficio se obtiene?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <p>
                        El distribuidor compra los artículos en BigBuy a precio mayorista PVD (inclusive unidades sueltas), en este link está todo explicado: http://www.bigbuy.eu/es/venta-al-mayor</p>

                    El margen de beneficio dependerá de la política de PVP’s que usted aplique, con los PVP Recomendados de BigBuy los márgenes respecto a su coste oscilan entre el 35-80%, exceptuando algunos de un valor unitario elevado que será un porcentaje más bajo.

                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Quién cobra al cliente? ¿Quién hace la factura? ¿Cómo tramito los pedidos?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">
                    <p>
                        La tienda será 100% de su propiedad y los clientes que compren en ella, le comprarán a usted, por tanto usted recibirá el dinero de los pedidos y usted deberá realizar la factura a su cliente. El mismo Prestashop tiene la opción de emitir facturas.</p>

                    Una vez usted haya recibido el cobro de un pedido, deberá acudir a BigBuy (que será su proveedor), agregar al carrito lo que le haya vendido, finalizar el pedido y pagarlo (quedándose usted con la diferencia, que será su margen). Al recibir su pedido BigBuy, lo procesará y lo entregará de forma anónima a su cliente, este modelo de negocio es lo que se denomina Dropshipping.

                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué formas de pago debo poner en la tienda? ¿Es necesario poner un TPV virtual?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">


                    Por defecto en la web le instalamos las siguientes formas de pago:
                    <ul>
                        <li><strong>Contrarembolso:</strong> un 25% de los consumidores confía más en esta forma de pago, BigBuy lo recomienda. ¿Es seguro para el dueño de la tienda? Si, muy seguro. Deberá tener en cuenta por ejemplo que si un cliente indica en el campo “teléfono” 123456789 obviamente ese número es falso, o si un cliente les indica una dirección sin número de calle y puerta obviamente el mensajero no podrá entregarlo; con revisar que los datos del cliente parezcan reales, es más que suficiente. Nuestras estadísticas indican que el 98% de los envíos contrarembolso se hacen efectivas las entregas, por lo que compensa de sobra pagar unos pequeños gastos de envío en caso de no poder entregarse ese 2% restante. ¿Cómo recupera el dueño de la tienda el dinero de ese pedido? En aproximadamente 10 días BigBuy reintegrará el dinero en su monedero, el cual podrá utilizarlo en las siguientes compras o transferirlo a su cuenta. Aquí están explicadas las formas de pago y condiciones que usted encontrará cuando compre en Bigbuy: <a href="http://www.bigbuy.eu/es/formas-de-pago">http://www.bigbuy.eu/es/formas-de-pago</a>
                        </li>

                        <li><strong>Paypal:</strong> un 30% de los consumidores confían en Paypal. Es cierto que Paypal cobra de inicio unas comisiones altas, pero cuando se va cogiendo volumen se reduce. Es una forma de pago bastante segura tanto para el comprador como para el vendedor. BigBuy les deja pre-instalada esta forma de pago, a falta de que ustedes pongan su email y contraseña.</li>

                        <li><strong>Tarjeta by Paypal:</strong> un 40% de los consumidores utilizan su tarjeta de crédito/débito para realizar compras por Internet. BigBuy les deja pre-instalada esta forma de pago, con un entorno diferente al de Paypal donde el cliente indica los datos de su tarjeta sin necesidad de abrir una cuenta en Paypal, es un entorno modo invitado. Esta opción es ideal para arrancar rápido un e-commerce y disponer de forma de pago Tarjeta.</li>
                        <li><strong>TPV Virtual de su banco, para cobro con tarjeta:</strong> hoy en día todos los bancos tienen un departamento donde dan soporte a los e-commerce al instalar su TPV, muchos bancos dan soluciones ya hechas para Prestashop. Dado que existen tantos bancos en toda Europa, BigBuy no ofrece soporte para instalar el TPV Virtual, ya que es el banco quién facilita esta labor a los e-commerce.</li>

                        <li><strong>Transferencia:</strong> apenas el 5% de los consumidores escogen esta forma de pago, debido a que es lenta y ralentiza la expedición de los pedidos.</li>
                    </ul>
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cómo debo actuar en caso de una incidencia en un pedido?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">


                    En este link están todos los casos posibles y el protocolo a seguir: http://www.bigbuy.eu/es/condiciones-especiales-mayoristas
                </section>
                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Cómo puedo mejorar el posicionamiento SEO?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

                    La Tienda se entrega con URLs amigables y diversas adaptaciones más para ayudar al posicionamiento SEO, no obstante existen multitud de tareas que podrá realizar tanto dentro de la página como fuera y que le ayudarán a estar en las primeras posiciones de los buscadores, sobre todo con las palabras clave por las que enfoque su estrategia de marketing online. Con la entrega de la tienda entregamos un manual con trucos para mejorar el posicionamiento SEO.
                </section>

                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Puedo eliminar categorías o artículos para que no salgan en mi tienda?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">

                    Sí, usted puede deshabilitar una categoría entera o un artículo de forma individual para que no salgan en su tienda, de esta forma podrá tener una tienda tematizada a los artículos que usted decida. También podrá crear una categoría/subcategoría nueva y agregar los artículos que quiera en ella.
                </section>

                <button class="helpSection-accordionLink" data-js-accordion="link">
                    <svg role="img" class="icon helpSection-accordionIcon  icon--inline icon--xs  " data-js-accordion="chevron">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown" />
                    </svg>
                    <h4>¿Qué pasa si pasados unos meses quiero cambiar a otro diseño?</h4>
                </button>
                <section data-js-accordion="panel" class="helpSection-accordionPanel">


                    El coste por cambiar a otro diseño será de 60€, dejando su tienda con el diseño inicial. Si usted ha instalado módulos adicionales y quiere mantenerlos en el nuevo diseño, requerirá un estudio de viabilidad por parte del departamento técnico.
                </section>

            </section>

        </div>
    </div>
</article>
