<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Rappel anual</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>
      El rappel es un incentivo sobre las compras realizadas a BigBuy que reintegramos anualmente en su monedero.
      </p>
    </div>

  </div>
</section>