<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Bloqueo de stock</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
    <p>
    Ofrecemos un servicio gratuito de bloqueo de stock por un máximo de 7 días, sin necesidad de entregar dinero a cuenta. Es ideal para lanzar promociones en webs de compra colectiva. <a target="_blank" class="link" href="https://www.bigbuy.eu/es/bloqueo-de-stock.html">+info</a>
      </p>
    </div>

  </div>
</section>