<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
      <h1 class="cmsContentSection-title">Sincronización automática de pedidos a BigBuy</h1>
      <div class="modularGrid-module u-md-45 u-pdr">
          <p>Para todos los pedidos que lleguen a su <a href="https://www.bigbuy.eu/es/tienda-dropshipping.html" target="_blank" class="link">Tienda dropshipping</a> éstos podrán transmitirlos de forma automática a BigBuy desde el panel de administración de PrestaShop. Con esta funcionalidad evitará la tediosa tarea de hacer manualmente los pedidos en BigBuy (copiando y pegando todos los datos de entrega del cliente) por lo que ahorrará tiempo gestionando su tienda.</p>
            </div>
          <div class="modularGrid-module u-md-45 u-pdl--half">
         <p>Disponible sólo para clientes con pack Premium.</p>
      </div>
  </div>
</section>












