<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">

    <div class="modularGrid-module u-xs-50 u-pdr">
      <h3 class="cmsContentSection-title">Tarifa PVD (inclusive en uds. sueltas)</h3>
      <p>Podrá comprar unidades sueltas a precio mayorista PVD (Precio Venta Distribuidor) sin necesidad de adquirir grandes cantidades por artículo como le ocurre a los clientes sin pack.</p>


    </div>

    <div class="modularGrid-module u-xs-50 u-pdl u-txr">
      <p>
        <img class="img--responsive" src="../../img/que-es-pvd-es.png">
      </p>
    </div>



</section>