<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
  <h1 class="cmsContentSection-title">API Pedidos agrupados a una fecha</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>Disponemos de una API para que desarrolladores/programadores puedan conectar su e-Commerce, ERP, etc. y transferir a BigBuy de forma automatizada todos los pedidos que les van llegando, hasta una fecha/hora límite de preparación, en un solo pedido agrupado.</p>
      <p>Esta API está destinada a distribuidores que no tienen stock en su almacén y necesitan bloquear stock en BigBuy de la mercancía que van vendiendo, para finalmente en la fecha/hora indicada (por el distribuidor) ejecutar en BigBuy un único pedido agrupado con toda la mercancía vendida.</p>


  </div>
  <div class="modularGrid-module u-md-45 u-pdl--half">
  <p>La ventaja principal de agrupar pedidos y mandarlos al almacén del distribuidor es que, una vez recibida la mercancía puede expedir cada pedido a precios de transportista locales; las desventajas son que conlleva otros costes como: envío a su almacén, embalajes de cartón y relleno, personal para la preparación, seguimiento de envío y mayor plazo de entrega para sus clientes. </p>
  </div>
</div>
</section>







