<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Descuento automático del 6%</h1>
    <div class="modularGrid-module u-md-45 u-pdr u-mgr">

        <p>En función del importe total del carrito se le aplicará hasta un 6 % de descuento de forma totalmente automática.</p>

    </div>
  <div class="modularGrid-module u-xs-25 u-pd box u-mgl">
            <div class="modularGrid">
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half"><strong>Importe carrito superior a</strong></div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl"><strong>Dto.%</strong></div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half u-brt">+100€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl u-brt">-1,5%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half ">+300€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl">-2,5%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half ">+600€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half  u-brdl">-3,5%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half">+1000€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl">-5,0%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half ">+2000€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl">-6,0%</div>
            </div>
        </div>
  </div>
</section>