<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
      <div class="modularGrid-module ">
      <h3 class="cmsContentSection-title">API Catálogo</h3>
      <p>Facilitamos una API para que programadores y desarrolladores puedan conectar su e-commerce, ERP, etc. y obtener y consultar en tiempo real todo el catálogo, estructura de categorías y stocks de BigBuy. <a href='https://www.bigbuy.eu/es/api_bigbuy.html' class='link' >+info</a></p>
    </div>


</div>
</section>


