<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h3 class="cmsContentSection-title">Monedero (forma de pago)</h3>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>
        Esta forma de pago es la más cómoda y rápida, además de no llevar ningún gasto adicional. Se puede recargar vía transferencia y usar dicho saldo para hacer nuevos pedidos. Dispone de un historial de movimientos en su panel de control y la posibilidad de transferir el saldo a su cuenta bancaria o PayPal.  </p>
    </div>

  </div>
</section>