<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Seguimiento de envío y n.º de seguimiento</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>En apenas unas horas después de realizar el pedido tendrá el número de seguimiento de la mensajería (tracking ID), además de poder visualizar en su panel de control de BigBuy por dónde va su paquete y saber el día exacto de entrega.</p>
    </div>


  </div>
</section>