<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
      <div class="modularGrid-module">
      <h3 class="cmsContentSection-title">CSV + XML + CSV Prestashop + CSV Categorías en 24 idiomas</h3>
      <p>Facilitamos el catálogo de BigBuy actualizado diariamente en <a class="link" href="https://www.bigbuy.eu/es/archivos-csv-xml.html" target="_blank">archivos CSV/XML</a> y hasta en 24 idiomas europeos. </p>
      <p>También facilitamos archivos CSV adaptados a Prestashop, para facilitar la importación del catálogo en este entorno. </p>
      <p>Se pueden descargar manualmente desde el panel de control. </p>
      <p>En el caso de ser desarrollador o disponer de un programador, facilitamos también estos archivos vía nuestros servidores FTP.</p>
    </div>


</div>
</section>


