<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <div class="modularGrid-module">
      <h1 class="cmsContentSection-title">Descarga de material para marketing online (newsletters y banners)</h1>

    </div>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>
        <p>
       En su panel de control podrá descargar banners, imágenes y newsletters con el marketing en multitud de idiomas, que le serán muy útiles en su web.
      </p>
      </p>
    </div>
  </div>
</section>





