<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">API Pedidos</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>Disponemos de una API para que desarrolladores/programadores puedan conectar su e-Commerce, ERP, etc. y transferir de forma automatizada los pedidos a BigBuy.</p>

  </div>
</div>
</section>







