<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Conector Prestashop - Cálculo de portes</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>Para clientes que usan el software Prestashop, facilitamos un conector de cálculo de portes, en el que aparecen todos los transportistas que ofrece BigBuy y en dónde se tiene en cuenta el peso volumétrico, regiones o códigos postales con costes adicionales, medidas máximas de paquete que admiten las agencias, etc.</p>
      </div>
      <div class="modularGrid-module u-md-45 u-pdl--half">
      <p>Es importante destacar, que el software base de Prestashop no permite añadir transportistas con peso volumétrico, por lo que sin este conector es imposible ofrecer precios exactos de todos los transportistas. </p>

  </div>
</div>
</section>





