<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Pedido mínimo</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
    <p>
    El pedido mínimo de 3 € es en valor de artículos de un pedido concreto. Están exentos de este importe el IVA, portes, etc.
      </p>
    </div>

  </div>
</section>