<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Descarga factura online</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>Nuestro ciclo de facturación es cada 10 días (días 10, 20 y 30 de cada mes) y aglutinamos todos los pedidos de dicho ciclo emitiendo una sola factura para ahorrar gestión administrativa y contable. Las facturas se descargan desde su panel de control.</p>
    </div>


  </div>
</section>