<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Carga de Pedidos desde CSV</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>Para agilizar este proceso de hacer pedidos manuales en BigBuy, facilitamos la carga de pedidos por CSV. En su panel de control, podrá descargar un ejemplo de CSV y un manual de estructura del archivo.
 </p>

  </div>
</div>
</section>







