<section class="table-accordionContent" data-js-accordion="panel" >
  <div class="modularGrid">
    <h1 class="cmsContentSection-title">Servicio dropshipping - Envíos internacionales</h1>
    <div class="modularGrid-module u-md-45 u-pdr">
      <p>Podrá realizar pedidos con modalidad de envío dropshipping y enviar la mercancía directa al cliente final con el nombre y la imagen de su empresa. Utilizamos embalajes y precintos neutros sin publicidad de BigBuy y por supuesto su cliente jamás verá sus precios de coste.</p>
      <p>La ventaja principal de hacer envíos dropshipping está en evitar invertir en stock, en gastos de embalaje y en la tediosa preparación de pedidos.


      <a href="https://www.bigbuy.eu/es/dropshipping.html" class="link" target="_blank" >+info</a>



      </p>
    </div>
 <div class="modularGrid-module u-md-55 u-pdl">

    <img src="../../img/dropshipping_big-ES.gif" class="img--responsive" alt="dropshipping">

     </div>

  </div>
</section>