<aside class="asideCart">

	<h4 class="asideCart-title">
		My Cart <span class="asideCart-itemNumber"> 2 items</span>
	</h4>

	<div class="box">

		{{> productList productList.asideCart }}

		<footer class="asideCart-footer">
			<div class="modularGrid">
				<div class="modularGrid-module u-md-60">
					<button class="button button--primary button--full u-xs--100">View Cart</button>
				</div>
				<div class="modularGrid-module u-md-40">
					<p class="asideCart-total">SUBTOTAL</p>
					<p class="asideCart-totalPrice">4,32 €</p>
				</div>
			</div>
		</footer>
	</div>
	
</aside>