<div class="bigMenu">
            <div class="modularGrid">
                <div class="modularGrid-module u-lg-20">
                    <div class="bigMenu-sections">
                        <nav class="nav nav--dropdown">
                            <a href="#" class="bigMenu-sections-item nav-item bigMenu-sections-item--submenu" data-js-bigmenu-section="110">Mundo Cocina 2</a>
                            <a href="#" class="bigMenu-sections-item nav-item bigMenu-sections-item--submenu" data-js-bigmenu-section="111">Hogar</a>
                            <a href="#" class="bigMenu-sections-item nav-item" data-js-bigmenu-section="112">Fitness y Deportes</a>
                            <a href="#" class="bigMenu-sections-item nav-item" data-js-bigmenu-section="113">Salud y Belleza</a>
                            <a href="#" class="bigMenu-sections-item nav-item" data-js-bigmenu-section="114">Otros Anunciados TV</a>
                        </nav>
                    </div>
                </div>

                <div class="modularGrid-module u-lg-40">

                    <div class="modularGrid" data-js-bigmenu-panel="110">
                        <div class="modularGrid-module u-lg-50">
                            <div class="bigMenu-subSections">
                                <nav class="nav nav--dropdown">
                                    <a href="#" class="bigMenu-item nav-item">Exprimidores</a>

                                    <a href="#" class="bigMenu-item nav-item">Dispensadores de cerveza</a>

                                    <a href="#" class="bigMenu-item nav-item">Robots de cocina</a>

                                    <a href="#" class="bigMenu-item nav-item">Hornos</a>

                                    <a href="#" class="bigMenu-item nav-item">Picadoras y Peladoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Batidoras y Licuadoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Cafeteras</a>

                                    <a href="#" class="bigMenu-item nav-item">Grills y Barbacoas</a>

                                </nav>
                            </div>
                        </div>
                        <div class="modularGrid-module u-lg-50">
                            <div class="bigMenu-subSections">
                                <nav class="nav nav--dropdown">
                                    <a href="#" class="bigMenu-item nav-item">Tostadoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Otros Accesorios Cocina</a>

                                    <a href="#" class="bigMenu-item nav-item">Hervidores de Agua</a>

                                    <a href="#" class="bigMenu-item nav-item">Freidoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Sandwicheras</a>

                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="modularGrid" data-js-bigmenu-panel="111">
                        <div class="modularGrid-module u-lg-50">
                            <div class="bigMenu-subSections">
                                <nav class="nav nav--dropdown">
                                    <a href="#" class="bigMenu-item nav-item">Batidoras y Licuadoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Dispensadores de cerveza</a>

                                    <a href="#" class="bigMenu-item nav-item">Robots de cocina</a>

                                    <a href="#" class="bigMenu-item nav-item">Hornos</a>

                                    <a href="#" class="bigMenu-item nav-item">Picadoras y Peladoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Batidoras y Licuadoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Cafeteras</a>

                                    <a href="#" class="bigMenu-item nav-item">Grills y Barbacoas</a>

                                </nav>
                            </div>
                        </div>
                        <div class="modularGrid-module u-lg-50">
                            <div class="bigMenu-subSections">
                                <nav class="nav nav--dropdown">
                                    <a href="#" class="bigMenu-item nav-item">Tostadoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Otros Accesorios Cocina</a>

                                    <a href="#" class="bigMenu-item nav-item">Hervidores de Agua</a>

                                    <a href="#" class="bigMenu-item nav-item">Freidoras</a>

                                    <a href="#" class="bigMenu-item nav-item">Sandwicheras</a>

                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="modularGrid">
                        <div class="modularGrid-module">
                            <div class="bigMenu-message">
                                <div class="modularGrid">
                                    <div class="modularGrid-module u-lg-10">
                                        <svg role="img" class="icon icon--md "><use xlink:href="../../img/icons/svg-defs.svg#icon-truck"></use></svg>


                                    </div>
                                    <div class="modularGrid-module u-lg-55">
                                        <h3>¿Quiere ser distribuidor?</h3>
                                        <p>Disfrutará de los mejores precios al mayor</p>
                                    </div>
                                    <div class="modularGrid-module u-lg-35 u-pdl">
                                        <button class="bigMenu-message-cta button button--primary"> Más información</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modularGrid-module u-lg-40">
                    <div class="bigMenu-promotions">
                        {{> productList productList.menu}}
                    </div>
                </div>
            </div>
        </div>