<div class="modularGrid u-pdb">
  <section class="box u-pdb">

    <div class="modularGrid-module u-tac">
      <div class="ventaCMS-titleBox u-mgt2">
        <h1 class="ventaCMS-title">BLOQUEO DE STOCKS</h1>
      </div>
      <div class="ventaCMS-subtitleBox  ventaCMS-subtitleBox--lock">
        <img src="../../img/big-lock.svg" alt="" class="ventaCMS-subtitleImg  ventaCMS-subtitleImg--bigLock"/>
        <h2 class="ventaCMS-subtitle">Para lanzar promociones en webs de compra colectiva</h2>
      </div>
    </div>

    <div class="modularGrid u-elem-center u-xs-75">
      <section class="cmsItem-list u-mgt">
        <div class="cmsItem u-xs-30">
          <img src="../../img/block-stock-7.svg" alt="" class="cmsItem-image " />
          <div class="cmsItem-groupText">
            <strong class="cmsItem-number">1</strong>
            <p class="cmsItem-text">Haga Bloqueo de Stock por 7 días sin entregar dinero a cuenta</p>
          </div>
        </div>
        <div class="cmsItem-arrow">
          <img src="../../img/arrow.svg" alt="" class="cmsItem-arrowImg"/>
        </div>
        <div class="cmsItem u-xs-30">
          <img src="../../img/promo.svg" alt="" class="cmsItem-image " />
          <div class="cmsItem-groupText">
            <strong class="cmsItem-number">2</strong>
            <p class="cmsItem-text">Promocione el artículo y genere ventas en su web de compra colectiva</p>
          </div>
        </div>
        <div class="cmsItem-arrow">
          <img src="../../img/arrow.svg" alt="" class="cmsItem-arrowImg"/>
        </div>
        <div class="cmsItem u-xs-30">
          <img src="../../img/pedido.svg" alt="" class="cmsItem-image " />
          <div class="cmsItem-groupText">
            <strong class="cmsItem-number">3</strong>
            <p class="cmsItem-text">Una vez sepa las unidades vendidas pase el pedido a BigBuy</p>
          </div>
        </div>
      </section>
    </div>
