<aside class="bottomMessage" id="cookie-bar" data-js-msg="cookie">
	<div class="modularGrid modularGrid--boxed">
		<div class="modularGrid-module u-pdh u-flex--between u-flex-start">
			<p class="bottomMessage-text  u-pdr u-pdb u-md-85 u-lg-90">
				Las cookies recogen información en tu navegador web para ofrecerte una mejor experiencia online.
				En BigBuy.eu utilizamos cookies, si continuas navegando consideramos que aceptas su uso.
			</p>
			<button class="button  button--big button--primary button-cookies">Aceptar</button>
		</div>
	</div>
</aside>