<table class="table table--comparative"  data-js-accordion="accordion"  data-js-accordion_selected_class="table-tr--selected">
  <thead class="table-thead">
    <tr class="table-tr">
      <th  class="table-item table-item--theadInfo" colspan="100">Catálogo de productos y stocks (Descarga manual o por FTP)</th>
    </tr>
  </thead>
  <tbody class="table-tbody table-tbody--accordion">
     {{!-- <tr class="table-tr" data-js-accordion="link">
      <td class="table-item table-item--rowtitle u-xs-60">
        {{>svgIcon class='u-mgr--half' type='chevronDown' data='data-js-accordion="chevron"'}}
        CSV + XML + CSV Prestashop + CSV Categorías en 1 idioma</td>
        <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
        <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
        <td class="table-item ">{{>svgIcon class='icon--success' type='successCircle'}}</td>
        <td class="table-item ">{{>svgIcon class='icon--success' type='successCircle'}}</td>       
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">
          {{> accordionContent8 }}
        </td>
      </tr> --}}

      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle u-xs-60">
          {{>svgIcon class='u-mgr--half' type='chevronDown' data='data-js-accordion="chevron"'}}
          CSV + XML + CSV Prestashop + CSV Categorías en 24 idiomas</td>
          <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
          <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
          <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
          <td class="table-item ">{{>svgIcon class='icon--success' type='successCircle'}}</td>
          
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item" colspan="100">
            {{> accordionContent9 }}
          </td>
        </tr>
        <tr class="table-tr" data-js-accordion="link">
          <td class="table-item table-item--rowtitle u-xs-60">
            {{>svgIcon class='u-mgr--half' type='chevronDown' data='data-js-accordion="chevron"'}}
            API Catálogo</td>
            <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
            <td class="table-item ">{{>svgIcon class='icon--error' type='timesCircle'}}</td>
            <td class="table-item ">{{>svgIcon class='icon--success' type='successCircle'}}</td>
            <td class="table-item ">{{>svgIcon class='icon--success' type='successCircle'}}</td>
            
          </tr>
          <tr class="table-tr table-tr--content">
            <td class="table-item" colspan="100">
            {{> accordionContent80 }}
            </td>
          </tr>
        </tbody>
      </table>





