<div id="tabpanel4" data-js-tab_idpanel="4" data-js-tab="panel" class="tabs-contentPanel">
    <article class="cmsContentSection">
        <div class="modularGrid ">
            <div class="modularGrid-module u-xs-45">
                {{>contactForm4}}
            </div>

<div class="modularGrid-module u-xs-55">
                <div class="cmsContact cmsContact--admin cmsContent">
                <h3 class="ventaCMS-itemTitle u-pdb--half ">Departamento de administración</h3>


                    <p class="u-pd">
                       <img src="../../img/admin_mail.svg" alt="">
                    </p>
                    <h2 class="ventaCMS-itemTitle u-pdt ">

                    <svg role="img" class="icon  icon--inline icon--waiting icon--md u-vm"><use xlink:href="../../img/icons/svg-defs.svg#icon-clock"/></svg>

                    Horario</h2>
                    <p class="u-mgl u-pdl ventaCMS-sectionText">
                        <strong>Lunes a Jueves:</strong>

                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                        9:00 a 14:00 / 15:00 a 18:30
                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                        <strong>Viernes:</strong><br/>
                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                         9:00 a 14:00
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>


