<form class="form">
    <div class="modularGrid">
        <div class="modularGrid-module">
            <fieldset class="form-fieldset form-fieldset--borderless">
                <select class="form-input u-md-60">
                    <option>-- Seleccione el motivo de su consulta --</option>
                    <option>Fallos de sincronización de artículos</option>
                    <option>Incidencia técnica Tienda Dropshipping</option>
                    <option>Dudas técnicas sobre archivos CSV/XML</option>
                    <option>Otra consulta</option>
                </select>
            </fieldset>

            <fieldset class="form-fieldset form-fieldset--borderless">
                <h3 class="form-fieldset-title">Información personal</h3>
                <div class="modularGrid">
                    <div class="modularGrid-module u-md-50 ">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-input ">
                    </div>
                    <div class="modularGrid-module u-md-45 u-pdl">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-input ">
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <label class="form-label" for="">Email</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module u-md-45 u-pdl">
                        <label class="form-label" for="">Población / Ciudad</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <label class="form-label" for="">Estado / Provincia</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module u-md-45 u-pdl">
                        <label class="form-label" for="">País</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module u-md-50">
                        <label class="form-label" for="">Teléfono</em></label>
                        <span class="form-prefix">+34</span>
                        <input type="text" class="form-input form-input--prefix">
                    </div>
                    <div class="modularGrid-module u-md-45 u-pdl">
                        <label class="form-label" for="">Empresa</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module u-md-95">
                        <label class="form-label" for="">Asunto</label>
                        <input type="text" class="form-input">
                    </div>
                    <div class="modularGrid-module u-md-95 ">
                        <label class="form-label" for="">Mensaje</label>
                        <textarea class="form-textarea"> </textarea>
                    </div>
                    <div class="modularGrid-module u-md-30 u-pdt--half">
                        <input type="submit" class="button button--primary button--full" value="Enviar">
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
</form>

