<nav class="tabs tabs--hugue tabs--contact">
 <a class="tabs-item"  data-js-tab="button" data-js-tab_idbutton="5" href="#tabpanel5">

  <span class="tabs-itemTitle tabs-itemTitle--contact">Atención al cliente y post-venta</span>
</a>


<a class="tabs-item"  data-js-tab="button" data-js-tab_idbutton="2" href="#tabpanel2">

  <span class="tabs-itemTitle tabs-itemTitle--contact">Logística y pedidos</span>
</a>

<a class="tabs-item tabs-item--selected" data-js-tab="button" data-js-tab_idbutton="1" href="#tabpanel1">

  <span class="tabs-itemTitle tabs-itemTitle--contact">Comercial y atención distribuidores</span>
</a>

<a  class="tabs-item" data-js-tab="button"  data-js-tab_idbutton="3" href="#tabpanel3">

  <span class="tabs-itemTitle tabs-itemTitle--contact" >Soporte técnico</span>
</a>
<a class="tabs-item" data-js-tab="button" data-js-tab_idbutton="4" href="#tabpanel4">

  <span class="tabs-itemTitle tabs-itemTitle--contact">Administración</span>
</a>
</nav>
