<div id="tabpanel3" data-js-tab_idpanel="3" data-js-tab="panel" class="tabs-contentPanel">
    <article class="cmsContentSection">
        <div class="modularGrid ">
            <div class="modularGrid-module u-xs-45">
                {{>contactForm3}}
            </div>
<div class="modularGrid-module u-xs-55">
                <div class="cmsContact cmsContact--support cmsContent">
                <h3 class="ventaCMS-itemTitle u-pdb--half ">Departamento de soporte técnico</h3>


                    <p class="u-pd">
                       <img src="../../img/support_mail.svg" alt="">
                    </p>
                    <h2 class="ventaCMS-itemTitle u-pdt ">

                    <svg role="img" class="icon  icon--inline icon--waiting icon--md u-vm"><use xlink:href="../../img/icons/svg-defs.svg#icon-clock"/></svg>

                    Horario</h2>
                    <p class="u-mgl u-pdl ventaCMS-sectionText">
                        <strong>Lunes a Jueves:</strong>

                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                        9:00 a 14:00 / 15:00 a 18:30
                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                        <strong>Viernes:</strong><br/>
                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                         9:00 a 14:00
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>
























{{!--             <div class="modularGrid-module u-lg-50">
                <div class="cmsContact cmsContent">
                    <h2 class="cmsContent-subtitle u-mgb">
                        Correo del departamento
                    </h2>
                    <p>
                        <strong><a href="">info@bigbuy.eu</a></strong>
                    </p>
                    <h2 class="cmsContent-subtitle u-pdt u-mgb">Horario</h2>
                    <p>
                        Lunes a Jueves<br>
                        <strong>9:00 a 14:00 / 15:00 a 18:30</strong><br>
                        Viernes<br>
                        <strong>9:00 a 14:00 </strong>
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>

 --}}