<div id="tabpanel1" data-js-tab_idpanel="1" data-js-tab="panel" class="tabs-contentPanel  tabs-contentPanel--selected">
    <article class="cmsContentSection">
        <div class="modularGrid ">
            <div class="modularGrid-module u-xs-45">
                {{>contactForm1}}
            </div>
            <div class="modularGrid-module u-xs-55">
                <div class="cmsContact  cmsContact--comercial cmsContent">
                <h3 class="ventaCMS-itemTitle u-pdb--half ">Departamento comercial y atención a distribuidores</h3>

                    <p class="u-pd">
                    <img src="../../img/comercial_phone.svg" alt="">



                    </p>
                    <p class="u-pd">
                       <img src="../../img/comercial_mail.svg" alt="">
                    </p>
                    <h2 class="ventaCMS-itemTitle u-pdt ">

                    <svg role="img" class="icon  icon--inline icon--waiting icon--md u-vm"><use xlink:href="../../img/icons/svg-defs.svg#icon-clock"></use></svg>

                    Horario</h2>
                    <p class="u-mgl u-pdl ventaCMS-sectionText">
                        <strong>Lunes a Jueves:</strong>

                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                        9:00 a 14:00 / 15:00 a 18:30
                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                        <strong>Viernes:</strong><br/>
                    </p>
                     <p class="u-mgl u-pdl ventaCMS-sectionText">
                         9:00 a 14:00
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>





