<table class="table table--ultracondensed">
<caption class="table-caption u-tar">
<div class="table-captionIcon  productSheet-discountTable--automatic">
<svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-cart"/></svg>
</div>
Descuento automático <em class="form-info" data-js-tooltip="tooltip_descuento_auto" ><b class="icon fa-info-circle u-mgl--half"></b></em>

<p class="form-textinfo">Carrito con importe <strong>subtotal</strong> superior a:</p>



</caption>
<thead class="table-thead">
	<tr class="table-tr">
		<th class="table-item table-item--number">Importe</th>
		<th class="table-item table-item--number">Descuento</th>
	</tr>
</thead>

<tbody class="table-tbody">
	<tr class="table-tr">
		<td class="table-item table-item--number">+100 €</td>
		<td class="table-item table-item--number">1,5 %</td>
	</tr>
	<tr class="table-tr">
		<td class="table-item table-item--number">+300 €</td>
		<td class="table-item table-item--number">2,5 %</td>
	</tr>
	<tr class="table-tr">
		<td class="table-item table-item--number">+600 €</td>
		<td class="table-item table-item--number">3,5 %</td>
	</tr>
	<tr class="table-tr">
		<td class="table-item table-item--number">+1.000 €</td>
		<td class="table-item table-item--number">5,0%</td>
	</tr>
	<tr class="table-tr">
		<td class="table-item table-item--number">+2.000 €</td>
		<td class="table-item table-item--number">6,0 %</td>
	</tr>

</tbody>
</table>


