<table class="table table--ultracondensed">
	<caption class="table-caption u-tar">
		<div class="table-captionIcon  productSheet-discountTable--wholesaler">
		<svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
		</div>
		Dto. % Mayorista (con Pack) <em class="form-info" data-js-tooltip="tooltip3" ><b class="icon fa-info-circle u-mgl--half"></b></em></caption>

	<tbody class="table-tbody">
		<tr class="table-tr">
			<td class="table-item table-item--number u-md-10">PVD</td>
			<td class="table-item table-item--number u-md-20">1 uds.</td>
			<td class="table-item table-item--number u-md-20">22,83 €</td>
			<td class="table-item table-item--number u-md-20">50,6 %</td>
		</tr>
		<tr class="table-tr">
			<td class="table-item "></td>
			<td class="table-item table-item--number ">hasta</td>
			<td class="table-item table-item--number">22,83 €</td>
			<td class="table-item table-item--number">56,6 %</td>
		</tr>

	</tbody>
</table>


