<table class="table table--ultracondensed">
	<caption class="table-caption u-tar">
		<div class="table-captionIcon  productSheet-discountTable--volume">
		<svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-user"/></svg>
		</div>
		Dto. % por volumen (sin Pack) <em class="form-info" data-js-tooltip="tooltip3" ><b class="icon fa-info-circle u-mgl--half"></b></em></caption>


	<tbody class="table-tbody">
		<tr class="table-tr">
			<td class="table-item table-item--number u-md-10">.</td>
			<td class="table-item table-item--number u-md-20">6 uds.</td>
			<td class="table-item table-item--number  u-md-20">23,67 €</td>
			<td class="table-item table-item--number  u-md-20">10,9 %</td>
		</tr>
		<tr class="table-tr">
			<td class="table-item"></td>
			<td class="table-item table-item--number">12 uds.</td>
			<td class="table-item table-item--number">23,463 €</td>
			<td class="table-item table-item--number">19,7 %</td>
		</tr>
		<tr class="table-tr">
			<td class="table-item"></td>
			<td class="table-item table-item--number">48 uds.</td>
			<td class="table-item table-item--number">23,19 €</td>
			<td class="table-item table-item--number">38,3 %</td>
		</tr>
		<tr class="table-tr">
			<td class="table-item"></td>
			<td class="table-item table-item--number">96 uds.</td>
			<td class="table-item table-item--number">22,83 €</td>
			<td class="table-item table-item--number">49,6 %</td>
		</tr>
	</tbody>
</table>


