<section class="modularGrid-module u-pd u-mgb2">
<div class="ventaCMS-subsection  u-elem-center">
<h2 class="supertitle1 ">Dudas frecuentes</h2>
<table class="table table--comparative u-pd u-mgt " data-js-accordion="accordion" data-js-accordion_selected_class="table-tr--selected">
<tbody class="table-tbody table-tbody--accordion">
<tr data-js-accordion="link" class="table-tr">
<td class="table-item table-item--rowtitle">
{{>svgIcon type='chevronDown' data='data-js-accordion="chevron"' class='u-mgr--half'}}
<span class="accordion-title">Pregunta nº 1</span>
</td>
</tr>
<tr class="table-tr table-tr--content">
<td class="table-item">
<section class="table-accordionContent" data-js-accordion="panel">
<div class="modularGrid">
<div class="modularGrid-module modularGrid-module--legible">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
</section>
</td>
</tr>
<tr data-js-accordion="link" class="table-tr">
<td class="table-item table-item--rowtitle">
{{>svgIcon type='chevronDown' data='data-js-accordion="chevron"' class='u-mgr--half'}}
<span class="accordion-title">
¿Cuál será el hosting donde se alojará la tienda dropshipping?
</span>
</td>
</tr>
<tr class="table-tr table-tr--content">
<td class="table-item">
<section class="table-accordionContent" data-js-accordion="panel">
<div class="modularGrid">

<div class="modularGrid-module modularGrid-module--legible">
{{>hostingFaq}}
</div>
</div>
</section>
</td>
</tr>
<tr data-js-accordion="link" class="table-tr">
<td class="table-item table-item--rowtitle">
{{>svgIcon type='chevronDown' data='data-js-accordion="chevron"' class='u-mgr--half'}}
<span class="accordion-title">
Pregunta nº 3
</span>
</td>
</tr>
<tr class="table-tr table-tr--content">
<td class="table-item">
<section class="table-accordionContent" data-js-accordion="panel">
<div class="modularGrid">
<div class="modularGrid-module modularGrid-module--legible">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
</section>
</td>
</tr>
</tbody>
</table>
</div>
</section>