<div class="footer-utils">
    <div class="modularGrid modularGrid--boxed">
        <div class="modularGrid-module ">
            <section class="footer-utils-section">
                <h4 class="subtitle5 u-mgb">Etiquetas populares</h4>
                {{>tagsList tagsList.list}}
            </section>
        </div>
    </div>
</div>