<div class="helpCenter" >
  <div class="modularGrid modularGrid--boxed">
    <div class="modularGrid-module">
      <h3 class="footer-sectionTitle helpCenter-title" data-js-helpcenter="helpcenter"><svg data-js-accordion="chevron" class="icon  helpCenter-icon icon--inline icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use></svg>Centro de ayuda</h3>
    </div>

      <section class="helpCenter-section">
        <h4 class="helpCenter-subtitle" >Postventa</h4>
        <ul class="helpCenter-contents" data-js-helpcenter="contents">
          <li><a href="#" class="helpCenter-item">Postventa distribuidores</a></li>
          <li><a href="#" class="helpCenter-item">Modificaciones de pedido</a></li>
          <li><a href="#" class="helpCenter-item">Incidencias</a></li>
          <li><a href="#" class="helpCenter-item">Anulación de pedidos</a></li>
          <li><a href="#" class="helpCenter-item">Devoluciones</a></li>
        </ul>
      </section>

      <section class="helpCenter-section">
        <h4 class="helpCenter-subtitle" >Garantía</h4>
        <ul class="helpCenter-contents" data-js-helpcenter="contents">
          <li><a href="#" class="helpCenter-item">Plazos</a></li>
          <li><a href="#" class="helpCenter-item">Condiciones</a></li>
          <li><a href="#" class="helpCenter-item">Uso de la garantía</a></li>
        </ul>
      </section>

      <section class="helpCenter-section">
        <h4 class="helpCenter-subtitle" >Entrega y envío</h4>
        <ul class="helpCenter-contents" data-js-helpcenter="contents">
          <li><a href="#" class="helpCenter-item">Métodos de envío</a></li>
          <li><a href="#" class="helpCenter-item">Plazos de entrega</a></li>
          <li><a href="#" class="helpCenter-item">Coste de envío</a></li>
          <li><a href="#" class="helpCenter-item">Países donde operamos</a></li>
          <li><a href="#" class="helpCenter-item">Seguimiento de envío</a></li>
        </ul>
      </section>
       <section class="helpCenter-section">
        <h4 class="helpCenter-subtitle" >Impuestos</h4>
        <ul class="helpCenter-contents" data-js-helpcenter="contents">
          <li><a href="#" class="helpCenter-item">IVA</a></li>
          <li><a href="#" class="helpCenter-item">Recargo de equivalencia</a></li>
        </ul>
      </section>

      <section class="helpCenter-section">
        <h4 class="helpCenter-subtitle" >Formas de pago</h4>
        <ul class="helpCenter-contents" data-js-helpcenter="contents">
          <li><a href="#" class="helpCenter-item">Compra segura</a></li>
          <li><a href="#" class="helpCenter-item">Formas de pago</a></li>
          <li><a href="#" class="helpCenter-item">PayPal</a></li>
        </ul>
      </section>

      <section class="helpCenter-section">
        <h4 class="helpCenter-subtitle" >Generales</h4>
        <ul class="helpCenter-contents" data-js-helpcenter="contents">
          <li><a href="#" class="helpCenter-item">¿Qué es Dropshipping / envío anónimo?</a></li>
          <li><a href="#" class="helpCenter-item">¿Hace falta tener stock?</a></li>
          <li><a href="#" class="helpCenter-item">¿Quién tramita el envío de paquete?</a></li>
          <li><a href="#" class="helpCenter-item">¿Qué es el descuento automático?</a></li>
          <li><a href="#" class="helpCenter-item">¿Existe pedido mínimo?</a></li>
        </ul>
      </section>

  </div>
</div>