<section class="footer-advantages">

<aside class="footer-advantagesContent">

   
            <div class="footer-advantages-item">
           
             <img src="../../img/footer-01.svg" class="footer-advantagesIcon" alt="icon">   
            <span class="footer-advantagesText">Líder Mayorista<br>Europeo</span>
            </div>
            <div class="footer-advantages-item">
              <img src="../../img/footer-02.svg" class="footer-advantagesIcon" alt="icon">              
            <span class="footer-advantagesText">Miles de Productos</span>
            </div>
            <div class="footer-advantages-item">
              <img src="../../img/footer-03.svg" class="footer-advantagesIcon" alt="icon">              
            <span class="footer-advantagesText">Primeras marcas</span>
            </div>
            <div class="footer-advantages-item">
              <img src="../../img/footer-04.svg" class="footer-advantagesIcon" alt="icon">              
            <span class="footer-advantagesText">Servicio<br>Dropshipping</span>
            </div>
            <div class="footer-advantages-item">
              <img src="../../img/footer-05.svg" class="footer-advantagesIcon" alt="icon">              
            <span class="footer-advantagesText">Multichannel<br>Management</span>
            </div>
            <div class="footer-advantages-item">
              <img src="../../img/footer-06.svg" class="footer-advantagesIcon" alt="icon">              
            <span class="footer-advantagesText">E-Marketplaces<br>Integration</span>
            </div>
       
          
    </aside>
</section>
