<div class="modularGrid-module u-xs-40">
	<aside class="homeActions">
		<a class="homeActions-item" href="#">
			<div class="modularGrid">
				<div class="modularGrid-module u-xs-15 homeActions-heading">
					<img src="../../img/icons/distribuidor_banner.svg">
				</div>
				<div class="modularGrid-module u-xs-75 homeActions-heading">
						<h2 class="homeActions-title">Sea distribuidor</h2>
						<h3 class="homeActions-subtitle">Formulario de registro</h3>
				</div>
				<div class="modularGrid-module u-xs-10 homeActions-heading">
					<img class="homeActions-responsive" src="../../img/icons/chevronMobileRight.svg">
				</div>
			</div>
		</a>
		<a class="homeActions-item" href="#">
			<div class="modularGrid">
				<div class="modularGrid-module u-xs-15 homeActions-heading">
					<img src="../../img/icons/dropshipping_banner.svg">
				</div>
				<div class="modularGrid-module u-xs-75 homeActions-heading">
						<h2 class="homeActions-title">Dropshipping</h2>
						<h3 class="homeActions-subtitle">Venta al por mayor</h3>
				</div>
				<div class="modularGrid-module u-xs-10 homeActions-heading">
					<img class="homeActions-responsive" src="../../img/icons/chevronMobileRight.svg">
				</div>
			</div>
		</a>
		<a class="homeActions-item" href="#">
			<div class="modularGrid">
				<div class="modularGrid-module u-xs-15 homeActions-heading">
					<img src="../../img/icons/sincronizado_banner.svg">
				</div>
				<div class="modularGrid-module u-xs-75 homeActions-heading">
						<h2 class="homeActions-title homeActions-title">Sincronizados</h2>
						<h3 class="homeActions-subtitle homeActions-subtitle">Nuestro stock en su tienda</h3>
				</div>
				<div class="modularGrid-module u-xs-10 homeActions-heading">
					<img  class="homeActions-responsive" src="../../img/icons/chevronMobileRight.svg">
				</div>
			</div>
		</a>
	</aside>
</div>
