<div class="modularGrid-module u-xxs-hide u-lg-show "> 
  <p class="subtitle2 u-mgv--half"><strong>Hostings tienda dropshipping</strong></p> 
  <table class="table table--tablePanels u-mgv">
    <thead class="table-thead">
      <tr class="table-tr">
        <th class="table-th table-item"></th>
        <th class="table-th table-item u-vt u-xs-20 u-bxsh-l">
          <img class="icon icon--md  u-op-50 u-elem-center " src="../../img/icons/rack.svg">
          <small class="u-elem-center u-pdt--6">OVH VPS SSD 3</small>
          <a href="#" target="_blank" class="link"><small>+info</small></a>
        </th>
        <th class="table-th table-item u-vt u-xs-20 u-bxsh-l">
          <img class="icon icon--md  u-op-50 u-elem-center " src="../../img/icons/rack.svg">
          <small class="u-elem-center u-pdt--6">Profesional Hosting VPS<br/>Prestashop</small>
          <a href="#" target="_blank" class="link"><small>+info</small></a>
        </th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr class="table-tr">
        <td class="table-item  table-item--rowtitle u-tal" colspan="3">Características del servidor</td>
      </tr>
      <tr class="table-tr">
        <td class="table-item  table-item--rowtitle u-tal"><small>Disco duro SSD 10 veces más rápido que un disco duro HDD normal</small></td>
        <td class="table-item u-vm">{{>svgIcon type='successCircle' size='sm' class='icon--success'}}</td>
        <td class="table-item u-vm">{{>svgIcon type='successCircle' size='sm' class='icon--success'}}</td>
      </tr>
      <tr class="table-tr">
        <td class="table-item  table-item--rowtitle u-tal">
          <small class="u-block"><strong>Servidor administrado</strong></small>
          <small class="u-block u-pdt--6">Podrá tener su propio servidor VPS sin preocuparse de nada más. Para configurar el servidor, instalar aplicaciones y resolver incidencias, está a su disposición el servicio técnico del proveedor de hosting elegido.</small>
        </td>
        <td class="table-item u-vm">{{>svgIcon type='timesCircle' size='sm' class='icon--error'}}</td>
        <td class="table-item u-vm">{{>svgIcon type='successCircle' size='sm' class='icon--success'}}</td>
      </tr>
      <tr class="table-tr">
        <td class="table-item  table-item--rowtitle u-tal">
          <small class="u-block"><strong>Características</strong></small>
          <small class="u-block u-pdt--6">Tareas cron, SSH, cURL, memoria y tiempo de ejecución de PHP 512 Mb y 3600 segundos, GZIP.</small>
        </td>
        <td class="table-item u-vm">{{>svgIcon type='successCircle' size='sm' class='icon--success'}}</td>
        <td class="table-item u-vm">{{>svgIcon type='successCircle' size='sm' class='icon--success'}}</td>
      </tr>
      <tr class="table-tr">
        <td class="table-item  table-item--rowtitle u-tal">
          <small class="u-block"><strong>Precios</strong></small>        
        </td>
        <td class="table-item u-vm">Desde 11,99 €/mes + IVA</td>
        <td class="table-item u-vm">Desde 15,90 €/mes + IVA</td>
      </tr>
    </tbody>
  </table>
</div>
{{!--  --}}
<div class="modularGrid-module u-lg-hide">
  <h4 class="subtitle2 u-pdt">Hostings tienda dropshipping</h4>
  <table class="table table--tablePanels u-mgv">
    <thead class="table-thead">
      <tr class="table-tr">
        <th class="table-th table-item u-vt">
           <img class="icon icon--md  u-op-50 u-elem-center" src="../../img/icons/rack.svg">
          <p class="u-elem-center u-pdt--third">OVH VPS SSD 3</p>
          <a href="#" target="_blank" class="link"><small>+info</small></a>
        </th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr class="table-tr">
        <td class="table-item">
        <div class="u-tal">
          <p class="subtitle"><strong>Características del servidor</strong></p>
          <small class="u-block">Disco duro SSD 10 veces más rápido que un disco duro HDD normal</small>
          {{> svgIcon type='successCircle' size='md' class='icon--success u-block u-elem-center u-pdt--third'}}           
        </div>
        <div class="u-tal">        
          <p class="subtitle"><strong>Servidor administrado</strong></p>
           <small class="u-block">Podrá tener su propio servidor VPS sin preocuparse de nada más. Para configurar el servidor, instalar aplicaciones y resolver incidencias, está a su disposición el servicio técnico del proveedor de hosting elegido.</small> 
            {{> svgIcon type='timesCircle' size='md' class='icon--error u-block u-elem-center u-pdt--third'}}    
          </div>
          <div class="u-tal">        
          <p class="subtitle"><strong>Características</strong></p>
           <small class="u-block">Tareas cron, SSH, cURL, memoria y tiempo de ejecución de PHP 512 Mb y 3600 segundos, GZIP</small> 
            {{> svgIcon type='successCircle' size='md' class='icon--success u-block u-elem-center u-pdt--third'}}    
          </div>
           <div class="u-tal">        
          <p class="subtitle"><strong>Precios</strong></p>
           <p>Desde 11,99 €/mes + IVA</p>             
          </div>           
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table--tablePanels u-mgv">
    <thead class="table-thead">
      <tr class="table-tr">
        <th class="table-th table-item u-vt">
           <img class="icon icon--md  u-op-50 u-elem-center" src="../../img/icons/rack.svg">
          <p class="u-elem-center u-pdt--third">Profesional Hosting VPS<br/>Prestashop</p>
          <a href="#" target="_blank" class="link"><small>+info</small></a>
        </th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr class="table-tr">
        <td class="table-item">
        <div class="u-tal">
          <p class="subtitle"><strong>Características del servidor</strong></p>
          <small class="u-block">Disco duro SSD 10 veces más rápido que un disco duro HDD normal</small>
          {{> svgIcon type='successCircle' size='md' class='icon--success u-block u-elem-center u-pdt--third'}}           
        </div>
        <div class="u-tal">        
          <p class="subtitle"><strong>Servidor administrado</strong></p>
           <small class="u-block">Podrá tener su propio servidor VPS sin preocuparse de nada más. Para configurar el servidor, instalar aplicaciones y resolver incidencias, está a su disposición el servicio técnico del proveedor de hosting elegido.</small> 
            {{> svgIcon type='successCircle' size='md' class='icon--success u-block u-elem-center u-pdt--third'}}    
          </div>
          <div class="u-tal">        
          <p class="subtitle"><strong>Características</strong></p>
           <small class="u-block">Tareas cron, SSH, cURL, memoria y tiempo de ejecución de PHP 512 Mb y 3600 segundos, GZIP</small> 
            {{> svgIcon type='successCircle' size='md' class='icon--success u-block u-elem-center u-pdt--third'}}    
          </div>
           <div class="u-tal">        
          <p class="subtitle"><strong>Precios</strong></p>
           <p>Desde 15,90 €/mes + IVA</p>             
          </div>           
        </td>
      </tr>
    </tbody>
  </table>
  



</div>