<section class="imgBox imgBox--productSheet" {{elem}}>
    <figure class="imgBox-figure">
        <a href="http://192.168.1.211/bigbuy_e/32686-product_card/jamon-de-jabugo-iberico-delizius-deluxe.jpg" title="Jamón de Jabugo Ibérico Delizius Deluxe" data-js-image-id="32686">
            <img title="Jamón de Jabugo Ibérico Delizius Deluxe" alt="Jamón de Jabugo Ibérico Delizius Deluxe" src="http://192.168.1.211/bigbuy_e/32686-product_card/jamon-de-jabugo-iberico-delizius-deluxe.jpg" class="imgBox-img">
        </a>
    </figure>
    <nav class="imgBox-thumblist">
        <div data-js-imgBoxCarousel="container">
            <a href="http://192.168.1.211/bigbuy_e/32686-product_card_zoom/jamon-de-jabugo-iberico-delizius-deluxe.jpg" data-js-thumbimage-id="32686" data-lightbox="product_img" title="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb">
                <img src="http://192.168.1.211/bigbuy_e/32686-product_card_thumbnail/jamon-de-jabugo-iberico-delizius-deluxe.jpg" title="Jamón de Jabugo Ibérico Delizius Deluxe" alt="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb-img">
            </a>
            <a href="http://192.168.1.211/bigbuy_e/32687-product_card_zoom/jamon-de-jabugo-iberico-delizius-deluxe.jpg" data-js-thumbimage-id="32687" data-lightbox="product_img" title="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb">
                <img src="http://192.168.1.211/bigbuy_e/32687-product_card_thumbnail/jamon-de-jabugo-iberico-delizius-deluxe.jpg" title="Jamón de Jabugo Ibérico Delizius Deluxe" alt="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb-img">
            </a>
            <a href="http://192.168.1.211/bigbuy_e/32688-product_card_zoom/jamon-de-jabugo-iberico-delizius-deluxe.jpg" data-js-thumbimage-id="32688" data-lightbox="product_img" title="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb">
                <img src="http://192.168.1.211/bigbuy_e/32688-product_card_thumbnail/jamon-de-jabugo-iberico-delizius-deluxe.jpg" title="Jamón de Jabugo Ibérico Delizius Deluxe" alt="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb-img">
            </a>
            <a href="http://192.168.1.211/bigbuy_e/32689-product_card_zoom/jamon-de-jabugo-iberico-delizius-deluxe.jpg" data-js-thumbimage-id="32689" data-lightbox="product_img" title="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb">
                <img src="http://192.168.1.211/bigbuy_e/32689-product_card_thumbnail/jamon-de-jabugo-iberico-delizius-deluxe.jpg" title="Jamón de Jabugo Ibérico Delizius Deluxe" alt="Jamón de Jabugo Ibérico Delizius Deluxe" class="imgBox-thumb-img">
            </a>
        </div>
    </nav>
    <button class="imgBoxBtn imgBoxBtn--minus" data-js-imgBoxCarousel="btnMinus">

    </button>
    <button class="imgBoxBtn imgBoxBtn--plus" data-js-imgBoxCarousel="btnPlus">

    </button>
</section>


