<section class="ventaCMS-section u-brt u-brb">
  <div class="ventaCMS-subsection u-xs-70 u-elem-center ">
    <h2 class="ventaCMS-sectionTitle">Formulario servicios de importación:</h2>
    <p class="u-xs-70">Si le interesa alguno de los servicios que ofrecemos en esta sección rellene el siguiente formulario:</p>
    <form class="form u-mgt">
      <fieldset class="form-fieldset form-fieldset--borderless">
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-45">
            <label class="form-label">Empresa</label>
            <input class="form-input" type="text"/>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label">Nombre</label>
                <input class="form-input" type="text"/>
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl--half">
                <label class="form-label">Apellidos</label>
                <input class="form-input" type="text"/>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-fieldset form-fieldset--borderless u-xs-45 u-fll">
        <label class="form-label">Dirección</label>
        <input class="form-input" type="text"/>
        <div class="modularGrid">
          <div class="modularGrid-module u-xs-60">
            <label class="form-label">Población</label>
            <input class="form-input" type="text"/>
          </div>
          <div class="modularGrid-module u-xs-40 u-pdl--half">
            <label class="form-label">País</label>
            <input class="form-input" type="text"/>
          </div>
        </div>

        <div class="modularGrid">
          <div class="modularGrid-module u-xs-40">
            <label for="" class="form-label">Teléfono</label>
            <span class="form-prefix">+34</span>
            <input type="text" class="form-input form-input--prefix"/>
          </div>
          <div class="modularGrid-module u-xs-60 u-pdl--half">
            <label class="form-label">Email</label>
            <input class="form-input" type="text"/>
          </div>
        </div>
        <label class="form-label">Asunto</label>
        <input class="form-input" type="text"/>
        <label class="form-label">Mensaje</label>
        <textarea class="form-textarea"></textarea>
        <button class="button button--primary button--big u-mgt">

          <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-paperplane"></use></svg>
          <span>Enviar</span></button>
        </fieldset>
        <div class="modularGrid-module u-xs-50  u-pdl u-flr u-mgt--half ">
          <img src="../../img/elevador.svg"/>
        </div>
      </form>
    </div>
  </section>



