
<div class="modularGrid u-elem-center u-xs-75 ">

  <div class="modularGrid-module import-section">

    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 ">
        <img src="../../img/china.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle ">Su oficina en China</h2>
        <p class="import-sectionText">La dificultad de una buena comunicación, el poco conocimiento y entendimiento de sus costumbres culturales y comerciales, son las barreras más frecuentes, que imposibilitan buenos negocios en Asia. Ponemos a su disposición toda nuestra estructura y nuestros medios tanto en Europa como en nuestras oficinas de China para ofrecerle una gestión integral del proceso de importación cubriendo su ciclo completo, de este modo podemos ayudarle a lo largo de todo el proceso de compra ofreciendo seguridad y comodidad en sus importaciones. Muchas empresas buscan proveedores en Alibaba o páginas similares, pero ésta es una solución cortoplacista y muy arriesgada debido a la incertidumbre de si llegará o no la mercancía… sumado a que no se puede controlar o inspeccionar las calidades, ni calcular exactos los costes aduaneros, etc.</p>
      </div>
    </div>

    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/lupa.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle ">Investigación y búsqueda de producto</h2>
        <p class="import-sectionText">Investigación de mercado, búsqueda, selección de productos y fabricantes asiáticos adecuados a sus necesidades negociando las mejores condiciones posibles. Si usted necesita comprar grandes cantidades de un producto, en BigBuy le ofrecemos la forma más económica y segura de importarlo ya personalizado y según las características que necesite. Además tramitamos todos los certificados necesarios para vender en cualquier país del mundo.</p>
      </div>
    </div>

    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/producto.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Desarrollo de nuevos productos y moldes</h2>
        <p class="import-sectionText">Damos soporte a nuestros clientes en todos los pasos necesarios para el desarrollo de un nuevo producto.</p>
        <ul class="import-list">
          <li>Localización y selección del fabricante necesario.</li>
          <li>Elección del material y especificaciones a fabricar.</li>
          <li>Elección del material y especificaciones a fabricar.</li>
          <li>Fabricación del molde si fuera necesario.</li>
          <li>Diseño y personalización del producto y del packaging.</li>
          <li>Traducciones técnicas revisadas por expertos en multitud de idiomas.</li>
          <li>Gestión de muestras.</li>
          <li>Inspección y control de calidad durante y después de la producción.</li>
          <li>Gestión de la importación, despachos de aduana y entrega en sus almacenes.</li>
        </ul>
      </div>
    </div>

    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/design2.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Branding creatividad diseño gráfico y 3D</h2>
        <p class="import-sectionText">Disponemos de nuestra propio departamento de creatividad y diseño gráfico para dar un servicio integral a nuestros clientes. Si se está planteando crear una nueva marca o simplemente ampliar su catálogo de productos, en BigBuy le ofrecemos nuestra amplia experiencia en:</p>
        <ul class="import-list">
          <li>Creatividad y branding de su proyecto.</li>
          <li>Imagen corporativa.</li>
          <li>Diseñamos anagramas y logotipos.</li>
          <li>Diseño gráfico, industrial y 3D.</li>
          <li>Desarrollo Web y Marketing Online.</li>
        </ul>
      </div>
    </div>

    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/business.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Negociación de precios y cotización</h2>
        <p class="import-sectionText">Una vez hemos localizado el producto y seleccionado el fabricante o proveedor adecuado, procedemos a la negociación y calculamos los costes unitarios finales para que usted sepa cuánto le va a costar importar cada producto. Al no trabajar con intermediarios y tratar directamente con fabricantes podemos garantizar cotizaciones y respuestas en 2-3 días.</p>
      </div>
    </div>


    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/muestras.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Gestión de muestras</h2>
        <p class="import-sectionText">Tras la aprobación de la cotización, gestionamos muestras personalizadas o sin personalizar, y las entregamos a nuestros clientes para su valoración. Este es uno de los pasos más importantes del proceso de importación, y servirá para asegurar la calidad del producto. Enviamos muestras vía aérea por courier DHL.</p>
      </div>
    </div>


    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/gestion.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Gestión de producción</h2>
        <p class="import-sectionText">Una vez aprobada la muestra inicial, entregamos a la fábrica el pliego de especificaciones técnicas de acuerdo a las exigencias del cliente y realizamos el seguimiento de la producción. Durante el proceso de fabricación, visitamos la fábrica para seguir el proceso de producción y, una vez terminado contrastamos la calidad final.</p>
      </div>
    </div>


    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/inspeccion.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Inspección de producto y control de calidad</h2>
        <p class="import-sectionText">¿Son fiables los productos asiáticos? Sí, lo serán siempre y cuando se ejerza un estricto Control de Calidad, en cada uno de los procesos de fabricación de su producto, y se conozca el verdadero origen y calidad de las materias primas a utilizar. En el caso de China es posible ejercer este tipo de controles si usted cuenta con un verdadero respaldo, de hecho en este país se fabrica un abanico muy grande de calidades; aparatos como Iphone, Ipad, Playstation y el 90% de los ordenadores del mundo son fabricados allí. La inspección del producto y el control de calidad es sin duda la tarea más importante de todo el proceso de la importación. Nosotros realizamos por usted un control exhaustivo de la mercancía antes, durante y después de la producción para asegurarnos que reciba lo que espera recibir. Entre otros, le ofrecemos los siguientes servicios:</p>
        <ul class="import-list">
          <li>Creatividad y branding de su proyecto.</li>
          <li>Supervisión en la cadena de montaje.</li>
          <li>Control de calidad del producto final (según normas de calidad).</li>
          <li>Supervisión de carga del contenedor.</li>
          <li>Sellado de contenedores.</li>
        </ul>
      </div>
    </div>

    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/cantidades.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Pequeñas y grandes cantidades</h2>
        <p class="import-sectionText">Obviamente cuantas más unidades del producto a importar se compren, mejor coste se obtiene y menor incidencia será el transporte. Pero la ventaja principal de importar con BigBuy es qué gracias a nuestro alto volumen de compra, podemos negociar con las fábricas cantidades más pequeñas a un contenedor completo y aprovechar los fletes (transporte marítimo) agrupando el envío de la mercancía junto con nuestros productos.</p>
      </div>
    </div>


    <div class="modularGrid u-pdt">
      <div class="modularGrid-module u-xs-15 u-pdt--half ">
        <img src="../../img/import.svg" alt="" class="img img--responsive u-pd u-pdt--0">
      </div>
      <div class="modularGrid-module u-xs-80">
        <h2 class="import-sectionTitle">Transporte e importación</h2>
        <p class="import-sectionText">Hacemos envíos a cualquier parte del mundo y en función de los plazos de entrega, el coste, el volumen y el peso, en ocasiones compensa enviar la mercancía por avión, aunque obviamente por barco es más económico. Existen diferentes fórmulas de negociar la entrega, aunque la mayoría de nuestros clientes aprovechan nuestras tarifas preferentes de transporte internacional y aduanas y desean que se le entregue la mercancía en su propio almacén (una vez despachada), como si de otro proveedor nacional se tratara; a esto se le denomina Incoterm DDP y es el más utilizado porque no hay sorpresas en el precio final. Otros clientes en cambio, solicitan la mercancía Incoterm FOB (en puerto de origen, por ej. Shanghai y ellos se gestionan el transporte) o Incoterm CIF (en puerto de destino, por ej. Barcelona, por lo que ellos se encargan del despacho de aduanas y el transporte interior).</p>
      </div>
    </div>

  </div>
</div>











