<div class="modularGrid modularGrid--boxed u-pd u-tac"><!-- grid -->


 <div class="modularGrid-module u-xs-15 u-tac">
    <figure class="import-prominent">
      <img src="../../img/china.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
      <figcaption class="import-prominentText u-tac">Su oficina en China</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-15 u-tac">
    <figure class="import-prominent">
      <img src="../../img/lupa.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
      <figcaption class="import-prominentText u-tac">Investigación y búsqueda de producto</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-15 u-tac">
    <figure class="import-prominent">
      <img src="../../img/producto.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
      <figcaption class="import-prominentText u-tac">Desarrollo de nuevos productos y moldes</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-15 u-tac">
    <figure class="import-prominent">
      <img src="../../img/design2.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
      <figcaption class="import-prominentText">Branding creatividad diseño gráfico y 3D</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-15 u-tac">
    <figure class="import-prominent">
      <img src="../../img/business.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
      <figcaption class="import-prominentText u-tac">Negociación de precios y cotización</figcaption>
    </figure>
  </div>
</div>
<div class="modularGrid modularGrid--boxed u-pd u-tac"><!-- grid -->
    <div class="modularGrid-module u-xs-15 u-tac">
      <figure class="import-prominent">
        <img src="../../img/muestras.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
        <figcaption class="import-prominentText u-tac">PROBENMANAGEMENT</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-15 u-tac">
      <figure class="import-prominent">
        <img src="../../img/gestion.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
        <figcaption class="import-prominentText u-tac">PRODUKTIONSMANAGEMENT</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-15 u-tac">
      <figure class="import-prominent">
        <img src="../../img/inspeccion.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
        <figcaption class="import-prominentText u-tac">PRODUKTIONSMANAGEMENT</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-15 u-tac">
      <figure class="import-prominent">
        <img src="../../img/cantidades.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
        <figcaption class="import-prominentText">Pequeñas y grandes cantidades</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-15 u-tac">
      <figure class="import-prominent">
        <img src="../../img/import.svg" alt="" class="import-prominentImg img img--responsive u-pd u-pdb--none">
        <figcaption class="import-prominentText u-tac">Transporte e importación</figcaption>
      </figure>
    </div>
  </div>

{{!-- <div class="modularGrid modularGrid--boxed u-pd"><!-- grid -->
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/china.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Su oficina en China</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/lupa.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Investigación y búsqueda de producto</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/producto.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Desarrollo de nuevos productos y moldes</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/design2.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText">Branding creatividad diseño gráfico y 3D</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/business.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Negociación de precios y cotización</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/muestras.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Gestión de muestras</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/gestion.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Gestión de producción</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/inspeccion.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Inspección de producto y control de calidad</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/cantidades.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText">Pequeñas y grandes cantidades</figcaption>
    </figure>
  </div>
  <div class="modularGrid-module u-xs-10 u-tac">
    <figure class="import-prominent">
      <img src="../../img/import.svg" alt="" class="import-prominentImg img img--responsive u-mgb--half">
      <figcaption class="import-prominentText u-tac">Transporte e importación</figcaption>
    </figure>
  </div>
</div> --}}


