
<!-- SECTION ////////////////////////////////////////////////-->

<section class="homefeatured-infocont">

  <nav class="homefeatured homefeatured--bottomInfo">
   <a href="#" class="homefeatured-item">
    {{!--  {{>svgIcon type='cogs'  class='homefeatured-icon'}} --}}
     <p class="homefeatured-text">Servicios BigBuy</p>
     <p class="button button--info">+ info</p>
   </a>
    <a href="#" class="homefeatured-item">
     {{!-- {{>svgIcon type='distribuidores'  class='homefeatured-icon'}} --}}
     <p class="homefeatured-text">Ser distribuidor BigBuy</p>
     <p class="button button--info">+ info</p>
   </a>
    <a href="#" class="homefeatured-item">
     {{!-- {{>svgIcon type='box' class='homefeatured-icon'}} --}}
     <p class="homefeatured-text">Sincroniza con BigBuy</p>
     <p class="button button--info">+ info</p>
   </a>
   <a href="#" class="homefeatured-item">
     {{!-- {{>svgIcon type='box' class='homefeatured-icon'}} --}}
     <p class="homefeatured-text">Packs Mayoristas</p>
     <p class="button button--info">+ info</p>
   </a>
   <a href="#" class="homefeatured-item">
    {{!--  {{>svgIcon type='contact_black' class='homefeatured-icon'}} --}}
     <p class="homefeatured-text">Contacta con nosotros</p>
     <p class="button button--info">+ info</p>
     </a>
 </nav>
</section>

