<div id="bg-shadow" class="mobileNav-background"></div>
<nav class="mobileNav">
    <section class="mobileNav-section mobileNav-section--left">

        <nav class="mobileMenu" data-js="menu-wrapper">
            <div class="mobileMenu-container" data-js="menu-scroller">
                <ul class="mobileMenu-content" data-js="gn-menu">
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 1<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 2<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 3<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 4<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 5<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 6<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 7<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 8<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 9<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 10<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 11<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 12<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 13<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 14<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 15<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 16<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 17<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 18<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 19<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 20<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 21<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 22<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 23<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 24<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 25<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 26<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 27<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 28<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 29<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 30<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 31<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 32<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 33<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 34<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 35<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 36<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 37<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 38<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 39<br> Anunciado en TV</a></li>
                    <li class="mobileMenu-item"><a href="#" class="mobileMenu-link" title="Teletienda / Anunciado en TV"> Link 40 último<br> Anunciado en TV</a></li>
                </ul>
            </div><!-- /gn-scroller -->
        </nav>

    </section> 
    <div class="mobileNav-toolbar">
    <a class="mobileNav-link icon" data-js="mobileMenu-btn">&#xf0c9;</a>   
    <figure class="mobileNav-logo" >
        <img class="mobileNav-logo-img" src="../img/logo-bigbuy.svg" alt="">
    </figure>
    <button class="mobileNav-flag"></button> 
    <select class="form-select mobileNav-select">
        
        <option value="">Español</option>
        <option value="">English</option>
        <option value="">Français</option>
        <option value="">Italiano</option>
        <option value="">Deutch</option>
    </select>

    <a class="mobileNav-buttoncart icon" data-js="mobileCart-btn"></a>
</div>
</nav>