<div id="stepspanel1" class="tabs-contentPanel u-brdt--none   tabs-contentPanel--selected">
    <form class="form">
        <div class="modularGrid">
            <div class="modularGrid-module u-lg-50 ">
            <fieldset class="form-fieldset form-fieldset--sequential form-fieldset--compressed">
                    <h3 class="form-fieldset-title">¿Cuál es su canal/es de venta?</h3>
                    <div data-js-fieldset-gadgets="sector" class="modularGrid">
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_3" data-js-gadget="sector" name="sector" id="sector_3" class="form-checkbox">
                            <label title="Venta al mayor / Distribución" for="sector_3" class="form-label form-label--inline">Venta al mayor / Distribución</label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_4" data-js-gadget="sector" name="sector" id="sector_4" class="form-checkbox">
                            <label title="Tienda física / Comercio" for="sector_4" class="form-label form-label--inline">Tienda física / Comercio</label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_5" data-js-gadget="sector" name="sector" id="sector_5" class="form-checkbox">
                            <label title="E-MarketPlace  (Ebay, Amazon, etc.)" for="sector_5" class="form-label form-label--inline">E-MarketPlace  (Ebay, Amazon, etc.)</label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_6" data-js-gadget="sector" name="sector" id="sector_6" class="form-checkbox">
                            <label title="Tienda Online / e-Commerce " for="sector_6" class="form-label form-label--inline">Tienda Online / e-Commerce </label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_7" data-js-gadget="sector" name="sector" id="sector_7" class="form-checkbox">
                            <label title="Venta Flash / Web compra colectiva" for="sector_7" class="form-label form-label--inline">Venta Flash / Web compra colectiva</label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_8" data-js-gadget="sector" name="sector" id="sector_8" class="form-checkbox">
                            <label title="Regalo Promocional" for="sector_8" class="form-label form-label--inline">Regalo Promocional</label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_9" data-js-gadget="sector" name="sector" id="sector_9" class="form-checkbox">
                            <label title="Venta directa" for="sector_9" class="form-label form-label--inline">Venta directa</label>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" data-js-otros="" value="1_10" data-js-gadget="sector" name="sector" id="sector_10" class="form-checkbox">
                            <label title="Otros   (Indicar cuáles)" for="sector_10" class="form-label form-label--inline">Otros   (Indicar cuáles)</label>
                                                            <div style="display: none" data-js-gadget-otros="sector" class="modularGrid-module u-md-80">
                                    <input type="text" class="form-input u-mgt--half ">
                                </div>
                                                    </div>
                                                <div class="modularGrid-module u-md-50">
                            <input type="checkbox" value="1_11" data-js-gadget="sector" name="sector" id="sector_11" class="form-checkbox">
                            <label title="Ninguno" for="sector_11" class="form-label form-label--inline">Ninguno</label>
                                                    </div>
                                            </div>
                </fieldset>
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title">Datos de usuario</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50 ">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-input">
                        </div>
                    </div>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50">
                            <label class="form-label" for="pass">Contraseña</label>
                            <input type="password" class="form-input" id="pass">
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <label class="form-label" for="confirmpass">Confirme contraseña</label>
                            <input type="password" class="form-input" id="confirmpass">
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title">Información fiscal</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-25">
                            <input type="radio" value="particular" id="particular" name="client_type" class="form-radio form-input--inline">
                            <label class="form-label form-label--inline" for="particular">Soy Particular</label>
                        </div>
                        <div class="modularGrid-module u-md-25">
                            <input type="radio" value="autonomo" id="autonomo" name="client_type" class="form-radio form-input--inline">
                            <label class="form-label form-label--inline" for="autonomo">Soy Autónomo</label>
                        </div>
                        <div class="modularGrid-module u-md-25 u-mgb--half">
                            <input type="radio" value="empresa" id="empresa" name="client_type" class="form-radio form-input--inline">
                            <label class="form-label form-label--inline" for="empresa">Soy Empresa</label>
                        </div>
                    </div>
                    <section data-js="" >
                        <div class="modularGrid">
                            <div class="modularGrid-module u-md-50 ">
                                <label class="form-label" for="razon_social">Razón Social <i class="icon fa-info-circle"></i></label>
                                <input type="text" class="form-input" id="razon_social">
                            </div>
                            <div class="modularGrid-module u-md-50 u-pdl">
                                <label class="form-label" for="nombre_comercial">Nombre comercial<em class="form-label--optional">/ Opcional</em></label>
                                <input type="text" class="form-input" id="nombre_comercial">
                            </div>
                        </div>
                        <div class="modularGrid">
                            <div class="modularGrid-module u-md-50 ">
                                <label class="form-label" for="country">País</label>
                                <select id="country" name="" class="form-select">
                                    <option value="">España</option>
                                    <option value="">Francia</option>
                                </select>
                            </div>
                            <div class="modularGrid-module u-md-50 u-pdl">
                                <label class="form-label" for="">Nº identificación fiscal</label>
                                <span class="form-prefix">GB</span>
                                <input type="text" placeholder="DNI / CIF / VAT Number" class="form-input  form-input--prefix">
                            </div>
                        </div>
                    </section>
                </fieldset>
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50 ">
                            <label class="form-label" for="">Código postal</label>
                            <input type="text" class="form-input">
                        </div>
                    </div>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50 ">
                            <label class="form-label" for="prov">Provincia</label>
                            <select id="prov" name="" class="form-select">
                                <option value="">Álava</option>
                                <option value="">Almería</option>
                            </select>
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <label class="form-label" for="">Población</label>
                            <input type="text" class="form-input ">
                        </div>
                        <div class="modularGrid-module">
                            <label class="form-label" for="">Dirección</label>
                            <input type="text" class="form-input ">
                        </div>
                        <div class="modularGrid-module u-md-50">
                            <label class="form-label" for="">Teléfono de empresa</label>
                            <span class="form-prefix">+34</span>
                            <input type="text" class="form-input form-input--prefix">
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <label class="form-label" for="website">Página web<em class="form-label--optional">/ Opcional</em></label>
                            <span class="form-prefix">http://</span>
                            <input type="text" class="form-input form-input--prefix" id="website">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modularGrid-module u-lg-50 u-brdl">
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title">Persona de contacto</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50 ">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-input ">
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <label class="form-label">Apellidos</label>
                            <input type="text" class="form-input ">
                        </div>
                        <div class="modularGrid-module u-md-50">
                            <label class="form-label" for="">Teléfono 1</label>
                            <span class="form-prefix">+34</span>
                            <input type="text" class="form-input form-input--prefix">
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <label class="form-label" for="">Teléfono 2</label>
                            <span class="form-prefix">+34</span>
                            <input type="text" class="form-input form-input--prefix">
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title u-mgt--half">¿En qué sector se siente identificado?</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50">
                            <div class="form-radiogroup">
                                <input type="checkbox" class="form-checkbox" id="gadgets">
                                <label class="form-label form-label--inline" for="gadgets" title="Regalo/Gadgets">Regalo/Gadgets</label>
                                <input type="checkbox" class="form-checkbox" id="parfums">
                                <label class="form-label form-label--inline" for="parfums" title="Perfumería/Cosmética/Higiene Personal">Perfumería/Cosmética/Higiene Personal</label>
                                <input type="checkbox" class="form-checkbox" id="others">
                                <label class="form-label form-label--inline" for="others" title="Otros, indique cuáles">Otros, indique cuáles</label>
                            </div>
                            <div class="modularGrid">
                                <div class="modularGrid-module u-md-65">
                                    <input type="text" class="form-input u-mgt--half ">
                                </div>
                                <div class="modularGrid-module u-md-35">
                                    <a href="#" class="form-link u-mgl--half">Enlace de ayuda</a>
                                </div>
                            </div>
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <div class="form-radiogroup">
                                <input type="checkbox" class="form-checkbox" id="gadgets01">
                                <label class="form-label form-label--inline" for="gadgets01" title="Regalo/Gadgets">Regalo/Gadgets</label>
                                <input type="checkbox" class="form-checkbox" id="gadgets02">
                                <label class="form-label form-label--inline" for="gadgets02" title="Regalo/Gadgets">Regalo/Gadgets</label>
                                <input type="checkbox" class="form-checkbox" id="gadgets03">
                                <label class="form-label form-label--inline" for="gadgets03" title="Regalo/Gadgets">Regalo/Gadgets</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title">¿Es usted vendedor habitual de nuestros artículos?</h3>
                    <div class="form-radiogroup">
                        <input type="radio" value="seller_ok" id="seller_ok" name="seller" class="form-radio">
                        <label class="form-label form-label--inline" for="seller_ok" title="Sí he comprado a otros proveedores">Sí he comprado a otros proveedores</label>
                        <input type="radio" value="seller_ko" id="seller_ko" name="seller" class="form-radio">
                        <label class="form-label form-label--inline" for="self_employed" title="No, es la primera vez">No, es la primera vez</label>
                    </div>
                </fieldset>
                <fieldset class="form-fieldset form-fieldset--sequential">
                    <h3 class="form-fieldset-title">¿Cuales son sus canales de venta?</h3>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-50">
                            <div class="form-radiogroup">
                                <input type="checkbox" class="form-checkbox" id="gadgets1">
                                <label class="form-label form-label--inline" for="gadgets1" title="Regalo/Gadgets">Regalo/Gadgets</label>
                                <input type="checkbox" class="form-checkbox" id="parfums1">
                                <label class="form-label form-label--inline" for="parfums1" title="Perfumería/Cosmética/Higiene Personal">Perfumería/Cosmética/Higiene Personal</label>
                                <input type="checkbox" class="form-checkbox" id="others1">
                                <label class="form-label form-label--inline" for="others1" title="Otros, indique cuáles">Otros, indique cuáles</label>
                            </div>
                            <div class="modularGrid">
                                <div class="modularGrid-module u-md-65">
                                    <input type="text" class="form-input u-mgt--half ">
                                </div>
                                <div class="modularGrid-module u-md-35">
                                    <a href="#" class="form-link u-mgl--half">Enlace de ayuda</a>
                                </div>
                            </div>
                        </div>
                        <div class="modularGrid-module u-md-50 u-pdl">
                            <div class="form-radiogroup">
                                <input type="checkbox" class="form-checkbox" id="gadgets001">
                                <label class="form-label form-label--inline" for="gadgets001" title="Regalo/Gadgets">Regalo/Gadgets</label>
                                <input type="checkbox" class="form-checkbox" id="gadgets002">
                                <label class="form-label form-label--inline" for="gadgets002" title="Regalo/Gadgets">Regalo/Gadgets</label>
                                <input type="checkbox" class="form-checkbox" id="gadgets003">
                                <label class="form-label form-label--inline" for="gadgets003" title="Regalo/Gadgets">Regalo/Gadgets</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-fieldset form-fieldset--sequential">
                    <div class="form-captcha">
                        <div class="modularGrid">
                           <div class="modularGrid-module u-md-40">
                            <img alt="" class="form-captcha-image " id="img_captcha" src="http://192.168.1.211/bigbuy_e/tools/captcha/captcha.php?ancho=175&amp;alto=65&amp;nocache=">
                            <a class="form-captcha-reload" onclick="$(this).parent().find('img:first').prop('src','http://192.168.1.211/bigbuy_e/tools/captcha/captcha.php?ancho=175&amp;alto=65&amp;nocache='+Math.random());" href="javascript:void(0);">
                                <i class="icon form-info-icon fa-refresh"> </i> Recargar imagen</a>
                            </div>
                            <div class="modularGrid-module u-sm-60 u-pdl--half">
                                <label class="form-label">¿Qué pone en la imagen?</label>
                                <input type="text" tabindex="6" data-js-validate="{'empty':'required'}" data-js-captcha="" class="form-input" name="captcha" data-js-forget_passwd_content="captcha">
                                <em data-js-tooltip="tooltip_captcha" class="form-info"> <b class="icon fa-info-circle"></b> ¿Para qué sirve este código?</em>
                            </div>
                        </div>
                    </div>
                    <div class="modularGrid">
                        <div class="modularGrid-module u-md-30 u-pdt--half">

                            <button class="button button--primary button--full" data-js-steps="button1">Continuar</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>
