<div id="stepspanel2" class="tabs-contentPanel u-brdt--none ">

    <div class="modularGrid">
       <section class="cmsContent box u-pdt">
        <div class="modularGrid-module">
            <h2 class="cmsContentSection-subtitle  u-pdl u-pdb u-block">Si quiere disfrutar de servicios adicionales y descuestos extra, le informamos de los packs mayoristas a su disposición.</h2>
        </div>

        {{>contentSectionTabs }}
        <div class="tabs-contentPanel" data-js-tab="panel" data-js-tab_idpanel="1" id="tabpanel1">
            {{>packsTabContent01 }}
        </div>
        <div class="tabs-contentPanel tabs-contentPanel--selected" data-js-tab="panel" data-js-tab_idpanel="2"  id="tabpanel2">
            {{>packsTabContent02 }}
        </div>
        <div class="tabs-contentPanel" data-js-tab="panel" data-js-tab_idpanel="3"  id="tabpanel3">
            {{>packsTabContent03 }}
        </div>
        <div class="tabs-contentPanel" data-js-tab="panel" data-js-tab_idpanel="4"  id="tabpanel4">
            {{>packsTabContent04 }}
        </div>
        <div class="tabs-contentPanel" data-js-tab="panel" data-js-tab_idpanel="5"  id="tabpanel5">
            {{>packsTabContent05 }}
        </div>
        <div class="tabs-contentPanel" data-js-tab="panel" data-js-tab_idpanel="6"  id="tabpanel6">
            {{>packsTabContent06 }}
        </div>
        <div class="modularGrid-module u-pd u-txr">
           <label class="form-label form-label--inline" >  No me interesa ningún pack</label>
       <button data-js-steps="button2" class="button button--big">Continuar</button>

       </div>


    </section>
</div>

</div>

