<div id="stepspanel3" class="tabs-contentPanel u-brdt--none">
    <section class="cmsContent box ">
        <div class="modularGrid">
            <div class="modularGrid-module u-md-50  u-pd ">
                <h2 class="cmsContentSection-subtitle u-pdb--half">Resumen de su cuenta.</h2>
                <div class="modularGrid">
                    <div class="modularGrid-module">
                        <strong>Información de facturación</strong>
                    </div>
                    <div class="modularGrid-module u-md-60">
                        E85956209, Pruebas, pruebas varias Avd Juan Ramon Jimenez, 46960 Valencia VALENCIA / VALÉNCIA España
                    </div>
                </div>
            </div>
            <div class="modularGrid-module u-md-50 u-brdl u-pd">
                <h2 class="cmsContentSection-subtitle u-pdb--half">Seleccione el método de pago</h2>
                <div class="modularGrid">
                    <div class="modularGrid-module">
                        <strong>Lorem Ipsum</strong>
                    </div>
                    <div class="modularGrid-module u-md-90">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="modularGrid-module u-mgt">
                        <fieldset class="form-fieldset form-fieldset--inside u-pd  u-mgb">
                            <div class="modularGrid">
                                <div class="modularGrid-module u-md-50">
                                    <svg role="img" class="icon  icon--lg  icon--pro u-mgr--half u-fll"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
                                    <h2 class="cmsContentSection-subtitle">Pack pro</h2>
                                    <span>Semestral (1 mes gratis)</span>
                                </div>
                                <div class="modularGrid-module u-md-50">
                                    <table class="table table--condensed">
                                        <tbody>
                                            <tr class="table-tr">
                                                <td class="table-item"><strong>Subtotal</strong></td>
                                                <td class="table-item table-item--number"><strong>75€</strong></td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item"><strong>IVA</strong></td>
                                                <td class="table-item table-item--number"><strong>8,5€</strong></td>
                                            </tr>
                                            <tr class="table-tr">
                                                <td class="table-item cmsContent-total"><strong>Total</strong></td>
                                                <td class="table-item table-item--number cmsContent-total"><strong>75€</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                  <div class="modularGrid-module u-md-50">
                                <input type="checkbox" id="terms" class="form-checkbox">
                                <label  for="terms" class="form-label form-label--inline">He leído y acepto los términos y condiciones</label>
                      </div>
                        <div class="modularGrid-module u-md-50 u-txr">
                            <button class="button button--big button--primary">Finalizar</button>
                             </div>
                </div>
            </div>
        </div>
    </section>
</div>

