<section class="ventaCMS-section ventaCMS-section--small">
  <div class="modularGrid u-xs-75 u-pdt u-elem-center">
    <div class="modularGrid-module u-xs-50 ">
      <h2 class="cmsContentSection-subtitle u-pdt">SOBRE NOSOTROS</h2>
      <p class="ventaCMS-sectionText u-mgt">BigBuy nace con la experiencia de un grupo de empresas de capital español para posicionarse como el primer e-marketplace B2B de Europa en el sector del regalo original.</p>
      <p class="ventaCMS-sectionText u-pdt">Somos importadores y mayoristas, disponemos de una amplia gama de artículos novedosos e inventos originales de teletienda, broma, gadgets, electrónica, pequeño electrodoméstico, cocina, hogar, salud, belleza, etc. Negociamos directamente con fabricantes para conseguir los mejores costes y reducir al máximo los gastos de intermediarios.</p>
      <p class="ventaCMS-sectionText u-pdt">En estos momentos somos reconocidos como uno de los más prestigiosos mayoristas por un gran número de fabricantes y multinacionales del sector, que ya han depositado en Bigbuy toda su confianza.</p>
      <p class="ventaCMS-sectionText u-pdt">BigBuy destaca por ser una empresa joven y emprendedora, gracias a una plantilla profesional altamente cualificada y unas instalaciones logísticas de última generación en la ciudad de Valencia (España), que hacen que BigBuy sea el principal proveedor para miles de clientes, principalmente en Europa.</p>
    </div>
    <div class="modularGrid-module u-xs-40 u-pd u-mg u-flr">
      <img alt="" src="../../img/logo-bigbuy.svg" class="img--responsive">

       <div class="modularGrid-module u-mgt ventaCMS-subsection--inverse">
       <h4 class="cmsContentSection-subtitle">Contacto</h4>
      <div class="modularGrid">
          <div class="modularGrid-module">
             <img src="../../img/comercial_mail2.svg">
          </div>
           <div class="modularGrid-module">
               <img src="../../img/comercial_phone2.svg">
          </div>
      </div>
      </div>





    </div>

  </div>
</section>








