
<section class="ventaCMS-section ">
  <div class="modularGrid u-xs-75 u-elem-center ">
    <div class="modularGrid-module">
      <h4 class="cmsContentSection-subtitle ">Departamentos:</h4>
    </div>
    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/person-support.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Atención al cliente y posventa</figcaption>
      </figure>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/graph.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Comercial y ventas</figcaption>
      </figure>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/europa.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Exportación</figcaption>
      </figure>
    </div><!-- mod -->

  </div><!-- GRID -->

  <div class="modularGrid u-xs-75 u-elem-center">

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/forklift.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Logística</figcaption>
      </figure>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/calculator.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Administración y contable</figcaption>
      </figure>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/businessman.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Compras e importación</figcaption>
      </figure>
    </div><!-- mod -->

  </div><!-- GRID -->

  <div class="modularGrid u-xs-75 u-elem-center">

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/translate.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Contenidos y traducción</figcaption>
      </figure>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/laptop.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Programación</figcaption>
      </figure>
    </div><!-- mod -->

    <div class="modularGrid-module u-xs-3rd">
      <figure class="ventaCMS-prominent u-pd--0 u-pdt--2 u-mgt">
        <img class="u-elem-center img img--responsive u-xs-50 u-mg-0" alt="" src="../../img/design.svg">
        <figcaption class="ventaCMS-prominentText  u-elem-center u-tac">Diseño</figcaption>
      </figure>
    </div><!-- mod -->

  </div><!-- GRID -->

</section>

