
<!-- SECTION ////////////////////////////////////////////////-->
<section class="ventaCMS-section ">

 <div class="modularGrid u-xs-75 u-elem-center ">

  <div class="modularGrid-module">

  </div><!-- mod -->

  <div class="modularGrid-module ">
    <img src="../../img/warehouse.png" class="img--responsive ">
    <div class="ventaCMS-posBox--posAbs u-xs-25 ">
      {{!--     <h2 class="ventaCMS-subtitle u-pdb">INSTALACIONES</h2> --}}   
      <ul class="ventaCMS-bigListInverse">
        <li>Picking multireferencia</li>
        <li>Almacén logístico de +5.000 m2</li>
        <li>Almacén 100% informatizado</li>
        <li>Software ERP con gestión de almacén</li>
      </ul> 
    {{!-- <p class="ventaCMS-prominentText ventaCMS-prominentText--inverse">Picking multireferencia</p>
    <p class="ventaCMS-prominentText ventaCMS-prominentText--inverse">Almacén logístico de + 5.000 m2</p>
    <p class="ventaCMS-prominentText ventaCMS-prominentText--inverse">Almacén 100% informatizado</p>
    <p class="ventaCMS-prominentText ventaCMS-prominentText--inverse">Software ERP con gestión de almacén</p> --}}
  </div>
</div><!-- mod -->

</div><!-- GRID -->

</section>