<article class="cmsContentSection u-mgt ">
  <div class="modularGrid">
    <div class="modularGrid-module cmsContentSection--decrease u-md-40 u-pdr">
      <h2 class="cmsContentSection-subtitle"><!--#@-->¿A quién le interesa?<!--#@--></h2>
      <p class="u-pdr"><!--#@-->A clientes que busquen una solución llave en mano y quieran adquirir en apenas 3 días una <a class="tooltip-link" title="Tienda Online Sincronizada a BigBuy" href="tiendaDropshippingCMS.html"><!--#@-->Tienda Online Sincronizada a BigBuy<!--#@--></a>. Son clientes que necesitan comprar unidades sueltas a precio mayorista <!--#@--> {{>pvdLink}}<!--#@--> y el <!--#@-->{{>dropshippingLink}}<!--#@-->.</p>

       <h2 class="cmsContentSection-subtitle"><!--#@-->Pack Pro<!--#@--></h2>
                <p class="u-pdr"><!--#@-->Para clientes que quieran hacer <!--#@--> {{>tooltipDropshippingLauncher}}<!--#@--> ilimitados y necesiten <!--#@-->{{>csvXmlLink}} <!--#@--> en un idioma concreto para sincronizar con el catálogo de BigBuy.</p>

                <h2 class="cmsContentSection-subtitle"><!--#@-->Pack Business<!--#@--></h2>
                <p class="u-pdr"><!--#@-->Para clientes que quieran los <!--#@-->{{>csvXmlLink}} <!--#@--> en 23 idiomas diferentes.</p>

                <h2 class="cmsContentSection-subtitle"><!--#@-->Pack Premium<!--#@--></h2>
                <p class="u-pdr"><!--#@-->Para clientes que valoran su tiempo y quieran evitar pasar pedidos a mano a BigBuy. La sincronización automática de pedidos proporciona rapidez y comodidad.</p>


  </div>
  <div class="modularGrid-module u-md-60">
                  <div class="modularGrid">
                    <div class="modularGrid-module cmsContentSection--decrease u-mgb--half">
                      <h2 class="cmsContentSection-subtitle"><!--#@--> Packs recomendados para tienda sincronizada<!--#@--> </h2>
                  </div>
                  <div class="modularGrid-module u-md-3rd">
                      {{>pricePanel2}}
                  </div>
                  <div class="modularGrid-module u-md-3rd">
                      {{>pricePanel3}}
                  </div>
                  <div class="modularGrid-module u-md-3rd">
                      {{>pricePanel4}}
                  </div>

              </div>
          </div>
</div>
</article>

