<article class="cmsContentSection cmsContentSection--decrease">
  
      <h2 class="cmsContentSection-subtitle">¿A quién le interesa?</h2>
      <p class="u-pdr u-pdb--min">A comercios, tiendas, distribuidores, empresas de regalo promocional, venta directa, ambulantes, etc. y que necesitan comprar tanto grandes cantidades como también unidades sueltas a precio mayorista {{>pvdLink}}.</p>
        <h2 class="cmsContentSection-subtitle">Pack Basic</h2>
        <p class="u-pdr u-pdb--min">Con este Pack no necesita adquirir grandes cantidades de un artículo porque se pueden comprar unidades sueltas a precio mayorista {{>pvdLink}}  e incluso obtener descuentos adicionales. Es perfecto para clientes que se envían todos los pedidos a su almacén, aunque se permiten 3  {{>tooltipDropshippingLauncher}} al mes.</p>
          <h2 class="cmsContentSection-subtitle">Pack Pro</h2>

 <p class="u-pdr u-pdb--min">Para clientes que quieran hacer  {{>tooltipDropshippingLauncher}}  ilimitados y necesiten 
 {{>csvXmlLink}}  en un idioma concreto para sincronizar con el catálogo de BigBuy.</p>




          <h2 class="cmsContentSection-subtitle">Pack Business</h2>




<p class="u-pdr u-pdb--min">Para clientes que quieran los  {{>csvXmlLink}}  en 23 idiomas diferentes.</p>


       
      
          <div class="modularGrid u-mgv">
            <div class="modularGrid-module u-mgv--half">
              <h2 class="cmsContentSection-subtitle"> Packs recomendados para venta al mayor - B2B </h2>
              </div>
            <div class="modularGrid-module u-md-3rd">
              {{>pricePanel1 }}
            </div>
            <div class="modularGrid-module u-md-3rd">
              {{>pricePanel2 class='u-brdl'}}
            </div>
            <div class="modularGrid-module u-md-3rd">
              {{>pricePanel3 class='u-brdl'}}
            </div>
          </div>
       
    
    </article>






