<article class="cmsContentSection cmsContentSection--decrease">
      <h2 class="cmsContentSection-subtitle">¿A quién le interesa?</h2>
      <p class="u-pdr u-pdb--min">A clientes que necesitan comprar al por mayor de forma esporádica cierta cantidad de uno o varios artículos. Regalos para eventos, regalos para fiestas, regalos boda, regalos comunión, regalos bautizo, etc.</p>
      <h2 class="cmsContentSection-subtitle">Sin Pack</h2>
      <p class="u-pdr u-pdb--min">Para clientes que necesitan hacer una compra puntual de cierta cantidad no necesita pack mayorista, los clientes sin Pack disponen de un escalado de descuentos por volumen (respecto al
        {{>pvrLink}}
        ), en función de la cantidad que compre de cada artículo.</p>
        <h2 class="cmsContentSection-subtitle">Pack Basic</h2>
        <p class="u-pdr u-pdb--min">Con este Pack no necesita adquirir grandes cantidades de un artículo porque se pueden comprar unidades sueltas a precio mayorista  {{>pvdLink}} e incluso obtener descuentos adicionales.
     

        
          <div class="modularGrid u-mgt">
            <div class="modularGrid-module  u-mgb--half">
              <h2 class="cmsContentSection-subtitle">Packs recomendados para compra esporádica</h2>
              </div>
            <div class="modularGrid-module u-md-3rd">
              {{>pricePanel0}}
            </div>
            <div class="modularGrid-module u-md-3rd">
              {{>pricePanel1 class='u-brdl'}}
            </div>
          </div>
          
    </article>









