<ul class="pricePanel-itemList{{#if modifier}} pricePanel-itemList--{{modifier}} pricePanel-itemList--basic{{/if}}">
       <!-- {{#if modifier}} <li class="pricePanel-item">Sin cuota mensual</li>{{/if}}-->
        <li class="pricePanel-item"><!--#@-->Unidades sueltas a precio mayorista <!--#@-->{{>pvdLink}}<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Descuento automático 6% del PVD<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Hasta 3 envíos Dropshipping al mes<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Bloqueo de Stocks por 7 días<!--#@--></li>
</ul>



