<div class="modularGrid-module  u-sm-50 u-md-25  u-lg-20 ">
	<article class="partial-productCard">
		<img alt="" src="http://londonred.dropshippershop.com/16321-large_default/picadora-rapida.jpg" class="productCard-img">
		<div class="productCard-properties">
			<div class="productCard-title">
				Secador de Uñas de Viaje
			</div>
			<div class="productCard-pvp">
				1 €
			</div>
			<div class="productCard-pvp">
				5,68 €
			</div>
			<div class="productCard-pvp productCard-pvp--now">
				4,32 €
			</div>

		</div>
	</article>
</div>