<table data-js-accordion_selected_class="table-tr--selected" data-js-accordion="accordion" class="table table--comparative u-mgb2">

     <tbody class="table-tbody table-tbody--accordion">

      <tr class="table-tr" data-js-accordion="link">
       <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

        ¿Permite BigBuy realizar ventas con envío dropshipping y cobrar contrarrembolso?</td>

       </tr>
       <tr class="table-tr table-tr--content">
        <td class="table-item">
         <section data-js-accordion="panel" class="table-accordionContent">
          <div class="modularGrid">

           <div class="modularGrid-module modularGrid-module--legible">
            <p>Sí. Esta opción la denominamos rembolso dropshipping y, por el momento, solo está disponible para clientes con un Pack Mayorista Dropship o Enterprise activo cuyas entregas se realicen en la España peninsular,  las Baleares y Portugal. La comisión es muy baja, del 2 %, con un mínimo de 0,90 €. Este coste se incluye en cada pedido y factura.</p>
           </div>
          </div>
         </section>
        </td>
       </tr>

       <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

         ¿Qué es el rembolso dropshipping?</td>

        </tr>
        <tr class="table-tr table-tr--content">
         <td class="table-item">
          <section data-js-accordion="panel" class="table-accordionContent">
           <div class="modularGrid">

            <div class="modularGrid-module modularGrid-module--legible">
             <p>Cuando realice un envío dropshipping tendrá la posibilidad de enviar la mercancía a su cliente final y que el transportista le cobre un rembolso por el importe que usted indique. Este proceso lo denominamos rembolso dropshipping. Por el momento, BigBuy solo ofrece este servicio en España.</p>
            </div>
           </div>
          </section>
         </td>
        </tr>
        <tr class="table-tr" data-js-accordion="link">
         <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

          ¿Es seguro para el vendedor realizar envíos con rembolso dropshipping como forma de pago?</td>

         </tr>
         <tr class="table-tr table-tr--content">
          <td class="table-item">
           <section data-js-accordion="panel" class="table-accordionContent">
            <div class="modularGrid">

             <div class="modularGrid-module modularGrid-module--legible">
              <p>Muy seguro. Nuestras estadísticas indican que el 98 % de las entregas contrarrembolso se hacen efectivas, por lo que compensa de sobra pagar unos pequeños gastos de envío en el caso de que no se pueda realizar la entrega.</p>
             </div>
            </div>
           </section>
          </td>
         </tr>


         <tr class="table-tr" data-js-accordion="link">
          <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

           ¿Cómo se tramita un pedido con rembolso dropshipping?</td>

          </tr>
          <tr class="table-tr table-tr--content">
           <td class="table-item">
            <section data-js-accordion="panel" class="table-accordionContent">
             <div class="modularGrid">

              <div class="modularGrid-module modularGrid-module--legible">
                  <p>1. Agregue al carrito los artículos y la cantidad que ha vendido a su cliente.</p>
                  <p>2. En el segundo paso se le pedirá la dirección de envío. Indique aquí los datos de su cliente.</p>
                  <p>3. En el siguiente paso podrá seleccionar la opción Envío dropshipping: Marque Sí. Luego se le preguntará: ¿quiere que cobremos rembolso? Seleccione de nuevo Sí e indique el importe del contrarrembolso que la mensajería cobrará al cliente.</p>
                  <p>4. Por último, finalice y abone el pedido.</p>
                  <p clas="u-mgb--half">Pasados unos 5-10 días desde la entrega, el rembolso se reintegrará en su monedero de forma automática para que pueda emplearlo en futuras compras o transferirlo a su cuenta.</p>
                  <p>Un ejemplo: usted vende a su cliente un pedido por un importe total de 30€ y realiza a BigBuy el pedido de compra por 20€ (que equivaldrá aproximadamente a su coste). Nosotros entregaremos el pedido a su cliente y le cobraremos un rembolso de 30 € que, en cuanto recibamos de la mensajería, reintegraremos en su monedero.</p>
              </div>
             </div>
            </section>
           </td>
          </tr>

          <tr class="table-tr" data-js-accordion="link">
           <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

            ¿Cuáles son las formas de pago con envío dropshipping?</td>

           </tr>
           <tr class="table-tr table-tr--content">
            <td class="table-item">
             <section data-js-accordion="panel" class="table-accordionContent">
              <div class="modularGrid">

               <div class="modularGrid-module modularGrid-module--legible">
                <p>Para abonar el pedido con envío dropshipping solo admitimos formas de pago automáticas como monedero, PayPal y tarjeta. De esta forma garantizamos la máxima rapidez en el envío. En los pedidos superiores a 120 € también aceptamos el pago por transferencia.</p>

               </div>
              </div>
             </section>
            </td>
           </tr>

           <tr class="table-tr" data-js-accordion="link">
            <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

             ¿Qué es el monedero?</td>

            </tr>
            <tr class="table-tr table-tr--content">
             <td class="table-item">
              <section data-js-accordion="panel" class="table-accordionContent">
               <div class="modularGrid">

                <div class="modularGrid-module modularGrid-module--legible">
                 <p>El monedero es un saldo que puede recargar por transferencia o, también, mediante los cobros de los rembolsos dropshipping. Comprar con la forma de pago monedero no conlleva gastos adicionales.</p>

                </div>
               </div>
              </section>
             </td>
            </tr>

            <tr class="table-tr" data-js-accordion="link">
             <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

              ¿Cómo recargar mi monedero?</td>

             </tr>
             <tr class="table-tr table-tr--content">
              <td class="table-item">
               <section data-js-accordion="panel" class="table-accordionContent">
                <div class="modularGrid">

                 <div class="modularGrid-module modularGrid-module--legible">
                  <p>Opción 1: mediante una transferencia a nuestra cuenta bancaria. En la solapa Monedero de su panel de control le indicamos cómo realizarla.</p>
                  <p>Opción 2: al realizar envíos dropshipping con contrarrembolso como forma de pago, esto es, rembolso dropshipping. El importe del rembolso se reintegra automáticamente en su monedero.</p>
                 </div>
                </div>
               </section>
              </td>
             </tr>

             <tr class="table-tr" data-js-accordion="link">
              <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

               ¿Cuándo puedo retirar saldo del monedero?</td>

              </tr>
              <tr class="table-tr table-tr--content">
               <td class="table-item">
                <section data-js-accordion="panel" class="table-accordionContent">
                 <div class="modularGrid">

                  <div class="modularGrid-module modularGrid-module--legible">
                   <p>La cantidad mínima para traspasar saldo del monedero a su cuenta bancaria o cuenta de PayPal es de 300 €. No admitimos importes inferiores con el fin de minimizar la gestión administrativa y contable por ambas partes.</p>

                  </div>
                 </div>
                </section>
               </td>
              </tr>

              <tr class="table-tr" data-js-accordion="link">
               <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

                ¿Qué es PayPal?</td>

               </tr>
               <tr class="table-tr table-tr--content">
                <td class="table-item">
                 <section data-js-accordion="panel" class="table-accordionContent">
                  <div class="modularGrid">

                   <div class="modularGrid-module modularGrid-module--legible">
                    <p>PayPal es la forma más rápida y segura de pagar por internet. Puede abonar sus compras fácilmente y con total confianza con tarjeta de débito o crédito o con su cuenta bancaria a través de PayPal.</p>

                   </div>
                  </div>
                 </section>
                </td>
               </tr>

               <tr class="table-tr" data-js-accordion="link">
                <td class="table-item table-item--rowtitle">{{>svgIcon type='chevronDown'}}

                 ¿Por qué utilizar PayPal?</td>

                </tr>
                <tr class="table-tr table-tr--content">
                 <td class="table-item">
                  <section data-js-accordion="panel" class="table-accordionContent">
                   <div class="modularGrid">

                    <div class="modularGrid-module modularGrid-module--legible">
                     <p>• PayPal es <strong>seguro</strong>: PayPal almacena su información financiera y la protege con los más avanzados sistemas de seguridad y prevención de fraude. PayPal jamás comparte su información financiera con BigBuy ni con ningún otro vendedor.</p>
                     <p>• PayPal es <strong>rápido y sencillo</strong>: una vez creada su cuenta no tendrá que introducir los detalles de su tarjeta o su cuenta bancaria para pagar. Solo necesitará su dirección de correo electrónico y una contraseña.</p>
                     <p>• PayPal es <strong>flexible</strong>: tarjeta de débito, tarjeta de crédito o cuenta bancaria, usted elige cómo pagar.</p>
                     <p><a href="https://www.paypal.com" target="_blank">+Info</a></p>
                    </div>
                   </div>
                  </section>
                 </td>
                </tr>

               </tbody>
              </table>