<div class="planCard u-pd--half" data-js-planCardElem="planCard2">
  <ul class="planCard-imgList" data-js-planCardImgList="planCard2">
    <li class="planCard-imgItem" data-js-planCardImg="blue" ><img src="../../img/zurich_0.jpg" alt="" class="planCard-img"></li>
    <li class="planCard-imgItem" data-js-planCardImg="red"><img src="../../img/zurich_1.jpg" alt="" class="planCard-img"></li>
    <li class="planCard-imgItem" data-js-planCardImg="orange"><img src="../../img/zurich_2.jpg" alt="" class="planCard-img" ></li>
    <li class="planCard-imgItem planCard-imgItem--active" data-js-planCardImg="green"><img src="../../img/zurich_3.jpg" alt="" class="planCard-img" ></li>
  </ul>
  <aside class="planCard-actions">
    <div class="planCard-actionsItem planCard-actionsItem--btns">
      <h4 class="planCard-actionsItemTitle">Color</h4>
      <div data-js-planCardBtnList="planCard2">
        <button class="planCard-colorBtn planCard-colorBtn--londonGreen planCard-colorBtn--selected" data-js-planCardBtn="green"></button>
        <button class="planCard-colorBtn planCard-colorBtn--londonOrange" data-js-planCardBtn="orange"></button>
        <button class="planCard-colorBtn planCard-colorBtn--londonRed " data-js-planCardBtn="red"></button>
        <button class="planCard-colorBtn planCard-colorBtn--londonBlue" data-js-planCardBtn="blue"></button>
      </div>
    </div>
    <div class="planCard-actionsItem">
      <h4 class="planCard-actionsItemTitle">Responsive</h4>
      <img src="../../img/responsive.svg" alt="" class="planCard-icon">
    </div>
    <div class="planCard-actionsItem">
    <img src="../../img/prestashop_1-6-logo.png" alt="" class="planCard-icon">
  </div>
    <div class="planCard-actionsItem planCard-actionsItem--prices">
      <h3 class="planCard-bigPrice">570€</h4>
        <span class="planCard-littlePrice">(o 190€ x 3 plazos)</span>
      </div>
    </aside>
    <div class="u-tar">
      <button class="button">Ver demo</button>
      <button class="button button--primary u-mgl--half">Comprar</button>
    </div>
  </div>
