<aside data-js-popup="popup" class="popup u-lg-55 animated fadeInDown">
    <header class="popup-header u-tac">
        <h1 class="popup-title u-pdt2">Esta descarga requiere un Pack Mayorista superior</h1>

        <p class="subtitle">Para poder disfrutar de todas las ventajas de Bigbuy,<br> contrate hoy mismo un Pack superior</p>
    </header>
    <div class="popup-content">
        <div class="modularGrid modularGrid--equalHeights u-flex-center u-pdv2 u-xs-80 pricePanel-container--midsize">            
                 <section class="pricePanel pricePanel--big pricePanel--dropship ">
                <div class="pricePanel-header">
                    <svg role="img" class="icon icon--inline  icon--lg  u-op-50 ">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use>
                    </svg>
                    <h4 class="pricePanel-name"><small class="u-op-50">PACK</small><br>dropship</h4>
                </div>
            </section>               
           
                 <section class="pricePanel pricePanel--big pricePanel--enterprise ">
                <div class="pricePanel-header">
                    <svg role="img" class="icon icon--inline  icon--lg  u-op-50 ">
                        <use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use>
                    </svg>
                    <h4 class="pricePanel-name"><small class="u-op-50">PACK</small><br>enterprise</h4>
                </div>
            </section>            
        </div>
  
   
    <div class="modularGrid-module u-pd">
        <button data-js-popup="submitAction" class="button button--primary button--big u-elem-center">Activar</button>
    </div>
   
    </div>
    <button title="Cerrar" class="button  button--icon popup-close " data-js-popup="close">
        <svg role="img" class="icon icon--inline icon--xs">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
        </svg>
    </button>
</aside>