<aside data-js-popup="popup" class="popup u-lg-55 animated fadeInDown">
    <header class="popup-header">
    <h1 class="popup-title u-pdb--half">CSV/XML Tarifa</h1>
    <p class="u-pdh u-pdb--half">Products XML, General products and manufacturer CSV</p>
    </header>
    <div class="popup-content">
        <div class="modularGrid">
            <div class="modularGrid-module u-pdv--half">
                <img src="../../img/baner-descarga-backend.svg" class="img--responsive downloadBanner-img  downloadBanner-img--active" >
               
            </div>
        </div>
        <div class="modularGrid-module u-pd--half">
            <table class="table ">
                <tbody class="table-tbody u-brdb--none">
                    <tr class="table-tr">
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_es" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_es" title="Español">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-es"></use>
                                </svg>Español</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_en" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_en" title="English">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-en"></use>
                                </svg>English</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_fr" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_fr" title="Français">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-fr"></use>
                                </svg>Français</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_pt" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_pt" title="Português">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-pt"></use>
                                </svg>Português</label>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_ro" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_ro" title="Română">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-ro"></use>
                                </svg>Română</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_it" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_it" title="Italiano">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-it"></use>
                                </svg>Italiano</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_hu" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_hu" title="Magyar">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-hu"></use>
                                </svg>Magyar</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_lt" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_lt" title="Lietuvių">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-lt"></use>
                                </svg>Lietuvių</label>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_si" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_si" title="Slovenščina">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-si"></use>
                                </svg>Slovenščina</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_bg" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_bg" title="български">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-bg"></use>
                                </svg>български</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_dk" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_dk" title="Dansk">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-dk"></use>
                                </svg>Dansk</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_fi" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_fi" title="Suomi">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-fi"></use>
                                </svg>Suomi</label>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_sk" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_sk" title="Slovenčina">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-sk"></use>
                                </svg>Slovenčina</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_hr" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_hr" title="Hrvatski">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-hr"></use>
                                </svg>Hrvatski</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_lv" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_lv" title="Latviešu">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-lv"></use>
                                </svg>Latviešu</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_pl" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_pl" title="Polski">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-pl"></use>
                                </svg>Polski</label>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_ee" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_ee" title="Eesti">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-ee"></use>
                                </svg>Eesti</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_ru" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_ru" title="русский">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-ru"></use>
                                </svg>русский</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_cz" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_cz" title="čeština">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-cz"></use>
                                </svg>čeština</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_gr" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_gr" title="ελληνικά">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-gr"></use>
                                </svg>ελληνικά</label>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_de" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_de" title="Deutsch">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-de"></use>
                                </svg>Deutsch</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_se" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_se" title="Svenska">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-se"></use>
                                </svg>Svenska</label>
                        </td>
                        <td class="table-td langlist-button u-md-25" data-js-downloadBanner="lang">
                            <input class="inputToggle" type="checkbox" name="language-name" id="id_nl" data-js-downloadBanner="checkbox"/>
                            <img src="../../img/blue_select_check.svg" class="langlist-minicheck" data-js-downloadBanner="check" />
                            <label class="langlist-label" data-js-downloadBanner="label" for="id_nl" title="Nederlands">
                                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                                    <use xlink:href="../../img/icons/svg-defs.svg#icon-nl"></use>
                                </svg>Nederlands</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modularGrid-module u-pd--half u-md-30">
            <button data-js-popup="submitAction" class="button button--primary button--full ">Descargar</button>
        </div>
    </div>
    </div>
    <!--<button data-js-popup="close" class="button button--icon popup-close" title="Cerrar"><i class="icon fa-times"></i>
    </button>-->
    <button title="Cerrar" class="button  button--icon popup-close" data-js-popup="close">
        <svg role="img" class="icon icon--inline icon--xs">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-times"></use>
        </svg>
    </button>
</aside>
