<aside data-js-popup="popup" class="popup u-lg-50 animated fadeInDown u-pdt">
<header class="popup-header">

<button data-js-popup="close" class="button button--icon popup-close" title="Cerrar"><i class="icon fa-times"></i></button>
</header>
<div class="popup-content u-pdt">
<div class="modularGrid">
<div class="modularGrid-module u-md-30 u-pdr u-tac">
	<img src="../../img/bigbuy_happy.svg" class="popup-img u-mgt u-mgl--half">

</div>
<div class="modularGrid-module u-md-60 u-pdb u-pdl u-brdl u-mgb u-mgl">
<h1 class="popup-extra u-mgb u-mgl">BIENVENIDO A BIGBUY</h1>
<p class="u-mgb u-mgl">
Gracias por elegirnos, esperamos que disfrute de la multitud de ventajas que tenemos preparadas para nuestros clientes.
</p>
<button data-js-popup="submitAction" class="button button--primary button--big u-mgl u-mgt--half">Empezar a comprar</button>
</div>
</div>
</div>
</aside>