<section class="pricePanel pricePanel--big">


<div class="pricePanel-header pricePanel-header--pro pricePanel-header--medium">
<svg role="img" class="icon  icon--md"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
<span class="pack pack--inline"><!--#@-->Pack Pro<!--#@--></span>
</div>

   {{!--  <div class="pricePanel-header pricePanel-header--pro">
        <svg class="icon  icon--lg u-mgb--3rd" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
        <span class="pack pack--pro pack--large"><!--#@-->Pack Pro<!--#@--></span>
    </div> --}}

    <h4 class="subtitle u-pdb--half"><!--#@-->Cuota de alta 45€<!--#@--></h4>
        <div class="modularGrid-module u-xs-80 ">
            <select class="form-select form-select--collapse">
                <option value=""><!--#@-->Mensual 15€/mes<!--#@--></option>
                <option value=""><!--#@-->Semestral 15€/semestre<!--#@--></option>
                <option value=""><!--#@-->Anual 15€/año<!--#@--></option>
            </select>
        </div>
         {{>packProItems modifier='topPanel'}}
    <button data-js-activar-pack="button" class="button button--primary button--big u-xs-80"><!--#@-->Activar pack<!--#@--></button>
</section>