<section class="pricePanel">
<div class="pricePanel-header pricePanel-header--pro">
<svg class="icon  icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
<span class="pack pack--pro pack--big"><!--#@-->Pack Pro<!--#@--></span>
</div>
 <h4 class="pricePanel-headerText"><!--#@-->Incluye Pack Basic y adem치s:<!--#@--></h4>
    <ul class="pricePanel-itemList pricePanel-itemList--promo">
        <li class="pricePanel-item"><!--#@-->Cat치logo Bigbuy en archivos CSV/XML<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Cat치logo en 1 de los 24 idiomas europeos<!--#@--></span></li>
        <li class="pricePanel-item"><!--#@-->Descarga de m치rketing online<!--#@--></li>
       
    </ul>
</section>