<section class="pricePanel">
<div class="pricePanel-header pricePanel-header--premium">
<svg class="icon icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
<span class="pack pack--premium pack--big">Pack Premium</span>
</div>
 <h4 class="pricePanel-headerText"><!--#@-->Incluye Pack Business y además:<!--#@--></h4>


 {{>packPremiumItems}}




</section>

