<section class="pricePanel{{#if class}} {{class}}{{/if}}">
<div class="pricePanel-header">
<svg class="icon  icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-user"></use></svg>
<span class="pack  pack--big pack--none "><!--#@-->Sin Pack<!--#@--></span>
</div>
   <h4 class="pricePanel-headerText"><!--#@-->Incluye:<!--#@--></h4>
    <ul class="pricePanel-itemList">
        <li class="pricePanel-item"><!--#@-->Unidades sueltas a <!--#@-->{{>pvrLink}}<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Escalado de descuento por volumen (Individualmente en cada artículo)<!--#@--></li>


    </ul>
</section>

