<section class="pricePanel{{#if class}} {{class}}{{/if}}">
<div class="pricePanel-header pricePanel-header--basic">
<svg class="icon  icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
<span class="pack pack--basic pack--big "><!--#@-->Pack Basic<!--#@--></span>
</div>
   <h4 class="pricePanel-headerText"><!--#@-->Incluye:<!--#@--></h4>

   {{>packBasicItems}}




</section>

