<section class="pricePanel pricePanel--promo">
<div class="pricePanel-header pricePanel-header--basic">
<svg class="icon  icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
<span class="pack pack--basic pack--big "><!--#@-->Pack Basic<!--#@--></span>
</div>
   <h4 class="pricePanel-headerText"><!--#@-->Incluye:<!--#@--></h4>
    <ul class="pricePanel-itemList pricePanel-itemList--promo">
        <li class="pricePanel-item"><!--#@-->Unidades sueltas a precio mayorista <!--#@-->{{>pvdLink}}<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Descuento automático 6% del PVD<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Hasta 3 envíos Dropshipping al mes<!--#@--></li>
        <li class="pricePanel-item"><!--#@-->Bloqueo de Stocks por 7 días<!--#@--></li>
    </ul>

</section>

