<section class="pricePanel pricePanel--big">


<div class="pricePanel-header pricePanel-header--basic pricePanel-header--medium">
<svg role="img" class="icon  icon--md"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
<span class="pack pack--inline"><!--#@-->Pack Basic<!--#@--></span>
</div>


{{!-- <div class="pricePanel-header pricePanel-header--basic">
<svg class="icon  icon--lg u-mgb--3rd" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
<span class="pack pack--basic pack--large"><!--#@-->Pack Basic<!--#@--></span>
</div> --}}
{{!-- <label class="form-label"><!--#@--><strong>Cuota de alta 45€</strong><!--#@--></label> --}}

<h4 class="subtitle "><!--#@-->Cuota de alta 45€<!--#@--></h4>
{{!-- <label class="form-label u-mgt--half u-mgb"><!--#@-->Sin cuota mensual<!--#@--></label> --}}
<h3 class="u-pdb u-pdt"><!--#@-->Sin cuota mensual<!--#@--></h3>

{{>packBasicItems modifier='topPanel'}}




<button data-js-activar-pack="button" class="button button--primary button--big u-mgt u-xs-80"><!--#@-->Activar pack<!--#@--></button>
</section>