
<section class="pricePanel{{#if class}} {{class}}{{/if}}">
<div class="pricePanel-header pricePanel-header--business">
<svg class="icon icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"></use></svg>
<span class="pack pack--business pack--big"><!--#@-->Pack Business<!--#@--></span>
</div>
 <h4 class="pricePanel-headerText"><!--#@-->Incluye Pack Pro y además:<!--#@--></h4>


  {{>packBusinessItems}}

</section>

