<section class="pricePanel{{#if class}} {{class}}{{/if}}">
<div class="pricePanel-header pricePanel-header--pro">
<svg class="icon  icon--sm" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-pack"/></svg>
<span class="pack pack--pro pack--big"><!--#@-->Pack Pro<!--#@--></span>
</div>
 <h4 class="pricePanel-headerText"><!--#@-->Incluye Pack Basic y además:<!--#@--></h4>



 {{>packProItems}}




</section>