
<section class="productShop">
	<header class="productShop-header">
		<h3 class="productShop-header-title">Lote Jamón + Embutidos + Jamonero Gourmet + Cuchillo y Afilador</h3>

        {{> miniSocial}}

		
	</header> 
	<ul class="productShop-advantages nav--stripe">
		<li class="nav-item">
			<i class="icon fa-clock-o"></i>
			<span class="productShop-advantages-description">Envío en<br/>24/48 h.</span>
		</li>
		<li class="nav-item">
			<i class="icon fa-certificate"></i>
			<span class="productShop-advantages-description">2 años<br/> de garantía</span>
		</li>
		<li class="nav-item">
			<i class="icon fa-globe"></i>
			<span class="productShop-advantages-description">Seguimiento de Envío<br/>Tracking</span>
		</li>
	</ul>
	<div class="productShop-discountTable">
		<table>
			<caption class="productShop-discountTable-caption"><strong>Volume discount</strong></caption>	
			<thead class="productShop-discountTable-thead">
				<tr>
					<th class="thead-th">UD</th>
					<th class="thead-th">DPP</th>
					<th class="thead-th">DISC</th>
				</tr>
			</thead>
			<tfoot class="productShop-discountTable-tfoot">
				<tr>
					<td class="tfoot-td">PVD	</td>
					<td class="tfoot-td">47,20 €</td>
					<td class="tfoot-td">+info</td>					
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td class="tbody-td">+5</td>
					<td class="tbody-td">39.88 €</td>
					<td class="tbody-td">5%</td>					
				</tr>
				<tr>
					<td class="tbody-td">+5</td>
					<td class="tbody-td">39.88 €</td>
					<td class="tbody-td">5%</td>
				</tr>
				<tr>
					<td class="tbody-td">+5</td>
					<td class="tbody-td">39.88 €</td>
					<td class="tbody-td">5%</td>
				</tr>
				<tr>
					<td class="tbody-td">+5</td>
					<td class="tbody-td">39.88 €</td>
					<td class="tbody-td">5%</td>
				</tr>
			</tbody>
		</table>
	</div>
	<form class="form productShop-options">	
		<div class="modularGrid-module">
			<label for="inputtext1" class="form-label"><strong>Options & Prices</strong></label>
			<select class="form-select">
				<option value="268">Jamón Serrano 6 Kg</option>
				<option value="269">Con Embutidos Ibéricos</option>
			</select>
			<select class="form-select">			
				<option value="269">Con Embutidos Ibéricos</option>
				<option value="268">Jamón Serrano 6 Kg</option>
			</select>
			<div class="productShop-discountBadge">
				<div class="productShop-discountBadge-pvp">RRP <strong>41,73 €</strong>	</div>			

				<div class="productShop-discountBadge-shop">In shop <span>81,50 €</span></div>
				<div class="productShop-discountBadge-discount">-49%</div>
			</div>
			<em class="form-info"><b class="icon fa-info-circle"></b> Shipping and 10% TAX not included</em>
			<select class="form-select u-md-25">			
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<button class="button button--primary u-md-70 u-mg-right-0">Añadir al carrito</button>
		</div>
	</form>
	<div style="border-top: 1px solid rgba(0,0,0,0.1); padding: 1.5rem;">


		<p>Icon list here</p>

	</div>
</section>








