<div class="productSlider">
	<h3 class="productSlider-title productSlider-title--news">Novedades
        <a href="#" title="Ver todas" class="productSlider-more">Ver todas</a>
        <a href="#" class="productSlider-category">Novedades Electrónica</a>
        <a href="#" class="productSlider-category">Novedades Terraza & Jardín</a>
        <a href="#" class="productSlider-category">Novedades Fitness & Deportes</a>
        <a href="#" class="productSlider-chevron">
        <svg role="img" class="icon icon--inline icon--md productSlider-chevron--left" src="">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronMobileLeft"/>
        </svg>
        </a>
        <a href="#" title="Ver todos" class="productSlider-chevron">
        <svg role="img" class="icon icon--inline icon--md productSlider-chevron--rigth" src="">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronMobileRight"/>
        </svg>
        </a>
    </h3>
    <div class="productSlider-slider js_slider" data-autorotate="6" >
      <ul>
         <li class="productSlider-item"> {{> productList productList.slides3 }} </li>
         <li class="productSlider-item"> {{> productList productList.slides3}} </li>
         <li class="productSlider-item"> {{> productList productList.slides3 }} </li>
     </ul>
 </div>
</div>
