<div class="featuredSlider">
	<div class="box">
		<div class="featuredSlider-slider  js_slider" data-autorotate="8" >
			<ul>



				<li class="featuredSlider-item current" id="94">



					<img class="featuredSlider-img" src="../../img/banner-premio_base.jpg">
					<div class="modularGrid modularGrid--boxed slider">
						<div class="modularGrid-module u-xs-60 slider-message">
							<p class="slider-supratittle"><img src="../../img/eawards.svg" alt="" class="slider-topimg"></p>
							<p class="slider-tittle">
								<span>PREMIO MEJOR E-COMMERCE DE INNOVACIÓN</span>
								<span>PREMIO MEJOR E-COMMERCE INTERNACIONAL</span>
							</p>
							<p class="slider-subtittle">
							GANADOR: BIGBUY

							</p>
						</div>
					</div>
				</li>

{{!--
					<aside class="banner">
						<div class="banner-texts">
							<p class="banner-supratitle banner-supratitle--inverse">
								<img src="http://www.bigbuy.eu/public/img/logo-eawards.png">  <img src="http://www.bigbuy.eu/public/img/mano-eawards.png">
								<span>¡Necesitamos tu voto!</span>
							</p>
							<p class="banner-subtitle banner-subtitle--inverse">MEJOR ECOMMERCE INTERNACIONAL</p>
							<p class="banner-subtitle banner-subtitle--inverse">MEJOR ECOMMERCE DE INNOVACIÓN</p>
							<p class="banner-subtitle banner-subtitle--terms">*Es necesario registrarse en www.the-eawards.com y votar por BigBuy en estas dos categorías.</p>
						</div>
						<a href="#" class="banner-imglink"><img class="banner-img" src="../../img/banner_slider_11.jpg" alt="imagen"></a>
					</aside> --}}










				{{!-- <li class="featuredSlider-item">
					<img class="featuredSlider-img" src="../../img/banner_slider_1.jpg">
					<div class="modularGrid modularGrid--boxed slider">
						<div class="modularGrid-module u-xs-60 slider-message">
							<p class="slider-supratittle">Dropshipping de naranjas y mandarinas</p>
							<p class="slider-tittle">oportunidad <br> de negocio</p>
							<p class="slider-subtittle">inicie su propio e-commerce de naranjas y mandarinas o venda en e-marketplaces</p>
						</div>
					</div>
				</li> --}}
				{{!-- <li class="featuredSlider-item">
					<img class="featuredSlider-img" alt="" src="../../img/banner_slider_2.jpg">
					<div class="modularGrid modularGrid--boxed slider">
						<div class="modularGrid-module u-xs-60 slider-message">
							<p class="slider-supratittle">stock permanente</p>
							<p class="slider-tittle">productos exclusivos</p>
							<p class="slider-subtittle">distribuidores en exclusividad para la UE de una gran selección de productos</p>
							</div>
						</div>
					</li>
					<li class="featuredSlider-item">
						<img class="featuredSlider-img" alt="Naranjas" src="../../img/banner_slider_3.jpg" >
						<div class="modularGrid modularGrid--boxed slider">
							<div class="modularGrid-module u-xs-60 slider-message">
								<p class="slider-supratittle">marketplace mayorista</p>
								<p class="slider-tittle">regalo original</p>
								<p class="slider-subtittle">disponga de un extenso catálogo con más de 3000 productos</p>
							</div>
						</div>
					</li>
					<li class="featuredSlider-item">
						<img class="featuredSlider-img" alt="" src="../../img/banner_slider_4.jpg">
						<div class="modularGrid modularGrid--boxed slider">
							<div class="modularGrid-module u-xs-60 slider-message">
								<p class="slider-supratittle">discreción y velocidad</p>
								<p class="slider-tittle">dropshipping</p>
								<p class="slider-subtittle">envio de nuestro almacen al cliente final entregas directas a nombre de su empresa</p>
							</div>
						</div>
					</li>
					<li class="featuredSlider-item">
						<img class="featuredSlider-img" alt="" src="../../img/banner_slider_5.jpg">
						<div class="modularGrid modularGrid--boxed slider">
							<div class="modularGrid-module u-xs-60 slider-message">
								<p class="slider-supratittle">venda en cualquier país de la UE</p>
								<p class="slider-tittle">23 idiomas europeos</p>
								<p class="slider-subtittle">traducciones por profesionales nativos 3000 referencias csv / xml / prestashop</p>
							</div>
						</div>
					</li> --}}
				</ul>
				<div class="modularGrid modularGrid--boxed slider">
					<div class="modularGrid-module u-xs-60">
					</div>
					{{> homeActions}}
				</div>
			</div>
		</div>
	</div>