<div class="productSlider">
	<h3 class="productSlider-title productSlider-title--ours">
        Nuestra selección
        <a href="#" title="Ver todas" class="productSlider-more">Ver todas</a>
        <a href="#" class="productSlider-chevron">
            <svg role="img" class="icon icon--inline icon--md productSlider-chevron--left" src="">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronMobileLeft"/>
            </svg>
        </a>
        <a href="#" title="Ver todos" class="productSlider-chevron">
            <svg role="img" class="icon icon--inline icon--md productSlider-chevron--rigth" src="">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronMobileRight"/>
            </svg>
        </a>
    </h3>
    <div class="categoryList-description categoryList-description--bannerbottom ">
<div class="categoryList-bannertext">

        <h3 class="categoryList-whitetext">REGALOS PARA NAVIDAD</h3>
        <h4 class="categoryList-yellowtext">MÁS DE 100 IDEAS</h4>

        <img class="categoryList-imgBg" src="../../img/nina.jpg">
        </div>

</div>
    <div class="productSlider-slider js_slider" >
      <ul>
         <li class="productSlider-item"> {{> productList productList.slides3 }} </li>

     </ul>
 </div>
</div>