<div data-js-discount_table="" class="modularGrid-module u-xs-50{{#if class}} {{class}}{{/if}}">
    <div class="productSheet-discountTable">
        <table data-js-discount_table-panel="first" class="table table--ultracondensed table--fixedwidth">
            <caption class="table-caption">
                <div class="table-captionIcon  productSheet-discountTable--automatic">
                    {{>svgIcon type='pack'}}
                </div>
                DESCUENTO % AUTOMÁTICO
                <em data-js-tooltip="tooltip6" class="form-info">
                 {{>svgIcon type='info'}}
            </em>
                <p class="productSheet-shortDescription u-pdl u-mgl--half">En función del importe total del carrito se le aplicará respecto al PVD este descuento automático</p>
            </caption>
            <thead class="table-thead">
                <tr class="table-tr">
                <th class="table-item  table-item--number u-xs-20">Importe</th>
                    <th class="table-item table-item--number u-xs-20">Dto.(%)</th>
                    <th class="table-item table-item--number u-pdr u-xs-30">PVD <small>neto</small></th>
                </tr>
            </thead>
            <tbody class="table-tbody">
                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number">100 €</td>
                    <td class="table-item table-item--number">-1,5%</td>
                    <td class="table-item table-item--number u-pdr">7,07 €</td>
                </tr>
                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number">300 €</td>
                    <td class="table-item table-item--number">-2,5%</td>
                    <td class="table-item table-item--number u-pdr">7,00 €</td>
                </tr>
                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number">600 €</td>
                    <td class="table-item table-item--number">-3,5%</td>
                    <td class="table-item table-item--number u-pdr">6,50 €</td>
                </tr>
                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number">1.000 €</td>
                    <td class="table-item table-item--number">-5,0%</td>
                    <td class="table-item table-item--number u-pdr">6,12 €</td>
                </tr>

            </tbody>
        </table>
    </div>
   <div class="productSheet-discountTable productSheet-discountTable--special">
        <table data-js-discount_table-panel="second" class="table table--ultracondensed table--fixedwidth">
            <caption class="table-caption">
                CONDICIONES ESPECIALES PARA:
                <p class="productSheet-subCaption">TheraCosm GmbH</p>
            </caption>
             <tbody class="table-tbody">
                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number u-xs-20">2000 €</td>
                    <td class="table-item table-item--number u-xs-20">-1,5%</td>
                    <td class="table-item table-item--number u-pdr1  u-xs-30">6,12 €</td>
                </tr>

                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number">5.000 €</td>
                    <td class="table-item table-item--number">-10,0%</td>
                    <td class="table-item table-item--number u-pdr1">4,85 €</td>
                </tr>

                <tr data-js-discount_table="tr-item" class="table-tr">
                    <td class="table-item table-item--number">10.000 €</td>
                    <td class="table-item table-item--number">-12,0%</td>
                    <td class="table-item table-item--number u-pdr1">4,12 €</td>
                </tr>



            </tbody>
        </table>
    </div>


</div>