







<nav class="tags {{#if modifier}}tags--{{modifier}}{{/if}}">
    {{#if brand}}
    <div class="tags-item tags-item--brand"><a href="#" class="tags-brandlink">
        <img src="../../img/brands/{{brand}}.svg" class="tags-brandimg" alt="{{name}}">
        {{!-- <span class="tags-brandname">{{name}}</span> --}}
    </a>
</div>
{{/if}}
<a href="http://bigbuy.eu/black-friday" class="tags-link">Black Friday</a>
<a href="#" class="tags-link">ipsum</a>
<a href="#" class="tags-link">dolor</a>
<a href="#" class="tags-link">consectetuer</a>
<a href="#" class="tags-link">adipiscing</a>

</nav>








