<header class="productSheet-header">

{{#if text}}
	<h1 class="productSheet-title"><span itemprop="name">{{{text}}}</span></h1>
	<p itemprop="description" class="productSheet-shortDescription productSheet-shortDescription--main"></p>
	

 {{else}}

	<h1 class="productSheet-title"><span itemprop="name">Máquina para hacer Cupcakes & Cake Pops Tristar SA1127 texto extra texto extendido</span></h1>
	<p itemprop="description" class="productSheet-shortDescription productSheet-shortDescription--main">
		Oferta máquina para hacer cupcakes & cake pops Tristar SA1127 a precio mayorista. Comprar accesorios de cocina al por mayor
	</p>

	{{/if}}



</header>
