<div class="categoryList-flexCenterContent">
<section class="categoryList-description categoryList-description--bannercenter">
  <div class="categoryList-icondiscount">
    {{>svgIcon type='giftcard' size='xl' }}
  </div>
  <div>

    <h3>PROMOCIÓN</h3>
    <h4>CHEQUE REGALO</h4>
    <h5><strong>50€</strong> en saldo</h5>
    <h6>MONEDERO BIGBUY</h6>
  </div>
</section>
</div>

