<span class="rating">
    <i class="rating-icon rating-icon--selected"></i>
    <i class="rating-icon rating-icon--selected"></i>
    <i class="rating-icon rating-icon--selected"></i>
    <i class="rating-icon rating-icon--selected"></i>    
    <i class="rating-icon"></i>
</span>
