<ol class="steps steps--arrow u-pdh{{#unless mobile}} u-pdv--half{{/unless}}" >	
    <li class="steps-item{{#if_eq step 1}} steps-item--selected{{/if_eq}}" data-js-step="step1"><span class="steps-number"></span>Datos de usuario</li>
    <li class="steps-item{{#if_eq step 2}} steps-item--selected{{/if_eq}}" data-js-step="step2"><span class="steps-number"></span>Información</li> 
</ol>
