<table class="table table--stripped">
	<caption class="table-caption"><strong>Volume discount</strong></caption>	
	<thead class="table-thead">
		<tr class="table-tr">
			<th class="table-item">UD</th>
			<th class="table-item">DPP</th>
			<th class="table-item">DISC</th>
		</tr>
	</thead>
	<tfoot class="table-tfoot">
		<tr class="table-tr">
			<td class="table-item">PVD</td>
			<td class="table-item">47,20 €</td>
			<td class="table-item">
				<em class="form-info productSheet-info"><b class="icon form-info-icon fa-info-circle"></b> info</em>
			</td>					
		</tr>
	</tfoot>
	<tbody>
		<tr class="table-tr">
			<td class="table-item">+5</td>
			<td class="table-item">39.88 €</td>
			<td class="table-item">5%</td>					
		</tr>
		<tr class="table-tr">
			<td class="table-item">+5</td>
			<td class="table-item">39.88 €</td>
			<td class="table-item">5%</td>
		</tr>
		<tr class="table-tr">
			<td class="table-item">+5</td>
			<td class="table-item">39.88 €</td>
			<td class="table-item">5%</td>
		</tr>
		<tr class="table-tr">
			<td class="table-item">+5</td>
			<td class="table-item">39.88 €</td>
			<td class="table-item">5%</td>
		</tr>
	</tbody>
</table>
