<p>Buy <strong>Set of Jabugo Ham</strong> with 1 kg of sausages and a Gourmet ham support with knife and sharpener.</p>
<p>The pack consists of:</p> 
<p><strong>1 Jabugo Ham</strong> to choose from the wide range of weights shown in the selection bar.</p> 
<p>1 kg of sausages including:</p> 
<ul class="bullet u-mg-bottom">
    <li>1 Iberian Chorizo 250g</li>
    <li>1 Iberian Spiced Sausage 250g</li>
    <li>1 Iberian Soft Spicy Sausage 250g</li>
    <li>1 Iberian Black Sausage 250g</li>
</ul>
<p>1 Gourmet ham support made of the finest wood. It is designed to offer the best support and cutting position, along with 1 professional knife and sharpener to achieve an excellent cut. </p>
