<div class="unitControl">
	<input class="form-input form-input--postfix unitControl-input" type="text" value="5" >
	<span class="form-postfix unitControl-groupBtns">		
            <button class="button button--icon unitControl-button unitControl-button--plus"></button>
           	<button class="button button--icon unitControl-button unitControl-button--minus"></button>
	</span>
</div>