<button class="toolbar-buttonAll{{#if sticky}} toolbar-buttonAll--sticky{{/if}}">
    <svg role="img" class="icon icon--inline icon--xxs">
        <use xlink:href="../../img/icons/svg-defs.svg#icon-menu"></use>
    </svg>
    Todas las categorías
    {{>caretDown}}
</button>
