<aside class="toolbar-tags">

    <ul class="tags tags--header">
    <li class="tags-item"><a class="tags-link" href="#">Regalos originales</a></li>
        <li class="tags-item"><a class="tags-link" href="#">Teletienda Anunciado en TV</a></li>
         <li class="tags-item"><a class="tags-link" href="#">Novedades</a></li>
          <li class="tags-item"><a class="tags-link" href="#">Top ventas</a></li>

        <li class="tags-item"><a class="tags-link" href="#">Outlet Liquidaciones</a></li>
        <li class="tags-item"><a class="tags-link" href="#">Catálogo completo</a></li>
    </ul>
</aside>
