<aside class="toolbar-tags">
	<ul class="tags tags--header">
		<li class="tags-item"><a class="tags-link" href="#">Regalos originales</a></li>
		<li class="tags-item"><a class="tags-link" href="#">Teletienda | Anunciado en TV</a></li>
		<li class="tags-item"><a class="tags-link" href="#">Destacados B2B</a></li>
		<li class="tags-item"><a class="tags-link" href="#">Novedades</a></li>
		<li class="tags-item"><a class="tags-link" href="#">Top ventas</a></li>
		<li class="tags-item"><a class="tags-link" href="#">Outlet | Ofertas</a></li>
		{{!-- <li class="tags-item"><a class="" href="home2.html">Shop</a></li> --}}
	</ul>
</aside>
