<div class="header">


	{{>preheader}}

	<div class="modularGrid modularGrid--boxed">
		<div class="header-content">

			{{> expressCart }}
				{{#if shop}}
				 {{> logoshop}}
				{{else}}
				 {{> logo}}
				{{/if}}
			{{> slogan}}
			{{> toolbar new=this.new}}

		</div>
	</div>
</div>











