<!-- Logo -->
<figure class="header-logo">
<a href="home2.html">
    <img class="header-logo-img header-logo--corporate" src="../../img/logo-bigbuy.svg" alt="BigBuy">
    {{!-- <img class="header-logo-img header-logo--corporate" src="../../img/logo-bigbuy-navidad.svg" alt="BigBuy"> --}}
    </a>
</figure>
