<!-- Logo -->
<figure class="header-logo">
<a href="home2.html">
    {{!-- <img class="header-logo-img" src="../../img/logo-bigbuy-shop-navidad.svg" alt="BigBuy"> --}}
     <img class="header-logo-img" src="../../img/logo-bigbuy-shop.svg" alt="BigBuy">
    </a>
</figure>

