<div class="preheader{{#if footerClass}} preheader--footer{{/if}}">
    <nav class="preheader-content">
        {{#if shop}}
        <a class="preheader-item" href="#">bigbuy</a>
        <a class="preheader-item preheader-item--selected" href="#">b2b shop</a>
        {{else}}
        <a class="preheader-item preheader-item--selected" href="#">bigbuy</a>
        <a class="preheader-item" href="#">b2b shop</a>
        {{/if}} 
        <a class="preheader-item" href="#">blog</a>
        <a class="preheader-item" href="#">academy</a>
    </nav>
</div>