{{!-- <div class="searchBox" data-js-search="searchBox"> --}}
<div class="searchBox">
   {{> productList productList.searchBoxList}} 
    <span class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="8"></circle>
			</svg>
		</span>
   
</div>
