<!-- Slogan -->
<div  class="header-slogan">
<h1 class="header-sloganTexts">
    <span class="header-line">Comprar a Precio Mayorista</span>
    <span class="header-line">Proveedor Dropshipping</span>
    <span class="header-line">Venta al Mayor B2B</span>
   </h1>
    <a href="http://192.168.1.211/bigbuy_e/contact">
        <span class="header-contactInfo">
            <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-support"></use></svg>
            902 99 21 41
        </span>
    </a>
</div>
