<aside class="toolbar-options">
  <div class="toolbar-item" data-js-toolbar="options">
    {{>svgIcon type='user'}}<b class="toolbar-notify">1</b>
    Mi cuenta
    {{>svgIcon type='caretDown' class='u-vb'}}
  </div>
  <ul class="toolbar-optionlist">
    <li class="toolbar-optionitem">
      <a class="toolbar-optionslink"  href="../back/dashboard.html">
        {{>svgIcon type='pack'}}
        Packs y Tienda 360º
      </a>
    </li>
    <li class="toolbar-optionitem">
      <a class="toolbar-optionslink"  href="../back/dashboard.html">
        {{>svgIcon type='tune'}} <b class="toolbar-notify">1</b>
        Panel de control <span class="toolbar-userBoxPack pack pack--enterprise u-mgl--half"><span class="u-op-70">PACK</span> <strong>ENTERPRISE</strong></span>
      </a>
    </li>
    <li class="toolbar-optionitem">
      <a class="toolbar-optionslink"  href="../back/dashboard.html">
        {{>svgIcon type='logout'}}
        Cerrar sesión
      </a>
    </li>
  </ul>
</aside>
{{!-- <!-- <button class="toolbar-item" title="Cerrar sesión" id="logoutBtn"><!--id only for demo!!!-->
            <!--<div class="toolbar-userBox">
                <span class="toolbar-itemTitle">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-logout"></use></svg>
                    Cerrar sesión ( 0123456789-0123456789-0123456789-012345 )
                </span>
                <span class="toolbar-userBoxPack pack pack--business u-mgl--half">Business</span>
            </div>
        </button>-->




     <!--<button class="toolbar-item" title="Iniciar sesión" data-js-login="loginBtn">
        <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-login"></use></svg>
        Iniciar sesión
    </button>
    <a class="toolbar-item" title="Registro" href="forms.html">
        <svg class="icon icon--inline icon--xs" role="img">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-newUser"></use>
        </svg> Registro
    </a>--> --}}