<select data-js-country="" name="country" class="form-select" disabled="">
        <option value="">Elija un país</option>
        <option data-zip-code="NNNNN" data-prefix="49" data-iso-code="DE" value="1">Alemania</option>
        <option data-zip-code="CNNN" data-prefix="376" data-iso-code="AD" value="40">Andorra</option>
        <option data-zip-code="" data-prefix="244" data-iso-code="AO" value="41">Angola</option>
        <option data-zip-code="" data-prefix="966" data-iso-code="SA" value="188">Arabia Saudita</option>
        <option data-zip-code="NNNNN" data-prefix="213" data-iso-code="DZ" value="38">Argelia</option>
        <option data-zip-code="LNNNN" data-prefix="54" data-iso-code="AR" value="44">Argentina</option>
        <option data-zip-code="NNNN" data-prefix="374" data-iso-code="AM" value="45">Armenia</option>
        <option data-zip-code="" data-prefix="297" data-iso-code="AW" value="46">Aruba</option>
        <option data-zip-code="NNNN" data-prefix="61" data-iso-code="AU" value="24">Australia</option>
        <option data-zip-code="NNNN" data-prefix="43" data-iso-code="AT" value="2">Austria</option>
        <option data-zip-code="CNNNN" data-prefix="994" data-iso-code="AZ" value="47">Azerbaiyán</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="BS" value="48">Bahamas</option>
        <option data-zip-code="" data-prefix="973" data-iso-code="BH" value="49">Bahrein</option>
        <option data-zip-code="CNNNNN" data-prefix="0" data-iso-code="BB" value="51">Barbados</option>
        <option data-zip-code="NNNNNN" data-prefix="0" data-iso-code="BY" value="52">Belarús</option>
        <option data-zip-code="NNNN" data-prefix="32" data-iso-code="BE" value="3">Bélgica</option>
        <option data-zip-code="" data-prefix="501" data-iso-code="BZ" value="53">Belice</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="BM" value="55">Bermudas</option>
        <option data-zip-code="" data-prefix="591" data-iso-code="BO" value="34">Bolivia</option>
        <option data-zip-code="NNNNN-NNN" data-prefix="55" data-iso-code="BR" value="58">Brasil</option>
        <option data-zip-code="NNNN" data-prefix="359" data-iso-code="BG" value="236">Bulgaria</option>
        <option data-zip-code="NNNN" data-prefix="238" data-iso-code="CV" value="65">Cabo Verde</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="KY" value="237">Caimán, Islas</option>
        <option data-zip-code="" data-prefix="237" data-iso-code="CM" value="64">Camerún</option>
        <option data-zip-code="LNL NLN" data-prefix="1" data-iso-code="CA" value="4">Canadá</option>
        <option data-zip-code="NNN-NNNN" data-prefix="56" data-iso-code="CL" value="68">Chile</option>
        <option data-zip-code="NNNNNN" data-prefix="86" data-iso-code="CN" value="5">China</option>
        <option data-zip-code="NNNN" data-prefix="357" data-iso-code="CY" value="76">Chipre</option>
        <option data-zip-code="NNNNNN" data-prefix="57" data-iso-code="CO" value="69">Colombia</option>
        <option data-zip-code="NNN-NNN" data-prefix="82" data-iso-code="KR" value="28">Corea del Sur</option>
        <option data-zip-code="NNNNN" data-prefix="506" data-iso-code="CR" value="73">Costa Rica</option>
        <option data-zip-code="NNNNN" data-prefix="385" data-iso-code="HR" value="74">Croacia</option>
        <option data-zip-code="NNNN" data-prefix="45" data-iso-code="DK" value="20">Dinamarca</option>
        <option data-zip-code="CNNNNNN" data-prefix="593" data-iso-code="EC" value="81">Ecuador</option>
        <option data-zip-code="NNNNN" data-prefix="1" data-iso-code="US" value="21">EE.UU.</option>
        <option data-zip-code="" data-prefix="20" data-iso-code="EG" value="82">Egipto</option>
        <option data-zip-code="" data-prefix="503" data-iso-code="SV" value="83">El Salvador</option>
        <option data-zip-code="" data-prefix="971" data-iso-code="AE" value="217">Emiratos árabes Unidos</option>
        <option data-zip-code="NNN NN" data-prefix="421" data-iso-code="SK" value="37">Eslovaquia</option>
        <option data-zip-code="C-NNNN" data-prefix="386" data-iso-code="SI" value="193">Eslovenia</option>
        <option data-zip-code="NNNNN" data-prefix="34" data-iso-code="ES" value="6">España</option>
        <option data-zip-code="NNNNN" data-prefix="372" data-iso-code="EE" value="86">Estonia</option>
        <option data-zip-code="NNNN" data-prefix="63" data-iso-code="PH" value="172">Filipinas</option>
        <option data-zip-code="NNNNN" data-prefix="358" data-iso-code="FI" value="7">Finlandia</option>
        <option data-zip-code="NNNNN" data-prefix="33" data-iso-code="FR" value="8">Francia</option>
        <option data-zip-code="NNNN" data-prefix="995" data-iso-code="GE" value="93">Georgia</option>
        <option data-zip-code="" data-prefix="233" data-iso-code="GH" value="94">Ghana</option>
        <option data-zip-code="NNNNN" data-prefix="30" data-iso-code="GR" value="9">Grecia</option>
        <option data-zip-code="" data-prefix="299" data-iso-code="GL" value="96">Groenlandia</option>
        <option data-zip-code="" data-prefix="502" data-iso-code="GT" value="100">Guatemala</option>
        <option data-zip-code="" data-prefix="224" data-iso-code="GN" value="102">Guinea</option>
        <option data-zip-code="" data-prefix="504" data-iso-code="HN" value="108">Honduras</option>
        <option data-zip-code="" data-prefix="852" data-iso-code="HK" value="22">Hong Kong</option>
        <option data-zip-code="NNNN" data-prefix="36" data-iso-code="HU" value="143">Hungría</option>
        <option data-zip-code="NNN NNN" data-prefix="91" data-iso-code="IN" value="110">India</option>
        <option data-zip-code="" data-prefix="353" data-iso-code="IE" value="26">Irlanda</option>
        <option data-zip-code="NNNNN" data-prefix="972" data-iso-code="IL" value="29">Israel</option>
        <option data-zip-code="NNNNN" data-prefix="39" data-iso-code="IT" value="10">Italia</option>
        <option data-zip-code="NNN-NNNN" data-prefix="81" data-iso-code="JP" value="11">Japón</option>
        <option data-zip-code="" data-prefix="962" data-iso-code="JO" value="117">Jordania</option>
        <option data-zip-code="NNNNNN" data-prefix="7" data-iso-code="KZ" value="118">Kazajstán</option>
        <option data-zip-code="" data-prefix="965" data-iso-code="KW" value="122">Kuwait</option>
        <option data-zip-code="C-NNNN" data-prefix="371" data-iso-code="LV" value="125">Letonia</option>
        <option data-zip-code="" data-prefix="961" data-iso-code="LB" value="126">Líbano</option>
        <option data-zip-code="NNNNN" data-prefix="370" data-iso-code="LT" value="131">Lituania</option>
        <option data-zip-code="NNNN" data-prefix="352" data-iso-code="LU" value="12">Luxemburgo</option>
        <option data-zip-code="" data-prefix="853" data-iso-code="MO" value="132">Macao</option>
        <option data-zip-code="NNNNN" data-prefix="60" data-iso-code="MY" value="136">Malasia</option>
        <option data-zip-code="LLL NNNN" data-prefix="356" data-iso-code="MT" value="139">Malta</option>
        <option data-zip-code="NNNNN" data-prefix="212" data-iso-code="MA" value="152">Marruecos</option>
        <option data-zip-code="NNNNN" data-prefix="52" data-iso-code="MX" value="145">México</option>
        <option data-zip-code="C-NNNN" data-prefix="373" data-iso-code="MD" value="147">Moldavia</option>
        <option data-zip-code="NNNNNN" data-prefix="505" data-iso-code="NI" value="159">Nicaragua</option>
        <option data-zip-code="" data-prefix="234" data-iso-code="NG" value="31">Nigeria</option>
        <option data-zip-code="NNNN" data-prefix="47" data-iso-code="NO" value="23">Noruega</option>
        <option data-zip-code="NNNN" data-prefix="64" data-iso-code="NZ" value="27">Nueva Zelanda</option>
        <option data-zip-code="NNNN LL" data-prefix="31" data-iso-code="NL" value="13">Países Bajos</option>
        <option data-zip-code="NNNNNN" data-prefix="507" data-iso-code="PA" value="168">Panamá</option>
        <option data-zip-code="" data-prefix="595" data-iso-code="PY" value="170">Paraguay</option>
        <option data-zip-code="" data-prefix="51" data-iso-code="PE" value="171">Perú</option>
        <option data-zip-code="NN-NNN" data-prefix="48" data-iso-code="PL" value="14">Polonia</option>
        <option data-zip-code="NNNN NNN" data-prefix="351" data-iso-code="PT" value="15">Portugal</option>
        <option data-zip-code="NNNNN" data-prefix="0" data-iso-code="PR" value="174">Puerto Rico</option>
        <option data-zip-code="" data-prefix="974" data-iso-code="QA" value="175">Qatar</option>
        <option data-zip-code="" data-prefix="44" data-iso-code="GB" value="17">Reino Unido</option>
        <option data-zip-code="NNN NN" data-prefix="420" data-iso-code="CZ" value="16">República Checa</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="DO" value="79">República Dominicana</option>
        <option data-zip-code="NNNNNN" data-prefix="40" data-iso-code="RO" value="36">Rumania</option>
        <option data-zip-code="NNNNNN" data-prefix="7" data-iso-code="RU" value="177">Rusia, Federación de</option>
        <option data-zip-code="" data-prefix="221" data-iso-code="SN" value="189">Senegal</option>
        <option data-zip-code="NNNNN" data-prefix="381" data-iso-code="RS" value="190">Serbia</option>
        <option data-zip-code="" data-prefix="248" data-iso-code="SC" value="191">Seychelles</option>
        <option data-zip-code="NNNNNN" data-prefix="65" data-iso-code="SG" value="25">Singapur</option>
        <option data-zip-code="NNNNN" data-prefix="94" data-iso-code="LK" value="197">Sri Lanka</option>
        <option data-zip-code="NNNN" data-prefix="27" data-iso-code="ZA" value="30">Sudáfrica</option>
        <option data-zip-code="NNN NN" data-prefix="46" data-iso-code="SE" value="18">Suecia</option>
        <option data-zip-code="NNNN" data-prefix="41" data-iso-code="CH" value="19">Suiza</option>
        <option data-zip-code="NNNNN" data-prefix="66" data-iso-code="TH" value="206">Tailandia</option>
        <option data-zip-code="NNNNN" data-prefix="886" data-iso-code="TW" value="203">Taiwán</option>
        <option data-zip-code="" data-prefix="216" data-iso-code="TN" value="210">Túnez</option>
        <option data-zip-code="NNNNN" data-prefix="90" data-iso-code="TR" value="211">Turquía</option>
        <option data-zip-code="NNNNN" data-prefix="380" data-iso-code="UA" value="216">Ucrania</option>
        <option data-zip-code="" data-prefix="598" data-iso-code="UY" value="218">Uruguay</option>
        <option data-zip-code="" data-prefix="998" data-iso-code="UZ" value="219">Uzbekistán</option>
        <option data-zip-code="" data-prefix="58" data-iso-code="VE" value="221">Venezuela</option>
</select>