<select style="" data-js-state="select" name="state" class="form-select" disabled="">
        <option value="">Elija una provincia</option>
        <option data-js-state_postcode="02" value="314">ALBACETE</option>
        <option data-js-state_postcode="03" value="315">ALICANTE / ALACANT</option>
        <option data-js-state_postcode="04" value="316">ALMERÍA</option>
        <option data-js-state_postcode="01" value="313">ARABA / ÁLAVA</option>
        <option data-js-state_postcode="33" value="345">ASTURIAS</option>
        <option data-js-state_postcode="05" value="317">ÁVILA</option>
        <option data-js-state_postcode="06" value="318">BADAJOZ</option>
        <option data-js-state_postcode="07" value="319">BALEARS, ILLES</option>
        <option data-js-state_postcode="08" value="320">BARCELONA</option>
        <option data-js-state_postcode="48" value="360">BIZKAIA</option>
        <option data-js-state_postcode="09" value="321">BURGOS</option>
        <option data-js-state_postcode="10" value="322">CÁCERES</option>
        <option data-js-state_postcode="11" value="323">CÁDIZ</option>
        <option data-js-state_postcode="39" value="351">CANTABRIA</option>
        <option data-js-state_postcode="12" value="324">CASTELLÓN / CASTELLÓ</option>
        <option data-js-state_postcode="51" value="363">CEUTA</option>
        <option data-js-state_postcode="13" value="325">CIUDAD REAL</option>
        <option data-js-state_postcode="14" value="326">CÓRDOBA</option>
        <option data-js-state_postcode="15" value="327">CORUÑA, A</option>
        <option data-js-state_postcode="16" value="328">CUENCA</option>
        <option data-js-state_postcode="20" value="332">GIPUZKOA</option>
        <option data-js-state_postcode="17" value="329">GIRONA</option>
        <option data-js-state_postcode="18" value="330">GRANADA</option>
        <option data-js-state_postcode="19" value="331">GUADALAJARA</option>
        <option data-js-state_postcode="21" value="333">HUELVA</option>
        <option data-js-state_postcode="22" value="334">HUESCA</option>
        <option data-js-state_postcode="23" value="335">JAÉN</option>
        <option data-js-state_postcode="26" value="338">LA RIOJA</option>
        <option data-js-state_postcode="24" value="336">LEÓN</option>
        <option data-js-state_postcode="25" value="337">LLEIDA</option>
        <option data-js-state_postcode="27" value="339">LUGO</option>
        <option data-js-state_postcode="28" value="340">MADRID</option>
        <option data-js-state_postcode="29" value="341">MÁLAGA</option>
        <option data-js-state_postcode="52" value="364">MELILLA</option>
        <option data-js-state_postcode="30" value="342">MURCIA</option>
        <option data-js-state_postcode="31" value="343">NAVARRA</option>
        <option data-js-state_postcode="32" value="344">OURENSE</option>
        <option data-js-state_postcode="34" value="346">PALENCIA</option>
        <option data-js-state_postcode="35" value="347">PALMAS, LAS</option>
        <option data-js-state_postcode="36" value="348">PONTEVEDRA</option>
        <option data-js-state_postcode="37" value="349">SALAMANCA</option>
        <option data-js-state_postcode="38" value="350">SANTA CRUZ DE TENERIFE</option>
        <option data-js-state_postcode="40" value="352">SEGOVIA</option>
        <option data-js-state_postcode="41" value="353">SEVILLA</option>
        <option data-js-state_postcode="42" value="354">SORIA</option>
        <option data-js-state_postcode="43" value="355">TARRAGONA</option>
        <option data-js-state_postcode="44" value="356">TERUEL</option>
        <option data-js-state_postcode="45" value="357">TOLEDO</option>
        <option data-js-state_postcode="46" value="358">VALENCIA / VALÉNCIA</option>
        <option data-js-state_postcode="47" value="359">VALLADOLID</option>
        <option data-js-state_postcode="49" value="361">ZAMORA</option>
        <option data-js-state_postcode="50" value="362">ZARAGOZA</option>
</select>