<select data-js-country="" name="country" class="form-select" disabled="">
        <option value="">Elija un país</option>
        <option data-zip-code="" data-prefix="93" data-iso-code="AF" value="231">Afganistán</option>
        <option data-zip-code="NNNN" data-prefix="355" data-iso-code="AL" value="230">Albania</option>
        <option data-zip-code="NNNNN" data-prefix="49" data-iso-code="DE" value="1">Alemania</option>
        <option data-zip-code="CNNN" data-prefix="376" data-iso-code="AD" value="40">Andorra</option>
        <option data-zip-code="" data-prefix="244" data-iso-code="AO" value="41">Angola</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="AI" value="42">Anguila</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="AQ" value="232">Antártida</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="AG" value="43">Antigua y Barbuda</option>
        <option data-zip-code="" data-prefix="599" data-iso-code="AN" value="157">Antillas Neerlandesas</option>
        <option data-zip-code="" data-prefix="966" data-iso-code="SA" value="188">Arabia Saudita</option>
        <option data-zip-code="NNNNN" data-prefix="213" data-iso-code="DZ" value="38">Argelia</option>
        <option data-zip-code="LNNNN" data-prefix="54" data-iso-code="AR" value="44">Argentina</option>
        <option data-zip-code="NNNN" data-prefix="374" data-iso-code="AM" value="45">Armenia</option>
        <option data-zip-code="" data-prefix="297" data-iso-code="AW" value="46">Aruba</option>
        <option data-zip-code="NNNN" data-prefix="61" data-iso-code="AU" value="24">Australia</option>
        <option data-zip-code="NNNN" data-prefix="43" data-iso-code="AT" value="2">Austria</option>
        <option data-zip-code="CNNNN" data-prefix="994" data-iso-code="AZ" value="47">Azerbaiyán</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="BS" value="48">Bahamas</option>
        <option data-zip-code="" data-prefix="973" data-iso-code="BH" value="49">Bahrein</option>
        <option data-zip-code="NNNN" data-prefix="880" data-iso-code="BD" value="50">Bangladesh</option>
        <option data-zip-code="CNNNNN" data-prefix="0" data-iso-code="BB" value="51">Barbados</option>
        <option data-zip-code="NNNNNN" data-prefix="0" data-iso-code="BY" value="52">Belarús</option>
        <option data-zip-code="NNNN" data-prefix="32" data-iso-code="BE" value="3">Bélgica</option>
        <option data-zip-code="" data-prefix="501" data-iso-code="BZ" value="53">Belice</option>
        <option data-zip-code="" data-prefix="229" data-iso-code="BJ" value="54">Benin</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="BM" value="55">Bermudas</option>
        <option data-zip-code="" data-prefix="975" data-iso-code="BT" value="56">Bhután</option>
        <option data-zip-code="" data-prefix="95" data-iso-code="MM" value="61">Birmania (Myanmar)</option>
        <option data-zip-code="" data-prefix="591" data-iso-code="BO" value="34">Bolivia</option>
        <option data-zip-code="" data-prefix="387" data-iso-code="BA" value="233">Bosnia y Herzegovina</option>
        <option data-zip-code="" data-prefix="267" data-iso-code="BW" value="57">Botswana</option>
        <option data-zip-code="NNNNN-NNN" data-prefix="55" data-iso-code="BR" value="58">Brasil</option>
        <option data-zip-code="LLLL NLL" data-prefix="0" data-iso-code="IO" value="235">British Indian Ocean Territory</option>
        <option data-zip-code="LLNNNN" data-prefix="673" data-iso-code="BN" value="59">Brunei</option>
        <option data-zip-code="NNNN" data-prefix="359" data-iso-code="BG" value="236">Bulgaria</option>
        <option data-zip-code="" data-prefix="226" data-iso-code="BF" value="60">Burkina Faso</option>
        <option data-zip-code="" data-prefix="257" data-iso-code="BI" value="62">Burundi</option>
        <option data-zip-code="NNNN" data-prefix="238" data-iso-code="CV" value="65">Cabo Verde</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="KY" value="237">Caimán, Islas</option>
        <option data-zip-code="NNNNN" data-prefix="855" data-iso-code="KH" value="63">Camboya</option>
        <option data-zip-code="" data-prefix="237" data-iso-code="CM" value="64">Camerún</option>
        <option data-zip-code="LNL NLN" data-prefix="1" data-iso-code="CA" value="4">Canadá</option>
        <option data-zip-code="" data-prefix="235" data-iso-code="TD" value="67">Chad</option>
        <option data-zip-code="NNN-NNNN" data-prefix="56" data-iso-code="CL" value="68">Chile</option>
        <option data-zip-code="NNNNNN" data-prefix="86" data-iso-code="CN" value="5">China</option>
        <option data-zip-code="NNNN" data-prefix="357" data-iso-code="CY" value="76">Chipre</option>
        <option data-zip-code="NNNNN" data-prefix="379" data-iso-code="VA" value="107">Ciudad del Vaticano</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="CC" value="239">Cocos (Keeling), Islas</option>
        <option data-zip-code="NNNNNN" data-prefix="57" data-iso-code="CO" value="69">Colombia</option>
        <option data-zip-code="" data-prefix="269" data-iso-code="KM" value="70">Comoras</option>
        <option data-zip-code="" data-prefix="242" data-iso-code="CD" value="71">Congo, Rep. Dem.</option>
        <option data-zip-code="" data-prefix="243" data-iso-code="CG" value="72">Congo, República</option>
        <option data-zip-code="" data-prefix="682" data-iso-code="CK" value="240">Cook, Islas</option>
        <option data-zip-code="NNN-NNN" data-prefix="82" data-iso-code="KR" value="28">Corea del Sur</option>
        <option data-zip-code="" data-prefix="225" data-iso-code="CI" value="32">Costa de Marfil</option>
        <option data-zip-code="NNNNN" data-prefix="506" data-iso-code="CR" value="73">Costa Rica</option>
        <option data-zip-code="NNNNN" data-prefix="385" data-iso-code="HR" value="74">Croacia</option>
        <option data-zip-code="" data-prefix="53" data-iso-code="CU" value="75">Cuba</option>
        <option data-zip-code="NNNN" data-prefix="45" data-iso-code="DK" value="20">Dinamarca</option>
        <option data-zip-code="" data-prefix="253" data-iso-code="DJ" value="77">Djibouti</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="DM" value="78">Dominica</option>
        <option data-zip-code="CNNNNNN" data-prefix="593" data-iso-code="EC" value="81">Ecuador</option>
        <option data-zip-code="NNNNN" data-prefix="1" data-iso-code="US" value="21">EE.UU.</option>
        <option data-zip-code="" data-prefix="20" data-iso-code="EG" value="82">Egipto</option>
        <option data-zip-code="" data-prefix="503" data-iso-code="SV" value="83">El Salvador</option>
        <option data-zip-code="" data-prefix="971" data-iso-code="AE" value="217">Emiratos árabes Unidos</option>
        <option data-zip-code="" data-prefix="291" data-iso-code="ER" value="85">Eritrea</option>
        <option data-zip-code="NNN NN" data-prefix="421" data-iso-code="SK" value="37">Eslovaquia</option>
        <option data-zip-code="C-NNNN" data-prefix="386" data-iso-code="SI" value="193">Eslovenia</option>
        <option data-zip-code="NNNNN" data-prefix="34" data-iso-code="ES" value="6">España</option>
        <option data-zip-code="NNNNN" data-prefix="372" data-iso-code="EE" value="86">Estonia</option>
        <option data-zip-code="" data-prefix="251" data-iso-code="ET" value="87">Etiopía</option>
        <option data-zip-code="" data-prefix="679" data-iso-code="FJ" value="90">Fiji</option>
        <option data-zip-code="NNNN" data-prefix="63" data-iso-code="PH" value="172">Filipinas</option>
        <option data-zip-code="NNNNN" data-prefix="358" data-iso-code="FI" value="7">Finlandia</option>
        <option data-zip-code="" data-prefix="594" data-iso-code="GF" value="241">Francés Guayana</option>
        <option data-zip-code="NNNNN" data-prefix="33" data-iso-code="FR" value="8">Francia</option>
        <option data-zip-code="" data-prefix="241" data-iso-code="GA" value="91">Gabón</option>
        <option data-zip-code="" data-prefix="220" data-iso-code="GM" value="92">Gambia</option>
        <option data-zip-code="NNNN" data-prefix="995" data-iso-code="GE" value="93">Georgia</option>
        <option data-zip-code="LLLL NLL" data-prefix="0" data-iso-code="GS" value="196">Georgia del Sur e Islas Sandwich del Sur</option>
        <option data-zip-code="" data-prefix="233" data-iso-code="GH" value="94">Ghana</option>
        <option data-zip-code="" data-prefix="350" data-iso-code="GI" value="97">Gibraltar</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="GD" value="95">Granada</option>
        <option data-zip-code="NNNNN" data-prefix="30" data-iso-code="GR" value="9">Grecia</option>
        <option data-zip-code="" data-prefix="299" data-iso-code="GL" value="96">Groenlandia</option>
        <option data-zip-code="" data-prefix="590" data-iso-code="GP" value="98">Guadalupe</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="GU" value="99">Guam</option>
        <option data-zip-code="" data-prefix="502" data-iso-code="GT" value="100">Guatemala</option>
        <option data-zip-code="LLN NLL" data-prefix="0" data-iso-code="GG" value="101">Guernsey</option>
        <option data-zip-code="" data-prefix="224" data-iso-code="GN" value="102">Guinea</option>
        <option data-zip-code="" data-prefix="240" data-iso-code="GQ" value="84">Guinea Ecuatorial</option>
        <option data-zip-code="" data-prefix="245" data-iso-code="GW" value="103">Guinea-Bissau</option>
        <option data-zip-code="" data-prefix="592" data-iso-code="GY" value="104">Guyana</option>
        <option data-zip-code="" data-prefix="509" data-iso-code="HT" value="105">Haití</option>
        <option data-zip-code="" data-prefix="504" data-iso-code="HN" value="108">Honduras</option>
        <option data-zip-code="" data-prefix="852" data-iso-code="HK" value="22">Hong Kong</option>
        <option data-zip-code="NNNN" data-prefix="36" data-iso-code="HU" value="143">Hungría</option>
        <option data-zip-code="NNN NNN" data-prefix="91" data-iso-code="IN" value="110">India</option>
        <option data-zip-code="NNNNN" data-prefix="62" data-iso-code="ID" value="111">Indonesia</option>
        <option data-zip-code="NNNNN-NNNNN" data-prefix="98" data-iso-code="IR" value="112">Irán</option>
        <option data-zip-code="NNNNN" data-prefix="964" data-iso-code="IQ" value="113">Iraq</option>
        <option data-zip-code="" data-prefix="353" data-iso-code="IE" value="26">Irlanda</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="BV" value="234">Isla Bouvet</option>
        <option data-zip-code="NNN" data-prefix="354" data-iso-code="IS" value="109">Islandia</option>
        <option data-zip-code="NNNNN" data-prefix="0" data-iso-code="AX" value="244">Islas Åland</option>
        <option data-zip-code="" data-prefix="298" data-iso-code="FO" value="89">Islas Feroe</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="HM" value="106">Islas Heard y McDonald Islas</option>
        <option data-zip-code="LLLL NLL" data-prefix="0" data-iso-code="FK" value="88">Islas Malvinas</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="MP" value="163">Islas Marianas del Norte</option>
        <option data-zip-code="LLLL NLL" data-prefix="0" data-iso-code="TC" value="213">Islas Turcas y Caicos</option>
        <option data-zip-code="CNNNN" data-prefix="0" data-iso-code="VG" value="223">Islas Vírgenes (Británicas)</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="VI" value="224">Islas Vírgenes (EE.UU.)</option>
        <option data-zip-code="NNNNN" data-prefix="972" data-iso-code="IL" value="29">Israel</option>
        <option data-zip-code="NNNNN" data-prefix="39" data-iso-code="IT" value="10">Italia</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="JM" value="115">Jamaica</option>
        <option data-zip-code="NNN-NNNN" data-prefix="81" data-iso-code="JP" value="11">Japón</option>
        <option data-zip-code="CN NLL" data-prefix="0" data-iso-code="JE" value="116">Jersey</option>
        <option data-zip-code="" data-prefix="962" data-iso-code="JO" value="117">Jordania</option>
        <option data-zip-code="NNNNNN" data-prefix="7" data-iso-code="KZ" value="118">Kazajstán</option>
        <option data-zip-code="" data-prefix="254" data-iso-code="KE" value="119">Kenya</option>
        <option data-zip-code="" data-prefix="996" data-iso-code="KG" value="123">Kirguistán</option>
        <option data-zip-code="" data-prefix="686" data-iso-code="KI" value="120">Kiribati</option>
        <option data-zip-code="" data-prefix="850" data-iso-code="KP" value="121">KOREA, DEM. República de</option>
        <option data-zip-code="" data-prefix="965" data-iso-code="KW" value="122">Kuwait</option>
        <option data-zip-code="" data-prefix="856" data-iso-code="LA" value="124">Laos</option>
        <option data-zip-code="" data-prefix="266" data-iso-code="LS" value="127">Lesotho</option>
        <option data-zip-code="C-NNNN" data-prefix="371" data-iso-code="LV" value="125">Letonia</option>
        <option data-zip-code="" data-prefix="961" data-iso-code="LB" value="126">Líbano</option>
        <option data-zip-code="" data-prefix="231" data-iso-code="LR" value="128">Liberia</option>
        <option data-zip-code="" data-prefix="218" data-iso-code="LY" value="129">Libia</option>
        <option data-zip-code="NNNN" data-prefix="423" data-iso-code="LI" value="130">Liechtenstein</option>
        <option data-zip-code="NNNNN" data-prefix="370" data-iso-code="LT" value="131">Lituania</option>
        <option data-zip-code="NNNN" data-prefix="352" data-iso-code="LU" value="12">Luxemburgo</option>
        <option data-zip-code="" data-prefix="853" data-iso-code="MO" value="132">Macao</option>
        <option data-zip-code="" data-prefix="389" data-iso-code="MK" value="133">Macedonia</option>
        <option data-zip-code="" data-prefix="261" data-iso-code="MG" value="134">Madagascar</option>
        <option data-zip-code="NNNNN" data-prefix="60" data-iso-code="MY" value="136">Malasia</option>
        <option data-zip-code="" data-prefix="265" data-iso-code="MW" value="135">Malawi</option>
        <option data-zip-code="" data-prefix="960" data-iso-code="MV" value="137">Maldivas</option>
        <option data-zip-code="" data-prefix="223" data-iso-code="ML" value="138">Malí</option>
        <option data-zip-code="LLL NNNN" data-prefix="356" data-iso-code="MT" value="139">Malta</option>
        <option data-zip-code="CN NLL" data-prefix="0" data-iso-code="IM" value="114">Man, Isla</option>
        <option data-zip-code="NNNNN" data-prefix="212" data-iso-code="MA" value="152">Marruecos</option>
        <option data-zip-code="" data-prefix="692" data-iso-code="MH" value="140">Marshall, Islas</option>
        <option data-zip-code="" data-prefix="596" data-iso-code="MQ" value="141">Martinica</option>
        <option data-zip-code="" data-prefix="230" data-iso-code="MU" value="35">Mauricio</option>
        <option data-zip-code="" data-prefix="222" data-iso-code="MR" value="142">Mauritania</option>
        <option data-zip-code="" data-prefix="262" data-iso-code="YT" value="144">Mayotte</option>
        <option data-zip-code="NNNNN" data-prefix="52" data-iso-code="MX" value="145">México</option>
        <option data-zip-code="" data-prefix="691" data-iso-code="FM" value="146">Micronesia</option>
        <option data-zip-code="C-NNNN" data-prefix="373" data-iso-code="MD" value="147">Moldavia</option>
        <option data-zip-code="980NN" data-prefix="377" data-iso-code="MC" value="148">Mónaco</option>
        <option data-zip-code="" data-prefix="976" data-iso-code="MN" value="149">Mongolia</option>
        <option data-zip-code="NNNNN" data-prefix="382" data-iso-code="ME" value="150">Montenegro</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="MS" value="151">Montserrat</option>
        <option data-zip-code="" data-prefix="258" data-iso-code="MZ" value="153">Mozambique</option>
        <option data-zip-code="" data-prefix="264" data-iso-code="NA" value="154">Namibia</option>
        <option data-zip-code="" data-prefix="674" data-iso-code="NR" value="155">Nauru</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="CX" value="238">Navidad, Isla de</option>
        <option data-zip-code="" data-prefix="977" data-iso-code="NP" value="156">Nepal</option>
        <option data-zip-code="NNNNNN" data-prefix="505" data-iso-code="NI" value="159">Nicaragua</option>
        <option data-zip-code="" data-prefix="227" data-iso-code="NE" value="160">Níger</option>
        <option data-zip-code="" data-prefix="234" data-iso-code="NG" value="31">Nigeria</option>
        <option data-zip-code="" data-prefix="683" data-iso-code="NU" value="161">Niue</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="NF" value="162">Norfolk Island</option>
        <option data-zip-code="NNNN" data-prefix="47" data-iso-code="NO" value="23">Noruega</option>
        <option data-zip-code="" data-prefix="687" data-iso-code="NC" value="158">Nueva Caledonia</option>
        <option data-zip-code="NNNN" data-prefix="64" data-iso-code="NZ" value="27">Nueva Zelanda</option>
        <option data-zip-code="" data-prefix="968" data-iso-code="OM" value="164">Omán</option>
        <option data-zip-code="NNNN LL" data-prefix="31" data-iso-code="NL" value="13">Países Bajos</option>
        <option data-zip-code="" data-prefix="92" data-iso-code="PK" value="165">Pakistán</option>
        <option data-zip-code="" data-prefix="680" data-iso-code="PW" value="166">Palau</option>
        <option data-zip-code="NNNNNN" data-prefix="507" data-iso-code="PA" value="168">Panamá</option>
        <option data-zip-code="" data-prefix="675" data-iso-code="PG" value="169">Papua Nueva Guinea</option>
        <option data-zip-code="" data-prefix="595" data-iso-code="PY" value="170">Paraguay</option>
        <option data-zip-code="" data-prefix="51" data-iso-code="PE" value="171">Perú</option>
        <option data-zip-code="LLLL NLL" data-prefix="0" data-iso-code="PN" value="173">Pitcairn</option>
        <option data-zip-code="" data-prefix="689" data-iso-code="PF" value="242">Polinesia francés</option>
        <option data-zip-code="NN-NNN" data-prefix="48" data-iso-code="PL" value="14">Polonia</option>
        <option data-zip-code="NNNN NNN" data-prefix="351" data-iso-code="PT" value="15">Portugal</option>
        <option data-zip-code="NNNNN" data-prefix="0" data-iso-code="PR" value="174">Puerto Rico</option>
        <option data-zip-code="" data-prefix="974" data-iso-code="QA" value="175">Qatar</option>
        <option data-zip-code="" data-prefix="44" data-iso-code="GB" value="17">Reino Unido</option>
        <option data-zip-code="" data-prefix="236" data-iso-code="CF" value="66">República Centroafricana</option>
        <option data-zip-code="NNN NN" data-prefix="420" data-iso-code="CZ" value="16">República Checa</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="DO" value="79">República Dominicana</option>
        <option data-zip-code="" data-prefix="262" data-iso-code="RE" value="176">Reunión, Isla de la</option>
        <option data-zip-code="NNNNNN" data-prefix="40" data-iso-code="RO" value="36">Rumania</option>
        <option data-zip-code="NNNNNN" data-prefix="7" data-iso-code="RU" value="177">Rusia, Federación de</option>
        <option data-zip-code="" data-prefix="250" data-iso-code="RW" value="178">Rwanda</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="EH" value="226">Sáhara Occidental</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="KN" value="180">Saint Kitts y Nevis</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="MF" value="182">Saint Martin</option>
        <option data-zip-code="" data-prefix="677" data-iso-code="SB" value="194">Salomón, Islas</option>
        <option data-zip-code="" data-prefix="685" data-iso-code="WS" value="185">Samoa</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="AS" value="39">Samoa Americana</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="BL" value="179">San Bartolomé</option>
        <option data-zip-code="NNNNN" data-prefix="378" data-iso-code="SM" value="186">San Marino</option>
        <option data-zip-code="" data-prefix="508" data-iso-code="PM" value="183">San Pedro y Miquelón</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="VC" value="184">San Vicente y las Granadinas</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="LC" value="181">Santa Lucía</option>
        <option data-zip-code="" data-prefix="239" data-iso-code="ST" value="187">Santo Tomé y Príncipe</option>
        <option data-zip-code="" data-prefix="221" data-iso-code="SN" value="189">Senegal</option>
        <option data-zip-code="NNNNN" data-prefix="381" data-iso-code="RS" value="190">Serbia</option>
        <option data-zip-code="" data-prefix="248" data-iso-code="SC" value="191">Seychelles</option>
        <option data-zip-code="" data-prefix="232" data-iso-code="SL" value="192">Sierra Leona</option>
        <option data-zip-code="NNNNNN" data-prefix="65" data-iso-code="SG" value="25">Singapur</option>
        <option data-zip-code="" data-prefix="963" data-iso-code="SY" value="202">Siria</option>
        <option data-zip-code="" data-prefix="252" data-iso-code="SO" value="195">Somalia</option>
        <option data-zip-code="NNNNN" data-prefix="94" data-iso-code="LK" value="197">Sri Lanka</option>
        <option data-zip-code="NNNN" data-prefix="27" data-iso-code="ZA" value="30">Sudáfrica</option>
        <option data-zip-code="" data-prefix="249" data-iso-code="SD" value="198">Sudán</option>
        <option data-zip-code="NNN NN" data-prefix="46" data-iso-code="SE" value="18">Suecia</option>
        <option data-zip-code="NNNN" data-prefix="41" data-iso-code="CH" value="19">Suiza</option>
        <option data-zip-code="" data-prefix="597" data-iso-code="SR" value="199">Suriname</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="SJ" value="200">Svalbard y Jan Mayen</option>
        <option data-zip-code="" data-prefix="268" data-iso-code="SZ" value="201">Swazilandia</option>
        <option data-zip-code="NNNNN" data-prefix="66" data-iso-code="TH" value="206">Tailandia</option>
        <option data-zip-code="NNNNN" data-prefix="886" data-iso-code="TW" value="203">Taiwán</option>
        <option data-zip-code="" data-prefix="255" data-iso-code="TZ" value="205">Tanzania</option>
        <option data-zip-code="" data-prefix="992" data-iso-code="TJ" value="204">Tayikistán</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="TF" value="243">Territorios del sur francés</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="PS" value="167">Territorios Palestinos</option>
        <option data-zip-code="" data-prefix="670" data-iso-code="TL" value="80">Timor Oriental</option>
        <option data-zip-code="" data-prefix="228" data-iso-code="TG" value="33">Togo</option>
        <option data-zip-code="" data-prefix="690" data-iso-code="TK" value="207">Tokelau</option>
        <option data-zip-code="" data-prefix="676" data-iso-code="TO" value="208">Tonga</option>
        <option data-zip-code="" data-prefix="0" data-iso-code="TT" value="209">Trinidad y Tobago</option>
        <option data-zip-code="" data-prefix="216" data-iso-code="TN" value="210">Túnez</option>
        <option data-zip-code="" data-prefix="993" data-iso-code="TM" value="212">Turkmenistán</option>
        <option data-zip-code="NNNNN" data-prefix="90" data-iso-code="TR" value="211">Turquía</option>
        <option data-zip-code="" data-prefix="688" data-iso-code="TV" value="214">Tuvalu</option>
        <option data-zip-code="NNNNN" data-prefix="380" data-iso-code="UA" value="216">Ucrania</option>
        <option data-zip-code="" data-prefix="256" data-iso-code="UG" value="215">Uganda</option>
        <option data-zip-code="" data-prefix="598" data-iso-code="UY" value="218">Uruguay</option>
        <option data-zip-code="" data-prefix="998" data-iso-code="UZ" value="219">Uzbekistán</option>
        <option data-zip-code="" data-prefix="678" data-iso-code="VU" value="220">Vanuatu</option>
        <option data-zip-code="" data-prefix="58" data-iso-code="VE" value="221">Venezuela</option>
        <option data-zip-code="NNNNNN" data-prefix="84" data-iso-code="VN" value="222">Vietnam</option>
        <option data-zip-code="" data-prefix="681" data-iso-code="WF" value="225">Wallis y Futuna</option>
        <option data-zip-code="" data-prefix="967" data-iso-code="YE" value="227">Yemen</option>
        <option data-zip-code="" data-prefix="260" data-iso-code="ZM" value="228">Zambia</option>
        <option data-zip-code="" data-prefix="263" data-iso-code="ZW" value="229">Zimbabwe</option>
</select>