<div data-js-step3="" data-shoppingcart-step="3" class="shoppingCartStep shoppingCartStep--active">
        <div class="shoppingCartStep-title">
                <b class="shoppingCartStep-number">3</b>
                Método de envío                        <a data-js-edit_button="3" class="form-action shoppingCartStep-buttonEdit" href="">
                <i class="icon fa fa-pencil"></i> Editar                        </a>
        </div>
        <div class="shoppingCartStep-info">
                <div class="modularGrid">
                        <div data-js-img_carrier="" class="modularGrid-module">
                                <!--<img src="http://192.168.1.211/bigbuy_e/public/img/carrier/chrono_mini.png">-->
                                <table></table>
                        </div>
                </div>
        </div>
        <div class="shoppingCartStep-content">
                <form class="form form--inline" action="">
                        <div class="modularGrid">
                                <div data-js-carrier_list_content="" class="modularGrid-module u-brb u-pdb">
                                       <table class="table table--border table--interactive">
                    <thead class="table-thead">
                        <tr class="table-tr">
                            <th class="table-item u-xs-5"></th>
                            <th class="table-item">Nombre</th>
                            <th class="table-item">Entrega</th>
                            <th class="table-item">Coste</th>
                        </tr>
                    </thead>
                    <tbody data-js-carrier_list="" class="table-tbody"><tr class="table-tr"><td class="table-item"><input type="radio" data-js-carrier_item="0" data-js-carrier_name="recogida almacen" class="form-radio" name="shipping_method" id="recogida almacenradio" value="55"></td><td class="table-item"><label for="recogida almacenradio" class="form-label form-label--inline">Recogida almacen</label></td><td class="table-item"></td><td class="table-item">0,00 €</td></tr><tr class="table-tr"><td class="table-item"><input type="radio" data-js-carrier_item="256" data-js-carrier_name="gls" class="form-radio" name="shipping_method" id="glsradio" value="49"></td><td class="table-item"><label for="glsradio" class="form-label form-label--inline"><img src="http://192.168.1.211/bigbuy_e/public/img/carrier/gls_mini.png" class="form-img"></label></td><td class="table-item">2-3 días</td><td class="table-item">8,40 €</td></tr></tbody>
                </table>
                                </div>


                                <div class="modularGrid-module u-md-50 u-pdt u-sm-pdr">
                                        <label class="form-label">
                                                Nota para el transportista visible en la etiqueta
                                                <span data-js-tooltip="tooltip_courier_comments" class="form-info">
                                                <img class="icon icon--inline" src="../../img/icons/info.svg">

                                                </span>
                                                <em data-js-state-op="" class="form-label--optional"><span data-js_max="40" data-js-carrier_comments_chars="">40</span> Car.</em>

                                        </label>
                                        <div class="modularGrid-module">
                                                <input type="text" data-js-cuenta_caracteres="data-js-carrier_comments" data-js-carrier_comments="" maxlength="255" class="form-input">
                                        </div>
                                </div>


                                <div data-js-ref_interna_content="" class="modularGrid-module u-md-50 u-sm-pdr ">
                                        <label class="form-label u-pdt">
                                                Su referencia interna
                                                <span data-js-tooltip="ref_interna" class="form-info">
                                                <img class="icon icon--inline" src="../../img/icons/info.svg">
                                                </span>
                                                <em data-js-state-op="" class="form-label--optional">Opcional</em>
                                        </label>
                                        <div class="modularGrid-module">
                                                <input type="text" maxlength="12" data-js-referencia_interna="" class="form-input"/>
                                        </div>
                                </div>
                                <div class="modularGrid-module u-xs-60 u-sm-35 u-md-25 u-lg-20 u-xl-15 u-pdt--half u-pdb">
                                        <button data-js-continuar-address="" class="button  button--primary button--full">Continuar</button>
                                </div>
                        </div>
                </form>
        </div>
</div>
