<div data-js-step4="" data-shoppingcart-step="4" class="shoppingCartStep shoppingCartStep--active">
        <div class="shoppingCartStep-title">
                <b class="shoppingCartStep-number">4</b>
                Información de pago
                <a data-js-edit_button="4" class="form-action shoppingCartStep-buttonEdit" href=""><i class="icon fa fa-pencil"></i>Editar</a>
        </div>
        <div class="shoppingCartStep-info">
                <div class="modularGrid u-pdt--half">
                        <div data-js-payment-ico="" class="modularGrid-module u-xs-10">
                                <i class="icon icon-card icon-card--visa"> </i>
                        </div>
                        <div data-js-payment-text="" class="modularGrid-module u-xs-70 u-pdt--third u-pdl--half">

                        </div>
                </div>
        </div>
        <div  class="shoppingCartStep-content">
                <form data-js-payment_list="" class="form form--inline" action="">
                        <div class="modularGrid">
                                <div data-js-payment-grid="paypal" class="modularGrid-module">
                                        <fieldset data-js-fieldset="paypal" class="form-fieldset form-fieldset--borderless  u-pdt--half">
                                                <div class="modularGrid">
                                                        <div class="modularGrid-module u-xs-40">
                                                                <input type="radio" checked="checked" data-js-payment_item="" class="form-radio" name="payment_card" id="paypal" value="paypal">
                                                                <label for="paypal" class="form-label form-label--inline"><strong>PayPal</strong> </label>
                                                        </div>
                                                        <div class="modularGrid-module u-xs-60 u-tar">
                                                                <i class="icon icon-card icon-card--mini icon-card--paypal shoppingCart-card"></i>
                                                                <em data-js-tooltip="tooltip_paypal" class="form-info ">



                                                                <img class="icon icon--inline" src="../../img/icons/info.svg">

                                                                ¿Qué es PayPal?</em>
                                                        </div>
                                                        <div style="display: none"><input type="radio" data-js-paypal_record="" checked="checked" class="form-radio" name="paypal_type" id="paypal_type_record" value="1">
                                                        </div>
                                                </div>
                                        </fieldset>
                                </div>

                                <div data-js-payment-grid="credit" class="modularGrid-module">
                                        <fieldset data-js-fieldset="credit" class="form-fieldset form-fieldset--borderless  u-pdt--half">
                                                <div class="modularGrid">
                                                        <div class="modularGrid-module u-xs">
                                                                <input type="radio" data-js-payment_item="" class="form-radio" name="payment_card" id="credit" value="credit">
                                                                <label for="credit" class="form-label form-label--inline"><strong>Tarjeta de crédito (by PayPal)</strong></label>
                                                        </div>
                                                </div>
                                        </fieldset>
                                </div>

                                <div data-js-payment-grid="transferencia" class="modularGrid-module">
                                        <fieldset data-js-fieldset="transferencia" class="form-fieldset form-fieldset--borderless  u-pdt--half">
                                                <div class="modularGrid">
                                                        <div class="modularGrid-module">
                                                                <input type="radio" data-js-payment_item="" class="form-radio" name="payment_card" id="transferencia" value="transferencia">
                                                                <label for="transferencia" class="form-label form-label--inline"><strong>Transferencia bancaria</strong></label>
                                                        </div>
                                                        <fieldset style="display: none" class="form-fieldset form-fieldset--borderless ">
                                                                <div data-js-payment_info="transferencia" class="modularGrid-module u-pdl u-pdb">
                                                                        <p>Al finalizar el proceso de compra, se le enviará un correo con las instrucciones que debe seguir.</p>
                                                                </div>
                                                        </fieldset>
                                                </div>
                                        </fieldset>
                                </div>

                                <div data-js-payment-grid="contrarrembolso" class="modularGrid-module">
                                        <fieldset data-js-fieldset="contrarrembolso" class="form-fieldset form-fieldset--borderless  u-pdt--half">
                                                <div class="modularGrid">
                                                        <div class="modularGrid-module">
                                                                <input type="radio" data-js-payment_item="" class="form-radio" name="payment_card" id="contrarrembolso" value="contrarrembolso">
                                                                <label for="contrarrembolso" class="form-label form-label--inline"><strong>Contra reembolso</strong></label>
                                                        </div>
                                                        <fieldset style="display:none" class="form-fieldset form-fieldset--borderless">
                                                                <div data-js-payment_info="contrarrembolso" class="modularGrid-module u-pdl u-pdb">
                                                                        <p>El importe total de la compra se abonará al transportista en el domicilio.</p>
                                                                </div>
                                                        </fieldset>
                                                </div>
                                        </fieldset>
                                </div>

                                <div data-js-payment-grid="monedero" class="modularGrid-module">
                                        <fieldset class="form-fieldset form-fieldset--borderless  u-pdt--half">
                                                <div class="modularGrid">
                                                        <div class="modularGrid-module">
                                                                <input type="radio" data-js-payment_item="" class="form-radio" name="payment_card" id="monedero" value="monedero">
                                                                <label for="monedero" class="form-label form-label--inline"><strong>Monedero 44.703,40 €</strong></label>
                                                        </div>
                                                </div>
                                        </fieldset>
                                </div>


                                <div class="modularGrid">

                                        <div class="modularGrid-module u-xs-60 u-sm-35 u-md-25 u-lg-20 u-xl-15 u-pdb u-pdt">
                                                <button data-js-button-next-carrier="" class="button  button--primary button--full">Continuar</button>
                                        </div>
                                </div>
                        </div>
                </form>
        </div>
</div>

