<section class="ventaCMS-section u-brt">
    <div class="ventaCMS-subsection u-xs u-elem-center">
       {{!--  <h2 class="ventaCMS-sectionTitle">Pasos de la compra</h2> --}}

        <table class="table table--comparative u-pd u-mgt " data-js-accordion="accordion" data-js-accordion_selected_class="table-tr--selected">

            <tbody class="table-tbody table-tbody--accordion">
                {{>step1}}
                {{>step2}}
                {{>step3}}
                {{>step4}}
            </tbody>
        </table>
    </div>
</section>