<div data-js-step1="" data-shoppingcart-step="1" class="shoppingCartStep shoppingCartStep--active">
  <div class="shoppingCartStep-title">
    <b class="shoppingCartStep-number">1</b>
    Información de facturación
    <a data-js-edit_button="1" class="form-action shoppingCartStep-buttonEdit" href=""><i class="icon fa fa-pencil"></i> Editar</a>
  </div>
  <div class="shoppingCartStep-info">
    <div class="modularGrid">
      <div data-js-invoice_address_text="" class="modularGrid-module u-mgt--half">
      </div>
    </div>
  </div>
  <div class="shoppingCartStep-content">
    <form data-js-shoppingcart-form="invoice" action="" method="post">
      <div class="modularGrid u-mgt--half">
        <fieldset data-js-content-address="" class="form-fieldset form-fieldset--borderless">
          <div class="modularGrid-module u-lg-70 u-xl-80">
            <select data-js-checkout_address="invoice" class="form-select" type="text">
              <option selected="selected" value="11199">292511466, Servicios Empresariales, Person Contact, C/ Nueva Calle 23, Contact 25005 Lleida LLEIDA Alemania</option>
              <option value="11136">458.302.130, Mourou Jeffrey, 57 Rue saint Fargeau B-32, Jeffrey 75020 Berlín PALMAS, LAS España</option>
              <option value="10965">20123456C, Empresa VAT invalido, C/ De pruebas 3456, VAT invalido 46008 Valencia VALENCIA / VALÉNCIA Francia</option>
            </select>
          </div>
        </fieldset>
        <fieldset data-js-address-information="contenedor" class="form-fieldset form-fieldset--borderless u-mgb" style="">
          <p class="form-description">Datos seleccionados</p>



          <div class="modularGrid-module u-xs-30">
            <strong>Razón social</strong>
          </div>
          <div class="modularGrid-module u-xs-70">
            Servicios Empresariales
          </div>







          <dl class="modularGrid list list-definition list-definition--inline list-definition--collapsed  u-mgb">

            <dt data-js-address-information-cab="vat_number" class="modularGrid-module list list-dt u-xs-30">NIF/CIF</dt>
            <dd data-js-address-information="vat_number" class="modularGrid-module list list-dd u-xs-70">292511466</dd>

            <dt data-js-address-information-cab="company" class="modularGrid-module list list-dt u-xs-30">Razón social</dt>
            <dd data-js-address-information="company" class="modularGrid-module list list-dd u-xs-70">Servicios Empresariales</dd>

            <dt data-js-address-information-cab="name" class="modularGrid-module list list-dt u-xs-30">Nombre</dt>
            <dd data-js-address-information="name" class="modularGrid-module list list-dd u-xs-70">Contact Person</dd>

            <dt data-js-address-information-cab="address1" class="modularGrid-module list list-dt u-xs-30">Dirección</dt>
            <dd data-js-address-information="address1" class="modularGrid-module list list-dd u-xs-70">C/ Nueva Calle 23</dd>

            <dt data-js-address-information-cab="postcode" class="modularGrid-module list list-dt u-xs-30">Código postal</dt>
            <dd data-js-address-information="postcode" class="modularGrid-module list list-dd u-xs-70">25005</dd>

            <dt data-js-address-information-cab="country" class="modularGrid-module list list-dt u-xs-30">País</dt>
            <dd data-js-address-information="country" class="modularGrid-module list list-dd u-xs-70">Alemania</dd>

            <dt data-js-address-information-cab="state" class="modularGrid-module list list-dt u-xs-30" style="display: none;">Provincia</dt>
            <dd data-js-address-information="state" class="modularGrid-module list list-dd u-xs-70" style="display: none;"></dd>

            <dt data-js-address-information-cab="city" class="modularGrid-module list list-dt u-xs-30">Localidad</dt>
            <dd data-js-address-information="city" class="modularGrid-module list list-dd u-xs-70">Lleida</dd>

            <dt data-js-address-information-cab="phone" class="modularGrid-module list list-dt u-xs-30">Teléfono</dt>
            <dd data-js-address-information="phone" class="modularGrid-module list list-dd u-xs-70">+34 654321789</dd>

            <dt data-js-address-information-cab="re" class="modularGrid-module list list-dt u-xs-30" style="display: none;">Recargo de equivalencia</dt>
            <dd data-js-address-information="re" class="modularGrid-module list list-dd u-xs-70"></dd>

          </dl>

          <div class="modularGrid">
            <div class="modularGrid-module u-xs-60 u-sm-35 u-md-25 u-lg-20 u-xl-15">
              <button data-js-continuar-address="" class="button  button--primary button--full">Continuar</button>
              <!--<span class="form-action form-action--inline u-mgl" data-js-editar-address="invoice"><i class="icon fa fa-pencil"></i> Editar información</span>-->
            </div>
          </div>

        </fieldset>
        <fieldset class="form-fieldset form-fieldset--borderless u-mgt">
          <div data-js-type_customer_content="" class="modularGrid u-mgb--half" style="display: none;">
            <div class="modularGrid-module u-xs-40">
              <input type="radio" checked="checked" value="1" id="tc_particular" name="type_customer" class="form-radio">
              <label class="form-label form-label--inline" for="tc_particular">Soy particular / emprendedor</label>
            </div>
            <div class="modularGrid-module u-xs-30">
              <input type="radio" value="2" id="tc_autonomo" name="type_customer" class="form-radio">
              <label class="form-label form-label--inline" for="tc_autonomo">Soy autónomo</label>
            </div>
            <div class="modularGrid-module u-xs-30">
              <input type="radio" value="3" id="tc_empresa" name="type_customer" class="form-radio">
              <label class="form-label form-label--inline" for="tc_empresa">Soy empresa</label>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-fieldset form-fieldset--borderless">
          <div style="display:none" data-js-form-content="particular" class="modularGrid">
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="name">Nombre</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;name&quot;:&quot;warning&quot;}" value="" maxlength="12" name="name" data-js-name="" class="form-input" disabled="">
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="name">Apellidos</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;name&quot;:&quot;warning&quot;}" value="" maxlength="24" name="surnames" data-js-surnames="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="country">País</label>
                {{>selectCountry}}
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="vat_number">NIF</label>
                <span data-js-country_prefix="" class="form-prefix"></span>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" maxlength="18" placeholder="" data-js-vat_number="" name="vat_number" class="form-input  form-input--prefix" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="postcode">Código postal</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;postcode&quot;:&quot;warning&quot;,&quot;field_length&quot;:&quot;warning&quot;}" data-js-minlength="3" maxlength="10" name="postcode" data-js-postcode="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="state">
                  Estado / Provincia                                <em data-js-state-op="" class="form-label--optional">Opcional</em>
                </label>
                {{>selectProvince}}
                <input type="text" maxlength="36" name="state" data-js-state="text" class="form-input" disabled="">
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="city">Localidad</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" maxlength="36" name="city" data-js-city="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module">
                <label class="form-label" for="address1">Dirección</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;address&quot;:&quot;warning&quot;}" maxlength="40" name="address1" data-js-address1="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="phone">Teléfono o Móvil</label>
                <input type="text" tabindex="60" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone_prefix&quot;:&quot;prefix&quot;}" maxlength="4" data-js-phone-prefix="" name="phone-prefix" class="form-input form-input-prefix u-xs-15" disabled="">
                <input type="text" data-js-resctricted="phone" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone&quot;:&quot;warning&quot;,&quot;field_length&quot;:&quot;warning&quot;}" data-js-minlength="8" maxlength="12" name="phone" data-js-phone="" class="form-input u-xs-80" disabled="">
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="phone_mobile">
                  Otro Teléfono o Móvil                                <em class="form-label--optional">Opcional</em>
                </label>
                <input type="text" tabindex="75" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone_prefix&quot;:&quot;prefix&quot;}" maxlength="4" data-js-phone-prefix="" name="phone-prefix" class="form-input form-input-prefix u-xs-15" disabled="">
                <input type="text" data-js-resctricted="phone" data-js-validate="{&quot;phone&quot;:&quot;warning&quot;,&quot;field_length&quot;:&quot;warning&quot;}" data-js-minlength="8" maxlength="12" name="phone_mobile" data-js-phone="" class="form-input u-xs-80" disabled="">
              </div>
            </div>
          </div>

          <div style="display:none" data-js-form-content="privado" class="modularGrid">
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="company">Razón social</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;company&quot;:&quot;warning&quot;}" maxlength="36" name="company" data-js-company="" class="form-input" disabled="">
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="comercial_name">
                  Nombre comercial                                <em class="form-label--optional">Opcional</em>
                </label>
                <input type="text" data-js-validate="{&quot;company&quot;:&quot;warning&quot;}" maxlength="36" name="comercial_name" data-js-comercial_name="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="country">País</label>
                {{>selectCountry}}
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="vat_number">CIF/NIF</label>
                <span data-js-country_prefix="" class="form-prefix">DE</span>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" maxlength="18" placeholder="" data-js-vat_number="" name="vat_number" class="form-input  form-input--prefix" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="postcode">Código postal</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;postcode&quot;:&quot;warning&quot;,&quot;field_length&quot;:&quot;warning&quot;}" data-js-minlength="3" maxlength="10" name="postcode" data-js-postcode="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="state">
                  Estado / Provincia                                <em data-js-state-op="" class="form-label--optional">Opcional</em>
                </label>
                {{>selectProvince}}
                <input type="text" maxlength="36" name="state" data-js-state="text" class="form-input" disabled="">
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="city">Localidad</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" maxlength="36" name="city" data-js-city="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module">
                <label class="form-label" for="address1">Dirección</label>
                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;address&quot;:&quot;warning&quot;}" maxlength="40" name="address1" data-js-address1="" class="form-input" disabled="">
              </div>
            </div>
            <div class="modularGrid">
              <div class="modularGrid-module u-xs-50">
                <label class="form-label" for="phone">Teléfono o Móvil</label>
                <input type="text" tabindex="90" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone_prefix&quot;:&quot;prefix&quot;}" maxlength="4" data-js-phone-prefix="" name="phone-prefix" class="form-input form-input-prefix u-xs-15" disabled="">
                <input type="text" data-js-resctricted="phone" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone&quot;:&quot;warning&quot;,&quot;field_length&quot;:&quot;warning&quot;}" data-js-minlength="8" maxlength="12" name="phone" data-js-phone="" class="form-input u-xs-80" disabled="">
              </div>
              <div class="modularGrid-module u-xs-50 u-pdl">
                <label class="form-label" for="url">
                  Página web                                <em class="form-label--optional">Opcional</em>
                </label>
                <span data-js-url-prefix="" class="form-prefix">http://</span>
                <input type="text" maxlength="64" data-js-url="" name="url" class="form-input  form-input--prefix" disabled="">
              </div>
            </div>

            <div style="display: none" data-js-form-recargo="" class="modularGrid">
              <div class="modularGrid-module">
                <label class="form-label form-label--inline" for="">Recargo de equivalencia</label>
                <em data-js-tooltip="recargo_equiv" class="form-info form-info--inline"> <i class="icon form-info-icon fa-info-circle"></i> ¿Qué es el R.E.?</em>
              </div>
              <div class="modularGrid-module u-xs-50">
                <div class="form-radiogroup">
                  <input type="radio" value="1" data-js-recargo="1" id="recargo1" name="recargo" class="form-radio" disabled="">
                  <label class="form-label form-label--inline" for="recargo1">Sí estoy sujeto al R.E.</label>
                  <input type="radio" checked="checked" value="0" data-js-recargo="0" id="recargo0" name="recargo" class="form-radio" disabled="">
                  <label class="form-label form-label--inline" for="recargo0">No estoy sujeto al R.E.</label>
                </div>
              </div>
            </div>

            <div class="modularGrid">
              <h3 class="form-fieldset-title u-mgt--half">Persona de contacto</h3>
              <div class="modularGrid">
                <div class="modularGrid-module u-xs-50">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;, &quot;name&quot;: &quot;warning&quot;}" maxlength="12" name="name" data-js-name_contact="" class="form-input" disabled="">
                </div>
                <div class="modularGrid-module u-xs-50 u-pdl">
                  <label for="surnames" class="form-label">Apellidos</label>
                  <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;, &quot;name&quot;: &quot;warning&quot;}" maxlength="24" name="surnames" data-js-name_contact="" class="form-input" disabled="">
                </div>
              </div>
              <div class="modularGrid">
                <div class="modularGrid-module u-xs-50">
                  <label for="phone_mobile" class="form-label">Teléfono o Móvil</label>
                  <input type="text" tabindex="105" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone_prefix&quot;:&quot;prefix&quot;}" maxlength="4" data-js-phone-prefix="" name="phone-prefix" class="form-input form-input-prefix u-xs-15" disabled="">
                  <input type="text" data-js-resctricted="phone" data-js-validate="{&quot;empty&quot;:&quot;required&quot;, &quot;phone&quot;: &quot;warning&quot;}" maxlength="12" name="phone_mobile" data-js-phone_mobile="" class="form-input u-xs-80" disabled="">
                </div>
                <div class="modularGrid-module u-xs-50 u-pdl">
                  <label for="phone_mobile2" class="form-label">
                    Otro Teléfono o Móvil                                    <em data-js-state-op="" class="form-label--optional">Opcional</em>
                  </label>
                  <input type="text" tabindex="120" data-js-validate="{&quot;empty&quot;:&quot;required&quot;,&quot;phone_prefix&quot;:&quot;prefix&quot;}" maxlength="4" data-js-phone-prefix="" name="phone-prefix" class="form-input form-input-prefix u-xs-15" disabled="">
                  <input type="text" data-js-resctricted="phone" data-js-validate="{&quot;phone&quot;: &quot;warning&quot;}" maxlength="12" name="phone_mobile2" data-js-phone_mobile2="" class="form-input u-xs-80" disabled="">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <div style="display: none" data-js-send="invoice" class="modularGrid u-mgb">
        <div class="modularGrid-module u-mgt--half">
          <button data-js-validate-form="invoice" class="button button--primary">Guardar</button>
          <a data-js-prev="" class="form-action  form-action--inline u-mgl"> <i class="icon fa fa-chevron-left"></i> Volver atrás</a>
        </div>
      </div>
    </form>
  </div>
</div>