<div class="modularGrid-module mobileCMS-header ">
	<div class="modularGrid">
		<div class="modularGrid-module">
			<img class="mobileCMS-illustration mobileCMS-illustration--box" alt="" src="../../img/bigbox.svg">
			<h1 class="mobileCMS-title">DROPSHIPPING</h1>
			<h2 class="mobileCMS-subtitle">Tú vendes y BigBuy se encarga del resto</h2>
		</div>
		<div class="modularGrid-module mobileCMS--sloganGroup">
			<h3 class="mobileCMS-slogan mobileCMS-slogan--big ">¿Qué es el Servicio Dropshipping BigBuy?</h3>
		</div>
		<div class="modularGrid-module u-elem-center u-xs-95 u-md-75 u-lg-55 ">
			<h4 class="mobileCMS-slogan mobileCMS-slogan--medium">El Dropshipping es un modelo de negocio que te permite disponer de todo el stock de BigBuy sin necesidad de invertir un solo euro</h4>
		</div>
	</div>
</div>

