<nav class="mainNav" data-js-userNav="langNav">    
	{{>mobileLangs}}
    <div class="mainNav-header">
          <button class="mainNav-button button mainNav-button--lang" data-js-btnlang="es" ><img src="../../img/icons/es.svg" class="icon icon--inline icon--md flag"> Español </button>
          <button class="mainNav-button button mainNav-button--menu" data-js-btnNav="hideLangMenu"></button>
    </div>
</nav>
