<nav class="mainNav" data-js-userNav="userNav">
     <ul class="mainNav-menu" data-js-mainnav="menu">    
        <li class="mainNav-item nav-item ">
            <a title="" class="mainNav-link" data-js-mainnav="link" href="contact.html">
            <img src="../../img/mobileIcons/email_black.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Contacto
            </a>
        </li>
         <li class="mainNav-item nav-item ">
            <a title="" class="mainNav-link" data-js-mainnav="link" href="contact.html">
            <img src="../../img/icons/pack.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            <b class="mobileToolbar-notify">1</b>
            Packs y Tienda 360º
            </a>
        </li>
		<li class="mainNav-item nav-item ">
            <a title="" class="mainNav-link" data-js-mainnav="link" href="home.html">
            <img src="../../img/mobileIcons/slides.svg"  alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Panel de control</a>
        </li>
		<li class="mainNav-item nav-item" data-js-mainnav="item">
            <button class="mainNav-link   mainNav-link--useractions" data-js-mainnav="link" title="Cerrar sesión" data-js-btn="loginBtn" >
             <img src="../../img/mobileIcons/logout_black.svg" alt="icon" class="icon u-vt icon--xs u-mgr--3 u-op-60">
            Cerrar sesión</button>
        </li>	
	</ul>
	{{>mobileLangs}}    
    <div class="mainNav-header " data-js-mainnav="header">
        <span class="mainNav-button button mainNav-button--top" ><span class="buttonUser buttonUser--premium mainNav-button--user" data-js-btnnav="user"> </span>Mi cuenta</span>
        <button class="mainNav-button button mainNav-button--menu" data-js-btnNav="hideUserMenu"></button>
    </div>
</nav>
