<!doctype html>
<html lang="en">
{{> head }}
<body>

    <div class="modularGrid">
        <div class="modularGrid-module">
            {{>header}}
            {{>body}}
        </div>
    </div>
    {{>mainNav}}
    {{!-- {{>toolbarSearch}} --}}
    {{>delayedScripts}}
</body>
</html>