<section class="content content--light u-pdt2">
 <h2 class="supertitle1 u-mgv2 u-elem-center u-tac u-pdh">Multitud de catálogos a elegir para su tienda</h2>
 <div class="modularGrid modularGrid--boxed">




 <div class="modularGrid-module u-md-50">

<img src="../../img/ilustracion-catalogos.svg" class="img--responsive u-xxs-100 u-sm-70 u-md-85">
     
 </div>
 <div class="modularGrid-module u-md-50 u-pdv2 u-pdh">




<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Catálogo completo de BigBuy</span></p>
<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Regalos originales</span></p>
<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Perfumes y cosmética</span></p>
<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Perfumes, cosmética y complementos</span></p>
<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Relojes, gafas y complementos</span></p>
<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Electrónica e informática</span></p>
<p class="superSubtitle2 u-pdv--half">{{>svgIcon type='done' size='sm' class='icon--success u-vb'}}<span class="u-op-60">Mobiliario auxiliar y decoración</span></p>


 </div>

 <div>

 </section>