<section class="content hero--dropship36050">

	<div class="modularGrid modularGrid--boxed u-flex--between u-flwrap">

		<img src="../../img/banners/dropship36050.jpg" class="u-lg-35 u-order1 u-md-order0 u-elem-center">

		<div class="modularGrid-module u-lg-65 u-lg-pdl2 u-pdl u-pdr u-lg-pdv2 u-order0 u-md-order1">

			<h2 class="hero-subtitle u-mgt">Descuento 50% en 2ª Tienda Dropshipping 360º</h2>
			<p class="hero-subtitle2  u-pdt--half u-pdb ">Para clientes cuya estrategia es tener varias tiendas especializadas de varios catálogos concretos disponemos de una oferta especial multitienda.</p>

			<button class="button  button--bigger button--primary u-mgb2">Comprar</button>



		</div>



	</div>

</section>