<section class="content content--full">
	<section class="hero hero--dropshop u-pdv2">
	<div class="modularGrid modularGrid--boxed u-pdv2 modularGrid--equalHeights u-flwrap">
	<div class="modularGrid-module u-lg-30 u-v-center">	
			<h3 class="hero-title">{{title}}</h3>
			<h4 class="hero-subtitle">{{{subtitle}}}</h4>
			
		</div>	
				
		<div class="modularGrid-module u-md-50 u-lg-35 u-content-center">
			<img src="../../img/ilustracion-tienda-dropshipping.svg" alt="" class="u-xs-80 u-sm-50 u-md-80 u-lg-60">				
		</div>
		<div class="modularGrid-module u-md-50 u-lg-35 u-pdv u-v-center">


		<h4 class="title1 u-upp u-pdb"> {{>svgIcon class='u-mgr--3' type='work'}} {{listtitle}}</h4>

		{{#each list}}


		<p class="subtitle u-block u-pdl--half u-pdb">{{>svgIcon class='u-vb' type='done'}}{{text}}</p>	

		{{/each}}
			
			
		</div>	
		
	</div>    
</section>
</section>