<div class="ventaCMS-titleBox ">
	<h1 class="ventaCMS-title">TIENDA DROPSHIPPING</h1>
</div>
<div class="ventaCMS-subtitleBox">
	<h2 class="ventaCMS-subtitle">Sincronizada a BigBuy<img class="ventaCMS-ornament" src="../../img/prestashop_1-6-logo.png"></h2>
</div>