 <div class="modularGrid-module u-xs-25 u-pdt--half">
          <figure class="ventaCMS-prominent">
            <img class="u-elem-center u-xs-60 u-pdt img img--responsive" alt="" src="../../img/{{svgImage}}.svg">
            <figcaption class="ventaCMS-prominentText">{{{figTitle}}}</figcaption>
            <p>{{{figText}}}</p>
          </figure>
        </div>




        