<section class="ventaCMS-section">
  <h2 class="ventaCMS-subtitle ventaCMS-subtitle--section u-pd">Usted vende y BigBuy se encarga del resto</h2>
  <img src="../../img/dropshipping-ilus.png" alt="" class="img u-pdt u-mgt">
  <div class="modularGrid u-elem-center  u-xs-80 ">
    <div class="modularGrid-module u-xs-25 u-pdt">
      <figure class="ventaCMS-prominent">
        <img class="u-elem-center u-pdt" alt="" src="../../img/homework.svg">
        <figcaption class="ventaCMS-prominentText u-tac">Trabaje desde casa</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-25 u-pdt">
      <figure class="ventaCMS-prominent">
        <img class="u-elem-center u-pdt" alt="" src="../../img/nerd.svg">
        <figcaption class="ventaCMS-prominentText u-tac">Sin ser informático</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-25 u-pdt">
      <figure class="ventaCMS-prominent">
        <img class="u-elem-center u-pdt" alt="" src="../../img/cajas01.svg">
        <figcaption class="ventaCMS-prominentText u-tac">Sin invertir en stock</figcaption>
      </figure>
    </div>
    <div class="modularGrid-module u-xs-25 u-pdt">
      <figure class="ventaCMS-prominent">
        <img class="u-elem-center u-pdt" alt="" src="../../img/graph.svg">
        <figcaption class="ventaCMS-prominentText u-tac">Alta rentabilidad </figcaption>
      </figure>
    </div>
  </div>
</section>