<section class="ventaCMS-section ">
  <h2 class="ventaCMS-sectionTitle">{{{header.title}}}</h2>
  <div class="modularGrid u-elem-center u-pd">
    {{#each list}}
    {{>dropshopSectionFeaturesItem}}
    {{/each}}       
  </section>