<section class="content content--light u-brt u-pdb2">
	<div class="modularGrid modularGrid--boxed">
		<h2 class="supertitle1 u-content-center u-flwrap u-pd2"><p class="u-pdh u-tac">Equipada para potenciar sus ventas</p><img src="../../img/ps17.png" class="u-mgv u-block"></h2>
		<div class="modularGrid-module u-xs-30 u-mgv">
			<section class="nav nav--vsticky u-brdl" data-vslider="nav" >			
				<div class="nav-item"  data-state="selected" data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Multi-channel Integration Platform</div>
				<div class="nav-item"  data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Integración  emarketplaces</div>
				<div class="nav-item"  data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Blog Wordpress</div>
				<div class="nav-item"  data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Herramientas de creación de newsletters</div>
				<div class="nav-item"  data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Tienda en Facebook</div>
				<div class="nav-item"  data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Recursos de apoyo</div>
				<div class="nav-item"  data-vslider="link">{{>svgIcon type='done' size='sm' class='icon--success u-vm u-mgb--min'}}Sincronización total a BigBuy</div>    
			</section>
		</div>
		<div class="modularGrid-module u-xs-70 u-mgv " data-vslider="cont" >
			<img src="../../img/banners/multi-channel.jpg" class="u-lg-80" data-vslider="elem"  data-state="selected">
			<img src="../../img/banners/emarketplaces.jpg" class="u-lg-80" data-vslider="elem" >
			<img src="../../img/banners/blog.jpg" class="u-lg-80" data-vslider="elem" >	
			<img src="../../img/banners/newsletter.jpg" class="u-lg-80" data-vslider="elem" >
			<img src="../../img/banners/dropshipslider1.jpg" class="u-lg-80" data-vslider="elem" >	
			<img src="../../img/banners/recursos-apoyo.jpg" class="u-lg-80" data-vslider="elem" >
			<img src="../../img/banners/sincronizacion.jpg" class="u-lg-80" data-vslider="elem" >		
			
		</div>
	</div>
</section>
