<section class="hero--gift">
  <div> 
    
      <img src="../../img/blueribbon.svg" alt="" class=""/>  

      <article>
      <h3 class="hero-title">REGALO 50 € </h3>
      <h4 class="hero-subtitle">Compre ahora su primera Tienda Dropshipping 360º y reciba 50€ en su saldo monedero. </h4>
      <h3 class="hero-subtitle1">¡Promoción válida sólo hasta fin de mes!</h5> 
      </article>   
     </div>   
  </section>
