
<section class="content u-pdv2">

  <div class="modularGrid modularGrid--boxed modularGrid--equalHeights u-flwrap">

    <div class="modularGrid-module u-lg-45 u-tac u-pd u-lg-nopadding">
      <img src="../../img/3.svg" class="icon icon--xl icon--roundedWhite u-elem-center">
      <h4 class="supertitle1 u-pdt"><strong>Tienda Dropshipping 360º</strong></h4> 
    </div>   

    <div class="modularGrid-module u-lg-5 u-tac  u-v-end u-pd u-lg-nopadding">
      <span class="text-huge text-light u-mgb-minus1">vs</span>
    </div>
    <div class="modularGrid-module u-lg-45 u-tac u-pd u-lg-nopadding">
      <img src="../../img/3b.svg" class="icon icon--xl icon--roundedWhite u-elem-center">
      <h4 class="supertitle1 u-pdt"><strong>Tienda desarrollada por el cliente</strong></h4>
    </div>

  </div>

  <div class="modularGrid modularGrid--boxed u-pd2">
    <div class="modularGrid-module u-tac">
      <h4 class="superSubtitle u-elem-center text-light u-lg-80 u-mgb">La Tienda Dropshipping 360º está totalmente optimizada para la conversión y dispone de muchas ventajas exclusivas respecto a una plantilla estándar.</h4> 
    </div>
    <div class="modularGrid-module u-tac">   
      <h4 class="title1 u-elem-center u-xxs-100 u-md-50"> ¿Qué ventajas exclusivas incluye la Tienda Dropshipping 360º frente a una tienda desarrollada por el cliente?</h4> 
    </div>

   
    
    
  </div>

   <div class="modularGrid modularGrid--boxed u-pd u-pdb2 ">

    <div class="modularGrid-module  u-lg-85  u-elem-center">
        
   



    {{>drop360vsshopFaqs  dropshipping360vs}}

     </div>

     </div>


</section>

