<section class="content u-lg-pdv2">
	<div class="modularGrid modularGrid--boxed u-lg-pdv2 u-flwrap">
		<div class="modularGrid-module u-lg-50 u-order1 u-md-order0">
			<img src="../../img/banners/Grupo48.png" class="max-width100 u-pd2 u-xl-nopadding">		    
		</div>
		<div class="modularGrid-module u-lg-50 u-pd u-pdb2 u-order0 u-md-order1">
			<h2 class="supertitle1 u-lg-mgt2 u-mgb">{{title}}:</h2> 
			{{#each list}}
			<p class="superSubtitle2 u-pdv--half u-flex u-elem-center">{{>svgIcon type='done' size='sm' class='u-vb icon--success'}}<span class="u-op-60">{{caption}}</span></p>
			{{/each}}		    
		</div>
	</div>
</section>
