<section class="content u-pdv2">
  <h2 class="supertitle1 u-mgv2 u-elem-center u-tac u-pdh">{{title}}</h2>  
  <div class="modularGrid modularGrid--boxed u-pdv2">
  {{#each list}}
<div class="modularGrid-module u-xxs-100 u-xs-50 u-sm-3rd u-md-25 u-lg-6th u-tac">
  <img src="../../img/{{img}}.svg" alt="" class="img--responsive  u-xxs-30 u-xs-50 u-md-45 u-elem-center">

<p class="subtitle3 u-upp u-pdh2 u-pdt ">{{caption}}</p>

</div>

  {{/each}}


</div>
</section>