
{{!-- <li class="menuList-item">
  {{>menuListLabel src=this.itemName modifiers=this.modifiers title=this.title }}
  {{#if families}}
  <ul class="menuList-list" >
    {{#each families}}

    <li class="menuList-item ">
      {{>menuListLabel  src=itemId modifiers=this.familyModifier title=this.title}}
      {{#if subcategories}}
      <ul class="menuList-list {{#each familyModifier}} menuList-list--{{this}} {{/each}}" >
        {{#each subcategories}}
        <li class="menuList-item menuList-item--secundary">
          {{>menuListLink target='#'}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</li>
 --}}










<section class="directory-item">

 {{title}}

{{!--
  {{>menuListLabel src=this.itemName modifiers=this.modifiers title=this.title }}
  {{#if families}}
  <ul class="menuList-list" >
    {{#each families}}

    <li class="menuList-item ">
      {{>menuListLabel  src=itemId modifiers=this.familyModifier title=this.title}}
      {{#if subcategories}}
      <ul class="menuList-list {{#each familyModifier}} menuList-list--{{this}} {{/each}}" >
        {{#each subcategories}}
        <li class="menuList-item menuList-item--secundary">
          {{>menuListLink target='#'}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{/if}} --}}
</li>



