
<section class="directory-container" data-js-directory="container">

<div class="directory-content" data-js-directory="content">

 <div class="directory-list directory-list--alt" data-js-directory="secundary" >
   {{> directoryItem menuList1.list }}
   {{> directoryItem menuList2.list }}
   {{> directoryItem menuList3.list }}
   {{> directoryItem menuList4.list }}
   {{> directoryItem menuList5.list }}
   {{> directoryItem menuList6.list }}
   {{> directoryItem menuList7.list }}
   {{> directoryItem menuList8.list }}
   {{> directoryItem menuList9.list }}
 </div>

<div class="directory-list" data-js-directory="primary">
   {{> directoryItem menuList1.list }}
   {{> directoryItem menuList2.list }}
   {{> directoryItem menuList3.list }}
   {{> directoryItem menuList4.list }}
   {{> directoryItem menuList5.list }}
   {{> directoryItem menuList6.list }}
   {{> directoryItem menuList7.list }}
   {{> directoryItem menuList8.list }}
   {{> directoryItem menuList9.list }}
 </div>

</div>

</section>
