<!-- <aside class="banner banner--inverse">
    <div class="banner-texts">
        <p class="banner-supratitle">
            <img src="../../img/logo-eawards.png">  {{!-- <img src="http://www.bigbuy.eu/public/img/mano-eawards.png"> --}}
            <span>¡Necesitamos tu voto!</span
        </p>
        <p class="banner-title"></p>
        <p class="banner-subtitle"><i class="icon icon--signs"></i>MEJOR ECOMMERCE INTERNACIONAL<br>
        <i class="icon icon--signs"></i>MEJOR ECOMMERCE DE INNOVACIÓN
        <sub>*Es necesario registrarse en www.the-eawards.com y votar por BigBuy en estas dos categorías.</sub></p>
    </div>
    <a href="#" class="banner-imglink"><img class="banner-img" src="../../img/banner_slider_11.jpg" alt="imagen"></a>
</aside> -->




<aside class="banner ">
    <div class="banner-texts">

        <p class="banner-supratitle">
        </p>
        <p class="banner-title">Nuevos mini scooter<br>ROVER DROID</p>
        <p class="banner-subtitle"> </p>
    </div>
    <a href="http://www.bigbuy.eu/es/mini-scooter-electrico-de-auto-equilibro-2-ruedas-rover-droid.html" class="banner-imglink">
        <img class="banner-img" src="http://www.bigbuy.eu/public/media/mobile/banner-roverdroid-defi.jpg" alt="Nuevos mini scooter ROVER DROID">
    </a>
</aside>


