<aside class="banner" id="94">
    <div class="banner-texts">

        <p class="banner-supratitle">
        <img src="../../img/eawards.svg" alt="eawards premios 2016">
        </p>
        <p class="banner-title">

         <span>PREMIO MEJOR E-COMMERCE DE INNOVACIÓN</span>
         <span>PREMIO MEJOR E-COMMERCE INTERNACIONAL</span>

        </p>
        <p class="banner-subtitle">
        GANADOR: BIGBUY

         </p>
    </div>
    <a href="#" class="banner-imglink">
        <img class="banner-img" src="../../img/banner-premio_base.jpg" alt="eawards premios 2016">
    {</a>
</aside>


