<aside class="banner">
        <div class="banner-texts">
            <p class="banner-title">DISFRUTA LAS PASCUAS CON BIGBUY</p>
            <p class="banner-subtitle">Descubre nuestro catálogo</p>
        </div>
        <a href="banner-imgLink">
            <img alt="imagen" src="http://www.bigbuy.eu//public/media/pascua.jpg" class="banner-img">
        </a>
</aside>
