<ul class="mainNav-menu  mainNav-menu--hide nav" data-js-mainnav="langMenu">
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang mainNav-buttonLang--selected" data-js-mainnav="lang"><img src="../../img/icons/es.svg" class="icon icon--inline icon--md flag"> Español</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/en.svg" class="icon icon--inline icon--md flag"> English</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/fr.svg" class="icon icon--inline icon--md flag"> Français</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/de.svg" class="icon icon--inline icon--md flag"> Deutsch</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/ee.svg" class="icon icon--inline icon--md flag"> Eesti</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/fi.svg" class="icon icon--inline icon--md flag"> Suomi</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/ru.svg" class="icon icon--inline icon--md flag"> русский</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/gr.svg" class="icon icon--inline icon--md flag"> ελληνικά</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/ro.svg" class="icon icon--inline icon--md flag"> Română</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/pt.svg" class="icon icon--inline icon--md flag"> Português</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/bg.svg" class="icon icon--inline icon--md flag"> български</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/it.svg" class="icon icon--inline icon--md flag"> Italiano</button>
    </li>
    <li class="mainNav-item nav-item ">
        <button class="mainNav-buttonLang" data-js-mainnav="lang"><img src="../../img/icons/cz.svg" class="icon icon--inline icon--md flag"> čeština</button>
    </li>


</ul>
