<div class="modularGrid">
    <div class="modularGrid-module u-md-30">
        <section class="panel-section panel-section--island ">
            <h2 class="panel-section-title">Justificantes enviados</h2>
            <table class="table">
                <thead class="table-thead">
                   <tr class="table--tr table-tr--sort">
                    <th class="table-th table-item">Concepto </th>
                    <th class="table-th table-item  u-md-10">Fecha</th>
                </tr>
            </thead>
            <tbody class="table-tbody table-tbody--stripped">

                <tr class="table-tr">
                    <td class="table-item">Adjunto nº1 </td>
                    <td class="table-item "> 04/04/2014 </td>
                </tr>
                <tr class="table-tr">
                    <td class="table-item">Adjunto nº1 </td>
                    <td class="table-item "> 04/04/2014 </td>
                </tr>
                <tr class="table-tr">
                    <td class="table-item">Adjunto nº1 </td>
                    <td class="table-item "> 04/04/2014 </td
                    </tr>
                    <tr class="table-tr">
                        <td class="table-item">Adjunto nº1 </td>
                        <td class="table-item "> 04/04/2014 </td>
                    </tr>
                    <tr class="table-tr">
                        <td class="table-item">Adjunto nº1 </td>
                        <td class="table-item "> 04/04/2014 </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

