<aside class="menuPanel " data-js-menupanel="panel"  data-js-menupanel_idpanel="1" >
  <form class="form">
    <fieldset class="form-fieldset form-fieldset--sequential">
      <h3 class="form-fieldset-title u-pdb--half">Adjunte el justificante de la transferencia para poder validar su pedido</h3>
      <label class="form-label">Seleccionar justificante:<em class="form-label--optional">Formatos soportados PNG, JPG y PDF</em></label>
      <div class="modularGrid">
        <div class="modularGrid-module u-md-50">
          <input type="file" class="form-input form-input--file" data-form-input="fileField" data-js-bankwire_receipt="" data-js-validate="{"empty":"required"}" id="data-js-receipt-file" name="bankwire_receipt" >
          <input type="text" class="form-input form-input--postfix form-input--collapse" data-form-input="fileText" placeholder="Seleccione archivo">
          <button class="button button--postfix"> <svg role="img" class="icon icon--inline icon--xs"> <use xlink:href="../../img/icons/svg-defs.svg#icon-search"/></svg></button>
          </div>
          <div class="modularGrid-module u-pdt--half">


          <label class="form-label">Concepto</label>
          <input type="text" class="form-input " >
          <button class="button button--big button--primary u-mgt--half" data-form-input="fileButton">Enviar</button>
        </div>
      </div>
    </fieldset>
  </form>
</aside>
