{{>tablePendingOrdersHeader all='true'}}
<table class="table table table--interactive ">
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowOrders03}}
        {{>tableRowOrders02}}
        {{>tableRowOrders01}}
        {{>tableRowProcessOrders}}
        {{>tableRowCancelOrders}}
        {{>tableRowCancelOrders1}}
    </tbody>
</table>









