<tr data-js-id_row="60000268" data-js-back="row" class="table-tr">
    <td width="12%" data-js-filter-cell="date_add" class="table-item u-pdl">17/12/2015</td>
    <td width="7%" data-js-filter-cell="id_order" class="table-item ">60000268</td>
    <td width="9%" data-js-filter-cell="reference" class="table-item ">--</td>
    <td width="13%" data-js-filter-cell="customer" class="table-item ">Napoleón Tobías Tinieblas Povedilla</td>
    <td width="11%" data-js-filter-cell="payment" class="table-item ">Monedero</td>
    <td width="9%" data-js-filter-cell="id_carrier_master" class="table-item ">GLSFedex</td>
    <td width="9%" data-js-filter-cell="dropshipping" class="table-item ">--</td>
    <td width="6%" data-js-filter-cell="total_paid_real" class="table-item  table-item--number">50,49 €</td>
    <td width="11%" data-js-filter-cell="estado_pedido" class="table-item ">En proceso</td>
    <td width="6%" data-js-filter-cell="" class="table-item table-item--boolean">

   {{!--  <button title="Expedido" data-js-show-track="" class="button">
<svg class="icon icon--inline icon--xs" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-place"></use></svg>
</button> --}}
--
    </td>
    <td width="7%" data-js-filter-cell="" class="table-item">
        <button title="Repetir pedido" data-js-action-order="duplicar" class="button button--icon">
            <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-clone"></use></svg>
        </button>
        <button class="button button--icon u-mgl--half" data-js-action-order="cancelar" title="Cancelar pedido">
        <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-trash"></use></svg>
    </button>
    </td>
</tr>
