<table class="table table--interactive">
    <thead class="table-thead">
        <tr>
            <th class="table-th table-item">Fecha </th>
            <th class="table-th table-item">Nº pedido </th>
            <th class="table-th table-item">Ref. interna</th>
            <th class="table-th table-item ">Destinatario</th>
            <th class="table-th table-item table-item--number">Importe </th>
            <th class="table-th table-item ">Estado </th>
        </tr>
    </thead>
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowOrders02}}
        {{>tableRowOrders02}}
        {{>tableRowOrders02}}
        {{>tableRowOrders02}}
    </tbody>
</table>