<tr class="table-tr">
    <td class="table-item">aaaaa Revestimiento Piedra Black Stone Pan (3 Piezas) </td>
    <td class="table-item ">B1015145 </td>
    <td class="table-item table-item--number">1</td>
    <td class="table-item table-item--number">82,25 €</td>
    <td class="table-item table-item--number">1.5%</td>
    <td class="table-item table-item--number">71,15 €</td>
    <td class="table-item table-item--number">170,55 €</td>
</tr>