{{>tablePendingOrdersHeader}}
<table class="table table table--interactive ">
    <tbody class="table-tbody table-tbody--stripped">
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders1}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders1}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders1}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}
      {{>tableRowCancelOrders}}

</tbody>
</table>







