<aside class="sliderCategories-container">
    <nav class="sliderCategories">
        {{#each families}}
        {{>sliderCategoriesItem imgSrc=../imgSrc}}
        {{/each}}
    </nav>
</aside>


















