<div>
    <ul>
     <li class="menuList-item"><a title="Teletienda Anunciado en TV"  href="#" class="menuList-link menuList-link--tag">Teletienda Anunciado en TV</a></li>
     <li class="menuList-item"><a title="Regalos originales" href="#" class="menuList-link menuList-link--tag">Regalos originales</a></li>
     <li class="menuList-item"><a title="Outlet Liquidaciones" href="#" class="menuList-link menuList-link--tag">Outlet Liquidaciones</a></li>
     <li class="menuList-item"><a title="Catálogo completo" href="#" class="menuList-link menuList-link--tag">Catálogo completo</a></li>
 </ul>
</div>