{{!-- <div class="panel panel--reveal panel--inactive" data-js-panel-name="panel01" data-js-panel-state="active"> --}}
<div class="panel panel--active panel--reveal" data-js-panel-name="panel01" data-js-panel-state="active">
  <div class="panel-title">    
    <div class="panel-titleName"><a class="panel-breadcrumbLink u-mgl" href="">Tiendas Dropshipping 360º</a></div>
  </div>
  <div class="panel-content panel-content--fullW panel-content--fullH" >






  	<section class="hero hero--dropship360 hero--midsize">
		<div class="hero-container">

		{{#if enterprise}}		
			<h3 class="hero-title">Active un Pack Enterprise y acceda a mucho más</h3>
			<h4 class="hero-subtitle">Tienda Dropshipping 360º: Su negocio digital, solución integral llave en mano</h4>
			<a href="#" class="button button--big button--primary u-elem-center">Activar</a>


			{{else}}
			<h3 class="hero-supertitle">TIENDA DROPSHIPPING 360º</h3>
			<h4 class="hero-subtitle">Su negocio digital, solución integral llave en mano</h4>
			<a href="#" class="button button--big button--primary u-elem-center">Comprar</a>

			{{/if}}
			

			<img src="../../img/banners/dropship360hero.jpg" alt="" class="hero-image">
					
		</div>    
	</section>



   
  </div>
</div>
