
{{!-- <div class="panel panel--inactive" data-js-panel-name="panel01" data-js-panel-state="active"> --}}

<div class="panel panel--active" data-js-panel-name="panel01" data-js-panel-state="active">
  <div class="panel-title">    
    <div class="panel-titleName"><a class="panel-breadcrumbLink u-mgl" href="">Tiendas Dropshipping 360ยบ</a></div>
  </div>
  <div class="panel-content panel-content--fullW panel-content--fullH" >
    {{> tableLongShops}}
  </div>
</div>
