<label class="form-label u-flex--center"{{#if id}} for="{{id}}"{{/if}}>{{name}}
<span data-js-tooltip="tooltip_shop_name" class="form-info">{{>svgIcon type='info' class='icon--info'}}</span>
</label>
         