
<fieldset class="form-fieldset  form-fieldset--borderless  u-lg-65 u-pdl--half u-mgb--half">
    <section class="u-bg--half u-brd u-pd">
        <p  style="display:inherit;" data-depend="soyoustart"><strong>Rellene los datos que le ha proporcionado Soyoustart</strong>. {{!-- En <a class="link color-blue" href="#" target="_blank">este artículo</a> le explicamos dónde encontrar estos datos. --}}</p>
        <em  style="display:none;" data-depend="professional_hosting"> Rellene los datos que le ha proporcionado Professional Hosting</em>
       {{!--  <label class="form-label u-mgb--half u-mgt"><strong>SSH / FTP</strong></label>

        <div class="modularGrid">

            <div class="modularGrid-module u-xs-35 u-pdr--half">
                 <label for="" class="form-label">Host</label>
                 <input class="form-input" type="text" placeholder="Host" value="https://eu.soyoustart.com/manager/#/login">     
                
            </div>
       
            <div class="modularGrid-module u-xs-25  u-pdr--half">
                 <label for="" class="form-label">Usuario</label>
                 <input class="form-input"  type="text" placeholder="username">           
                
            </div>
       
            <div class="modularGrid-module u-xs-10  u-pdr--half">
                 <label for="" class="form-label">Puerto</label>           
                 <input class="form-input"  type="text" placeholder="Puerto">
                
            </div>
        
         
            <div class="modularGrid-module u-xs-30">
                <label for="" class="form-label">Contraseña</label>
                <input class="form-input"  type="text" placeholder="Contraseña">  
                
            </div>
        </div> --}}


            
       
       
        
        <label class="form-label u-pdt--half u-mgv--half"><strong>Área de clientes de su servidor o hosting</strong></label>  
        <div class="modularGrid modularGrid--threecolumns">
            <div class="modularGrid-module"> 
            <label class="form-label">URL</label>               
                 <input class="form-input" type="text" placeholder="Host" value="https://eu.soyoustart.com/manager/#/login">   
            </div>
            <div class="modularGrid-module">
                 <label class="form-label">Usuario</label>   
                <input class="form-input"  placeholder="username" type="text">
            </div>
            <div class="modularGrid-module">
                 <label class="form-label">Contraseña</label>   
                <input class="form-input" type="password" placeholder="password" value="">
            </div>
        </div> 

        <article  data-depend="domain">
            <label class="form-label u-mgv--half"><strong>Área de cliente de su dominio</strong></label>  
            <div class="modularGrid modularGrid--threecolumns">
                <div class="modularGrid-module">
                 <label class="form-label">URL</label>                    
                    <input class="form-input"  placeholder="URL" type="text">
                </div>
                <div class="modularGrid-module">
                     <label class="form-label">Usuario</label>    
                    <input class="form-input"  placeholder="username" type="text">
                </div>
                <div class="modularGrid-module">
                     <label class="form-label">Contraseña</label>    
                    <input class="form-input"  placeholder="password" type="password">
                </div>
            </div> 
        </article>                      


        <div class="modularGrid-module u-mgt--half" >
                <p class="form-label"><strong>Datos adicionales</strong></p>
                <textarea maxlength="750" class="form-textarea" id="" name="additional_data" placeholder="Datos adicionales..."></textarea>
         </div>





        <article style="display: none;" data-depend="professional_hosting">
            <label class="form-label u-mgv--half"><strong>Panel Plesk</strong></label>  
            <div class="modularGrid modularGrid--threecolumns">
                <div class="modularGrid-module">                
                    <input class="form-input"  placeholder="URL" type="text">
                </div>
                <div class="modularGrid-module">
                    <input class="form-input"  placeholder="username" type="text">
                </div>
                <div class="modularGrid-module">
                    <input class="form-input"  placeholder="password" type="text">
                </div>
            </div> 
        </article> 
                    
    </section>


</fieldset>

