
<div class="form-fieldset form-fieldset--selected u-mgv--half u-lg-65 u-pdv">    
    <p class="color-blue u-mgb--3rd"><strong>Es requisito indispensable que contrate un dominio:</strong></p>
    <p class="u-mgb--min">Si todavía no ha registrado un dominio, deberá hacerlo y completar los datos que le pedimos a continuación. Recuerde que su dominio debe permitir tener asociado el servidor de correo. En este artículo <a class="link color-blue" href="http://www.bigbuy.eu/academy/es/donde-contratar-dominio-nuestra-tienda-dropshipping-360o/" target="_blank">le explicamos cómo y dónde hacerlo</a></p>
  
</div>
       