


<div class="form-fieldset form-fieldset--selected u-mgb u-lg-65 u-pdv">
    {{!-- <p class="color-blue u-mgb--3rd"><strong>Es requisito indispensable que contrate uno de los hostings (servidores) siguientes:</strong></p> --}}
    <p class="color-blue u-mgb--3rd"><strong>Es requisito indispensable que contrate el servicio de hosting (servidor):</strong></p>

    <p class="u-mgb--min">- <strong>Soyoustart E3-SSD-X:</strong> Su precio varía en función de la opción escogida (Desde 30€ + IVA) (aprox.) <a class="link color-blue" href="#" target="_blank">+info</a></p>
    {{!-- <p class="u-mgb--half">- <strong>Profesional Hosting VPS BigBuy Prestashop:</strong> Desde 22,40€ + IVA (aprox.) <a class="link--alt color-blue" href="#">+info</a></p> --}}

   {{!--  <p>No permitimos la instalación de la Tienda Dropshipping 360º en servidores ajenos a nuestras soluciones, debido a las dificultades técnicas que se plantean al tener miles de artículos multilingües.</p> --}}

     <p>No permitimos la instalación de la Tienda Dropshipping 360º en servidores ajenos a nuestra solución, debido a las dificultades técnicas que se plantean al tener miles de artículos multilingües.</p>
</div>
       