



{{>tableLongShopsHeader}}
<table class="table  table--interactive table--fixedwidth u-xl-50 u-brdr" >
 <colgroup>
    <col style="width:1rem;">
    <col style="width:3rem; ">
    <col style="width:1rem;">
    <col style="width:1rem; ">
</colgroup>
<tbody class="table-tbody table-tbody--stripped u-bg--white">    
    {{#times 10}}
    {{>tableRowShop01}}
    {{>tableRowShop02}}
    {{>tableRowShop01}}
    {{>tableRowShop02}}
    {{>tableRowShop01}}   
    {{/times}}
</tbody>
</table>