<div class="modularGrid-module">
  <aside class="mobileCMS-section mobileCMS-section--inverse ">
    <h3 class="mobileCMS-subtitle">¿Qué tipo de clientes tiene BigBuy?</h3>
    <div class="modularGrid u-xs-80 u-sm-100 u-md-85 u-lg-100 u-xl-80 u-elem-center">
      <div class="modularGrid-module u-sm-50 u-pd u-mgb--half">
        <img class="img img--responsive u-xs-25 u-lg-15" alt="" src="../../img/cart.svg">
        <h4 class="mobileText-sectionTitle u-pdt">CANAL VENTA ONLINE</h4>
        <h5 class="mobileText-paragraphTitle">Tienda Online - Venta por Internet:</h5>
        <ul class="mobileText-listBullet">
          <li><strong>Archivos CSV:</strong> Descarga manual o por FTP de archivos CSV/XML. El cliente se hace su e-commerce </li>
          <li><strong>Tienda Sincronizada:</strong> BigBuy vende la web y la sincronización. Solución llave en mano. </li>
        </ul>
        <h5 class="mobileText-paragraphTitle u-pdt">E-MarketPlace:</h5>
        <p>Venta en Ebay, Amazon, Rakuten, PixPlace, Cdiscount, Fnac, PriceMinister, etc.</p>
        <h5 class="mobileText-paragraphTitle u-pdt">Venta Flash Webs de compra colectiva:</h5>
        <p>Venta en Webs de compra colectiva tipo, Groupon, Grupalia, LetsBonus, Living Social, Vente-privee, etc.</p>
      </div>
      <div class="modularGrid-module u-sm-50 u-pd u-mgb--half">
        <img class="img img--responsive u-xs-25 u-lg-15" alt="" src="../../img/store.svg">
        <h4 class="mobileText-sectionTitle u-pdt">CANAL VENTA TRADICIONAL</h4>
        <h5 class="mobileText-paragraphTitle">Negocios Físicos y Distribuidores:</h5>
        <p>Comercios, Tiendas de Regalo, Distribuidores, Regalo Promocional, Venta Directa, etc.</p>
        <h5 class="mobileText-paragraphTitle u-pdt">Compradores esporádicos al por mayor:</h5>
        <p>Regalos de empresa, regalos para fiestas y eventos, regalos para bodas bautizos y comuniones, etc.</p>
      </div>
    </div>
  </aside>
</div>