<div class="modularGrid-module">
    <section class="mobileCMS-section">
        <h4 class="mobileCMS-sectionTitle">Nuestras secciones:</h4>
        {{> mobileFeaturesList mobileFeaturesList.featuresB2B}}
    </section>
</div>

