<div class="modularGrid-module mobileCMS-header">
    <h1 class="mobileCMS-title">B2B - VENTA AL POR MAYOR</h1>
    <h2 class="mobileCMS-subtitle">Mayorista de regalos originales</h2>
    <img class="img img--responsive mobileCMS-bigPicture" alt="" src="../../img/escaparate.jpg">
</div>

