<div class="modularGrid u-pd">
    <div class="modularGrid-module u-md-3rd ">
        <h4 class="panel-section-subtitle">Información de facturación</h4>
        <div class="modularGrid">
            <div class="modularGrid-module u-md-40">
                <strong>Tipo de Cliente:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                Autónomo
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>NIF/CIF/VAT:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                20164770A
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Razón Social:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                Empresa de pruebas
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Dirección:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                C/ De pruebas 3456
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>País:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                España
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Provincia:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                VALENCIA / VALÉNCIA
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Población:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                Valencia
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Teléfono:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                +34 963963963
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Recargo equivalencia:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                No
            </div>
        </div>
    </div>
    <div class="modularGrid-module u-md-3rd">
        <h4 class="panel-section-subtitle">Información de envío</h4>
        <div class="modularGrid">

            <div class="modularGrid-module u-md-40">
                <strong>Razón Social:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                Empresa de Prueba
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Dirección:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                C/ De pruebas 3456
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>País:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                España
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Provincia:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                VALENCIA / VALÉNCIA
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Población:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                Valencia
            </div>
            <div class="modularGrid-module u-md-40">
                <strong>Teléfono:</strong>
            </div>
            <div class="modularGrid-module u-md-60">
                +34 963963963
            </div>
            <div class="modularGrid-module u-md-40 ">
                <strong>Método de envío:</strong>
            </div>
            <div class="modularGrid-module u-md-60  ">
                Correos / 1-2 días
            </div>
        </div>
        <h4 class="panel-section-subtitle u-mgt--half"> Dropshipping - Envío anónimo</h4>
        <div class="modularGrid">
            <div class="modularGrid-module u-md-40 ">
                <strong>Cobro por reembolso:</strong>
            </div>
            <div class="modularGrid-module u-md-60 ">
                20 €
            </div>
        </div>

    </div>

    <div class="modularGrid-module u-md-3rd">
        <h4 class="panel-section-subtitle">Referencia interna</h4>
        <div class="modularGrid">
            <div class="modularGrid-module">
                123456789
            </div>
        </div>
        <h4 class="panel-section-subtitle u-mgt--half">Forma de pago</h4>
        <div class="modularGrid">
            <div class="modularGrid-module">
                Pago Flexible (20€ monedero / 20€ Paypal)
            </div>
        </div>
        <h4 class="panel-section-subtitle u-mgt--half">Fecha de creación</h4>
        <div class="modularGrid">
            <div class="modularGrid-module">
                23/03/2010
            </div>
        </div>        
    </div>

</div>






