
<!-- expressCart Row -->
<tr class="table-tr" data-js-back="row">
<td class="table-item u-pdl" width="18%"> 04/04/2014 </td>
<td class="table-item" width="8%">54205 </td>
<td class="table-item" width="9%">xf99283/14 </td>
<td class="table-item" width="12%"> Roberto Lucha Sedeño </td>
<td class="table-item" width="12%">Paypal</td>
<td class="table-item" width="10%">ChronoExpress</td>
<td class="table-item table-item--number" width="7%">82,25 €</td>
<td class="table-item" width="10%">En proceso</td>
<td class="table-item table-item--boolean" width="6%">
<button title="Tracking" data-js-show-track="" class="button button--successBtn">
</button>
</td>
</tr>


