<table class="table table--interactive panelHeader-fixedTableHeader">
    <thead class="table-thead">
        <tr class="table--tr table-tr--sort">
            <th class="table-th table-item" width="18%">Fecha
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="8%">Nº pedido
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="9%">Ref. interna
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="12%">Destinatario
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="12%">Forma de Pago
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="10%">Transportista
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item  table-item--number"  width="7%">Importe
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="10%">Estado
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="6%">Tracking</th>
        </tr>


        <tr class="table-tr  table-tr--filters">
            <th class="table-th table-item">
                <button class="button button--prefix button--icon u-locked-evts">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-calendar"></use></svg>
                </button>
                <input placeholder="01/09/2014 - 15/09/2014" class="form-input form-input--collapse form-input--prefix"  >

            </th>
            <th class="table-th table-item table-item--number">
                <input class="form-input form-input--collapse" type="text" >
            </th>
            <th class="table-th table-item table-item--number ">
                <input class="form-input form-input--collapse" type="text" >
            </th>
            <th class="table-th table-item ">
                <input class="form-input form-input--collapse" type="text" >
            </th>
            <th class="table-th table-item ">
                <select name="" id="" class="form-select form-select--collapse">
                    <option value="">---</option>
                </select>
            </th>
            <th class="table-th table-item ">
                <select name="" id="" class="form-select form-select--collapse">
                    <option value="">---</option>
                </select>
            </th>
            <th class="table-th table-item table-item--boolean">
                <select name="" id="" class="form-select form-select--collapse">
                    <option value="">---</option>
                </select>
            </th>
            <th class="table-th table-item table-item--number">
                <input class="form-input form-input--collapse" type="text" >
            </th>
            <th class="table-th table-item table-item--number">

            </th>

        </tr>
    </thead>

</table>






