<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Rappel anual</h4>
    <p>El rappel es un incentivo sobre las compras realizadas a BigBuy que reintegramos anualmente en su monedero.</p>
  </div>

</div>



