<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Sincronización automática de pedidos a BigBuy</h4>
    <p>  Para todos los pedidos que lleguen a su <a target="_blank" class="mediaObject-link" href="http://www.bigbuy.eu/es/tienda-dropshipping.html">Tienda dropshipping</a>, éstos podrán transmitirlos de forma automática a BigBuy desde el panel de administración de PrestaShop. Con esta funcionalidad evitará la tediosa tarea de hacer manualmente los pedidos en BigBuy (copiando y pegando todos los datos de entrega del cliente) por lo que ahorrará tiempo gestionando su tienda.</p>
	<p>Disponible sólo para clientes con pack Premium.</p>
    </div>
</div>
