<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Monedero (forma de pago)</h4>
    <p>Esta forma de pago es la más cómoda y rápida, además de no llevar ningún gasto adicional. Se puede recargar vía transferencia y usar dicho saldo para hacer nuevos pedidos. Dispone de un historial de movimientos en su panel de control y la posibilidad de transferir el saldo a su cuenta bancaria o PayPal.</p>
  </div>

</div>



