<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-md-50 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Pedido mínimo</h4>
    <p>El pedido mínimo de 3€ es en valor de artículos de un pedido concreto <br/>
      Están exentos de este importe el IVA, portes, etc. </p>
  </div>

</div>



