<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Conector Cálculo de portes BigBuy en su Tienda Dropshipping</h4>
    <p> Los clientes que han adquirido la <a target="_blank" class="mediaObject-link" href="http://www.bigbuy.eu/es/tienda-dropshipping.html">Tienda dropshipping</a>, les facilitamos un conector de cálculo de portes, en el que aparecen todos los transportistas que ofrece BigBuy y en dónde se tiene en cuenta el peso volumétrico, regiones o códigos postales con costes adicionales, medidas máximas de paquete que admiten las agencias, etc.</p>
	<p>Es importante destacar, que el software base de Prestashop no permite añadir transportistas con peso volumétrico, por lo que sin este conector es imposible ofrecer precios exactos de todos los transportistas.
 </p>
    </div>
</div>
