<div class="modularGrid">
    <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Conector Prestashop - Cálculo de portes</h4>
       <p> Para clientes que usan el software Prestashop, facilitamos un conector de cálculo de portes, en el que aparecen todos los transportistas que ofrece BigBuy y en dónde se tiene en cuenta el peso volumétrico, regiones o códigos postales con costes adicionales, medidas máximas de paquete que admiten las agencias, etc.</p>
	<p>Es importante destacar, que el software base de Prestashop no permite añadir transportistas con peso volumétrico, por lo que sin este conector es imposible ofrecer precios exactos de todos los transportistas.</p>
    </div>
</div>



