<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">CSV/CSV-Prestashop/XML en 1 idioma</h4>
    <p>Facilitamos el catálogo de BigBuy actualizado diariamente en archivos <a target="_blank" class="mediaObject-link" href="http://www.bigbuy.eu/es/archivos-csv-xml.html">CSV/XML</a> y hasta en 24 idiomas europeos.</p>
    <p>También facilitamos archivos CSV adaptados a Prestashop, para facilitar la importación del catálogo en este entorno.</p>
    <p>Se pueden descargar manualmente desde el panel de control.</p>
    <p>En el caso de ser desarrollador o disponer de un programador, facilitamos también estos archivos vía nuestros servidores FTP.</p>
    </div>
</div>






