<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">API Catálogo</h4>
    <p>Facilitamos una API para que programadores y desarrolladores puedan conectar su e-commerce, ERP, etc. y obtener y consultar en tiempo real todo el catálogo, estructura de categorías y stocks de BigBuy.  <a target="_blank" class="mediaObject-link" href="http://www.bigbuy.eu/es/api_bigbuy.html">+ info</a></p>

    </div>
</div>



