<div class="modularGrid">
  <div class="modularGrid-module u-md-50 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Descuento automático hasta el 6%</h4>
    <p> En función del importe total del carrito se le aplicará hasta un 6% de descuento de forma totalmente automática.</p>
  </div>
  <div class="modularGrid-module u-sm-80 u-md-45 u-lg-30 u-md-pdl  box u-pd--half ">
   <div class="modularGrid ">
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half"><strong>Importe carrito superior a</strong></div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl"><strong>Dto.%</strong></div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half u-brt">+100€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl u-brt">-1,5%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half ">+300€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl">-2,5%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half ">+600€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half  u-brdl">-3,5%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half">+1000€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl">-5,0%</div>
                <div class="modularGrid-module u-xs-70 u-tar u-pd--half ">+2000€</div>
                <div class="modularGrid-module u-xs-20 u-pd--half u-brdl">-6,0%</div>
            </div>

  </div>
</div>



