<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Carga de Pedidos desde CSV</h4>
    <p>Para agilizar este proceso de hacer pedidos manuales en BigBuy, facilitamos la carga de pedidos por CSV. En su panel de control, podrá descargar un ejemplo de CSV y un manual de estructura del archivo</p>
    </div>
</div>



