<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Descarga factura online</h4>
    <p>Nuestro ciclo de facturación es cada 10 días (días 10, 20 y 30 de cada mes) y aglutinamos todos los pedidos de dicho ciclo emitiendo una sola factura para ahorrar gestión administrativa y contable. Las facturas se descargan desde su panel de control.</p>
  </div>

</div>



