<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-md-50 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Seguimiento de envío y Nº Tracking ID</h4>
    <p>En apenas unas horas después de realizar el pedido tendrá el Nº Tracking ID (número de seguimiento de la mensajería), además podrá visualizar desde su panel de control de BigBuy por dónde va su paquete y saber el día exacto de entrega. </p>
  </div>

</div>



