<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-md-50 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Tarifa PVD (inclusive en uds. sueltas)</h4>
    <p>Tarifa PVD significa “Precio Venta Distribuidor” y es el precio de tarifa inclusive en unidades sueltas desde el que parten nuestros distribuidores que están al menos activados en Pack Basic, Pro, Business o Premium.</p>
    <p>Tan solo hay que entrar en BigBuy con su email y contraseña y el entorno cambiará significativamente, desapareciendo el escalado por volumen y apareciendo el PVD como precio unitario (además tendrá acceso al Descuento Automático en función del importe del carrito de la compra):</p>
    <p><a class="tooltip-link" href="#" >Precios que vería un usuario sin pack</a></p>
      <p><a class="tooltip-link" href="#">Precios que vería un usuario con pack mayorista activo</a></p>
  </div>
  <div class="modularGrid-module u-md-50 u-md-pdl">
  <div class="box u-pd--half">

   <img class="img--responsive" src="../../img/escaladoVSautomatico01.jpg">
   <a href="../../img/escaladoVSautomatico01.jpg" class="button button-fullWidth u-flr">
      </a>
   </div>
  </div>
</div>



