<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">API Cálculo de portes</h4>
    <p>Disponemos de una API para que desarrolladores/programadores puedan conectar su web, e-Commerce, ERP, etc. y obtener o consultar en tiempo real el precio exacto y todos los transportistas que ofrece BigBuy y en dónde se tiene en cuenta el peso volumétrico, regiones o códigos postales con costes adicionales, medidas máximas de paquete que admiten las agencias, etc.</p>
    </div>
</div>



