<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">API Trackings</h4>
    <p>Disponemos de una API para que programadores y desarrolladores puedan conectar su e-Commerce, ERP, etc. y obtener o consultar en tiempo real el número de seguimiento del transportista (Tracking ID).</p>
	<p>Es muy interesante ofrecer el Tracking ID en el panel de control de su e-Commerce porque muchos compradores online valoran esto positivamente, además minimizará consultas por parte de sus clientes.</p>
    </div>
</div>



