<div class="modularGrid">
    <div class="modularGrid-module u-sm-75 u-pdr u-pdb">
        <h4 class="mobileText-sectionTitle">CSV Tarifas de portes (Los precios son orientativos)</h4>
        <p>Facilitamos un CSV con las tarifas “orientativas” de los transportistas.
Es importante destacar que en estas tarifas no se tienen en cuenta costes como peso volumétrico, regiones o códigos postales con costes adicionales, medidas máximas que admiten las agencias, etc.</p>
<p>Disponemos también para desarrolladores/programadores una API de cálculo de portes, y para los no programadores disponemos de un conector para Prestashop o también la posibilidad de adquirir nuestra Tienda Dropshipping, donde ya incluye dicho conector.
 .</p>
    </div>
</div>



