<div class="modularGrid">
  <div class="modularGrid-module u-sm-75 u-md-50 u-pdr u-pdb">
    <h4 class="mobileText-sectionTitle">Envíos Dropshipping (a toda Europa)</h4>
    <p>Podrá realizar pedidos con modalidad de envío Dropshipping y enviar la mercancía directa al cliente final con el nombre y la imagen de su empresa. Utilizamos embalajes y precintos neutros sin publicidad de Bigbuy y por supuesto su cliente jamás verá sus precios de coste. </p>
    <p> La ventaja principal de hacer envíos Dropshipping está en evitar invertir en stock, en gastos de embalaje y en la tediosa preparación de pedidos.          <a target="_blank" class="mediaObject-link" href="http://www.bigbuy.eu/es/dropshipping.html">+info</a>
      </p>
  </div>
  <div class="modularGrid-module u-md-50 u-md-pdl">
  <div class="box u-pd--half">
   <img class="img--responsive" src="../../img/dropshipping_big.png">
   <a href="../../img/dropshipping_big.png" class="button button-fullWidth u-flr">
      </a>
   </div>
  </div>
</div>



