<table class="table table--comparative table--midsize"  data-js-accordion="accordion"  data-js-accordion_selected_class = 'table-tr--selected'>
  <thead class="table-thead">
    <tr class="table-tr">
      <th  class="table-item table-item--theadInfo" colspan="100">Descarga manual o por FTP del catálogo de productos Bigbuy en archivos CSV/XML</th>
    </tr>
  </thead>
  <tbody class="table-tbody table-tbody--accordion">
    <tr class="table-tr" data-js-accordion="link">
     <td class="table-item table-item--subrowtitle">{{>tableAccordionIcon}}CSV/CSV-Prestashop/XML en 1 idioma</td>
     <td class="table-item ">{{>iconKO}}</td>
     <td class="table-item ">{{>iconKO}}</td>
     <td class="table-item ">{{>iconOK}}</td>
     <td class="table-item ">{{>iconOK}}</td>
     <td class="table-item ">{{>iconOK}}</td>
   </tr>
   <tr class="table-tr table-tr--content">
    <td class="table-item" colspan="100">

    </td>
  </tr>
  <tr class="table-tr" data-js-accordion="link">
   <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}CSV/CSV-Prestashop/XML en 23 idiomas</td>
   <td class="table-item ">{{>iconKO}}</td>
   <td class="table-item ">{{>iconKO}}</td>
   <td class="table-item ">{{>iconKO}}</td>
   <td class="table-item ">{{>iconOK}}</td>
   <td class="table-item ">{{>iconOK}}</td>
 </tr>
 <tr class="table-tr table-tr--content">
  <td class="table-item" colspan="100">

  </td>
</tr>
</tbody>
</table>





