content table packs 1
{{!-- <table class="table table--comparative table--midsize table--responsive u-pd "  data-js-accordion="accordion"  data-js-accordion_selected_class="table-tr--selected">
  <thead class="table-thead">
    <tr class="table-tr" >
        <th class="table-item table-item--theadTitle u-md-50" >
         <h4 class="mobileText-paragraphTitle">Características del pack</h4></th>
         <th class="table-item">
          <img src="../../img/icons/user.svg" class="icon  icon--sm u-op-40">
          <span class="pack pack--none pack--medium u-mgt--3rd">Sin Pack</span>
        </th>
        <th class="table-item">
          <img src="../../img/mobileIcons/packBasic.svg" class="icon icon--sm">
          <span class="pack pack--basic pack--medium u-mgt--3rd">Basic</span>
        </th>
        <th class="table-item">
          <img src="../../img/mobileIcons/packPro.svg" class="icon icon--sm">
          <span class="pack pack--pro pack--medium u-mgt--3rd">Pro</span>
        </th>
        <th class="table-item">
          <img src="../../img/mobileIcons/packBusiness.svg" class="icon icon--sm">
          <span class="pack pack--business pack--medium u-mgt--3rd" >Business</span>
        </th>
        <th class="table-item">
          <img src="../../img/mobileIcons/packPremium.svg" class="icon icon--sm">
          <span class="pack pack--premium pack--medium u-mgt--3rd">Premium</span>
        </th>
      </tr>
    </thead>
    <tbody class="table-tbody table-tbody--accordion">
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Tarifa PVD (inclusive en uds. sueltas)</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Descuento automático hasta el 6%</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Bloqueo de Stocks</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Pedido mínimo</td>
        <td class="table-item">10€</td>
        <td class="table-item">3€</td>
        <td class="table-item">3€</td>
        <td class="table-item">3€</td>
        <td class="table-item">3€</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Envíos Dropshipping (a toda Europa)</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">3 envíos / mes</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Seguimiento de envío y Nº Tracking ID</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>

      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Monedero (forma de pago)</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>

      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Descarga factura online</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>

      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Rappel anual</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">0,50%</td>
        <td class="table-item">0,75%</td>
        <td class="table-item">1,00%</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
      </tr>
      <tr class="table-tr" data-js-accordion="link">
        <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Descarga de material para marketing online (Newsletters y Banners)</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconKO}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
        <td class="table-item">{{>iconOK}}</td>
      </tr>
      <tr class="table-tr table-tr--content">
        <td class="table-item" colspan="100">

        </td>
        <tr class="table-tr" data-js-accordion="link">
          <td class="table-item table-item--rowtitle">{{>tableAccordionIcon}}Soporte técnico</td>
          <td class="table-item">{{>iconKO}}</td>
          <td class="table-item">{{>iconKO}}</td>
          <td class="table-item">{{>iconOK}}</td>
          <td class="table-item">{{>iconOK}}</td>
          <td class="table-item">{{>iconOK}}</td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item" colspan="100">

          </td>
        </tr>
        <!--<tr class="table-tr" >
          <td colspan="100"  class="u-pdl">
            {{>contentSection4}}
            {{>contentSection5}}
          </td>
        </tr>-->
      </tbody>
    </table> --}}



