<ul class="mobileTabs-packs">
        <li class="mobileTabs-packsItem"> <p class="mobilePack u-mgb--3rd">Sin Pack</p> {{>iconKO}}</li>
        <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--basic u-mgb--3rd">Basic</p> {{>iconOK}}</li>
        <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--pro u-mgb--3rd">Pro</p> {{>iconOK}}</li>
        <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--business u-mgb--3rd">Business</p> {{>iconOK}}</li>
        <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--premium u-mgb--3rd">Premium</p> {{>iconOK}}</li>
</ul>


