<thead>
    <tr>
        <th> <span class="mobilePack">Sin Pack</span></th>
        <th> <span class="mobilePack mobilePack--basic">Basic</span></th>
        <th> <span class="mobilePack mobilePack--pro">Pro</span></th>
        <th> <span class="mobilePack mobilePack--business">Business</span></th>
        <th> <span class="mobilePack mobilePack--premium">Premium</span></th>
    </tr>
</thead>


