<nav class="mobileTabs" data-js-accordion="accordion" data-js-accordionType="mobileTabs-itemContent--selected" data-js-accordion_selected_class="mobileTabs-itemHeader--selected">
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
           
            <h4 class="mobileTabs-itemTitle">Tarifa PVD (inclusive en uds. sueltas)</h4>
            {{>packsHeader1}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Descuento automático hasta el 6%</h4>
            {{>packsHeader1}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent2}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Bloqueo de Stocks</h4>
            {{>packsHeader1}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent3}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Pedido mínimo</h4>
            <ul class="mobileTabs-packs">
                <li class="mobileTabs-packsItem"> <p class="mobilePack u-mgb--3rd">Sin Pack</p> 10€</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--basic u-mgb--3rd">Basic</p> 3€</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--pro u-mgb--3rd">Pro</p> 3€</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--business u-mgb--3rd">Business</p> 3€</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--premium u-mgb--3rd">Premium</p> 3€</li>
            </ul>
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent4}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Envíos Dropshipping (a toda Europa)</h4>
            <ul class="mobileTabs-packs">
                <li class="mobileTabs-packsItem"> <p class="mobilePack u-mgb--3rd">Sin Pack</p> {{>iconKO}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--basic u-mgb--3rd">Basic</p> 3 envíos / mes</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--pro u-mgb--3rd">Pro</p> {{>iconOK}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--business u-mgb--3rd">Business</p> {{>iconOK}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--premium u-mgb--3rd">Premium</p> {{>iconOK}}</li>
            </ul>
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent5}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Seguimiento de envío y Nº Tracking ID</h4>
            {{>packsHeader1}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent6}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Monedero (forma de pago)</h4>
            {{>packsHeader1}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent7}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Descarga factura online</h4>
            {{>packsHeader1}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent8}}
        </section>
    </article>
   {{!--  <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Rappel anual</h4>
            <ul class="mobileTabs-packs">
                <li class="mobileTabs-packsItem"> <p class="mobilePack u-mgb--3rd">Sin Pack</p> {{>iconKO}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--basic u-mgb--3rd">Basic</p> {{>iconKO}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--pro u-mgb--3rd">Pro</p> 0,50%</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--business u-mgb--3rd">Business</p> 0,75%</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--premium u-mgb--3rd">Premium</p> 1,00%</li>
            </ul>
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent9}}
        </section>
    </article> --}}
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Descarga de material para marketing online (Newsletters y Banners) </h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent10}}
        </section>
    </article>
    <article class="mobileTabs-item">
        <header class="mobileTabs-itemHeader">
            <div class="u-pdb--half u-pdt--half u-pdr u-brdr"><h4 class="mobileTabs-itemTitle">Sincronización</h4></div>
        </header>
    </article>
    <article class="mobileTabs-item mobileTabs-item--sectionRowTitle" >
        <header class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Catálogo de productos y stocks (Descarga manual o por FTP)</h4>
        </header>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">CSV + XML + CSV Prestashop + CSV Categorías en 1 idioma</h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent12}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">CSV + XML + CSV Prestashop + CSV Categorías en 24 idiomas</h4>
            {{>packsHeader3}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent13}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">API Catálogo</h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent130}}
        </section>
    </article>
    <article class="mobileTabs-item mobileTabs-item--sectionRowTitle" >
        <header class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Transporte</h4>
        </header>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">CSV Tarifas de portes  (Los precios son orientativos)</h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent14}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Conector Prestashop - Cálculo de portes</h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent15}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">API Cálculo de portes</h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent16}}
        </section>
    </article>
     <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">API Trackings</h4>
           {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent17}}{{!-- 16 --}}
        </section>
    </article>
     <article class="mobileTabs-item mobileTabs-item--sectionRowTitle" >
        <header class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Pedidos</h4>
        </header>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Carga de Pedidos desde CSV</h4>
            <ul class="mobileTabs-packs">
                <li class="mobileTabs-packsItem"> <p class="mobilePack u-mgb--3rd">Sin Pack</p> {{>iconOK}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--basic u-mgb--3rd">Basic</p> {{>iconOK}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--pro u-mgb--3rd">Pro</p> {{>iconOK}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--business u-mgb--3rd">Business</p> {{>iconOK}}</li>
                <li class="mobileTabs-packsItem"> <p class="mobilePack mobilePack--premium u-mgb--3rd">Premium</p> {{>iconOK}}</li>
            </ul>
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent18}}{{!-- 14 --}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">API Pedidos</h4>
           {{>packsHeader4}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent19}}{{!-- 15 --}}
        </section>
    </article>
     <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">API Pedidos agrupados a una fecha</h4>
            {{>packsHeader4}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent20}}{{!-- 16 --}}
        </section>
    </article>
     <article class="mobileTabs-item mobileTabs-item--sectionRowTitle" >
        <header class="mobileTabs-itemHeader">
            <h4 class="mobileTabs-itemTitle">Tienda dropshipping sincronizada con BigBuy</h4>
        </header>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Sincronización catálogo y stocks en 1 idioma</h4>
            {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent21}}{{!-- 14 --}}
        </section>
    </article>
     <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Sincronización catálogo y stocks en 24 idiomas europeos</h4>
           {{>packsHeader3}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent22}}{{!-- 15 --}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Conector Cálculo de portes BigBuy en su Tienda Dropshipping</h4>
           {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent23}}{{!-- 16 --}}
        </section>
    </article>
    <article class="mobileTabs-item" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Seguimiento de envío / Trackings en su Tienda Dropshipping</h4>
           {{>packsHeader2}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent24}}{{!-- 16 --}}
        </section>
    </article>
    <article class="mobileTabs-item u-brb" >
        <header class="mobileTabs-itemHeader" data-js-accordion="link">
            <h4 class="mobileTabs-itemTitle">Sincronización automática de pedidos a BigBuy</h4>
           {{>packsHeader4}}
        </header>
        <section class="mobileTabs-itemContent" data-js-accordion="panel">
            {{>accordionContent25}}{{!-- 16 --}}
        </section>
    </article>
</nav>



