<ul class="mainNav-menu nav nav--stripe" data-js-mainnav="menu">
    <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a title="Home" class="mainNav-link mainNav-link--home" data-js-mainnav="link" href="http://192.168.1.211/bigbuy_e/">

            <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-home"></use></svg>
        </a>
        <a title="Home" class="mainNav-link mainNav-link--logo" data-js-mainnav="link" href="http://192.168.1.211/bigbuy_e/">
            <svg class="icon icon--inline icon--md" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-logo"></use></svg>
        </a>
    </li>
    <li class="mainNav-item nav-item " data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title=">Hogar y jardín" >Hogar<br>Jardín</a>
        {{> bigMenu bigMenu2.bigmenu }}
    </li>
    <li class="mainNav-item nav-item ">
        <a title="Cocina y gourmet" class="mainNav-link" data-js-mainnav="link" href="#">Cocina<br>Gourmet</a>
        {{> bigMenu bigMenu3.bigmenu }}
    </li>
    <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Ocio y tiempo libre">Ocio<br>Tiempo libre</a>
        {{> bigMenu bigMenu4.bigmenu }}

    </li>

    <li class="mainNav-item nav-item " data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Deportes y fitness">Deportes<br>Fitness</a>
        {{> bigMenu bigMenu3.bigmenu }}
    </li>
    <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Salud y belleza">Salud<br>Belleza</a>
        {{> bigMenu bigMenu6.bigmenu }}

    </li>
    <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Perfumería y cosmética">Perfumería<br>Cosmética</a>
        {{> bigMenu bigMenu7.bigmenu }}

    </li>
    <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Moda y complementos">Moda<br>Complementos</a>
         {{> bigMenu bigMenu10.bigmenu }}

    </li>
       <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Juguetes y bebés">Juguetes<br>Bebés</a>
        {{> bigMenu bigMenu8.bigmenu }}

    </li>
    <li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="#" class="mainNav-link" data-js-mainnav="link" title="Informática y electrónica">Informática<br>Electrónica</a>
        {{> bigMenu bigMenu9.bigmenu }}

    </li>

    <!--<li class="mainNav-item nav-item" data-js-mainnav="item">
        <a href="productlist.html" class="mainNav-link" data-js="mainNav-hidelink" id="complete" title="Catálogo completo">Catálogo<br>completo</a>
    </li>-->
</ul>
