<div class="breadcrumbs">
<div class="modularGrid modularGrid--boxed">
<div class="breadcrumbs-content">
<a href="home2.html" class="breadcrumbs-button">
{{>svgIcon type='arrowLeft' size='sm'}}
</a>
<p class="breadcrumbs-text">
 {{breadcrumbs}} 
 </p>  
</div>
</div>
</div>
