<section class="homeBigBanner">
    <div class="homeBigBanner-container">
        <nav class="homefeatured homefeatured--alt">
           <a href="#" class="homefeatured-item homefeatured-item--space   homefeatured-item--col3">
            {{>svgIcon size='xl' class='homefeatured-icon' type='distribuidores'}}
            <p class="homefeatured-text">
                SER DISTRIBUIDOR
            </p>
            <span class="button button--info">+ info</span>
        </a>
        <a href="#" class="homefeatured-item homefeatured-item--space homefeatured-item--col3">
            {{>svgIcon size='xl' class='homefeatured-icon' type='business_alt'}}
            <p class="homefeatured-text">
                SER PROVEEDOR
            </p>
            <span class="button button--info">+ info</span>
        </a>
    </nav>
</div>
<img class="homeBigBanner-img" src="../../img/banners/bigbanner_home.jpg" alt="">
</section>