<section class="content content--light u-pdv2">
	<h2 class="supertitle u-mgv2 u-elem-center u-tac u-pdh">Servicios más destacados</h2>	 

	<div class="modularGrid modularGrid modularGrid--boxed u-pd2">	
			<div class="modularGrid-module u-xxs-100 u-lg-40"> 
				<h3 class="title1 u-mgb">SERVICIO DROPSHIPPING</h3>
				<ul class="list list--checklist list--midsize u-block u-mgb">
					<li class="list-item">{{>svgIcon class='icon--success' type='done'}}<span class="u-op-60">Sin invertir en stock</span></li>
					<li class="list-item">{{>svgIcon class='icon--success' type='done'}}<span class="u-op-60">Envíos directos al cliente final</span></li>
					<li class="list-item">{{>svgIcon class='icon--success' type='done'}}<span class="u-op-60">Su operador logístico</span></li>
				</ul>
				<button class="button button--primary button--big u-mgt--half u-xxs-hide u-lg-show">+ info</button>
			</div>
           <div class="modularGrid-module u-xxs-100 u-md-80 u-xl-50 u-xxs-hide u-sm-inlineBlock"> 			
				<img src="../../img/dropship_step1.svg" alt="" class="img--responsive u-pdh2 u-mgt">
				<p class="u-flex--between u-pdh2 u-pdt--half">
				<span class="subtitle2 u-pdb0 u-pdl"><strong><small>Su cliente</small></strong></span>
				<span class="subtitle2 u-pdb0"><strong><small>Su ecommerce o emarketplace</small></strong></span>
				<span class="subtitle2 u-pdb0 u-pdr"><strong><small>BigBuy</small></strong></span>
				</p>
				<img src="../../img/dropship_step2.svg" alt="" class="img--responsive u-pdh2">			
			</div>	
			<button class="button button--primary button--big u-mgt2 u-lg-hide u-block">+ info</button>	

	</div>

	

 <div class="modularGrid modularGrid modularGrid--boxed  u-brdt u-pd2">


			<div class="modularGrid-module u-xxs-100 u-lg-40"> 
				<h3 class="title1 u-mgb">B2B VENTA AL POR MAYOR</h3>
				<ul class="list list--checklist list--midsize u-block u-mgb">
					<li class="list-item">{{>svgIcon class='icon--success' type='done'}}<span class="u-op-60">Descuentos especiales por volumen</span></li>
					<li class="list-item">{{>svgIcon class='icon--success' type='done'}}<span class="u-op-60">Envíos agrupados multipedido</span></li>
					<li class="list-item">{{>svgIcon class='icon--success' type='done'}}<span class="u-op-60">Grandes stocks disponibles</span></li>
				</ul>
				<button class="button button--primary button--big u-mgt--half u-xxs-hide u-lg-show">+ info</button>
			</div>
           <div class="modularGrid-module u-xxs-100 u-md-80 u-xl-50 u-xxs-hide u-sm-inlineBlock"> 						
				<img src="../../img/ilustracion-b2b.svg" alt="" class="img--responsive u-xs-70 u-elem-center">			
			</div>
			<button class="button button--primary button--big u-mgt2 u-lg-hide u-block">+ info</button>	



		</div>
		

	



</section>


