<nav class="categoryTabs" >
<!-- {{!-- <button class="categoryTabs-item" data-state="default" title="Categorías" data-js-uitab="button">Categorías</button>

<button class="categoryTabs-item" title="Temáticos" data-state="default" data-js-uitab="button">Temáticos</button>
<button class="categoryTabs-item" title="Marcas" data-state="selected" data-js-uitab="button">Marcas</button>

--}} -->

<label for="hometabs1-1" class="categoryTabs-item" title="Categorías" data-js-uitab="button" data-state="selected">Categorías</label>
<label for="hometabs1-2" class="categoryTabs-item" title="Temáticos"  data-js-uitab="button">Etiquetas</label>
<label for="hometabs1-3" class="categoryTabs-item" title="Marcas"  data-js-uitab="button">Marcas</label>

</nav>