<section class="P_homeBigBanner">
	<div class="homeBigBanner-container">
	    <nav class="homefeatured homefeatured--alt">
	       <div class="homefeatured-item   homefeatured-item--col3">
	            {{>svgIcon size='xl' class='homefeatured-icon' type='distribuidores'}}
	            <p class="homefeatured-text">
	                SER DISTRIBUIDOR
	            </p>
	            <button class="button button--infoalt">+ info</button>
	        </div>

	        <div class="homefeatured-item homefeatured-item--col3">
	        	{{>svgIcon size='xl' class='homefeatured-icon' type='elevador'}}
	            <p class="homefeatured-text">
	                SER PROVEEDOR
	            </p>
	            <button class="button button--infoalt">+ info</button>
	        </div>
	    </nav>
	</div>
	<div class="P_homeBigBanner-parallax">
	<img class="homeBigBanner-img" src="../../img/banners/bigbanner_home.jpg" alt="">
	</div>
</section>

