<section class="content content--flex">
    <div class="categoryList modularGrid--boxed">
        <section class="cardList cardList--skew ">
            <div class="cardList-item cardList-item--one ">
                <a href="#" class="cardElem  cardElem--primary ">
                    <figure class="cardElem-figure">
                        <figcaption class="cardElem-figcaption">
                            <h4 class="cardElem-title cardElem-title--inline u-pdr--third cardElem-title--huge">Novedades</h4>
                            <p class="cardElem-subtitle">Los productos más vendidos</p>
                            <p class="cardElem-more">Ver todo</p>
                        </figcaption>
                        <div class="cardElem-imgCont">
                            <img src="../../img/bb_home_novedades.jpg" alt="" class="cardElem-img">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="cardList-item cardList-item--two">
                <a href="#" class="cardElem  cardElem--primary ">
                    <figure class="cardElem-figure">
                        <figcaption class="cardElem-figcaption">
                            <h4 class="cardElem-title cardElem-title--inline u-pdr--third cardElem-title--huge">De nuevo en stock</h4>

                            <p class="cardElem-subtitle">Disponible en nuestro inventario</p>
                            <p class="cardElem-more">Ver todo</p>
                        </figcaption>
                        <div class="cardElem-imgCont">
                            <img src="../../img/bb_home_stock.jpg" alt="" class="cardElem-img">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="cardList-item cardList-item--one ">
                <a href="#" class="cardElem  cardElem--primary ">
                    <figure class="cardElem-figure">
                        <figcaption class="cardElem-figcaption">
                            <h4 class="cardElem-title cardElem-title--inline u-pdr--third cardElem-title--huge">Top ventas</h4>
                            <p class="cardElem-subtitle">Nuevos productos recien llegados</p>
                            <p class="cardElem-more">Ver todo</p>
                        </figcaption>
                        <div class="cardElem-imgCont">
                            <img src="../../img/bb_home_topventas.jpg" alt="" class="cardElem-img">
                        </div>
                    </figure>
                </a>
            </div>
            <div class="cardList-item cardList-item--two">
                <a href="#" class="cardElem  cardElem--primary ">
                    <figure class="cardElem-figure">
                        <figcaption class="cardElem-figcaption">
                            <h4 class="cardElem-title cardElem-title--inline u-pdr--third cardElem-title--huge">OUTLET</h4>

                            <p class="cardElem-subtitle">Nuestras mejores ofertas</p>
                            <p class="cardElem-more">Ver todo</p>
                        </figcaption>
                        <div class="cardElem-imgCont">
                            <img src="../../img/bb_home_descuentos.jpg" alt="" class="cardElem-img">
                        </div>
                    </figure>
                </a>
            </div>
        </section>
    </div>

</section>