<section class="content content--light ">
	<div class="modularGrid modularGrid modularGrid--boxed u-tac u-pdh u-pdv2">
		<h2 class="supertitle supertitle--huge u-mgt">Todo lo que necesita en un solo proveedor</h2>
	</div>
	{{!-- <div class="modularGrid modularGrid modularGrid--boxed u-tac u-pd">
		<button class="button videoPulse u-elem-center" title="video"></button>		
		<h4 class="subtitle3 u-mgt">Ver vídeo</h4>
	</div> --}}
</section>
