<div class="charts-item" data-js-chart="circular" data-js-limit="{{limit}}" data-js-percent="{{percent}}" {{#if active}} data-js-active="{{active}}"{{/if}}>
<svg class="charts-svg">
<circle class="charts-circle" cx="50%" cy="100%" r="51%" fill="none"></circle>
<circle class="charts-circle charts-circle--top" cx="50%" cy="100%" r="51%" fill="none" data-js-chart="circle"></circle>
</svg> 
<p class="charts-number" data-js-chart="number">0</p>
<h4 class="charts-title">{{title}}</h4>
</div>
