<section class="hero u-bg--white u-pdt u-pdb2">

  <div class="hero-content">
    <div class="hero-contentheader">
      <img src="../../img/allinonelogo_alt.svg" alt="" class="u-elem-center">
    </div>
    <div class="hero-itemslist u-mgb2">  
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='catalog' }}
        <p class="hero-itemtitle">CATÁLOGO</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='stock-propio2'}}
        <p class="hero-itemtitle">LOGÍSTICA</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='b2b'}}  
        <p class="hero-itemtitle">E-COMMERCE B2B</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='sync'}} 
        <p class="hero-itemtitle">SINCRONIZACIÓN</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='cog'}} 
        <p class="hero-itemtitle">RECURSOS</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='description'}}   
        <p class="hero-itemtitle">ADMINISTRACIÓN</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='delivery2'}} 
        <p class="hero-itemtitle">ENVÍOS</p>
      </div>
      <div class="hero-item">
        {{>svgIcon class='hero-icon' type='postventa'}} 
        <p class="hero-itemtitle">POSTVENTA</p>
      </div>
    </div>
  </div>
  <button class="button button--primary button--big u-elem-center u-mgb2">+ info</button>
</section>
