<section class="charts charts--circular" data-js-chart="circular_charts_container">
{{>homeCircleChartsItem title='Envíos dropshipping' limit='105000' percent='80' }}
{{>homeCircleChartsItem title='Referencias' limit='24400' percent='50' }}
{{>homeCircleChartsItem title='Marcas' limit='1150' percent='100' }}
</section>
