<table  cellspacing="0" cellpadding="0" border="0" width="550"  align="center" style="font-family:'Arial',sans-serif; font-size:10px; color:#999999;">
    <tr>
        <td style="padding-top:20px; padding-bottom:10px; text-align:left;">
        <strong>AVISO LEGAL</strong>: En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, se informa al titular de los datos de que serán incorporados a un fichero propiedad de BigBuy.eu, debidamente inscrito en la Agencia Española de Protección de Datos, podrá negarse a que sean incorporados al mencionado fichero y, además, podrá ejercitar los derechos de acceso, rectificación y cancelación legalmente establecidos, mediante comunicación escrita a BigBuy.eu o en el correo electrónico.</td>
    </tr>
    <tr>
        <td style="padding-bottom:20px; text-align:left;">Antes de imprimir este correo electrónico, piense bien si resulta imprescindible hacerlo. El medio ambiente es cosa de todos.
        </td>
    </tr>

</table>