<div class="modularGrid">
            <div class="modularGrid-module u-pd">
                <h2 class="title">Cómo utilizar el panel  “Seguimiento de stock”.</h2>
                <h3 class="panel-section-subtitle u-pdt--half">
                    El listado seguimiento de stock permite visualizar en una única pantalla toda la información relevante de una serie de productos: </h3>
                    <ul class="bulletlist u-pdl u-pdb--half">
                        <li>Código y descripción del producto.</li>
                        <li>Stock: muestra las cantidades disponibles y el tiempos de preparación del pedido.</li>
                        <li>Próximas entradas: muestra  la cantidad y fecha aproximada de reaprovisionamiento</li>
                    </ul>
                    <p><strong>Para incluir el producto en el seguimiento de stock siga las indicaciones:</strong></p>
                <p class="u-pdt u-pdb"><strong>Paso 1</strong>  Haga click en el icono indicado en la ficha de producto.</p>
                <p class="u-mgb"><img src="../../img/infoFollow_1_en.png"></p>
                <p class="u-pdb"><strong>Paso 2</strong>  Haga click sobre el botón de “Seguimiento de stock” para añadirlo al panel.</p>
                <p class="u-mgb"><img src="../../img/infoFollow_2_en.png"></p>
            </div>

        </div>