<table class="table table--interactive">


    <colgroup>
        <col style="width:10%;">
        <col style="width:30%;">       
        <col style="width:35%;">
        <col style="width:20%;">
        <col style="width:5%;">
    </colgroup>


    <thead class="table-thead  panelHeader-fixedTableHeader">
        <tr class="table-tr  table-tr--filters">
            <th class="table-th table-item u-pdb--none" colspan="5">
                    <div class="modularGrid-module u-md-30 u-pdt--half">
                        <label class="form-label">Buscar</label>
                        <input class="form-input" type="text">
                    </div>
            </th>
        </tr>
        <tr class="table--tr table-tr--sort">
            <th class="table-th table-item" width="10%">Código
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="30%">Producto
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="35%">Stock
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="20%">Próximas entradas
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" width="5%"></th>
        </tr>

        </thead>
