<!-- expressCart Row -->
<tr class="table-tr" data-js-back="row">
    <td class="table-item">123456789 </td>
    <td class="table-item">
        <figure class="dataTables-figure">
            <img class="dataTables-figureImg" src="http://vancouver.dropshippershop.com/91274-home_default/caja-metalica-retro-camara-fotografica.jpg" alt="" >
            <figcaption class="dataTables-figcaption">Caja Metálica Retro</figcaption>
        </figure>
    </td>
    <td class="table-item">
        <div class="stockAvailability">
            <p class="stockAvailability-title stockAvailability-title--success">Disponible</p>
            <ul class="stockAvailability-list">
                <li class="stockAvailability-item">180 uds. envío 24/48h</li>
            </ul>
        </div>
    </td>
    <td class="table-item">3.000 uds. en Mayo</td>
    <td class="table-item">
        <button data-js-ticket-action="clearFollowback" class="button button--icon u-mgl--half">
            <svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"></use></svg>
        </button>
    </td>
</tr>
