
<div class="modularGrid-module mobileCMS-header">
    <h1 class="mobileCMS-title">Tienda dropshipping</h1>
    <h2 class="mobileCMS-subtitle">Sincronizada a BigBuy</h2>
</div>

<div class="modularGrid-module">
    <h3 class="mobileCMS-slogan mobileCMS-slogan--big">Usted vende y BigBuy se encarga del resto</h3>
    {{>imageHeaderDropshippingStore}}
    {{> mobileFeaturesList mobileFeaturesList.dropshippingStoreHeader}}

</div>








