<section class="modularGrid-module u-pd u-mgb2">
  <div class="ventaCMS-subsection  u-elem-center">
    <h4 class="mobileCMS-sectionTitle u-pdb--half">Dudas frecuentes</h4>
    <table class="table table--comparative u-pd u-mgt " data-js-accordion="accordion" data-js-accordion_selected_class="table-tr--selected">
      <tbody class="table-tbody table-tbody--accordion">
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Por qué le recomendamos elegir BigBuy?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>BigBuy es una empresa consolidada a nivel internacional y <strong>líder en el mercado europeo del regalo original</strong>. Nuestro negocio es la importación y la <strong>comercialización de miles de artículos</strong>, dominamos el <strong>negocio B2B</strong> y la <strong>venta al por mayor</strong> online y offline. Aprovechamos nuestro volumen de ventas para comprar grandes cantidades directamente a los fabricantes y ahorrar así en gastos de intermediarios, lo que nos permite <strong>ofrecer a nuestros distribuidores costes muy competitivos e importantes márgenes de beneficio</strong>.</p>
                  <br>
                  <p>• <strong>BigBuy es mayorista y dispone del stock, no somos intermediarios</strong>
                  </p>
                  <p>• Miles de artículos en stock y multitud de novedades todas las semanas</p>
                  <p>• Instalaciones de más de 20.000 metros cuadrados con almacenes informatizados</p>
                  <p>• BigBuy controla todo el proceso logístico</p>
                  <p>• Envíos dropshipping a toda Europa a precios muy competitivos</p>
                  <p>• Envíos dropshipping contrarrembolso (disponible en España)</p>
                  <p>• Departamento propio de programación e ingeniería informática</p>
                  <p>• Departamento propio de diseño gráfico con estudio fotográfico</p>
                  <p>• Departamento propio de traducción y contenidos multilingües, por profesionales nativos de cada idioma</p>
                  <p>• Atención al cliente en más de 8 idiomas europeos</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Por qué es mejor tratar directamente con el mayorista que con intermediarios?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Los intermediarios que le alquilan un software e-commerce y que no disponen del stock le acaban remitiendo a un <strong>mayorista</strong>. Este tipo de empresas viven de vender o alquilar webs, a diferencia de los mayoristas con stock. El único objetico de ofrecer un servicio de <strong>tienda dropshipping</strong> es vender productos y ayudar a los distribuidores a que los vendan.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cómo se sincroniza la tienda dropshipping con BigBuy?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Lo más interesante del servicio <strong>tienda dropshipping</strong> es precisamente la sincronización que ofrecemos. Se trata de un trabajo de muchos años desarrollado por nuestro departamento de programación y consiste en la instalación de determinados scripts en PrestaShop que sincronizan con BigBuy. Estos scripts se sincronizan con nuestras bases de datos MySQL con tareas Cron programadas y garantizan una eficiencia mucho mayor que la típica sincronización mediante CSV descargados de una dirección FTP.</p>
                  <br>
                  <p>Cuando un artículo nuevo se crea en BigBuy, en menos de una hora se exporta de forma automática a la <strong>tienda dropshipping sincronizada</strong>. Este primer volcado incluye la información completa del artículo, como título, descripción, categoría, hasta 8 imágenes, vídeo, precio de coste, P. V. P. recomendado, tipo de IVA, código EAN, stock, etc. Una vez creado el artículo, los scripts realizan diariamente múltiples comprobaciones con nuestros servidores de bases de datos y actualizan de forma automática el stock, los precios de coste y las bajas de artículos descatalogados. El distribuidor decide si quiere que se actualice o no el resto de los datos de forma automática, ya que algunos clientes, por estrategia comercial, pueden preferir modificar a su gusto los P. V. R. (precios de venta recomendado), las descripciones, las imágenes, etc.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Puedo añadir más productos de mi negocio o de otros proveedores a la tienda dropshipping?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Las actualizaciones de los productos se realizan mediante la referencia del producto en BigBuy, lo que permite que su página web conviva con otros productos, suyos o de otros proveedores. No obstante, deberá tener en cuenta los gastos de envío, ya que puede darse algún problema si recibe un pedido de múltiples proveedores y solo le cobra un porte al cliente.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Qué margen de beneficio se obtiene? ¿Cuál será mi precio de coste?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>El distribuidor compra los artículos en BigBuy a precio mayorista P. V. D. (inclusive unidades sueltas) y el margen de beneficio es la diferencia respecto al P. V. R. (precio de venta recomendado) de BigBuy. Los márgenes oscilan entre el 35-70 %, exceptuando ciertas familias o algunos artículos de valor unitario elevado en los que el porcentaje será menor, aunque el margen final dependerá de la política de P. V. P. que usted decida aplicar.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Puedo vender al precio que quiera?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Sí, BigBuy trata de orientar mediante el P. V. R. (precio de venta recomendado), pero el cliente es libre de aplicar en su estrategia comercial la política de márgenes que desee.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Quién cobra al cliente? ¿Quién emite la factura? ¿Cómo tramito los pedidos?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>La tienda será 100 % de su propiedad y los clientes que compren en ella le comprarán a usted, por tanto usted recibirá el cobro de los pedidos y usted deberá realizar la factura a su cliente. El propio PrestaShop le da la opción de emitir facturas.</p>
                  <p>Cuando reciba un pedido en su tienda dropshipping y lo haya cobrado, deberá acudir a <a href="https://www.bigbuy.eu/">www.bigbuy.eu </a> (su proveedor), agregar al carrito lo que haya vendido, finalizar el pedido y abonarlo. Aquí percibirá la diferencia, que será su margen de beneficios. Al recibir su pedido, BigBuy lo procesará y lo entregará en su nombre y con su imagen de empresa. Este modelo de negocio es lo que se denomina <a href="https://www.bigbuy.eu/es/dropshipping.html">Dropshipping</a>.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Qué formas de pago debo ofrecer en la tienda? ¿Es necesario disponer de un TPV virtual?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Por defecto, en la página web le instalamos las siguientes formas de pago:</p>
                  <p>• <strong>Contrarrembolso</strong>: un 25 % de los consumidores confía en esta forma de pago. Solo está disponible para envíos a España.</p>
                  <p>• <strong>PayPal</strong>: un 30 % de los consumidores confía en PayPal. Si bien cobra al inicio unas comisiones altas, al aumentar el volumen se van reduciendo. Es una forma de pago bastante segura tanto para el comprador como para el vendedor. BigBuy le preinstala esta forma de pago, solo es necesario que introduzca su e-mail y contraseña.</p>
                  <p>• <strong>Tarjeta por PayPal</strong>: un 40 % de los consumidores utiliza su tarjeta de crédito/débito para realizar compras por Internet. BigBuy deja preinstalada la pasarela de PayPal en modo invitado, donde el cliente indica los datos de su tarjeta sin necesidad de abrir una cuenta de PayPal. Esta opción es ideal para arrancar rápido un e-commerce y disponer de la forma de pago por tarjeta.</p>
                  <p>• <strong>TPV Virtual de su banco, para cobro con tarjeta</strong>: dado que existen tantos bancos en toda Europa si usted decide instalar un TPV Virtual, deberá acudir al soporte técnico de su banco.</p>
                  <p>• <strong>Transferencia</strong>: apenas el 5 % de los consumidores escogen esta forma de pago, debido a que es lenta y ralentiza la expedición de los pedidos. Por supuesto, esta forma de pago se la dejamos pre-instalada.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cómo debo actuar en caso de una incidencia en un pedido?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>En este link están todos los casos posibles y el protocolos a seguir:
                    <br><a href="https://www.bigbuy.eu/es/condiciones-especiales-mayoristas.html">https://www.bigbuy.eu/es/condiciones-especiales-mayoristas.html</a>
                  </p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cómo puedo mejorar el posicionamiento SEO?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>La tienda se entrega con URL amigables y diversas adaptaciones más para ayudar al posicionamiento SEO, no obstante existen multitud de tareas que podrá realizar tanto dentro de la página como fuera y que le ayudarán a estar en las primeras posiciones de los buscadores, sobre todo con las palabras clave por las que enfoque su estrategia de marketing online. Con la entrega de la tienda entregamos un manual con trucos y pasos a seguir para mejorar el posicionamiento SEO.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Puedo eliminar categorías o artículos para que no salgan en mi tienda?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Sí. Usted puede deshabilitar una categoría entera o un artículo de forma individual para que no salgan en su tienda, de esta forma podrá tener una tienda tematizada a los artículos que usted decida. También podrá crear una categoría/subcategoría nueva y agregar los artículos que quiera en ella inclusive de otros proveedores.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cómo funciona la sincronización de pedidos exclusiva para el Pack Premium?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>En su panel de control de PrestaShop podrá visualizar y revisar todos los pedidos recibidos. Con un sencillo clic podrá transmitirlos a BigBuy de forma automática, evitando hacer los pedidos en BigBuy de forma manual con el clásico copia/pega de todos los datos del cliente y ahorrará así tiempo en la gestión de su tienda.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿En cuántos idiomas está disponible la tienda dropshipping?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Ofrecemos sincronización en 24 idiomas europeos con traducciones realizadas por profesionales nativos. Con el Pack Pro podrá elegir 1 idioma, con el Business o Premium podrá seleccionar entre 24 idiomas.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                Descarga y apoyo en marketing online gráfico y banners para newsletters, web o catálogos                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Los clientes activados en Pack Pro, Business o Premium disponen en el panel de control de BigBuy de una zona de descargas con material gráfico como banners, imágenes, logotipos para que puedan hacer uso en sus webs, catálogos o newsletters. BigBuy nutre semanalmente esta sección.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿En qué dominio estará la tienda dropshipping?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>En el que usted elija. Para que el dominio sea 100 % de su propiedad, nosotros le indicamos cómo y dónde debe registrarlo con su datos personales. Aunque su intención sea operar en su país, le aconsejamos que piense en nombres globales que sean entendibles en varios idiomas, ya que esto le facilitará en el futuro la expansión a otros mercados.</p>
                  <p>Si usted ya dispone de un dominio registrado, y para no tener que transferirlo, desde ese mismo registrador se pueden apuntar las DNS al nuevo hosting de la tienda. Para ello también contará con el apoyo de BigBuy.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cuál será el hosting donde se alojará la tienda dropshipping?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel"> {{>hostingFaq}} </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Le gustaría ver la demo de una tienda dropshipping sincronizada con BigBuy?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Más arriba dispone de multitud de diseños diferentes. Haga clic en Ver demo y luego seleccione el color que más le guste.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                Quiero comprar una tienda dropshipping, ¿cómo lo hago?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <ul class="mobileText mobileText-listBullet" type="1">
                    <li>Elija el diseño que más le guste y haga clic en Comprar. Finalice el pedido como si de un artículo se tratara y realice el pago.</li>
                    <li>
                      <p>Una vez adquirida la tienda, deberá entrar en Packs mayoristas y activar el que mejor encaje con su negocio:</p>
                      <ul class="mobileText mobileText-listBullet">
                        <li><strong>Pack Pro</strong>: sincronización en 1 idioma</li>
                        <li><strong>Pack Business</strong>: sincronización en 24 idiomas europeos</li>
                        <li><strong>Pack Premium</strong>: sincronización en 24 idiomas europeos + sincronización automática de pedidos</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                Una vez que adquiera la tienda, ¿qué apoyo tendré por parte de BigBuy?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>El apoyo es total, BigBuy pone a su disposición:</p>
                  <p>• Manual detallado para arrancar la tienda</p>
                  <p>• Soporte técnico de personal altamente cualificado</p>
                  <p>• Web preparada para el posicionamiento SEO</p>
                  <p>• Zona de descargas en BigBuy de marketing online: banners, newsletters, etc.</p>
                  <p>• Información diaria por vía e-mail de altas y actualizaciones de productos</p>
                  <p>• Actualizaciones gratuitas y periódicas de los scripts de sincronización</p>
                  <p>• Sugerencias de nuevas funcionalidades y módulos para incorporar a su e-commerce</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cuál es el plazo de entrega si compro esta tienda dropshipping?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Aproximadamente 2-3 días desde el momento en que nos haya enviado toda la información necesaria.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                 ¿Qué pasa si pasados unos meses quiero cambiar a otro diseño?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>El coste de cambiar a otro diseño es de 40 €. Tenga en cuenta que, en ese caso, su tienda volverá a la configuración inicial. Si instaló módulos adicionales y quiere mantenerlos en el nuevo diseño, el departamento técnico tendría que realizar un estudio de viabilidad.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Cuál es el tiempo de permanencia con la tienda?                                 </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Ninguno, la tienda no exige permanencia, puesto que en el momento de la compra pasará a ser 100 % de su propiedad. El único requisito para que la sincronización funcione es que tenga activo un Pack mayorista Pro, Business o Premium.</p>
                </div>
              </div>
            </section>
          </td>
        </tr>
        <tr data-js-accordion="link" class="table-tr">
          <td class="table-item table-item--rowtitle">
            <svg role="img" class="icon icon--inline icon--xs u-mgr--half " data-js-accordion="chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"></use>
            </svg> <span class="accordion-title">
                                ¿Qué pasa con la tienda online si más adelante decido no seguir con BigBuy?                                </span> </td>
        </tr>
        <tr class="table-tr table-tr--content">
          <td class="table-item">
            <section class="table-accordionContent" data-js-accordion="panel">
              <div class="modularGrid u-pd">
                <div class="modularGrid-module modularGrid-module--legible">
                  <p>Nada, la tienda será 100 % de su propiedad y estará alojada en un servidor registrado por usted, por lo que si más adelante decide no seguir con BigBuy, podrá usarla con otros productos y con otros proveedores. </p>
                </div>
              </div>
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>