<div class="planCard" data-js-planCardElem="planCard1">
    <ul class="planCard-imgList" data-js-planCardImgList="planCard1">
        <li class="planCard-imgItem" data-js-planCardImg="blue">
            <img src="../../img/paris-blue.jpg" alt="" class="planCard-img">
        </li>
        <li class="planCard-imgItem" data-js-planCardImg="yellow">
            <img src="../../img/paris-yellow.jpg" alt="" class="planCard-img">
        </li>
        <li class="planCard-imgItem" data-js-planCardImg="pink">
            <img src="../../img/paris-pink.jpg" alt="" class="planCard-img">
        </li>
        <li class="planCard-imgItem planCard-imgItem--active" data-js-planCardImg="green">
            <img src="../../img/paris-green.jpg" alt="" class="planCard-img">
        </li>
    </ul>

    <aside class="planCard-actions">
        <div class="planCard-actionsItem planCard-actionsItem u-xs-3rd">
            <h4 class="planCard-actionsItemTitle">Responsive</h4>
            <img src="http://192.168.1.211/bigbuy_e/public/img/responsive.svg" alt="" class="planCard-icon">
        </div>
        <div class="planCard-actionsItem u-xs-3rd">
            <img class="u-xs-50" src="http://192.168.1.211/bigbuy_e/public/img/prestashop_1-6-logo.png" alt="" class="planCard-icon">
        </div>
        <div class="planCard-actionsItem planCard-actionsItem--prices u-xs-3rd">
            <h3 class="planCard-bigPrice">570 €</h3>
            <span class="planCard-littlePrice">(o 190 € x 3 plazos)</span>
        </div>
    </aside>
    <div class="u-tac u-pdb">
        <button class="button u-mgr--half u-mgt--half" onclick="window.open('http://vancouver.dropshippershop.com')" data-js-buttonplancard2-demo="">Ver demo</button>
        <button class="button button--primary  u-mgt--half" onclick="window.open('http://192.168.1.211/bigbuy_e/es/tienda-dropshipping-diseno-vancouver.html')" data-js-buttonplancard2-buy="">Comprar</button>
    </div>
</div>

