<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" sizes="196x196" href="../../img/logo_bb.png">
    <script src="//localhost:1337/livereload.js"></script>
    <script src="../../js/modernizr.js"></script>
    <script src="../../js/svg4everybody.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,500,700,300,400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../css/admin.css">
</head>