<!-- Logo -->
{{!-- <figure class="logo">
	<div class="logo-thumbnail">
        <a href="dashboard.html"><img alt="" src="http://api.randomuser.me/portraits/women/96.jpg" class="logo-img" ></a>
    </div>
    <svg role="img" class="logo-background">
        <use xlink:href="../../img/logo-bigbuy.svg#bigbuy"></use>
    </svg>
</figure> --}}

<figure class="logo">
    <div class="logo-thumbnail">
        <a style="color:#000" href="http://192.168.1.211/bigbuy_e/es/controlpanel/">
                        <img data-js-avatar="main_nav" class="logo-img" src="http://192.168.1.211/bigbuy_e/public/avatar/11347.jpg" alt="">
                    </a>
    </div>
    <a href="http://192.168.1.211/bigbuy_e/es/controlpanel/">
        <img class="logo-background" src="http://192.168.1.211/bigbuy_e/public/img/logo-bigbuy.svg" alt="">
    </a>
</figure>
