<ul class="mainNavMenu">

<li class="mainNavMenu-item">
        <a title="Packs" class="mainNavMenu-link" href="facturas.html" data-js-mainnavback="facturas">
            <span class="mainNavMenu-itemText">Perfiles</span>

        </a>
    </li>

    <li class="mainNavMenu-item mainNavMenu-item--sub">

        <a title="administracion" class="mainNavMenu-link " href="dashboard.html" >
            <span class="mainNavMenu-itemText">Descargas administración</span>
        </a>
{{!--         <svg role="img" class="icon icon--inline icon--xs mainNavMenu-caret">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-caretDown"/>
        </svg> --}}
        <ul class="mainNavMenu--submenu">
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="mainNavMenu-item">
        <a title="Packs" class="mainNavMenu-link" href="stocks_lock.html">
            <span class="mainNavMenu-itemText">Web</span>
            <span class="notify u-flr"></span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Pedidos" class="mainNavMenu-link" href="pedidos.html">
            <span class="mainNavMenu-itemText">Packs</span>
            <span class="notify u-flr"></span>
        </a>
    </li>
    <li class="mainNavMenu-item mainNavMenu-item--sub">
        <a title="Facturas" class="mainNavMenu-link" href="facturas.html">
            <span class="mainNavMenu-itemText">Usuarios</span>
        </a>
        <ul class="mainNavMenu--submenu ">
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
            <li class="mainNavMenu-item">
                <a class="mainNavMenu-link" href="">
                    <span class="mainNavMenu-itemText">item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="mainNavMenu-item">
        <a title="Monedero" class="mainNavMenu-link" href="wallet.html">
            <span class="mainNavMenu-itemText">Enviar email</span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link" href="wallet.html">
            <span class="mainNavMenu-itemText">Estadísticas</span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link" href="wallet.html">
            <span class="mainNavMenu-itemText">Sincronización </span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Descargas" class="mainNavMenu-link" href="wallet.html" >
            <span class="mainNavMenu-itemText">Promociones </span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Direcciones" class="mainNavMenu-link" href="wallet.html">
            <span class="mainNavMenu-itemText">Direcciones</span>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Mi cuenta" class="mainNavMenu-link" href="account.html">
            <span class="mainNavMenu-itemText">Mis datos</span>
            <b class="notify u-flr">!</b>
        </a>
    </li>
    <li class="mainNavMenu-item">
        <a title="Mi cuenta" class="mainNavMenu-link" href="shops.html">
            <span class="mainNavMenu-itemText">Tiendas sincronizadas</span>
        </a>
    </li>
</ul>
