<div class="panel-footer-pagination">

    <div class="panel-footer-pagination-item ">
        <div class="form-action">
            <i class="form-action-icon fa fa-chevron-circle-left"></i>
            <span class="form-action-msg">Atrás</span>
        </div>
    </div>

    <div class="panel-footer-pagination-item panel-footer-pagination-item--currentPage">
        Mostrando <strong>1-10</strong> de <strong>150</strong>  
    </div>

    <div class="panel-footer-pagination-item">
        <div class="form-action">
            <span class="form-action-msg">Adelante </span> &nbsp; 
            <i class="form-action-icon fa fa-chevron-circle-right"></i>
        </div>
    </div>    

</div>