<aside class="popup u-lg-50 animated fadeInDown" data-js-popup="popup">
	<header class="popup-header">
		<h1 class="popup-title u-pdb--half">Bloquear producto</h1>
		<button title="Cerrar" class="button button--icon popup-close" data-js-popup="close">
			<svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-times"/></svg>
		</button>
	</header>
	<div class="popup-content">
		<h3 class="form-title u-mgb">Lote Jamón + Embutidos + Jamonero Gourmet + Cuchillo y Afilador</h3>
		<div class="modularGrid u-pdt u-brdt ">
			<div class="modularGrid-module u-md-50 u-pdr ">
				<img title="Jamón" alt="ham" src="http://www.bigbuy.eu/media/catalog/product/cache/1/image/265x265/9df78eab33525d08d6e5fb8d27136e95/d/e/delizius-paleta-bodega-jamonero-gourmet-01.jpg" class="img--responsive u-brd">
			</div>
			<div class="modularGrid-module u-md-50 u-pdl--half u-pdr--half">
				<form class="form" action="">
					<fieldset class="form-fieldset  form-fieldset--borderless">
						<h3 class="form-subtitle">Opciones</h3>
						<label class="form-label u-mgt--half" >Seleccione Jamón de su Lote</label>
						<select class="form-select" data-js-select_attributes="160" name="Seleccione Jamón de su Lote">
							<option value="953"> Paleta Jamón Ibérico Bellota 5/5.5 K </option>
							<option value="954"> Paleta Jamón Ibérico Bellota 4.5/5 K </option>
							<option value="932"> Paleta Jamón Ibérico 4/4.5 Kg </option>
							<option value="931"> Paleta Jamón Ibérico 4.5/5 Kg </option>
							<option value="933"> Paleta Jamón Ibérico 3.5/4Kg </option>
							<option value="935"> Paleta de Jamón Serrano 4/4.5 Kg </option>
							<option value="934"> Jamón Serrano 6 Kg </option>
							<option value="926" selected="selected"> Jamón Ibérico Bellota 8/8.5 Kg </option>
							<option value="925"> Jamón Ibérico Bellota 8.5/9 Kg </option>
							<option value="929"> Jamón Ibérico 7.5/8 Kg </option>
							<option value="930"> Jamón Ibérico 6/6.5 Kg </option>
						</select>
						<label class="form-label" >Embutidos</label>
						<select class="form-select" name="peso" >
							<option value=""> Con embutidos </option>
							<option value=""> Sin embutidos </option>
						</select>


					</fieldset>

				<fieldset class="form-fieldset  form-fieldset--borderless">
				<aside class="productSheet-discountBadge u-brd0">
                                    <div class="modularGrid">
                                        <div class="modularGrid-module">
                                          <label class="form-label">Precio</label>
                                        </div>
                                        <div class="modularGrid-module">
                                            <div class="modularGrid">
                                                <div class="modularGrid-module u-md-70 u-xl-70">
                                                    <div data-js-price_product="" class="productSheet-pvp1">
                                                        <span class="productSheet-pvp1Title">
                                                            PVD                                                        </span>
                                                        <span class="productSheet-pvp1Val">180,58 €</span>
                                                        <div data-js-price_shop="" class="productSheet-pvp2">
                                                            <span class="productSheet-pvp2Title">
                                                                PVR                                                            </span>
                                                            <span class="productSheet-pvp2Val">229,83 €</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modularGrid-module u-md-30 u-xl-30">
                                                    <div data-js-price_discount="" class="productSheet-pvp3 u-pdt--half">
                                                        <div class="productSheet-pvp3Val">- 21 %</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span data-js-product_sheet="" class="form-info productSheet-info  u-flr">Transporte y 10% de IVA no incluidos</span>
                                        </div>
                                    </div>
                                </aside>
                                </fieldset>
                                <fieldset class="form-fieldset  form-fieldset--borderless">
                                	<label class="form-label" >Cantidad</label>
                                	<div class="modularGrid">
                                	    <div class="modularGrid-module u-md-30">
                                	    	<div class="unitControl ">
							<input type="text" value="5" class="form-input form-input--postfix unitControl-input">
							<span class="form-postfix unitControl-groupBtns">
								<button class="button button--icon unitControl-button unitControl-button--plus"></button>
								<button class="button button--icon unitControl-button unitControl-button--minus"></button>
							</span>
						</div>

                                	    </div>
                                	      <div class="modularGrid-module u-md-70">
                                	      	<button class="button button--primary button--full" type="submit" data-js-popup="submitAction" title="Bloquear">
						<svg role="img" class="icon  icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-lock"/></svg>
						Bloquear
						</button>
                                	      	</div>
                                	</div>




                                </fieldset>
                                </form>




			</div>
		</div>
	</div>

</aside>
