<section class="hero hero--multi">

	
    

		<div class="hero-container">
		<div class="hero-content">	
			<h3 class="hero-title">{{{multichannel.title}}}</h3>
			<h4 class="hero-subtitle">{{{multichannel.subtitle}}}</h4>
			{{>multichannelFeatures multichannel.features}}
			<h4 class="hero-slogan">{{{multichannel.slogan}}}</h4>
			<p class="u-content-center u-mgb">
			<a href="https://www.bigbuy.eu/es/subscription/checkout" class="button button--big button--primary">Activar</a></p>
			</div> 
			<p class="hero-badge">{{{multichannel.badge}}}</p>			

			
		</div> 
		
		     
		<figure class="hero-image">
		<img src="../../img/mipexample.svg" alt="" >	

		</figure>
		 				  
</section>

