{{!-- <div class="panel panel--reveal panel--inactive" data-js-panel-name="panel01" data-js-panel-state="active"> --}}
<div class="panel panel--active" data-js-panel-name="panel01" data-js-panel-state="active">
  <div class="panel-title">  
  {{>svgIcon type='multichannel'}}  
    <div class="panel-titleName">
    	<a class="panel-breadcrumbLink" href="">Multi-Channel Integration Platform</a></div>
  </div>
  <div class="panel-content panel-content--fullW panel-content--fullH" >
    {{> multichannelHero}}
  </div>
</div>
