
</tr>
<tr class="table-tr table-tr--rowplans" data-js-back="row">
<td class="table-item table-item--datarange" > 04/04/2014 | 22:30 </td>
<td class="table-item  table-item--left u-xs-30" >Fiambrera Eléctrica para Coches Thermic Dynamics</td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>
<td class="table-item u-xs-10" ><span class="notify notify--success"></span></td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>
<td class="table-item u-xs-10" ><span class="notify"></span></td>

{{!-- <button title="Tracking" data-js-show-track="" class="button button--condensed">
<svg class="icon icon--inline icon--xs" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-tracking_truck"></use></svg>
</button> --}}

</tr>
