
    <thead class="table-thead ">



        <tr class="table--tr table-tr--sort">
            <th class="table-th  table-item  table-th--datarange">Fecha / hora
                {{>orderingIcon}}
            </th>
             <th class="table-th table-th--adjust u-xs-30">Artículo
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10" >Cambios descripción
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10" >Título
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10" >Fotos
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10" >PVD
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10">De nuevo en stock
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10"  >Stock cero
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10" >Baja
                {{>orderingIcon}}
            </th>
            <th class="table-th table-th--adjust u-xs-10" >Fecha
                {{>orderingIcon}}
            </th>
        </tr>


        <tr class="table-tr  table-tr--filters">
            <th class="table-th table-item table-th--datarange">
                <button class="button button--prefix button--icon u-locked-evts">
                    <svg role="img" class="icon icon--inline icon--xs"><use xlink:href="../../img/icons/svg-defs.svg#icon-calendar"></use></svg>
                </button>
                <input placeholder="01/09/2014 - 15/09/2014" type="text" class="form-input form-input--collapse form-input--datarange"  >

            </th>
            <th class="table-th table-item">
                {{!-- <input class="form-input form-input--collapse" type="text" > --}}
            </th>
            <th class="table-th table-item">
                {{!-- <input class="form-input form-input--collapse" type="text" > --}}
            </th>
            <th class="table-th table-item">
                {{!-- <input class="form-input form-input--collapse" type="text" > --}}
            </th>
            <th class="table-th table-item">
                {{!-- <select name="" id="" class="form-select form-select--collapse">
                    <option value="">---</option>
                </select> --}}
            </th>
            <th class="table-th table-item">
                {{!-- <select name="" id="" class="form-select form-select--collapse">
                    <option value="">---</option>
                </select> --}}
            </th>
            <th class="table-th table-item">
                {{!-- <select name="" id="" class="form-select form-select--collapse">
                    <option value="">---</option>
                </select> --}}
            </th>
            <th class="table-th table-item">
                {{!-- <input class="form-input form-input--collapse" type="text" > --}}
            </th>
            <th class="table-th table-item"></th>
            <th class="table-th table-item"></th>

        </tr>
    </thead>








