{{>tableUpdatesHeader}}
<table class="table table table--interactive table--fixedwidth">{{!--
{{>tableUpdatesHeaderContent}} --}}


    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowUpdates}}

    </tbody>
</table>







