<section class="hero hero--multichannel u-pdt2">
	<div class="hero-content">
		<div class="modularGrid modularGrid--boxed u-flex--between u-flwrap">

			<div class="modularGrid-module u-md-55  u-v-center u-pdl2 u-pdv  u-flex-start">
				<h3 class="hero-title">{{{title}}}</h3>

				<a class="button button--primary homeslider-button u-iblock" href="#" title="{{buttontext}}">{{buttontext}}</a>
			</div>
			<div class="modularGrid-module u-md-40 u-tac ">
			<img src="../../img/banners/{{image}}" alt="" class="img--responsive">

			</div>
		</div>
	</div>
</section>
