<div class="panel panel--secondary panel--inactive" data-js-panel-name="panel02" data-js-panel-state="inactive">
    <div class="panel-title">
        <svg class="icon icon--inline icon--xs" role="img">
            <use xlink:href="../../img/icons/svg-defs.svg#icon-store"/>
        </use>
    </svg>
    <div class="panel-titleName">
        <a href="" class="panel-breadcrumbLink">
            Estado de la tienda
        </a>
    </div>
</div>
<div class="panel-content">
    <div class="panel-section" >
        <div  class="">
            <table class="table table--dark">

                <thead class="table-thead ">

                    <tr class="table-tr table-tr--sort ">
                        <th width="10%" class="table-item table-item--borderless ">
                            Estado
                        </th>
                        <th width="30%" class="table-item table-item--borderless">
                            Información
                        </th>
                        <th width="20%" class="table-item table-item--borderless">
                            Fecha
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div  class="panel-log">
            <table class="table table--dark">
                <tbody class="table-tbody table-tbody--stripped">
                    <tr class="table-tr">
                        <td width="10%" class="table-item">
                            Introduzca los datos de su tienda
                        </td>
                        <td width="30%" class="table-item">
                            Introduzca los datos de su tienda para continuar
                        </td>
                        <td width="20%" class="table-item">
                            2015-01-15 12:52:00
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td width="10%" class="table-item">
                            Comprobando Requisitos
                        </td>
                        <td width="30%" class="table-item">
                            Estamos comprobando los datos enviados y los requisitos de su servidor
                        </td>
                        <td width="20%" class="table-item">
                            2015-01-15 12:53:33
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td width="10%" class="table-item">
                            Velando por su felicidad
                        </td>
                        <td width="30%" class="table-item">
                            Estamos comprobando que todo a su alrededor sea como usted desea
                        </td>
                        <td width="20%" class="table-item">
                            2015-01-15 12:54:12
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td width="10%" class="table-item">
                            Velando por su felicidad
                        </td>
                        <td width="30%" class="table-item">
                            Estamos comprobando que todo a su alrededor sea como usted desea
                        </td>
                        <td width="20%" class="table-item">
                            2015-01-15 12:54:12
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td width="10%" class="table-item">
                            Velando por su felicidad
                        </td>
                        <td width="30%" class="table-item">
                            Estamos comprobando que todo a su alrededor sea como usted desea
                        </td>
                        <td width="20%" class="table-item">
                            2015-01-15 12:54:12
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ol class="steps steps--arrow u-pdl u-pdb u-pdt" >
            <li class="steps-item steps-item--selected" data-js-steps="step1">
                <span class="steps-number">
                </span>
                Título explicativo del paso 1
            </li>
            <li class="steps-item" data-js-steps="step2">
                <span class="steps-number">
                </span>
                Título explicativo del paso 2
            </li>
            <li class="steps-item" data-js-steps="step3">
                <span class="steps-number">
                </span>
                Título explicativo del paso 3
            </li>
        </ol>


        <section class="">
            <form action="" method="POST" data-js-shop-data="" enctype="multipart/form-data" class="form">

                <div class="modularGrid">
                    <div style="" data-js-customer-data-panel="enable" customer-data-panel-id="0" class="modularGrid-module">

                        <div class="modularGrid">
                            <fieldset class="form-fieldset form-fieldset--borderless">
                                <h3 class="form-fieldset-title u-pdl u-pdt">
                                    Datos de su Tienda
                                </h3>
                                <div class="modularGrid-module u-md-100">
                                    <div class="modularGrid">

                                        <div class="modularGrid-module u-md-30">

                                            <div class="modularGrid u-pdl u-pdr">
                                                <div class="modularGrid-module u-md-100 u-pd-left">
                                                    <label class="form-label" for="name">
                                                        <strong>Nombre tienda</strong>
                                                        <span class="form-info" data-js-tooltip="tooltip_shop_name">
                                                            <i class="icon icon-sort fa fa-info-circle">
                                                            </i>
                                                        </span>
                                                    </label>
                                                    <div class="u-pdl--half">
                                                        <input type="tex" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" maxlength="32" data-js-name="" class="form-input" name="name" id="name">
                                                    </div>
                                                </div>
                                                <div class="modularGrid-module u-md-100 u-pd-left u-pdt--half u-pdr u-mg-bottom">
                                                    <label class="form-label" for="name">
                                                        <strong>Logotipo de la tienda</strong>
                                                        <span class="form-info" data-js-tooltip="tooltip_shop_name">
                                                            <i class="icon icon-sort fa fa-info-circle">
                                                            </i>
                                                        </span>
                                                    </label>
                                                    <figure class="imgUser u-pdl--half">
                                                        <div class="imgUser-thumbnail">
                                                            <img class="imgUser-img" src="../../img/default_logo.jpg" alt="">
                                                        </div>
                                                        <figcaption class="imgUser-caption imgUser-caption--fixed u-tac">
                                                            Ponga aquí su logo
                                                        </figcaption>
                                                    </figure>
                                                    <div class="u-pdl--half">
                                                        <button data-js-logo="logo" class="button">
                                                            <svg class="icon icon--inline icon--xs" role="img">
                                                                <use xlink:href="../../img/icons/svg-defs.svg#icon-pencil" xmlns:xlink="http://www.w3.org/1999/xlink"/>
                                                            </svg>
                                                            Subir logo
                                                        </button>
                                                        <span class="form-info" data-js-tooltip="tooltip_shop_logo">
                                                            <i class="icon icon-sort fa fa-info-circle">
                                                            </i>
                                                        </span>
                                                        <input type="file" style="display: none" data-js-logo-input="logo-input" id="logo" name="logo">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modularGrid-module u-md-30">

                                            <div class="modularGrid u-pdl u-pdr">
                                                <div class="modularGrid-module u-md-100 u-pd-left">
                                                    <label class="form-label" for="vat_country">
                                                        <strong>Datos de facturación</strong>
                                                        <span class="form-info" data-js-tooltip="tooltip_shop_vat">
                                                            <i class="icon icon-sort fa fa-info-circle">
                                                            </i>
                                                        </span>
                                                    </label>
                                                    <div class="u-pdl--half">
                                                        <article data-js-id_row="11132" class="u-brd">
                                                            <div class="adressCard-title">
                                                                <h1 class="adressCard-titleName">San Pascual, 63</h1>
                                                            </div>

                                                            <div class="adressCard-content">
                                                                <div class="modularGrid">
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Tipo dirección:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        Particular
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>NIF / CIF:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        ES24379919B
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Razón social:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        Salvador Esteve Gómez
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Nombre:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        Salvador Esteve Gómez
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Dirección:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        San Pascual, 63
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Código postal:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        46960
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>País:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        España
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Provincia:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        VALENCIA / VALÉNCIA
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Localidad:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        Valencia
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-45">
                                                                        <strong>Teléfono:</strong>
                                                                    </div>
                                                                    <div class="modularGrid-module u-md-55">
                                                                        +34692041818
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                                <div class="modularGrid-module u-md-100 u-pd-left u-pdt">
                                                    <label class="form-label" for="currency_country">
                                                        <strong>Moneda por defecto de su tienda</strong>
                                                        <span class="form-info" data-js-tooltip="tooltip_shop_currency">
                                                            <i class="icon icon-sort fa fa-info-circle">
                                                            </i>
                                                        </span>
                                                        {{!-- <p class="u-pdt--half  u-pdl--half u-vm">
                                                            Euro - €
                                                        </p>
                                                        <p class="u-pdt--half u-pdl--half u-vm ">
                                                            <button class="button" data-js-logo="logo">

                                                                Añadir otra moneda
                                                            </button>
                                                        </p> --}}
                                                    </label>
                                                    {{> selectCurrencyCountry}}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modularGrid-module u-md-40 u-pdl u-pdr">
                                            <label class="form-label" for="currency_country">
                                                <strong>Idioma seleccionado:</strong>

                                                <span class="form-info" data-js-tooltip="tooltip_shop_currency">
                                                    <i class="icon icon-sort fa fa-info-circle">
                                                    </i>
                                                </span>
                                            </label>
                                            {{>sectionLangBusiness}}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-fieldset form-fieldset--sequential u-brt">
                                <h3 class="form-fieldset-title">
                                    Datos de su servidor o hosting
                                </h3>
                                <div class="modularGrid-module">
                                    <label class="form-label">
                                        Los siguientes datos se los deben proporcionar al contratar un servidor o hosting
                                </label>


                            </div>
                            <div class="modularGrid-module u-md-30 u-pd--half">
                                <label class="form-label" for="domain">
                                    Dominio
                                    <em class="form-label--optional">
                                        Ejemplo: misitio.com
                                    </em>
                                    <span class="form-info" data-js-tooltip="tooltip_shop_domain">
                                        <i class="icon icon-sort fa fa-info-circle">
                                        </i>
                                    </span>
                                </label>
                                <input type="text" data-js-validate="{&quot;empty&quot;:&quot;required&quot;}" value="" maxlength="32" data-js-domain="" class="form-input" name="domain" id="domain">
                                <input type="hidden" value="1" data-js-id_shop="" class="form-input" name="id_shop" id="id_shop">
                            </div>
                            <div class="modularGrid ">
                                <div class="modularGrid-module">
                                    <label class="">
                                        Si conoce los siguientes datos, rellenelos:
                                    </label>
                                </div>
                                <div class="u-pd--half">
                                    <div class="modularGrid-module ">
                                        <label class="form-label">
                                            <strong>
                                                SSH
                                            </strong>
                                        </label>
                                    </div>
                                    <div class="modularGrid-module u-md-3rd u-pdr--half">
                                        <label class="form-label" for="ssh_host">
                                            Host
                                        </label>
                                        <input type="text" data-js-validate="{}" maxlength="50" value="" data-js-ssh_host="" class="form-input" name="ssh_host" id="ssh_host">
                                    </div>
                                    <div class="modularGrid-module u-md-3rd u-pdr--half">
                                        <label class="form-label" for="ssh_user">
                                            Usuario
                                        </label>
                                        <input type="tex" data-js-validate="{}" maxlength="50" data-js-ssh_user="" class="form-input" name="ssh_user" id="ssh_user">
                                    </div>
                                    <div class="modularGrid-module u-md-3rd u-pdr--half">
                                        <label class="form-label" for="ssh_password">
                                            Contraseña
                                        </label>
                                        <input type="password" data-js-validate="{}" maxlength="50" data-js-ssh_password="" class="form-input" name="ssh_password" id="ssh_password">
                                    </div>
                                </div>
                                <div class="u-pd--half">
                                    <div class="modularGrid-module u-pdt--half">
                                        <label class="form-label">
                                            <strong>
                                                Panel de control de su servidor o hosting
                                            </strong>
                                        </label>
                                    </div>
                                    <div class="modularGrid-module u-md-3rd u-pdr--half">
                                        <label class="form-label" for="plesk_host">
                                            Url
                                        </label>
                                        <input type="text" data-js-validate="{}" maxlength="50" value="" data-js-plesk_host="" class="form-input" name="plesk_host" id="ssh_host">
                                    </div>
                                    <div class="modularGrid-module u-md-3rd u-pdr--half">
                                        <label class="form-label" for="plesk_user">
                                            Usuario
                                        </label>
                                        <input type="tex" data-js-validate="{}" maxlength="50" data-js-plesk_user="" class="form-input" name="plesk_user" id="ssh_user">
                                    </div>
                                    <div class="modularGrid-module u-md-3rd u-pdr--half">
                                        <label class="form-label" for="plesk_password">
                                            Contraseña
                                        </label>
                                        <input type="password" data-js-validate="{}" maxlength="50" data-js-plesk_password="" class="form-input" name="plesk_password" id="ssh_password">
                                    </div>
                                </div>
                            </div>

                            <div class="modularGrid-module u-pd--half">
                                <label class="form-label">
                                    <table class="table table--comparative u-pd u-mgt " data-js-accordion="accordion" data-js-accordion_selected_class="table-tr--selected">
                                        <tbody class="table-tbody table-tbody--accordionButton">
                                            <tr data-js-accordion="link" class="table-tr">
                                                <td class="table-item table-item--rowtitle"><svg data-js-accordion="chevron" class="icon  icon--inline icon--xs u-mgr--half" role="img"><use xlink:href="../../img/icons/svg-defs.svg#icon-chevronDown"/></svg>
                                                    Pulse aquí si no conoce los datos anteriores para reenviarnos los emails que ha recibido de su proveedor de hosting
                                                </td>
                                            </tr>
                                            <tr class="table-tr table-tr--content">
                                                <td class="table-item">
                                                    <section class="table-accordionContent" data-js-accordion="panel">
                                                        <div class="modularGrid">

                                                            <div class="modularGrid-module modularGrid-module--legible">
                                                                <textarea cols="100" rows="10" data-js-extratext="extratext" id="mce_0"  aria-hidden="true">
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </label>
                                <div role="application" tabindex="-1" hidefocus="1" class="mce-tinymce mce-container mce-panel" id="mce_15" style="visibility: hidden; border-width: 1px;">
                                    <div class="mce-container-body mce-stack-layout" id="mce_15-body">
                                        <div role="menubar" class="mce-container mce-menubar mce-toolbar mce-first mce-stack-layout-item" id="mce_16" style="border-width: 0px 0px 1px;">
                                            <div class="mce-container-body mce-flow-layout" id="mce_16-body">
                                                <div aria-labelledby="mce_17" tabindex="-1" class="mce-widget mce-btn mce-menubtn mce-first mce-flow-layout-item" id="mce_17" role="menuitem" aria-haspopup="true">
                                                    <button tabindex="-1" type="button" role="presentation" id="mce_17-open">
                                                        <span>
                                                            File
                                                        </span>
                                                        <i class="mce-caret">
                                                        </i>
                                                    </button>
                                                </div>
                                                <div aria-labelledby="mce_18" tabindex="-1" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item" id="mce_18" role="menuitem" aria-haspopup="true">
                                                    <button tabindex="-1" type="button" role="presentation" id="mce_18-open">
                                                        <span>
                                                            Edit
                                                        </span>
                                                        <i class="mce-caret">
                                                        </i>
                                                    </button>
                                                </div>
                                                <div aria-labelledby="mce_19" tabindex="-1" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item" id="mce_19" role="menuitem" aria-haspopup="true">
                                                    <button tabindex="-1" type="button" role="presentation" id="mce_19-open">
                                                        <span>
                                                            View
                                                        </span>
                                                        <i class="mce-caret">
                                                        </i>
                                                    </button>
                                                </div>
                                                <div aria-labelledby="mce_20" tabindex="-1" class="mce-widget mce-btn mce-menubtn mce-last mce-flow-layout-item" id="mce_20" role="menuitem" aria-haspopup="true">
                                                    <button tabindex="-1" type="button" role="presentation" id="mce_20-open">
                                                        <span>
                                                            Format
                                                        </span>

                                                        <i class="mce-caret">
                                                        </i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="group" tabindex="-1" hidefocus="1" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item" id="mce_21">
                                            <div class="mce-container-body mce-stack-layout" id="mce_21-body">
                                                <div role="toolbar" class="mce-container mce-toolbar mce-first mce-last mce-stack-layout-item" id="mce_22">
                                                    <div class="mce-container-body mce-flow-layout" id="mce_22-body">
                                                        <div class="mce-container mce-first mce-flow-layout-item mce-btn-group" id="mce_23" role="group">
                                                            <div id="mce_23-body">
                                                                <div aria-labelledby="mce_2" tabindex="-1" class="mce-widget mce-btn mce-first mce-disabled" id="mce_2" role="button" aria-label="Undo" aria-disabled="true">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-undo">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_3" tabindex="-1" class="mce-widget mce-btn mce-last mce-disabled" id="mce_3" role="button" aria-label="Redo" aria-disabled="true">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-redo">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group" id="mce_24" role="group">
                                                            <div id="mce_24-body">
                                                                <div aria-labelledby="mce_4" tabindex="-1" class="mce-widget mce-btn mce-menubtn mce-first mce-last" id="mce_4" role="button" aria-haspopup="true">
                                                                    <button tabindex="-1" type="button" role="presentation" id="mce_4-open">
                                                                        <span>
                                                                            Formats
                                                                        </span>

                                                                        <i class="mce-caret">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group" id="mce_25" role="group">
                                                            <div id="mce_25-body">
                                                                <div aria-labelledby="mce_5" tabindex="-1" class="mce-widget mce-btn mce-first" id="mce_5" role="button" aria-label="Bold">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-bold">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_6" tabindex="-1" class="mce-widget mce-btn mce-last" id="mce_6" role="button" aria-label="Italic">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-italic">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group" id="mce_26" role="group">
                                                            <div id="mce_26-body">
                                                                <div aria-labelledby="mce_7" tabindex="-1" class="mce-widget mce-btn mce-first" id="mce_7" role="button" aria-label="Align left">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-alignleft">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_8" tabindex="-1" class="mce-widget mce-btn" id="mce_8" role="button" aria-label="Align center">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-aligncenter">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_9" tabindex="-1" class="mce-widget mce-btn" id="mce_9" role="button" aria-label="Align right">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-alignright">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_10" tabindex="-1" class="mce-widget mce-btn mce-last" id="mce_10" role="button" aria-label="Justify">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-alignjustify">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group" id="mce_27" role="group">
                                                            <div id="mce_27-body">
                                                                <div aria-labelledby="mce_11" tabindex="-1" class="mce-widget mce-btn mce-first" id="mce_11" role="button" aria-label="Bullet list">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-bullist">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_12" tabindex="-1" class="mce-widget mce-btn" id="mce_12" role="button" aria-label="Numbered list">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-numlist">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_13" tabindex="-1" class="mce-widget mce-btn" id="mce_13" role="button" aria-label="Decrease indent">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-outdent">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div aria-labelledby="mce_14" tabindex="-1" class="mce-widget mce-btn mce-last" id="mce_14" role="button" aria-label="Increase indent">
                                                                    <button tabindex="-1" type="button" role="presentation">
                                                                        <i class="mce-ico mce-i-indent">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-last mce-flow-layout-item mce-btn-group" id="mce_28" role="group">
                                                            <div id="mce_28-body">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="group" tabindex="-1" hidefocus="1" class="mce-edit-area mce-container mce-panel mce-stack-layout-item" id="mce_29" style="border-width: 1px 0px 0px;">
                                            <iframe frameborder="0" id="mce_0_ifr" src="javascript:&quot;&quot;" allowtransparency="true" title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help" style="width: 100%; height: 189px; display: block;">
                                            </iframe>
                                        </div>
                                        <div role="group" tabindex="-1" hidefocus="1" class="mce-statusbar mce-container mce-panel mce-last mce-stack-layout-item" id="mce_30" style="border-width: 1px 0px 0px;">
                                            <div class="mce-container-body mce-flow-layout" id="mce_30-body">
                                                <div class="mce-path mce-first mce-flow-layout-item" id="mce_31">
                                                    <div aria-level="0" id="mce_31-0" tabindex="-1" data-index="0" class="mce-path-item mce-last" role="button">
                                                        p
                                                    </div>
                                                </div>
                                                <div class="mce-last mce-flow-layout-item mce-resizehandle" id="mce_32">
                                                    <i class="mce-ico mce-i-resize">
                                                    </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <textarea cols="100" rows="10" data-js-extratext="extratext" id="mce_0" style="display: none;" aria-hidden="true">
                                </textarea>
                            </div>
                            <div class="modularGrid-module u-md-25 u-pdl">
                                <button data-js-validate-form="" name="save-shop-data" class="button button--primary button--full">
                                    Enviar datos
                                </button>
                            </div>
                            <div class="modularGrid-module u-md-30">
                                <button customer-data-panel-back="back" class="form-action form-action--inline u-pdl">
                                    <svg class="icon icon--inline icon--xs" role="img">
                                        <use xlink:href="../../img/icons/svg-defs.svg#icon-chevronLeft" xmlns:xlink="http://www.w3.org/1999/xlink"/>
                                    </svg>
                                    Descartar
                                </button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
</div>
