{{!-- <table class="table table--interactive panelHeader-fixedTableHeader">

    <colgroup>
    <col style="width:1rem;">
    <col style="width:3rem; ">
    <col style="width:1rem;">
    <col style="width:1rem; ">
</colgroup>
 --}}

    <thead class="table-thead ">
        <tr class="table--tr table-tr--sort">
            <th class="table-th table-item" >Nº Pedido
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " >Plantilla
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item" >Estado
                {{>orderingIcon}}
            </th>
            <th class="table-th table-item " >Fecha estado
                {{>orderingIcon}}
            </th>
        </tr>

        </thead>
 {{!--    </table> --}}