{{>tableLongShopsHeader}}
<table class="table table--interactive">
    <tbody class="table-tbody table-tbody--stripped">
        {{>tableRowShop01}}
        {{>tableRowShop02}}
        {{>tableRowShop01}}
        {{>tableRowShop02}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
        {{>tableRowShop01}}
    </tbody>
</table>